{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://rest.ably.io"
    }
  ],
  "info": {
    "contact": {
      "email": "support@ably.io",
      "name": "Ably Support",
      "url": "https://www.ably.io/contact",
      "x-twitter": "ablyrealtime"
    },
    "description": "The [REST API specification](https://www.ably.io/documentation/rest-api) for Ably.",
    "title": "Platform API",
    "version": "1.1.0",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://twitter.com/ablyrealtime/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/ably/open-specs/main/definitions/platform-v1.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "ably.io",
    "x-serviceName": "platform"
  },
  "security": [
    {
      "basicAuth": []
    },
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/products/{id}": {
      "get": {
        "description": "Enumerate all active channels of the application",
        "operationId": "getmetadataofallchannels-v2",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "integer"
            }
          },
          {
            "description": "Optionally limits the query to only those channels whose name starts with the given prefix",
            "in": "query",
            "name": "prefix",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "optionally specifies whether to return just channel names (by=id) or ChannelDetails (by=value)",
            "in": "query",
            "name": "by",
            "schema": {
              "enum": [
                "value",
                "id"
              ],
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "2XX": {
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "items": {
                        "properties": {
                          "channelId": {
                            "description": "The required name of the channel including any qualifier, if any.",
                            "type": "string"
                          },
                          "isGlobalMaster": {
                            "description": "In events relating to the activity of a channel in a specific region, this optionally identifies whether or not that region is responsible for global coordination of the channel.",
                            "type": "boolean"
                          },
                          "region": {
                            "description": "In events relating to the activity of a channel in a specific region, this optionally identifies the region.",
                            "type": "string"
                          },
                          "status": {
                            "description": "A ChannelStatus instance.",
                            "properties": {
                              "isActive": {
                                "description": "A required boolean value indicating whether the channel that is the subject of the event is active. For events indicating regional activity of a channel this indicates activity in that region, not global activity.",
                                "type": "boolean"
                              },
                              "occupancy": {
                                "description": "An Occupancy instance indicating the occupancy of a channel. For events indicating regional activity of a channel this indicates activity in that region, not global activity.",
                                "properties": {
                                  "presenceConnections": {
                                    "description": "The number of connections that are authorised to enter members into the presence channel.",
                                    "type": "integer"
                                  },
                                  "presenceMembers": {
                                    "description": "The number of members currently entered into the presence channel.",
                                    "type": "integer"
                                  },
                                  "presenceSubscribers": {
                                    "description": "The number of connections that are authorised to subscribe to presence messages.",
                                    "type": "integer"
                                  },
                                  "publishers": {
                                    "description": "The number of connections attached to the channel that are authorised to publish.",
                                    "type": "integer"
                                  },
                                  "subscribers": {
                                    "description": "The number of connections attached that are authorised to subscribe to messages.",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "required": [
                              "isActive"
                            ],
                            "type": "object"
                          }
                        },
                        "required": [
                          "channelId"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  ],
                  "_polymorphic_marker": {
                    "oneOf": true
                  }
                }
              },
              "application/x-msgpack": {
                "schema": {
                  "oneOf": [
                    {
                      "items": {
                        "properties": {
                          "channelId": {
                            "description": "The required name of the channel including any qualifier, if any.",
                            "type": "string"
                          },
                          "isGlobalMaster": {
                            "description": "In events relating to the activity of a channel in a specific region, this optionally identifies whether or not that region is responsible for global coordination of the channel.",
                            "type": "boolean"
                          },
                          "region": {
                            "description": "In events relating to the activity of a channel in a specific region, this optionally identifies the region.",
                            "type": "string"
                          },
                          "status": {
                            "description": "A ChannelStatus instance.",
                            "properties": {
                              "isActive": {
                                "description": "A required boolean value indicating whether the channel that is the subject of the event is active. For events indicating regional activity of a channel this indicates activity in that region, not global activity.",
                                "type": "boolean"
                              },
                              "occupancy": {
                                "description": "An Occupancy instance indicating the occupancy of a channel. For events indicating regional activity of a channel this indicates activity in that region, not global activity.",
                                "properties": {
                                  "presenceConnections": {
                                    "description": "The number of connections that are authorised to enter members into the presence channel.",
                                    "type": "integer"
                                  },
                                  "presenceMembers": {
                                    "description": "The number of members currently entered into the presence channel.",
                                    "type": "integer"
                                  },
                                  "presenceSubscribers": {
                                    "description": "The number of connections that are authorised to subscribe to presence messages.",
                                    "type": "integer"
                                  },
                                  "publishers": {
                                    "description": "The number of connections attached to the channel that are authorised to publish.",
                                    "type": "integer"
                                  },
                                  "subscribers": {
                                    "description": "The number of connections attached that are authorised to subscribe to messages.",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "required": [
                              "isActive"
                            ],
                            "type": "object"
                          }
                        },
                        "required": [
                          "channelId"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  ],
                  "_polymorphic_marker": {
                    "oneOf": true
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK",
            "headers": {
              "link": {
                "description": "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will potentially include a link with relation type `next`, `first`, and `current`, where appropiate.",
                "required": true,
                "schema": {
                  "pattern": "(<(.*)?>; rel=\\\"(first|current|last)?\\\",)*(<(.*)?>; rel=\\\"(first|current|last)?\\\")+",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "application/x-msgpack": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error",
            "headers": {
              "x-ably-errorcode": {
                "description": "The error code.",
                "schema": {
                  "type": "integer"
                }
              },
              "x-ably-errormessage": {
                "description": "The error message.",
                "schema": {
                  "type": "string"
                }
              },
              "x-ably-serverid": {
                "description": "The ID for the server communicated with.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Enumerate all active channels of the application",
        "tags": [
          "Status"
        ]
      },
      "parameters": [
        {
          "description": "The version of the API you wish to use.",
          "in": "header",
          "name": "X-Ably-Version",
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "The response format you would like",
          "in": "query",
          "name": "format",
          "schema": {
            "enum": [
              "json",
              "jsonp",
              "msgpack",
              "html"
            ],
            "type": "string"
          }
        }
      ]
    },
    "/channels/orderid": {
      "get": {
        "description": "Get metadata of a channel",
        "operationId": "getmetadataofchannel-v2",
        "parameters": [
          {
            "description": "The [Channel's ID](https://www.ably.io/documentation/rest/channels).",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channelId": {
                      "description": "The required name of the channel including any qualifier, if any.",
                      "type": "string"
                    },
                    "isGlobalMaster": {
                      "description": "In events relating to the activity of a channel in a specific region, this optionally identifies whether or not that region is responsible for global coordination of the channel.",
                      "type": "boolean"
                    },
                    "region": {
                      "description": "In events relating to the activity of a channel in a specific region, this optionally identifies the region.",
                      "type": "string"
                    },
                    "status": {
                      "description": "A ChannelStatus instance.",
                      "properties": {
                        "isActive": {
                          "description": "A required boolean value indicating whether the channel that is the subject of the event is active. For events indicating regional activity of a channel this indicates activity in that region, not global activity.",
                          "type": "boolean"
                        },
                        "occupancy": {
                          "description": "An Occupancy instance indicating the occupancy of a channel. For events indicating regional activity of a channel this indicates activity in that region, not global activity.",
                          "properties": {
                            "presenceConnections": {
                              "description": "The number of connections that are authorised to enter members into the presence channel.",
                              "type": "integer"
                            },
                            "presenceMembers": {
                              "description": "The number of members currently entered into the presence channel.",
                              "type": "integer"
                            },
                            "presenceSubscribers": {
                              "description": "The number of connections that are authorised to subscribe to presence messages.",
                              "type": "integer"
                            },
                            "publishers": {
                              "description": "The number of connections attached to the channel that are authorised to publish.",
                              "type": "integer"
                            },
                            "subscribers": {
                              "description": "The number of connections attached that are authorised to subscribe to messages.",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "isActive"
                      ],
                      "type": "object"
                    }
                  },
                  "required": [
                    "channelId"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {
              "x-ably-serverid": {
                "description": "The ID for the server communicated with.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "application/x-msgpack": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error",
            "headers": {
              "x-ably-errorcode": {
                "description": "The error code.",
                "schema": {
                  "type": "integer"
                }
              },
              "x-ably-errormessage": {
                "description": "The error message.",
                "schema": {
                  "type": "string"
                }
              },
              "x-ably-serverid": {
                "description": "The ID for the server communicated with.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Get metadata of a channel",
        "tags": [
          "Status"
        ]
      },
      "parameters": [
        {
          "description": "The version of the API you wish to use.",
          "in": "header",
          "name": "X-Ably-Version",
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "The response format you would like",
          "in": "query",
          "name": "format",
          "schema": {
            "enum": [
              "json",
              "jsonp",
              "msgpack",
              "html"
            ],
            "type": "string"
          }
        }
      ]
    },
    "/channels/orderid/messages": {
      "get": {
        "description": "Get message history for a channel",
        "operationId": "getmessagesbychannel-v2",
        "parameters": [
          {
            "description": "The [Channel's ID](https://www.ably.io/documentation/rest/channels).",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": "100",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "default": "now",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "default": "backwards",
              "enum": [
                "forwards",
                "backwards"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "2XX": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "description": "Message object.",
                    "properties": {
                      "clientId": {
                        "description": "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients) of the publisher of this message.",
                        "type": "string"
                      },
                      "connectionId": {
                        "description": "The connection ID of the publisher of this message.",
                        "type": "string"
                      },
                      "data": {
                        "description": "The string encoded payload, with the encoding specified below.",
                        "type": "string"
                      },
                      "encoding": {
                        "description": "This will typically be empty as all messages received from Ably are automatically decoded client-side using this value. However, if the message encoding cannot be processed, this attribute will contain the remaining transformations not applied to the data payload.",
                        "type": "string"
                      },
                      "extras": {
                        "description": "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example) extra.",
                        "properties": {
                          "push": {
                            "properties": {
                              "apns": {
                                "description": "Extends and overrides generic values when delivering via APNs. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "data": {
                                "description": "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example).",
                                "type": "string"
                              },
                              "fcm": {
                                "description": "Extends and overrides generic values when delivering via GCM/FCM. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "web": {
                                "description": "Extends and overrides generic values when delivering via web. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "id": {
                        "description": "A Unique ID that can be specified by the publisher for [idempotent publishing](https://www.ably.io/documentation/rest/messages#idempotent).",
                        "readOnly": true,
                        "type": "string"
                      },
                      "name": {
                        "description": "The event name, if provided.",
                        "type": "string"
                      },
                      "timestamp": {
                        "description": "Timestamp when the message was received by the Ably, as milliseconds since the epoch.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "application/x-msgpack": {
                "schema": {
                  "items": {
                    "description": "Message object.",
                    "properties": {
                      "clientId": {
                        "description": "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients) of the publisher of this message.",
                        "type": "string"
                      },
                      "connectionId": {
                        "description": "The connection ID of the publisher of this message.",
                        "type": "string"
                      },
                      "data": {
                        "description": "The string encoded payload, with the encoding specified below.",
                        "type": "string"
                      },
                      "encoding": {
                        "description": "This will typically be empty as all messages received from Ably are automatically decoded client-side using this value. However, if the message encoding cannot be processed, this attribute will contain the remaining transformations not applied to the data payload.",
                        "type": "string"
                      },
                      "extras": {
                        "description": "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example) extra.",
                        "properties": {
                          "push": {
                            "properties": {
                              "apns": {
                                "description": "Extends and overrides generic values when delivering via APNs. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "data": {
                                "description": "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example).",
                                "type": "string"
                              },
                              "fcm": {
                                "description": "Extends and overrides generic values when delivering via GCM/FCM. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "web": {
                                "description": "Extends and overrides generic values when delivering via web. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "id": {
                        "description": "A Unique ID that can be specified by the publisher for [idempotent publishing](https://www.ably.io/documentation/rest/messages#idempotent).",
                        "readOnly": true,
                        "type": "string"
                      },
                      "name": {
                        "description": "The event name, if provided.",
                        "type": "string"
                      },
                      "timestamp": {
                        "description": "Timestamp when the message was received by the Ably, as milliseconds since the epoch.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK",
            "headers": {
              "link": {
                "description": "Links to related resources, in the format defined by [RFC 5988](https://tools.ietf.org/html/rfc5988#section-5). This will potentially include a link with relation type `next`, `first`, and `current`, where appropiate.",
                "required": true,
                "schema": {
                  "pattern": "(<(.*)?>; rel=\\\"(first|current|last)?\\\",)*(<(.*)?>; rel=\\\"(first|current|last)?\\\")+",
                  "type": "string"
                }
              },
              "x-ably-serverid": {
                "description": "The ID for the server communicated with.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "headers": {
              "x-ably-errorcode": {
                "description": "The error code.",
                "schema": {
                  "type": "integer"
                }
              },
              "x-ably-errormessage": {
                "description": "The error message.",
                "schema": {
                  "type": "string"
                }
              },
              "x-ably-serverid": {
                "description": "The ID for the server communicated with.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Get message history for a channel",
        "tags": [
          "History"
        ]
      },
      "parameters": [
        {
          "description": "The version of the API you wish to use.",
          "in": "header",
          "name": "X-Ably-Version",
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "The response format you would like",
          "in": "query",
          "name": "format",
          "schema": {
            "enum": [
              "json",
              "jsonp",
              "msgpack",
              "html"
            ],
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Publish a message to the specified channel",
        "operationId": "publishmessagestochannel",
        "parameters": [
          {
            "description": "The [Channel's ID](https://www.ably.io/documentation/rest/channels).",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Message object.",
                "properties": {
                  "clientId": {
                    "description": "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients) of the publisher of this message.",
                    "type": "string"
                  },
                  "connectionId": {
                    "description": "The connection ID of the publisher of this message.",
                    "type": "string"
                  },
                  "data": {
                    "description": "The string encoded payload, with the encoding specified below.",
                    "type": "string"
                  },
                  "encoding": {
                    "description": "This will typically be empty as all messages received from Ably are automatically decoded client-side using this value. However, if the message encoding cannot be processed, this attribute will contain the remaining transformations not applied to the data payload.",
                    "type": "string"
                  },
                  "extras": {
                    "description": "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example) extra.",
                    "properties": {
                      "push": {
                        "properties": {
                          "apns": {
                            "description": "Extends and overrides generic values when delivering via APNs. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "data": {
                            "description": "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example).",
                            "type": "string"
                          },
                          "fcm": {
                            "description": "Extends and overrides generic values when delivering via GCM/FCM. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "notification": {
                            "properties": {
                              "body": {
                                "description": "Text below title on the expanded notification.",
                                "type": "string"
                              },
                              "collapseKey": {
                                "description": "Platform-specific, used to group notifications together.",
                                "type": "string"
                              },
                              "icon": {
                                "description": "Platform-specific icon for the notification.",
                                "type": "string"
                              },
                              "sound": {
                                "description": "Platform-specific sound for the notification.",
                                "type": "string"
                              },
                              "title": {
                                "description": "Title to display at the notification.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "web": {
                            "description": "Extends and overrides generic values when delivering via web. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "id": {
                    "description": "A Unique ID that can be specified by the publisher for [idempotent publishing](https://www.ably.io/documentation/rest/messages#idempotent).",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "The event name, if provided.",
                    "type": "string"
                  },
                  "timestamp": {
                    "description": "Timestamp when the message was received by the Ably, as milliseconds since the epoch.",
                    "format": "int64",
                    "readOnly": true,
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "application/x-msgpack": {
              "schema": {
                "description": "Message object.",
                "properties": {
                  "clientId": {
                    "description": "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients) of the publisher of this message.",
                    "type": "string"
                  },
                  "connectionId": {
                    "description": "The connection ID of the publisher of this message.",
                    "type": "string"
                  },
                  "data": {
                    "description": "The string encoded payload, with the encoding specified below.",
                    "type": "string"
                  },
                  "encoding": {
                    "description": "This will typically be empty as all messages received from Ably are automatically decoded client-side using this value. However, if the message encoding cannot be processed, this attribute will contain the remaining transformations not applied to the data payload.",
                    "type": "string"
                  },
                  "extras": {
                    "description": "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example) extra.",
                    "properties": {
                      "push": {
                        "properties": {
                          "apns": {
                            "description": "Extends and overrides generic values when delivering via APNs. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "data": {
                            "description": "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example).",
                            "type": "string"
                          },
                          "fcm": {
                            "description": "Extends and overrides generic values when delivering via GCM/FCM. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "notification": {
                            "properties": {
                              "body": {
                                "description": "Text below title on the expanded notification.",
                                "type": "string"
                              },
                              "collapseKey": {
                                "description": "Platform-specific, used to group notifications together.",
                                "type": "string"
                              },
                              "icon": {
                                "description": "Platform-specific icon for the notification.",
                                "type": "string"
                              },
                              "sound": {
                                "description": "Platform-specific sound for the notification.",
                                "type": "string"
                              },
                              "title": {
                                "description": "Title to display at the notification.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "web": {
                            "description": "Extends and overrides generic values when delivering via web. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "id": {
                    "description": "A Unique ID that can be specified by the publisher for [idempotent publishing](https://www.ably.io/documentation/rest/messages#idempotent).",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "The event name, if provided.",
                    "type": "string"
                  },
                  "timestamp": {
                    "description": "Timestamp when the message was received by the Ably, as milliseconds since the epoch.",
                    "format": "int64",
                    "readOnly": true,
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "description": "Message object.",
                "properties": {
                  "clientId": {
                    "description": "The [client ID](https://www.ably.io/documentation/core-features/authentication#identified-clients) of the publisher of this message.",
                    "type": "string"
                  },
                  "connectionId": {
                    "description": "The connection ID of the publisher of this message.",
                    "type": "string"
                  },
                  "data": {
                    "description": "The string encoded payload, with the encoding specified below.",
                    "type": "string"
                  },
                  "encoding": {
                    "description": "This will typically be empty as all messages received from Ably are automatically decoded client-side using this value. However, if the message encoding cannot be processed, this attribute will contain the remaining transformations not applied to the data payload.",
                    "type": "string"
                  },
                  "extras": {
                    "description": "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example) extra.",
                    "properties": {
                      "push": {
                        "properties": {
                          "apns": {
                            "description": "Extends and overrides generic values when delivering via APNs. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "data": {
                            "description": "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example).",
                            "type": "string"
                          },
                          "fcm": {
                            "description": "Extends and overrides generic values when delivering via GCM/FCM. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "notification": {
                            "properties": {
                              "body": {
                                "description": "Text below title on the expanded notification.",
                                "type": "string"
                              },
                              "collapseKey": {
                                "description": "Platform-specific, used to group notifications together.",
                                "type": "string"
                              },
                              "icon": {
                                "description": "Platform-specific icon for the notification.",
                                "type": "string"
                              },
                              "sound": {
                                "description": "Platform-specific sound for the notification.",
                                "type": "string"
                              },
                              "title": {
                                "description": "Title to display at the notification.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "web": {
                            "description": "Extends and overrides generic values when delivering via web. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                            "properties": {
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "id": {
                    "description": "A Unique ID that can be specified by the publisher for [idempotent publishing](https://www.ably.io/documentation/rest/messages#idempotent).",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "The event name, if provided.",
                    "type": "string"
                  },
                  "timestamp": {
                    "description": "Timestamp when the message was received by the Ably, as milliseconds since the epoch.",
                    "format": "int64",
                    "readOnly": true,
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "2XX": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "channel": {
                      "type": "string"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/x-msgpack": {
                "schema": {
                  "properties": {
                    "channel": {
                      "type": "string"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "properties": {
                    "channel": {
                      "type": "string"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {
              "x-ably-serverid": {
                "description": "The ID for the server communicated with.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "application/x-msgpack": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "description": "Returned error from failed REST.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "type": "integer"
                    },
                    "href": {
                      "description": "Link to help with error.",
                      "type": "string"
                    },
                    "message": {
                      "description": "Message explaining the error's cause.",
                      "type": "string"
                    },
                    "serverId": {
                      "description": "Server ID with which error was encountered.",
                      "type": "string"
                    },
                    "statusCode": {
                      "description": "Status error code.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error",
            "headers": {
              "x-ably-errorcode": {
                "description": "The error code.",
                "schema": {
                  "type": "integer"
                }
              },
              "x-ably-errormessage": {
                "description": "The error message.",
                "schema": {
                  "type": "string"
                }
              },
              "x-ably-serverid": {
                "description": "The ID for the server communicated with.",
                "required": true,
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Publish a message to a channel",
        "tags": [
          "Publishing"
        ]
      }
    },
    "/channels/id/presence": {
      "get": {
        "description": "Get presence on a channel",
        "operationId": "getpresenceofchannel-v2",
        "parameters": [
          {
            "description": "The [Channel's ID](https://www.ably.io/documentation/rest/channels).",
            "in": "path",
            "name": "channel_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "clientId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "connectionId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "action": {
                        "description": "The event signified by a PresenceMessage.",
                        "enum": [
                          "ABSENT",
                          "PRESENT",
                          "ENTER",
                          "LEAVE",
                          "UPDATE"
                        ],
                        "readOnly": true,
                        "type": "string"
                      },
                      "clientId": {
                        "description": "The client ID of the publisher of this presence update.",
                        "type": "string"
                      },
                      "connectionId": {
                        "description": "The connection ID of the publisher of this presence update.",
                        "type": "string"
                      },
                      "data": {
                        "description": "The presence update payload, if provided.",
                        "type": "string"
                      },
                      "encoding": {
                        "description": "This will typically be empty as all presence updates received from Ably are automatically decoded client-side using this value. However, if the message encoding cannot be processed, this attribute will contain the remaining transformations not applied to the data payload.",
                        "type": "string"
                      },
                      "extras": {
                        "description": "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example) extra.",
                        "properties": {
                          "push": {
                            "properties": {
                              "apns": {
                                "description": "Extends and overrides generic values when delivering via APNs. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "data": {
                                "description": "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example).",
                                "type": "string"
                              },
                              "fcm": {
                                "description": "Extends and overrides generic values when delivering via GCM/FCM. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "notification": {
                                "properties": {
                                  "body": {
                                    "description": "Text below title on the expanded notification.",
                                    "type": "string"
                                  },
                                  "collapseKey": {
                                    "description": "Platform-specific, used to group notifications together.",
                                    "type": "string"
                                  },
                                  "icon": {
                                    "description": "Platform-specific icon for the notification.",
                                    "type": "string"
                                  },
                                  "sound": {
                                    "description": "Platform-specific sound for the notification.",
                                    "type": "string"
                                  },
                                  "title": {
                                    "description": "Title to display at the notification.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "web": {
                                "description": "Extends and overrides generic values when delivering via web. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "id": {
                        "description": "Unique ID assigned by Ably to this presence update.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "timestamp": {
                        "description": "Timestamp when the presence update was received by Ably, as milliseconds since the epoch.",
                        "format": "int64",
                        "readOnly": true,
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "application/x-msgpack": {
                "schema": {
                  "items": {
                    "properties": {
                      "action": {
                        "description": "The event signified by a PresenceMessage.",
                        "enum": [
                          "ABSENT",
                          "PRESENT",
                          "ENTER",
                          "LEAVE",
                          "UPDATE"
                        ],
                        "readOnly": true,
                        "type": "string"
                      },
                      "clientId": {
                        "description": "The client ID of the publisher of this presence update.",
                        "type": "string"
                      },
                      "connectionId": {
                        "description": "The connection ID of the publisher of this presence update.",
                        "type": "string"
                      },
                      "data": {
                        "description": "The presence update payload, if provided.",
                        "type": "string"
                      },
                      "encoding": {
                        "description": "This will typically be empty as all presence updates received from Ably are automatically decoded client-side using this value. However, if the message encoding cannot be processed, this attribute will contain the remaining transformations not applied to the data payload.",
                        "type": "string"
                      },
                      "extras": {
                        "description": "Extras object. Currently only allows for [push](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example) extra.",
                        "properties": {
                          "push": {
                            "properties": {
                              "apns": {
                                "description": "Extends and overrides generic values when delivering via APNs. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
                                      },
                                      "sound": {
                                        "description": "Platform-specific sound for the notification.",
                                        "type": "string"
                                      },
                                      "title": {
                                        "description": "Title to display at the notification.",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "data": {
                                "description": "Arbitrary [key-value string-to-string payload](https://www.ably.io/documentation/general/push/publish#channel-broadcast-example).",
                                "type": "string"
                              },
                              "fcm": {
                                "description": "Extends and overrides generic values when delivering via GCM/FCM. [See examples](https://www.ably.io/documentation/general/push/publish#payload-structure)",
                                "properties": {
                                  "notification": {
                                    "properties": {
                                      "body": {
                                        "description": "Text below title on the expanded notification.",
                                        "type": "string"
                                      },
                                      "collapseKey": {
                                        "description": "Platform-specific, used to group notifications together.",
                                        "type": "string"
                                      },
                                      "icon": {
                                        "description": "Platform-specific icon for the notification.",
                                        "type": "string"
[...]
