{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "ci.appveyor.com",
  "basePath": "/api",
  "info": {
    "contact": {
      "email": "team@appveyor.com",
      "name": "AppVeyor Team",
      "url": "https://www.appveyor.com/about/"
    },
    "description": "AppVeyor is a hosted continuous integration service which runs on Microsoft\nWindows.  The AppVeyor REST API provides a RESTful way to interact with the\nAppVeyor service.  This includes managing projects, builds, deployments,\nand the teams that build them.\n\nAdditional help and discussion of the AppVeyor REST API is available at\nhttp://help.appveyor.com/discussions\n\nThis Swagger definition is an **unofficial** description of the AppVeyor\nREST API maintained at https://github.com/kevinoid/appveyor-swagger\nPlease report any issues or suggestions for this Swagger definition at\nhttps://github.com/kevinoid/appveyor-swagger/issues/new\n\n#### API Conventions\n\nFields which are missing from update operations (`PUT` requests) are\ntypically reset to their default values.  So although most fields are not\ntechnically required, they should usually be specified in practice.\n",
    "license": {
      "name": "AppVeyor End User License Agreement (EULA)",
      "url": "https://www.appveyor.com/eula/"
    },
    "termsOfService": "https://www.appveyor.com/terms-of-service/",
    "title": "AppVeyor REST API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://www.appveyor.com/assets/img/appveyor-logo-256.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/kevinoid/appveyor-swagger/master/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "appveyor.com",
    "x-unofficialSpec": true
  },
  "externalDocs": {
    "description": "AppVeyor REST API Documentation",
    "url": "https://www.appveyor.com/docs/api/"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "apiToken": {
      "description": "API token can be acquired from https://ci.appveyor.com/api-keys\nThis value must be passed to the server in the `Authorization` header as `\"Bearer <token>\"`.  Since [bearer token authentication support is not explicitly supported in OpenAPI 2.0](https://github.com/OAI/OpenAPI-Specification/issues/583), client code will vary.  Clients created with [swagger-codegen](https://github.com/swagger-api/swagger-codegen) should set `apiKeyPrefix` to `\"Bearer\"` and set `apiKey` to the token.  Other clients may need to set `apiKey` to the string `\"Bearer <token>\"`.\nNote that this should be [fixed in OpenAPI 3.0](https://github.com/OAI/OpenAPI-Specification/pull/807)), whenever that becomes available and supported.\n#### User-Level API Keys\nTo use a user-level API key (prefixed with \"v2.\"), `basePath` must be changed to `/api/account/{accountName}` where `{accountName}` is the name of the account for which requests will be made.",
      "in": "header",
      "name": "Authorization",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "parameters": {
    "accountName": {
      "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
      "in": "path",
      "minLength": 1,
      "name": "accountName",
      "required": true,
      "type": "string"
    },
    "all": {
      "default": false,
      "description": "Include not only `successful`, but also jobs with `failed`, and\n`cancelled` status.",
      "in": "query",
      "name": "all",
      "type": "boolean"
    },
    "artifactFileName": {
      "description": "File name (or path) of a build artifact file.\nCorresponds to the `fileName` property of `ArtifactModel`.\nURL-encoding of slashes in parameter values is optional.",
      "in": "path",
      "minLength": 1,
      "name": "artifactFileName",
      "required": true,
      "type": "string"
    },
    "badgeRepoProvider": {
      "description": "Repository provider supported for badges",
      "enum": [
        "bitBucket",
        "gitHub"
      ],
      "in": "path",
      "name": "badgeRepoProvider",
      "required": true,
      "type": "string"
    },
    "branch": {
      "description": "Repository Branch",
      "in": "query",
      "minLength": 1,
      "name": "branch",
      "type": "string"
    },
    "buildBranch": {
      "description": "Build Branch",
      "in": "path",
      "name": "buildBranch",
      "required": true,
      "type": "string"
    },
    "buildVersion": {
      "description": "Build Version (`version` property of `Build`)",
      "in": "path",
      "name": "buildVersion",
      "required": true,
      "type": "string"
    },
    "deploymentEnvironmentId": {
      "description": "Deployment Environment ID (`deploymentEnvironmentId` property of `DeploymentEnvironment`)\n",
      "in": "path",
      "minimum": 0,
      "name": "deploymentEnvironmentId",
      "required": true,
      "type": "integer"
    },
    "deploymentId": {
      "description": "Deployment ID (`deploymentId` property of `Deployment`)",
      "in": "path",
      "minimum": 0,
      "name": "deploymentId",
      "required": true,
      "type": "integer"
    },
    "failingText": {
      "description": "Text to show in badge when build is failing.",
      "in": "query",
      "minLength": 1,
      "name": "failingText",
      "type": "string"
    },
    "job": {
      "description": "Name of the build job.",
      "in": "query",
      "name": "job",
      "type": "string"
    },
    "jobId": {
      "description": "Build ID (`jobId` property of `BuildJob`)",
      "in": "path",
      "name": "jobId",
      "required": true,
      "type": "string"
    },
    "passingText": {
      "description": "Text to show in badge when build is passing.",
      "in": "query",
      "minLength": 1,
      "name": "passingText",
      "type": "string"
    },
    "pendingText": {
      "description": "Text to show in badge when build is pending.",
      "in": "query",
      "minLength": 1,
      "name": "pendingText",
      "type": "string"
    },
    "pr": {
      "description": "Include PR builds in the search results?\n`true` - take artifact from PR builds only;\n`false` - do not look for artifact in PR builds;\ndefault/unspecified - look for artifact in both PR an non-PR builds.\n",
      "in": "query",
      "name": "pr",
      "type": "boolean"
    },
    "projectSlug": {
      "description": "Project Slug",
      "in": "path",
      "name": "projectSlug",
      "required": true,
      "type": "string"
    },
    "recordsNumber": {
      "description": "Number of results to include in the response. getProjectDeployments is documented to have a maximum of 20. It currently returns 500 Internal Server Error for recordsNumber <= 5. In the past it has returned 500 Internal Server Error for many different values which did not match the value used by the ci.appveyor.com web interface at the time.  As of 2018-09-08, the value used by the web interface is 10.",
      "in": "query",
      "minimum": 0,
      "name": "recordsNumber",
      "required": true,
      "type": "integer"
    },
    "repoAccountName": {
      "description": "Account name with repository provider",
      "in": "path",
      "minLength": 1,
      "name": "repoAccountName",
      "required": true,
      "type": "string"
    },
    "repoSlug": {
      "description": "Slug (URL component) of repository.",
      "in": "path",
      "minLength": 1,
      "name": "repoSlug",
      "required": true,
      "type": "string"
    },
    "retina": {
      "default": false,
      "description": "Return a larger image suitable for retina displays?  Exclusive with `svg`.",
      "in": "query",
      "name": "retina",
      "type": "boolean"
    },
    "roleId": {
      "description": "Role ID",
      "in": "path",
      "minimum": 0,
      "name": "roleId",
      "required": true,
      "type": "integer"
    },
    "startBuildId": {
      "description": "Maximum `buildId` to include in the results (exclusive).",
      "in": "query",
      "minimum": 0,
      "name": "startBuildId",
      "type": "integer"
    },
    "statusBadgeId": {
      "description": "ID of the status badge (`statusBadgeId` from `ProjectWithConfiguration`).",
      "in": "path",
      "minLength": 1,
      "name": "statusBadgeId",
      "required": true,
      "type": "string"
    },
    "svg": {
      "default": false,
      "description": "Return an SVG image instead of PNG?  Exclusive with `retina`.",
      "in": "query",
      "name": "svg",
      "type": "boolean"
    },
    "tag": {
      "description": "A git (or other VCS) tag",
      "in": "query",
      "minLength": 1,
      "name": "tag",
      "type": "string"
    },
    "userId": {
      "description": "User ID",
      "in": "path",
      "minimum": 0,
      "name": "userId",
      "required": true,
      "type": "integer"
    },
    "userInvitationId": {
      "description": "User Invitation ID",
      "in": "path",
      "minLength": 1,
      "name": "userInvitationId",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "Error": {
      "description": "Error",
      "schema": {
        "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
        "properties": {
          "message": {
            "type": "string"
          },
          "modelState": {
            "additionalProperties": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
            "type": "object"
          }
        },
        "required": [
          "message"
        ],
        "type": "object"
      }
    }
  },
  "tags": [
    {
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/team/"
      },
      "name": "Collaborator"
    },
    {
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/team/"
      },
      "name": "Role"
    },
    {
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/team/"
      },
      "name": "User"
    },
    {
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/projects-builds/"
      },
      "name": "Build"
    },
    {
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/projects-builds/"
      },
      "name": "Project"
    },
    {
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/environments-deployments/"
      },
      "name": "Deployment"
    },
    {
      "externalDocs": {
        "url": "https://www.appveyor.com/docs/api/environments-deployments/"
      },
      "name": "Environment"
    }
  ],
  "paths": {
    "/account/encrypt": {
      "post": {
        "operationId": "encryptvalue",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "plainValue": "encryptme"
              },
              "properties": {
                "plainValue": {
                  "default": "",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "text/plain": "wsnoY4v1v1Uofj0xf8E6FA=="
            },
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Encrypt a value for use in StoredValue.",
        "tags": [
          "Project"
        ]
      }
    },
    "/bldjobs/userid/artifacts": {
      "get": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/"
        },
        "operationId": "getbldartifacts-v2",
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": [
                {
                  "fileName": "README.md",
                  "name": "README.md",
                  "size": 3600,
                  "type": "File"
                },
                {
                  "fileName": "out/example.Release.x64.zip",
                  "name": "out\\example.zip",
                  "size": 15600,
                  "type": "Zip"
                }
              ]
            },
            "schema": {
              "items": {
                "properties": {
                  "created": {
                    "format": "date-time",
                    "type": "string"
                  },
                  "fileName": {
                    "type": "string"
                  },
                  "name": {
                    "title": "Deployment name",
                    "type": "string"
                  },
                  "size": {
                    "minimum": 0,
                    "type": "integer"
                  },
                  "type": {
                    "description": "Possible values from `Push-AppveyorArtifact` cmdlet `-Type` parameter.\n\nThe web UI only allows selection of `Auto`, `WebDeployPackage`, and\nunspecified (which it sends as the empty string but functions like\nomitting the property) for `updateProject`.\n\nAny string can be sent and will be saved/returned, but only these\nvalues have a function (as far as I am aware).",
                    "enum": [
                      "Auto",
                      "AzureCloudService",
                      "AzureCloudServiceConfig",
                      "ElasticBeanstalkPackage",
                      "File",
                      "NuGetPackage",
                      "OctopusPackage",
                      "SsdtPackage",
                      "WebDeployPackage",
                      "Zip"
                    ],
                    "type": "string"
                  },
                  "url": {
                    "description": "This property has not been observed in JSON responses, but is\npresent and nil in XML responses.\n",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "security": [],
        "summary": "Get build artifacts",
        "tags": [
          "Build"
        ]
      },
      "parameters": [
        {
          "description": "Build ID (`jobId` property of `BuildJob`)",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/bldjobs/paymentid/artifacts/sku": {
      "get": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/samples/download-artifacts-advanced-ps/"
        },
        "operationId": "getbldartifact-v2",
        "produces": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "security": [],
        "summary": "Download build artifact",
        "tags": [
          "Build"
        ]
      },
      "parameters": [
        {
          "description": "Build ID (`jobId` property of `BuildJob`)",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "string"
        },
        {
          "description": "File name (or path) of a build artifact file.\nCorresponds to the `fileName` property of `ArtifactModel`.\nURL-encoding of slashes in parameter values is optional.",
          "in": "path",
          "minLength": 1,
          "name": "artifactFileName",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/bldjobs/orderid/log": {
      "get": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#download-build-log"
        },
        "operationId": "getbldlog",
        "produces": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "Success.\nNote:  Response content is plain text sent with Content-Type\napplication/octet-stream.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "security": [],
        "summary": "Download build log",
        "tags": [
          "Build"
        ]
      },
      "parameters": [
        {
          "description": "Build ID (`jobId` property of `BuildJob`)",
          "in": "path",
          "name": "jobId",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/products/{id}": {
      "post": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#start-build-of-branch-most-recent-commit"
        },
        "operationId": "startbld",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "accountName": "your-account-name",
                "branch": "master",
                "environmentVariables": {
                  "another_var": "another value",
                  "my_var": "value"
                },
                "projectSlug": "project-slug-from-url"
              },
              "properties": {
                "accountName": {
                  "minLength": 1,
                  "type": "string"
                },
                "branch": {
                  "type": "string"
                },
                "commitId": {
                  "type": "string"
                },
                "environmentVariables": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                },
                "projectSlug": {
                  "minLength": 1,
                  "type": "string"
                },
                "pullRequestId": {
                  "description": "Can not be used with `branch` or `commitId`",
                  "minimum": 1,
                  "type": "integer"
                }
              },
              "required": [
                "accountName",
                "projectSlug"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "authorName": "Feodor Fitsner",
                "authorUsername": "FeodorFitsner",
                "branch": "master",
                "buildId": 136709,
                "buildNumber": 7,
                "commitId": "c2892a70d60c96c1b65a7c665ab806b7731fea8a",
                "committed": "2014-08-15T22:05:54+00:00",
                "committerName": "Feodor Fitsner",
                "committerUsername": "FeodorFitsner",
                "created": "2014-08-16T00:40:38+00:00",
                "jobs": [],
                "message": "replaced with command [skip ci]",
                "messages": [],
                "status": "queued",
                "version": "1.0.7"
              }
            },
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "branch": {
                      "type": "string"
                    },
                    "buildId": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "created": {
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "updated": {
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "authorName": {
                      "type": "string"
                    },
                    "authorUsername": {
                      "type": "string"
                    },
                    "buildNumber": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "commitId": {
                      "type": "string"
                    },
                    "committed": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "committerName": {
                      "type": "string"
                    },
                    "committerUsername": {
                      "type": "string"
                    },
                    "finished": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "isTag": {
                      "type": "boolean"
                    },
                    "jobs": {
                      "description": "Always empty in getProjectHistory and startDeployment responses.",
                      "items": {
                        "allOf": [
                          {
                            "allOf": [
                              {
                                "properties": {
                                  "created": {
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "updated": {
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "finished": {
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "jobId": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "started": {
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "status": {
                                    "enum": [
                                      "cancelled",
                                      "cancelling",
                                      "failed",
                                      "queued",
                                      "running",
                                      "starting",
                                      "success"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          {
                            "properties": {
                              "allowFailure": {
                                "type": "boolean"
                              },
                              "artifactsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "compilationErrorsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "compilationMessagesCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "compilationWarningsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "failedTestsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "messagesCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "osType": {
                                "enum": [
                                  "Ubuntu",
                                  "Windows"
                                ],
                                "type": "string"
                              },
                              "passedTestsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "testsCount": {
                                "minimum": 0,
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          }
                        ],
                        "_polymorphic_marker": {
                          "allOf": true
                        }
                      },
                      "type": "array"
                    },
                    "messageExtended": {
                      "type": "string"
                    },
                    "messages": {
                      "items": {
                        "properties": {
                          "category": {
                            "enum": [
                              "information",
                              "warning"
                            ],
                            "type": "string"
                          },
                          "created": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "projectId": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "pullRequestId": {
                      "minimum": 1,
                      "type": "integer"
                    },
                    "pullRequestName": {
                      "type": "string"
                    },
                    "started": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "enum": [
                        "cancelled",
                        "cancelling",
                        "failed",
                        "queued",
                        "running",
                        "starting",
                        "success"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              ],
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Start build of branch most recent commit",
        "tags": [
          "Build"
        ]
      },
      "put": {
        "description": "If `reRunIncomplete` is `true` and all jobs in the referenced build completed successfully, a 500 Internal Server Error is returned with the message \"No failed or cancelled jobs in build with ID {buildId}\".",
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#re-run-build"
        },
        "operationId": "rerunbld",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "buildId": 23864,
                "reRunIncomplete": true
              },
              "properties": {
                "buildId": {
                  "minimum": 0,
                  "type": "integer"
                },
                "reRunIncomplete": {
                  "description": "Set `reRunIncomplete` set to `false` (default value) for full build re-run. Set it set to `true` to rerun only failed or cancelled jobs in multijob build.",
                  "type": "boolean"
                }
              },
              "required": [
                "buildId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "authorName": "Feodor Fitsner",
                "authorUsername": "FeodorFitsner",
                "branch": "master",
                "buildId": 136709,
                "buildNumber": 7,
                "commitId": "c2892a70d60c96c1b65a7c665ab806b7731fea8a",
                "committed": "2014-08-15T22:05:54+00:00",
                "committerName": "Feodor Fitsner",
                "committerUsername": "FeodorFitsner",
                "created": "2014-08-16T00:40:38+00:00",
                "jobs": [],
                "message": "replaced with command [skip ci]",
                "messages": [],
                "status": "queued",
                "version": "1.0.7"
              }
            },
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "branch": {
                      "type": "string"
                    },
                    "buildId": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "created": {
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "updated": {
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "authorName": {
                      "type": "string"
                    },
                    "authorUsername": {
                      "type": "string"
                    },
                    "buildNumber": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "commitId": {
                      "type": "string"
                    },
                    "committed": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "committerName": {
                      "type": "string"
                    },
                    "committerUsername": {
                      "type": "string"
                    },
                    "finished": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "isTag": {
                      "type": "boolean"
                    },
                    "jobs": {
                      "description": "Always empty in getProjectHistory and startDeployment responses.",
                      "items": {
                        "allOf": [
                          {
                            "allOf": [
                              {
                                "properties": {
                                  "created": {
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "updated": {
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "finished": {
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "jobId": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "started": {
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "status": {
                                    "enum": [
                                      "cancelled",
                                      "cancelling",
                                      "failed",
                                      "queued",
                                      "running",
                                      "starting",
                                      "success"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          {
                            "properties": {
                              "allowFailure": {
                                "type": "boolean"
                              },
                              "artifactsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "compilationErrorsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "compilationMessagesCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "compilationWarningsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "failedTestsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "messagesCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "osType": {
                                "enum": [
                                  "Ubuntu",
                                  "Windows"
                                ],
                                "type": "string"
                              },
                              "passedTestsCount": {
                                "minimum": 0,
                                "type": "integer"
                              },
                              "testsCount": {
                                "minimum": 0,
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          }
                        ],
                        "_polymorphic_marker": {
                          "allOf": true
                        }
                      },
                      "type": "array"
                    },
                    "messageExtended": {
                      "type": "string"
                    },
                    "messages": {
                      "items": {
                        "properties": {
                          "category": {
                            "enum": [
                              "information",
                              "warning"
                            ],
                            "type": "string"
                          },
                          "created": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "projectId": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "pullRequestId": {
                      "minimum": 1,
                      "type": "integer"
                    },
                    "pullRequestName": {
                      "type": "string"
                    },
                    "started": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "enum": [
                        "cancelled",
                        "cancelling",
                        "failed",
                        "queued",
                        "running",
                        "starting",
                        "success"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              ],
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Re-run build",
        "tags": [
          "Build"
        ]
      }
    },
    "/blds/id/sku/orderid": {
      "delete": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/projects-builds/#cancel-build"
        },
        "operationId": "cancelbld-v2",
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Cancel build",
        "tags": [
          "Build"
        ]
      },
      "parameters": [
        {
          "description": "AppVeyor account name on which to operate.\nAccounts for which a user has access are listed on the [Security page of\nthe user profile](https://ci.appveyor.com/security) (when logged in).\nThe user account is also the `accountName` property of `UserAccount`.",
          "in": "path",
          "minLength": 1,
          "name": "accountName",
          "required": true,
          "type": "string"
        },
        {
          "description": "Project Slug",
          "in": "path",
          "name": "projectSlug",
          "required": true,
          "type": "string"
        },
        {
          "description": "Build Version (`version` property of `Build`)",
          "in": "path",
          "name": "buildVersion",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/billing/{id}": {
      "get": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#get-collaborators"
        },
        "operationId": "getcollaborators-v2",
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": [
                {
                  "accountId": 2,
                  "accountName": "FeodorFitsner",
                  "created": "2014-02-03T20:29:26+00:00",
                  "email": "john@smith.com",
                  "failedBuildNotification": "all",
                  "fullName": "John Smith",
                  "isCollaborator": true,
                  "isOwner": false,
                  "notifyWhenBuildStatusChangedOnly": true,
                  "roleId": 3040,
                  "roleName": "My Role",
                  "successfulBuildNotification": "all",
                  "updated": "2014-03-07T04:26:09+00:00",
                  "userId": 2018
                }
              ]
            },
            "schema": {
              "items": {
                "allOf": [
                  {
                    "properties": {
                      "created": {
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                      },
                      "updated": {
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "properties": {
                      "accountId": {
                        "minimum": 0,
                        "readOnly": true,
                        "type": "integer"
                      },
                      "accountName": {
                        "readOnly": true,
                        "type": "string"
                      },
                      "email": {
                        "format": "email",
                        "type": "string"
                      },
                      "fullName": {
                        "type": "string"
                      },
                      "isCollaborator": {
                        "readOnly": true,
                        "type": "boolean"
                      },
                      "isOwner": {
                        "readOnly": true,
                        "type": "boolean"
                      },
                      "pageSize": {
                        "minimum": 0,
                        "readOnly": true,
                        "type": "integer"
                      },
                      "password": {
                        "format": "password",
                        "minLength": 1,
                        "type": "string"
                      },
                      "roleId": {
                        "minimum": 0,
                        "type": "integer"
                      },
                      "roleName": {
                        "readOnly": true,
                        "type": "string"
                      },
                      "twoFactorAuthEnabled": {
                        "type": "boolean"
                      },
                      "userId": {
                        "minimum": 0,
                        "type": "integer"
                      }
                    },
                    "required": [
                      "fullName",
                      "email"
                    ],
                    "type": "object"
                  }
                ],
                "example": {
                  "email": "john@smith.com",
                  "failedBuildNotification": "all",
                  "fullName": "John Smith",
                  "notifyWhenBuildStatusChangedOnly": true,
                  "roleId": 4,
                  "successfulBuildNotification": "all",
                  "userId": 3019
                },
                "_polymorphic_marker": {
                  "allOf": true
                }
              },
              "type": "array"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Get collaborators",
        "tags": [
          "Collaborator"
        ]
      },
      "put": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#update-collaborator"
        },
        "operationId": "updatecollaborator",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "description": "Technically `userId` and `roleId` have default value 0 and are not\nrequired, but since user 0 and role 0 never exist it would always cause\na 404 response.\n",
              "example": {
                "roleId": 3040,
                "userId": 2018
              },
              "properties": {
                "roleId": {
                  "minimum": 0,
                  "type": "integer"
                },
                "userId": {
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "userId",
                "roleId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Update collaborator",
        "tags": [
          "Collaborator"
        ]
      }
    },
    "/collaborators/id": {
      "delete": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#delete-collaborator"
        },
        "operationId": "deletecollaborator-v2",
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Delete collaborator",
        "tags": [
          "Collaborator"
        ]
      },
      "get": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/team/#get-collaborator"
        },
        "operationId": "getcollaborator",
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "roles": [
                  {
                    "created": "2013-09-26T19:23:39+00:00",
                    "isSystem": true,
                    "name": "Administrator",
                    "roleId": 4
                  },
                  {
                    "created": "2013-09-26T19:23:39+00:00",
                    "isSystem": true,
                    "name": "User",
                    "roleId": 5
                  },
                  {
                    "created": "2014-03-18T20:12:08+00:00",
                    "isSystem": false,
                    "name": "My Role",
                    "roleId": 3040,
                    "updated": "2014-03-18T20:16:06+00:00"
                  }
                ],
                "user": {
                  "accountId": 2,
                  "accountName": "FeodorFitsner",
                  "created": "2014-02-03T20:29:26+00:00",
                  "email": "john@smith.com",
                  "failedBuildNotification": "all",
                  "fullName": "John Smith",
                  "isCollaborator": true,
                  "isOwner": false,
                  "notifyWhenBuildStatusChangedOnly": true,
                  "roleId": 3040,
                  "roleName": "My Role",
                  "successfulBuildNotification": "all",
                  "updated": "2014-03-07T04:26:09+00:00",
                  "userId": 2018
                }
              }
            },
            "schema": {
              "description": "The roles property contains all roles, not only the role for which the user is a member.",
              "properties": {
                "roles": {
                  "items": {
                    "allOf": [
                      {
                        "properties": {
                          "created": {
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "updated": {
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      {
                        "properties": {
                          "isSystem": {
                            "readOnly": true,
                            "type": "boolean"
                          },
                          "name": {
                            "minLength": 1,
                            "type": "string"
                          },
                          "roleId": {
                            "minimum": 0,
                            "type": "integer"
                          }
                        },
                        "required": [
                          "roleId",
                          "name"
                        ],
                        "type": "object"
                      }
                    ],
                    "description": "Technically `roleId` has default value 0 and is not required, but\nsince role 0 never exists it would always cause a 404 response.\n",
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "type": "array"
                },
                "user": {
                  "allOf": [
                    {
                      "properties": {
                        "created": {
                          "format": "date-time",
                          "readOnly": true,
                          "type": "string"
                        },
                        "updated": {
                          "format": "date-time",
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "properties": {
                        "accountId": {
                          "minimum": 0,
                          "readOnly": true,
                          "type": "integer"
                        },
                        "accountName": {
                          "readOnly": true,
                          "type": "string"
                        },
                        "email": {
                          "format": "email",
                          "type": "string"
                        },
                        "fullName": {
                          "type": "string"
                        },
                        "isCollaborator": {
                          "readOnly": true,
                          "type": "boolean"
                        },
                        "isOwner": {
                          "readOnly": true,
                          "type": "boolean"
                        },
                        "pageSize": {
                          "minimum": 0,
                          "readOnly": true,
                          "type": "integer"
                        },
                        "password": {
                          "format": "password",
                          "minLength": 1,
                          "type": "string"
                        },
                        "roleId": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "roleName": {
                          "readOnly": true,
                          "type": "string"
                        },
                        "twoFactorAuthEnabled": {
                          "type": "boolean"
                        },
                        "userId": {
                          "minimum": 0,
                          "type": "integer"
                        }
                      },
                      "required": [
                        "fullName",
                        "email"
                      ],
                      "type": "object"
                    }
                  ],
                  "example": {
                    "email": "john@smith.com",
                    "failedBuildNotification": "all",
                    "fullName": "John Smith",
                    "notifyWhenBuildStatusChangedOnly": true,
                    "roleId": 4,
                    "successfulBuildNotification": "all",
                    "userId": 3019
                  },
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              },
              "type": "object"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Get collaborator",
        "tags": [
          "Collaborator"
        ]
      },
      "parameters": [
        {
          "description": "User ID",
          "in": "path",
          "minimum": 0,
          "name": "userId",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/carts/{id}": {
      "post": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#start-deployment"
        },
        "operationId": "startdeployment",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "accountName": "your-account-name",
                "buildJobId": "sfke9239ydzf",
                "buildVersion": "1.2.0",
                "environmentName": "environment-to-deploy",
                "environmentVariables": {
                  "another_var": "another value",
                  "server": "myserver.com"
                },
                "projectSlug": "project-slug-from-url"
              },
              "properties": {
                "accountName": {
                  "minLength": 1,
                  "type": "string"
                },
                "buildJobId": {
                  "description": "Optional job id with artifacts if build contains multiple jobs.",
                  "type": "string"
                },
                "buildVersion": {
                  "description": "Build to deploy",
                  "minLength": 1,
                  "type": "string"
                },
                "environmentName": {
                  "minLength": 1,
                  "type": "string"
                },
                "environmentVariables": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "type": "object"
                },
                "projectSlug": {
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "environmentName",
                "accountName",
                "projectSlug",
                "buildVersion"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "build": {
                  "authorName": "Feodor Fitsner",
                  "authorUsername": "FeodorFitsner",
                  "branch": "master",
                  "buildId": 132746,
                  "buildNumber": 38,
                  "commitId": "c397ba5d17dd17b994375405f560e4922207da1e",
                  "committed": "2014-08-12T22:56:00+00:00",
                  "committerName": "Feodor Fitsner",
                  "committerUsername": "FeodorFitsner",
                  "created": "2014-08-12T22:56:09+00:00",
                  "finished": "2014-08-12T22:58:05+00:00",
                  "jobs": [],
                  "message": "Removed Start-Website",
                  "messages": [],
                  "started": "2014-08-12T22:56:25+00:00",
                  "status": "success",
                  "updated": "2014-08-12T22:58:05+00:00",
                  "version": "1.0.38"
                },
                "created": "2014-08-12T23:06:07+00:00",
                "deploymentId": 19475,
                "environment": {
                  "created": "2014-04-01T17:56:41+00:00",
                  "deploymentEnvironmentId": 27,
                  "name": "agent test",
                  "provider": "Agent",
                  "updated": "2014-08-12T22:35:51+00:00"
                },
                "finished": "2014-08-12T23:06:25+00:00",
                "jobs": [
                  {
                    "created": "2014-08-12T23:06:07+00:00",
                    "finished": "2014-08-12T23:06:24+00:00",
                    "jobId": "jnpbcc77s4w278e4",
                    "messagesCount": 0,
                    "name": "Deployment",
                    "started": "2014-08-12T23:06:10+00:00",
                    "status": "success",
                    "updated": "2014-08-12T23:06:24+00:00"
                  }
                ],
                "started": "2014-08-12T23:06:10+00:00",
                "status": "success",
                "updated": "2014-08-12T23:06:25+00:00"
              }
            },
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "build": {
                      "properties": {
                        "branch": {
                          "type": "string"
                        },
                        "buildId": {
                          "minimum": 0,
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "deploymentId": {
                      "minimum": 0,
                      "type": "integer"
                    },
                    "finished": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "started": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "status": {
                      "enum": [
                        "cancelled",
                        "cancelling",
                        "failed",
                        "queued",
                        "running",
                        "starting",
                        "success"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "created": {
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "updated": {
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "build": {
                      "allOf": [
                        {
                          "properties": {
                            "branch": {
                              "type": "string"
                            },
                            "buildId": {
                              "minimum": 0,
                              "type": "integer"
                            },
                            "message": {
                              "type": "string"
                            },
                            "version": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "created": {
                              "format": "date-time",
                              "readOnly": true,
                              "type": "string"
                            },
                            "updated": {
                              "format": "date-time",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "authorName": {
                              "type": "string"
                            },
                            "authorUsername": {
                              "type": "string"
                            },
                            "buildNumber": {
                              "minimum": 0,
                              "type": "integer"
                            },
                            "commitId": {
                              "type": "string"
                            },
                            "committed": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "committerName": {
                              "type": "string"
                            },
                            "committerUsername": {
                              "type": "string"
                            },
                            "finished": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "isTag": {
                              "type": "boolean"
                            },
                            "jobs": {
                              "description": "Always empty in getProjectHistory and startDeployment responses.",
                              "items": {
                                "allOf": [
                                  {
                                    "allOf": [
                                      {
                                        "properties": {
                                          "created": {
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string"
                                          },
                                          "updated": {
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      },
                                      {
                                        "properties": {
                                          "finished": {
                                            "format": "date-time",
                                            "type": "string"
                                          },
                                          "jobId": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "started": {
                                            "format": "date-time",
                                            "type": "string"
                                          },
                                          "status": {
                                            "enum": [
                                              "cancelled",
                                              "cancelling",
                                              "failed",
                                              "queued",
                                              "running",
                                              "starting",
                                              "success"
                                            ],
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  {
                                    "properties": {
                                      "allowFailure": {
                                        "type": "boolean"
                                      },
                                      "artifactsCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "compilationErrorsCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "compilationMessagesCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "compilationWarningsCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "failedTestsCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "messagesCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "osType": {
                                        "enum": [
                                          "Ubuntu",
                                          "Windows"
                                        ],
                                        "type": "string"
                                      },
                                      "passedTestsCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      },
                                      "testsCount": {
                                        "minimum": 0,
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "type": "array"
                            },
                            "messageExtended": {
                              "type": "string"
                            },
                            "messages": {
                              "items": {
                                "properties": {
                                  "category": {
                                    "enum": [
                                      "information",
                                      "warning"
                                    ],
                                    "type": "string"
                                  },
                                  "created": {
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "message": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "projectId": {
                              "minimum": 0,
                              "type": "integer"
                            },
                            "pullRequestId": {
                              "minimum": 1,
                              "type": "integer"
                            },
                            "pullRequestName": {
                              "type": "string"
                            },
                            "started": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "status": {
                              "enum": [
                                "cancelled",
                                "cancelling",
                                "failed",
                                "queued",
                                "running",
                                "starting",
                                "success"
                              ],
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "environment": {
                      "allOf": [
                        {
                          "properties": {
                            "deploymentEnvironmentId": {
                              "minimum": 0,
                              "type": "integer"
                            },
                            "name": {
                              "type": "string"
                            },
                            "provider": {
                              "enum": [
                                "Agent",
                                "AzureBlob",
                                "AzureCS",
                                "AzureWebJob",
                                "BinTray",
                                "FTP",
                                "GitHub",
                                "NuGet",
                                "S3",
                                "SqlDatabase",
                                "WebDeploy",
                                "Webhook"
                              ],
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "created": {
                              "format": "date-time",
                              "readOnly": true,
                              "type": "string"
                            },
                            "updated": {
                              "format": "date-time",
                              "readOnly": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "accountId": {
                              "type": "integer"
                            },
                            "projectsMode": {
                              "description": "Project selection mode for deployment environments.",
                              "enum": [
                                0,
                                1,
                                2
                              ],
                              "type": "integer",
                              "x-enum-descriptions": [
                                "Any project can be deployed to the environment.",
                                "Only selected projects can be deployed to the environment.",
                                "All projects except the selected projects can be deployed to the environment."
                              ],
                              "x-enum-varnames": [
                                "Any",
                                "Only Selected",
                                "All Except Selected"
                              ]
                            },
                            "securityDescriptor": {
                              "properties": {
                                "accessRightDefinitions": {
                                  "items": {
                                    "properties": {
                                      "description": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "enum": [
                                          "Delete",
                                          "Deploy",
                                          "RunBuild",
                                          "Update",
                                          "View"
                                        ],
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "name"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "roleAces": {
                                  "items": {
                                    "properties": {
                                      "accessRights": {
                                        "items": {
                                          "properties": {
                                            "allowed": {
                                              "description": "true to allow, false to deny, undefined to inherit",
                                              "type": "boolean"
                                            },
                                            "name": {
                                              "enum": [
                                                "Delete",
                                                "Deploy",
                                                "RunBuild",
                                                "Update",
                                                "View"
                                              ],
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "name"
                                          ],
                                          "type": "object"
                                        },
                                        "type": "array"
                                      },
                                      "isAdmin": {
                                        "type": "boolean"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "roleId": {
                                        "minimum": 0,
                                        "type": "integer"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            },
                            "tags": {
                              "description": "Comma-separated list of environment tags for dynamic grouping.\nAppears that any input is accepted.  The returned value only\ncontains case-preserving but insensitive unique values where\nspaces around \",\" are removed but otherwise preserved.  Empty\nvalues and items are allowed.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "jobs": {
                      "items": {
                        "allOf": [
                          {
                            "allOf": [
                              {
                                "properties": {
                                  "created": {
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "updated": {
                                    "format": "date-time",
                                    "readOnly": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "finished": {
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "jobId": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "started": {
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "status": {
                                    "enum": [
                                      "cancelled",
                                      "cancelling",
                                      "failed",
                                      "queued",
                                      "running",
                                      "starting",
                                      "success"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          {
                            "properties": {
                              "messagesCount": {
                                "minimum": 0,
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          }
                        ],
                        "_polymorphic_marker": {
                          "allOf": true
                        }
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Start deployment",
        "tags": [
          "Deployment"
        ]
      }
    },
    "/deployments/stop": {
      "put": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#cancel-deployment"
        },
        "operationId": "canceldeployment-v2",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "example": {
                "deploymentId": 123
              },
              "properties": {
                "deploymentId": {
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "deploymentId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "description": "Schema of object returned in 4XX and 5XX responses.\nNote:  The name is unfortunate, since it conflicts with `java.lang.Error`\nand other generic error classes.  It is the name used in XML responses,\nso it is used for consistency and possible future XML deserialization\nsupport.\n",
              "properties": {
                "message": {
                  "type": "string"
                },
                "modelState": {
                  "additionalProperties": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "description": "When present, this property is a map of property names in the format\n`request.<capitalized name>` to an `Array` of validation error\nmessage strings for the property.\n",
                  "type": "object"
                }
              },
              "required": [
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Cancel deployment",
        "tags": [
          "Deployment"
        ]
      }
    },
    "/deployments/paymentid": {
      "get": {
        "externalDocs": {
          "url": "https://www.appveyor.com/docs/api/environments-deployments/#get-deployment"
        },
        "operationId": "getdeployment",
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "deployment": {
                  "build": {
                    "authorName": "Feodor Fitsner",
                    "authorUsername": "FeodorFitsner",
                    "branch": "master",
                    "buildId": 132746,
                    "buildNumber": 38,
                    "commitId": "c397ba5d17dd17b994375405f560e4922207da1e",
                    "committed": "2014-08-12T22:56:00+00:00",
                    "committerName": "Feodor Fitsner",
                    "committerUsername": "FeodorFitsner",
                    "created": "2014-08-12T22:56:09+00:00",
[...]
