{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "//api.ote-godaddy.com"
    }
  ],
  "info": {
    "title": "",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "hosting"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.godaddy.com/swagger/swagger_shoppers.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "ote-godaddy.com",
    "x-serviceName": "shoppers"
  },
  "tags": [
    {
      "description": "",
      "name": "v1"
    }
  ],
  "paths": {
    "/v1/shoppers/subaccount": {
      "post": {
        "operationId": "createsubaccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "externalId": {
                    "type": "integer"
                  },
                  "marketId": {
                    "default": "en-US",
                    "enum": [
                      "da-DK",
                      "de-AT",
                      "de-CH",
                      "de-DE",
                      "el-GR",
                      "en-AE",
                      "en-AU",
                      "en-CA",
                      "en-GB",
                      "en-HK",
                      "en-IE",
                      "en-IL",
                      "en-IN",
                      "en-MY",
                      "en-NZ",
                      "en-PH",
                      "en-PK",
                      "en-SG",
                      "en-US",
                      "en-ZA",
                      "es-AR",
                      "es-CL",
                      "es-CO",
                      "es-ES",
                      "es-MX",
                      "es-PE",
                      "es-US",
                      "es-VE",
                      "fi-FI",
                      "fr-BE",
                      "fr-CA",
                      "fr-CH",
                      "fr-FR",
                      "hi-IN",
                      "id-ID",
                      "it-CH",
                      "it-IT",
                      "ja-JP",
                      "ko-KR",
                      "mr-IN",
                      "nb-NO",
                      "nl-BE",
                      "nl-NL",
                      "pl-PL",
                      "pt-BR",
                      "pt-PT",
                      "ru-RU",
                      "sv-SE",
                      "ta-IN",
                      "th-TH",
                      "tr-TR",
                      "uk-UA",
                      "vi-VN",
                      "zh-HK",
                      "zh-SG",
                      "zh-TW"
                    ],
                    "format": "bcp-47",
                    "maxLength": 50,
                    "type": "string"
                  },
                  "nameFirst": {
                    "type": "string"
                  },
                  "nameLast": {
                    "type": "string"
                  },
                  "password": {
                    "format": "shopper-password",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "nameFirst",
                  "nameLast"
                ]
              }
            },
            "application/xml": {
              "schema": {
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "externalId": {
                    "type": "integer"
                  },
                  "marketId": {
                    "default": "en-US",
                    "enum": [
                      "da-DK",
                      "de-AT",
                      "de-CH",
                      "de-DE",
                      "el-GR",
                      "en-AE",
                      "en-AU",
                      "en-CA",
                      "en-GB",
                      "en-HK",
                      "en-IE",
                      "en-IL",
                      "en-IN",
                      "en-MY",
                      "en-NZ",
                      "en-PH",
                      "en-PK",
                      "en-SG",
                      "en-US",
                      "en-ZA",
                      "es-AR",
                      "es-CL",
                      "es-CO",
                      "es-ES",
                      "es-MX",
                      "es-PE",
                      "es-US",
                      "es-VE",
                      "fi-FI",
                      "fr-BE",
                      "fr-CA",
                      "fr-CH",
                      "fr-FR",
                      "hi-IN",
                      "id-ID",
                      "it-CH",
                      "it-IT",
                      "ja-JP",
                      "ko-KR",
                      "mr-IN",
                      "nb-NO",
                      "nl-BE",
                      "nl-NL",
                      "pl-PL",
                      "pt-BR",
                      "pt-PT",
                      "ru-RU",
                      "sv-SE",
                      "ta-IN",
                      "th-TH",
                      "tr-TR",
                      "uk-UA",
                      "vi-VN",
                      "zh-HK",
                      "zh-SG",
                      "zh-TW"
                    ],
                    "format": "bcp-47",
                    "maxLength": 50,
                    "type": "string"
                  },
                  "nameFirst": {
                    "type": "string"
                  },
                  "nameLast": {
                    "type": "string"
                  },
                  "password": {
                    "format": "shopper-password",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "nameFirst",
                  "nameLast"
                ]
              }
            },
            "text/xml": {
              "schema": {
                "properties": {
                  "email": {
                    "format": "email",
                    "type": "string"
                  },
                  "externalId": {
                    "type": "integer"
                  },
                  "marketId": {
                    "default": "en-US",
                    "enum": [
                      "da-DK",
                      "de-AT",
                      "de-CH",
                      "de-DE",
                      "el-GR",
                      "en-AE",
                      "en-AU",
                      "en-CA",
                      "en-GB",
                      "en-HK",
                      "en-IE",
                      "en-IL",
                      "en-IN",
                      "en-MY",
                      "en-NZ",
                      "en-PH",
                      "en-PK",
                      "en-SG",
                      "en-US",
                      "en-ZA",
                      "es-AR",
                      "es-CL",
                      "es-CO",
                      "es-ES",
                      "es-MX",
                      "es-PE",
                      "es-US",
                      "es-VE",
                      "fi-FI",
                      "fr-BE",
                      "fr-CA",
                      "fr-CH",
                      "fr-FR",
                      "hi-IN",
                      "id-ID",
                      "it-CH",
                      "it-IT",
                      "ja-JP",
                      "ko-KR",
                      "mr-IN",
                      "nb-NO",
                      "nl-BE",
                      "nl-NL",
                      "pl-PL",
                      "pt-BR",
                      "pt-PT",
                      "ru-RU",
                      "sv-SE",
                      "ta-IN",
                      "th-TH",
                      "tr-TR",
                      "uk-UA",
                      "vi-VN",
                      "zh-HK",
                      "zh-SG",
                      "zh-TW"
                    ],
                    "format": "bcp-47",
                    "maxLength": 50,
                    "type": "string"
                  },
                  "nameFirst": {
                    "type": "string"
                  },
                  "nameLast": {
                    "type": "string"
                  },
                  "password": {
                    "format": "shopper-password",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "password",
                  "nameFirst",
                  "nameLast"
                ]
              }
            }
          },
          "description": "The subaccount to create",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "customerId": {
                      "description": "Identifier for the Customer record associated with this Shopper record. This is an alternate identifier that some systems use to identify an individual shopper record",
                      "type": "string"
                    },
                    "shopperId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "shopperId"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "customerId": {
                      "description": "Identifier for the Customer record associated with this Shopper record. This is an alternate identifier that some systems use to identify an individual shopper record",
                      "type": "string"
                    },
                    "shopperId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "shopperId"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "customerId": {
                      "description": "Identifier for the Customer record associated with this Shopper record. This is an alternate identifier that some systems use to identify an individual shopper record",
                      "type": "string"
                    },
                    "shopperId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "shopperId"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "customerId": {
                      "description": "Identifier for the Customer record associated with this Shopper record. This is an alternate identifier that some systems use to identify an individual shopper record",
                      "type": "string"
                    },
                    "shopperId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "shopperId"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "customerId": {
                      "description": "Identifier for the Customer record associated with this Shopper record. This is an alternate identifier that some systems use to identify an individual shopper record",
                      "type": "string"
                    },
                    "shopperId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "shopperId"
                  ]
                }
              }
            },
            "description": "Request was successful"
          },
          "400": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Request was malformed"
          },
          "401": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Authentication info not sent or invalid"
          },
          "403": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Authenticated user is not allowed access"
          },
          "422": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "`subaccount` does not fulfill the schema"
          },
          "429": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              }
            },
            "description": "Too many requests received within interval"
          },
          "500": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Create a Subaccount owned by the authenticated Reseller",
        "tags": [
          "v1"
        ]
      }
    },
    "/v1/shoppers/sku": {
      "delete": {
        "description": "<strong>Notes:</strong><ul><li>Shopper deletion is not supported in OTE</li><li>**shopperId** is **not the same** as **customerId**.  **shopperId** is a number of max length 10 digits (*ex:* 1234567890) whereas **customerId** is a UUIDv4 (*ex:* 295e3bc3-b3b9-4d95-aae5-ede41a994d13)</li></ul>",
        "operationId": "delete",
        "parameters": [
          {
            "description": "The ID of the shopper to delete. Must agree with the shopper id on the token or header, if present. *Note*: **shopperId** is **not the same** as **customerId**.  **shopperId** is a number of max length 10 digits (*ex:* 1234567890) whereas **customerId** is a UUIDv4 (*ex:* 295e3bc3-b3b9-4d95-aae5-ede41a994d13)",
            "in": "path",
            "name": "shopperId",
            "required": true,
            "schema": {
              "maxLength": 10,
              "type": "string"
            }
          },
          {
            "description": "The client IP of the user who originated the request leading to this call.",
            "in": "query",
            "name": "auditClientIp",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request was successful"
          },
          "400": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
[...]
