{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://ethereum.apidapp.com/1"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "api_dapp"
    },
    "title": "ApiDapp",
    "version": "2019-02-14T16:47:01+00:00",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://i2.wp.com/apidapp.com/wp-content/uploads/2019/03/cropped-ApiDappIcon.png?fit=180%2C180&ssl=1"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://apidapp.s3.amazonaws.com/ApiDapp-Start-swagger-7/ApiDapp-Start-swagger+(7).json",
        "version": "3.0"
      }
    ],
    "x-providerName": "apidapp.com"
  },
  "paths": {
    "/": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options"
      },
      "x-amazon-apigateway-any-method": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "x-amazon-apigateway-any-method-v2"
      }
    },
    "/billing/{id}": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-billing-id"
      },
      "post": {
        "description": "Create a new transaction. Transfer Ether between accounts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "post-billing-id-v2"
      }
    },
    "/account/userid": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-account-userid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-account-userid-v2"
      }
    },
    "/orders/{id}": {
      "get": {
        "description": "Get API version info",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-orders-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-orders-id-v2"
      }
    },
    "/block/userid": {
      "get": {
        "description": "Get information about particular block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-userid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-userid-v2"
      }
    },
    "/block/id/transaction": {
      "get": {
        "description": "Get transaction count within block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-id-transaction-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-id-transaction-v2"
      }
    },
    "/block/paymentid/transaction/paymentid": {
      "get": {
        "description": "Get information about particular transaction within block",
        "parameters": [
          {
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-paymentid-transaction-paymentid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Automatically added",
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-paymentid-transaction-paymentid"
      }
    },
    "/blockchain/userid": {
      "get": {
        "description": "Get information about blockchain woth given id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-blockchain-userid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-blockchain-userid-v2"
      }
    },
    "/products/{id}": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-products-id"
      },
      "x-amazon-apigateway-any-method": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "x-amazon-apigateway-any-method-products-id-v2"
      }
    },
    "/contract/paymentid": {
      "get": {
        "description": "Get contract balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-contract-paymentid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-contract-paymentid-v2"
      },
      "post": {
        "description": "Call the contract",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "post-contract-paymentid"
      }
    },
    "/inventory/{id}": {
      "get": {
        "description": "Get current account balance",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-inventory-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-inventory-id"
      },
      "post": {
        "description": "Create personal wallet",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-inventory-id"
      }
    },
    "/{id}/userid": {
      "get": {
        "description": "Get information amout token balance in the account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-id-userid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-id-userid-v2"
      },
      "post": {
        "description": "Transfer tokens to another account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-id-userid-v2"
      }
    },
    "/users/{id}": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-users-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-users-id"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-users-id-v2"
      }
    },
    "/key/id": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "delete-key-id-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-key-id"
      }
    },
    "/transaction/userid": {
      "get": {
        "description": "Get information about transaction by the transaction hash value",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-userid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-userid"
      }
    },
    "/transaction/orderid/receipt": {
      "get": {
        "description": "Get receipt detail information",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-orderid-receipt-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-orderid-receipt-v2"
      }
    },
    "/wallet/account": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-v2"
      }
    },
    "/wallet/account/id": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account-id-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-id"
      }
    },
    "/wallet/account/id/contract": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-id-contract"
      }
    },
    "/wallet/account/sku/{id}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-sku-id"
      }
    },
    "/wallet/account/orderid/pay": {
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-orderid-pay-v2"
      },
      "post": {
        "description": "Send payment from the account held within the wallet",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-orderid-pay"
      }
    }
  },
  "components": {
    "schemas": {
      "Empty": {
        "title": "Empty Schema",
        "type": "object"
      }
    },
    "securitySchemes": {
      "Key2": {
        "in": "header",
        "name": "X-Api-Key",
        "type": "apiKey",
        "x-amazon-apigateway-authtype": "custom"
      }
    }
  }
}