{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://oralquestionsandmotions-api.parliament.uk"
    },
    {
      "url": "https://oralquestionsandmotions-api.parliament.uk"
    }
  ],
  "info": {
    "contact": {
      "email": "softwareengineering@parliament.uk",
      "name": "UK Parliament",
      "url": "https://www.parliament.uk/"
    },
    "description": "An API that allows querying all tabled oral and written questions, and motions for the House of Commons.",
    "title": "House of Commons Oral and Written Questions API",
    "version": "v1",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://oralquestionsandmotions-api.parliament.uk/swagger/docs/v1",
        "version": "2.0"
      }
    ],
    "x-providerName": "parliament.uk",
    "x-serviceName": "oralquestions"
  },
  "paths": {
    "/earlydaymotion/id": {
      "get": {
        "description": "Get a single Early Day Motion which has the ID specified.",
        "operationId": "publishedearlydaymotion-get",
        "parameters": [
          {
            "description": "Early Day Motion with the ID specified.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "items": {
                        "properties": {
                          "Answer": {
                            "type": "string"
                          },
                          "AnsweredWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "AnsweringBody": {
                            "type": "string"
                          },
                          "AnsweringBodyId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinister": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AnsweringMinisterId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinisterTitle": {
                            "type": "string"
                          },
                          "AskingMember": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AskingMemberId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "DueForAnswer": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "QuestionText": {
                            "type": "string"
                          },
                          "QuestionType": {
                            "enum": [
                              "NamedDay",
                              "Ordinary"
                            ],
                            "type": "string"
                          },
                          "TabledWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "UIN": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "items": {
                        "properties": {
                          "Answer": {
                            "type": "string"
                          },
                          "AnsweredWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "AnsweringBody": {
                            "type": "string"
                          },
                          "AnsweringBodyId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinister": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AnsweringMinisterId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinisterTitle": {
                            "type": "string"
                          },
                          "AskingMember": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AskingMemberId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "DueForAnswer": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "QuestionText": {
                            "type": "string"
                          },
                          "QuestionType": {
                            "enum": [
                              "NamedDay",
                              "Ordinary"
                            ],
                            "type": "string"
                          },
                          "TabledWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "UIN": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "type": "object"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "type": "object"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "BadRequest"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "type": "object"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "type": "object"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "NotFound"
          }
        },
        "summary": "Returns a single Early Day Motion by ID",
        "tags": [
          "Early Day Motions"
        ]
      }
    },
    "/earlydaymotions/list": {
      "get": {
        "description": "Get a list of Early Day Motions which meet the specified criteria. Only supports Published and Withdrawn status.",
        "parameters": [
          {
            "description": "Early Day Motions with an ID in the list provided.",
            "explode": true,
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "description": "Early Day Motions with an UINWithAmendmentSuffix provided.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Early Day Motions where the title includes the search term provided.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Early Day Motions where the current status has been set on or after the date provided. Date format YYYY-MM-DD.",
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Early Day Motions where the current status has been set on or before the date provided. Date format YYYY-MM-DD.",
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Early Day Motions which are a prayer against a Negative Statutory Instrument.",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Return Early Day Motions tabled by Member with ID provided.",
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Include Early Day Motions sponsored by Member specified",
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Early Day Motions where the date tabled is on or after the date provided. Date format YYYY-MM-DD.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Early Day Motions where the date tabled is on or before the date provided. Date format YYYY-MM-DD.",
            "in": "query",
            "name": "q",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Early Day Motions where current status is in the selected list.",
            "explode": true,
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "Published",
                  "Withdrawn"
                ],
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Order results by date tabled, title or signature count. Default is date tabled.",
            "in": "query",
            "name": "email",
            "required": false,
            "schema": {
              "enum": [
                "DateTabledAsc",
                "DateTabledDesc",
                "TitleAsc",
                "TitleDesc",
                "SignatureCountAsc",
                "SignatureCountDesc"
              ],
              "type": "string"
            }
          },
          {
            "description": "The number of records to skip from the first, default is 0.",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "The number of records to return, default is 25, maximum is 100.",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "items": {
                        "properties": {
                          "Answer": {
                            "type": "string"
                          },
                          "AnsweredWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "AnsweringBody": {
                            "type": "string"
                          },
                          "AnsweringBodyId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinister": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AnsweringMinisterId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinisterTitle": {
                            "type": "string"
                          },
                          "AskingMember": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AskingMemberId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "DueForAnswer": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "QuestionText": {
                            "type": "string"
                          },
                          "QuestionType": {
                            "enum": [
                              "NamedDay",
                              "Ordinary"
                            ],
                            "type": "string"
                          },
                          "TabledWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "UIN": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "items": {
                        "properties": {
                          "Answer": {
                            "type": "string"
                          },
                          "AnsweredWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "AnsweringBody": {
                            "type": "string"
                          },
                          "AnsweringBodyId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinister": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AnsweringMinisterId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinisterTitle": {
                            "type": "string"
                          },
                          "AskingMember": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AskingMemberId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "DueForAnswer": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "QuestionText": {
                            "type": "string"
                          },
                          "QuestionType": {
                            "enum": [
                              "NamedDay",
                              "Ordinary"
                            ],
                            "type": "string"
                          },
                          "TabledWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "UIN": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "items": {
                        "properties": {
                          "Answer": {
                            "type": "string"
                          },
                          "AnsweredWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "AnsweringBody": {
                            "type": "string"
                          },
                          "AnsweringBodyId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinister": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AnsweringMinisterId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinisterTitle": {
                            "type": "string"
                          },
                          "AskingMember": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AskingMemberId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "DueForAnswer": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "QuestionText": {
                            "type": "string"
                          },
                          "QuestionType": {
                            "enum": [
                              "NamedDay",
                              "Ordinary"
                            ],
                            "type": "string"
                          },
                          "TabledWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "UIN": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "items": {
                        "properties": {
                          "Answer": {
                            "type": "string"
                          },
                          "AnsweredWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "AnsweringBody": {
                            "type": "string"
                          },
                          "AnsweringBodyId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinister": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AnsweringMinisterId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "AnsweringMinisterTitle": {
                            "type": "string"
                          },
                          "AskingMember": {
                            "properties": {
                              "Constituency": {
                                "type": "string"
                              },
                              "ListAs": {
                                "type": "string"
                              },
                              "MnisId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "type": "string"
                              },
                              "Party": {
                                "type": "string"
                              },
                              "PartyColour": {
                                "type": "string"
                              },
                              "PartyId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "PhotoUrl": {
                                "readOnly": true,
                                "type": "string"
                              },
                              "PimsId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "Status": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "AskingMemberId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "DueForAnswer": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "QuestionText": {
                            "type": "string"
                          },
                          "QuestionType": {
                            "enum": [
                              "NamedDay",
                              "Ordinary"
                            ],
                            "type": "string"
                          },
                          "TabledWhen": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "UIN": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "type": "object"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "Response": {
                      "type": "object"
                    },
                    "StatusCode": {
                      "enum": [
                        "Continue",
                        "SwitchingProtocols",
                        "OK",
                        "Created",
                        "Accepted",
                        "NonAuthoritativeInformation",
                        "NoContent",
                        "ResetContent",
                        "PartialContent",
                        "MultipleChoices",
                        "Ambiguous",
                        "MovedPermanently",
                        "Moved",
                        "Found",
                        "Redirect",
                        "SeeOther",
                        "RedirectMethod",
                        "NotModified",
                        "UseProxy",
                        "Unused",
                        "TemporaryRedirect",
                        "RedirectKeepVerb",
                        "BadRequest",
                        "Unauthorized",
                        "PaymentRequired",
                        "Forbidden",
                        "NotFound",
                        "MethodNotAllowed",
                        "NotAcceptable",
                        "ProxyAuthenticationRequired",
                        "RequestTimeout",
                        "Conflict",
                        "Gone",
                        "LengthRequired",
                        "PreconditionFailed",
                        "RequestEntityTooLarge",
                        "RequestUriTooLong",
                        "UnsupportedMediaType",
                        "RequestedRangeNotSatisfiable",
                        "ExpectationFailed",
                        "UpgradeRequired",
                        "InternalServerError",
                        "NotImplemented",
                        "BadGateway",
                        "ServiceUnavailable",
                        "GatewayTimeout",
                        "HttpVersionNotSupported"
                      ],
                      "type": "string"
                    },
                    "Success": {
                      "readOnly": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "properties": {
                    "Errors": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "PagingInfo": {
                      "properties": {
                        "GlobalStatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "GlobalTotal": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Skip": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "StatusCounts": {
                          "items": {
                            "properties": {
                              "Count": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "StatusId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "Take": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "Total": {
                          "format": "int32",
                          "type": "integer"
                        }
                      },
[...]
