{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "gitlab.com",
  "basePath": "/api",
  "info": {
    "description": "The platform for modern developers\nGitLab unifies issues, code review, CI and CD into a single UI",
    "title": "Gitlab",
    "version": "v3",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://cloud.githubusercontent.com/assets/21603/24521837/642e411c-1585-11e7-817f-61082580b6f6.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://axil.gitlab.io/swaggerapi/static/swagger.json",
        "version": "2.0"
      },
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Mermade/openapi-definitions/master/gitlab/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "gitlab.com"
  },
  "produces": [
    "application/json",
    "text/plain"
  ],
  "securityDefinitions": {
    "private_token_header": {
      "in": "header",
      "name": "PRIVATE_HEADER",
      "type": "apiKey"
    },
    "private_token_query": {
      "in": "query",
      "name": "private_token",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "private_token_header": []
    },
    {
      "private_token_query": []
    }
  ],
  "tags": [
    {
      "description": "Operations about groups",
      "name": "groups"
    },
    {
      "description": "Operations about projects",
      "name": "projects"
    },
    {
      "description": "Operations about internals",
      "name": "internal"
    },
    {
      "description": "Operations about issues",
      "name": "issues"
    },
    {
      "description": "Operations about keys",
      "name": "keys"
    },
    {
      "description": "Operations about cis",
      "name": "ci"
    },
    {
      "description": "Operations about namespaces",
      "name": "namespaces"
    },
    {
      "description": "Operations about notification_settings",
      "name": "notification_settings"
    },
    {
      "description": "Operations about runners",
      "name": "runners"
    },
    {
      "description": "Operations about snippets",
      "name": "snippets"
    },
    {
      "description": "Operations about hooks",
      "name": "hooks"
    },
    {
      "description": "Operations about todos",
      "name": "todos"
    },
    {
      "description": "Operations about users",
      "name": "users"
    },
    {
      "description": "Operations about users",
      "name": "user"
    },
    {
      "description": "Operations about deploy_keys",
      "name": "deploy_keys"
    },
    {
      "description": "Operations about sessions",
      "name": "session"
    },
    {
      "description": "Operations about applications",
      "name": "application"
    },
    {
      "description": "Operations about sidekiqs",
      "name": "sidekiq"
    },
    {
      "description": "Operations about licenses",
      "name": "licenses"
    },
    {
      "description": "Operations about templates",
      "name": "templates"
    },
    {
      "description": "Operations about gitignores",
      "name": "gitignores"
    },
    {
      "description": "Operations about gitlab_ci_ymls",
      "name": "gitlab_ci_ymls"
    },
    {
      "description": "Operations about dockerfiles",
      "name": "dockerfiles"
    },
    {
      "description": "Operations about versions",
      "name": "version"
    }
  ],
  "paths": {
    "/v3/application/settings": {
      "get": {
        "description": "Get the current application settings",
        "operationId": "getv3applicationsettings-v2",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the current application settings",
            "schema": {
              "description": "Modify application settings",
              "properties": {
                "after_sign_out_path": {
                  "type": "string"
                },
                "after_sign_up_text": {
                  "type": "string"
                },
                "container_registry_token_expire_delay": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "default_branch_protection": {
                  "type": "string"
                },
                "default_group_visibility": {
                  "type": "string"
                },
                "default_project_visibility": {
                  "type": "string"
                },
                "default_projects_limit": {
                  "type": "string"
                },
                "default_snippet_visibility": {
                  "type": "string"
                },
                "domain_blacklist": {
                  "type": "string"
                },
                "domain_blacklist_enabled": {
                  "type": "string"
                },
                "domain_whitelist": {
                  "type": "string"
                },
                "gravatar_enabled": {
                  "type": "string"
                },
                "home_page_url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "koding_enabled": {
                  "type": "string"
                },
                "koding_url": {
                  "type": "string"
                },
                "max_attachment_size": {
                  "type": "string"
                },
                "plantuml_enabled": {
                  "type": "string"
                },
                "plantuml_url": {
                  "type": "string"
                },
                "repository_storage": {
                  "type": "string"
                },
                "repository_storages": {
                  "type": "string"
                },
                "restricted_visibility_levels": {
                  "type": "string"
                },
                "session_expire_delay": {
                  "type": "string"
                },
                "sign_in_text": {
                  "type": "string"
                },
                "signin_enabled": {
                  "type": "string"
                },
                "signup_enabled": {
                  "type": "string"
                },
                "updated_at": {
                  "type": "string"
                },
                "user_oauth_applications": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the current application settings",
        "tags": [
          "application"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Modify application settings",
        "operationId": "putv3applicationsettings",
        "parameters": [
          {
            "description": "Determine if developers can push to master",
            "enum": [
              0,
              1,
              2
            ],
            "format": "int32",
            "in": "formData",
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The default project visibility",
            "enum": [
              0,
              10,
              20
            ],
            "format": "int32",
            "in": "formData",
            "name": "sku",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The default snippet visibility",
            "enum": [
              0,
              10,
              20
            ],
            "format": "int32",
            "in": "formData",
            "name": "sku",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The default group visibility",
            "enum": [
              0,
              10,
              20
            ],
            "format": "int32",
            "in": "formData",
            "name": "default_group_visibility",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Selected levels cannot be used by non-admin users for projects or snippets. If the public level is restricted, user profiles are only visible to logged in users.",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "limit",
            "required": false,
            "type": "array"
          },
          {
            "description": "Enabled sources for code import during project creation. OmniAuth must be configured for GitHub, Bitbucket, and GitLab.com",
            "enum": [
              "github",
              "bitbucket",
              "gitlab",
              "google_code",
              "fogbugz",
              "git",
              "gitlab_project"
            ],
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "import_sources",
            "required": false,
            "type": "array"
          },
          {
            "description": "Disable certain OAuth sign-in sources",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "status",
            "required": false,
            "type": "array"
          },
          {
            "description": "Allow only the selected protocols to be used for Git access.",
            "enum": [
              "ssh",
              "http",
              "nil"
            ],
            "in": "formData",
            "name": "sku",
            "required": false,
            "type": "string"
          },
          {
            "description": "Flag indicating if the Gravatar service is enabled",
            "in": "formData",
            "name": "gravatar_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The maximum number of personal projects",
            "format": "int32",
            "in": "formData",
            "name": "default_projects_limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Maximum attachment size in MB",
            "format": "int32",
            "in": "formData",
            "name": "max_attachment_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Session duration in minutes. GitLab restart is required to apply changes.",
            "format": "int32",
            "in": "formData",
            "name": "session_expire_delay",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Allow users to register any application to use GitLab as an OAuth provider",
            "in": "formData",
            "name": "user_oauth_applications",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Newly registered users will by default be external",
            "in": "formData",
            "name": "user_default_external",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Flag indicating if sign up is enabled",
            "in": "formData",
            "name": "signup_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Send confirmation email on sign-up",
            "in": "formData",
            "name": "sku",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "ONLY users with e-mail addresses that match these domain(s) will be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com",
            "in": "formData",
            "name": "domain_whitelist",
            "required": false,
            "type": "string"
          },
          {
            "description": "Enable domain blacklist for sign ups",
            "in": "formData",
            "name": "domain_blacklist_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Users with e-mail addresses that match these domain(s) will NOT be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com",
            "in": "formData",
            "name": "domain_blacklist",
            "required": true,
            "type": "string"
          },
          {
            "description": "Text shown after sign up",
            "in": "formData",
            "name": "after_sign_up_text",
            "required": false,
            "type": "string"
          },
          {
            "description": "Flag indicating if sign in is enabled",
            "in": "formData",
            "name": "signin_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Require all users to setup Two-factor authentication",
            "in": "formData",
            "name": "offset",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Amount of time (in hours) that users are allowed to skip forced configuration of two-factor authentication",
            "format": "int32",
            "in": "formData",
            "name": "two_factor_grace_period",
            "required": true,
            "type": "integer"
          },
          {
            "description": "We will redirect non-logged in users to this page",
            "in": "formData",
            "name": "home_page_url",
            "required": false,
            "type": "string"
          },
          {
            "description": "We will redirect users to this page after they sign out",
            "in": "formData",
            "name": "after_sign_out_path",
            "required": false,
            "type": "string"
          },
          {
            "description": "The sign in text of the GitLab application",
            "in": "formData",
            "name": "sign_in_text",
            "required": false,
            "type": "string"
          },
          {
            "description": "Custom text displayed on the help page",
            "in": "formData",
            "name": "help_page_text",
            "required": false,
            "type": "string"
          },
          {
            "description": "Enable shared runners for new projects",
            "in": "formData",
            "name": "shared_runners_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Shared runners text ",
            "in": "formData",
            "name": "shared_runners_text",
            "required": true,
            "type": "string"
          },
          {
            "description": "Set the maximum file size each build's artifacts can have",
            "format": "int32",
            "in": "formData",
            "name": "max_artifacts_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Authorization token duration (minutes)",
            "format": "int32",
            "in": "formData",
            "name": "status",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Enable the InfluxDB metrics",
            "in": "formData",
            "name": "metrics_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The InfluxDB host",
            "in": "formData",
            "name": "metrics_host",
            "required": true,
            "type": "string"
          },
          {
            "description": "The UDP port to use for connecting to InfluxDB",
            "format": "int32",
            "in": "formData",
            "name": "metrics_port",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The amount of InfluxDB connections to open",
            "format": "int32",
            "in": "formData",
            "name": "metrics_pool_size",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The amount of seconds after which an InfluxDB connection will time out",
            "format": "int32",
            "in": "formData",
            "name": "metrics_timeout",
            "required": true,
            "type": "integer"
          },
          {
            "description": "A method call is only tracked when it takes longer to complete than the given amount of milliseconds.",
            "format": "int32",
            "in": "formData",
            "name": "offset",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The sampling interval in seconds",
            "format": "int32",
            "in": "formData",
            "name": "metrics_sample_interval",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The amount of points to store in a single UDP packet",
            "format": "int32",
            "in": "formData",
            "name": "metrics_packet_size",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Enable Sidekiq Job Throttling",
            "in": "formData",
            "name": "q",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Choose which queues you wish to throttle",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "sidekiq_throttling_queus",
            "required": true,
            "type": "array"
          },
          {
            "description": "The factor by which the queues should be throttled. A value between 0.0 and 1.0, exclusive.",
            "format": "float",
            "in": "formData",
            "name": "email",
            "required": true,
            "type": "number"
          },
          {
            "description": "Helps prevent bots from creating accounts",
            "in": "formData",
            "name": "recaptcha_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Generate site key at http://www.google.com/recaptcha",
            "in": "formData",
            "name": "recaptcha_site_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Generate private key at http://www.google.com/recaptcha",
            "in": "formData",
            "name": "recaptcha_private_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Helps prevent bots from creating issues",
            "in": "formData",
            "name": "akismet_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Generate API key at http://www.akismet.com",
            "in": "formData",
            "name": "akismet_api_key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Abuse reports will be sent to this address if it is set. Abuse reports are always available in the admin area.",
            "in": "formData",
            "name": "admin_notification_email",
            "required": false,
            "type": "string"
          },
          {
            "description": "Sentry is an error reporting and logging tool which is currently not shipped with GitLab, get it here: https://getsentry.com",
            "in": "formData",
            "name": "sentry_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Sentry Data Source Name",
            "in": "formData",
            "name": "sentry_dsn",
            "required": true,
            "type": "string"
          },
          {
            "description": "Storage paths for new projects",
            "in": "formData",
            "name": "repository_storage",
            "required": false,
            "type": "string"
          },
          {
            "description": "GitLab will periodically run 'git fsck' in all project and wiki repositories to look for silent disk corruption issues.",
            "in": "formData",
            "name": "id",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable Koding",
            "in": "formData",
            "name": "koding_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The Koding team URL",
            "in": "formData",
            "name": "koding_url",
            "required": true,
            "type": "string"
          },
          {
            "description": "Enable PlantUML",
            "in": "formData",
            "name": "plantuml_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The PlantUML server URL",
            "in": "formData",
            "name": "plantuml_url",
            "required": true,
            "type": "string"
          },
          {
            "description": "Let GitLab inform you when an update is available.",
            "in": "formData",
            "name": "version_check_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Some email servers do not support overriding the email sender name. Enable this option to include the name of the author of the issue, merge request or comment in the email body instead.",
            "in": "formData",
            "name": "email_author_in_body",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "By default GitLab sends emails in HTML and plain text formats so mail clients can choose what format to use. Disable this option if you only want to send emails in plain text format.",
            "in": "formData",
            "name": "html_emails_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable automatic repository housekeeping (git repack, git gc)",
            "in": "formData",
            "name": "housekeeping_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Creating pack file bitmaps makes housekeeping take a little longer but bitmaps should accelerate 'git clone' performance.",
            "in": "formData",
            "name": "limit",
            "required": true,
            "type": "boolean"
          },
          {
            "description": "Number of Git pushes after which an incremental 'git repack' is run.",
            "format": "int32",
            "in": "formData",
            "name": "q",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Number of Git pushes after which a full 'git repack' is run.",
            "format": "int32",
            "in": "formData",
            "name": "sku",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Number of Git pushes after which 'git gc' is run.",
            "format": "int32",
            "in": "formData",
            "name": "housekeeping_gc_period",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Modify application settings",
            "schema": {
              "description": "Modify application settings",
              "properties": {
                "after_sign_out_path": {
                  "type": "string"
                },
                "after_sign_up_text": {
                  "type": "string"
                },
                "container_registry_token_expire_delay": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "default_branch_protection": {
                  "type": "string"
                },
                "default_group_visibility": {
                  "type": "string"
                },
                "default_project_visibility": {
                  "type": "string"
                },
                "default_projects_limit": {
                  "type": "string"
                },
                "default_snippet_visibility": {
                  "type": "string"
                },
                "domain_blacklist": {
                  "type": "string"
                },
                "domain_blacklist_enabled": {
                  "type": "string"
                },
                "domain_whitelist": {
                  "type": "string"
                },
                "gravatar_enabled": {
                  "type": "string"
                },
                "home_page_url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "koding_enabled": {
                  "type": "string"
                },
                "koding_url": {
                  "type": "string"
                },
                "max_attachment_size": {
                  "type": "string"
                },
                "plantuml_enabled": {
                  "type": "string"
                },
                "plantuml_url": {
                  "type": "string"
                },
                "repository_storage": {
                  "type": "string"
                },
                "repository_storages": {
                  "type": "string"
                },
                "restricted_visibility_levels": {
                  "type": "string"
                },
                "session_expire_delay": {
                  "type": "string"
                },
                "sign_in_text": {
                  "type": "string"
                },
                "signin_enabled": {
                  "type": "string"
                },
                "signup_enabled": {
                  "type": "string"
                },
                "updated_at": {
                  "type": "string"
                },
                "user_oauth_applications": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Modify application settings",
        "tags": [
          "application"
        ]
      }
    },
    "/v3/ci/lint": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Validation of .gitlab-ci.yml content",
        "operationId": "postv3cilint-v2",
        "parameters": [
          {
            "description": "Content of .gitlab-ci.yml",
            "in": "formData",
            "name": "content",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Validation of .gitlab-ci.yml content"
          }
        },
        "summary": "Validation of .gitlab-ci.yml content",
        "tags": [
          "ci"
        ]
      }
    },
    "/v3/deploy-keys": {
      "get": {
        "operationId": "getv3deploykeys",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "get DeployKey(s)"
          }
        },
        "tags": [
          "deploy_keys"
        ]
      }
    },
    "/v3/dockerfiles": {
      "get": {
        "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
        "operationId": "getv3dockerfiles",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the list of the available template",
            "schema": {
              "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the list of the available template",
        "tags": [
          "dockerfiles"
        ]
      }
    },
    "/v3/dockerfiles/sku": {
      "get": {
        "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
        "operationId": "getv3dockerfilesname-v2",
        "parameters": [
          {
            "description": "The name of the template",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the text for a specific template present in local filesystem",
            "schema": {
              "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
              "properties": {
                "content": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the text for a specific template present in local filesystem",
        "tags": [
          "dockerfiles"
        ]
      }
    },
    "/v3/gitignores": {
      "get": {
        "description": "This feature was introduced in GitLab 8.8. This endpoint is deprecated and will be removed in GitLab 9.0.",
        "operationId": "getv3gitignores-v2",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the list of the available template",
            "schema": {
              "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the list of the available template",
        "tags": [
          "gitignores"
        ]
      }
    },
    "/v3/gitignores/userid": {
      "get": {
        "description": "This feature was introduced in GitLab 8.8. This endpoint is deprecated and will be removed in GitLab 9.0.",
        "operationId": "getv3gitignoresname-v2",
        "parameters": [
          {
            "description": "The name of the template",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the text for a specific template present in local filesystem",
            "schema": {
              "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
              "properties": {
                "content": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the text for a specific template present in local filesystem",
        "tags": [
          "gitignores"
        ]
      }
    },
    "/v3/gitlab-ci-ymls": {
      "get": {
        "description": "This feature was introduced in GitLab 8.9. This endpoint is deprecated and will be removed in GitLab 9.0.",
        "operationId": "getv3gitlabciymls",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the list of the available template",
            "schema": {
              "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
              "properties": {
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the list of the available template",
        "tags": [
          "gitlab_ci_ymls"
        ]
      }
    },
    "/v3/gitlab-ci-ymls/sku": {
      "get": {
        "description": "This feature was introduced in GitLab 8.9. This endpoint is deprecated and will be removed in GitLab 9.0.",
        "operationId": "getv3gitlabciymlsname-v2",
        "parameters": [
          {
            "description": "The name of the template",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the text for a specific template present in local filesystem",
            "schema": {
              "description": "This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.",
              "properties": {
                "content": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the text for a specific template present in local filesystem",
        "tags": [
          "gitlab_ci_ymls"
        ]
      }
    },
    "/v3/groups": {
      "get": {
        "description": "Get a groups list",
        "operationId": "getv3groups",
        "parameters": [
          {
            "description": "Include project statistics",
            "in": "query",
            "name": "statistics",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Array of group ids to exclude from list",
            "in": "formData",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "skip_groups",
            "required": false,
            "type": "array"
          },
          {
            "description": "Show all group that you have access to",
            "in": "query",
            "name": "all_available",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Search for a specific group",
            "in": "query",
            "name": "search",
            "required": false,
            "type": "string"
          },
          {
            "default": "name",
            "description": "Order by name or path",
            "enum": [
              "name",
              "path"
            ],
            "in": "query",
            "name": "order_by",
            "required": false,
            "type": "string"
          },
          {
            "default": "asc",
            "description": "Sort by asc (ascending) or desc (descending)",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Current page number",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a groups list",
            "schema": {
              "description": "Update a group. Available only for users who can administrate groups.",
              "properties": {
                "avatar_url": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lfs_enabled": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "request_access_enabled": {
                  "type": "string"
                },
                "statistics": {
                  "type": "string"
                },
                "visibility_level": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get a groups list",
        "tags": [
          "groups"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Create a group. Available only for users who can create groups.",
        "operationId": "postv3groups",
        "parameters": [
          {
            "description": "The name of the group",
            "in": "formData",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The path of the group",
            "in": "formData",
            "name": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "The description of the group",
            "in": "formData",
            "name": "description",
            "required": false,
            "type": "string"
          },
          {
            "description": "The visibility level of the group",
            "format": "int32",
            "in": "formData",
            "name": "visibility_level",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Enable/disable LFS for the projects in this group",
            "in": "formData",
            "name": "lfs_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Allow users to request member access",
            "in": "formData",
            "name": "request_access_enabled",
            "required": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Create a group. Available only for users who can create groups.",
            "schema": {
              "description": "Update a group. Available only for users who can administrate groups.",
              "properties": {
                "avatar_url": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lfs_enabled": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "request_access_enabled": {
                  "type": "string"
                },
                "statistics": {
                  "type": "string"
                },
                "visibility_level": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Create a group. Available only for users who can create groups.",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/owned": {
      "get": {
        "description": "Get list of owned groups for authenticated user",
        "operationId": "getv3groupsowned",
        "parameters": [
          {
            "description": "Current page number",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Include project statistics",
            "in": "query",
            "name": "statistics",
            "required": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get list of owned groups for authenticated user",
            "schema": {
              "description": "Update a group. Available only for users who can administrate groups.",
              "properties": {
                "avatar_url": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lfs_enabled": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "request_access_enabled": {
                  "type": "string"
                },
                "statistics": {
                  "type": "string"
                },
                "visibility_level": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get list of owned groups for authenticated user",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/paymentid": {
      "delete": {
        "description": "Remove a group.",
        "operationId": "deletev3groupsid-v2",
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Remove a group."
          }
        },
        "summary": "Remove a group.",
        "tags": [
          "groups"
        ]
      },
      "get": {
        "description": "Get a single group, with containing projects.",
        "operationId": "getv3groupsid",
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a single group, with containing projects.",
            "schema": {
              "description": "Transfer a project to the group namespace. Available only for admin.",
              "properties": {
                "avatar_url": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lfs_enabled": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "projects": {
                  "description": "Unstar a project",
                  "properties": {
                    "archived": {
                      "type": "string"
                    },
                    "avatar_url": {
                      "type": "string"
                    },
                    "builds_enabled": {
                      "type": "string"
                    },
                    "container_registry_enabled": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "creator_id": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "forked_from_project": {
                      "description": "Get all projects for admin user",
                      "properties": {
                        "http_url_to_repo": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "name_with_namespace": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        },
                        "path_with_namespace": {
                          "type": "string"
                        },
                        "web_url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "forks_count": {
                      "type": "string"
                    },
                    "http_url_to_repo": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "issues_enabled": {
                      "type": "string"
                    },
                    "last_activity_at": {
                      "type": "string"
                    },
                    "lfs_enabled": {
                      "type": "string"
                    },
                    "merge_requests_enabled": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "name_with_namespace": {
                      "type": "string"
                    },
                    "namespace": {
                      "description": "Get a namespaces list",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "kind": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "only_allow_merge_if_all_discussions_are_resolved": {
                      "type": "string"
                    },
                    "only_allow_merge_if_build_succeeds": {
                      "type": "string"
                    },
                    "open_issues_count": {
                      "type": "string"
                    },
                    "owner": {
                      "description": "Get a single user",
                      "properties": {
                        "avatar_url": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "web_url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "path": {
                      "type": "string"
                    },
                    "path_with_namespace": {
                      "type": "string"
                    },
                    "public": {
                      "type": "string"
                    },
                    "public_builds": {
                      "type": "string"
                    },
                    "request_access_enabled": {
                      "type": "string"
                    },
                    "runners_token": {
                      "type": "string"
                    },
                    "shared_runners_enabled": {
                      "type": "string"
                    },
                    "shared_with_groups": {
                      "type": "string"
                    },
                    "snippets_enabled": {
                      "type": "string"
                    },
                    "ssh_url_to_repo": {
                      "type": "string"
                    },
                    "star_count": {
                      "type": "string"
                    },
                    "statistics": {
                      "properties": {
                        "build_artifacts_size": {
                          "type": "string"
                        },
                        "commit_count": {
                          "type": "string"
                        },
                        "lfs_objects_size": {
                          "type": "string"
                        },
                        "repository_size": {
                          "type": "string"
                        },
                        "storage_size": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tag_list": {
                      "type": "string"
                    },
                    "visibility_level": {
                      "type": "string"
                    },
                    "web_url": {
                      "type": "string"
                    },
                    "wiki_enabled": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "request_access_enabled": {
                  "type": "string"
                },
                "shared_projects": {
                  "description": "Unstar a project",
                  "properties": {
                    "archived": {
                      "type": "string"
                    },
                    "avatar_url": {
                      "type": "string"
                    },
                    "builds_enabled": {
                      "type": "string"
                    },
                    "container_registry_enabled": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "creator_id": {
                      "type": "string"
                    },
                    "default_branch": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "forked_from_project": {
                      "description": "Get all projects for admin user",
                      "properties": {
                        "http_url_to_repo": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "name_with_namespace": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        },
                        "path_with_namespace": {
                          "type": "string"
                        },
                        "web_url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "forks_count": {
                      "type": "string"
                    },
                    "http_url_to_repo": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "issues_enabled": {
                      "type": "string"
                    },
                    "last_activity_at": {
                      "type": "string"
                    },
                    "lfs_enabled": {
                      "type": "string"
                    },
                    "merge_requests_enabled": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "name_with_namespace": {
                      "type": "string"
                    },
                    "namespace": {
                      "description": "Get a namespaces list",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "kind": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "path": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "only_allow_merge_if_all_discussions_are_resolved": {
                      "type": "string"
                    },
                    "only_allow_merge_if_build_succeeds": {
                      "type": "string"
                    },
                    "open_issues_count": {
                      "type": "string"
                    },
                    "owner": {
                      "description": "Get a single user",
                      "properties": {
                        "avatar_url": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "web_url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "path": {
                      "type": "string"
                    },
                    "path_with_namespace": {
                      "type": "string"
                    },
                    "public": {
                      "type": "string"
                    },
                    "public_builds": {
                      "type": "string"
                    },
                    "request_access_enabled": {
                      "type": "string"
                    },
                    "runners_token": {
                      "type": "string"
                    },
                    "shared_runners_enabled": {
                      "type": "string"
                    },
                    "shared_with_groups": {
                      "type": "string"
                    },
                    "snippets_enabled": {
                      "type": "string"
                    },
                    "ssh_url_to_repo": {
                      "type": "string"
                    },
                    "star_count": {
                      "type": "string"
                    },
                    "statistics": {
                      "properties": {
                        "build_artifacts_size": {
                          "type": "string"
                        },
                        "commit_count": {
                          "type": "string"
                        },
                        "lfs_objects_size": {
                          "type": "string"
                        },
                        "repository_size": {
                          "type": "string"
                        },
                        "storage_size": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "tag_list": {
                      "type": "string"
                    },
                    "visibility_level": {
                      "type": "string"
                    },
                    "web_url": {
                      "type": "string"
                    },
                    "wiki_enabled": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "statistics": {
                  "type": "string"
                },
                "visibility_level": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get a single group, with containing projects.",
        "tags": [
          "groups"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Update a group. Available only for users who can administrate groups.",
        "operationId": "putv3groupsid-v2",
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the group",
            "in": "formData",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "The path of the group",
            "in": "formData",
            "name": "path",
            "required": false,
            "type": "string"
          },
          {
            "description": "The description of the group",
            "in": "formData",
            "name": "description",
            "required": false,
            "type": "string"
          },
          {
            "description": "The visibility level of the group",
            "format": "int32",
            "in": "formData",
            "name": "visibility_level",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Enable/disable LFS for the projects in this group",
            "in": "formData",
            "name": "lfs_enabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Allow users to request member access",
            "in": "formData",
            "name": "request_access_enabled",
            "required": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Update a group. Available only for users who can administrate groups.",
            "schema": {
              "description": "Update a group. Available only for users who can administrate groups.",
              "properties": {
                "avatar_url": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lfs_enabled": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "request_access_enabled": {
                  "type": "string"
                },
                "statistics": {
                  "type": "string"
                },
                "visibility_level": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Update a group. Available only for users who can administrate groups.",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/userid/access-requests": {
      "get": {
        "description": "This feature was introduced in GitLab 8.11.",
        "operationId": "getv3groupsidaccessrequests",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Current page number",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Gets a list of access requests for a group.",
            "schema": {
              "description": "This feature was introduced in GitLab 8.11.",
              "properties": {
                "avatar_url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "requested_at": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Gets a list of access requests for a group.",
        "tags": [
          "groups"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "This feature was introduced in GitLab 8.11.",
        "operationId": "postv3groupsidaccessrequests-v2",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Requests access for the authenticated user to a group.",
            "schema": {
              "description": "This feature was introduced in GitLab 8.11.",
              "properties": {
                "avatar_url": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "requested_at": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Requests access for the authenticated user to a group.",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/paymentid/access-requests/orderid": {
      "delete": {
        "description": "This feature was introduced in GitLab 8.11.",
        "operationId": "deletev3groupsidaccessrequestsuserid-v2",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The user ID of the access requester",
            "format": "int32",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Denies an access request for the given user."
          }
        },
        "summary": "Denies an access request for the given user.",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/id/access-requests/paymentid/approve": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "This feature was introduced in GitLab 8.11.",
        "operationId": "putv3groupsidaccessrequestsuseridapprove-v2",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The user ID of the access requester",
            "format": "int32",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "A valid access level (defaults: `30`, developer access level)",
            "format": "int32",
            "in": "formData",
            "name": "access_level",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Approves an access request for the given user.",
            "schema": {
              "description": "Updates a member of a group or project.",
              "properties": {
                "access_level": {
                  "type": "string"
                },
                "avatar_url": {
                  "type": "string"
                },
                "expires_at": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Approves an access request for the given user.",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/userid/issues": {
      "get": {
        "description": "Get a list of group issues",
        "operationId": "getv3groupsidissues",
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": "opened",
            "description": "Return opened, closed, or all issues",
            "enum": [
              "opened",
              "closed",
              "all"
            ],
            "in": "query",
            "name": "state",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of label names",
            "in": "query",
            "name": "labels",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return issues for a specific milestone",
            "in": "query",
            "name": "milestone",
            "required": false,
            "type": "string"
          },
          {
            "default": "created_at",
            "description": "Return issues ordered by `created_at` or `updated_at` fields.",
            "enum": [
              "created_at",
              "updated_at"
            ],
            "in": "query",
            "name": "order_by",
            "required": false,
            "type": "string"
          },
          {
            "default": "desc",
            "description": "Return issues sorted in `asc` or `desc` order.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Current page number",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a list of group issues",
            "schema": {
              "description": "Get currently authenticated user's issues",
              "properties": {
                "assignee": {
                  "description": "Get a single user",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "web_url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "author": {
                  "description": "Get a single user",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "web_url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "confidential": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "downvotes": {
                  "type": "string"
                },
                "due_date": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "iid": {
                  "type": "string"
                },
                "labels": {
                  "type": "string"
                },
                "milestone": {
                  "description": "Update an existing project milestone",
                  "properties": {
                    "created_at": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "due_date": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "iid": {
                      "type": "string"
                    },
                    "project_id": {
                      "type": "string"
                    },
                    "start_date": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "project_id": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "subscribed": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "updated_at": {
                  "type": "string"
                },
                "upvotes": {
                  "type": "string"
                },
                "user_notes_count": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get a list of group issues",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/orderid/members": {
      "get": {
        "description": "Gets a list of group or project members viewable by the authenticated user.",
        "operationId": "getv3groupsidmembers",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A query string to search for members",
            "in": "query",
            "name": "query",
            "required": false,
            "type": "string"
          },
          {
            "description": "Current page number",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Gets a list of group or project members viewable by the authenticated user.",
            "schema": {
              "description": "Updates a member of a group or project.",
              "properties": {
                "access_level": {
                  "type": "string"
                },
                "avatar_url": {
                  "type": "string"
                },
                "expires_at": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Gets a list of group or project members viewable by the authenticated user.",
        "tags": [
          "groups"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Adds a member to a group or project.",
        "operationId": "postv3groupsidmembers-v2",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The user ID of the new member",
            "format": "int32",
            "in": "formData",
            "name": "user_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "A valid access level (defaults: `30`, developer access level)",
            "format": "int32",
            "in": "formData",
            "name": "access_level",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Date string in the format YEAR-MONTH-DAY",
            "format": "date-time",
            "in": "formData",
            "name": "expires_at",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Adds a member to a group or project.",
            "schema": {
              "description": "Updates a member of a group or project.",
              "properties": {
                "access_level": {
                  "type": "string"
                },
                "avatar_url": {
                  "type": "string"
                },
                "expires_at": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Adds a member to a group or project.",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/sku/members/orderid": {
      "delete": {
        "description": "Removes a user from a group or project.",
        "operationId": "deletev3groupsidmembersuserid-v2",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The user ID of the member",
            "format": "int32",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Removes a user from a group or project."
          }
        },
        "summary": "Removes a user from a group or project.",
        "tags": [
          "groups"
        ]
      },
      "get": {
        "description": "Gets a member of a group or project.",
        "operationId": "getv3groupsidmembersuserid-v2",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The user ID of the member",
            "format": "int32",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Gets a member of a group or project.",
            "schema": {
              "description": "Updates a member of a group or project.",
              "properties": {
                "access_level": {
                  "type": "string"
                },
                "avatar_url": {
                  "type": "string"
                },
                "expires_at": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Gets a member of a group or project.",
        "tags": [
          "groups"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "Updates a member of a group or project.",
        "operationId": "putv3groupsidmembersuserid",
        "parameters": [
          {
            "description": "The group ID",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The user ID of the new member",
            "format": "int32",
            "in": "path",
            "name": "user_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "A valid access level",
            "format": "int32",
            "in": "formData",
            "name": "access_level",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Date string in the format YEAR-MONTH-DAY",
            "format": "date-time",
            "in": "formData",
            "name": "expires_at",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Updates a member of a group or project.",
            "schema": {
              "description": "Updates a member of a group or project.",
              "properties": {
                "access_level": {
                  "type": "string"
                },
                "avatar_url": {
                  "type": "string"
                },
                "expires_at": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                },
                "web_url": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Updates a member of a group or project.",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/paymentid/notification-settings": {
      "get": {
        "description": "This feature was introduced in GitLab 8.12",
        "operationId": "getv3groupsidnotificationsettings-v2",
        "parameters": [
          {
            "description": "The group ID or project ID or project NAMESPACE/PROJECT_NAME",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get group level notification level settings, defaults to Global",
            "schema": {
              "description": "This feature was introduced in GitLab 8.12",
              "properties": {
                "events": {
                  "type": "string"
                },
                "level": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get group level notification level settings, defaults to Global",
        "tags": [
          "groups"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "description": "This feature was introduced in GitLab 8.12",
        "operationId": "putv3groupsidnotificationsettings-v2",
        "parameters": [
          {
            "description": "The group ID or project ID or project NAMESPACE/PROJECT_NAME",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The group notification level",
            "in": "formData",
            "name": "level",
            "required": false,
            "type": "string"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "new_note",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "new_issue",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "reopen_issue",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "close_issue",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "reassign_issue",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "new_merge_request",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "reopen_merge_request",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "close_merge_request",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "reassign_merge_request",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "merge_merge_request",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "failed_pipeline",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Enable/disable this notification",
            "in": "formData",
            "name": "success_pipeline",
            "required": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Update group level notification level settings, defaults to Global",
            "schema": {
              "description": "This feature was introduced in GitLab 8.12",
              "properties": {
                "events": {
                  "type": "string"
                },
                "level": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Update group level notification level settings, defaults to Global",
        "tags": [
          "groups"
        ]
      }
    },
    "/v3/groups/orderid/projects": {
      "get": {
        "description": "Get a list of projects in this group.",
        "operationId": "getv3groupsidprojects",
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Limit by archived status",
            "in": "query",
            "name": "archived",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Limit by visibility",
            "enum": [
              "public",
              "internal",
              "private"
            ],
            "in": "query",
            "name": "visibility",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return list of authorized projects matching the search criteria",
            "in": "query",
            "name": "search",
            "required": false,
            "type": "string"
          },
          {
            "default": "created_at",
            "description": "Return projects ordered by field",
            "enum": [
              "id",
              "name",
              "path",
              "created_at",
              "updated_at",
              "last_activity_at"
            ],
            "in": "query",
            "name": "order_by",
            "required": false,
            "type": "string"
          },
          {
            "default": "desc",
            "description": "Return projects sorted in ascending and descending order",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return only the ID, URL, name, and path of each project",
            "in": "query",
            "name": "simple",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Current page number",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Number of items per page",
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get a list of projects in this group.",
            "schema": {
              "description": "Unstar a project",
              "properties": {
                "archived": {
                  "type": "string"
                },
                "avatar_url": {
                  "type": "string"
                },
                "builds_enabled": {
                  "type": "string"
                },
                "container_registry_enabled": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string"
                },
                "creator_id": {
                  "type": "string"
                },
                "default_branch": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "forked_from_project": {
                  "description": "Get all projects for admin user",
                  "properties": {
                    "http_url_to_repo": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "name_with_namespace": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "path_with_namespace": {
                      "type": "string"
                    },
                    "web_url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "forks_count": {
                  "type": "string"
                },
                "http_url_to_repo": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "issues_enabled": {
                  "type": "string"
                },
                "last_activity_at": {
                  "type": "string"
                },
                "lfs_enabled": {
                  "type": "string"
                },
                "merge_requests_enabled": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "name_with_namespace": {
                  "type": "string"
                },
                "namespace": {
                  "description": "Get a namespaces list",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "only_allow_merge_if_all_discussions_are_resolved": {
                  "type": "string"
                },
                "only_allow_merge_if_build_succeeds": {
                  "type": "string"
                },
                "open_issues_count": {
                  "type": "string"
                },
                "owner": {
                  "description": "Get a single user",
                  "properties": {
                    "avatar_url": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "web_url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "path": {
                  "type": "string"
                },
                "path_with_namespace": {
                  "type": "string"
                },
                "public": {
                  "type": "string"
                },
                "public_builds": {
                  "type": "string"
                },
                "request_access_enabled": {
                  "type": "string"
                },
                "runners_token": {
                  "type": "string"
                },
                "shared_runners_enabled": {
                  "type": "string"
                },
                "shared_with_groups": {
                  "type": "string"
                },
                "snippets_enabled": {
                  "type": "string"
                },
                "ssh_url_to_repo": {
                  "type": "string"
                },
                "star_count": {
                  "type": "string"
                },
                "statistics": {
                  "properties": {
                    "build_artifacts_size": {
                      "type": "string"
                    },
                    "commit_count": {
                      "type": "string"
                    },
                    "lfs_objects_size": {
                      "type": "string"
                    },
                    "repository_size": {
                      "type": "string"
[...]
