{
  "openapi": "3.0.0",
  "info": {
    "version": "2016-10-20",
    "x-release": "v4",
    "title": "AWS Budgets",
    "description": "<p>Use the Amazon Web Services Budgets API to plan your service usage, service costs, and instance reservations. This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for the Amazon Web Services Budgets feature. </p> <p>Budgets provide you with a way to see the following information:</p> <ul> <li> <p>How close your plan is to your budgeted amount or to the free tier limits</p> </li> <li> <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p> </li> <li> <p>Your current estimated charges from Amazon Web Services, and how much your predicted usage will accrue in charges by the end of the month</p> </li> <li> <p>How much of your budget has been used</p> </li> </ul> <p>Amazon Web Services updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p> <ul> <li> <p> <b>Cost budgets</b> - Plan how much you want to spend on a service.</p> </li> <li> <p> <b>Usage budgets</b> - Plan how much you want to use one or more services.</p> </li> <li> <p> <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p> </li> <li> <p> <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p> </li> </ul> <p>Service Endpoint</p> <p>The Amazon Web Services Budgets API provides the following endpoint:</p> <ul> <li> <p>https://budgets.amazonaws.com</p> </li> </ul> <p>For information about costs that are associated with the Amazon Web Services Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost Management Pricing</a>.</p>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "budgets",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/budgets-2016-10-20.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/budgets/"
  },
  "servers": [
    {
      "url": "https://budgets.amazonaws.com",
      "variables": {},
      "description": "The general AWSBudgets multi-region endpoint"
    },
    {
      "url": "http://budgets.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWSBudgets endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://budgets.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWSBudgets endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/shipments/{id}": {
      "post": {
        "operationId": "describebudget",
        "description": "<p>Describes a budget.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples\">Examples</a> section. </p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Budget": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "BudgetName",
                            "TimeUnit",
                            "BudgetType"
                          ],
                          "properties": {
                            "BudgetName": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "^(?![^:\\\\]*/action/)[^:\\\\]+$",
                                  "description": " A string that represents the budget name. The \":\" and \"\\\" characters, and the \"/action/\" substring, aren't allowed.",
                                  "minLength": 1,
                                  "maxLength": 100
                                },
                                {
                                  "description": "The name of a budget. The name must be unique within an account. The <code>:</code> and <code>\\</code> characters, and the \"/action/\" substring, aren't allowed in <code>BudgetName</code>."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "BudgetLimit": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "required": [
                                    "Amount",
                                    "Unit"
                                  ],
                                  "properties": {
                                    "Amount": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "pattern": "([0-9]*\\.)?[0-9]+",
                                          "description": " A string that represents a numeric value.",
                                          "minLength": 1,
                                          "maxLength": 2147483647
                                        },
                                        {
                                          "description": "The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "Unit": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "pattern": ".*",
                                          "description": " A string that represents the spend unit of a budget. It can't be null or empty.",
                                          "minLength": 1,
                                          "maxLength": 2147483647
                                        },
                                        {
                                          "description": "The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "<p>The amount of cost or usage that's measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage has the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>"
                                },
                                {
                                  "description": "<p>The total amount of cost, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI or Savings Plans utilization or coverage budgets. RI and Savings Plans utilization or coverage budgets default to <code>100</code>. This is the only valid value for RI or Savings Plans utilization or coverage budgets. You can't use <code>BudgetLimit</code> with <code>PlannedBudgetLimits</code> for <code>CreateBudget</code> and <code>UpdateBudget</code> actions. </p>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "PlannedBudgetLimits": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "object",
                                    "required": [
                                      "Amount",
                                      "Unit"
                                    ],
                                    "properties": {
                                      "Amount": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "pattern": "([0-9]*\\.)?[0-9]+",
                                            "description": " A string that represents a numeric value.",
                                            "minLength": 1,
                                            "maxLength": 2147483647
                                          },
                                          {
                                            "description": "The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "Unit": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "pattern": ".*",
                                            "description": " A string that represents the spend unit of a budget. It can't be null or empty.",
                                            "minLength": 1,
                                            "maxLength": 2147483647
                                          },
                                          {
                                            "description": "The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "<p>The amount of cost or usage that's measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage has the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>"
                                  }
                                },
                                {
                                  "description": "<p>A map containing multiple <code>BudgetLimit</code>, including current or future limits.</p> <p> <code>PlannedBudgetLimits</code> is available for cost or usage budget and supports both monthly and quarterly <code>TimeUnit</code>. </p> <p>For monthly budgets, provide 12 months of <code>PlannedBudgetLimits</code> values. This must start from the current month and include the next 11 months. The <code>key</code> is the start of the month, <code>UTC</code> in epoch seconds. </p> <p>For quarterly budgets, provide four quarters of <code>PlannedBudgetLimits</code> value entries in standard calendar quarter increments. This must start from the current quarter and include the next three quarters. The <code>key</code> is the start of the quarter, <code>UTC</code> in epoch seconds. </p> <p>If the planned budget expires before 12 months for monthly or four quarters for quarterly, provide the <code>PlannedBudgetLimits</code> values only for the remaining periods.</p> <p>If the budget begins at a date in the future, provide <code>PlannedBudgetLimits</code> values from the start date of the budget. </p> <p>After all of the <code>BudgetLimit</code> values in <code>PlannedBudgetLimits</code> are used, the budget continues to use the last limit as the <code>BudgetLimit</code>. At that point, the planned budget provides the same experience as a fixed budget. </p> <p> <code>DescribeBudget</code> and <code>DescribeBudgets</code> response along with <code>PlannedBudgetLimits</code> also contain <code>BudgetLimit</code> representing the current month or quarter limit present in <code>PlannedBudgetLimits</code>. This only applies to budgets that are created with <code>PlannedBudgetLimits</code>. Budgets that are created without <code>PlannedBudgetLimits</code> only contain <code>BudgetLimit</code>. They don't contain <code>PlannedBudgetLimits</code>.</p>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "CostFilters": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "description": " A map that represents the cost filters that are applied to the budget.",
                                  "additionalProperties": {
                                    "type": "array",
                                    "items": {
                                      "type": "string",
                                      "pattern": "[\\S\\s]*",
                                      "minLength": 0,
                                      "maxLength": 2147483647
                                    }
                                  }
                                },
                                {
                                  "description": "<p>The cost filters, such as <code>Region</code>, <code>Service</code>, <code>member account</code>, <code>Tag</code>, or <code>Cost Category</code>, that are applied to a budget.</p> <p>Amazon Web Services Budgets supports the following services as a <code>Service</code> filter for RI budgets:</p> <ul> <li> <p>Amazon EC2</p> </li> <li> <p>Amazon Redshift</p> </li> <li> <p>Amazon Relational Database Service</p> </li> <li> <p>Amazon ElastiCache</p> </li> <li> <p>Amazon OpenSearch Service</p> </li> </ul>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "CostTypes": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "IncludeTax": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes taxes.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeSubscription": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes subscriptions.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "UseBlended": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget uses a blended rate.</p> <p>The default value is <code>false</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeRefund": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes refunds.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeCredit": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes credits.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeUpfront": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes upfront RI costs.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeRecurring": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes recurring fees such as monthly RI fees.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeOtherSubscription": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes non-RI subscription costs.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeSupport": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes support subscription fees.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "IncludeDiscount": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget includes discounts.</p> <p>The default value is <code>true</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "UseAmortized": {
                                      "allOf": [
                                        {
                                          "type": "boolean"
                                        },
                                        {
                                          "description": "<p>Specifies whether a budget uses the amortized rate.</p> <p>The default value is <code>false</code>.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "<p>The types of cost that are included in a <code>COST</code> budget, such as tax and subscriptions.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, and <code>SAVINGS_PLANS_COVERAGE</code> budgets don't have <code>CostTypes</code>.</p>"
                                },
                                {
                                  "description": "<p>The types of costs that are included in this <code>COST</code> budget.</p> <p> <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, and <code>SAVINGS_PLANS_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "TimeUnit": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "DAILY",
                                    "MONTHLY",
                                    "QUARTERLY",
                                    "ANNUALLY"
                                  ],
                                  "description": " The time unit of the budget, such as MONTHLY or QUARTERLY."
                                },
                                {
                                  "description": "The length of time until a budget resets the actual and forecasted spend."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "TimePeriod": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "Start": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "description": " A generic time stamp. In Java, it's transformed to a <code>Date</code> object.",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "<p>The start date for a budget. If you created your budget and didn't specify a start date, Amazon Web Services defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, Amazon Web Services set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, Amazon Web Services set your start date to <code>01/01/18 00:00 UTC</code>. The defaults are the same for the Billing and Cost Management console and the API.</p> <p>You can change your start date with the <code>UpdateBudget</code> operation.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "End": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "description": " A generic time stamp. In Java, it's transformed to a <code>Date</code> object.",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "<p>The end date for a budget. If you didn't specify an end date, Amazon Web Services set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the Billing and Cost Management console and the API.</p> <p>After the end date, Amazon Web Services deletes the budget and all the associated notifications and subscribers. You can change your end date with the <code>UpdateBudget</code> operation.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "The period of time that's covered by a budget. The period has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. "
                                },
                                {
                                  "description": "<p>The period of time that's covered by a budget. You setthe start date and end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p> <p>If you create your budget and don't specify a start date, Amazon Web Services defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, Amazon Web Services set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, Amazon Web Services set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, Amazon Web Services set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the Billing and Cost Management console and the API. </p> <p>You can change either date with the <code>UpdateBudget</code> operation.</p> <p>After the end date, Amazon Web Services deletes the budget and all the associated notifications and subscribers.</p>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "CalculatedSpend": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "required": [
                                    "ActualSpend"
                                  ],
                                  "properties": {
                                    "ActualSpend": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "Amount",
                                            "Unit"
                                          ],
                                          "properties": {
                                            "Amount": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "pattern": "([0-9]*\\.)?[0-9]+",
                                                  "description": " A string that represents a numeric value.",
                                                  "minLength": 1,
                                                  "maxLength": 2147483647
                                                },
                                                {
                                                  "description": "The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "Unit": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "pattern": ".*",
                                                  "description": " A string that represents the spend unit of a budget. It can't be null or empty.",
                                                  "minLength": 1,
                                                  "maxLength": 2147483647
                                                },
                                                {
                                                  "description": "The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            }
                                          },
                                          "description": "<p>The amount of cost or usage that's measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage has the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>"
                                        },
                                        {
                                          "description": "The amount of cost, usage, RI units, or Savings Plans units that you used."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "ForecastedSpend": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "Amount",
                                            "Unit"
                                          ],
                                          "properties": {
                                            "Amount": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "pattern": "([0-9]*\\.)?[0-9]+",
                                                  "description": " A string that represents a numeric value.",
                                                  "minLength": 1,
                                                  "maxLength": 2147483647
                                                },
                                                {
                                                  "description": "The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "Unit": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "pattern": ".*",
                                                  "description": " A string that represents the spend unit of a budget. It can't be null or empty.",
                                                  "minLength": 1,
                                                  "maxLength": 2147483647
                                                },
                                                {
                                                  "description": "The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            }
                                          },
                                          "description": "<p>The amount of cost or usage that's measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage has the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>"
                                        },
                                        {
                                          "description": "The amount of cost, usage, RI units, or Savings Plans units that you're forecasted to use."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "<p>The spend objects that are associated with this budget. The <code>actualSpend</code> tracks how much you've used, cost, usage, RI units, or Savings Plans units and the <code>forecastedSpend</code> tracks how much that you're predicted to spend based on your historical usage profile.</p> <p>For example, if it's the 20th of the month and you have spent <code>50</code> dollars on Amazon EC2, your <code>actualSpend</code> is <code>50 USD</code>, and your <code>forecastedSpend</code> is <code>75 USD</code>.</p>"
                                },
                                {
                                  "description": "The actual and forecasted cost or usage that the budget tracks."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "BudgetType": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "USAGE",
                                    "COST",
                                    "RI_UTILIZATION",
                                    "RI_COVERAGE",
                                    "SAVINGS_PLANS_UTILIZATION",
                                    "SAVINGS_PLANS_COVERAGE"
                                  ],
                                  "description": "<p> The type of a budget. It must be one of the following types: </p> <p> <code>COST</code>, <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, or <code>SAVINGS_PLANS_COVERAGE</code>.</p>"
                                },
                                {
                                  "description": "Specifies whether this budget tracks costs, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "LastUpdatedTime": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "description": " A generic time stamp. In Java, it's transformed to a <code>Date</code> object.",
                                  "format": "date-time"
                                },
                                {
                                  "description": "The last time that you updated this budget."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "AutoAdjustData": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "required": [
                                    "AutoAdjustType"
                                  ],
                                  "properties": {
                                    "AutoAdjustType": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "enum": [
                                            "HISTORICAL",
                                            "FORECAST"
                                          ]
                                        },
                                        {
                                          "description": "The string that defines whether your budget auto-adjusts based on historical or forecasted data."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "HistoricalOptions": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "BudgetAdjustmentPeriod"
                                          ],
                                          "properties": {
                                            "BudgetAdjustmentPeriod": {
                                              "allOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": 1,
                                                  "maximum": 60
                                                },
                                                {
                                                  "description": "<p>The number of budget periods included in the moving-average calculation that determines your auto-adjusted budget amount. The maximum value depends on the <code>TimeUnit</code> granularity of the budget:</p> <ul> <li> <p>For the <code>DAILY</code> granularity, the maximum value is <code>60</code>.</p> </li> <li> <p>For the <code>MONTHLY</code> granularity, the maximum value is <code>12</code>.</p> </li> <li> <p>For the <code>QUARTERLY</code> granularity, the maximum value is <code>4</code>.</p> </li> <li> <p>For the <code>ANNUALLY</code> granularity, the maximum value is <code>1</code>.</p> </li> </ul>"
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "LookBackAvailablePeriods": {
                                              "allOf": [
                                                {
                                                  "type": "integer",
                                                  "minimum": 1,
                                                  "maximum": 60
                                                },
                                                {
                                                  "description": "<p>The integer that describes how many budget periods in your <code>BudgetAdjustmentPeriod</code> are included in the calculation of your current <code>BudgetLimit</code>. If the first budget period in your <code>BudgetAdjustmentPeriod</code> has no cost data, then that budget period isn’t included in the average that determines your budget limit. </p> <p>For example, if you set <code>BudgetAdjustmentPeriod</code> as <code>4</code> quarters, but your account had no cost data in the first quarter, then only the last three quarters are included in the calculation. In this scenario, <code>LookBackAvailablePeriods</code> returns <code>3</code>. </p> <p>You can’t set your own <code>LookBackAvailablePeriods</code>. The value is automatically calculated from the <code>BudgetAdjustmentPeriod</code> and your historical cost data.</p>"
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            }
                                          },
                                          "description": "The parameters that define or describe the historical data that your auto-adjusting budget is based on."
                                        },
                                        {
                                          "description": "The parameters that define or describe the historical data that your auto-adjusting budget is based on."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "LastAutoAdjustTime": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "description": " A generic time stamp. In Java, it's transformed to a <code>Date</code> object.",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "The last time that your budget was auto-adjusted."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "The parameters that determine the budget amount for an auto-adjusting budget."
                                },
                                {
                                  "description": "The parameters that determine the budget amount for an auto-adjusting budget."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "<p>Represents the output of the <code>CreateBudget</code> operation. The content consists of the detailed metadata and data file information, and the current status of the <code>budget</code> object.</p> <p>This is the Amazon Resource Name (ARN) pattern for a budget: </p> <p> <code>arn:aws:budgets::AccountId:budget/budgetName</code> </p>"
                        },
                        {
                          "description": "The description of the budget."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": " Response of DescribeBudget "
                }
              }
            }
          },
          "480": {
            "description": "InternalErrorException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountId",
                  "BudgetName"
                ],
                "title": "DescribeBudgetRequest",
                "properties": {
                  "AccountId": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "\\d{12}",
                        "description": "The account ID of the user. It's a 12-digit number.",
                        "minLength": 12,
                        "maxLength": 12
                      },
                      {
                        "description": "The <code>accountId</code> that is associated with the budget that you want a description of."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "BudgetName": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "^(?![^:\\\\]*/action/)[^:\\\\]+$",
                        "description": " A string that represents the budget name. The \":\" and \"\\\" characters, and the \"/action/\" substring, aren't allowed.",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      {
                        "description": "The name of the budget that you want a description of."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                },
                "description": " Request of DescribeBudget "
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSBudgetServiceGateway.DescribeBudget"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/orders/{id}": {
      "post": {
        "operationId": "describesubscribersfornotification",
        "description": "Lists the subscribers that are associated with a notification.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Subscribers": {
                      "allOf": [
                        {
                          "type": "array",
                          "description": " A list of subscribers.",
                          "items": {
                            "type": "object",
                            "required": [
                              "SubscriptionType",
                              "Address"
                            ],
                            "properties": {
                              "SubscriptionType": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "SNS",
                                      "EMAIL"
                                    ],
                                    "description": " The subscription type of the subscriber. It can be SMS or EMAIL."
                                  },
                                  {
                                    "description": "The type of notification that Amazon Web Services sends to a subscriber."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "Address": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "(.*[\\n\\r\\t\\f\\ ]?)*",
                                    "description": " A string that contains an email address or SNS topic for the subscriber's address.",
                                    "minLength": 1,
                                    "maxLength": 2147483647,
                                    "format": "password"
                                  },
                                  {
                                    "description": "<p>The address that Amazon Web Services sends budget notifications to, either an SNS topic or an email.</p> <p>When you create a subscriber, the value of <code>Address</code> can't contain line breaks.</p>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "<p>The subscriber to a budget notification. The subscriber consists of a subscription type and either an Amazon SNS topic or an email address.</p> <p>For example, an email subscriber has the following parameters:</p> <ul> <li> <p>A <code>subscriptionType</code> of <code>EMAIL</code> </p> </li> <li> <p>An <code>address</code> of <code>example@example.com</code> </p> </li> </ul>"
                          },
                          "minItems": 1,
                          "maxItems": 11
                        },
                        {
                          "description": "A list of subscribers that are associated with a notification."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "NextToken": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": ".*",
                          "description": " A generic string.",
                          "minLength": 0,
                          "maxLength": 2147483647
                        },
                        {
                          "description": "The pagination token in the service response that indicates the next set of results that you can retrieve."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": " Response of DescribeSubscribersForNotification "
                }
              }
            }
          },
          "480": {
            "description": "InternalErrorException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "InvalidParameterException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "InvalidNextTokenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ExpiredNextTokenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountId",
                  "BudgetName",
                  "Notification"
                ],
                "title": "DescribeSubscribersForNotificationRequest",
                "properties": {
                  "AccountId": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "\\d{12}",
                        "description": "The account ID of the user. It's a 12-digit number.",
                        "minLength": 12,
                        "maxLength": 12
                      },
                      {
                        "description": "The <code>accountId</code> that is associated with the budget whose subscribers you want descriptions of."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "BudgetName": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "^(?![^:\\\\]*/action/)[^:\\\\]+$",
                        "description": " A string that represents the budget name. The \":\" and \"\\\" characters, and the \"/action/\" substring, aren't allowed.",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      {
                        "description": "The name of the budget whose subscribers you want descriptions of."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "Notification": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "NotificationType",
                          "ComparisonOperator",
                          "Threshold"
                        ],
                        "properties": {
                          "NotificationType": {
                            "allOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "ACTUAL",
                                  "FORECASTED"
                                ],
                                "description": " The type of a notification. It must be ACTUAL or FORECASTED."
                              },
                              {
                                "description": "Specifies whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much that you're forecasted to spend (<code>FORECASTED</code>)."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "ComparisonOperator": {
                            "allOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "GREATER_THAN",
                                  "LESS_THAN",
                                  "EQUAL_TO"
                                ],
                                "description": "<p> The comparison operator of a notification. Currently, the service supports the following operators:</p> <p> <code>GREATER_THAN</code>, <code>LESS_THAN</code>, <code>EQUAL_TO</code> </p>"
                              },
                              {
                                "description": "The comparison that's used for this notification."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "Threshold": {
                            "allOf": [
                              {
                                "type": "number",
                                "description": " The threshold of a notification.",
                                "format": "double",
                                "minimum": 0,
                                "maximum": 15000000000000
                              },
                              {
                                "description": "The threshold that's associated with a notification. Thresholds are always a percentage, and many customers find value being alerted between 50% - 200% of the budgeted amount. The maximum limit for your threshold is 1,000,000% above the budgeted amount."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "ThresholdType": {
                            "allOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "PERCENTAGE",
                                  "ABSOLUTE_VALUE"
                                ],
                                "description": " The type of threshold for a notification."
                              },
                              {
                                "description": "The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, Amazon Web Services notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, Amazon Web Services notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, Amazon Web Services notifies you when you go over 160 dollars."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "NotificationState": {
                            "allOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "OK",
                                  "ALARM"
                                ]
                              },
                              {
                                "description": "Specifies whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you passed the set threshold for the budget."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        "description": "<p>A notification that's associated with a budget. A budget can have up to ten notifications. </p> <p>Each notification must have at least one subscriber. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.</p> <p>For example, if you have a budget for 200 dollars and you want to be notified when you go over 160 dollars, create a notification with the following parameters:</p> <ul> <li> <p>A notificationType of <code>ACTUAL</code> </p> </li> <li> <p>A <code>thresholdType</code> of <code>PERCENTAGE</code> </p> </li> <li> <p>A <code>comparisonOperator</code> of <code>GREATER_THAN</code> </p> </li> <li> <p>A notification <code>threshold</code> of <code>80</code> </p> </li> </ul>"
                      },
                      {
                        "description": "The notification whose subscribers you want to list."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "MaxResults": {
                    "allOf": [
                      {
                        "type": "integer",
                        "description": " An integer that represents how many entries a paginated response contains. The maximum is 100.",
                        "minimum": 1,
                        "maximum": 100
                      },
                      {
                        "description": "An optional integer that represents how many entries a paginated response contains. The maximum is 100."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "NextToken": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": ".*",
                        "description": " A generic string.",
                        "minLength": 0,
                        "maxLength": 2147483647
                      },
                      {
                        "description": "The pagination token that you include in your request to indicate the next set of results that you want to retrieve."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                },
                "description": " Request of DescribeSubscribersForNotification "
              }
            }
          }
        },
        "parameters": [
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          },
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSBudgetServiceGateway.DescribeSubscribersForNotification"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/products/{id}": {
      "post": {
        "operationId": "describebudgetnotificationsforaccount",
        "description": " Lists the budget names and notifications that are associated with an account. ",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "BudgetNotificationsForAccount": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Notifications": {
                                "type": "array",
                                "description": " A list of notifications.",
                                "items": {
                                  "type": "object",
                                  "required": [
                                    "NotificationType",
                                    "ComparisonOperator",
                                    "Threshold"
                                  ],
                                  "properties": {
                                    "NotificationType": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "enum": [
                                            "ACTUAL",
                                            "FORECASTED"
                                          ],
                                          "description": " The type of a notification. It must be ACTUAL or FORECASTED."
                                        },
                                        {
                                          "description": "Specifies whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much that you're forecasted to spend (<code>FORECASTED</code>)."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "ComparisonOperator": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "enum": [
                                            "GREATER_THAN",
                                            "LESS_THAN",
                                            "EQUAL_TO"
                                          ],
                                          "description": "<p> The comparison operator of a notification. Currently, the service supports the following operators:</p> <p> <code>GREATER_THAN</code>, <code>LESS_THAN</code>, <code>EQUAL_TO</code> </p>"
                                        },
                                        {
                                          "description": "The comparison that's used for this notification."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "Threshold": {
                                      "allOf": [
                                        {
                                          "type": "number",
                                          "description": " The threshold of a notification.",
                                          "format": "double",
                                          "minimum": 0,
                                          "maximum": 15000000000000
                                        },
                                        {
                                          "description": "The threshold that's associated with a notification. Thresholds are always a percentage, and many customers find value being alerted between 50% - 200% of the budgeted amount. The maximum limit for your threshold is 1,000,000% above the budgeted amount."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "ThresholdType": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "enum": [
                                            "PERCENTAGE",
                                            "ABSOLUTE_VALUE"
                                          ],
                                          "description": " The type of threshold for a notification."
                                        },
                                        {
                                          "description": "The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, Amazon Web Services notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, Amazon Web Services notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, Amazon Web Services notifies you when you go over 160 dollars."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "NotificationState": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "enum": [
                                            "OK",
                                            "ALARM"
                                          ]
                                        },
                                        {
                                          "description": "Specifies whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you passed the set threshold for the budget."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "<p>A notification that's associated with a budget. A budget can have up to ten notifications. </p> <p>Each notification must have at least one subscriber. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.</p> <p>For example, if you have a budget for 200 dollars and you want to be notified when you go over 160 dollars, create a notification with the following parameters:</p> <ul> <li> <p>A notificationType of <code>ACTUAL</code> </p> </li> <li> <p>A <code>thresholdType</code> of <code>PERCENTAGE</code> </p> </li> <li> <p>A <code>comparisonOperator</code> of <code>GREATER_THAN</code> </p> </li> <li> <p>A notification <code>threshold</code> of <code>80</code> </p> </li> </ul>"
                                }
                              },
                              "BudgetName": {
                                "type": "string",
                                "pattern": "^(?![^:\\\\]*/action/)[^:\\\\]+$",
                                "description": " A string that represents the budget name. The \":\" and \"\\\" characters, and the \"/action/\" substring, aren't allowed.",
                                "minLength": 1,
                                "maxLength": 100
                              }
                            },
                            "description": " The budget name and associated notifications for an account. "
                          },
                          "maxItems": 50
                        },
                        {
                          "description": " A list of budget names and associated notifications for an account. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "NextToken": {
                      "type": "string",
                      "pattern": ".*",
                      "description": " A generic string.",
                      "minLength": 0,
                      "maxLength": 2147483647
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InternalErrorException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "InvalidNextTokenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ExpiredNextTokenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "AccountId"
                ],
                "title": "DescribeBudgetNotificationsForAccountRequest",
                "properties": {
                  "AccountId": {
                    "type": "string",
                    "pattern": "\\d{12}",
                    "description": "The account ID of the user. It's a 12-digit number.",
                    "minLength": 12,
                    "maxLength": 12
                  },
                  "MaxResults": {
                    "allOf": [
                      {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 50
                      },
                      {
                        "description": " An integer that shows how many budget name entries a paginated response contains. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "NextToken": {
                    "type": "string",
                    "pattern": ".*",
                    "description": " A generic string.",
                    "minLength": 0,
                    "maxLength": 2147483647
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          },
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSBudgetServiceGateway.DescribeBudgetNotificationsForAccount"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/carts/{id}": {
      "post": {
        "operationId": "describebudgets-v2",
        "description": "<p>Lists the budgets that are associated with an account.</p> <important> <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudgets.html#API_DescribeBudgets_Examples\">Examples</a> section. </p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Budgets": {
                      "allOf": [
                        {
                          "type": "array",
                          "description": " A list of budgets.",
                          "items": {
                            "type": "object",
                            "required": [
                              "BudgetName",
                              "TimeUnit",
                              "BudgetType"
                            ],
                            "properties": {
                              "BudgetName": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "^(?![^:\\\\]*/action/)[^:\\\\]+$",
                                    "description": " A string that represents the budget name. The \":\" and \"\\\" characters, and the \"/action/\" substring, aren't allowed.",
                                    "minLength": 1,
                                    "maxLength": 100
                                  },
                                  {
                                    "description": "The name of a budget. The name must be unique within an account. The <code>:</code> and <code>\\</code> characters, and the \"/action/\" substring, aren't allowed in <code>BudgetName</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "BudgetLimit": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "Amount",
                                      "Unit"
                                    ],
                                    "properties": {
                                      "Amount": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "pattern": "([0-9]*\\.)?[0-9]+",
                                            "description": " A string that represents a numeric value.",
                                            "minLength": 1,
                                            "maxLength": 2147483647
                                          },
                                          {
                                            "description": "The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "Unit": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "pattern": ".*",
                                            "description": " A string that represents the spend unit of a budget. It can't be null or empty.",
                                            "minLength": 1,
                                            "maxLength": 2147483647
                                          },
                                          {
                                            "description": "The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "<p>The amount of cost or usage that's measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage has the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>"
                                  },
                                  {
                                    "description": "<p>The total amount of cost, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage that you want to track with your budget.</p> <p> <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI or Savings Plans utilization or coverage budgets. RI and Savings Plans utilization or coverage budgets default to <code>100</code>. This is the only valid value for RI or Savings Plans utilization or coverage budgets. You can't use <code>BudgetLimit</code> with <code>PlannedBudgetLimits</code> for <code>CreateBudget</code> and <code>UpdateBudget</code> actions. </p>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "PlannedBudgetLimits": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "object",
                                      "required": [
                                        "Amount",
                                        "Unit"
                                      ],
                                      "properties": {
                                        "Amount": {
                                          "allOf": [
                                            {
                                              "type": "string",
                                              "pattern": "([0-9]*\\.)?[0-9]+",
                                              "description": " A string that represents a numeric value.",
                                              "minLength": 1,
                                              "maxLength": 2147483647
                                            },
                                            {
                                              "description": "The cost or usage amount that's associated with a budget forecast, actual spend, or budget threshold."
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        },
                                        "Unit": {
                                          "allOf": [
                                            {
                                              "type": "string",
                                              "pattern": ".*",
                                              "description": " A string that represents the spend unit of a budget. It can't be null or empty.",
                                              "minLength": 1,
                                              "maxLength": 2147483647
                                            },
                                            {
                                              "description": "The unit of measurement that's used for the budget forecast, actual spend, or budget threshold, such as USD or GBP."
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        }
                                      },
                                      "description": "<p>The amount of cost or usage that's measured for a budget.</p> <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage has the following parameters:</p> <ul> <li> <p>An <code>Amount</code> of <code>3</code> </p> </li> <li> <p>A <code>unit</code> of <code>GB</code> </p> </li> </ul>"
                                    }
                                  },
                                  {
[...]
