{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.hubapi.com"
    }
  ],
  "info": {
    "title": "Automation Actions V4",
    "version": "v4",
    "x-hubspot-api-use-case": "You want to empower other users in your account to automate specialized parts of their day-to-day processes (e.g., creating highly customized quotes based on the data from an enrolled contact and their associations).",
    "x-hubspot-documentation-banner": "NONE",
    "x-hubspot-introduction": "Use the automation API to define custom actions in the HubSpot workflows tool, which allows users in your account to integrate with external services as they build out a HubSpot workflow.",
    "x-hubspot-product-tier-requirements": {
      "marketing": "PROFESSIONAL",
      "sales": "PROFESSIONAL",
      "service": "PROFESSIONAL"
    },
    "x-hubspot-related-documentation": [
      {
        "name": "Custom Workflow Actions Guide",
        "url": "https://hubspot.dev/guides/api/automation/custom-workflow-actions"
      }
    ],
    "x-logo": {
      "url": "https://developers.hubspot.com/hubfs/assets/hubspot.com/buzz/HubSpotOpenGraph.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.hubspot.com/api-catalog-public/v1/apis/automation/v4/actions",
        "version": "3.0"
      }
    ],
    "x-providerName": "hubapi.com",
    "x-serviceName": "automation"
  },
  "tags": [
    {
      "name": "Callbacks"
    },
    {
      "name": "Revisions"
    },
    {
      "name": "Functions"
    },
    {
      "name": "Definitions"
    }
  ],
  "paths": {
    "/carts/{id}": {
      "post": {
        "operationId": "post-mation-v4-actions-callbacks-complete-completebatch-v2",
        "parameters": [
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "inputs": {
                    "items": {
                      "properties": {
                        "callbackId": {
                          "type": "string"
                        },
                        "outputFields": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "callbackId",
                        "outputFields"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "inputs"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "content": {},
            "description": "No content"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "example": {
                    "category": "VALIDATION_ERROR",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "links": {
                      "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    },
                    "message": "Invalid input (details will vary based on the error)"
                  },
                  "properties": {
                    "category": {
                      "description": "The error category",
                      "example": "VALIDATION_ERROR",
                      "type": "string"
                    },
                    "context": {
                      "additionalProperties": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "description": "Context about the error condition",
                      "example": {
                        "invalidPropertyName": [
                          "propertyValue"
                        ],
                        "missingScopes": [
                          "scope1",
                          "scope2"
                        ]
                      },
                      "type": "object"
                    },
                    "correlationId": {
                      "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                      "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                      "format": "uuid",
                      "type": "string"
                    },
                    "errors": {
                      "description": "further information about the error",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "The status code associated with the error detail",
                            "type": "string"
                          },
                          "context": {
                            "additionalProperties": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "description": "Context about the error condition",
                            "example": {
                              "missingScopes": [
                                "scope1",
                                "scope2"
                              ]
                            },
                            "type": "object"
                          },
                          "in": {
                            "description": "The name of the field or parameter in which the error was found.",
                            "type": "string"
                          },
                          "message": {
                            "description": "A human readable message describing the error along with remediation steps where appropriate",
                            "type": "string"
                          },
                          "subCategory": {
                            "description": "A specific category that contains more specific detail about the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                      "example": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                      },
                      "type": "object"
                    },
                    "message": {
                      "description": "A human readable message describing the error along with remediation steps where appropriate",
                      "example": "Invalid input (details will vary based on the error)",
                      "type": "string"
                    },
                    "subCategory": {
                      "description": "A specific category that contains more specific detail about the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "category",
                    "correlationId",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "An error occurred."
          }
        },
        "security": [
          {
            "oauth2_legacy": [
              "automation"
            ]
          },
          {
            "private_apps_legacy": []
          }
        ],
        "summary": "Completes a batch of callbacks",
        "tags": [
          "Callbacks"
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "operationId": "get-mation-v4-actions-appid-getpage-v2",
        "parameters": [
          {
            "description": "The maximum number of results to display per page.",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "explode": true,
            "in": "query",
            "name": "after",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Whether to return only results that have been archived.",
            "explode": true,
            "in": "query",
            "name": "archived",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            },
            "style": "form"
          },
          {
            "explode": false,
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "paging": {
                      "properties": {
                        "next": {
                          "properties": {
                            "after": {
                              "type": "string"
                            },
                            "link": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "after"
                          ],
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "properties": {
                          "actionUrl": {
                            "type": "string"
                          },
                          "archivedAt": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "executionRules": {
                            "items": {
                              "properties": {
                                "conditions": {
                                  "additionalProperties": {
                                    "properties": {},
                                    "type": "object"
                                  },
                                  "type": "object"
                                },
                                "labelName": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "conditions",
                                "labelName"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "functions": {
                            "items": {
                              "properties": {
                                "functionType": {
                                  "enum": [
                                    "PRE_ACTION_EXECUTION",
                                    "PRE_FETCH_OPTIONS",
                                    "POST_FETCH_OPTIONS",
                                    "POST_ACTION_EXECUTION"
                                  ],
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "functionType"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "id": {
                            "type": "string"
                          },
                          "inputFieldDependencies": {
                            "items": {
                              "oneOf": [
                                {
                                  "properties": {
                                    "controllingFieldName": {
                                      "type": "string"
                                    },
                                    "dependencyType": {
                                      "default": "SINGLE_FIELD",
                                      "enum": [
                                        "SINGLE_FIELD"
                                      ],
                                      "type": "string"
                                    },
                                    "dependentFieldNames": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "required": [
                                    "controllingFieldName",
                                    "dependencyType",
                                    "dependentFieldNames"
                                  ],
                                  "title": "SINGLE_FIELD",
                                  "type": "object"
                                },
                                {
                                  "properties": {
                                    "controllingFieldName": {
                                      "type": "string"
                                    },
                                    "controllingFieldValue": {
                                      "type": "string"
                                    },
                                    "dependencyType": {
                                      "default": "CONDITIONAL_SINGLE_FIELD",
                                      "enum": [
                                        "CONDITIONAL_SINGLE_FIELD"
                                      ],
                                      "type": "string"
                                    },
                                    "dependentFieldNames": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "required": [
                                    "controllingFieldName",
                                    "controllingFieldValue",
                                    "dependencyType",
                                    "dependentFieldNames"
                                  ],
                                  "title": "CONDITIONAL_SINGLE_FIELD",
                                  "type": "object"
                                }
                              ],
                              "_polymorphic_marker": {
                                "oneOf": true
                              }
                            },
                            "type": "array"
                          },
                          "inputFields": {
                            "items": {
                              "properties": {
                                "automationFieldType": {
                                  "type": "string"
                                },
                                "isRequired": {
                                  "type": "boolean"
                                },
                                "supportedValueTypes": {
                                  "items": {
                                    "enum": [
                                      "STATIC_VALUE",
                                      "OBJECT_PROPERTY",
                                      "FIELD_DATA",
                                      "FETCHED_OBJECT_PROPERTY",
                                      "ENROLLMENT_EVENT_PROPERTY"
                                    ],
                                    "type": "string"
                                  },
                                  "type": "array"
                                },
                                "typeDefinition": {
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "externalOptions": {
                                      "type": "boolean"
                                    },
                                    "externalOptionsReferenceType": {
                                      "type": "string"
                                    },
                                    "fieldType": {
                                      "enum": [
                                        "booleancheckbox",
                                        "checkbox",
                                        "date",
                                        "file",
                                        "number",
                                        "phonenumber",
                                        "radio",
                                        "select",
                                        "text",
                                        "textarea",
                                        "calculation_equation",
                                        "calculation_rollup",
                                        "calculation_score",
                                        "calculation_read_time",
                                        "unknown",
                                        "html"
                                      ],
                                      "type": "string"
                                    },
                                    "helpText": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "options": {
                                      "items": {
                                        "properties": {
                                          "description": {
                                            "type": "string"
                                          },
                                          "displayOrder": {
                                            "format": "int32",
                                            "type": "integer"
                                          },
                                          "doubleData": {
                                            "type": "number"
                                          },
                                          "hidden": {
                                            "type": "boolean"
                                          },
                                          "label": {
                                            "type": "string"
                                          },
                                          "readOnly": {
                                            "type": "boolean"
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "description",
                                          "displayOrder",
                                          "doubleData",
                                          "hidden",
                                          "label",
                                          "readOnly",
                                          "value"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    },
                                    "optionsUrl": {
                                      "type": "string"
                                    },
                                    "referencedObjectType": {
                                      "enum": [
                                        "CONTACT",
                                        "COMPANY",
                                        "DEAL",
                                        "ENGAGEMENT",
                                        "TICKET",
                                        "OWNER",
                                        "PRODUCT",
                                        "LINE_ITEM",
                                        "BET_DELIVERABLE_SERVICE",
                                        "CONTENT",
                                        "CONVERSATION",
                                        "BET_ALERT",
                                        "PORTAL",
                                        "QUOTE",
                                        "FORM_SUBMISSION_INBOUNDDB",
                                        "QUOTA",
                                        "UNSUBSCRIBE",
                                        "COMMUNICATION",
                                        "FEEDBACK_SUBMISSION",
                                        "ATTRIBUTION",
                                        "SALESFORCE_SYNC_ERROR",
                                        "RESTORABLE_CRM_OBJECT",
                                        "HUB",
                                        "LANDING_PAGE",
                                        "PRODUCT_OR_FOLDER",
                                        "TASK",
                                        "FORM",
                                        "MARKETING_EMAIL",
                                        "AD_ACCOUNT",
                                        "AD_CAMPAIGN",
                                        "AD_GROUP",
                                        "AD",
                                        "KEYWORD",
                                        "CAMPAIGN",
                                        "SOCIAL_CHANNEL",
                                        "SOCIAL_POST",
                                        "SITE_PAGE",
                                        "BLOG_POST",
                                        "IMPORT",
                                        "EXPORT",
                                        "CTA",
                                        "TASK_TEMPLATE",
                                        "AUTOMATION_PLATFORM_FLOW",
                                        "OBJECT_LIST",
                                        "NOTE",
                                        "MEETING_EVENT",
                                        "CALL",
                                        "EMAIL",
                                        "PUBLISHING_TASK",
                                        "CONVERSATION_SESSION",
                                        "CONTACT_CREATE_ATTRIBUTION",
                                        "INVOICE",
                                        "MARKETING_EVENT",
                                        "CONVERSATION_INBOX",
                                        "CHATFLOW",
                                        "MEDIA_BRIDGE",
                                        "SEQUENCE",
                                        "SEQUENCE_STEP",
                                        "FORECAST",
                                        "SNIPPET",
                                        "TEMPLATE",
                                        "DEAL_CREATE_ATTRIBUTION",
                                        "QUOTE_TEMPLATE",
                                        "QUOTE_MODULE",
                                        "QUOTE_MODULE_FIELD",
                                        "QUOTE_FIELD",
                                        "SEQUENCE_ENROLLMENT",
                                        "SUBSCRIPTION",
                                        "ACCEPTANCE_TEST",
                                        "SOCIAL_BROADCAST",
                                        "DEAL_SPLIT",
                                        "DEAL_REGISTRATION",
                                        "GOAL_TARGET",
                                        "GOAL_TARGET_GROUP",
                                        "PORTAL_OBJECT_SYNC_MESSAGE",
                                        "FILE_MANAGER_FILE",
                                        "FILE_MANAGER_FOLDER",
                                        "SEQUENCE_STEP_ENROLLMENT",
                                        "APPROVAL",
                                        "APPROVAL_STEP",
                                        "CTA_VARIANT",
                                        "SALES_DOCUMENT",
                                        "DISCOUNT",
                                        "FEE",
                                        "TAX",
                                        "MARKETING_CALENDAR",
                                        "PERMISSIONS_TESTING",
                                        "PRIVACY_SCANNER_COOKIE",
                                        "DATA_SYNC_STATE",
                                        "WEB_INTERACTIVE",
                                        "PLAYBOOK",
                                        "FOLDER",
                                        "PLAYBOOK_QUESTION",
                                        "PLAYBOOK_SUBMISSION",
                                        "PLAYBOOK_SUBMISSION_ANSWER",
                                        "COMMERCE_PAYMENT",
                                        "GSC_PROPERTY",
                                        "SOX_PROTECTED_DUMMY_TYPE",
                                        "BLOG_LISTING_PAGE",
                                        "QUARANTINED_SUBMISSION",
                                        "PAYMENT_SCHEDULE",
                                        "PAYMENT_SCHEDULE_INSTALLMENT",
                                        "MARKETING_CAMPAIGN_UTM",
                                        "DISCOUNT_TEMPLATE",
                                        "DISCOUNT_CODE",
                                        "FEEDBACK_SURVEY",
                                        "CMS_URL",
                                        "SALES_TASK",
                                        "SALES_WORKLOAD",
                                        "USER",
                                        "POSTAL_MAIL",
                                        "SCHEMAS_BACKEND_TEST",
                                        "PAYMENT_LINK",
                                        "SUBMISSION_TAG",
                                        "CAMPAIGN_STEP",
                                        "SCHEDULING_PAGE",
                                        "SOX_PROTECTED_TEST_TYPE",
                                        "ORDER",
                                        "MARKETING_SMS",
                                        "PARTNER_ACCOUNT",
                                        "CAMPAIGN_TEMPLATE",
                                        "CAMPAIGN_TEMPLATE_STEP",
                                        "PLAYLIST",
                                        "CLIP",
                                        "CAMPAIGN_BUDGET_ITEM",
                                        "CAMPAIGN_SPEND_ITEM",
                                        "MIC",
                                        "CONTENT_AUDIT",
                                        "CONTENT_AUDIT_PAGE",
                                        "PLAYLIST_FOLDER",
                                        "LEAD",
                                        "ABANDONED_CART",
                                        "EXTERNAL_WEB_URL",
                                        "VIEW",
                                        "VIEW_BLOCK",
                                        "ROSTER",
                                        "CART",
                                        "AUTOMATION_PLATFORM_FLOW_ACTION",
                                        "SOCIAL_PROFILE",
                                        "PARTNER_CLIENT",
                                        "ROSTER_MEMBER",
                                        "MARKETING_EVENT_ATTENDANCE",
                                        "ALL_PAGES",
                                        "AI_FORECAST",
                                        "CRM_PIPELINES_DUMMY_TYPE",
                                        "KNOWLEDGE_ARTICLE",
                                        "PROPERTY_INFO",
                                        "DATA_PRIVACY_CONSENT",
                                        "GOAL_TEMPLATE",
                                        "SCORE_CONFIGURATION",
                                        "AUDIENCE",
                                        "PARTNER_CLIENT_REVENUE",
                                        "AUTOMATION_JOURNEY",
                                        "UNKNOWN"
                                      ],
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "string",
                                        "number",
                                        "bool",
                                        "datetime",
                                        "enumeration",
                                        "date",
                                        "phone_number",
                                        "currency_number",
                                        "json",
                                        "object_coordinates"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "externalOptions",
                                    "name",
                                    "options",
                                    "type"
                                  ],
                                  "type": "object"
                                }
                              },
                              "required": [
                                "isRequired",
                                "typeDefinition"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "labels": {
                            "additionalProperties": {
                              "properties": {
                                "actionCardContent": {
                                  "type": "string"
                                },
                                "actionDescription": {
                                  "type": "string"
                                },
                                "actionName": {
                                  "type": "string"
                                },
                                "appDisplayName": {
                                  "type": "string"
                                },
                                "executionRules": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "inputFieldDescriptions": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "inputFieldLabels": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "inputFieldOptionLabels": {
                                  "additionalProperties": {
                                    "additionalProperties": {
                                      "type": "string"
                                    },
                                    "type": "object"
                                  },
                                  "type": "object"
                                },
                                "outputFieldLabels": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                }
                              },
                              "required": [
                                "actionName"
                              ],
                              "type": "object"
                            },
                            "type": "object"
                          },
                          "objectRequestOptions": {
                            "properties": {
                              "properties": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "required": [
                              "properties"
                            ],
                            "type": "object"
                          },
                          "objectTypes": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "outputFields": {
                            "items": {
                              "properties": {
                                "typeDefinition": {
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "externalOptions": {
                                      "type": "boolean"
                                    },
                                    "externalOptionsReferenceType": {
                                      "type": "string"
                                    },
                                    "fieldType": {
                                      "enum": [
                                        "booleancheckbox",
                                        "checkbox",
                                        "date",
                                        "file",
                                        "number",
                                        "phonenumber",
                                        "radio",
                                        "select",
                                        "text",
                                        "textarea",
                                        "calculation_equation",
                                        "calculation_rollup",
                                        "calculation_score",
                                        "calculation_read_time",
                                        "unknown",
                                        "html"
                                      ],
                                      "type": "string"
                                    },
                                    "helpText": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "options": {
                                      "items": {
                                        "properties": {
                                          "description": {
                                            "type": "string"
                                          },
                                          "displayOrder": {
                                            "format": "int32",
                                            "type": "integer"
                                          },
                                          "doubleData": {
                                            "type": "number"
                                          },
                                          "hidden": {
                                            "type": "boolean"
                                          },
                                          "label": {
                                            "type": "string"
                                          },
                                          "readOnly": {
                                            "type": "boolean"
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "description",
                                          "displayOrder",
                                          "doubleData",
                                          "hidden",
                                          "label",
                                          "readOnly",
                                          "value"
                                        ],
                                        "type": "object"
                                      },
                                      "type": "array"
                                    },
                                    "optionsUrl": {
                                      "type": "string"
                                    },
                                    "referencedObjectType": {
                                      "enum": [
                                        "CONTACT",
                                        "COMPANY",
                                        "DEAL",
                                        "ENGAGEMENT",
                                        "TICKET",
                                        "OWNER",
                                        "PRODUCT",
                                        "LINE_ITEM",
                                        "BET_DELIVERABLE_SERVICE",
                                        "CONTENT",
                                        "CONVERSATION",
                                        "BET_ALERT",
                                        "PORTAL",
                                        "QUOTE",
                                        "FORM_SUBMISSION_INBOUNDDB",
                                        "QUOTA",
                                        "UNSUBSCRIBE",
                                        "COMMUNICATION",
                                        "FEEDBACK_SUBMISSION",
                                        "ATTRIBUTION",
                                        "SALESFORCE_SYNC_ERROR",
                                        "RESTORABLE_CRM_OBJECT",
                                        "HUB",
                                        "LANDING_PAGE",
                                        "PRODUCT_OR_FOLDER",
                                        "TASK",
                                        "FORM",
                                        "MARKETING_EMAIL",
                                        "AD_ACCOUNT",
                                        "AD_CAMPAIGN",
                                        "AD_GROUP",
                                        "AD",
                                        "KEYWORD",
                                        "CAMPAIGN",
                                        "SOCIAL_CHANNEL",
                                        "SOCIAL_POST",
                                        "SITE_PAGE",
                                        "BLOG_POST",
                                        "IMPORT",
                                        "EXPORT",
                                        "CTA",
                                        "TASK_TEMPLATE",
                                        "AUTOMATION_PLATFORM_FLOW",
                                        "OBJECT_LIST",
                                        "NOTE",
                                        "MEETING_EVENT",
                                        "CALL",
                                        "EMAIL",
                                        "PUBLISHING_TASK",
                                        "CONVERSATION_SESSION",
                                        "CONTACT_CREATE_ATTRIBUTION",
                                        "INVOICE",
                                        "MARKETING_EVENT",
                                        "CONVERSATION_INBOX",
                                        "CHATFLOW",
                                        "MEDIA_BRIDGE",
                                        "SEQUENCE",
                                        "SEQUENCE_STEP",
                                        "FORECAST",
                                        "SNIPPET",
                                        "TEMPLATE",
                                        "DEAL_CREATE_ATTRIBUTION",
                                        "QUOTE_TEMPLATE",
                                        "QUOTE_MODULE",
                                        "QUOTE_MODULE_FIELD",
                                        "QUOTE_FIELD",
                                        "SEQUENCE_ENROLLMENT",
                                        "SUBSCRIPTION",
                                        "ACCEPTANCE_TEST",
                                        "SOCIAL_BROADCAST",
                                        "DEAL_SPLIT",
                                        "DEAL_REGISTRATION",
                                        "GOAL_TARGET",
                                        "GOAL_TARGET_GROUP",
                                        "PORTAL_OBJECT_SYNC_MESSAGE",
                                        "FILE_MANAGER_FILE",
                                        "FILE_MANAGER_FOLDER",
                                        "SEQUENCE_STEP_ENROLLMENT",
                                        "APPROVAL",
                                        "APPROVAL_STEP",
                                        "CTA_VARIANT",
                                        "SALES_DOCUMENT",
                                        "DISCOUNT",
                                        "FEE",
                                        "TAX",
                                        "MARKETING_CALENDAR",
                                        "PERMISSIONS_TESTING",
                                        "PRIVACY_SCANNER_COOKIE",
                                        "DATA_SYNC_STATE",
                                        "WEB_INTERACTIVE",
                                        "PLAYBOOK",
                                        "FOLDER",
                                        "PLAYBOOK_QUESTION",
                                        "PLAYBOOK_SUBMISSION",
                                        "PLAYBOOK_SUBMISSION_ANSWER",
                                        "COMMERCE_PAYMENT",
                                        "GSC_PROPERTY",
                                        "SOX_PROTECTED_DUMMY_TYPE",
                                        "BLOG_LISTING_PAGE",
                                        "QUARANTINED_SUBMISSION",
                                        "PAYMENT_SCHEDULE",
                                        "PAYMENT_SCHEDULE_INSTALLMENT",
                                        "MARKETING_CAMPAIGN_UTM",
                                        "DISCOUNT_TEMPLATE",
                                        "DISCOUNT_CODE",
                                        "FEEDBACK_SURVEY",
                                        "CMS_URL",
                                        "SALES_TASK",
                                        "SALES_WORKLOAD",
                                        "USER",
                                        "POSTAL_MAIL",
                                        "SCHEMAS_BACKEND_TEST",
                                        "PAYMENT_LINK",
                                        "SUBMISSION_TAG",
                                        "CAMPAIGN_STEP",
                                        "SCHEDULING_PAGE",
                                        "SOX_PROTECTED_TEST_TYPE",
                                        "ORDER",
                                        "MARKETING_SMS",
                                        "PARTNER_ACCOUNT",
                                        "CAMPAIGN_TEMPLATE",
                                        "CAMPAIGN_TEMPLATE_STEP",
                                        "PLAYLIST",
                                        "CLIP",
                                        "CAMPAIGN_BUDGET_ITEM",
                                        "CAMPAIGN_SPEND_ITEM",
                                        "MIC",
                                        "CONTENT_AUDIT",
                                        "CONTENT_AUDIT_PAGE",
                                        "PLAYLIST_FOLDER",
                                        "LEAD",
                                        "ABANDONED_CART",
                                        "EXTERNAL_WEB_URL",
                                        "VIEW",
                                        "VIEW_BLOCK",
                                        "ROSTER",
                                        "CART",
                                        "AUTOMATION_PLATFORM_FLOW_ACTION",
                                        "SOCIAL_PROFILE",
                                        "PARTNER_CLIENT",
                                        "ROSTER_MEMBER",
                                        "MARKETING_EVENT_ATTENDANCE",
                                        "ALL_PAGES",
                                        "AI_FORECAST",
                                        "CRM_PIPELINES_DUMMY_TYPE",
                                        "KNOWLEDGE_ARTICLE",
                                        "PROPERTY_INFO",
                                        "DATA_PRIVACY_CONSENT",
                                        "GOAL_TEMPLATE",
                                        "SCORE_CONFIGURATION",
                                        "AUDIENCE",
                                        "PARTNER_CLIENT_REVENUE",
                                        "AUTOMATION_JOURNEY",
                                        "UNKNOWN"
                                      ],
                                      "type": "string"
                                    },
                                    "type": {
                                      "enum": [
                                        "string",
                                        "number",
                                        "bool",
                                        "datetime",
                                        "enumeration",
                                        "date",
                                        "phone_number",
                                        "currency_number",
                                        "json",
                                        "object_coordinates"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "externalOptions",
                                    "name",
                                    "options",
                                    "type"
                                  ],
                                  "type": "object"
                                }
                              },
                              "required": [
                                "typeDefinition"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "revisionId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "actionUrl",
                          "functions",
                          "id",
                          "inputFields",
                          "labels",
                          "objectTypes",
                          "published",
                          "revisionId"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "results"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          },
          "default": {
            "content": {
              "*/*": {
                "schema": {
                  "example": {
                    "category": "VALIDATION_ERROR",
                    "correlationId": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                    "links": {
                      "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                    },
                    "message": "Invalid input (details will vary based on the error)"
                  },
                  "properties": {
                    "category": {
                      "description": "The error category",
                      "example": "VALIDATION_ERROR",
                      "type": "string"
                    },
                    "context": {
                      "additionalProperties": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "description": "Context about the error condition",
                      "example": {
                        "invalidPropertyName": [
                          "propertyValue"
                        ],
                        "missingScopes": [
                          "scope1",
                          "scope2"
                        ]
                      },
                      "type": "object"
                    },
                    "correlationId": {
                      "description": "A unique identifier for the request. Include this value with any error reports or support tickets",
                      "example": "aeb5f871-7f07-4993-9211-075dc63e7cbf",
                      "format": "uuid",
                      "type": "string"
                    },
                    "errors": {
                      "description": "further information about the error",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "The status code associated with the error detail",
                            "type": "string"
                          },
                          "context": {
                            "additionalProperties": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "description": "Context about the error condition",
                            "example": {
                              "missingScopes": [
                                "scope1",
                                "scope2"
                              ]
                            },
                            "type": "object"
                          },
                          "in": {
                            "description": "The name of the field or parameter in which the error was found.",
                            "type": "string"
                          },
                          "message": {
                            "description": "A human readable message describing the error along with remediation steps where appropriate",
                            "type": "string"
                          },
                          "subCategory": {
                            "description": "A specific category that contains more specific detail about the error",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "links": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "A map of link names to associated URIs containing documentation about the error or recommended remediation steps",
                      "example": {
                        "knowledge-base": "https://www.hubspot.com/products/service/knowledge-base"
                      },
                      "type": "object"
                    },
                    "message": {
                      "description": "A human readable message describing the error along with remediation steps where appropriate",
                      "example": "Invalid input (details will vary based on the error)",
                      "type": "string"
                    },
                    "subCategory": {
                      "description": "A specific category that contains more specific detail about the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "category",
                    "correlationId",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "An error occurred."
          }
        },
        "security": [
          {
            "developer_hapikey": []
          }
        ],
        "summary": "Get paged extension definitions",
        "tags": [
          "Definitions"
        ]
      },
      "post": {
        "operationId": "post-mation-v4-actions-appid-create",
        "parameters": [
          {
            "explode": false,
            "in": "path",
            "name": "appId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "actionUrl": {
                    "type": "string"
                  },
                  "archivedAt": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "executionRules": {
                    "items": {
                      "properties": {
                        "conditions": {
                          "additionalProperties": {
                            "properties": {},
                            "type": "object"
                          },
                          "type": "object"
                        },
                        "labelName": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "conditions",
                        "labelName"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "functions": {
                    "items": {
                      "properties": {
                        "functionSource": {
                          "type": "string"
                        },
                        "functionType": {
                          "enum": [
                            "PRE_ACTION_EXECUTION",
                            "PRE_FETCH_OPTIONS",
                            "POST_FETCH_OPTIONS",
                            "POST_ACTION_EXECUTION"
                          ],
                          "type": "string"
                        },
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "functionSource",
                        "functionType"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "inputFieldDependencies": {
                    "items": {
                      "oneOf": [
                        {
                          "properties": {
                            "controllingFieldName": {
                              "type": "string"
                            },
                            "dependencyType": {
                              "default": "SINGLE_FIELD",
                              "enum": [
                                "SINGLE_FIELD"
                              ],
                              "type": "string"
                            },
                            "dependentFieldNames": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "controllingFieldName",
                            "dependencyType",
                            "dependentFieldNames"
                          ],
                          "title": "SINGLE_FIELD",
                          "type": "object"
                        },
                        {
                          "properties": {
                            "controllingFieldName": {
                              "type": "string"
                            },
                            "controllingFieldValue": {
                              "type": "string"
                            },
                            "dependencyType": {
                              "default": "CONDITIONAL_SINGLE_FIELD",
                              "enum": [
                                "CONDITIONAL_SINGLE_FIELD"
                              ],
                              "type": "string"
                            },
                            "dependentFieldNames": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "controllingFieldName",
                            "controllingFieldValue",
                            "dependencyType",
                            "dependentFieldNames"
                          ],
                          "title": "CONDITIONAL_SINGLE_FIELD",
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "oneOf": true
                      }
                    },
                    "type": "array"
                  },
                  "inputFields": {
                    "items": {
                      "properties": {
                        "automationFieldType": {
                          "type": "string"
                        },
                        "isRequired": {
                          "type": "boolean"
                        },
                        "supportedValueTypes": {
                          "items": {
                            "enum": [
                              "STATIC_VALUE",
                              "OBJECT_PROPERTY",
                              "FIELD_DATA",
                              "FETCHED_OBJECT_PROPERTY",
                              "ENROLLMENT_EVENT_PROPERTY"
                            ],
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "typeDefinition": {
                          "properties": {
                            "description": {
                              "type": "string"
                            },
                            "externalOptions": {
                              "type": "boolean"
                            },
                            "externalOptionsReferenceType": {
                              "type": "string"
                            },
                            "fieldType": {
                              "enum": [
                                "booleancheckbox",
                                "checkbox",
                                "date",
                                "file",
                                "number",
                                "phonenumber",
                                "radio",
                                "select",
                                "text",
                                "textarea",
                                "calculation_equation",
                                "calculation_rollup",
                                "calculation_score",
                                "calculation_read_time",
                                "unknown",
                                "html"
                              ],
                              "type": "string"
                            },
                            "helpText": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "options": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayOrder": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "doubleData": {
                                    "type": "number"
                                  },
                                  "hidden": {
                                    "type": "boolean"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "description",
                                  "displayOrder",
                                  "doubleData",
                                  "hidden",
                                  "label",
                                  "readOnly",
                                  "value"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "optionsUrl": {
                              "type": "string"
                            },
                            "referencedObjectType": {
                              "enum": [
                                "CONTACT",
                                "COMPANY",
                                "DEAL",
                                "ENGAGEMENT",
                                "TICKET",
                                "OWNER",
                                "PRODUCT",
                                "LINE_ITEM",
                                "BET_DELIVERABLE_SERVICE",
                                "CONTENT",
                                "CONVERSATION",
                                "BET_ALERT",
                                "PORTAL",
                                "QUOTE",
                                "FORM_SUBMISSION_INBOUNDDB",
                                "QUOTA",
                                "UNSUBSCRIBE",
                                "COMMUNICATION",
                                "FEEDBACK_SUBMISSION",
                                "ATTRIBUTION",
                                "SALESFORCE_SYNC_ERROR",
                                "RESTORABLE_CRM_OBJECT",
                                "HUB",
                                "LANDING_PAGE",
                                "PRODUCT_OR_FOLDER",
                                "TASK",
                                "FORM",
                                "MARKETING_EMAIL",
                                "AD_ACCOUNT",
                                "AD_CAMPAIGN",
                                "AD_GROUP",
                                "AD",
                                "KEYWORD",
                                "CAMPAIGN",
                                "SOCIAL_CHANNEL",
                                "SOCIAL_POST",
                                "SITE_PAGE",
                                "BLOG_POST",
                                "IMPORT",
                                "EXPORT",
                                "CTA",
                                "TASK_TEMPLATE",
                                "AUTOMATION_PLATFORM_FLOW",
                                "OBJECT_LIST",
                                "NOTE",
                                "MEETING_EVENT",
                                "CALL",
                                "EMAIL",
                                "PUBLISHING_TASK",
                                "CONVERSATION_SESSION",
                                "CONTACT_CREATE_ATTRIBUTION",
                                "INVOICE",
                                "MARKETING_EVENT",
                                "CONVERSATION_INBOX",
                                "CHATFLOW",
                                "MEDIA_BRIDGE",
                                "SEQUENCE",
                                "SEQUENCE_STEP",
                                "FORECAST",
                                "SNIPPET",
                                "TEMPLATE",
                                "DEAL_CREATE_ATTRIBUTION",
                                "QUOTE_TEMPLATE",
                                "QUOTE_MODULE",
                                "QUOTE_MODULE_FIELD",
                                "QUOTE_FIELD",
                                "SEQUENCE_ENROLLMENT",
                                "SUBSCRIPTION",
                                "ACCEPTANCE_TEST",
                                "SOCIAL_BROADCAST",
                                "DEAL_SPLIT",
                                "DEAL_REGISTRATION",
                                "GOAL_TARGET",
                                "GOAL_TARGET_GROUP",
                                "PORTAL_OBJECT_SYNC_MESSAGE",
                                "FILE_MANAGER_FILE",
                                "FILE_MANAGER_FOLDER",
                                "SEQUENCE_STEP_ENROLLMENT",
                                "APPROVAL",
                                "APPROVAL_STEP",
                                "CTA_VARIANT",
                                "SALES_DOCUMENT",
                                "DISCOUNT",
                                "FEE",
                                "TAX",
                                "MARKETING_CALENDAR",
                                "PERMISSIONS_TESTING",
                                "PRIVACY_SCANNER_COOKIE",
                                "DATA_SYNC_STATE",
                                "WEB_INTERACTIVE",
                                "PLAYBOOK",
                                "FOLDER",
                                "PLAYBOOK_QUESTION",
                                "PLAYBOOK_SUBMISSION",
                                "PLAYBOOK_SUBMISSION_ANSWER",
                                "COMMERCE_PAYMENT",
                                "GSC_PROPERTY",
                                "SOX_PROTECTED_DUMMY_TYPE",
                                "BLOG_LISTING_PAGE",
                                "QUARANTINED_SUBMISSION",
                                "PAYMENT_SCHEDULE",
                                "PAYMENT_SCHEDULE_INSTALLMENT",
                                "MARKETING_CAMPAIGN_UTM",
                                "DISCOUNT_TEMPLATE",
                                "DISCOUNT_CODE",
                                "FEEDBACK_SURVEY",
                                "CMS_URL",
                                "SALES_TASK",
                                "SALES_WORKLOAD",
                                "USER",
                                "POSTAL_MAIL",
                                "SCHEMAS_BACKEND_TEST",
                                "PAYMENT_LINK",
                                "SUBMISSION_TAG",
                                "CAMPAIGN_STEP",
                                "SCHEDULING_PAGE",
                                "SOX_PROTECTED_TEST_TYPE",
                                "ORDER",
                                "MARKETING_SMS",
                                "PARTNER_ACCOUNT",
                                "CAMPAIGN_TEMPLATE",
                                "CAMPAIGN_TEMPLATE_STEP",
                                "PLAYLIST",
                                "CLIP",
                                "CAMPAIGN_BUDGET_ITEM",
                                "CAMPAIGN_SPEND_ITEM",
                                "MIC",
                                "CONTENT_AUDIT",
                                "CONTENT_AUDIT_PAGE",
                                "PLAYLIST_FOLDER",
                                "LEAD",
                                "ABANDONED_CART",
                                "EXTERNAL_WEB_URL",
                                "VIEW",
                                "VIEW_BLOCK",
                                "ROSTER",
                                "CART",
                                "AUTOMATION_PLATFORM_FLOW_ACTION",
                                "SOCIAL_PROFILE",
                                "PARTNER_CLIENT",
                                "ROSTER_MEMBER",
                                "MARKETING_EVENT_ATTENDANCE",
                                "ALL_PAGES",
                                "AI_FORECAST",
                                "CRM_PIPELINES_DUMMY_TYPE",
                                "KNOWLEDGE_ARTICLE",
                                "PROPERTY_INFO",
                                "DATA_PRIVACY_CONSENT",
                                "GOAL_TEMPLATE",
                                "SCORE_CONFIGURATION",
                                "AUDIENCE",
                                "PARTNER_CLIENT_REVENUE",
                                "AUTOMATION_JOURNEY",
                                "UNKNOWN"
                              ],
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "string",
                                "number",
                                "bool",
                                "datetime",
                                "enumeration",
                                "date",
                                "phone_number",
                                "currency_number",
                                "json",
                                "object_coordinates"
                              ],
                              "type": "string"
                            }
                          },
                          "required": [
                            "externalOptions",
                            "name",
                            "options",
                            "type"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "isRequired",
                        "typeDefinition"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "labels": {
                    "additionalProperties": {
                      "properties": {
                        "actionCardContent": {
                          "type": "string"
                        },
                        "actionDescription": {
                          "type": "string"
                        },
                        "actionName": {
                          "type": "string"
                        },
                        "appDisplayName": {
                          "type": "string"
                        },
                        "executionRules": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        },
                        "inputFieldDescriptions": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        },
                        "inputFieldLabels": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        },
                        "inputFieldOptionLabels": {
                          "additionalProperties": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          },
                          "type": "object"
                        },
                        "outputFieldLabels": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "actionName"
                      ],
                      "type": "object"
                    },
                    "type": "object"
                  },
                  "objectRequestOptions": {
                    "properties": {
                      "properties": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "properties"
                    ],
                    "type": "object"
                  },
                  "objectTypes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "outputFields": {
                    "items": {
                      "properties": {
                        "typeDefinition": {
                          "properties": {
                            "description": {
                              "type": "string"
                            },
                            "externalOptions": {
                              "type": "boolean"
                            },
                            "externalOptionsReferenceType": {
                              "type": "string"
                            },
                            "fieldType": {
                              "enum": [
                                "booleancheckbox",
                                "checkbox",
                                "date",
                                "file",
                                "number",
                                "phonenumber",
                                "radio",
                                "select",
                                "text",
                                "textarea",
                                "calculation_equation",
                                "calculation_rollup",
                                "calculation_score",
                                "calculation_read_time",
                                "unknown",
                                "html"
                              ],
                              "type": "string"
                            },
                            "helpText": {
                              "type": "string"
                            },
                            "label": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "options": {
                              "items": {
                                "properties": {
                                  "description": {
                                    "type": "string"
                                  },
                                  "displayOrder": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "doubleData": {
                                    "type": "number"
                                  },
                                  "hidden": {
                                    "type": "boolean"
                                  },
                                  "label": {
                                    "type": "string"
                                  },
                                  "readOnly": {
                                    "type": "boolean"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "description",
                                  "displayOrder",
                                  "doubleData",
                                  "hidden",
                                  "label",
                                  "readOnly",
                                  "value"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "optionsUrl": {
                              "type": "string"
                            },
                            "referencedObjectType": {
                              "enum": [
                                "CONTACT",
                                "COMPANY",
                                "DEAL",
                                "ENGAGEMENT",
                                "TICKET",
                                "OWNER",
                                "PRODUCT",
                                "LINE_ITEM",
                                "BET_DELIVERABLE_SERVICE",
                                "CONTENT",
                                "CONVERSATION",
                                "BET_ALERT",
                                "PORTAL",
                                "QUOTE",
                                "FORM_SUBMISSION_INBOUNDDB",
                                "QUOTA",
                                "UNSUBSCRIBE",
                                "COMMUNICATION",
                                "FEEDBACK_SUBMISSION",
                                "ATTRIBUTION",
                                "SALESFORCE_SYNC_ERROR",
                                "RESTORABLE_CRM_OBJECT",
                                "HUB",
                                "LANDING_PAGE",
                                "PRODUCT_OR_FOLDER",
                                "TASK",
                                "FORM",
                                "MARKETING_EMAIL",
                                "AD_ACCOUNT",
                                "AD_CAMPAIGN",
                                "AD_GROUP",
                                "AD",
                                "KEYWORD",
                                "CAMPAIGN",
                                "SOCIAL_CHANNEL",
                                "SOCIAL_POST",
                                "SITE_PAGE",
                                "BLOG_POST",
                                "IMPORT",
                                "EXPORT",
                                "CTA",
                                "TASK_TEMPLATE",
                                "AUTOMATION_PLATFORM_FLOW",
                                "OBJECT_LIST",
                                "NOTE",
                                "MEETING_EVENT",
                                "CALL",
                                "EMAIL",
                                "PUBLISHING_TASK",
                                "CONVERSATION_SESSION",
                                "CONTACT_CREATE_ATTRIBUTION",
                                "INVOICE",
                                "MARKETING_EVENT",
                                "CONVERSATION_INBOX",
                                "CHATFLOW",
                                "MEDIA_BRIDGE",
                                "SEQUENCE",
                                "SEQUENCE_STEP",
                                "FORECAST",
                                "SNIPPET",
                                "TEMPLATE",
                                "DEAL_CREATE_ATTRIBUTION",
                                "QUOTE_TEMPLATE",
                                "QUOTE_MODULE",
                                "QUOTE_MODULE_FIELD",
                                "QUOTE_FIELD",
                                "SEQUENCE_ENROLLMENT",
                                "SUBSCRIPTION",
                                "ACCEPTANCE_TEST",
                                "SOCIAL_BROADCAST",
                                "DEAL_SPLIT",
                                "DEAL_REGISTRATION",
                                "GOAL_TARGET",
                                "GOAL_TARGET_GROUP",
                                "PORTAL_OBJECT_SYNC_MESSAGE",
                                "FILE_MANAGER_FILE",
                                "FILE_MANAGER_FOLDER",
                                "SEQUENCE_STEP_ENROLLMENT",
                                "APPROVAL",
                                "APPROVAL_STEP",
                                "CTA_VARIANT",
                                "SALES_DOCUMENT",
                                "DISCOUNT",
                                "FEE",
                                "TAX",
                                "MARKETING_CALENDAR",
                                "PERMISSIONS_TESTING",
                                "PRIVACY_SCANNER_COOKIE",
                                "DATA_SYNC_STATE",
                                "WEB_INTERACTIVE",
                                "PLAYBOOK",
                                "FOLDER",
                                "PLAYBOOK_QUESTION",
                                "PLAYBOOK_SUBMISSION",
                                "PLAYBOOK_SUBMISSION_ANSWER",
                                "COMMERCE_PAYMENT",
                                "GSC_PROPERTY",
                                "SOX_PROTECTED_DUMMY_TYPE",
                                "BLOG_LISTING_PAGE",
                                "QUARANTINED_SUBMISSION",
                                "PAYMENT_SCHEDULE",
                                "PAYMENT_SCHEDULE_INSTALLMENT",
                                "MARKETING_CAMPAIGN_UTM",
                                "DISCOUNT_TEMPLATE",
                                "DISCOUNT_CODE",
                                "FEEDBACK_SURVEY",
                                "CMS_URL",
                                "SALES_TASK",
                                "SALES_WORKLOAD",
                                "USER",
                                "POSTAL_MAIL",
                                "SCHEMAS_BACKEND_TEST",
                                "PAYMENT_LINK",
                                "SUBMISSION_TAG",
                                "CAMPAIGN_STEP",
                                "SCHEDULING_PAGE",
                                "SOX_PROTECTED_TEST_TYPE",
                                "ORDER",
                                "MARKETING_SMS",
                                "PARTNER_ACCOUNT",
                                "CAMPAIGN_TEMPLATE",
                                "CAMPAIGN_TEMPLATE_STEP",
                                "PLAYLIST",
                                "CLIP",
                                "CAMPAIGN_BUDGET_ITEM",
                                "CAMPAIGN_SPEND_ITEM",
                                "MIC",
                                "CONTENT_AUDIT",
                                "CONTENT_AUDIT_PAGE",
                                "PLAYLIST_FOLDER",
                                "LEAD",
                                "ABANDONED_CART",
                                "EXTERNAL_WEB_URL",
                                "VIEW",
                                "VIEW_BLOCK",
                                "ROSTER",
                                "CART",
                                "AUTOMATION_PLATFORM_FLOW_ACTION",
                                "SOCIAL_PROFILE",
                                "PARTNER_CLIENT",
                                "ROSTER_MEMBER",
                                "MARKETING_EVENT_ATTENDANCE",
                                "ALL_PAGES",
                                "AI_FORECAST",
                                "CRM_PIPELINES_DUMMY_TYPE",
                                "KNOWLEDGE_ARTICLE",
                                "PROPERTY_INFO",
                                "DATA_PRIVACY_CONSENT",
                                "GOAL_TEMPLATE",
                                "SCORE_CONFIGURATION",
                                "AUDIENCE",
                                "PARTNER_CLIENT_REVENUE",
                                "AUTOMATION_JOURNEY",
                                "UNKNOWN"
                              ],
                              "type": "string"
                            },
                            "type": {
                              "enum": [
                                "string",
                                "number",
                                "bool",
                                "datetime",
                                "enumeration",
                                "date",
                                "phone_number",
                                "currency_number",
                                "json",
                                "object_coordinates"
                              ],
                              "type": "string"
                            }
                          },
                          "required": [
                            "externalOptions",
                            "name",
                            "options",
                            "type"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "typeDefinition"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "published": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "actionUrl",
                  "functions",
                  "inputFields",
                  "labels",
                  "objectTypes",
                  "published"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "actionUrl": {
                      "type": "string"
                    },
                    "archivedAt": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "executionRules": {
                      "items": {
                        "properties": {
                          "conditions": {
                            "additionalProperties": {
                              "properties": {},
                              "type": "object"
                            },
                            "type": "object"
                          },
                          "labelName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "conditions",
                          "labelName"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "functions": {
                      "items": {
                        "properties": {
                          "functionType": {
                            "enum": [
                              "PRE_ACTION_EXECUTION",
                              "PRE_FETCH_OPTIONS",
                              "POST_FETCH_OPTIONS",
                              "POST_ACTION_EXECUTION"
                            ],
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "functionType"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "id": {
                      "type": "string"
                    },
                    "inputFieldDependencies": {
                      "items": {
                        "oneOf": [
                          {
                            "properties": {
                              "controllingFieldName": {
                                "type": "string"
                              },
                              "dependencyType": {
                                "default": "SINGLE_FIELD",
                                "enum": [
                                  "SINGLE_FIELD"
                                ],
                                "type": "string"
                              },
                              "dependentFieldNames": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "required": [
                              "controllingFieldName",
                              "dependencyType",
                              "dependentFieldNames"
                            ],
                            "title": "SINGLE_FIELD",
                            "type": "object"
                          },
                          {
                            "properties": {
                              "controllingFieldName": {
                                "type": "string"
                              },
                              "controllingFieldValue": {
                                "type": "string"
                              },
                              "dependencyType": {
                                "default": "CONDITIONAL_SINGLE_FIELD",
                                "enum": [
                                  "CONDITIONAL_SINGLE_FIELD"
                                ],
                                "type": "string"
                              },
                              "dependentFieldNames": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "required": [
                              "controllingFieldName",
                              "controllingFieldValue",
                              "dependencyType",
                              "dependentFieldNames"
                            ],
                            "title": "CONDITIONAL_SINGLE_FIELD",
                            "type": "object"
                          }
                        ],
                        "_polymorphic_marker": {
                          "oneOf": true
                        }
                      },
                      "type": "array"
                    },
                    "inputFields": {
                      "items": {
                        "properties": {
                          "automationFieldType": {
                            "type": "string"
                          },
                          "isRequired": {
                            "type": "boolean"
                          },
                          "supportedValueTypes": {
                            "items": {
                              "enum": [
                                "STATIC_VALUE",
                                "OBJECT_PROPERTY",
                                "FIELD_DATA",
                                "FETCHED_OBJECT_PROPERTY",
                                "ENROLLMENT_EVENT_PROPERTY"
                              ],
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "typeDefinition": {
                            "properties": {
                              "description": {
                                "type": "string"
                              },
                              "externalOptions": {
                                "type": "boolean"
                              },
                              "externalOptionsReferenceType": {
                                "type": "string"
                              },
                              "fieldType": {
                                "enum": [
                                  "booleancheckbox",
                                  "checkbox",
                                  "date",
                                  "file",
                                  "number",
                                  "phonenumber",
                                  "radio",
                                  "select",
                                  "text",
                                  "textarea",
                                  "calculation_equation",
                                  "calculation_rollup",
                                  "calculation_score",
                                  "calculation_read_time",
                                  "unknown",
                                  "html"
                                ],
                                "type": "string"
                              },
                              "helpText": {
                                "type": "string"
                              },
                              "label": {
                                "type": "string"
[...]
