{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "//api.ote-godaddy.com"
    }
  ],
  "info": {
    "title": "",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "hosting"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.godaddy.com/swagger/swagger_aftermarket.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "ote-godaddy.com",
    "x-serviceName": "aftermarket"
  },
  "tags": [
    {
      "description": "",
      "name": "v1"
    }
  ],
  "paths": {
    "/v1/aftermarket/listings": {
      "delete": {
        "operationId": "deletelistings-v2",
        "parameters": [
          {
            "description": "A comma separated list of domain names",
            "explode": false,
            "in": "query",
            "name": "domains",
            "required": true,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              }
            },
            "description": "Request was successful"
          },
          "400": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Request was malformed"
          },
          "401": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Authentication info not sent or invalid"
          },
          "403": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Authenticated user is not allowed access"
          },
          "422": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "\tRequired parameters must be specified in correct format"
          },
          "429": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    },
                    "retryAfterSec": {
                      "description": "Number of seconds to wait before attempting a similar request",
                      "format": "integer-positive",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "retryAfterSec",
                    "code"
                  ]
                }
              }
            },
            "description": "Too many requests received within interval"
          },
          "500": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "summary": "Remove listings from GoDaddy Auction",
        "tags": [
          "v1"
        ]
      }
    },
    "/v1/aftermarket/listings/expiry": {
      "post": {
        "operationId": "addexpirylistings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "properties": {
                    "domain": {
                      "description": "Domain name",
                      "type": "string"
                    },
                    "expiresAt": {
                      "description": "Date when the domain expires",
                      "format": "iso-datetime",
                      "type": "string"
                    },
                    "losingRegistrarId": {
                      "default": 1,
                      "description": "Losing registrar id for the domain",
                      "minimum": 1,
                      "type": "integer"
                    },
                    "pageViewsMonthly": {
                      "description": "Monthly traffic page view for the domain",
                      "type": "integer"
                    },
                    "revenueMonthly": {
                      "description": "Monthly parking revenue (in USD micro unit) for the domain",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "domain",
                    "expiresAt",
                    "losingRegistrarId"
                  ]
                },
                "type": "array"
              }
            },
            "application/xml": {
              "schema": {
                "items": {
                  "properties": {
                    "domain": {
                      "description": "Domain name",
                      "type": "string"
                    },
                    "expiresAt": {
                      "description": "Date when the domain expires",
                      "format": "iso-datetime",
                      "type": "string"
                    },
                    "losingRegistrarId": {
                      "default": 1,
                      "description": "Losing registrar id for the domain",
                      "minimum": 1,
                      "type": "integer"
                    },
                    "pageViewsMonthly": {
                      "description": "Monthly traffic page view for the domain",
                      "type": "integer"
                    },
                    "revenueMonthly": {
                      "description": "Monthly parking revenue (in USD micro unit) for the domain",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "domain",
                    "expiresAt",
                    "losingRegistrarId"
                  ]
                },
                "type": "array"
              }
            },
            "text/xml": {
              "schema": {
                "items": {
                  "properties": {
                    "domain": {
                      "description": "Domain name",
                      "type": "string"
                    },
                    "expiresAt": {
                      "description": "Date when the domain expires",
                      "format": "iso-datetime",
                      "type": "string"
                    },
                    "losingRegistrarId": {
                      "default": 1,
                      "description": "Losing registrar id for the domain",
                      "minimum": 1,
                      "type": "integer"
                    },
                    "pageViewsMonthly": {
                      "description": "Monthly traffic page view for the domain",
                      "type": "integer"
                    },
                    "revenueMonthly": {
                      "description": "Monthly parking revenue (in USD micro unit) for the domain",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "domain",
                    "expiresAt",
                    "losingRegistrarId"
                  ]
                },
                "type": "array"
              }
            }
          },
          "description": "An array of expiry listings to be loaded",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "listingActionId": {
                      "description": "Action Id",
                      "type": "integer"
                    }
                  },
                  "required": [
                    "listingActionId"
                  ]
                }
              }
            },
            "description": "Request was successful"
          },
          "400": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
                          "message": {
                            "description": "Human-readable, English description of the problem with the contents of the field",
                            "type": "string"
                          },
                          "path": {
                            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                            "format": "json-path",
                            "type": "string"
                          },
                          "pathRelated": {
                            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                            "format": "json-path",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "code"
                        ]
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Human-readable, English description of the error",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code"
                  ]
                }
              }
            },
            "description": "Request was malformed"
          },
          "401": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                      "format": "constant",
                      "type": "string"
                    },
                    "fields": {
                      "description": "List of the specific fields, and the errors found with their contents",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                            "format": "constant",
                            "type": "string"
                          },
[...]
