{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "public.opendatasoft.com",
  "basePath": "/api/v2",
  "info": {
    "contact": {
      "x-twitter": "opendatasoft"
    },
    "title": "opendatasoft",
    "version": "2.1.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://twitter.com/opendatasoft/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://public.opendatasoft.com/api/v2/swagger.json",
        "version": "2.0"
      },
      {
        "format": "swagger",
        "url": "http://public.opendatasoft.com/api/v2/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "opendatasoft.com"
  },
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "in": "query",
      "name": "apikey",
      "type": "apiKey"
    },
    "basic": {
      "type": "basic"
    }
  },
  "security": [
    {
      "api_key": []
    },
    {
      "basic": []
    }
  ],
  "parameters": {
    "attachment_id": {
      "in": "path",
      "name": "attachment_id",
      "required": true,
      "type": "string"
    },
    "dataset_id": {
      "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
      "in": "path",
      "name": "dataset_id",
      "required": true,
      "type": "string"
    },
    "exclude": {
      "collectionFormat": "multi",
      "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
      "in": "query",
      "items": {
        "type": "string"
      },
      "name": "exclude",
      "required": false,
      "type": "array"
    },
    "facet": {
      "collectionFormat": "multi",
      "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
      "in": "query",
      "items": {
        "type": "string"
      },
      "name": "facet",
      "type": "array"
    },
    "file_id": {
      "in": "path",
      "name": "file_id",
      "required": true,
      "type": "string"
    },
    "group_by": {
      "description": "A group by expression defines a grouping function for an aggregation.\nIt can be:\n - a field name: group result by each value of this field\n - a range function: group result by range\n - a date function: group result by date\nIt is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.\n",
      "in": "query",
      "name": "group_by",
      "required": false,
      "type": "string"
    },
    "include_app_metas": {
      "default": false,
      "description": "Explicitely request application metas for each datasets.\n",
      "in": "query",
      "name": "include_app_metas",
      "type": "boolean"
    },
    "limit": {
      "default": 10,
      "description": "Number of items to return.\n\nTo use in conjonction with offset to implement pagination.\n\nLimit maximum value is 100. To retrive more data use export entry points.\nThe default value is 10.\n",
      "in": "query",
      "maximum": 100,
      "minimum": -1,
      "name": "limit",
      "required": false,
      "type": "integer"
    },
    "limit_export": {
      "default": -1,
      "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
      "in": "query",
      "minimum": -1,
      "name": "limit",
      "required": false,
      "type": "integer"
    },
    "metadata_template_name": {
      "in": "path",
      "name": "metadata_template_name",
      "required": true,
      "type": "string"
    },
    "metadata_template_type": {
      "default": "basic",
      "enum": [
        "basic",
        "interop",
        "extra"
      ],
      "in": "path",
      "name": "metadata_template_type",
      "required": true,
      "type": "string"
    },
    "mime_type": {
      "description": "Specify one (or many) mime type(s) and return only the files matching said type(s).",
      "in": "query",
      "name": "mime_type",
      "required": false,
      "type": "string"
    },
    "offset": {
      "default": 0,
      "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
      "in": "query",
      "minimum": 0,
      "name": "offset",
      "required": false,
      "type": "integer"
    },
    "order_by": {
      "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
      "in": "query",
      "items": {
        "collectionFormat": "csv",
        "type": "string"
      },
      "name": "order_by",
      "required": false,
      "type": "array"
    },
    "pretty": {
      "default": false,
      "description": "Activate pretty print",
      "in": "query",
      "name": "pretty",
      "type": "boolean"
    },
    "record_id": {
      "in": "path",
      "name": "record_id",
      "required": true,
      "type": "string"
    },
    "refine": {
      "collectionFormat": "multi",
      "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
      "in": "query",
      "items": {
        "type": "string"
      },
      "name": "refine",
      "required": false,
      "type": "array"
    },
    "reuse_id": {
      "in": "path",
      "name": "reuse_id",
      "required": true,
      "type": "string"
    },
    "search": {
      "collectionFormat": "multi",
      "description": "An array of full text search.\n\nA full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.\n",
      "in": "query",
      "items": {
        "type": "string"
      },
      "name": "search",
      "required": false,
      "type": "array"
    },
    "select": {
      "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
      "in": "query",
      "name": "select",
      "required": false,
      "type": "string"
    },
    "slug": {
      "description": "Page slug.\n",
      "in": "path",
      "name": "slug",
      "required": true,
      "type": "string"
    },
    "snapshot_id": {
      "in": "path",
      "name": "snapshot_id",
      "required": true,
      "type": "string"
    },
    "sort": {
      "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
      "in": "query",
      "items": {
        "collectionFormat": "csv",
        "type": "string"
      },
      "name": "sort",
      "required": false,
      "type": "array"
    },
    "source": {
      "default": "catalog",
      "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
      "enum": [
        "catalog",
        "opendatasoft",
        "monitoring"
      ],
      "in": "path",
      "name": "source",
      "required": true,
      "type": "string"
    },
    "thumbnail_size": {
      "description": "Set the size of the thumbnail representing the resource (attachment, image or file)",
      "in": "query",
      "name": "thumbnail_size",
      "type": "string"
    },
    "timezone": {
      "default": "UTC",
      "description": "Set timezone for datetime fields",
      "in": "query",
      "name": "timezone",
      "type": "string"
    },
    "where": {
      "collectionFormat": "multi",
      "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
      "in": "query",
      "items": {
        "type": "string"
      },
      "name": "where",
      "required": false,
      "type": "array"
    }
  },
  "tags": [
    {
      "name": "root"
    },
    {
      "name": "metadata"
    },
    {
      "name": "catalog"
    },
    {
      "name": "export catalog"
    },
    {
      "name": "dataset"
    },
    {
      "name": "export dataset"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "API entry point\n\nProvides links for:\n* catalog, your domain's list of datasets\n* opendatasoft, all datasets on the Opendatasoft network\n",
        "operationId": "getroot-v2",
        "responses": {
          "200": {
            "description": "Provide a set of links to the most basic entry points in the API (sources)",
            "schema": {
              "properties": {
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "root",
          "ods"
        ]
      }
    },
    "/carts/{id}": {
      "get": {
        "description": "List of all pages from this portal.\n",
        "operationId": "getpages",
        "responses": {
          "200": {
            "description": "List of all pages, each with their endpoint.",
            "schema": {
              "properties": {
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "pages": {
                  "items": {
                    "properties": {
                      "links": {
                        "items": {
                          "properties": {
                            "href": {
                              "type": "string"
                            },
                            "rel": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "page": {
                        "properties": {
                          "description": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "title": {
                            "description": "A localized string (that is an object where the keys are language codes and the values translations of a same\nstring).\n",
                            "properties": {
                              "en": {
                                "type": "string"
                              },
                              "fr": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "page",
          "ods"
        ]
      }
    },
    "/pages/orderid": {
      "get": {
        "description": "A single page's metadata from this portal\n",
        "operationId": "getpage",
        "parameters": [
          {
            "description": "Page slug.\n",
            "in": "path",
            "name": "slug",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A single page's metadata.",
            "schema": {
              "properties": {
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "page": {
                  "properties": {
                    "description": {
                      "type": "string"
                    },
                    "slug": {
                      "type": "string"
                    },
                    "title": {
                      "description": "A localized string (that is an object where the keys are language codes and the values translations of a same\nstring).\n",
                      "properties": {
                        "en": {
                          "type": "string"
                        },
                        "fr": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            }
          }
        },
        "tags": [
          "page",
          "ods"
        ]
      }
    },
    "/payments/{id}": {
      "get": {
        "description": "Source entry points\n\nProvides links for the source's datasets and metadata.\n",
        "operationId": "getsource-v2",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Provide a set of links to the basic entry points for the given source.",
            "schema": {
              "properties": {
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "catalog",
          "ods"
        ]
      }
    },
    "/userid/aggregates": {
      "get": {
        "description": "**Deprecated, use `/datasets` instead.**\n",
        "operationId": "aggregatedatasets",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "A group by expression defines a grouping function for an aggregation.\nIt can be:\n - a field name: group result by each value of this field\n - a range function: group result by range\n - a date function: group result by date\nIt is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.\n",
            "in": "query",
            "name": "group_by",
            "required": false,
            "type": "string"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": 10,
            "description": "Number of items to return.\n\nTo use in conjonction with offset to implement pagination.\n\nLimit maximum value is 100. To retrive more data use export entry points.\nThe default value is 10.\n",
            "in": "query",
            "maximum": 100,
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregation result",
            "schema": {
              "properties": {
                "aggregations": {
                  "items": {
                    "description": "Result of an aggregation request.",
                    "example": {
                      "count(*)": 86
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "catalog",
          "aggregations",
          "ods"
        ]
      }
    },
    "/orderid/datasets": {
      "get": {
        "description": "List of available datasets, each with their endpoints, paginated.\n\nLinks provided:\n* previous page\n* next page\n* last page\n* first page\n",
        "operationId": "getdatasets-v2",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "A group by expression defines a grouping function for an aggregation.\nIt can be:\n - a field name: group result by each value of this field\n - a range function: group result by range\n - a date function: group result by date\nIt is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.\n",
            "in": "query",
            "name": "group_by",
            "required": false,
            "type": "string"
          },
          {
            "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "sort",
            "required": false,
            "type": "array"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": 10,
            "description": "Number of items to return.\n\nTo use in conjonction with offset to implement pagination.\n\nLimit maximum value is 100. To retrive more data use export entry points.\nThe default value is 10.\n",
            "in": "query",
            "maximum": 100,
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of full text search.\n\nA full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "search",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          },
          {
            "default": false,
            "description": "Activate pretty print",
            "in": "query",
            "name": "pretty",
            "type": "boolean"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          },
          {
            "default": false,
            "description": "Explicitely request application metas for each datasets.\n",
            "in": "query",
            "name": "include_app_metas",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available datasets",
            "schema": {
              "properties": {
                "datasets": {
                  "items": {
                    "properties": {
                      "dataset": {
                        "properties": {
                          "attachments": {
                            "items": {
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "data_visible": {
                            "type": "boolean"
                          },
                          "dataset_id": {
                            "type": "string"
                          },
                          "features": {
                            "description": "A map of available features for a dataset, with the fields they apply to.\n",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "fields": {
                            "items": {
                              "properties": {
                                "annotations": {
                                  "type": "object"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "label": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "has_records": {
                            "type": "boolean"
                          },
                          "metas": {
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "links": {
                        "items": {
                          "properties": {
                            "href": {
                              "type": "string"
                            },
                            "rel": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "total_count": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "tags": [
          "catalog",
          "ods"
        ]
      }
    },
    "/sku/datasets/paymentid": {
      "get": {
        "description": "List of available endpoints for the specified dataset, with metadata and endpoints.\n\nWill provide links for:\n* the attachments endpoint\n* the files endpoint\n* the records endpoint\n* the catalog endpoint\n",
        "operationId": "getdataset",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Activate pretty print",
            "in": "query",
            "name": "pretty",
            "type": "boolean"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          },
          {
            "default": false,
            "description": "Explicitely request application metas for each datasets.\n",
            "in": "query",
            "name": "include_app_metas",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset",
            "schema": {
              "properties": {
                "dataset": {
                  "properties": {
                    "attachments": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "data_visible": {
                      "type": "boolean"
                    },
                    "dataset_id": {
                      "type": "string"
                    },
                    "features": {
                      "description": "A map of available features for a dataset, with the fields they apply to.\n",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "fields": {
                      "items": {
                        "properties": {
                          "annotations": {
                            "type": "object"
                          },
                          "description": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "has_records": {
                      "type": "boolean"
                    },
                    "metas": {
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "dataset",
          "ods"
        ]
      }
    },
    "/userid/datasets/orderid/aggregates": {
      "get": {
        "description": "**Deprecated, use `/records` instead.**\n",
        "operationId": "aggregaterecords",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "A group by expression defines a grouping function for an aggregation.\nIt can be:\n - a field name: group result by each value of this field\n - a range function: group result by range\n - a date function: group result by date\nIt is possible to specify a custom name with the 'as name' notation. For instance: group_by='city_field as city'.\n",
            "in": "query",
            "name": "group_by",
            "required": false,
            "type": "string"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": 10,
            "description": "Number of items to return.\n\nTo use in conjonction with offset to implement pagination.\n\nLimit maximum value is 100. To retrive more data use export entry points.\nThe default value is 10.\n",
            "in": "query",
            "maximum": 100,
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Aggregation result",
            "schema": {
              "properties": {
                "aggregations": {
                  "items": {
                    "description": "Result of an aggregation request.",
                    "example": {
                      "count(*)": 86
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "dataset",
          "aggregations",
          "ods"
        ]
      }
    },
    "/id/datasets/paymentid/attachments": {
      "get": {
        "description": "Get list of all available attachments\n",
        "operationId": "getdatasetattachements-v2",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all available attachments",
            "schema": {
              "properties": {
                "attachments": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "metas": {
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "dataset",
          "ods"
        ]
      }
    },
    "/orderid/datasets/paymentid/attachments/orderid": {
      "get": {
        "description": "Download attachment\n",
        "operationId": "downloaddatasetattachement-v2",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "attachment_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested attachment"
          }
        },
        "tags": [
          "dataset",
          "ods"
        ]
      }
    },
    "/id/datasets/paymentid/exports/csv": {
      "get": {
        "description": "Export dataset in CSV format\n",
        "operationId": "exportrecordscsv",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "sort",
            "required": false,
            "type": "array"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": -1,
            "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
            "in": "query",
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          },
          {
            "default": ";",
            "description": "Provide a different delimiter (default ',').",
            "enum": [
              ",",
              ";",
              "|"
            ],
            "in": "query",
            "name": "delimiter",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "Return a CSV file",
            "schema": {
              "type": "file"
            }
          }
        },
        "tags": [
          "export dataset",
          "ods"
        ]
      }
    },
    "/orderid/datasets/userid/exports/geojson": {
      "get": {
        "description": "Export dataset in GEOJSON format\n",
        "operationId": "exportrecordsgeojson-v2",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "sort",
            "required": false,
            "type": "array"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": -1,
            "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
            "in": "query",
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of full text search.\n\nA full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "search",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          },
          {
            "default": false,
            "description": "Activate pretty print",
            "in": "query",
            "name": "pretty",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Return a GEOJSON file",
            "schema": {
              "type": "file"
            }
          }
        },
        "tags": [
          "export dataset",
          "ods"
        ]
      }
    },
    "/paymentid/datasets/orderid/exports/ical": {
      "get": {
        "description": "Export dataset in ICAL format\n",
        "operationId": "exportrecordsical",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "sort",
            "required": false,
            "type": "array"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": -1,
            "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
            "in": "query",
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of full text search.\n\nA full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "search",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Return an ICAL file",
            "schema": {
              "type": "file"
            }
          }
        },
        "tags": [
          "export dataset",
          "ods"
        ]
      }
    },
    "/id/datasets/id/exports/json": {
      "get": {
        "description": "Export dataset in JSON format\n",
        "operationId": "exportrecordsjson",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "sort",
            "required": false,
            "type": "array"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": -1,
            "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
            "in": "query",
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of full text search.\n\nA full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "search",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          },
          {
            "default": false,
            "description": "Activate pretty print",
            "in": "query",
            "name": "pretty",
            "type": "boolean"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Return a JSON file",
            "schema": {
              "type": "file"
            }
          }
        },
        "tags": [
          "export dataset",
          "ods"
        ]
      }
    },
    "/paymentid/datasets/sku/exports/ov2": {
      "get": {
        "description": "Export dataset in OV2 format\n",
        "operationId": "exportrecordsov2",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "sort",
            "required": false,
            "type": "array"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": -1,
            "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
            "in": "query",
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of full text search.\n\nA full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "search",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          }
        ],
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "description": "Return an ov2 file",
            "schema": {
              "type": "file"
            }
          }
        },
        "tags": [
          "export dataset",
          "ods"
        ]
      }
    },
    "/paymentid/datasets/paymentid/exports/shp": {
      "get": {
        "description": "Export dataset in Esri shapefile (shp) format\n",
        "operationId": "exportrecordsshp",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
            "type": "string"
          },
          {
            "description": "Dataset identifier.\n\nCan be found in the \"information\" tab of the dataset page.\n",
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "A select expression can be used to add, remove or change fields to return.\nAn expression can be:\n  - a wildcard ('*'): return all fields\n  - a field name: return only this field\n  - an include/exclude function. Include (resp exclude) all field matching include/exclude expression. This expression can contain wildcard. For example: include(spa*) will return all fields begining with 'spa'\n  - a complex expression: return the result of this expression. A label can be set for this expression, in that case, field will be named with this label. For instance: 'size * 2 as bigger_size' will return a new field named bigger_size and containing the double of size field value.\n",
            "in": "query",
            "name": "select",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of filters.\n\nA filter is a text expression performing a simple full-text search that can also include logical operations\n(NOT, AND, OR...) as well as lots of other functions, thus performing more complex and more precise searches.\n\nRead [the query language reference](https://docs.opendatasoft.com/api/explore/v2.html#where-clause) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "where",
            "required": false,
            "type": "array"
          },
          {
            "description": "**Deprecated, use `order_by` instead.**\n\nA list of field names, each possibly prefixed with a minus (-).\n\nSorts results according to the specified fields' values. By default, the sort is ascending (from the smallest\nvalue to the biggest value). A minus sign (‘-‘) may be used to perform a descending sort. Sorting is only\navailable on numeric fields (int, double, date and datetime) and on text fields which have the sortable\nannotation.\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "sort",
            "required": false,
            "type": "array"
          },
          {
            "description": "A comma-separated list of field names or aggregations to sort on, followed by an order (`asc` or `desc`).\n\nSorts results according to the specified fields' values in ascending order by default.\nTo sort results in descending order, use the `desc` keyword.\n\nExample: `sum(age) desc, name asc`\n",
            "in": "query",
            "items": {
              "collectionFormat": "csv",
              "type": "string"
            },
            "name": "order_by",
            "required": false,
            "type": "array"
          },
          {
            "default": -1,
            "description": "Number of items to return in export.\n\nUse -1 (default) to retrieve all records\n",
            "in": "query",
            "minimum": -1,
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "default": 0,
            "description": "Index of the first item to return (starting at 0).\n\nTo use in conjonction with limit to implement pagination.\n",
            "in": "query",
            "minimum": 0,
            "name": "offset",
            "required": false,
            "type": "integer"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of full text search.\n\nA full text search performs a prefixed text search for each provided terms in all visible fields of a catalog/dataset.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "search",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A facet is a field used for simple filtering (through the parameters refine and exclude) or exploration (with the endpoint `/facets`).\n\nFacets can be configured in the back-office or with this parameter.\n\nRead [the facets documentation](https://help.opendatasoft.com/apis/ods-search-v2/#facets) for more details.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "facet",
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will only include the selected facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Refining with a facet is equivalent to selecting an entry in the left navigation panel.*\n\n*refine is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "refine",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "An array of facet filters. For example **city:Paris** or **modified:2019/12**.\nThe request will exclude the defined facet value.\n\nRead [filtering with facets value](https://help.opendatasoft.com/apis/ods-search-v2/#filtering-with-facets-values) for more details.\n\n*Not to be confused with a where filter. Excluding a facet value is equivalent to removing an entry in the left navigation panel.*\n\n*exclude is not available for monitoring sources*\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "exclude",
            "required": false,
            "type": "array"
          },
          {
            "default": "UTC",
            "description": "Set timezone for datetime fields",
            "in": "query",
            "name": "timezone",
            "type": "string"
          }
        ],
        "produces": [
          "application/zip"
        ],
        "responses": {
          "200": {
            "description": "Return a Shapefile zip",
            "schema": {
              "type": "file"
            }
          }
        },
        "tags": [
          "export dataset",
          "ods"
        ]
      }
    },
    "/paymentid/datasets/sku/exports/xls": {
      "get": {
        "description": "Export dataset in XLS (Excel) format\n",
        "operationId": "exportrecordsxls",
        "parameters": [
          {
            "default": "catalog",
            "description": "Each source represents a different catalog of datasets you'll be able to query.\n\nThere are 2 sources available:\n\n* catalog: the catalog of datasets on your portal\n* opendatasoft: Opendatasoft's repository of public datasets, also available at\n  [data.opendatasoft.com](https://data.opendatasoft.com/page/home/)\n",
            "enum": [
              "catalog",
              "opendatasoft",
              "monitoring"
            ],
            "in": "path",
            "name": "source",
            "required": true,
[...]
