{
  "openapi": "3.0.1",
  "servers": [
    {
      "description": "Generated server url",
      "url": "http://peoplegeneratorapi.live"
    }
  ],
  "info": {
    "title": "OpenAPI definition",
    "version": "v0",
    "x-apisguru-categories": [
      "tools"
    ],
    "x-logo": {
      "url": "https://peoplegeneratorapi.live/static/Logo.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://peoplegeneratorapi.live/v3/api-docs",
        "version": "3.0"
      }
    ],
    "x-providerName": "peoplegeneratorapi.live"
  },
  "paths": {
    "/api/address": {
      "get": {
        "operationId": "generateaddress-1",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "city": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "countryCode": {
                      "type": "string"
                    },
                    "geonameId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "ipAddress": {
                      "type": "string"
                    },
                    "phoneNumber": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "streetAddress": {
                      "type": "string"
                    },
                    "zip": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/lifestory": {
      "get": {
        "operationId": "generatelifestory",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "lifestory": {
                      "type": "string"
                    },
                    "person": {
                      "properties": {
                        "address": {
                          "properties": {
                            "city": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "countryCode": {
                              "type": "string"
                            },
                            "geonameId": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "ipAddress": {
                              "type": "string"
                            },
                            "phoneNumber": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "streetAddress": {
                              "type": "string"
                            },
                            "zip": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "age": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "bloodType": {
                          "type": "string"
                        },
                        "ccNumber": {
                          "type": "string"
                        },
                        "creditScore": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "doB": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "eyeColor": {
                          "type": "string"
                        },
                        "gender": {
                          "type": "string"
                        },
                        "gpa": {
                          "format": "double",
                          "type": "number"
                        },
                        "hasChildren": {
                          "type": "boolean"
                        },
                        "hasDegree": {
                          "type": "boolean"
                        },
                        "height": {
                          "format": "double",
                          "type": "number"
                        },
                        "incomeUSD": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "job": {
                          "type": "string"
                        },
                        "married": {
                          "type": "boolean"
                        },
                        "name": {
                          "type": "string"
                        },
                        "politicalLeaning": {
                          "format": "double",
                          "type": "number"
                        },
                        "religion": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "weight": {
                          "format": "double",
                          "type": "number"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person": {
      "get": {
        "operationId": "getperson",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "address": {
                      "properties": {
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "countryCode": {
                          "type": "string"
                        },
                        "geonameId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "ipAddress": {
                          "type": "string"
                        },
                        "phoneNumber": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "streetAddress": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "age": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "bloodType": {
                      "type": "string"
                    },
                    "ccNumber": {
                      "type": "string"
                    },
                    "creditScore": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "doB": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "eyeColor": {
                      "type": "string"
                    },
                    "gender": {
                      "type": "string"
                    },
                    "gpa": {
                      "format": "double",
                      "type": "number"
                    },
                    "hasChildren": {
                      "type": "boolean"
                    },
                    "hasDegree": {
                      "type": "boolean"
                    },
                    "height": {
                      "format": "double",
                      "type": "number"
                    },
                    "incomeUSD": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "job": {
                      "type": "string"
                    },
                    "married": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    },
                    "politicalLeaning": {
                      "format": "double",
                      "type": "number"
                    },
                    "religion": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "weight": {
                      "format": "double",
                      "type": "number"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/age": {
      "get": {
        "operationId": "age",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/bloodtype": {
      "get": {
        "operationId": "bloodtype-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/creditcardnumber": {
      "get": {
        "operationId": "creditcardnumber-1-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/creditscore": {
      "get": {
        "operationId": "creditscore-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/email": {
      "get": {
        "operationId": "email-1-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/eyecolor": {
      "get": {
        "operationId": "eyecolor-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/gender": {
      "get": {
        "operationId": "gender-1",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/gpa": {
      "get": {
        "operationId": "gpa-1",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/haschildren": {
      "get": {
        "operationId": "haschildren-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/hasdegree": {
      "get": {
        "operationId": "hasdegree-1",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/height": {
      "get": {
        "operationId": "height-1-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/income": {
      "get": {
        "operationId": "income-1-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/job": {
      "get": {
        "operationId": "job-1-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/maritalstatus": {
      "get": {
        "operationId": "maritalstatus",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/name": {
      "get": {
        "operationId": "name-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/politicalleaning": {
      "get": {
        "operationId": "politicalleaning-1",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/religion": {
      "get": {
        "operationId": "religion-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/username": {
      "get": {
        "operationId": "username-v2",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/weight": {
      "get": {
        "operationId": "weight-1",
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "double",
                  "type": "number"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/sku": {
      "get": {
        "operationId": "getcompressedperson-1",
        "parameters": [
          {
            "in": "path",
            "name": "number",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "format": "byte",
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    },
    "/api/person/paymentid": {
      "get": {
        "operationId": "getcompressedperson",
        "parameters": [
          {
            "in": "path",
            "name": "number",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "format": "byte",
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "peoplegeneratorapi-application"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "properties": {
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "geonameId": {
            "format": "int32",
            "type": "integer"
          },
          "ipAddress": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "streetAddress": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Lifestory": {
        "properties": {
          "lifestory": {
            "type": "string"
          },
          "person": {
            "properties": {
              "address": {
                "properties": {
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "geonameId": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "ipAddress": {
                    "type": "string"
                  },
                  "phoneNumber": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "streetAddress": {
                    "type": "string"
                  },
                  "zip": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "age": {
                "format": "int32",
                "type": "integer"
              },
              "bloodType": {
                "type": "string"
              },
              "ccNumber": {
                "type": "string"
              },
              "creditScore": {
                "format": "int32",
                "type": "integer"
              },
              "doB": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "eyeColor": {
                "type": "string"
              },
              "gender": {
                "type": "string"
              },
              "gpa": {
                "format": "double",
                "type": "number"
              },
              "hasChildren": {
                "type": "boolean"
              },
              "hasDegree": {
                "type": "boolean"
              },
              "height": {
                "format": "double",
                "type": "number"
              },
              "incomeUSD": {
                "format": "int32",
                "type": "integer"
              },
              "job": {
                "type": "string"
              },
              "married": {
                "type": "boolean"
              },
              "name": {
                "type": "string"
              },
              "politicalLeaning": {
                "format": "double",
                "type": "number"
              },
              "religion": {
                "type": "string"
              },
              "username": {
                "type": "string"
              },
              "weight": {
                "format": "double",
                "type": "number"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Person": {
        "properties": {
          "address": {
            "properties": {
              "city": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "countryCode": {
                "type": "string"
              },
              "geonameId": {
                "format": "int32",
                "type": "integer"
              },
              "ipAddress": {
                "type": "string"
              },
              "phoneNumber": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "streetAddress": {
                "type": "string"
              },
              "zip": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "age": {
            "format": "int32",
            "type": "integer"
          },
          "bloodType": {
            "type": "string"
          },
          "ccNumber": {
            "type": "string"
          },
          "creditScore": {
            "format": "int32",
            "type": "integer"
          },
          "doB": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "eyeColor": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "gpa": {
            "format": "double",
            "type": "number"
          },
          "hasChildren": {
            "type": "boolean"
          },
          "hasDegree": {
            "type": "boolean"
          },
          "height": {
            "format": "double",
            "type": "number"
          },
          "incomeUSD": {
            "format": "int32",
            "type": "integer"
          },
          "job": {
            "type": "string"
          },
          "married": {
            "type": "boolean"
          },
          "name": {
            "type": "string"
          },
          "politicalLeaning": {
            "format": "double",
            "type": "number"
          },
          "religion": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "weight": {
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      }
    }
  }
}