{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "//rest.rgd.mcw.edu/rgdws"
    }
  ],
  "info": {
    "contact": {
      "email": "RGD.Data2@mcw.edu",
      "name": "Rat Genome Database",
      "url": "http://rgd.mcw.edu",
      "x-twitter": "medicalcollege"
    },
    "description": "The RGD REST API provides programmatic access to information and annotation stored in the Rat Genome Database",
    "license": {
      "name": "Creative Commons",
      "url": "https://creativecommons.org/licenses/by/4.0/legalcode"
    },
    "termsOfService": "http://rgd.mcw.edu/wg/citing-rgd",
    "title": "Rat Genome Database REST API",
    "version": "1.1",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://twitter.com/medicalcollege/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://rest.rgd.mcw.edu/rgdws/v2/api-docs",
        "version": "2.0"
      },
      {
        "format": "openapi",
        "url": "http://rest.rgd.mcw.edu/rgdws/v2/api-docs",
        "version": "3.0"
      }
    ],
    "x-providerName": "mcw.edu"
  },
  "tags": [
    {
      "description": "Alliance of Genome Resources",
      "name": "AGR"
    },
    {
      "name": "Annotation"
    },
    {
      "name": "Gene"
    },
    {
      "name": "Lookup"
    },
    {
      "description": "Map Web Service",
      "name": "Map"
    },
    {
      "description": "NIH Data Commons",
      "name": "NIHdatacommons"
    },
    {
      "description": "Ontology Web Service",
      "name": "Ontology"
    },
    {
      "name": "Pathway"
    },
    {
      "name": "Phenotype"
    },
    {
      "name": "QTL"
    },
    {
      "description": "Phenotype Web Service",
      "name": "Quantitative Phenotype"
    },
    {
      "name": "Rat Strain"
    },
    {
      "description": "SSLP Web Service",
      "name": "SSLP"
    },
    {
      "description": "Stats Web Service",
      "name": "Statistics"
    },
    {
      "description": "Enrichment Web Service",
      "name": "enrichment-web-service"
    }
  ],
  "paths": {
    "/agr/affectedgenomicmodels/id": {
      "get": {
        "operationId": "getaffectedgenomicmodelsusingget",
        "parameters": [
          {
            "description": "The taxon ID for species",
            "in": "path",
            "name": "taxonId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get affected genomic models (rat strains with gene alleles) submitted by RGD to AGR by taxonId",
        "tags": [
          "AGR"
        ]
      }
    },
    "/agr/alleles/id": {
      "get": {
        "operationId": "getallelesfortaxonusingget",
        "parameters": [
          {
            "description": "The taxon ID for species",
            "in": "path",
            "name": "taxonId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get gene allele records submitted by RGD to AGR by taxonId",
        "tags": [
          "AGR"
        ]
      }
    },
    "/agr/expression/orderid": {
      "get": {
        "operationId": "getexpressionfortaxonusingget-v2",
        "parameters": [
          {
            "description": "The taxon ID for species",
            "in": "path",
            "name": "taxonId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get expression annotations submitted by RGD to AGR by taxonId",
        "tags": [
          "AGR"
        ]
      }
    },
    "/agr/phenotypes/orderid": {
      "get": {
        "operationId": "getphenotypesfortaxonusingget-v2",
        "parameters": [
          {
            "description": "The taxon ID for species",
            "in": "path",
            "name": "taxonId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get phenotype annotations submitted by RGD to AGR by taxonId",
        "tags": [
          "AGR"
        ]
      }
    },
    "/agr/variants/userid": {
      "get": {
        "operationId": "getvariantsfortaxonusingget-v2",
        "parameters": [
          {
            "description": "The taxon ID for species",
            "in": "path",
            "name": "taxonId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get basic variant records submitted by RGD to AGR by taxonId",
        "tags": [
          "AGR"
        ]
      }
    },
    "/agr/id": {
      "get": {
        "operationId": "getgenesforlatestassemblyusingget",
        "parameters": [
          {
            "description": "The taxon ID for species",
            "in": "path",
            "name": "taxonId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "additionalProperties": {
                    "type": "object"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Get gene records submitted by RGD to AGR by taxonId",
        "tags": [
          "AGR"
        ]
      }
    },
    "/carts/{id}": {
      "post": {
        "operationId": "getannotationsusingpost-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "evidenceCodes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "ids": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "speciesTypeKeys": {
                    "items": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "type": "array"
                  },
                  "termAcc": {
                    "type": "string"
                  }
                },
                "title": "AnnotationRequest",
                "type": "object"
              }
            }
          },
          "description": "data"
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "annotatedObjectRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "annotationExtension": {
                        "type": "string"
                      },
                      "aspect": {
                        "type": "string"
                      },
                      "createdBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "createdDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dataSrc": {
                        "type": "string"
                      },
                      "evidence": {
                        "type": "string"
                      },
                      "geneProductFormId": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "objectName": {
                        "type": "string"
                      },
                      "objectSymbol": {
                        "type": "string"
                      },
                      "originalCreatedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "refRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "relativeTo": {
                        "type": "string"
                      },
                      "rgdObjectKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "term": {
                        "type": "string"
                      },
                      "termAcc": {
                        "type": "string"
                      },
                      "withInfo": {
                        "type": "string"
                      },
                      "xrefSource": {
                        "type": "string"
                      }
                    },
                    "title": "Annotation",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes annotated to an ontology term",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/accid/paymentid": {
      "get": {
        "operationId": "gettermaccidsusingget",
        "parameters": [
          {
            "description": "RGD ID",
            "in": "path",
            "name": "rgdId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "keyValue": {
                        "type": "string"
                      },
                      "stringValue": {
                        "type": "string"
                      }
                    },
                    "title": "MapPair",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns a list ontology term accession IDs annotated to an rgd object",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/count/id/paymentid": {
      "get": {
        "operationId": "getannotationcountbyaccidusingget",
        "parameters": [
          {
            "description": "Ontology term accession ID",
            "in": "path",
            "name": "accId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "true: return annotations for the term and children, false: return annotations for the term only ",
            "in": "path",
            "name": "includeChildren",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns annotation count for ontology accession ID",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/count/sku/id/paymentid": {
      "get": {
        "operationId": "getannotationcountbyaccidandspeciesusingget-v2",
        "parameters": [
          {
            "description": "Ontology term accession ID",
            "in": "path",
            "name": "accId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of species type keys can be found using the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "true: return annotations for the term and children, false: return annotations for the term only ",
            "in": "path",
            "name": "includeChildren",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns annotation count for ontology accession ID and speicies",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/count/id/id/userid/orderid": {
      "get": {
        "operationId": "getannotationcountbyaccidandobjecttypeusingget",
        "parameters": [
          {
            "description": "Ontology term accession ID",
            "in": "path",
            "name": "accId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of species type keys can be found using the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "true: return annotations for the term and children, false: return annotations for the term only ",
            "in": "path",
            "name": "includeChildren",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "A list of object types can be found using the lookup service",
            "in": "path",
            "name": "objectType",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns annotation count for ontology accession ID and object type",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/reference/paymentid": {
      "get": {
        "operationId": "getannotsbyrefrerenceusingget-v2",
        "parameters": [
          {
            "description": "Reference RGD ID",
            "in": "path",
            "name": "refRgdId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "annotatedObjectRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "annotationExtension": {
                        "type": "string"
                      },
                      "aspect": {
                        "type": "string"
                      },
                      "createdBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "createdDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dataSrc": {
                        "type": "string"
                      },
                      "evidence": {
                        "type": "string"
                      },
                      "geneProductFormId": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "objectName": {
                        "type": "string"
                      },
                      "objectSymbol": {
                        "type": "string"
                      },
                      "originalCreatedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "refRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "relativeTo": {
                        "type": "string"
                      },
                      "rgdObjectKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "term": {
                        "type": "string"
                      },
                      "termAcc": {
                        "type": "string"
                      },
                      "withInfo": {
                        "type": "string"
                      },
                      "xrefSource": {
                        "type": "string"
                      }
                    },
                    "title": "Annotation",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns a list of annotations for a reference",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/rgdid/sku": {
      "get": {
        "operationId": "getannotationsbyrgdidusingget-v2",
        "parameters": [
          {
            "description": "RGD ID",
            "in": "path",
            "name": "rgdId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "annotatedObjectRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "annotationExtension": {
                        "type": "string"
                      },
                      "aspect": {
                        "type": "string"
                      },
                      "createdBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "createdDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dataSrc": {
                        "type": "string"
                      },
                      "evidence": {
                        "type": "string"
                      },
                      "geneProductFormId": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "objectName": {
                        "type": "string"
                      },
                      "objectSymbol": {
                        "type": "string"
                      },
                      "originalCreatedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "refRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "relativeTo": {
                        "type": "string"
                      },
                      "rgdObjectKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "term": {
                        "type": "string"
                      },
                      "termAcc": {
                        "type": "string"
                      },
                      "withInfo": {
                        "type": "string"
                      },
                      "xrefSource": {
                        "type": "string"
                      }
                    },
                    "title": "Annotation",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns a list of annotations by RGD ID",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/rgdid/userid/paymentid": {
      "get": {
        "operationId": "getannotationsbyrgdidandontologyusingget",
        "parameters": [
          {
            "description": "RGD ID",
            "in": "path",
            "name": "rgdId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Ontology Prefix.  The prefix can be found left of the semicolon in an ontology term accession ID.  As an example, term accession PW:0000034 has the ontology prefix PW",
            "in": "path",
            "name": "ontologyPrefix",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "annotatedObjectRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "annotationExtension": {
                        "type": "string"
                      },
                      "aspect": {
                        "type": "string"
                      },
                      "createdBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "createdDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dataSrc": {
                        "type": "string"
                      },
                      "evidence": {
                        "type": "string"
                      },
                      "geneProductFormId": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "objectName": {
                        "type": "string"
                      },
                      "objectSymbol": {
                        "type": "string"
                      },
                      "originalCreatedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "refRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "relativeTo": {
                        "type": "string"
                      },
                      "rgdObjectKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "term": {
                        "type": "string"
                      },
                      "termAcc": {
                        "type": "string"
                      },
                      "withInfo": {
                        "type": "string"
                      },
                      "xrefSource": {
                        "type": "string"
                      }
                    },
                    "title": "Annotation",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns a list of annotations by RGD ID and ontology prefix",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/paymentid/paymentid": {
      "get": {
        "operationId": "getannotationsbyaccidandrgdidusingget",
        "parameters": [
          {
            "description": "Ontology Term Accession ID",
            "in": "path",
            "name": "accId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "RGD ID",
            "in": "path",
            "name": "rgdId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "annotatedObjectRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "annotationExtension": {
                        "type": "string"
                      },
                      "aspect": {
                        "type": "string"
                      },
                      "createdBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "createdDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dataSrc": {
                        "type": "string"
                      },
                      "evidence": {
                        "type": "string"
                      },
                      "geneProductFormId": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "objectName": {
                        "type": "string"
                      },
                      "objectSymbol": {
                        "type": "string"
                      },
                      "originalCreatedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "refRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "relativeTo": {
                        "type": "string"
                      },
                      "rgdObjectKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "term": {
                        "type": "string"
                      },
                      "termAcc": {
                        "type": "string"
                      },
                      "withInfo": {
                        "type": "string"
                      },
                      "xrefSource": {
                        "type": "string"
                      }
                    },
                    "title": "Annotation",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns a list of annotations by RGD ID and ontology term accession ID",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/annotations/id/orderid/userid": {
      "get": {
        "operationId": "getannotationsusingget",
        "parameters": [
          {
            "description": "Ontology term accession ID",
            "in": "path",
            "name": "accId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of species type keys can be found using the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "true: return annotations for the term and children, false: return annotations for the term only ",
            "in": "path",
            "name": "includeChildren",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "annotatedObjectRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "annotationExtension": {
                        "type": "string"
                      },
                      "aspect": {
                        "type": "string"
                      },
                      "createdBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "createdDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dataSrc": {
                        "type": "string"
                      },
                      "evidence": {
                        "type": "string"
                      },
                      "geneProductFormId": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedBy": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "lastModifiedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "objectName": {
                        "type": "string"
                      },
                      "objectSymbol": {
                        "type": "string"
                      },
                      "originalCreatedDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "qualifier": {
                        "type": "string"
                      },
                      "refRgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "relativeTo": {
                        "type": "string"
                      },
                      "rgdObjectKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "term": {
                        "type": "string"
                      },
                      "termAcc": {
                        "type": "string"
                      },
                      "withInfo": {
                        "type": "string"
                      },
                      "xrefSource": {
                        "type": "string"
                      }
                    },
                    "title": "Annotation",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Returns a list annotations for an ontology term or a term and it's children",
        "tags": [
          "Annotation"
        ]
      }
    },
    "/enrichment/annotatedgenes": {
      "post": {
        "operationId": "getenrichmentdatausingpost-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "accId": {
                    "type": "string"
                  },
                  "geneSymbols": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "species": {
                    "type": "string"
                  }
                },
                "title": "EnrichmentGeneRequest",
                "type": "object"
              }
            }
          },
          "description": "geneRequest",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes annotated to the term.Genes are rgdids separated by comma.Species type is an integer value.term is the ontology",
        "tags": [
          "enrichment-web-service"
        ]
      }
    },
    "/enrichment/data": {
      "post": {
        "operationId": "getenrichmentdatausingpost-1-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "aspect": {
                    "type": "string"
                  },
                  "genes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "species": {
                    "type": "string"
                  }
                },
                "title": "EnrichmentRequest",
                "type": "object"
              }
            }
          },
          "description": "enrichmentRequest",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a chart of ontology terms annotated to the genes.Genes are rgdids separated by comma.Species type is an integer value.Aspect is the Ontology group",
        "tags": [
          "enrichment-web-service"
        ]
      }
    },
    "/genes/affyid/paymentid/orderid": {
      "get": {
        "operationId": "getgenesbyaffyidusingget-v2",
        "parameters": [
          {
            "description": "Affymetrix ID",
            "in": "path",
            "name": "affyId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of RGD species type keys can be found in the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes for an affymetrix ID",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/alias/sku/userid": {
      "get": {
        "operationId": "getgenesbyaliassymbolusingget",
        "parameters": [
          {
            "description": "Gene alias symbol",
            "in": "path",
            "name": "aliasSymbol",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A list of RGD species type keys can be found in the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes for an alias and species",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/allele/paymentid": {
      "get": {
        "operationId": "getgeneallelesusingget",
        "parameters": [
          {
            "description": "RGD ID of gene",
            "in": "path",
            "name": "rgdId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of gene alleles",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/annotation": {
      "post": {
        "operationId": "getannotatedgenesusingpost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "accId": {
                    "type": "string"
                  },
                  "evidenceCodes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "speciesTypeKeys": {
                    "items": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "type": "array"
                  }
                },
                "title": "AnnotatedGeneRequest",
                "type": "object"
              }
            }
          },
          "description": "data"
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes annotated to an ontology term",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/annotation/id": {
      "get": {
        "operationId": "getallannotatedgenesusingget",
        "parameters": [
          {
            "description": "Accesstion ID",
            "in": "path",
            "name": "accId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes annotated to an ontology term",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/annotation/userid/orderid": {
      "get": {
        "operationId": "getgenesannotatedusingget",
        "parameters": [
          {
            "description": "Ontology term accession ID",
            "in": "path",
            "name": "accId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Species type key.  A list of species type keys can be found in the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes annotated to an ontology term",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/keyword/id/orderid": {
      "get": {
        "operationId": "getgenesbykeywordusingget-v2",
        "parameters": [
          {
            "description": "Search keyword",
            "in": "path",
            "name": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Species type key.  A list of species type keys can be found in the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes by keyword and species type key",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/map/orderid": {
      "get": {
        "operationId": "getgenebymapkeyusingget-v2",
        "parameters": [
          {
            "description": "A list of RGD assembly map keys can be found in the lookup service",
            "in": "path",
            "name": "mapKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "chromosome": {
                        "type": "string"
                      },
                      "gene": {
                        "properties": {
                          "agrDescription": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "ensemblFullName": {
                            "type": "string"
                          },
                          "ensemblGeneSymbol": {
                            "type": "string"
                          },
                          "ensemblGeneType": {
                            "type": "string"
                          },
                          "geneSource": {
                            "type": "string"
                          },
                          "key": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "mergedDescription": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ncbiAnnotStatus": {
                            "type": "string"
                          },
                          "nomenReviewDate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "nomenSource": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "refSeqStatus": {
                            "type": "string"
                          },
                          "rgdId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "soAccId": {
                            "type": "string"
                          },
                          "speciesTypeKey": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "variant": {
                            "type": "boolean"
                          }
                        },
                        "title": "Gene",
                        "type": "object"
                      },
                      "mapKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "start": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "stop": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "strand": {
                        "type": "string"
                      }
                    },
                    "title": "MappedGene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of all genes with position information for an assembly",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/mapped/paymentid/orderid/paymentid/id": {
      "get": {
        "operationId": "getmappedgenesbypositionusingget",
        "parameters": [
          {
            "description": "Chromosome",
            "in": "path",
            "name": "chr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Position",
            "in": "path",
            "name": "start",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Stop Position",
            "in": "path",
            "name": "stop",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "A list of RGD assembly map keys can be found in the lookup service",
            "in": "path",
            "name": "mapKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "chromosome": {
                        "type": "string"
                      },
                      "gene": {
                        "properties": {
                          "agrDescription": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "ensemblFullName": {
                            "type": "string"
                          },
                          "ensemblGeneSymbol": {
                            "type": "string"
                          },
                          "ensemblGeneType": {
                            "type": "string"
                          },
                          "geneSource": {
                            "type": "string"
                          },
                          "key": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "mergedDescription": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "ncbiAnnotStatus": {
                            "type": "string"
                          },
                          "nomenReviewDate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "nomenSource": {
                            "type": "string"
                          },
                          "notes": {
                            "type": "string"
                          },
                          "refSeqStatus": {
                            "type": "string"
                          },
                          "rgdId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "soAccId": {
                            "type": "string"
                          },
                          "speciesTypeKey": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "variant": {
                            "type": "boolean"
                          }
                        },
                        "title": "Gene",
                        "type": "object"
                      },
                      "mapKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "start": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "stop": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "strand": {
                        "type": "string"
                      }
                    },
                    "title": "MappedGene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes position and map key",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/orthologs": {
      "post": {
        "operationId": "getorthologsbylistusingpost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "rgdIds": {
                    "items": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "type": "array"
                  },
                  "speciesTypeKeys": {
                    "items": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "type": "array"
                  }
                },
                "title": "OrthologRequest",
                "type": "object"
              }
            }
          },
          "description": "orthologRequest",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "additionalProperties": {
                    "items": {
                      "properties": {
                        "agrDescription": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ensemblFullName": {
                          "type": "string"
                        },
                        "ensemblGeneSymbol": {
                          "type": "string"
                        },
                        "ensemblGeneType": {
                          "type": "string"
                        },
                        "geneSource": {
                          "type": "string"
                        },
                        "key": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "mergedDescription": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "ncbiAnnotStatus": {
                          "type": "string"
                        },
                        "nomenReviewDate": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "nomenSource": {
                          "type": "string"
                        },
                        "notes": {
                          "type": "string"
                        },
                        "refSeqStatus": {
                          "type": "string"
                        },
                        "rgdId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "soAccId": {
                          "type": "string"
                        },
                        "speciesTypeKey": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "symbol": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "variant": {
                          "type": "boolean"
                        }
                      },
                      "title": "Gene",
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of gene orthologs",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/orthologs/orderid": {
      "get": {
        "operationId": "getgeneorthologsusingget",
        "parameters": [
          {
            "description": "RGD ID of a gene",
            "in": "path",
            "name": "rgdId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of gene orthologs",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/region/id/userid/id/sku": {
      "get": {
        "operationId": "getgenesinregionusingget-v2",
        "parameters": [
          {
            "description": "Chromosome",
            "in": "path",
            "name": "chr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Position",
            "in": "path",
            "name": "start",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Stop Position",
            "in": "path",
            "name": "stop",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "A list of RGD assembly map keys can be found in the lookup service",
            "in": "path",
            "name": "mapKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "chromosome": {
                        "type": "string"
                      },
                      "mapKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "start": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "stop": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "strand": {
                        "type": "string"
                      },
                      "symbol": {
                        "type": "string"
                      }
                    },
                    "title": "MappedGenePosition",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes in region",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/species/paymentid": {
      "get": {
        "operationId": "getgenesbyspeciesusingget",
        "parameters": [
          {
            "description": "A list of RGD species type keys can be found in the lookup service",
            "in": "path",
            "name": "speciesTypeKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of all genes for a species in RGD",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/sku/id/userid/id": {
      "get": {
        "operationId": "getgenesbypositionusingget",
        "parameters": [
          {
            "description": "Chromosome",
            "in": "path",
            "name": "chr",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start Position",
            "in": "path",
            "name": "start",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Stop Position",
            "in": "path",
            "name": "stop",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "A list of RGD assembly map keys can be found in the lookup service",
            "in": "path",
            "name": "mapKey",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "items": {
                    "properties": {
                      "agrDescription": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ensemblFullName": {
                        "type": "string"
                      },
                      "ensemblGeneSymbol": {
                        "type": "string"
                      },
                      "ensemblGeneType": {
                        "type": "string"
                      },
                      "geneSource": {
                        "type": "string"
                      },
                      "key": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "mergedDescription": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "ncbiAnnotStatus": {
                        "type": "string"
                      },
                      "nomenReviewDate": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "nomenSource": {
                        "type": "string"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "refSeqStatus": {
                        "type": "string"
                      },
                      "rgdId": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "soAccId": {
                        "type": "string"
                      },
                      "speciesTypeKey": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "symbol": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "variant": {
                        "type": "boolean"
                      }
                    },
                    "title": "Gene",
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "Return a list of genes position and map key",
        "tags": [
          "Gene"
        ]
      }
    },
    "/genes/id": {
      "get": {
        "operationId": "getgenebyrgdidusingget",
        "parameters": [
          {
            "description": "The RGD ID of a Gene in RGD",
            "in": "path",
            "name": "rgdId",
            "required": true,
            "schema": {
[...]
