{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/nascar/v2"
    },
    {
      "url": "https://azure-api.sportsdata.io/nascar/v2"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "NASCAR v2",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/nfldata/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nascar-v2.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nascar-v2"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/paymentid/driverraceprojections/orderid": {
      "get": {
        "operationId": "driverraceprojectionsentrylist-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Race ID.\nExample:<code>1</code>, <code>2</code>, etc.",
            "in": "path",
            "name": "raceid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Bonus": {
                        "nullable": true,
                        "type": "number"
                      },
                      "Created": {
                        "nullable": true,
                        "type": "string"
                      },
                      "CurrentPosition": {
                        "nullable": true,
                        "type": "number"
                      },
                      "DateTime": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Day": {
                        "nullable": true,
                        "type": "string"
                      },
                      "DraftKingsSalary": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "DriverID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "FantasyPoints": {
                        "nullable": true,
                        "type": "number"
                      },
                      "FantasyPointsDraftKings": {
                        "nullable": true,
                        "type": "number"
                      },
                      "FastestLaps": {
                        "nullable": true,
                        "type": "number"
                      },
                      "FinalPosition": {
                        "nullable": true,
                        "type": "number"
                      },
                      "Laps": {
                        "nullable": true,
                        "type": "number"
                      },
                      "LapsLed": {
                        "nullable": true,
                        "type": "number"
                      },
                      "Manufacturer": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Name": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Number": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "NumberDisplay": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Penalty": {
                        "nullable": true,
                        "type": "number"
                      },
                      "Points": {
                        "nullable": true,
                        "type": "number"
                      },
                      "PoleFinalPosition": {
                        "nullable": true,
                        "type": "number"
                      },
                      "Poles": {
                        "nullable": true,
                        "type": "number"
                      },
                      "PositionDifferential": {
                        "nullable": true,
                        "type": "number"
                      },
                      "QualifyingSpeed": {
                        "nullable": true,
                        "type": "number"
                      },
                      "RaceID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "Season": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "StartPosition": {
                        "nullable": true,
                        "type": "number"
                      },
                      "StatID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Wins": {
                        "nullable": true,
                        "type": "number"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Driver Race Projections (Entry List)"
      }
    },
    "/sku/driver/id": {
      "get": {
        "operationId": "driverdetails-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Driver ID.\nExample:<code>80000268</code>.",
            "in": "path",
            "name": "driverid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "BirthDate": {
                      "nullable": true,
                      "type": "string"
                    },
                    "BirthPlace": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Chassis": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Created": {
                      "nullable": true,
                      "type": "string"
                    },
                    "CrewChief": {
                      "nullable": true,
                      "type": "string"
                    },
                    "DriverID": {
                      "nullable": false,
                      "type": "integer"
                    },
                    "Engine": {
                      "nullable": true,
                      "type": "string"
                    },
                    "FirstName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Gender": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Height": {
                      "nullable": true,
                      "type": "integer"
                    },
                    "LastName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Manufacturer": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Number": {
                      "nullable": true,
                      "type": "integer"
                    },
                    "NumberDisplay": {
                      "nullable": true,
                      "type": "string"
                    },
                    "PhotoUrl": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Sponsors": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Team": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Updated": {
                      "nullable": true,
                      "type": "string"
                    },
                    "Weight": {
                      "nullable": true,
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Driver Details"
      }
    },
    "/userid/drivers": {
      "get": {
        "operationId": "drivers-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "BirthDate": {
                        "nullable": true,
                        "type": "string"
                      },
                      "BirthPlace": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Chassis": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Created": {
                        "nullable": true,
                        "type": "string"
                      },
                      "CrewChief": {
                        "nullable": true,
                        "type": "string"
                      },
                      "DriverID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "Engine": {
                        "nullable": true,
                        "type": "string"
                      },
                      "FirstName": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Gender": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Height": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "LastName": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Manufacturer": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Number": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "NumberDisplay": {
                        "nullable": true,
                        "type": "string"
                      },
                      "PhotoUrl": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Sponsors": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Team": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Weight": {
                        "nullable": true,
                        "type": "integer"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Drivers"
      }
    },
    "/userid/raceresult/sku": {
      "get": {
        "operationId": "raceresults-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Race ID.\nExample:<code>1</code>, <code>2</code>, etc.",
            "in": "path",
            "name": "raceid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "DriverRaces": {
                      "items": {
                        "properties": {
                          "Bonus": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Created": {
                            "nullable": true,
                            "type": "string"
                          },
                          "CurrentPosition": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DraftKingsSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DriverID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "FantasyPoints": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsDraftKings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FastestLaps": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FinalPosition": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Laps": {
                            "nullable": true,
                            "type": "number"
                          },
                          "LapsLed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Manufacturer": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Number": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "NumberDisplay": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Penalty": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Points": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PoleFinalPosition": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Poles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PositionDifferential": {
                            "nullable": true,
                            "type": "number"
                          },
                          "QualifyingSpeed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "RaceID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "StartPosition": {
                            "nullable": true,
                            "type": "number"
                          },
                          "StatID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Wins": {
                            "nullable": true,
                            "type": "number"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "Race": {
                      "properties": {
                        "ActualLaps": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Broadcast": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Canceled": {
                          "nullable": false,
                          "type": "boolean"
                        },
                        "Created": {
                          "nullable": true,
                          "type": "string"
                        },
                        "DateTime": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Day": {
                          "nullable": true,
                          "type": "string"
                        },
                        "IsInProgress": {
                          "nullable": false,
                          "type": "boolean"
                        },
                        "IsOver": {
                          "nullable": false,
                          "type": "boolean"
                        },
                        "Name": {
                          "nullable": true,
                          "type": "string"
                        },
                        "PoleWinnerID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "RaceID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "RescheduledDateTime": {
                          "nullable": true,
                          "type": "string"
                        },
                        "RescheduledDay": {
                          "nullable": true,
                          "type": "string"
                        },
                        "ScheduledLaps": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Season": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "SeriesID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "SeriesName": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Track": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Updated": {
                          "nullable": true,
                          "type": "string"
                        },
                        "WinnerID": {
                          "nullable": true,
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Race Results"
      }
    },
    "/id/races/userid": {
      "get": {
        "operationId": "racesschedule",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season.\n<br>Examples: <code>2015</code>, <code>2016</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "ActualLaps": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "Broadcast": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Canceled": {
                        "nullable": false,
                        "type": "boolean"
                      },
                      "Created": {
                        "nullable": true,
                        "type": "string"
                      },
                      "DateTime": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Day": {
                        "nullable": true,
                        "type": "string"
                      },
                      "IsInProgress": {
                        "nullable": false,
                        "type": "boolean"
                      },
                      "IsOver": {
                        "nullable": false,
                        "type": "boolean"
                      },
                      "Name": {
                        "nullable": true,
                        "type": "string"
                      },
                      "PoleWinnerID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "RaceID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "RescheduledDateTime": {
                        "nullable": true,
                        "type": "string"
                      },
                      "RescheduledDay": {
                        "nullable": true,
                        "type": "string"
                      },
                      "ScheduledLaps": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "Season": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "SeriesID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "SeriesName": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Track": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "WinnerID": {
                        "nullable": true,
                        "type": "integer"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Races / Schedule"
      }
    },
    "/paymentid/series": {
      "get": {
        "operationId": "series-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Name": {
                        "nullable": true,
                        "type": "string"
                      },
                      "SeriesID": {
                        "nullable": false,
                        "type": "integer"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Series"
      }
    }
  },
  "components": {
    "schemas": {
      "Driver": {
        "properties": {
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "BirthPlace": {
            "nullable": true,
            "type": "string"
          },
          "Chassis": {
            "nullable": true,
            "type": "string"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "CrewChief": {
            "nullable": true,
            "type": "string"
          },
          "DriverID": {
            "nullable": false,
            "type": "integer"
          },
          "Engine": {
            "nullable": true,
            "type": "string"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "Manufacturer": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "NumberDisplay": {
            "nullable": true,
            "type": "string"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "Sponsors": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "DriverRace": {
        "properties": {
          "Bonus": {
            "nullable": true,
            "type": "number"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "CurrentPosition": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "DriverID": {
            "nullable": false,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FastestLaps": {
            "nullable": true,
            "type": "number"
          },
          "FinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Laps": {
            "nullable": true,
            "type": "number"
          },
          "LapsLed": {
            "nullable": true,
            "type": "number"
          },
          "Manufacturer": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "NumberDisplay": {
            "nullable": true,
            "type": "string"
          },
          "Penalty": {
            "nullable": true,
            "type": "number"
          },
          "Points": {
            "nullable": true,
            "type": "number"
          },
          "PoleFinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Poles": {
            "nullable": true,
            "type": "number"
          },
          "PositionDifferential": {
            "nullable": true,
            "type": "number"
          },
          "QualifyingSpeed": {
            "nullable": true,
            "type": "number"
          },
          "RaceID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "StartPosition": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "DriverRaceProjection": {
        "properties": {
          "Bonus": {
            "nullable": true,
            "type": "number"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "CurrentPosition": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "DriverID": {
            "nullable": false,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FastestLaps": {
            "nullable": true,
            "type": "number"
          },
          "FinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Laps": {
            "nullable": true,
            "type": "number"
          },
          "LapsLed": {
            "nullable": true,
            "type": "number"
          },
          "Manufacturer": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": true,
            "type": "integer"
          },
          "NumberDisplay": {
            "nullable": true,
            "type": "string"
          },
          "Penalty": {
            "nullable": true,
            "type": "number"
          },
          "Points": {
            "nullable": true,
            "type": "number"
          },
          "PoleFinalPosition": {
            "nullable": true,
            "type": "number"
          },
          "Poles": {
            "nullable": true,
            "type": "number"
          },
          "PositionDifferential": {
            "nullable": true,
            "type": "number"
          },
          "QualifyingSpeed": {
            "nullable": true,
            "type": "number"
          },
          "RaceID": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "StartPosition": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Wins": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "Race": {
        "properties": {
          "ActualLaps": {
            "nullable": true,
            "type": "integer"
          },
          "Broadcast": {
            "nullable": true,
            "type": "string"
          },
          "Canceled": {
            "nullable": false,
            "type": "boolean"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "IsInProgress": {
            "nullable": false,
            "type": "boolean"
          },
          "IsOver": {
            "nullable": false,
            "type": "boolean"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PoleWinnerID": {
            "nullable": true,
            "type": "integer"
          },
          "RaceID": {
            "nullable": false,
            "type": "integer"
          },
          "RescheduledDateTime": {
            "nullable": true,
            "type": "string"
          },
          "RescheduledDay": {
            "nullable": true,
            "type": "string"
          },
          "ScheduledLaps": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeriesID": {
            "nullable": false,
            "type": "integer"
          },
          "SeriesName": {
            "nullable": true,
            "type": "string"
          },
          "Track": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "WinnerID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "RaceResult": {
        "properties": {
          "DriverRaces": {
            "items": {
              "properties": {
                "Bonus": {
                  "nullable": true,
                  "type": "number"
                },
                "Created": {
                  "nullable": true,
                  "type": "string"
                },
                "CurrentPosition": {
                  "nullable": true,
                  "type": "number"
                },
                "DateTime": {
                  "nullable": true,
                  "type": "string"
                },
                "Day": {
                  "nullable": true,
                  "type": "string"
                },
                "DraftKingsSalary": {
                  "nullable": true,
                  "type": "integer"
                },
                "DriverID": {
                  "nullable": false,
                  "type": "integer"
                },
                "FantasyPoints": {
                  "nullable": true,
                  "type": "number"
                },
                "FantasyPointsDraftKings": {
                  "nullable": true,
                  "type": "number"
                },
                "FastestLaps": {
                  "nullable": true,
                  "type": "number"
                },
                "FinalPosition": {
                  "nullable": true,
                  "type": "number"
                },
                "Laps": {
                  "nullable": true,
                  "type": "number"
                },
                "LapsLed": {
                  "nullable": true,
                  "type": "number"
                },
                "Manufacturer": {
                  "nullable": true,
                  "type": "string"
                },
                "Name": {
                  "nullable": true,
                  "type": "string"
                },
                "Number": {
                  "nullable": true,
                  "type": "integer"
                },
                "NumberDisplay": {
                  "nullable": true,
                  "type": "string"
                },
                "Penalty": {
                  "nullable": true,
                  "type": "number"
                },
                "Points": {
                  "nullable": true,
                  "type": "number"
                },
                "PoleFinalPosition": {
                  "nullable": true,
                  "type": "number"
                },
                "Poles": {
                  "nullable": true,
                  "type": "number"
                },
                "PositionDifferential": {
                  "nullable": true,
                  "type": "number"
                },
                "QualifyingSpeed": {
                  "nullable": true,
                  "type": "number"
                },
                "RaceID": {
                  "nullable": true,
                  "type": "integer"
                },
                "Season": {
                  "nullable": false,
                  "type": "integer"
                },
                "StartPosition": {
                  "nullable": true,
                  "type": "number"
                },
                "StatID": {
                  "nullable": false,
                  "type": "integer"
                },
                "Updated": {
                  "nullable": true,
                  "type": "string"
                },
                "Wins": {
                  "nullable": true,
                  "type": "number"
                }
              }
            },
            "type": "array"
          },
          "Race": {
            "properties": {
              "ActualLaps": {
                "nullable": true,
                "type": "integer"
              },
              "Broadcast": {
                "nullable": true,
                "type": "string"
              },
              "Canceled": {
                "nullable": false,
                "type": "boolean"
              },
              "Created": {
                "nullable": true,
                "type": "string"
              },
              "DateTime": {
                "nullable": true,
                "type": "string"
              },
              "Day": {
                "nullable": true,
                "type": "string"
              },
              "IsInProgress": {
                "nullable": false,
                "type": "boolean"
              },
              "IsOver": {
                "nullable": false,
                "type": "boolean"
              },
              "Name": {
                "nullable": true,
                "type": "string"
              },
              "PoleWinnerID": {
                "nullable": true,
                "type": "integer"
              },
              "RaceID": {
                "nullable": false,
                "type": "integer"
              },
              "RescheduledDateTime": {
                "nullable": true,
                "type": "string"
              },
              "RescheduledDay": {
                "nullable": true,
                "type": "string"
              },
              "ScheduledLaps": {
                "nullable": true,
                "type": "integer"
              },
              "Season": {
                "nullable": false,
                "type": "integer"
              },
              "SeriesID": {
                "nullable": false,
                "type": "integer"
              },
              "SeriesName": {
                "nullable": true,
                "type": "string"
              },
              "Track": {
                "nullable": true,
                "type": "string"
              },
              "Updated": {
                "nullable": true,
                "type": "string"
              },
              "WinnerID": {
                "nullable": true,
                "type": "integer"
              }
            }
          }
        }
      },
      "Series": {
        "properties": {
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "SeriesID": {
            "nullable": false,
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}