{
  "openapi": "3.0.0",
  "info": {
    "version": "2017-10-25",
    "x-release": "v4",
    "title": "AWS Cost Explorer Service",
    "description": "<p>You can use the Cost Explorer API to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data. This might include the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p> <code>https://ce.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>For information about the costs that are associated with the Cost Explorer API, see <a href=\"http://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost Management Pricing</a>.</p>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "ce",
    "x-aws-signingName": "ce",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ce-2017-10-25.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/ce/"
  },
  "servers": [
    {
      "url": "http://ce.us-east-1.amazonaws.com",
      "variables": {},
      "description": "The general AWS Cost Explorer multi-region endpoint"
    },
    {
      "url": "https://ce.us-east-1.amazonaws.com",
      "variables": {},
      "description": "The general AWS Cost Explorer multi-region endpoint"
    },
    {
      "url": "http://ce.cn-northwest-1.amazonaws.com.cn",
      "variables": {},
      "description": "The general AWS Cost Explorer endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://ce.cn-northwest-1.amazonaws.com.cn",
      "variables": {},
      "description": "The general AWS Cost Explorer endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/products/{id}": {
      "post": {
        "operationId": "updateanomalysubscription",
        "description": "<p>Updates an existing cost anomaly subscription. Specify the fields that you want to update. Omitted fields are unchanged.</p> <note> <p>The JSON below describes the generic construct for each type. See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_UpdateAnomalySubscription.html#API_UpdateAnomalySubscription_RequestParameters\">Request Parameters</a> for possible values as they apply to <code>AnomalySubscription</code>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "SubscriptionArn"
                  ],
                  "properties": {
                    "SubscriptionArn": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[\\S\\s]*",
                          "minLength": 0,
                          "maxLength": 1024
                        },
                        {
                          "description": "A cost anomaly subscription ARN. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "LimitExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "UnknownMonitorException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "UnknownSubscriptionException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "SubscriptionArn"
                ],
                "title": "UpdateAnomalySubscriptionRequest",
                "properties": {
                  "SubscriptionArn": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\S\\s]*",
                        "minLength": 0,
                        "maxLength": 1024
                      },
                      {
                        "description": "A cost anomaly subscription Amazon Resource Name (ARN). "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "Threshold": {
                    "allOf": [
                      {
                        "type": "number",
                        "format": "double",
                        "minimum": 0
                      },
                      {
                        "deprecated": true,
                        "description": "<p>(deprecated)</p> <p>The update to the threshold value for receiving notifications. </p> <p>This field has been deprecated. To update a threshold, use ThresholdExpression. Continued use of Threshold will be treated as shorthand syntax for a ThresholdExpression.</p> <p>You can specify either Threshold or ThresholdExpression, but not both.</p>Threshold has been deprecated in favor of ThresholdExpression"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "Frequency": {
                    "allOf": [
                      {
                        "type": "string",
                        "enum": [
                          "DAILY",
                          "IMMEDIATE",
                          "WEEKLY"
                        ]
                      },
                      {
                        "description": "The update to the frequency value that subscribers receive notifications. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "MonitorArnList": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+",
                          "minLength": 20,
                          "maxLength": 2048
                        }
                      },
                      {
                        "description": "A list of cost anomaly monitor ARNs. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "Subscribers": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Address": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "(^[a-zA-Z0-9.!#$%&'*+=?^_‘{|}~-]+@[a-zA-Z0-9_-]+(\\.[a-zA-Z0-9_-]+)+$)|(^arn:(aws[a-zA-Z-]*):sns:[a-zA-Z0-9-]+:[0-9]{12}:[a-zA-Z0-9_-]+(\\.fifo)?$)",
                                  "minLength": 6,
                                  "maxLength": 302
                                },
                                {
                                  "description": "The email address or SNS Amazon Resource Name (ARN). This depends on the <code>Type</code>. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Type": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "EMAIL",
                                    "SNS"
                                  ]
                                },
                                {
                                  "description": "The notification delivery channel. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Status": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "CONFIRMED",
                                    "DECLINED"
                                  ]
                                },
                                {
                                  "description": "Indicates if the subscriber accepts the notifications. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "The recipient of <code>AnomalySubscription</code> notifications. "
                        }
                      },
                      {
                        "description": "The update to the subscriber list. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "SubscriptionName": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\S\\s]*",
                        "minLength": 0,
                        "maxLength": 1024
                      },
                      {
                        "description": "The new name of the subscription. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "ThresholdExpression": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "Or": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "__ref_cycle__": "#/components/schemas/Expression"
                                }
                              },
                              {
                                "description": "Return results that match either <code>Dimension</code> object."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "And": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "__ref_cycle__": "#/components/schemas/Expression"
                                }
                              },
                              {
                                "description": "Return results that match both <code>Dimension</code> objects."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "Not": {
                            "allOf": [
                              {
                                "__ref_cycle__": "#/components/schemas/Expression"
                              },
                              {
                                "description": "Return results that don't match a <code>Dimension</code> object."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "Dimensions": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "Key": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "AZ",
                                          "INSTANCE_TYPE",
                                          "LINKED_ACCOUNT",
                                          "LINKED_ACCOUNT_NAME",
                                          "OPERATION",
                                          "PURCHASE_TYPE",
                                          "REGION",
                                          "SERVICE",
                                          "SERVICE_CODE",
                                          "USAGE_TYPE",
                                          "USAGE_TYPE_GROUP",
                                          "RECORD_TYPE",
                                          "OPERATING_SYSTEM",
                                          "TENANCY",
                                          "SCOPE",
                                          "PLATFORM",
                                          "SUBSCRIPTION_ID",
                                          "LEGAL_ENTITY_NAME",
                                          "DEPLOYMENT_OPTION",
                                          "DATABASE_ENGINE",
                                          "CACHE_ENGINE",
                                          "INSTANCE_TYPE_FAMILY",
                                          "BILLING_ENTITY",
                                          "RESERVATION_ID",
                                          "RESOURCE_ID",
                                          "RIGHTSIZING_TYPE",
                                          "SAVINGS_PLANS_TYPE",
                                          "SAVINGS_PLAN_ARN",
                                          "PAYMENT_OPTION",
                                          "AGREEMENT_END_DATE_TIME_AFTER",
                                          "AGREEMENT_END_DATE_TIME_BEFORE",
                                          "INVOICING_ENTITY",
                                          "ANOMALY_TOTAL_IMPACT_ABSOLUTE",
                                          "ANOMALY_TOTAL_IMPACT_PERCENTAGE"
                                        ]
                                      },
                                      {
                                        "description": "<p>The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones.</p> <p>Not all dimensions are supported in each API. Refer to the documentation for each specific API to see what is supported.</p> <p> <code>LINK_ACCOUNT_NAME</code> and <code>SERVICE_CODE</code> can only be used in <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p> <p> <code>ANOMALY_TOTAL_IMPACT_ABSOLUTE</code> and <code>ANOMALY_TOTAL_IMPACT_PERCENTAGE</code> can only be used in <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalySubscription.html\">AnomalySubscriptions</a>.</p>"
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Values": {
                                    "allOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "pattern": "[\\S\\s]*",
                                          "minLength": 0,
                                          "maxLength": 1024
                                        }
                                      },
                                      {
                                        "description": "The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "MatchOptions": {
                                    "allOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "enum": [
                                            "EQUALS",
                                            "ABSENT",
                                            "STARTS_WITH",
                                            "ENDS_WITH",
                                            "CONTAINS",
                                            "CASE_SENSITIVE",
                                            "CASE_INSENSITIVE",
                                            "GREATER_THAN_OR_EQUAL"
                                          ]
                                        }
                                      },
                                      {
                                        "description": "<p>The match options that you can use to filter your results.</p> <p> <code>MatchOptions</code> is only applicable for actions related to Cost Category and Anomaly Subscriptions. Refer to the documentation for each specific API to see what is supported.</p> <p>The default values for <code>MatchOptions</code> are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.</p>"
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  }
                                },
                                "description": "The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values."
                              },
                              {
                                "description": "The specific <code>Dimension</code> to use for <code>Expression</code>."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "Tags": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "Key": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "pattern": "[\\S\\s]*",
                                        "minLength": 0,
                                        "maxLength": 1024
                                      },
                                      {
                                        "description": "The key for the tag."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Values": {
                                    "allOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "pattern": "[\\S\\s]*",
                                          "minLength": 0,
                                          "maxLength": 1024
                                        }
                                      },
                                      {
                                        "description": "The specific value of the tag."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "MatchOptions": {
                                    "allOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "enum": [
                                            "EQUALS",
                                            "ABSENT",
                                            "STARTS_WITH",
                                            "ENDS_WITH",
                                            "CONTAINS",
                                            "CASE_SENSITIVE",
                                            "CASE_INSENSITIVE",
                                            "GREATER_THAN_OR_EQUAL"
                                          ]
                                        }
                                      },
                                      {
                                        "description": "The match options that you can use to filter your results. <code>MatchOptions</code> is only applicable for actions related to Cost Category. The default values for <code>MatchOptions</code> are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  }
                                },
                                "description": "<p>The values that are available for a tag.</p> <p>If <code>Values</code> and <code>Key</code> aren't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to all tags. That is, it's filtered on resources with no tags.</p> <p>If <code>Key</code> is provided and <code>Values</code> isn't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to the tag <code>Key</code> only. That is, it's filtered on resources without the given tag key.</p>"
                              },
                              {
                                "description": "The specific <code>Tag</code> to use for <code>Expression</code>."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "CostCategories": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "Key": {
                                    "type": "string",
                                    "description": "The unique name of the Cost Category.",
                                    "minLength": 1,
                                    "maxLength": 50,
                                    "x-pattern": "^\\(\\?! \\)[\\p\\{L\\}\\p\\{N\\}\\p\\{Z\\}-_]*$"
                                  },
                                  "Values": {
                                    "allOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "pattern": "[\\S\\s]*",
                                          "minLength": 0,
                                          "maxLength": 1024
                                        }
                                      },
                                      {
                                        "description": "The specific value of the Cost Category."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "MatchOptions": {
                                    "allOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "type": "string",
                                          "enum": [
                                            "EQUALS",
                                            "ABSENT",
                                            "STARTS_WITH",
                                            "ENDS_WITH",
                                            "CONTAINS",
                                            "CASE_SENSITIVE",
                                            "CASE_INSENSITIVE",
                                            "GREATER_THAN_OR_EQUAL"
                                          ]
                                        }
                                      },
                                      {
                                        "description": "The match options that you can use to filter your results. MatchOptions is only applicable for actions related to cost category. The default values for <code>MatchOptions</code> is <code>EQUALS</code> and <code>CASE_SENSITIVE</code>. "
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  }
                                },
                                "description": "<p>The Cost Categories values used for filtering the costs.</p> <p>If <code>Values</code> and <code>Key</code> are not specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to all Cost Categories. That is, it filters on resources that aren't mapped to any Cost Categories.</p> <p>If <code>Values</code> is provided and <code>Key</code> isn't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to the Cost Categories <code>Key</code> only. That is, it filters on resources without the given Cost Categories key.</p>"
                              },
                              {
                                "description": "The filter that's based on <code>CostCategory</code> values."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        "description": "<p>Use <code>Expression</code> to filter in various Cost Explorer APIs.</p> <p>Not all <code>Expression</code> types are supported in each API. Refer to the documentation for each specific API to see what is supported.</p> <p>There are two patterns:</p> <ul> <li> <p>Simple dimension values.</p> <ul> <li> <p>There are three types of simple dimension values: <code>CostCategories</code>, <code>Tags</code>, and <code>Dimensions</code>.</p> <ul> <li> <p>Specify the <code>CostCategories</code> field to define a filter that acts on Cost Categories.</p> </li> <li> <p>Specify the <code>Tags</code> field to define a filter that acts on Cost Allocation Tags.</p> </li> <li> <p>Specify the <code>Dimensions</code> field to define a filter that acts on the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_DimensionValues.html\"> <code>DimensionValues</code> </a>.</p> </li> </ul> </li> <li> <p>For each filter type, you can set the dimension name and values for the filters that you plan to use.</p> <ul> <li> <p>For example, you can filter for <code>REGION==us-east-1 OR REGION==us-west-1</code>. For <code>GetRightsizingRecommendation</code>, the Region is a full name (for example, <code>REGION==US East (N. Virginia)</code>.</p> </li> <li> <p>The corresponding <code>Expression</code> for this example is as follows: <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ] } }</code> </p> </li> <li> <p>As shown in the previous example, lists of dimension values are combined with <code>OR</code> when applying the filter.</p> </li> </ul> </li> <li> <p>You can also set different match options to further control how the filter behaves. Not all APIs support match options. Refer to the documentation for each specific API to see what is supported.</p> <ul> <li> <p>For example, you can filter for linked account names that start with \"a\".</p> </li> <li> <p>The corresponding <code>Expression</code> for this example is as follows: <code>{ \"Dimensions\": { \"Key\": \"LINKED_ACCOUNT_NAME\", \"MatchOptions\": [ \"STARTS_WITH\" ], \"Values\": [ \"a\" ] } }</code> </p> </li> </ul> </li> </ul> </li> <li> <p>Compound <code>Expression</code> types with logical operations.</p> <ul> <li> <p>You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. By doing this, you can filter by more advanced options.</p> </li> <li> <p>For example, you can filter by <code>((REGION == us-east-1 OR REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>.</p> </li> <li> <p>The corresponding <code>Expression</code> for this example is as follows: <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ] }}, {\"Tags\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"] }}} ] } </code> </p> </li> </ul> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an <code>Expression</code> object that creates an error: <code> { \"And\": [ ... ], \"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [ \"DataTransfer\" ] } } </code> </p> <p>The following is an example of the corresponding error message: <code>\"Expression has more than one roots. Only one root operator is allowed for each expression: And, Or, Not, Dimensions, Tags, CostCategories\"</code> </p> </note> </li> </ul> <note> <p>For the <code>GetRightsizingRecommendation</code> action, a combination of OR and NOT isn't supported. OR isn't supported between different dimensions, or dimensions and tags. NOT operators aren't supported. Dimensions are also limited to <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or <code>RIGHTSIZING_TYPE</code>.</p> <p>For the <code>GetReservationPurchaseRecommendation</code> action, only NOT is supported. AND and OR aren't supported. Dimensions are limited to <code>LINKED_ACCOUNT</code>.</p> </note>"
                      },
                      {
                        "description": "<p>The update to the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object used to specify the anomalies that you want to generate alerts for. This supports dimensions and nested expressions. The supported dimensions are <code>ANOMALY_TOTAL_IMPACT_ABSOLUTE</code> and <code>ANOMALY_TOTAL_IMPACT_PERCENTAGE</code>, corresponding to an anomaly’s TotalImpact and TotalImpactPercentage, respectively (see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Impact.html\">Impact</a> for more details). The supported nested expression types are <code>AND</code> and <code>OR</code>. The match option <code>GREATER_THAN_OR_EQUAL</code> is required. Values must be numbers between 0 and 10,000,000,000 in string format.</p> <p>You can specify either Threshold or ThresholdExpression, but not both.</p> <p>The following are examples of valid ThresholdExpressions:</p> <ul> <li> <p>Absolute threshold: <code>{ \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }</code> </p> </li> <li> <p>Percentage threshold: <code>{ \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }</code> </p> </li> <li> <p> <code>AND</code> two thresholds together: <code>{ \"And\": [ { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } } ] }</code> </p> </li> <li> <p> <code>OR</code> two thresholds together: <code>{ \"Or\": [ { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } } ] }</code> </p> </li> </ul>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSInsightsIndexService.UpdateAnomalySubscription"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/payments/{id}": {
      "post": {
        "operationId": "updatecostcategorydefinition",
        "description": "Updates an existing Cost Category. Changes made to the Cost Category rules will be used to categorize the current month’s expenses and future expenses. This won’t change categorization for the previous months.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "CostCategoryArn": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+",
                          "minLength": 20,
                          "maxLength": 2048
                        },
                        {
                          "description": "The unique identifier for your Cost Category. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "EffectiveStart": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "^\\d{4}-\\d\\d-\\d\\dT\\d\\d:\\d\\d:\\d\\d(([+-]\\d\\d:\\d\\d)|Z)$",
                          "description": "The period of time that you want the usage and costs for.",
                          "minLength": 20,
                          "maxLength": 25
                        },
                        {
                          "description": "The Cost Category's effective start date. It can only be a billing start date (first day of the month)."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "LimitExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "CostCategoryArn",
                  "RuleVersion",
                  "Rules"
                ],
                "title": "UpdateCostCategoryDefinitionRequest",
                "properties": {
                  "CostCategoryArn": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+",
                        "minLength": 20,
                        "maxLength": 2048
                      },
                      {
                        "description": "The unique identifier for your Cost Category."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "EffectiveStart": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d\\d-\\d\\dT\\d\\d:\\d\\d:\\d\\d(([+-]\\d\\d:\\d\\d)|Z)$",
                        "description": "The period of time that you want the usage and costs for.",
                        "minLength": 20,
                        "maxLength": 25
                      },
                      {
                        "description": "The Cost Category's effective start date. It can only be a billing start date (first day of the month). If the date isn't provided, it's the first day of the current month. Dates can't be before the previous twelve months, or in the future."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "RuleVersion": {
                    "type": "string",
                    "enum": [
                      "CostCategoryExpression.v1"
                    ],
                    "description": "The rule schema version in this particular Cost Category."
                  },
                  "Rules": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Value": {
                              "type": "string",
                              "description": "The default value for the cost category.",
                              "minLength": 1,
                              "maxLength": 50,
                              "x-pattern": "^\\(\\?! \\)[\\p\\{L\\}\\p\\{N\\}\\p\\{Z\\}-_]*$"
                            },
                            "Rule": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "Or": {
                                      "allOf": [
                                        {
                                          "type": "array",
                                          "items": {
                                            "__ref_cycle__": "#/components/schemas/Expression"
                                          }
                                        },
                                        {
                                          "description": "Return results that match either <code>Dimension</code> object."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "And": {
                                      "allOf": [
                                        {
                                          "type": "array",
                                          "items": {
                                            "__ref_cycle__": "#/components/schemas/Expression"
                                          }
                                        },
                                        {
                                          "description": "Return results that match both <code>Dimension</code> objects."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "Not": {
                                      "allOf": [
                                        {
                                          "__ref_cycle__": "#/components/schemas/Expression"
                                        },
                                        {
                                          "description": "Return results that don't match a <code>Dimension</code> object."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "Dimensions": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "Key": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "enum": [
                                                    "AZ",
                                                    "INSTANCE_TYPE",
                                                    "LINKED_ACCOUNT",
                                                    "LINKED_ACCOUNT_NAME",
                                                    "OPERATION",
                                                    "PURCHASE_TYPE",
                                                    "REGION",
                                                    "SERVICE",
                                                    "SERVICE_CODE",
                                                    "USAGE_TYPE",
                                                    "USAGE_TYPE_GROUP",
                                                    "RECORD_TYPE",
                                                    "OPERATING_SYSTEM",
                                                    "TENANCY",
                                                    "SCOPE",
                                                    "PLATFORM",
                                                    "SUBSCRIPTION_ID",
                                                    "LEGAL_ENTITY_NAME",
                                                    "DEPLOYMENT_OPTION",
                                                    "DATABASE_ENGINE",
                                                    "CACHE_ENGINE",
                                                    "INSTANCE_TYPE_FAMILY",
                                                    "BILLING_ENTITY",
                                                    "RESERVATION_ID",
                                                    "RESOURCE_ID",
                                                    "RIGHTSIZING_TYPE",
                                                    "SAVINGS_PLANS_TYPE",
                                                    "SAVINGS_PLAN_ARN",
                                                    "PAYMENT_OPTION",
                                                    "AGREEMENT_END_DATE_TIME_AFTER",
                                                    "AGREEMENT_END_DATE_TIME_BEFORE",
                                                    "INVOICING_ENTITY",
                                                    "ANOMALY_TOTAL_IMPACT_ABSOLUTE",
                                                    "ANOMALY_TOTAL_IMPACT_PERCENTAGE"
                                                  ]
                                                },
                                                {
                                                  "description": "<p>The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones.</p> <p>Not all dimensions are supported in each API. Refer to the documentation for each specific API to see what is supported.</p> <p> <code>LINK_ACCOUNT_NAME</code> and <code>SERVICE_CODE</code> can only be used in <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p> <p> <code>ANOMALY_TOTAL_IMPACT_ABSOLUTE</code> and <code>ANOMALY_TOTAL_IMPACT_PERCENTAGE</code> can only be used in <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalySubscription.html\">AnomalySubscriptions</a>.</p>"
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "Values": {
                                              "allOf": [
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "pattern": "[\\S\\s]*",
                                                    "minLength": 0,
                                                    "maxLength": 1024
                                                  }
                                                },
                                                {
                                                  "description": "The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "MatchOptions": {
                                              "allOf": [
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "enum": [
                                                      "EQUALS",
                                                      "ABSENT",
                                                      "STARTS_WITH",
                                                      "ENDS_WITH",
                                                      "CONTAINS",
                                                      "CASE_SENSITIVE",
                                                      "CASE_INSENSITIVE",
                                                      "GREATER_THAN_OR_EQUAL"
                                                    ]
                                                  }
                                                },
                                                {
                                                  "description": "<p>The match options that you can use to filter your results.</p> <p> <code>MatchOptions</code> is only applicable for actions related to Cost Category and Anomaly Subscriptions. Refer to the documentation for each specific API to see what is supported.</p> <p>The default values for <code>MatchOptions</code> are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.</p>"
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            }
                                          },
                                          "description": "The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values."
                                        },
                                        {
                                          "description": "The specific <code>Dimension</code> to use for <code>Expression</code>."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "Tags": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "Key": {
                                              "allOf": [
                                                {
                                                  "type": "string",
                                                  "pattern": "[\\S\\s]*",
                                                  "minLength": 0,
                                                  "maxLength": 1024
                                                },
                                                {
                                                  "description": "The key for the tag."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "Values": {
                                              "allOf": [
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "pattern": "[\\S\\s]*",
                                                    "minLength": 0,
                                                    "maxLength": 1024
                                                  }
                                                },
                                                {
                                                  "description": "The specific value of the tag."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "MatchOptions": {
                                              "allOf": [
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "enum": [
                                                      "EQUALS",
                                                      "ABSENT",
                                                      "STARTS_WITH",
                                                      "ENDS_WITH",
                                                      "CONTAINS",
                                                      "CASE_SENSITIVE",
                                                      "CASE_INSENSITIVE",
                                                      "GREATER_THAN_OR_EQUAL"
                                                    ]
                                                  }
                                                },
                                                {
                                                  "description": "The match options that you can use to filter your results. <code>MatchOptions</code> is only applicable for actions related to Cost Category. The default values for <code>MatchOptions</code> are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            }
                                          },
                                          "description": "<p>The values that are available for a tag.</p> <p>If <code>Values</code> and <code>Key</code> aren't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to all tags. That is, it's filtered on resources with no tags.</p> <p>If <code>Key</code> is provided and <code>Values</code> isn't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to the tag <code>Key</code> only. That is, it's filtered on resources without the given tag key.</p>"
                                        },
                                        {
                                          "description": "The specific <code>Tag</code> to use for <code>Expression</code>."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "CostCategories": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "Key": {
                                              "type": "string",
                                              "description": "The unique name of the Cost Category.",
                                              "minLength": 1,
                                              "maxLength": 50,
                                              "x-pattern": "^\\(\\?! \\)[\\p\\{L\\}\\p\\{N\\}\\p\\{Z\\}-_]*$"
                                            },
                                            "Values": {
                                              "allOf": [
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "pattern": "[\\S\\s]*",
                                                    "minLength": 0,
                                                    "maxLength": 1024
                                                  }
                                                },
                                                {
                                                  "description": "The specific value of the Cost Category."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "MatchOptions": {
                                              "allOf": [
                                                {
                                                  "type": "array",
                                                  "items": {
                                                    "type": "string",
                                                    "enum": [
                                                      "EQUALS",
                                                      "ABSENT",
                                                      "STARTS_WITH",
                                                      "ENDS_WITH",
                                                      "CONTAINS",
                                                      "CASE_SENSITIVE",
                                                      "CASE_INSENSITIVE",
                                                      "GREATER_THAN_OR_EQUAL"
                                                    ]
                                                  }
                                                },
                                                {
                                                  "description": "The match options that you can use to filter your results. MatchOptions is only applicable for actions related to cost category. The default values for <code>MatchOptions</code> is <code>EQUALS</code> and <code>CASE_SENSITIVE</code>. "
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            }
                                          },
                                          "description": "<p>The Cost Categories values used for filtering the costs.</p> <p>If <code>Values</code> and <code>Key</code> are not specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to all Cost Categories. That is, it filters on resources that aren't mapped to any Cost Categories.</p> <p>If <code>Values</code> is provided and <code>Key</code> isn't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to the Cost Categories <code>Key</code> only. That is, it filters on resources without the given Cost Categories key.</p>"
                                        },
                                        {
                                          "description": "The filter that's based on <code>CostCategory</code> values."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "<p>Use <code>Expression</code> to filter in various Cost Explorer APIs.</p> <p>Not all <code>Expression</code> types are supported in each API. Refer to the documentation for each specific API to see what is supported.</p> <p>There are two patterns:</p> <ul> <li> <p>Simple dimension values.</p> <ul> <li> <p>There are three types of simple dimension values: <code>CostCategories</code>, <code>Tags</code>, and <code>Dimensions</code>.</p> <ul> <li> <p>Specify the <code>CostCategories</code> field to define a filter that acts on Cost Categories.</p> </li> <li> <p>Specify the <code>Tags</code> field to define a filter that acts on Cost Allocation Tags.</p> </li> <li> <p>Specify the <code>Dimensions</code> field to define a filter that acts on the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_DimensionValues.html\"> <code>DimensionValues</code> </a>.</p> </li> </ul> </li> <li> <p>For each filter type, you can set the dimension name and values for the filters that you plan to use.</p> <ul> <li> <p>For example, you can filter for <code>REGION==us-east-1 OR REGION==us-west-1</code>. For <code>GetRightsizingRecommendation</code>, the Region is a full name (for example, <code>REGION==US East (N. Virginia)</code>.</p> </li> <li> <p>The corresponding <code>Expression</code> for this example is as follows: <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ] } }</code> </p> </li> <li> <p>As shown in the previous example, lists of dimension values are combined with <code>OR</code> when applying the filter.</p> </li> </ul> </li> <li> <p>You can also set different match options to further control how the filter behaves. Not all APIs support match options. Refer to the documentation for each specific API to see what is supported.</p> <ul> <li> <p>For example, you can filter for linked account names that start with \"a\".</p> </li> <li> <p>The corresponding <code>Expression</code> for this example is as follows: <code>{ \"Dimensions\": { \"Key\": \"LINKED_ACCOUNT_NAME\", \"MatchOptions\": [ \"STARTS_WITH\" ], \"Values\": [ \"a\" ] } }</code> </p> </li> </ul> </li> </ul> </li> <li> <p>Compound <code>Expression</code> types with logical operations.</p> <ul> <li> <p>You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. By doing this, you can filter by more advanced options.</p> </li> <li> <p>For example, you can filter by <code>((REGION == us-east-1 OR REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>.</p> </li> <li> <p>The corresponding <code>Expression</code> for this example is as follows: <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ] }}, {\"Tags\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"] }}} ] } </code> </p> </li> </ul> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an <code>Expression</code> object that creates an error: <code> { \"And\": [ ... ], \"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [ \"DataTransfer\" ] } } </code> </p> <p>The following is an example of the corresponding error message: <code>\"Expression has more than one roots. Only one root operator is allowed for each expression: And, Or, Not, Dimensions, Tags, CostCategories\"</code> </p> </note> </li> </ul> <note> <p>For the <code>GetRightsizingRecommendation</code> action, a combination of OR and NOT isn't supported. OR isn't supported between different dimensions, or dimensions and tags. NOT operators aren't supported. Dimensions are also limited to <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or <code>RIGHTSIZING_TYPE</code>.</p> <p>For the <code>GetReservationPurchaseRecommendation</code> action, only NOT is supported. AND and OR aren't supported. Dimensions are limited to <code>LINKED_ACCOUNT</code>.</p> </note>"
                                },
                                {
                                  "description": "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object used to categorize costs. This supports dimensions, tags, and nested expressions. Currently the only dimensions supported are <code>LINKED_ACCOUNT</code>, <code>SERVICE_CODE</code>, <code>RECORD_TYPE</code>, <code>LINKED_ACCOUNT_NAME</code>, <code>REGION</code>, and <code>USAGE_TYPE</code>.</p> <p> <code>RECORD_TYPE</code> is a dimension used for Cost Explorer APIs, and is also supported for Cost Category expressions. This dimension uses different terms, depending on whether you're using the console or API/JSON editor. For a detailed comparison, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-cost-categories.html#cost-categories-terms\">Term Comparisons</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "InheritedValue": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "DimensionName": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "enum": [
                                            "LINKED_ACCOUNT_NAME",
                                            "TAG"
                                          ]
                                        },
                                        {
                                          "description": "<p>The name of the dimension that's used to group costs.</p> <p>If you specify <code>LINKED_ACCOUNT_NAME</code>, the cost category value is based on account name. If you specify <code>TAG</code>, the cost category value is based on the value of the specified tag key.</p>"
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "DimensionKey": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "pattern": "[\\S\\s]*",
                                          "minLength": 0,
                                          "maxLength": 1024
                                        },
                                        {
                                          "description": "The key to extract cost category values."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "When you create or update a cost category, you can define the <code>CostCategoryRule</code> rule type as <code>INHERITED_VALUE</code>. This rule type adds the flexibility to define a rule that dynamically inherits the cost category value from the dimension value that's defined by <code>CostCategoryInheritedValueDimension</code>. For example, suppose that you want to dynamically group costs that are based on the value of a specific tag key. First, choose an inherited value rule type, and then choose the tag dimension and specify the tag key to use."
                                },
                                {
                                  "description": "The value the line item is categorized as if the line item contains the matched dimension."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Type": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "REGULAR",
                                    "INHERITED_VALUE"
                                  ]
                                },
                                {
                                  "description": "You can define the <code>CostCategoryRule</code> rule type as either <code>REGULAR</code> or <code>INHERITED_VALUE</code>. The <code>INHERITED_VALUE</code> rule type adds the flexibility to define a rule that dynamically inherits the cost category value. This value is from the dimension value that's defined by <code>CostCategoryInheritedValueDimension</code>. For example, suppose that you want to costs to be dynamically grouped based on the value of a specific tag key. First, choose an inherited value rule type, and then choose the tag dimension and specify the tag key to use."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value."
                        },
                        "minItems": 1,
                        "maxItems": 500
                      },
                      {
                        "description": "The <code>Expression</code> object used to categorize costs. For more information, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule </a>. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "DefaultValue": {
                    "type": "string",
                    "description": "The default value for the cost category.",
                    "minLength": 1,
                    "maxLength": 50,
                    "x-pattern": "^\\(\\?! \\)[\\p\\{L\\}\\p\\{N\\}\\p\\{Z\\}-_]*$"
                  },
                  "SplitChargeRules": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "Source",
                            "Targets",
                            "Method"
                          ],
                          "properties": {
                            "Source": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\S\\s]*",
                                  "minLength": 0,
                                  "maxLength": 1024
                                },
                                {
                                  "description": "The Cost Category value that you want to split. That value can't be used as a source or a target in other split charge rules. To indicate uncategorized costs, you can use an empty string as the source."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Targets": {
                              "allOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "pattern": "[\\S\\s]*",
                                    "minLength": 0,
                                    "maxLength": 1024
                                  },
                                  "minItems": 1,
                                  "maxItems": 500
                                },
                                {
                                  "description": "The Cost Category values that you want to split costs across. These values can't be used as a source in other split charge rules. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Method": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "FIXED",
                                    "PROPORTIONAL",
                                    "EVEN"
                                  ]
                                },
                                {
                                  "description": "<p>The method that's used to define how to split your source costs across your targets. </p> <p> <code>Proportional</code> - Allocates charges across your targets based on the proportional weighted cost of each target.</p> <p> <code>Fixed</code> - Allocates charges across your targets based on your defined allocation percentage.</p> <p>&gt;<code>Even</code> - Allocates costs evenly across all targets.</p>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Parameters": {
                              "allOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "Type",
                                      "Values"
                                    ],
                                    "properties": {
                                      "Type": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "enum": [
                                              "ALLOCATION_PERCENTAGES"
                                            ]
                                          },
                                          {
                                            "description": "The parameter type. "
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "Values": {
                                        "allOf": [
                                          {
                                            "type": "array",
                                            "items": {
                                              "type": "string",
                                              "pattern": "[\\S\\s]*",
                                              "minLength": 0,
                                              "maxLength": 1024
                                            },
                                            "minItems": 1,
                                            "maxItems": 500
                                          },
                                          {
                                            "description": "The parameter values. "
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "The parameters for a split charge method. "
                                  },
                                  "minItems": 1,
                                  "maxItems": 10
                                },
                                {
                                  "description": "The parameters for a split charge method. This is only required for the <code>FIXED</code> method. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "Use the split charge rule to split the cost of one Cost Category value across several other target values. "
                        },
                        "minItems": 1,
                        "maxItems": 10
                      },
                      {
                        "description": " The split charge rules used to allocate your charges between your Cost Category values. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSInsightsIndexService.UpdateCostCategoryDefinition"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/inventory/{id}": {
      "post": {
        "operationId": "listcostallocationtags",
        "description": "Get a list of cost allocation tags. All inputs in the API are optional and serve as filters. By default, all cost allocation tags are returned. ",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "CostAllocationTags": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "TagKey",
                              "Type",
                              "Status"
                            ],
                            "properties": {
                              "TagKey": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[\\S\\s]*",
                                    "minLength": 0,
                                    "maxLength": 1024
                                  },
                                  {
                                    "description": "The key for the cost allocation tag. "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "Type": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "AWSGenerated",
                                      "UserDefined"
                                    ]
                                  },
                                  {
                                    "description": "The type of cost allocation tag. You can use <code>AWSGenerated</code> or <code>UserDefined</code> type tags. <code>AWSGenerated</code> type tags are tags that Amazon Web Services defines and applies to support Amazon Web Services resources for cost allocation purposes. <code>UserDefined</code> type tags are tags that you define, create, and apply to resources. "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "Status": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "Active",
                                      "Inactive"
                                    ]
                                  },
                                  {
                                    "description": "The status of a cost allocation tag. "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "The cost allocation tag structure. This includes detailed metadata for the <code>CostAllocationTag</code> object. "
                          },
                          "minItems": 0,
                          "maxItems": 100
                        },
                        {
                          "description": "A list of cost allocation tags that includes the detailed metadata for each one. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "NextToken": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[\\S\\s]*",
                          "minLength": 0,
                          "maxLength": 8192
                        },
                        {
                          "description": "The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "LimitExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidNextTokenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "ListCostAllocationTagsRequest",
                "properties": {
                  "Status": {
                    "allOf": [
                      {
                        "type": "string",
                        "enum": [
                          "Active",
                          "Inactive"
                        ]
                      },
                      {
                        "description": "The status of cost allocation tag keys that are returned for this request. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "TagKeys": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "[\\S\\s]*",
                          "minLength": 0,
                          "maxLength": 1024
                        },
                        "minItems": 1,
                        "maxItems": 100
                      },
                      {
                        "description": "The list of cost allocation tag keys that are returned for this request. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "Type": {
                    "allOf": [
                      {
                        "type": "string",
                        "enum": [
                          "AWSGenerated",
                          "UserDefined"
                        ]
                      },
                      {
                        "description": "The type of <code>CostAllocationTag</code> object that are returned for this request. The <code>AWSGenerated</code> type tags are tags that Amazon Web Services defines and applies to support Amazon Web Services resources for cost allocation purposes. The <code>UserDefined</code> type tags are tags that you define, create, and apply to resources. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "NextToken": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\S\\s]*",
                        "minLength": 0,
                        "maxLength": 8192
                      },
                      {
                        "description": "The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "MaxResults": {
                    "allOf": [
                      {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 1000
                      },
                      {
                        "description": "The maximum number of objects that are returned for this request. By default, the request returns 100 results. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "MaxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "NextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          },
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSInsightsIndexService.ListCostAllocationTags"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/transactions/{id}": {
      "post": {
        "operationId": "getsavingsplansutilization",
        "description": "<p>Retrieves the Savings Plans utilization for your account across date ranges with daily or monthly granularity. Management account in an organization have access to member accounts. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p>You can't group by any dimension values for <code>GetSavingsPlansUtilization</code>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "Total"
                  ],
                  "properties": {
                    "SavingsPlansUtilizationsByTime": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "TimePeriod",
                              "Utilization"
                            ],
                            "properties": {
                              "TimePeriod": {
                                "type": "object",
                                "required": [
                                  "Start",
                                  "End"
                                ],
                                "properties": {
                                  "Start": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                        "minLength": 0,
                                        "maxLength": 40
                                      },
                                      {
                                        "description": "The beginning of the time period. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, Amazon Web Services retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date. The start date must be equal to or no later than the current date to avoid a validation error."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "End": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "pattern": "(\\d{4}-\\d{2}-\\d{2})(T\\d{2}:\\d{2}:\\d{2}Z)?",
                                        "minLength": 0,
                                        "maxLength": 40
                                      },
                                      {
[...]
