{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/lol/stats"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/lol/stats"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "LoL v3 Stats",
    "title": "LoL v3 Stats",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/nfldata/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/lol-v3-stats.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "lol-v3-stats"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/paymentid/activememberships": {
      "get": {
        "description": "Memberships (Active)",
        "operationId": "membershipsactive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Active": {
                        "nullable": false,
                        "type": "boolean"
                      },
                      "EndDate": {
                        "nullable": true,
                        "type": "string"
                      },
                      "MembershipId": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "PlayerId": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "PlayerName": {
                        "nullable": true,
                        "type": "string"
                      },
                      "StartDate": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TeamArea": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TeamId": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "TeamName": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Memberships (Active)"
      }
    },
    "/paymentid/areas": {
      "get": {
        "description": "Areas (Countries)",
        "operationId": "areascountries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "AreaId": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "CountryCode": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Name": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Areas (Countries)"
      }
    },
    "/sku/boxscore/sku": {
      "get": {
        "description": "Games by Date",
        "operationId": "boxscore",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Game ID. \nExample:<code>100002649</code>.",
            "in": "path",
            "name": "gameid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Game": {
                        "properties": {
                          "BestOf": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DrawMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GameId": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Group": {
                            "nullable": true,
                            "type": "string"
                          },
                          "IsClosed": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "PointSpread": {
                            "nullable": true,
                            "type": "number"
                          },
                          "RoundId": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Status": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamAId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamAKey": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamAMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamAName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamAPointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamAScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBKey": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamBMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamBPointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "UpdatedUtc": {
                            "nullable": true,
                            "type": "string"
                          },
                          "VenueId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "VenueType": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Week": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Winner": {
                            "nullable": true,
                            "type": "string"
                          }
                        }
                      },
                      "Matches": {
                        "items": {
                          "properties": {
                            "GameId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "GameVersion": {
                              "nullable": true,
                              "type": "string"
                            },
                            "MapName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "MatchBans": {
                              "items": {
                                "properties": {
                                  "Champion": {
                                    "properties": {
                                      "ChampionId": {
                                        "nullable": false,
                                        "type": "integer"
                                      },
                                      "Name": {
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "Title": {
                                        "nullable": true,
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "ChampionId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "MatchId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "TeamId": {
                                    "nullable": false,
                                    "type": "integer"
                                  }
                                }
                              },
                              "type": "array"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerMatches": {
                              "items": {
                                "properties": {
                                  "Assists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Champion": {
                                    "properties": {
                                      "ChampionId": {
                                        "nullable": false,
                                        "type": "integer"
                                      },
                                      "Name": {
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "Title": {
                                        "nullable": true,
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "ChampionId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "ChampionLevel": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "CombatPlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DateTime": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Day": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Deaths": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DoubleKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FantasyPoints": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GameId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Games": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "GoldEarned": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GoldSpent": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "InhibitorKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "IsClosed": {
                                    "nullable": false,
                                    "type": "boolean"
                                  },
                                  "Items": {
                                    "items": {
                                      "properties": {
                                        "GoldBase": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "GoldSell": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "GoldTotal": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "ItemId": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "Name": {
                                          "nullable": true,
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "type": "array"
                                  },
                                  "KillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Kills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Lane": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "LargestCriticalStrike": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestKillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestMultiKill": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LongestTimeSpentLiving": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MatchId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "MatchName": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Matches": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Name": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "NeutralMinionsKIlled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKIlledTeamJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKilledEnemyJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "ObjectivePlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Opponent": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "OpponentId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "PentaKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PlayerId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Position": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "QuadraKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Role": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "SightWardsBoughtInGame": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Spells": {
                                    "items": {
                                      "properties": {
                                        "Name": {
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "SpellId": {
                                          "nullable": false,
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "type": "array"
                                  },
                                  "Team": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "TeamId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "TenKillsOrAssists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalHeal": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalMinionsKilled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalPlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalTimeCrowdControlDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalUnitsHealed": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TripleKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TurretKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "UnrealKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Updated": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "VisionWardsBoughtInGame": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "WardsKilled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "WardsPlaced": {
                                    "nullable": true,
                                    "type": "number"
                                  }
                                }
                              },
                              "type": "array"
                            },
                            "TeamMatches": {
                              "items": {
                                "properties": {
                                  "Assists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "CombatPlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DateTime": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Day": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Deaths": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DoubleKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FantasyPoints": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstBaron": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstBlood": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstDragon": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstInhibitor": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstRiftHerald": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstTower": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GameId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Games": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "GoldEarned": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GoldSpent": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "InhibitorKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "IsClosed": {
                                    "nullable": false,
                                    "type": "boolean"
                                  },
                                  "KillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Kills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestCriticalStrike": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestKillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestMultiKill": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LongestTimeSpentLiving": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MatchName": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Matches": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Name": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "NeutralMinionsKIlled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKIlledTeamJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKilledEnemyJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "ObjectivePlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Opponent": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "OpponentId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "PentaKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PlayerId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Position": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "QuadraKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "SightWardsBoughtInGame": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Team": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "TeamId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "TenKillsOrAssists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalHeal": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalMinionsKilled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalPlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalTimeCrowdControlDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalUnitsHealed": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TripleKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TurretKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "UnrealKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Updated": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "VisionWardsBoughtInGame": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "WardsKilled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "WardsPlaced": {
                                    "nullable": true,
                                    "type": "number"
                                  }
                                }
                              },
                              "type": "array"
                            },
                            "WinningTeamId": {
                              "nullable": true,
                              "type": "integer"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "PlayerGames": {
                        "items": {
                          "properties": {
                            "Assists": {
                              "nullable": true,
                              "type": "number"
                            },
                            "CombatPlayerScore": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DateTime": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Day": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Deaths": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DoubleKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GameId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Games": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "GoldEarned": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GoldSpent": {
                              "nullable": true,
                              "type": "number"
                            },
                            "InhibitorKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "IsClosed": {
                              "nullable": false,
                              "type": "boolean"
                            },
                            "KillingSpree": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Kills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LargestCriticalStrike": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LargestKillingSpree": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LargestMultiKill": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LongestTimeSpentLiving": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MagicDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MagicDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MagicDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MatchName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Matches": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "NeutralMinionsKIlled": {
                              "nullable": true,
                              "type": "number"
                            },
                            "NeutralMinionsKIlledTeamJungle": {
                              "nullable": true,
                              "type": "number"
                            },
                            "NeutralMinionsKilledEnemyJungle": {
                              "nullable": true,
                              "type": "number"
                            },
                            "ObjectivePlayerScore": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Opponent": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OpponentId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PentaKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PhysicalDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PhysicalDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PhysicalDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PlayerId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "QuadraKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "SightWardsBoughtInGame": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TeamId": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TenKillsOrAssists": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalHeal": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalMinionsKilled": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalPlayerScore": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalTimeCrowdControlDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalUnitsHealed": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TripleKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TurretKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "UnrealKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            },
                            "VisionWardsBoughtInGame": {
                              "nullable": true,
                              "type": "number"
                            },
                            "WardsKilled": {
                              "nullable": true,
                              "type": "number"
                            },
                            "WardsPlaced": {
                              "nullable": true,
                              "type": "number"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "TeamGames": {
                        "items": {
                          "properties": {
                            "Assists": {
                              "nullable": true,
                              "type": "number"
                            },
                            "CombatPlayerScore": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DateTime": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Day": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Deaths": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DoubleKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FirstBaron": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FirstBlood": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FirstDragon": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FirstInhibitor": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FirstRiftHerald": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FirstTower": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GameId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Games": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "GoldEarned": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GoldSpent": {
                              "nullable": true,
                              "type": "number"
                            },
                            "InhibitorKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "IsClosed": {
                              "nullable": false,
                              "type": "boolean"
                            },
                            "KillingSpree": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Kills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LargestCriticalStrike": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LargestKillingSpree": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LargestMultiKill": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LongestTimeSpentLiving": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MagicDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MagicDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MagicDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "MatchName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Matches": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "NeutralMinionsKIlled": {
                              "nullable": true,
                              "type": "number"
                            },
                            "NeutralMinionsKIlledTeamJungle": {
                              "nullable": true,
                              "type": "number"
                            },
                            "NeutralMinionsKilledEnemyJungle": {
                              "nullable": true,
                              "type": "number"
                            },
                            "ObjectivePlayerScore": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Opponent": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OpponentId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PentaKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PhysicalDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PhysicalDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PhysicalDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PlayerId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "QuadraKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "SightWardsBoughtInGame": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TeamId": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TenKillsOrAssists": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalHeal": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalMinionsKilled": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalPlayerScore": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalTimeCrowdControlDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalUnitsHealed": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TripleKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueDamageDealt": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueDamageDealtToChampions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueDamageTaken": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TurretKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "UnrealKills": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            },
                            "VisionWardsBoughtInGame": {
                              "nullable": true,
                              "type": "number"
                            },
                            "WardsKilled": {
                              "nullable": true,
                              "type": "number"
                            },
                            "WardsPlaced": {
                              "nullable": true,
                              "type": "number"
                            }
                          }
                        },
                        "type": "array"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Box Score"
      }
    },
    "/orderid/boxscores/sku": {
      "get": {
        "description": "Games by Date",
        "operationId": "boxscoresbydate-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2019-01-20</code>",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Game": {
                        "properties": {
                          "BestOf": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DrawMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GameId": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Group": {
                            "nullable": true,
                            "type": "string"
                          },
                          "IsClosed": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "PointSpread": {
                            "nullable": true,
                            "type": "number"
                          },
                          "RoundId": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Status": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamAId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamAKey": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamAMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamAName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamAPointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamAScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBKey": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamBMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamBPointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TeamBScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "UpdatedUtc": {
                            "nullable": true,
                            "type": "string"
                          },
                          "VenueId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "VenueType": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Week": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Winner": {
                            "nullable": true,
                            "type": "string"
                          }
                        }
                      },
                      "Matches": {
                        "items": {
                          "properties": {
                            "GameId": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "GameVersion": {
                              "nullable": true,
                              "type": "string"
                            },
                            "MapName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "MatchBans": {
                              "items": {
                                "properties": {
                                  "Champion": {
                                    "properties": {
                                      "ChampionId": {
                                        "nullable": false,
                                        "type": "integer"
                                      },
                                      "Name": {
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "Title": {
                                        "nullable": true,
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "ChampionId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "MatchId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "TeamId": {
                                    "nullable": false,
                                    "type": "integer"
                                  }
                                }
                              },
                              "type": "array"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerMatches": {
                              "items": {
                                "properties": {
                                  "Assists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Champion": {
                                    "properties": {
                                      "ChampionId": {
                                        "nullable": false,
                                        "type": "integer"
                                      },
                                      "Name": {
                                        "nullable": true,
                                        "type": "string"
                                      },
                                      "Title": {
                                        "nullable": true,
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "ChampionId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "ChampionLevel": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "CombatPlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DateTime": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Day": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Deaths": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DoubleKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FantasyPoints": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GameId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Games": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "GoldEarned": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GoldSpent": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "InhibitorKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "IsClosed": {
                                    "nullable": false,
                                    "type": "boolean"
                                  },
                                  "Items": {
                                    "items": {
                                      "properties": {
                                        "GoldBase": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "GoldSell": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "GoldTotal": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "ItemId": {
                                          "nullable": false,
                                          "type": "integer"
                                        },
                                        "Name": {
                                          "nullable": true,
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "type": "array"
                                  },
                                  "KillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Kills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Lane": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "LargestCriticalStrike": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestKillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestMultiKill": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LongestTimeSpentLiving": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MatchId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "MatchName": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Matches": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Name": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "NeutralMinionsKIlled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKIlledTeamJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKilledEnemyJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "ObjectivePlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Opponent": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "OpponentId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "PentaKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PlayerId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Position": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "QuadraKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Role": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "SightWardsBoughtInGame": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Spells": {
                                    "items": {
                                      "properties": {
                                        "Name": {
                                          "nullable": true,
                                          "type": "string"
                                        },
                                        "SpellId": {
                                          "nullable": false,
                                          "type": "integer"
                                        }
                                      }
                                    },
                                    "type": "array"
                                  },
                                  "Team": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "TeamId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "TenKillsOrAssists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalHeal": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalMinionsKilled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalPlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalTimeCrowdControlDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalUnitsHealed": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TripleKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TrueDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TurretKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "UnrealKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Updated": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "VisionWardsBoughtInGame": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "WardsKilled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "WardsPlaced": {
                                    "nullable": true,
                                    "type": "number"
                                  }
                                }
                              },
                              "type": "array"
                            },
                            "TeamMatches": {
                              "items": {
                                "properties": {
                                  "Assists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "CombatPlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DateTime": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Day": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Deaths": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "DoubleKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FantasyPoints": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstBaron": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstBlood": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstDragon": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstInhibitor": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstRiftHerald": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "FirstTower": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GameId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Games": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "GoldEarned": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "GoldSpent": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "InhibitorKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "IsClosed": {
                                    "nullable": false,
                                    "type": "boolean"
                                  },
                                  "KillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Kills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestCriticalStrike": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestKillingSpree": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LargestMultiKill": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "LongestTimeSpentLiving": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MagicDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "MatchName": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "Matches": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Name": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "NeutralMinionsKIlled": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKIlledTeamJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "NeutralMinionsKilledEnemyJungle": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "ObjectivePlayerScore": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Opponent": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "OpponentId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "PentaKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageDealtToChampions": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PhysicalDamageTaken": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "PlayerId": {
                                    "nullable": false,
                                    "type": "integer"
                                  },
                                  "Position": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "QuadraKills": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "SightWardsBoughtInGame": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "Team": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "TeamId": {
                                    "nullable": true,
                                    "type": "integer"
                                  },
                                  "TenKillsOrAssists": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealt": {
                                    "nullable": true,
                                    "type": "number"
                                  },
                                  "TotalDamageDealtToChampions": {
[...]
