{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/mlb/stats"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/mlb/stats"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "MLB scores, stats, and news API.",
    "title": "MLB v3 Stats",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/nfldata/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/mlb-v3-stats.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "mlb-v3-stats"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/userid/allteams": {
      "get": {
        "operationId": "teamsall-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Active": {
                        "nullable": false,
                        "type": "boolean"
                      },
                      "City": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Division": {
                        "nullable": true,
                        "type": "string"
                      },
                      "GlobalTeamID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "Key": {
                        "nullable": true,
                        "type": "string"
                      },
                      "League": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Name": {
                        "nullable": true,
                        "type": "string"
                      },
                      "PrimaryColor": {
                        "nullable": true,
                        "type": "string"
                      },
                      "QuaternaryColor": {
                        "nullable": true,
                        "type": "string"
                      },
                      "SecondaryColor": {
                        "nullable": true,
                        "type": "string"
                      },
                      "StadiumID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "TeamID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "TertiaryColor": {
                        "nullable": true,
                        "type": "string"
                      },
                      "WikipediaLogoUrl": {
                        "nullable": true,
                        "type": "string"
                      },
                      "WikipediaWordMarkUrl": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Teams (All)"
      }
    },
    "/paymentid/areanygamesinprogress": {
      "get": {
        "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
        "operationId": "aregamesinprogress-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": false,
                  "type": "boolean"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Are Games In Progress"
      }
    },
    "/id/boxscore/sku": {
      "get": {
        "operationId": "boxscore-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The GameID of an MLB game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>",
            "in": "path",
            "name": "gameid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Game": {
                      "properties": {
                        "Attendance": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayRotationNumber": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeam": {
                          "nullable": true,
                          "type": "string"
                        },
                        "AwayTeamErrors": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamHits": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "AwayTeamMoneyLine": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamProbablePitcherID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamRuns": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamStartingPitcher": {
                          "nullable": true,
                          "type": "string"
                        },
                        "AwayTeamStartingPitcherID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Balls": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Channel": {
                          "nullable": true,
                          "type": "string"
                        },
                        "CurrentHitter": {
                          "nullable": true,
                          "type": "string"
                        },
                        "CurrentHitterID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "CurrentHittingTeamID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "CurrentPitcher": {
                          "nullable": true,
                          "type": "string"
                        },
                        "CurrentPitcherID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "CurrentPitchingTeamID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "DateTime": {
                          "nullable": true,
                          "type": "string"
                        },
                        "DateTimeUTC": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Day": {
                          "nullable": true,
                          "type": "string"
                        },
                        "DueUpHitterID1": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "DueUpHitterID2": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "DueUpHitterID3": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "ForecastDescription": {
                          "nullable": true,
                          "type": "string"
                        },
                        "ForecastTempHigh": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "ForecastTempLow": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "ForecastWindChill": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "ForecastWindDirection": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "ForecastWindSpeed": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "GameEndDateTime": {
                          "nullable": true,
                          "type": "string"
                        },
                        "GameID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "GlobalAwayTeamID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "GlobalGameID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "GlobalHomeTeamID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "HomeRotationNumber": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeam": {
                          "nullable": true,
                          "type": "string"
                        },
                        "HomeTeamErrors": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamHits": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "HomeTeamMoneyLine": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamProbablePitcherID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamRuns": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamStartingPitcher": {
                          "nullable": true,
                          "type": "string"
                        },
                        "HomeTeamStartingPitcherID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Inning": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "InningDescription": {
                          "nullable": true,
                          "type": "string"
                        },
                        "InningHalf": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Innings": {
                          "items": {
                            "properties": {
                              "AwayTeamRuns": {
                                "nullable": true,
                                "type": "integer"
                              },
                              "GameID": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "HomeTeamRuns": {
                                "nullable": true,
                                "type": "integer"
                              },
                              "InningID": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "InningNumber": {
                                "nullable": false,
                                "type": "integer"
                              }
                            }
                          },
                          "type": "array"
                        },
                        "IsClosed": {
                          "nullable": false,
                          "type": "boolean"
                        },
                        "LastPlay": {
                          "nullable": true,
                          "type": "string"
                        },
                        "LosingPitcher": {
                          "nullable": true,
                          "type": "string"
                        },
                        "LosingPitcherID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "NeutralVenue": {
                          "nullable": true,
                          "type": "boolean"
                        },
                        "Outs": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "OverPayout": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "OverUnder": {
                          "nullable": true,
                          "type": "number"
                        },
                        "PointSpread": {
                          "nullable": true,
                          "type": "number"
                        },
                        "PointSpreadAwayTeamMoneyLine": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "PointSpreadHomeTeamMoneyLine": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "RescheduledFromGameID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "RescheduledGameID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "RunnerOnFirst": {
                          "nullable": true,
                          "type": "boolean"
                        },
                        "RunnerOnSecond": {
                          "nullable": true,
                          "type": "boolean"
                        },
                        "RunnerOnThird": {
                          "nullable": true,
                          "type": "boolean"
                        },
                        "SavingPitcher": {
                          "nullable": true,
                          "type": "string"
                        },
                        "SavingPitcherID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Season": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "SeasonType": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "SeriesInfo": {
                          "properties": {
                            "AwayTeamWins": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "GameNumber": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "HomeTeamWins": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "MaxLength": {
                              "nullable": false,
                              "type": "integer"
                            }
                          }
                        },
                        "StadiumID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Status": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Strikes": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "UnderPayout": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Updated": {
                          "nullable": true,
                          "type": "string"
                        },
                        "WinningPitcher": {
                          "nullable": true,
                          "type": "string"
                        },
                        "WinningPitcherID": {
                          "nullable": true,
                          "type": "integer"
                        }
                      }
                    },
                    "Innings": {
                      "items": {
                        "properties": {
                          "AwayTeamRuns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "HomeTeamRuns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "InningID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "InningNumber": {
                            "nullable": false,
                            "type": "integer"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "PlayerGames": {
                      "items": {
                        "properties": {
                          "AtBats": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BattingAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BattingAverageOnBallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BattingOrder": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "BattingOrderConfirmed": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "CaughtStealing": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DoublePlays": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Doubles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DraftKingsSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "EarnedRunAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Errors": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "FanDuelSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDataSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDraftPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "FantasyDraftSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyPoints": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsBatting": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsDraftKings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFanDuel": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFantasyDraft": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsPitching": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsYahoo": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FieldingIndependentPitching": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FlyOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Games": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalOpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GrandSlams": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GroundIntoDoublePlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GroundOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HitByPitch": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Hits": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomeOrAway": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "InjuryBodyPart": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InjuryNotes": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InjuryStartDate": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InjuryStatus": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InningsPitchedDecimal": {
                            "nullable": true,
                            "type": "number"
                          },
                          "InningsPitchedFull": {
                            "nullable": true,
                            "type": "number"
                          },
                          "InningsPitchedOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "IntentionalWalks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "IsGameOver": {
                            "nullable": false,
                            "type": "boolean"
                          },
                          "IsolatedPower": {
                            "nullable": true,
                            "type": "number"
                          },
                          "LeftOnBase": {
                            "nullable": true,
                            "type": "number"
                          },
                          "LineOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Losses": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "OnBasePlusSlugging": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Opponent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OpponentPositionRank": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OpponentRank": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Outs": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchesSeen": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchesThrown": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchesThrownStrikes": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBattingAverageAgainst": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBattingAverageOnBallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBlownSaves": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingCatchersInterference": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingCompleteGames": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingDoublePlays": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingDoubles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingEarnedRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingFlyOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingGrandSlams": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingGroundIntoDoublePlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingGroundOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHitByPitch": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHits": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHolds": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHomeRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingInningStarted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PitchingIntentionalWalks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingLineOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingNoHitters": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingOnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingOnBasePlusSlugging": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingPerfectGames": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingPlateAppearances": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingPopOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingQualityStarts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingReachedOnError": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSacrificeFlies": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSacrifices": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingShutOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSingles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSluggingPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingStrikeouts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingStrikeoutsPerNineInnings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingTotalBases": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingTriples": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingWalks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingWalksPerNineInnings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingWeightedOnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PlateAppearances": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PlayerID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PopOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Position": {
                            "nullable": true,
                            "type": "string"
                          },
                          "PositionCategory": {
                            "nullable": true,
                            "type": "string"
                          },
                          "ReachedOnError": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Runs": {
                            "nullable": true,
                            "type": "number"
                          },
                          "RunsBattedIn": {
                            "nullable": true,
                            "type": "number"
                          },
                          "SacrificeFlies": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Sacrifices": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Saves": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Season": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Singles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "SluggingPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Started": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "StatID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "StolenBases": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Strikeouts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "SubstituteBattingOrder": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "SubstituteBattingOrderSequence": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Team": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TotalBases": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TotalOutsPitched": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Triples": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Walks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "WalksHitsPerInningsPitched": {
                            "nullable": true,
                            "type": "number"
                          },
                          "WeightedOnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Wins": {
                            "nullable": true,
                            "type": "number"
                          },
                          "YahooPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "YahooSalary": {
                            "nullable": true,
                            "type": "integer"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "TeamGames": {
                      "items": {
                        "properties": {
                          "AtBats": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BattingAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BattingAverageOnBallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BattingOrderConfirmed": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "CaughtStealing": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DoublePlays": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Doubles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "EarnedRunAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Errors": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPoints": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsBatting": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsDraftKings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFanDuel": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFantasyDraft": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsPitching": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsYahoo": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FieldingIndependentPitching": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FlyOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Games": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalOpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GrandSlams": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GroundIntoDoublePlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GroundOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HitByPitch": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Hits": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomeOrAway": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "InningsPitchedDecimal": {
                            "nullable": true,
                            "type": "number"
                          },
                          "InningsPitchedFull": {
                            "nullable": true,
                            "type": "number"
                          },
                          "InningsPitchedOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "IntentionalWalks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "IsGameOver": {
                            "nullable": false,
                            "type": "boolean"
                          },
                          "IsolatedPower": {
                            "nullable": true,
                            "type": "number"
                          },
                          "LeftOnBase": {
                            "nullable": true,
                            "type": "number"
                          },
                          "LineOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Losses": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "OnBasePlusSlugging": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Opponent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Outs": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchesSeen": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchesThrown": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchesThrownStrikes": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBattingAverageAgainst": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBattingAverageOnBallsInPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingBlownSaves": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingCatchersInterference": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingCompleteGames": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingDoublePlays": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingDoubles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingEarnedRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingFlyOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingGrandSlams": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingGroundIntoDoublePlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingGroundOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHitByPitch": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHits": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHolds": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingHomeRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingInningStarted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PitchingIntentionalWalks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingLineOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingNoHitters": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingOnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingOnBasePlusSlugging": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingPerfectGames": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingPlateAppearances": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingPopOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingQualityStarts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingReachedOnError": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingRuns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSacrificeFlies": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSacrifices": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingShutOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSingles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingSluggingPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingStrikeouts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingStrikeoutsPerNineInnings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingTotalBases": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingTriples": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingWalks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingWalksPerNineInnings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PitchingWeightedOnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PlateAppearances": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PopOuts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "ReachedOnError": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Runs": {
                            "nullable": true,
                            "type": "number"
                          },
                          "RunsBattedIn": {
                            "nullable": true,
                            "type": "number"
                          },
                          "SacrificeFlies": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Sacrifices": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Saves": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Season": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Singles": {
                            "nullable": true,
                            "type": "number"
                          },
                          "SluggingPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "StatID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "StolenBases": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Strikeouts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "SubstituteBattingOrder": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "SubstituteBattingOrderSequence": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Team": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TotalBases": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TotalOutsPitched": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Triples": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Walks": {
                            "nullable": true,
                            "type": "number"
                          },
                          "WalksHitsPerInningsPitched": {
                            "nullable": true,
                            "type": "number"
                          },
                          "WeightedOnBasePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Wins": {
                            "nullable": true,
                            "type": "number"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Box Score"
      }
    },
    "/orderid/boxscores/sku": {
      "get": {
        "operationId": "boxscoresbydate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Game": {
                        "properties": {
                          "Attendance": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRotationNumber": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "AwayTeamErrors": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamHits": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "AwayTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamProbablePitcherID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamRuns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamStartingPitcher": {
                            "nullable": true,
                            "type": "string"
                          },
                          "AwayTeamStartingPitcherID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Balls": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Channel": {
                            "nullable": true,
                            "type": "string"
                          },
                          "CurrentHitter": {
                            "nullable": true,
                            "type": "string"
                          },
                          "CurrentHitterID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "CurrentHittingTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "CurrentPitcher": {
                            "nullable": true,
                            "type": "string"
                          },
                          "CurrentPitcherID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "CurrentPitchingTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTimeUTC": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DueUpHitterID1": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DueUpHitterID2": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DueUpHitterID3": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ForecastDescription": {
                            "nullable": true,
                            "type": "string"
                          },
                          "ForecastTempHigh": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ForecastTempLow": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ForecastWindChill": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ForecastWindDirection": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ForecastWindSpeed": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GameEndDateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "GameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GlobalAwayTeamID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GlobalGameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GlobalHomeTeamID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "HomeRotationNumber": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeTeamErrors": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamHits": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "HomeTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamProbablePitcherID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamRuns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamStartingPitcher": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeTeamStartingPitcherID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Inning": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "InningDescription": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InningHalf": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Innings": {
                            "items": {
                              "properties": {
                                "AwayTeamRuns": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "GameID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "HomeTeamRuns": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "InningID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "InningNumber": {
                                  "nullable": false,
                                  "type": "integer"
                                }
                              }
                            },
                            "type": "array"
                          },
                          "IsClosed": {
                            "nullable": false,
                            "type": "boolean"
                          },
                          "LastPlay": {
                            "nullable": true,
                            "type": "string"
                          },
                          "LosingPitcher": {
                            "nullable": true,
                            "type": "string"
                          },
                          "LosingPitcherID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "NeutralVenue": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "Outs": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OverPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OverUnder": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PointSpread": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PointSpreadAwayTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PointSpreadHomeTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "RescheduledFromGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "RescheduledGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "RunnerOnFirst": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "RunnerOnSecond": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "RunnerOnThird": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "SavingPitcher": {
                            "nullable": true,
                            "type": "string"
                          },
                          "SavingPitcherID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeriesInfo": {
                            "properties": {
                              "AwayTeamWins": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "GameNumber": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "HomeTeamWins": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "MaxLength": {
                                "nullable": false,
                                "type": "integer"
                              }
                            }
                          },
                          "StadiumID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Status": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Strikes": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "UnderPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "WinningPitcher": {
                            "nullable": true,
                            "type": "string"
                          },
                          "WinningPitcherID": {
                            "nullable": true,
                            "type": "integer"
                          }
                        }
                      },
                      "Innings": {
                        "items": {
                          "properties": {
                            "AwayTeamRuns": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GameID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "HomeTeamRuns": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "InningID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "InningNumber": {
                              "nullable": false,
                              "type": "integer"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "PlayerGames": {
                        "items": {
                          "properties": {
                            "AtBats": {
                              "nullable": true,
                              "type": "number"
                            },
                            "BallsInPlay": {
                              "nullable": true,
                              "type": "number"
                            },
                            "BattingAverage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "BattingAverageOnBallsInPlay": {
                              "nullable": true,
                              "type": "number"
                            },
                            "BattingOrder": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "BattingOrderConfirmed": {
                              "nullable": true,
                              "type": "boolean"
                            },
                            "CaughtStealing": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DateTime": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Day": {
                              "nullable": true,
                              "type": "string"
                            },
                            "DoublePlays": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Doubles": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DraftKingsPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "DraftKingsSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "EarnedRunAverage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Errors": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FanDuelPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FanDuelSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FantasyDataSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FantasyDraftPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FantasyDraftSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsBatting": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsDraftKings": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsFanDuel": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsFantasyDraft": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsPitching": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsYahoo": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FieldingIndependentPitching": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FlyOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Games": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalOpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalTeamID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GrandSlams": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GroundIntoDoublePlay": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GroundOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "HitByPitch": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Hits": {
                              "nullable": true,
                              "type": "number"
                            },
                            "HomeOrAway": {
                              "nullable": true,
                              "type": "string"
                            },
                            "HomeRuns": {
                              "nullable": true,
                              "type": "number"
                            },
                            "InjuryBodyPart": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryNotes": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryStartDate": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryStatus": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InningsPitchedDecimal": {
                              "nullable": true,
                              "type": "number"
                            },
                            "InningsPitchedFull": {
                              "nullable": true,
                              "type": "number"
                            },
                            "InningsPitchedOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "IntentionalWalks": {
                              "nullable": true,
                              "type": "number"
                            },
                            "IsGameOver": {
                              "nullable": false,
                              "type": "boolean"
                            },
                            "IsolatedPower": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LeftOnBase": {
                              "nullable": true,
                              "type": "number"
                            },
                            "LineOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Losses": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OnBasePercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "OnBasePlusSlugging": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Opponent": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OpponentPositionRank": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OpponentRank": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Outs": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchesSeen": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchesThrown": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchesThrownStrikes": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingBallsInPlay": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingBattingAverageAgainst": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingBattingAverageOnBallsInPlay": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingBlownSaves": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingCatchersInterference": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingCompleteGames": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingDoublePlays": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingDoubles": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingEarnedRuns": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingFlyOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingGrandSlams": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingGroundIntoDoublePlay": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingGroundOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingHitByPitch": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingHits": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingHolds": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingHomeRuns": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingInningStarted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PitchingIntentionalWalks": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingLineOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingNoHitters": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingOnBasePercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingOnBasePlusSlugging": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingPerfectGames": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingPlateAppearances": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingPopOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingQualityStarts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingReachedOnError": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingRuns": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingSacrificeFlies": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingSacrifices": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingShutOuts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingSingles": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingSluggingPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PitchingStrikeouts": {
                              "nullable": true,
                              "type": "number"
                            },
[...]
