{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/cbb/stats"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/cbb/stats"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "CBB v3 Stats",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/nfldata/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/cbb-v3-stats.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "cbb-v3-stats"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/paymentid/areanygamesinprogress": {
      "get": {
        "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
        "operationId": "aregamesinprogress-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": false,
                  "type": "boolean"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Are Games In Progress"
      }
    },
    "/id/boxscore/sku": {
      "get": {
        "operationId": "boxscore-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The GameID of an CBB game.  GameIDs can be found in the Games API.  Valid entries are <code>14620</code> or <code>16905</code>",
            "in": "path",
            "name": "gameid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Game": {
                      "properties": {
                        "Attendance": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayPointSpreadPayout": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayRotationNumber": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeam": {
                          "nullable": true,
                          "type": "string"
                        },
                        "AwayTeamID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamMoneyLine": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamPreviousGameID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamPreviousGlobalGameID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamScore": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "AwayTeamSeed": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "BottomTeamPreviousGameId": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Bracket": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Channel": {
                          "nullable": true,
                          "type": "string"
                        },
                        "DateTime": {
                          "nullable": true,
                          "type": "string"
                        },
                        "DateTimeUTC": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Day": {
                          "nullable": true,
                          "type": "string"
                        },
                        "GameEndDateTime": {
                          "nullable": true,
                          "type": "string"
                        },
                        "GameID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "GlobalAwayTeamID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "GlobalGameID": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "GlobalHomeTeamID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomePointSpreadPayout": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeRotationNumber": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeam": {
                          "nullable": true,
                          "type": "string"
                        },
                        "HomeTeamID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamMoneyLine": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamPreviousGameID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamPreviousGlobalGameID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamScore": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "HomeTeamSeed": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "IsClosed": {
                          "nullable": false,
                          "type": "boolean"
                        },
                        "NeutralVenue": {
                          "nullable": true,
                          "type": "boolean"
                        },
                        "OverPayout": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "OverUnder": {
                          "nullable": true,
                          "type": "number"
                        },
                        "Period": {
                          "nullable": true,
                          "type": "string"
                        },
                        "Periods": {
                          "items": {
                            "properties": {
                              "AwayScore": {
                                "nullable": true,
                                "type": "integer"
                              },
                              "GameID": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "HomeScore": {
                                "nullable": true,
                                "type": "integer"
                              },
                              "Name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Number": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "PeriodID": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "Type": {
                                "nullable": true,
                                "type": "string"
                              }
                            }
                          },
                          "type": "array"
                        },
                        "PointSpread": {
                          "nullable": true,
                          "type": "number"
                        },
                        "Round": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Season": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "SeasonType": {
                          "nullable": false,
                          "type": "integer"
                        },
                        "Stadium": {
                          "properties": {
                            "Active": {
                              "nullable": false,
                              "type": "boolean"
                            },
                            "Address": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Capacity": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "City": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Country": {
                              "nullable": true,
                              "type": "string"
                            },
                            "GeoLat": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GeoLong": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "StadiumID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "State": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Zip": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "Status": {
                          "nullable": true,
                          "type": "string"
                        },
                        "TimeRemainingMinutes": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "TimeRemainingSeconds": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "TopTeamPreviousGameId": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "TournamentDisplayOrder": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "TournamentDisplayOrderForHomeTeam": {
                          "nullable": true,
                          "type": "string"
                        },
                        "TournamentID": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "UnderPayout": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "Updated": {
                          "nullable": true,
                          "type": "string"
                        }
                      }
                    },
                    "Periods": {
                      "items": {
                        "properties": {
                          "AwayScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "HomeScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Number": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "PeriodID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Type": {
                            "nullable": true,
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "PlayerGames": {
                      "items": {
                        "properties": {
                          "Assists": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AssistsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BlockedShots": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "BlocksPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DefensiveRebounds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DefensiveReboundsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DraftKingsSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "EffectiveFieldGoalsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "FanDuelSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDataSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyPoints": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsDraftKings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFanDuel": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsYahoo": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FieldGoalsAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FieldGoalsMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FieldGoalsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FreeThrowsAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FreeThrowsMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FreeThrowsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Games": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalOpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeOrAway": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InjuryBodyPart": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InjuryNotes": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InjuryStartDate": {
                            "nullable": true,
                            "type": "string"
                          },
                          "InjuryStatus": {
                            "nullable": true,
                            "type": "string"
                          },
                          "IsGameOver": {
                            "nullable": false,
                            "type": "boolean"
                          },
                          "Minutes": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OffensiveRebounds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OffensiveReboundsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Opponent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OpponentPositionRank": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OpponentRank": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PersonalFouls": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PlayerEfficiencyRating": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PlayerID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Points": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Position": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Rebounds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "StatID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Steals": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "StealsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Team": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ThreePointersAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ThreePointersMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ThreePointersPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TotalReboundsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TrueShootingAttempts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TrueShootingPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TurnOversPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Turnovers": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TwoPointersAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TwoPointersMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TwoPointersPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "UsageRatePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "YahooPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "YahooSalary": {
                            "nullable": true,
                            "type": "integer"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "TeamGames": {
                      "items": {
                        "properties": {
                          "Assists": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AssistsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BlockedShots": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "BlocksPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "ConferenceLosses": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ConferenceWins": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DefensiveRebounds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DefensiveReboundsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "EffectiveFieldGoalsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPoints": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsDraftKings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFanDuel": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsYahoo": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FieldGoalsAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FieldGoalsMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FieldGoalsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FreeThrowsAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FreeThrowsMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FreeThrowsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "GameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Games": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalOpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeOrAway": {
                            "nullable": true,
                            "type": "string"
                          },
                          "IsGameOver": {
                            "nullable": false,
                            "type": "boolean"
                          },
                          "Losses": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Minutes": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OffensiveRebounds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OffensiveReboundsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Opponent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PersonalFouls": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PlayerEfficiencyRating": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Points": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Possessions": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Rebounds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "StatID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Steals": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "StealsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Team": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ThreePointersAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ThreePointersMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ThreePointersPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TotalReboundsPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TrueShootingAttempts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TrueShootingPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TurnOversPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Turnovers": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TwoPointersAttempted": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TwoPointersMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TwoPointersPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          },
                          "UsageRatePercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Wins": {
                            "nullable": true,
                            "type": "integer"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Box Score"
      }
    },
    "/orderid/boxscores/sku": {
      "get": {
        "operationId": "boxscoresbydate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Game": {
                        "properties": {
                          "Attendance": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRotationNumber": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "AwayTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamPreviousGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamPreviousGlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamSeed": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "BottomTeamPreviousGameId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Bracket": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Channel": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTimeUTC": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "GameEndDateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "GameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GlobalAwayTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalGameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GlobalHomeTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRotationNumber": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamPreviousGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamPreviousGlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamSeed": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "IsClosed": {
                            "nullable": false,
                            "type": "boolean"
                          },
                          "NeutralVenue": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "OverPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OverUnder": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Period": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Periods": {
                            "items": {
                              "properties": {
                                "AwayScore": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "GameID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "HomeScore": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "Name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "Number": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "PeriodID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "Type": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              }
                            },
                            "type": "array"
                          },
                          "PointSpread": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Round": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Stadium": {
                            "properties": {
                              "Active": {
                                "nullable": false,
                                "type": "boolean"
                              },
                              "Address": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Capacity": {
                                "nullable": true,
                                "type": "integer"
                              },
                              "City": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Country": {
                                "nullable": true,
                                "type": "string"
                              },
                              "GeoLat": {
                                "nullable": true,
                                "type": "number"
                              },
                              "GeoLong": {
                                "nullable": true,
                                "type": "number"
                              },
                              "Name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "StadiumID": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "State": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Zip": {
                                "nullable": true,
                                "type": "string"
                              }
                            }
                          },
                          "Status": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TimeRemainingMinutes": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TimeRemainingSeconds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TopTeamPreviousGameId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TournamentDisplayOrder": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TournamentDisplayOrderForHomeTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TournamentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "UnderPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          }
                        }
                      },
                      "Periods": {
                        "items": {
                          "properties": {
                            "AwayScore": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GameID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "HomeScore": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PeriodID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Type": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "PlayerGames": {
                        "items": {
                          "properties": {
                            "Assists": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "AssistsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "BlockedShots": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "BlocksPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DateTime": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Day": {
                              "nullable": true,
                              "type": "string"
                            },
                            "DefensiveRebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "DefensiveReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DraftKingsPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "DraftKingsSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "EffectiveFieldGoalsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FanDuelPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FanDuelSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FantasyDataSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsDraftKings": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsFanDuel": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsYahoo": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FieldGoalsAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FieldGoalsMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FieldGoalsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FreeThrowsAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FreeThrowsMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FreeThrowsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Games": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalOpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalTeamID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "HomeOrAway": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryBodyPart": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryNotes": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryStartDate": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryStatus": {
                              "nullable": true,
                              "type": "string"
                            },
                            "IsGameOver": {
                              "nullable": false,
                              "type": "boolean"
                            },
                            "Minutes": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OffensiveRebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OffensiveReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Opponent": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OpponentPositionRank": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OpponentRank": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PersonalFouls": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerEfficiencyRating": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Points": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Rebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Season": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "SeasonType": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "StatID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Steals": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "StealsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TeamID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "ThreePointersAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "ThreePointersMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "ThreePointersPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueShootingAttempts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueShootingPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TurnOversPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Turnovers": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TwoPointersAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TwoPointersMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TwoPointersPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            },
                            "UsageRatePercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "YahooPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "YahooSalary": {
                              "nullable": true,
                              "type": "integer"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "TeamGames": {
                        "items": {
                          "properties": {
                            "Assists": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "AssistsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "BlockedShots": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "BlocksPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "ConferenceLosses": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "ConferenceWins": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "DateTime": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Day": {
                              "nullable": true,
                              "type": "string"
                            },
                            "DefensiveRebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "DefensiveReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "EffectiveFieldGoalsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsDraftKings": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsFanDuel": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsYahoo": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FieldGoalsAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FieldGoalsMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FieldGoalsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FreeThrowsAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FreeThrowsMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FreeThrowsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Games": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalOpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalTeamID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "HomeOrAway": {
                              "nullable": true,
                              "type": "string"
                            },
                            "IsGameOver": {
                              "nullable": false,
                              "type": "boolean"
                            },
                            "Losses": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Minutes": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OffensiveRebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OffensiveReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Opponent": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PersonalFouls": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerEfficiencyRating": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Points": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Possessions": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Rebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Season": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "SeasonType": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "StatID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Steals": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "StealsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TeamID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "ThreePointersAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "ThreePointersMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "ThreePointersPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TotalReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueShootingAttempts": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TrueShootingPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "TurnOversPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Turnovers": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TwoPointersAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TwoPointersMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "TwoPointersPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            },
                            "UsageRatePercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Wins": {
                              "nullable": true,
                              "type": "integer"
                            }
                          }
                        },
                        "type": "array"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Box Scores by Date"
      }
    },
    "/id/boxscoresdelta/userid/orderid": {
      "get": {
        "operationId": "boxscoresbydatedelta",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2018-FEB-27</code>, <code>2017-DEC-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Only returns player statistics that have changed in the last X minutes.  You specify how many minutes in time to go back.  Valid entries are:\n<code>1</code> or <code>2</code>.",
            "in": "path",
            "name": "minutes",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Game": {
                        "properties": {
                          "Attendance": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRotationNumber": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "AwayTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamPreviousGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamPreviousGlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeamSeed": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "BottomTeamPreviousGameId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Bracket": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Channel": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTimeUTC": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "GameEndDateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "GameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GlobalAwayTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalGameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GlobalHomeTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePointSpreadPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRotationNumber": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamMoneyLine": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamPreviousGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamPreviousGlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeamSeed": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "IsClosed": {
                            "nullable": false,
                            "type": "boolean"
                          },
                          "NeutralVenue": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "OverPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OverUnder": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Period": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Periods": {
                            "items": {
                              "properties": {
                                "AwayScore": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "GameID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "HomeScore": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "Name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "Number": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "PeriodID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "Type": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              }
                            },
                            "type": "array"
                          },
                          "PointSpread": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Round": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Stadium": {
                            "properties": {
                              "Active": {
                                "nullable": false,
                                "type": "boolean"
                              },
                              "Address": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Capacity": {
                                "nullable": true,
                                "type": "integer"
                              },
                              "City": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Country": {
                                "nullable": true,
                                "type": "string"
                              },
                              "GeoLat": {
                                "nullable": true,
                                "type": "number"
                              },
                              "GeoLong": {
                                "nullable": true,
                                "type": "number"
                              },
                              "Name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "StadiumID": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "State": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Zip": {
                                "nullable": true,
                                "type": "string"
                              }
                            }
                          },
                          "Status": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TimeRemainingMinutes": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TimeRemainingSeconds": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TopTeamPreviousGameId": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TournamentDisplayOrder": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TournamentDisplayOrderForHomeTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TournamentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "UnderPayout": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Updated": {
                            "nullable": true,
                            "type": "string"
                          }
                        }
                      },
                      "Periods": {
                        "items": {
                          "properties": {
                            "AwayScore": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GameID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "HomeScore": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PeriodID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Type": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "PlayerGames": {
                        "items": {
                          "properties": {
                            "Assists": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "AssistsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "BlockedShots": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "BlocksPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DateTime": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Day": {
                              "nullable": true,
                              "type": "string"
                            },
                            "DefensiveRebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "DefensiveReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "DraftKingsPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "DraftKingsSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "EffectiveFieldGoalsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FanDuelPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FanDuelSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FantasyDataSalary": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsDraftKings": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsFanDuel": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPointsYahoo": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FieldGoalsAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FieldGoalsMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FieldGoalsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FreeThrowsAttempted": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FreeThrowsMade": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "FreeThrowsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "GameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Games": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalOpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "GlobalTeamID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "HomeOrAway": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryBodyPart": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryNotes": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryStartDate": {
                              "nullable": true,
                              "type": "string"
                            },
                            "InjuryStatus": {
                              "nullable": true,
                              "type": "string"
                            },
                            "IsGameOver": {
                              "nullable": false,
                              "type": "boolean"
                            },
                            "Minutes": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OffensiveRebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OffensiveReboundsPercentage": {
                              "nullable": true,
                              "type": "number"
                            },
                            "Opponent": {
                              "nullable": true,
                              "type": "string"
                            },
                            "OpponentID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OpponentPositionRank": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "OpponentRank": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PersonalFouls": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerEfficiencyRating": {
                              "nullable": true,
                              "type": "number"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Points": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Rebounds": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Season": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "SeasonType": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "StatID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Steals": {
                              "nullable": true,
                              "type": "integer"
[...]
