{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.motaword.com"
    },
    {
      "url": "https://sandbox.motaword.com"
    },
    {
      "url": "http://localhost"
    }
  ],
  "info": {
    "description": "Use MotaWord API to post and track your translation projects.",
    "title": "MotaWord API",
    "version": "1.0",
    "x-apiClientRegistration": {
      "url": "https://www.motaword.com/developer/register"
    },
    "x-apisguru-categories": [
      "text"
    ],
    "x-cli-description": "Use MotaWord CLI to interact with your MotaWord account in many ways to manage your translation and localization needs. Visit motaword.com/developer for details.",
    "x-cli-name": "motaword",
    "x-logo": {
      "url": "https://dentycj2qhk72.cloudfront.net/new/images/new_logo_horizontal.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.motaword.com/swagger",
        "version": "3.0"
      }
    ],
    "x-providerName": "motaword.com"
  },
  "externalDocs": {
    "url": "https://www.motaword.com/developer"
  },
  "security": [
    {
      "mwoAuth": [
        "default"
      ]
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "The root endpoint will provide you with an OpenAPI definition of MotaWord API.\n",
        "operationId": "getendpoints-v2",
        "responses": {
          "200": {
            "content": {
              "text/yaml": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "YAML representation of our OpenAPI definition."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Authentication error"
          }
        },
        "security": [],
        "summary": "Available endpoints",
        "tags": [
          "Static"
        ],
        "x-cli-cmd-group": "static",
        "parameters": [
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      },
      "x-internal": true
    },
    "/async/download": {
      "get": {
        "description": "Download the result of an async operation that you have requested in other endpoints.",
        "operationId": "downloadasync-v2",
        "parameters": [
          {
            "description": "Async operation key",
            "example": "f0db2468-6b77-41a4-bafe-70157bc166ad",
            "in": "query",
            "name": "async_request_key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/octet-stream": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "File"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ProjectNotFound"
          }
        },
        "summary": "Download result of an async operation",
        "tags": [
          "Async"
        ],
        "x-cli-cmd-group": "async"
      }
    },
    "/transactions/{id}": {
      "post": {
        "description": "MotaWord API is using OAuth2 procedures when authenticating or authorizing your API call.\n",
        "operationId": "getaccesstoken-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "grant_type": {
                    "description": "OAuth2 grant type. Supports 'client_credentials', 'password', 'refresh_token' or 'user_id'.",
                    "type": "string",
                    "x-public-description": "OAuth2 grant type. We publicly support 'client_credentials' or 'refresh_token' grant types, while other strategies are also possible but not allowed regularly."
                  },
                  "password": {
                    "description": "MW Account password (to be used in password grant type)",
                    "type": "string",
                    "x-internal": true
                  },
                  "refresh_token": {
                    "description": "Refresh token value for refresh token flow.",
                    "type": "string"
                  },
                  "scope": {
                    "description": "Authorization scope. Use 'privileged' for private endpoints.",
                    "type": "string"
                  },
                  "user_id": {
                    "description": "Value for user_id grant type flow.",
                    "format": "int64",
                    "type": "integer",
                    "x-internal": true
                  },
                  "username": {
                    "description": "MW Account email (to be used in password grant type)",
                    "type": "string",
                    "x-internal": true
                  }
                },
                "required": [
                  "grant_type",
                  "scope"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "grant_type": {
                    "description": "OAuth2 grant type. Supports 'client_credentials', 'password', 'refresh_token' or 'user_id'.",
                    "type": "string",
                    "x-public-description": "OAuth2 grant type. We publicly support 'client_credentials' or 'refresh_token' grant types, while other strategies are also possible but not allowed regularly."
                  },
                  "password": {
                    "description": "MW Account password (to be used in password grant type)",
                    "type": "string",
                    "x-internal": true
                  },
                  "refresh_token": {
                    "description": "Refresh token value for refresh token flow.",
                    "type": "string"
                  },
                  "scope": {
                    "description": "Authorization scope. Use 'privileged' for private endpoints.",
                    "type": "string"
                  },
                  "user_id": {
                    "description": "Value for user_id grant type flow.",
                    "format": "int64",
                    "type": "integer",
                    "x-internal": true
                  },
                  "username": {
                    "description": "MW Account email (to be used in password grant type)",
                    "type": "string",
                    "x-internal": true
                  }
                },
                "required": [
                  "grant_type",
                  "scope"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "scope": {
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    },
                    "user_id": {
                      "format": "int64",
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "description": "Authentication response"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "help": {
                          "type": "string"
                        },
                        "http_code": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "properties": {
                        "account_status": {
                          "enum": [
                            "registered",
                            "email_confirmed",
                            "deleted",
                            "suspended",
                            "rejected",
                            "approved",
                            "resume",
                            "webinar",
                            "course"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "Authentication error - for vendor auth, it will also fail if their account is not approved yet. In that case, the error response will include \"account_status\" key."
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "summary": "Retrieve an access token",
        "tags": [
          "Auth"
        ],
        "x-cli-cmd-group": "auth"
      }
    },
    "/cache/paymentid": {
      "delete": {
        "operationId": "deletecache",
        "parameters": [
          {
            "description": "Cache key",
            "example": "any key",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "default": "success",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Operation status"
          }
        },
        "summary": "Clear cache by key"
      },
      "x-internal": true
    },
    "/carts/{id}": {
      "get": {
        "operationId": "getuser-v2",
        "parameters": [
          {
            "description": "User ID",
            "example": 1,
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "billing": {
                      "allOf": [
                        {
                          "properties": {
                            "city": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "street": {
                              "type": "string"
                            },
                            "zip": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "name": {
                              "default": "",
                              "description": "addressing name, such as company name. used in billing address.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "birthday": {
                      "format": "date",
                      "type": "string",
                      "x-internal": true
                    },
                    "can_work_manual_files": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "type": "boolean"
                    },
                    "city": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "client": {
                      "properties": {
                        "corporate": {
                          "properties": {
                            "email": {
                              "type": "string",
                              "x-internal": true
                            },
                            "id": {
                              "format": "int64",
                              "type": "integer"
                            },
                            "logo": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "phone_number": {
                              "type": "string",
                              "x-internal": true
                            }
                          },
                          "type": "object"
                        },
                        "nps": {
                          "format": "float",
                          "type": "number"
                        },
                        "subjects": {
                          "additionalProperties": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "corporate_id": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "country": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "created_at": {
                      "description": "Unix epoch time",
                      "format": "int64",
                      "type": "integer"
                    },
                    "do_not_contact": {
                      "type": "boolean"
                    },
                    "email": {
                      "type": "string",
                      "x-internal": true
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "has_pwd": {
                      "type": "boolean"
                    },
                    "id": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "is_client": {
                      "type": "boolean"
                    },
                    "is_developer": {
                      "type": "boolean"
                    },
                    "is_proofreader": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "type": "boolean"
                    },
                    "is_prospect": {
                      "type": "boolean",
                      "x-internal": true
                    },
                    "is_sales_person": {
                      "type": "boolean",
                      "x-internal": true
                    },
                    "is_vendor": {
                      "type": "boolean"
                    },
                    "language_pairs": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "items": {
                        "properties": {
                          "source_language": {
                            "type": "string"
                          },
                          "target_language": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "last_seen_online_at": {
                      "description": "Unix epoch time",
                      "format": "int64",
                      "type": "integer"
                    },
                    "links": {
                      "allOf": [
                        {
                          "properties": {
                            "self": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "login_as": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "projects": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "responsivity": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "stats": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "locale": {
                      "description": "User Locale",
                      "type": "string"
                    },
                    "mailing": {
                      "properties": {
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "name": {
                      "type": "string"
                    },
                    "native_language": {
                      "deprecated": true,
                      "description": "\\@deprecated. Native language of user",
                      "type": "string"
                    },
                    "nps": {
                      "deprecated": true,
                      "description": "\\@deprecated. use /stats endpoint for the current nps value.",
                      "format": "float",
                      "type": "number",
                      "x-internal": true
                    },
                    "phone_number": {
                      "type": "string",
                      "x-internal": true
                    },
                    "profile_picture_path": {
                      "type": "string"
                    },
                    "social_media": {
                      "properties": {
                        "facebook_url": {
                          "type": "string"
                        },
                        "linkedIn_url": {
                          "type": "string"
                        },
                        "twitter_url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "state": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "street": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "tms_user_name": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "type": "string",
                      "x-internal": true
                    },
                    "user_groups": {
                      "items": {
                        "properties": {
                          "corporate_id": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "id": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "permissions": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "vendor": {
                      "properties": {
                        "can_work_manual_files": {
                          "type": "boolean"
                        },
                        "email_open_rate": {
                          "format": "float",
                          "type": "number"
                        },
                        "is_frozen": {
                          "type": "boolean"
                        },
                        "is_proofreader": {
                          "type": "boolean"
                        },
                        "language_pairs": {
                          "items": {
                            "properties": {
                              "source_language": {
                                "type": "string"
                              },
                              "target_language": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "native_language": {
                          "description": "Native language of user",
                          "type": "string"
                        },
                        "pam_tqs": {
                          "format": "float",
                          "type": "number"
                        },
                        "paypal_email": {
                          "type": "string",
                          "x-internal": true
                        },
                        "profile_survey": {
                          "properties": {
                            "current_services": {
                              "type": "string"
                            },
                            "daily_proofreading_capacity": {
                              "type": "string"
                            },
                            "daily_translation_capacity": {
                              "type": "string"
                            },
                            "dtp_software": {
                              "type": "string"
                            },
                            "experience": {
                              "type": "string"
                            },
                            "is_certified_translator": {
                              "type": "string"
                            },
                            "is_sworn_translator": {
                              "type": "string"
                            },
                            "memoq": {
                              "type": "string"
                            },
                            "memsource": {
                              "type": "string"
                            },
                            "omegat": {
                              "type": "string"
                            },
                            "proofreader_experience": {
                              "type": "string"
                            },
                            "provides_creative_writing_service": {
                              "type": "string"
                            },
                            "provides_postedit_service": {
                              "type": "string"
                            },
                            "reference": {
                              "type": "string"
                            },
                            "sdl_trados": {
                              "type": "string"
                            },
                            "skype_id": {
                              "type": "string"
                            },
                            "smartcat": {
                              "type": "string"
                            },
                            "smartling": {
                              "type": "string"
                            },
                            "software": {
                              "type": "string"
                            },
                            "specialization": {
                              "type": "string"
                            },
                            "subtitle_edit": {
                              "type": "string"
                            },
                            "subtitle_workshop": {
                              "type": "string"
                            },
                            "translator_association": {
                              "type": "string"
                            },
                            "transsuite_2000": {
                              "type": "string"
                            },
                            "vendor_profile_lsp": {
                              "type": "string"
                            },
                            "wordbee": {
                              "type": "string"
                            },
                            "wordfast": {
                              "type": "string"
                            },
                            "work_type": {
                              "type": "string"
                            },
                            "work_with": {
                              "type": "string"
                            },
                            "working_as": {
                              "type": "string"
                            },
                            "working_timezone": {
                              "type": "string"
                            },
                            "xbench": {
                              "type": "string"
                            },
                            "xtm": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "require_1099": {
                          "type": "boolean",
                          "x-internal": true
                        },
                        "tags": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array",
                          "x-internal": true
                        },
                        "tms_user_name": {
                          "type": "string",
                          "x-internal": true
                        },
                        "vendor_type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "zip_code": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key. new key name is \"zip\".",
                      "type": "string",
                      "x-internal": true
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "User summary"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "UserNotFound"
          }
        },
        "security": [
          {
            "mwoAuth": [
              "privileged"
            ]
          }
        ],
        "summary": "Get user information, including client or vendor specific info.",
        "tags": [
          "User"
        ],
        "x-cli-cmd-group": "users"
      },
      "post": {
        "operationId": "updateuser-v2",
        "parameters": [
          {
            "description": "User ID",
            "example": 1,
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "properties": {
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "street": {
                        "type": "string"
                      },
                      "zip": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "properties": {
                      "birthday": {
                        "format": "date",
                        "type": "string"
                      },
                      "email": {
                        "description": "Optional. User e-mail.",
                        "type": "string"
                      },
                      "first_name": {
                        "description": "Optional. User first name.",
                        "type": "string"
                      },
                      "id": {
                        "description": "Optional. ID of the user being updated.",
                        "format": "int64",
                        "type": "integer"
                      },
                      "last_name": {
                        "description": "Optional. User last name.",
                        "type": "string"
                      },
                      "notifications": {
                        "description": "Notification settings",
                        "properties": {
                          "phone_number": {
                            "description": "User phone number",
                            "type": "string"
                          },
                          "sms_enabled": {
                            "description": "User sms notification setting",
                            "type": "boolean"
                          }
                        },
                        "type": "object"
                      },
                      "notify": {
                        "description": "Notify new user account creation with login information and MotaWord introduction.",
                        "type": "boolean"
                      },
                      "paypal_email": {
                        "description": "Optional. Vendor paypal e-mail",
                        "type": "string"
                      },
                      "require_1099": {
                        "description": "Optional. Whether this vendor requires 1099 form in US for their earnings.",
                        "type": "boolean"
                      },
                      "user_groups": {
                        "description": "A list of user group IDs",
                        "items": {
                          "format": "int64",
                          "type": "integer"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  }
                ],
                "_polymorphic_marker": {
                  "allOf": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "billing": {
                      "allOf": [
                        {
                          "properties": {
                            "city": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "street": {
                              "type": "string"
                            },
                            "zip": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "name": {
                              "default": "",
                              "description": "addressing name, such as company name. used in billing address.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "birthday": {
                      "format": "date",
                      "type": "string",
                      "x-internal": true
                    },
                    "can_work_manual_files": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "type": "boolean"
                    },
                    "city": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "client": {
                      "properties": {
                        "corporate": {
                          "properties": {
                            "email": {
                              "type": "string",
                              "x-internal": true
                            },
                            "id": {
                              "format": "int64",
                              "type": "integer"
                            },
                            "logo": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "phone_number": {
                              "type": "string",
                              "x-internal": true
                            }
                          },
                          "type": "object"
                        },
                        "nps": {
                          "format": "float",
                          "type": "number"
                        },
                        "subjects": {
                          "additionalProperties": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "corporate_id": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "country": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "created_at": {
                      "description": "Unix epoch time",
                      "format": "int64",
                      "type": "integer"
                    },
                    "do_not_contact": {
                      "type": "boolean"
                    },
                    "email": {
                      "type": "string",
                      "x-internal": true
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "has_pwd": {
                      "type": "boolean"
                    },
                    "id": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "is_client": {
                      "type": "boolean"
                    },
                    "is_developer": {
                      "type": "boolean"
                    },
                    "is_proofreader": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "type": "boolean"
                    },
                    "is_prospect": {
                      "type": "boolean",
                      "x-internal": true
                    },
                    "is_sales_person": {
                      "type": "boolean",
                      "x-internal": true
                    },
                    "is_vendor": {
                      "type": "boolean"
                    },
                    "language_pairs": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "items": {
                        "properties": {
                          "source_language": {
                            "type": "string"
                          },
                          "target_language": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "last_seen_online_at": {
                      "description": "Unix epoch time",
                      "format": "int64",
                      "type": "integer"
                    },
                    "links": {
                      "allOf": [
                        {
                          "properties": {
                            "self": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "login_as": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "projects": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "responsivity": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "stats": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "locale": {
                      "description": "User Locale",
                      "type": "string"
                    },
                    "mailing": {
                      "properties": {
                        "city": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "street": {
                          "type": "string"
                        },
                        "zip": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "name": {
                      "type": "string"
                    },
                    "native_language": {
                      "deprecated": true,
                      "description": "\\@deprecated. Native language of user",
                      "type": "string"
                    },
                    "nps": {
                      "deprecated": true,
                      "description": "\\@deprecated. use /stats endpoint for the current nps value.",
                      "format": "float",
                      "type": "number",
                      "x-internal": true
                    },
                    "phone_number": {
                      "type": "string",
                      "x-internal": true
                    },
                    "profile_picture_path": {
                      "type": "string"
                    },
                    "social_media": {
                      "properties": {
                        "facebook_url": {
                          "type": "string"
                        },
                        "linkedIn_url": {
                          "type": "string"
                        },
                        "twitter_url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "state": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "status": {
                      "type": "string"
                    },
                    "street": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key.",
                      "type": "string",
                      "x-internal": true
                    },
                    "timezone": {
                      "type": "string"
                    },
                    "tms_user_name": {
                      "deprecated": true,
                      "description": "\\@deprecated. use `vendor` key",
                      "type": "string",
                      "x-internal": true
                    },
                    "user_groups": {
                      "items": {
                        "properties": {
                          "corporate_id": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "id": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "permissions": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "vendor": {
                      "properties": {
                        "can_work_manual_files": {
                          "type": "boolean"
                        },
                        "email_open_rate": {
                          "format": "float",
                          "type": "number"
                        },
                        "is_frozen": {
                          "type": "boolean"
                        },
                        "is_proofreader": {
                          "type": "boolean"
                        },
                        "language_pairs": {
                          "items": {
                            "properties": {
                              "source_language": {
                                "type": "string"
                              },
                              "target_language": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "native_language": {
                          "description": "Native language of user",
                          "type": "string"
                        },
                        "pam_tqs": {
                          "format": "float",
                          "type": "number"
                        },
                        "paypal_email": {
                          "type": "string",
                          "x-internal": true
                        },
                        "profile_survey": {
                          "properties": {
                            "current_services": {
                              "type": "string"
                            },
                            "daily_proofreading_capacity": {
                              "type": "string"
                            },
                            "daily_translation_capacity": {
                              "type": "string"
                            },
                            "dtp_software": {
                              "type": "string"
                            },
                            "experience": {
                              "type": "string"
                            },
                            "is_certified_translator": {
                              "type": "string"
                            },
                            "is_sworn_translator": {
                              "type": "string"
                            },
                            "memoq": {
                              "type": "string"
                            },
                            "memsource": {
                              "type": "string"
                            },
                            "omegat": {
                              "type": "string"
                            },
                            "proofreader_experience": {
                              "type": "string"
                            },
                            "provides_creative_writing_service": {
                              "type": "string"
                            },
                            "provides_postedit_service": {
                              "type": "string"
                            },
                            "reference": {
                              "type": "string"
                            },
                            "sdl_trados": {
                              "type": "string"
                            },
                            "skype_id": {
                              "type": "string"
                            },
                            "smartcat": {
                              "type": "string"
                            },
                            "smartling": {
                              "type": "string"
                            },
                            "software": {
                              "type": "string"
                            },
                            "specialization": {
                              "type": "string"
                            },
                            "subtitle_edit": {
                              "type": "string"
                            },
                            "subtitle_workshop": {
                              "type": "string"
                            },
                            "translator_association": {
                              "type": "string"
                            },
                            "transsuite_2000": {
                              "type": "string"
                            },
                            "vendor_profile_lsp": {
                              "type": "string"
                            },
                            "wordbee": {
                              "type": "string"
                            },
                            "wordfast": {
                              "type": "string"
                            },
                            "work_type": {
                              "type": "string"
                            },
                            "work_with": {
                              "type": "string"
                            },
                            "working_as": {
                              "type": "string"
                            },
                            "working_timezone": {
                              "type": "string"
                            },
                            "xbench": {
                              "type": "string"
                            },
                            "xtm": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "require_1099": {
                          "type": "boolean",
                          "x-internal": true
                        },
                        "tags": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array",
                          "x-internal": true
                        },
                        "tms_user_name": {
                          "type": "string",
                          "x-internal": true
                        },
                        "vendor_type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "zip_code": {
                      "deprecated": true,
                      "description": "\\@deprecated. use mailing or billing key. new key name is \"zip\".",
                      "type": "string",
                      "x-internal": true
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "User info"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "UserNotFound"
          }
        },
        "tags": [
          "User"
        ],
        "x-cli-cmd-group": "users"
      },
      "x-internal": true
    },
    "/reviews/{id}": {
      "get": {
        "description": "Returns billing and saved credit card information for user, and their corporate account if present & allowed.",
        "operationId": "getpaymentinfo-v2",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "billing": {
                      "allOf": [
                        {
                          "properties": {
                            "city": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "street": {
                              "type": "string"
                            },
                            "zip": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "name": {
                              "default": "",
                              "description": "addressing name, such as company name. used in billing address.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "card": {
                      "properties": {
                        "bin": {
                          "type": "string"
                        },
                        "id": {
                          "format": "int64",
                          "type": "integer"
                        },
                        "is_default": {
                          "type": "boolean"
                        },
                        "payment_code": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "cards": {
                      "items": {
                        "properties": {
                          "bin": {
                            "type": "string"
                          },
                          "id": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "is_default": {
                            "type": "boolean"
                          },
                          "payment_code": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "corporate": {
                      "properties": {
                        "allow_api_invoicing": {
                          "type": "boolean"
                        },
                        "allow_payment_code": {
                          "type": "boolean"
                        },
                        "auto_charge": {
                          "type": "boolean"
                        },
                        "billing": {
                          "allOf": [
                            {
                              "properties": {
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "zip": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            {
                              "properties": {
                                "name": {
                                  "default": "",
                                  "description": "addressing name, such as company name. used in billing address.",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "card": {
                          "properties": {
                            "bin": {
                              "type": "string"
                            },
                            "id": {
                              "format": "int64",
                              "type": "integer"
                            },
                            "is_default": {
                              "type": "boolean"
                            },
                            "payment_code": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "contact_email_address": {
                          "type": "string"
                        },
                        "payment_code": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "shared_card": {
                      "properties": {
                        "bin": {
                          "type": "string"
                        },
                        "id": {
                          "format": "int64",
                          "type": "integer"
                        },
                        "is_default": {
                          "type": "boolean"
                        },
                        "payment_code": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Returns billing and saved card information for user, and their corporate if present."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "UserNotFound UnauthorizedUser"
          }
        },
        "summary": "View your payment and billing info",
        "tags": [
          "User"
        ],
        "x-cli-cmd-group": "users"
      },
      "post": {
        "description": "Update your billing and saved credit card information",
        "operationId": "updatepaymentinfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "properties": {
                      "city": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "street": {
                        "type": "string"
                      },
                      "zip": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  {
                    "properties": {
                      "bin": {
                        "type": "string"
                      },
                      "save_as_corporate_primary": {
                        "type": "boolean"
                      },
                      "share_with_corporate_users": {
                        "type": "boolean"
                      },
                      "stripeToken": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                ],
                "_polymorphic_marker": {
                  "allOf": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "billing": {
                      "allOf": [
                        {
                          "properties": {
                            "city": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "phone": {
                              "type": "string"
                            },
                            "state": {
                              "type": "string"
                            },
                            "street": {
                              "type": "string"
                            },
                            "zip": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "name": {
                              "default": "",
                              "description": "addressing name, such as company name. used in billing address.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "card": {
                      "properties": {
                        "bin": {
                          "type": "string"
                        },
                        "id": {
                          "format": "int64",
                          "type": "integer"
                        },
                        "is_default": {
                          "type": "boolean"
                        },
                        "payment_code": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "cards": {
                      "items": {
                        "properties": {
                          "bin": {
                            "type": "string"
                          },
                          "id": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "is_default": {
                            "type": "boolean"
                          },
                          "payment_code": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "corporate": {
                      "properties": {
                        "allow_api_invoicing": {
                          "type": "boolean"
                        },
                        "allow_payment_code": {
                          "type": "boolean"
                        },
                        "auto_charge": {
                          "type": "boolean"
                        },
                        "billing": {
                          "allOf": [
                            {
                              "properties": {
                                "city": {
                                  "type": "string"
                                },
                                "country": {
                                  "type": "string"
                                },
                                "phone": {
                                  "type": "string"
                                },
                                "state": {
                                  "type": "string"
                                },
                                "street": {
                                  "type": "string"
                                },
                                "zip": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            {
                              "properties": {
                                "name": {
                                  "default": "",
                                  "description": "addressing name, such as company name. used in billing address.",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "card": {
                          "properties": {
                            "bin": {
                              "type": "string"
                            },
                            "id": {
                              "format": "int64",
                              "type": "integer"
                            },
                            "is_default": {
                              "type": "boolean"
                            },
                            "payment_code": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "contact_email_address": {
                          "type": "string"
                        },
                        "payment_code": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "shared_card": {
                      "properties": {
                        "bin": {
                          "type": "string"
                        },
                        "id": {
                          "format": "int64",
                          "type": "integer"
                        },
                        "is_default": {
                          "type": "boolean"
                        },
                        "payment_code": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful operation"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "UserNotFound"
          }
        },
        "summary": "Update payment info",
        "tags": [
          "User"
        ],
        "x-cli-cmd-group": "users"
      }
    },
    "/continuous-projects/sku": {
      "delete": {
        "description": "Delete an existing continuous project. Your project will be cancelled, and you will still be charged for the amount of translations we have done for you so far.",
        "operationId": "deletecontinuousproject",
        "parameters": [
          {
            "description": "Continuous project ID",
            "example": 74,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "status": {
                      "default": "success",
                      "enum": [
                        "success",
                        "error"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Continuous project deleted successfully"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ProjectNotFound"
          }
        },
        "summary": "Delete a continuous project",
        "tags": [
          "ContinuousProject"
        ],
        "x-cli-aliases": [
          "delete"
        ],
        "x-cli-cmd-group": "continuous-projects"
      },
      "get": {
        "description": "View the details of a continuous project.",
        "operationId": "getcontinuousproject",
        "parameters": [
          {
            "description": "Continuous Project ID",
            "example": 74,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "analytics_enabled": {
                      "description": "Should we collect analytics data from Active for this continuous project?",
                      "type": "boolean"
                    },
                    "auto_start_postedit": {
                      "description": "Immediately start post-editing project for translation requests that are applied MT.",
                      "type": "boolean"
                    },
                    "created_at": {
                      "description": "the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z",
                      "format": "date-time",
                      "type": "string"
                    },
                    "id": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "is_enabled": {
                      "type": "boolean"
                    },
                    "last_activity_at": {
                      "description": "the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z",
                      "format": "date-time",
                      "type": "string"
                    },
                    "links": {
                      "allOf": [
                        {
                          "properties": {
                            "self": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "editors": {
                              "additionalProperties": {
                                "properties": {
                                  "href": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "mt_enabled": {
                      "description": "Immediately apply MT on translation requests if they are missing from TM.",
                      "type": "boolean"
                    },
                    "mt_engine": {
                      "description": "One of \"MOTAWORD\", \"GOOGLE\", \"AMAZON\", \"MS\". Default is \"MOTAWORD\".",
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "postedit_enabled": {
                      "description": "Get an instant quote for translation requests that are applied MT.",
                      "type": "boolean"
                    },
                    "source_language": {
                      "type": "string"
                    },
                    "status": {
                      "description": "One of \"a => ACTIVE\", \"i => INACTIVE\", \"d => DELETED\", \"c => SCHEDULED CANCELLATION\", \"p => SCHEDULED CHANGE\"",
                      "type": "string"
                    },
                    "subscription": {
                      "properties": {
                        "downgrade": {
                          "description": "Stripe downgradable plan",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "payment_method": {
                          "description": "Stripe subscription plan payment card internal id",
                          "type": "integer"
                        },
                        "period_end": {
                          "description": "Stripe plan period end",
                          "format": "date-time",
                          "type": "string"
                        },
                        "plan_id": {
                          "description": "Stripe subscription plan id",
                          "type": "string"
                        },
                        "plan_name": {
                          "description": "Stripe subscription plan name",
                          "type": "string"
                        },
                        "price": {
                          "description": "Stripe plan price",
                          "type": "string"
                        },
                        "products": {
                          "items": {},
                          "type": "array"
                        },
                        "schedule_name": {
                          "description": "Stripe Scheduled plan period end",
                          "type": "string"
                        },
                        "schedule_start": {
                          "description": "Stripe Scheduled start date",
                          "format": "date-time",
                          "type": "string"
                        },
                        "subscription_id": {
                          "description": "Stripe subscription id for this project",
                          "type": "string"
                        },
                        "upgrade": {
                          "description": "Stripe upgradable plan",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "withTrial": {
                          "description": "Stripe plan trial",
                          "format": "boolean"
                        }
                      },
                      "type": "object"
                    },
                    "target_languages": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": {
                      "description": "Continuous project type. We currently have only 2 types, NULL and \"active\".",
                      "type": "string"
                    },
                    "word_count": {
                      "format": "int64",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ContinuousProject model"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ProjectNotFound"
          }
        },
        "summary": "View a continuous project",
        "tags": [
          "ContinuousProject"
        ],
        "x-cli-aliases": [
          "get"
        ],
        "x-cli-cmd-group": "continuous-projects"
      },
      "post": {
        "description": "Update the details and settings of continuous project.",
        "operationId": "updatecontinuousproject-v2",
        "parameters": [
          {
            "description": "Continuous project ID",
            "example": 74,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "analytics_enabled": {
                    "type": "boolean"
                  },
                  "auto_start_postedit": {
                    "type": "boolean"
                  },
                  "is_enabled": {
                    "type": "boolean"
                  },
                  "languages": {
                    "items": {
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "is_enabled": {
                          "type": "boolean"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "mt_enabled": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "postedit_enabled": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "analytics_enabled": {
                      "description": "Should we collect analytics data from Active for this continuous project?",
                      "type": "boolean"
                    },
                    "auto_start_postedit": {
                      "description": "Immediately start post-editing project for translation requests that are applied MT.",
                      "type": "boolean"
                    },
                    "created_at": {
                      "description": "the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z",
                      "format": "date-time",
                      "type": "string"
                    },
                    "id": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "is_enabled": {
                      "type": "boolean"
                    },
                    "last_activity_at": {
                      "description": "the date-time notation as defined by RFC 3339, section 5.6, for example, 2017-07-21T17:32:28Z",
                      "format": "date-time",
                      "type": "string"
                    },
                    "links": {
                      "allOf": [
                        {
                          "properties": {
                            "self": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "editors": {
                              "additionalProperties": {
                                "properties": {
                                  "href": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "mt_enabled": {
                      "description": "Immediately apply MT on translation requests if they are missing from TM.",
                      "type": "boolean"
                    },
                    "mt_engine": {
                      "description": "One of \"MOTAWORD\", \"GOOGLE\", \"AMAZON\", \"MS\". Default is \"MOTAWORD\".",
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "postedit_enabled": {
                      "description": "Get an instant quote for translation requests that are applied MT.",
                      "type": "boolean"
                    },
                    "source_language": {
                      "type": "string"
                    },
                    "status": {
                      "description": "One of \"a => ACTIVE\", \"i => INACTIVE\", \"d => DELETED\", \"c => SCHEDULED CANCELLATION\", \"p => SCHEDULED CHANGE\"",
                      "type": "string"
                    },
                    "subscription": {
                      "properties": {
                        "downgrade": {
                          "description": "Stripe downgradable plan",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "payment_method": {
                          "description": "Stripe subscription plan payment card internal id",
                          "type": "integer"
                        },
                        "period_end": {
                          "description": "Stripe plan period end",
                          "format": "date-time",
                          "type": "string"
                        },
                        "plan_id": {
                          "description": "Stripe subscription plan id",
                          "type": "string"
                        },
                        "plan_name": {
                          "description": "Stripe subscription plan name",
                          "type": "string"
                        },
                        "price": {
                          "description": "Stripe plan price",
                          "type": "string"
                        },
                        "products": {
                          "items": {},
                          "type": "array"
                        },
                        "schedule_name": {
                          "description": "Stripe Scheduled plan period end",
                          "type": "string"
                        },
                        "schedule_start": {
                          "description": "Stripe Scheduled start date",
                          "format": "date-time",
                          "type": "string"
                        },
                        "subscription_id": {
                          "description": "Stripe subscription id for this project",
                          "type": "string"
                        },
                        "upgrade": {
                          "description": "Stripe upgradable plan",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "withTrial": {
                          "description": "Stripe plan trial",
                          "format": "boolean"
                        }
                      },
                      "type": "object"
                    },
                    "target_languages": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": {
                      "description": "Continuous project type. We currently have only 2 types, NULL and \"active\".",
                      "type": "string"
                    },
                    "word_count": {
                      "format": "int64",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Update continuous project operation status"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "help": {
                      "type": "string"
                    },
                    "http_code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ProjectNotFound"
          }
        },
        "summary": "Update a continuous project",
        "tags": [
          "ContinuousProject"
        ],
        "x-cli-cmd-group": "continuous-projects"
      }
    },
    "/continuous-projects/id/analytics-token": {
      "get": {
        "description": "Get JWT token to be used in analytics dashboards",
        "operationId": "getanalyticstoken",
        "parameters": [
          {
            "description": "Continuous project ID",
            "example": 74,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "jwt": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "JWT token result"
          }
        },
        "summary": "Get JWT token to be used in analytics dashboards",
        "tags": [
          "ContinuousProject"
        ],
        "x-cli-cmd-group": "continuous-projects"
      },
      "x-internal": true
    },
    "/continuous-projects/orderid/collect-analytics": {
      "post": {
        "description": "Save/collect analytics data from Active widget",
        "operationId": "collectanalytics-v2",
        "parameters": [
          {
            "description": "Continuous project ID",
            "example": 74,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "anonymousId": {
                    "type": "string"
                  },
                  "properties": {
                    "additionalProperties": {
                      "type": "string"
                    },
                    "type": "object"
                  },
                  "sessionId": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
[...]
