{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/nfl/stats"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/nfl/stats"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "NFL rosters, player stats, team stats, and fantasy stats API.",
    "title": "NFL v3 Stats",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/nfldata/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nfl-v3-stats.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nfl-v3-stats"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/paymentid/activeboxscores": {
      "get": {
        "description": "This method returns box scores for all games that are either in-progress or have been updated within the last 30 minutes.",
        "operationId": "legacyboxscoresactive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "AwayDefense": {
                        "items": {
                          "properties": {
                            "AssistedTackles": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FumbleReturnTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FumblesForced": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FumblesRecovered": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "InterceptionReturnTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "InterceptionReturnYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Interceptions": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassesDefended": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "QuarterbackHits": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "SackYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Sacks": {
                              "nullable": false,
                              "type": "number"
                            },
                            "Safeties": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SoloTackles": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Tackles": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "TacklesForLoss": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "AwayFantasyDefense": {
                        "properties": {
                          "AssistedTackles": {
                            "nullable": false,
                            "type": "number"
                          },
                          "BlockedKickReturnTouchdowns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BlockedKickReturnYards": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BlockedKicks": {
                            "nullable": false,
                            "type": "number"
                          },
                          "Date": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DefensiveTouchdowns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsKickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DraftKingsQuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsRunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DraftKingsTightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsWideReceiverFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelKickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "FanDuelQuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelRunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FanDuelTightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelWideReceiverFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDataSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDefenseID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDraftFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftKickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "FantasyDraftQuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftRunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDraftTightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftWideReceiverFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPoints": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsDraftKings": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFanDuel": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsFantasyDraft": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyPointsYahoo": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FieldGoalReturnTouchdowns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FieldGoalReturnYards": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FourthDownAttempts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FourthDownConversions": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FumbleReturnTouchdowns": {
                            "nullable": false,
                            "type": "number"
                          },
                          "FumbleReturnYards": {
                            "nullable": false,
                            "type": "number"
                          },
                          "FumblesForced": {
                            "nullable": false,
                            "type": "number"
                          },
                          "FumblesRecovered": {
                            "nullable": false,
                            "type": "number"
                          },
                          "GameKey": {
                            "nullable": true,
                            "type": "string"
                          },
                          "GlobalGameID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalOpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "GlobalTeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeOrAway": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Humidity": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "InterceptionReturnTouchdowns": {
                            "nullable": false,
                            "type": "number"
                          },
                          "InterceptionReturnYards": {
                            "nullable": false,
                            "type": "number"
                          },
                          "Interceptions": {
                            "nullable": false,
                            "type": "number"
                          },
                          "IsGameOver": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "KickReturnLong": {
                            "nullable": false,
                            "type": "number"
                          },
                          "KickReturnTouchdowns": {
                            "nullable": false,
                            "type": "number"
                          },
                          "KickReturnYards": {
                            "nullable": false,
                            "type": "number"
                          },
                          "KickReturns": {
                            "nullable": false,
                            "type": "number"
                          },
                          "KickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "OffensiveYardsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Opponent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "OpponentID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OpponentPositionRank": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "OpponentRank": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PassesDefended": {
                            "nullable": false,
                            "type": "number"
                          },
                          "PlayerID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "PointsAllowed": {
                            "nullable": false,
                            "type": "number"
                          },
                          "PointsAllowedByDefenseSpecialTeams": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PuntReturnLong": {
                            "nullable": false,
                            "type": "number"
                          },
                          "PuntReturnTouchdowns": {
                            "nullable": false,
                            "type": "number"
                          },
                          "PuntReturnYards": {
                            "nullable": false,
                            "type": "number"
                          },
                          "PuntReturns": {
                            "nullable": false,
                            "type": "number"
                          },
                          "QuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "QuarterbackHits": {
                            "nullable": true,
                            "type": "number"
                          },
                          "RunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "SackYards": {
                            "nullable": false,
                            "type": "number"
                          },
                          "Sacks": {
                            "nullable": false,
                            "type": "number"
                          },
                          "Safeties": {
                            "nullable": false,
                            "type": "number"
                          },
                          "ScoreID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "ScoringDetails": {
                            "items": {
                              "properties": {
                                "GameKey": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "Length": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "PlayerGameID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "PlayerID": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "ScoreID": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "ScoringDetailID": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "ScoringPlayID": {
                                  "nullable": true,
                                  "type": "integer"
                                },
                                "ScoringType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "Season": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "SeasonType": {
                                  "nullable": false,
                                  "type": "integer"
                                },
                                "Team": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "Week": {
                                  "nullable": false,
                                  "type": "integer"
                                }
                              }
                            },
                            "type": "array"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SoloTackles": {
                            "nullable": false,
                            "type": "number"
                          },
                          "SpecialTeamsTouchdowns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Stadium": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TacklesForLoss": {
                            "nullable": true,
                            "type": "number"
                          },
                          "Team": {
                            "nullable": true,
                            "type": "string"
                          },
                          "TeamID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Temperature": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "ThirdDownAttempts": {
                            "nullable": true,
                            "type": "number"
                          },
                          "ThirdDownConversions": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "TouchdownsScored": {
                            "nullable": false,
                            "type": "number"
                          },
                          "TwoPointConversionReturns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "VictivSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Week": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "WideReceiverFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "WindSpeed": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "YahooFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "YahooKickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "YahooPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "YahooQuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "YahooRunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "YahooSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "YahooTightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "YahooWideReceiverFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          }
                        }
                      },
                      "AwayKickPuntReturns": {
                        "items": {
                          "properties": {
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FumblesLost": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "KickReturnLong": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "KickReturnTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "KickReturnYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "KickReturnYardsPerAttempt": {
                              "nullable": false,
                              "type": "number"
                            },
                            "KickReturns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PuntReturnLong": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PuntReturnTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PuntReturnYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PuntReturnYardsPerAttempt": {
                              "nullable": false,
                              "type": "number"
                            },
                            "PuntReturns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "AwayKicking": {
                        "items": {
                          "properties": {
                            "ExtraPointsAttempted": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ExtraPointsMade": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FieldGoalPercentage": {
                              "nullable": false,
                              "type": "number"
                            },
                            "FieldGoalsAttempted": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FieldGoalsLongestMade": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FieldGoalsMade": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FieldGoalsMade0to19": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FieldGoalsMade20to29": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FieldGoalsMade30to39": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FieldGoalsMade40to49": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FieldGoalsMade50Plus": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "AwayPassing": {
                        "items": {
                          "properties": {
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FumblesLost": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingAttempts": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingCompletionPercentage": {
                              "nullable": false,
                              "type": "number"
                            },
                            "PassingCompletions": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingInterceptions": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingLong": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingRating": {
                              "nullable": false,
                              "type": "number"
                            },
                            "PassingSackYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingSacks": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassingYardsPerAttempt": {
                              "nullable": false,
                              "type": "number"
                            },
                            "PassingYardsPerCompletion": {
                              "nullable": false,
                              "type": "number"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TwoPointConversionPasses": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "AwayPunting": {
                        "items": {
                          "properties": {
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PuntAverage": {
                              "nullable": false,
                              "type": "number"
                            },
                            "PuntInside20": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PuntTouchbacks": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PuntYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Punts": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "AwayReceiving": {
                        "items": {
                          "properties": {
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FumblesLost": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "ReceivingLong": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ReceivingTargets": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ReceivingTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ReceivingYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ReceivingYardsPerReception": {
                              "nullable": false,
                              "type": "number"
                            },
                            "ReceivingYardsPerTarget": {
                              "nullable": false,
                              "type": "number"
                            },
                            "ReceptionPercentage": {
                              "nullable": false,
                              "type": "number"
                            },
                            "Receptions": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TwoPointConversionReceptions": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "AwayRushing": {
                        "items": {
                          "properties": {
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FumblesLost": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "RushingAttempts": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "RushingLong": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "RushingTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "RushingYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "RushingYardsPerAttempt": {
                              "nullable": false,
                              "type": "number"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TwoPointConversionRuns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "Game": {
                        "properties": {
                          "AwayAssistedTackles": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayBlockedKickReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayBlockedKickReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayBlockedKicks": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayCompletionPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayExtraPointKickingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayExtraPointKickingConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayExtraPointPassingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayExtraPointPassingConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayExtraPointRushingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayExtraPointRushingConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayExtraPointsHadBlocked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFieldGoalAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFieldGoalReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFieldGoalReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFieldGoalsHadBlocked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFieldGoalsMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFirstDowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFirstDownsByPassing": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFirstDownsByPenalty": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFirstDownsByRushing": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFourthDownAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFourthDownConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFourthDownPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayFumbleReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFumbleReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFumbles": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFumblesForced": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFumblesLost": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayFumblesRecovered": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayGiveaways": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayGoalToGoAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayGoalToGoConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayInterceptionReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayInterceptionReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayInterceptionReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayKickReturnLong": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayKickReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayKickReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayKickReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayKickoffTouchbacks": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayKickoffs": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayKickoffsInEndZone": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayOffensivePlays": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayOffensiveYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayOffensiveYardsPerPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayPasserRating": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayPassesDefended": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPassingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPassingCompletions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPassingInterceptions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPassingTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPassingYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPassingYardsPerAttempt": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayPassingYardsPerCompletion": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayPenalties": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPenaltyYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPuntAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayPuntNetAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayPuntNetYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPuntReturnLong": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPuntReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPuntReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPuntReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPuntYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPunts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayPuntsHadBlocked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayQuarterbackHits": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRedZoneAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRedZoneConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRushingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRushingTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRushingYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayRushingYardsPerAttempt": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwaySackYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwaySacks": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwaySafeties": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayScore": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "AwayScoreOvertime": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayScoreQuarter1": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayScoreQuarter2": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayScoreQuarter3": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayScoreQuarter4": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwaySoloTackles": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTacklesForLoss": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTakeaways": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "AwayThirdDownAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayThirdDownConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayThirdDownPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "AwayTimeOfPossession": {
                            "nullable": true,
                            "type": "string"
                          },
                          "AwayTimesSacked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTimesSackedYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTurnoverDifferential": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "AwayTwoPointConversionReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Date": {
                            "nullable": true,
                            "type": "string"
                          },
                          "GameID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "GameKey": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeAssistedTackles": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeBlockedKickReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeBlockedKickReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeBlockedKicks": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeCompletionPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomeExtraPointKickingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeExtraPointKickingConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeExtraPointPassingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeExtraPointPassingConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeExtraPointRushingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeExtraPointRushingConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeExtraPointsHadBlocked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFieldGoalAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFieldGoalReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFieldGoalReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFieldGoalsHadBlocked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFieldGoalsMade": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFirstDowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFirstDownsByPassing": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFirstDownsByPenalty": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFirstDownsByRushing": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFourthDownAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFourthDownConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFourthDownPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomeFumbleReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFumbleReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFumbles": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFumblesForced": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFumblesLost": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeFumblesRecovered": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeGiveaways": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeGoalToGoAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeGoalToGoConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeInterceptionReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeInterceptionReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeInterceptionReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeKickReturnLong": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeKickReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeKickReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeKickReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeKickoffTouchbacks": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeKickoffs": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeKickoffsInEndZone": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeOffensivePlays": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeOffensiveYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeOffensiveYardsPerPlay": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomePasserRating": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomePassesDefended": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePassingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePassingCompletions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePassingInterceptions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePassingTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePassingYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePassingYardsPerAttempt": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomePassingYardsPerCompletion": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomePenalties": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePenaltyYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePuntAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomePuntNetAverage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomePuntNetYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePuntReturnLong": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePuntReturnTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePuntReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePuntReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePuntYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePunts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomePuntsHadBlocked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeQuarterbackHits": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRedZoneAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRedZoneConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeReturnYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRushingAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRushingTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRushingYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeRushingYardsPerAttempt": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomeSackYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeSacks": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeSafeties": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeScore": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "HomeScoreOvertime": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeScoreQuarter1": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeScoreQuarter2": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeScoreQuarter3": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeScoreQuarter4": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeSoloTackles": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTacklesForLoss": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTakeaways": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTeam": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeThirdDownAttempts": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeThirdDownConversions": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeThirdDownPercentage": {
                            "nullable": true,
                            "type": "number"
                          },
                          "HomeTimeOfPossession": {
                            "nullable": true,
                            "type": "string"
                          },
                          "HomeTimesSacked": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTimesSackedYards": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTouchdowns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTurnoverDifferential": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "HomeTwoPointConversionReturns": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Humidity": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "IsGameOver": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "OverUnder": {
                            "nullable": true,
                            "type": "number"
                          },
                          "PlayingSurface": {
                            "nullable": true,
                            "type": "string"
                          },
                          "PointSpread": {
                            "nullable": true,
                            "type": "number"
                          },
                          "ScoreID": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Season": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "SeasonType": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "Stadium": {
                            "nullable": true,
                            "type": "string"
                          },
                          "StadiumDetails": {
                            "properties": {
                              "Capacity": {
                                "nullable": true,
                                "type": "integer"
                              },
                              "City": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Country": {
                                "nullable": true,
                                "type": "string"
                              },
                              "GeoLat": {
                                "nullable": true,
                                "type": "number"
                              },
                              "GeoLong": {
                                "nullable": true,
                                "type": "number"
                              },
                              "Name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "PlayingSurface": {
                                "nullable": true,
                                "type": "string"
                              },
                              "StadiumID": {
                                "nullable": false,
                                "type": "integer"
                              },
                              "State": {
                                "nullable": true,
                                "type": "string"
                              },
                              "Type": {
                                "nullable": true,
                                "type": "string"
                              }
                            }
                          },
                          "StadiumID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Temperature": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "TotalScore": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "Week": {
                            "nullable": false,
                            "type": "integer"
                          },
                          "WindSpeed": {
                            "nullable": true,
                            "type": "integer"
                          }
                        }
                      },
                      "HomeDefense": {
                        "items": {
                          "properties": {
                            "AssistedTackles": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FantasyPoints": {
                              "nullable": true,
                              "type": "number"
                            },
                            "FantasyPosition": {
                              "nullable": true,
                              "type": "string"
                            },
                            "FumbleReturnTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FumblesForced": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "FumblesRecovered": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "InterceptionReturnTouchdowns": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "InterceptionReturnYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Interceptions": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Number": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PassesDefended": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "PlayerGameID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "PlayerID": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PositionCategory": {
                              "nullable": true,
                              "type": "string"
                            },
                            "QuarterbackHits": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "SackYards": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Sacks": {
                              "nullable": false,
                              "type": "number"
                            },
                            "Safeties": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "ShortName": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SoloTackles": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Tackles": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "TacklesForLoss": {
                              "nullable": true,
                              "type": "integer"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Updated": {
                              "nullable": true,
                              "type": "string"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "HomeFantasyDefense": {
                        "properties": {
                          "AssistedTackles": {
                            "nullable": false,
                            "type": "number"
                          },
                          "BlockedKickReturnTouchdowns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BlockedKickReturnYards": {
                            "nullable": true,
                            "type": "number"
                          },
                          "BlockedKicks": {
                            "nullable": false,
                            "type": "number"
                          },
                          "Date": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "Day": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DefensiveTouchdowns": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsKickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "DraftKingsQuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsRunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "DraftKingsTightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "DraftKingsWideReceiverFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelKickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "FanDuelQuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelRunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FanDuelTightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FanDuelWideReceiverFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDataSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDefenseID": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDraftFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftKickerFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftPosition": {
                            "nullable": true,
                            "type": "string"
                          },
                          "FantasyDraftQuarterbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftRunningbackFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
                          },
                          "FantasyDraftSalary": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "FantasyDraftTightEndFantasyPointsAllowed": {
                            "nullable": true,
                            "type": "number"
[...]
