{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://ethereum.apidapp.com/1"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "api_dapp"
    },
    "title": "ApiDapp",
    "version": "2019-02-14T16:47:01+00:00",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://i2.wp.com/apidapp.com/wp-content/uploads/2019/03/cropped-ApiDappIcon.png?fit=180%2C180&ssl=1"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://apidapp.s3.amazonaws.com/ApiDapp-Start-swagger-7/ApiDapp-Start-swagger+(7).json",
        "version": "3.0"
      }
    ],
    "x-providerName": "apidapp.com"
  },
  "paths": {
    "/": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options"
      },
      "x-amazon-apigateway-any-method": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "x-amazon-apigateway-any-method"
      }
    },
    "/orders/{id}": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-orders-id-v2"
      },
      "post": {
        "description": "Create new account",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "post-orders-id-v2"
      }
    },
    "/account/userid": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-account-userid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-account-userid"
      }
    },
    "/profiles/{id}": {
      "get": {
        "description": "Get token information such as name, total amount in circulation, etc",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-profiles-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-profiles-id-v2"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-profiles-id-v2"
      }
    },
    "/block/sku": {
      "get": {
        "description": "Get information about particular block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-sku"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-sku"
      }
    },
    "/block/userid/transaction": {
      "get": {
        "description": "Get transaction count within block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-userid-transaction"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-userid-transaction-v2"
      }
    },
    "/block/paymentid/transaction/id": {
      "get": {
        "description": "Get information about particular transaction within block",
        "parameters": [
          {
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-paymentid-transaction-id"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Automatically added",
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-paymentid-transaction-id"
      }
    },
    "/billing/{id}": {
      "get": {
        "description": "Get a list of supported blockchains",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-billing-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-billing-id-v2"
      }
    },
    "/blockchain/id": {
      "get": {
        "description": "Get information about blockchain woth given id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-blockchain-id"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-blockchain-id"
      }
    },
    "/payments/{id}": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-payments-id"
      },
      "post": {
        "description": "Create a new smart contract",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-payments-id"
      }
    },
    "/contract/sku": {
      "get": {
        "description": "Get contract balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-contract-sku"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-contract-sku"
      },
      "post": {
        "description": "Call the contract",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "post-contract-sku-v2"
      }
    },
    "/inventory/{id}": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-inventory-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-inventory-id-v2"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-inventory-id-v2"
      }
    },
    "/{id}/userid": {
      "get": {
        "description": "Get information amout token balance in the account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-id-userid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-id-userid-v2"
      },
      "post": {
        "description": "Transfer tokens to another account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-id-userid-v2"
      }
    },
    "/key/orderid": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "delete-key-orderid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-key-orderid-v2"
      }
    },
    "/carts/{id}": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-carts-id"
      },
      "post": {
        "description": "Create a new transaction. Transfer Ether between accounts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "post-carts-id"
      }
    },
    "/transaction/userid": {
      "get": {
        "description": "Get information about transaction by the transaction hash value",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-userid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-userid"
      }
    },
    "/transaction/paymentid/receipt": {
      "get": {
        "description": "Get receipt detail information",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-paymentid-receipt"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-paymentid-receipt"
      }
    },
    "/reviews/{id}": {
      "get": {
        "description": "Get API version info",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-reviews-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-reviews-id"
      }
    },
    "/transactions/{id}": {
      "get": {
        "description": "Get current account balance",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-transactions-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transactions-id-v2"
      },
      "post": {
        "description": "Create personal wallet",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-transactions-id-v2"
      }
    },
    "/wallet/account": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account"
      }
    },
    "/wallet/account/id": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account-id-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-id-v2"
      }
    },
    "/wallet/account/id/contract": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-id-contract"
      }
    },
    "/wallet/account/id/{id}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-id-id-v2"
      }
    },
    "/wallet/account/orderid/pay": {
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-orderid-pay-v2"
      },
      "post": {
        "description": "Send payment from the account held within the wallet",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-orderid-pay"
      }
    }
  },
  "components": {
    "schemas": {
      "Empty": {
        "title": "Empty Schema",
        "type": "object"
      }
    },
    "securitySchemes": {
      "Key2": {
        "in": "header",
        "name": "X-Api-Key",
        "type": "apiKey",
        "x-amazon-apigateway-authtype": "custom"
      }
    }
  }
}