{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.clever.com/v1.2"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "clever"
    },
    "description": "Serves the Clever Data API",
    "title": "Data API",
    "version": "1.2.0",
    "x-apisguru-categories": [
      "education"
    ],
    "x-logo": {
      "url": "https://twitter.com/clever/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Clever/swagger-api/master/v1.2.yml",
        "version": "3.0"
      }
    ],
    "x-providerName": "clever.com"
  },
  "security": [
    {
      "oauth": []
    }
  ],
  "paths": {
    "/products/{id}": {
      "get": {
        "description": "Returns a list of student contacts",
        "operationId": "getcontacts",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "email": {
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "phone": {
                                "nullable": true,
                                "type": "string"
                              },
                              "phone_type": {
                                "nullable": true,
                                "type": "string"
                              },
                              "relationship": {
                                "nullable": true,
                                "type": "string"
                              },
                              "sis_id": {
                                "nullable": true,
                                "type": "string"
                              },
                              "student": {
                                "type": "string",
                                "x-validation": true
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/contacts/id": {
      "get": {
        "description": "Returns a specific student contact",
        "operationId": "getcontact",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "district": {
                          "type": "string",
                          "x-validation": true
                        },
                        "email": {
                          "nullable": true,
                          "type": "string"
                        },
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "phone": {
                          "nullable": true,
                          "type": "string"
                        },
                        "phone_type": {
                          "nullable": true,
                          "type": "string"
                        },
                        "relationship": {
                          "nullable": true,
                          "type": "string"
                        },
                        "sis_id": {
                          "nullable": true,
                          "type": "string"
                        },
                        "student": {
                          "type": "string",
                          "x-validation": true
                        },
                        "type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/contacts/sku/district": {
      "get": {
        "description": "Returns the district for a student contact",
        "operationId": "getdistrictforstudentcontact",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "mdr_number": {
                          "nullable": true,
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/contacts/sku/student": {
      "get": {
        "description": "Returns the student for a student contact",
        "operationId": "getstudentforcontact-v2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "created": {
                          "format": "datetime",
                          "type": "string",
                          "x-validation": true
                        },
                        "credentials": {
                          "properties": {
                            "district_username": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "district": {
                          "type": "string",
                          "x-validation": true
                        },
                        "dob": {
                          "nullable": true,
                          "pattern": "(?:[0-9]{1,2})/([0-9]{1,2})/([0-9]{4})",
                          "type": "string",
                          "x-validation": true
                        },
                        "ell_status": {
                          "enum": [
                            "Y",
                            "N",
                            ""
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "email": {
                          "nullable": true,
                          "type": "string"
                        },
                        "gender": {
                          "enum": [
                            "M",
                            "F",
                            ""
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "grade": {
                          "enum": [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                            "10",
                            "11",
                            "12",
                            "PreKindergarten",
                            "Kindergarten",
                            "PostGraduate",
                            "Other"
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "graduation_year": {
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "hispanic_ethnicity": {
                          "enum": [
                            "Y",
                            "N",
                            ""
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "last_modified": {
                          "format": "datetime",
                          "type": "string",
                          "x-validation": true
                        },
                        "location": {
                          "properties": {
                            "address": {
                              "nullable": true,
                              "type": "string"
                            },
                            "city": {
                              "nullable": true,
                              "type": "string"
                            },
                            "lat": {
                              "nullable": true,
                              "type": "string"
                            },
                            "lon": {
                              "nullable": true,
                              "type": "string"
                            },
                            "state": {
                              "nullable": true,
                              "type": "string"
                            },
                            "zip": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "name": {
                          "properties": {
                            "first": {
                              "nullable": true,
                              "type": "string"
                            },
                            "last": {
                              "nullable": true,
                              "type": "string"
                            },
                            "middle": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "race": {
                          "enum": [
                            "Caucasian",
                            "Asian",
                            "Black or African American",
                            "American Indian",
                            "Hawaiian or Other Pacific Islander",
                            "Two or More Races",
                            "Unknown",
                            ""
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "school": {
                          "type": "string",
                          "x-validation": true
                        },
                        "schools": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array",
                          "x-validation": true
                        },
                        "sis_id": {
                          "type": "string"
                        },
                        "state_id": {
                          "nullable": true,
                          "type": "string"
                        },
                        "student_number": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Returns a list of district admins",
        "operationId": "getdistrictadmins",
        "parameters": [
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "show_links",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "district": {
                            "type": "string",
                            "x-validation": true
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "x-validation": true
                          },
                          "name": {
                            "properties": {
                              "first": {
                                "nullable": true,
                                "type": "string"
                              },
                              "last": {
                                "nullable": true,
                                "type": "string"
                              },
                              "middle": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "District Admins"
        ]
      }
    },
    "/district-admins/paymentid": {
      "get": {
        "description": "Returns a specific district admin",
        "operationId": "getdistrictadmin",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "district": {
                          "type": "string",
                          "x-validation": true
                        },
                        "email": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "name": {
                          "properties": {
                            "first": {
                              "nullable": true,
                              "type": "string"
                            },
                            "last": {
                              "nullable": true,
                              "type": "string"
                            },
                            "middle": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "title": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "District Admins"
        ]
      }
    },
    "/inventory/{id}": {
      "get": {
        "description": "Returns a list of teachers",
        "operationId": "getteachers-v2",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "credentials": {
                                "properties": {
                                  "district_username": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "email": {
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "name": {
                                "properties": {
                                  "first": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "last": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "middle": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "school": {
                                "type": "string",
                                "x-validation": true
                              },
                              "schools": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array",
                                "x-validation": true
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "state_id": {
                                "nullable": true,
                                "type": "string"
                              },
                              "teacher_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "title": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Teachers"
        ]
      }
    },
    "/districts/userid": {
      "get": {
        "description": "Returns a specific district",
        "operationId": "getdistrict-v2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "mdr_number": {
                          "nullable": true,
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Districts"
        ]
      }
    },
    "/districts/paymentid/admins": {
      "get": {
        "description": "Returns the admins for a district",
        "operationId": "getadminsfordistrict",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "district": {
                            "type": "string",
                            "x-validation": true
                          },
                          "email": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string",
                            "x-validation": true
                          },
                          "name": {
                            "properties": {
                              "first": {
                                "nullable": true,
                                "type": "string"
                              },
                              "last": {
                                "nullable": true,
                                "type": "string"
                              },
                              "middle": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Districts"
        ]
      }
    },
    "/districts/orderid/schools": {
      "get": {
        "description": "Returns the schools for a district",
        "operationId": "getschoolsfordistrict",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "high_grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "location": {
                                "properties": {
                                  "address": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "city": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lat": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lon": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "state": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "zip": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "low_grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "mdr_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nces_id": {
                                "nullable": true,
                                "type": "string"
                              },
                              "phone": {
                                "nullable": true,
                                "type": "string"
                              },
                              "principal": {
                                "properties": {
                                  "email": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "name": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "school_number": {
                                "type": "string"
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "state_id": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Districts"
        ]
      }
    },
    "/districts/orderid/sections": {
      "get": {
        "description": "Returns the sections for a district",
        "operationId": "getsectionsfordistrict",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "course_description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "course_name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "course_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "period": {
                                "nullable": true,
                                "type": "string"
                              },
                              "school": {
                                "type": "string",
                                "x-validation": true
                              },
                              "section_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "students": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array",
                                "x-validation": true
                              },
                              "subject": {
                                "enum": [
                                  "english/language arts",
                                  "math",
                                  "science",
                                  "social studies",
                                  "language",
                                  "homeroom/advisory",
                                  "interventions/online learning",
                                  "technology and engineering",
                                  "PE and health",
                                  "arts and music",
                                  "other"
                                ],
                                "type": "string",
                                "x-validation": true
                              },
                              "teacher": {
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "teachers": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array",
                                "x-validation": true
                              },
                              "term": {
                                "properties": {
                                  "end_date": {
                                    "format": "datetime",
                                    "nullable": true,
                                    "type": "string",
                                    "x-validation": true
                                  },
                                  "name": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "start_date": {
                                    "format": "datetime",
                                    "nullable": true,
                                    "type": "string",
                                    "x-validation": true
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Districts"
        ]
      }
    },
    "/districts/orderid/status": {
      "get": {
        "description": "Returns the status of the district",
        "operationId": "getdistrictstatus-v2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "error": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "instant_login": {
                                "type": "boolean"
                              },
                              "last_sync": {
                                "format": "datetime",
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "launch_date": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "pause_end": {
                                "format": "datetime",
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "pause_start": {
                                "format": "datetime",
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "sis_type": {
                                "type": "string",
                                "x-validation": true
                              },
                              "state": {
                                "enum": [
                                  "running",
                                  "pending",
                                  "error",
                                  "paused"
                                ],
                                "type": "string",
                                "x-validation": true
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Districts"
        ]
      }
    },
    "/districts/userid/students": {
      "get": {
        "description": "Returns the students for a district",
        "operationId": "getstudentsfordistrict-v2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "credentials": {
                                "properties": {
                                  "district_username": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "dob": {
                                "nullable": true,
                                "pattern": "(?:[0-9]{1,2})/([0-9]{1,2})/([0-9]{4})",
                                "type": "string",
                                "x-validation": true
                              },
                              "ell_status": {
                                "enum": [
                                  "Y",
                                  "N",
                                  ""
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "email": {
                                "nullable": true,
                                "type": "string"
                              },
                              "gender": {
                                "enum": [
                                  "M",
                                  "F",
                                  ""
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "graduation_year": {
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "hispanic_ethnicity": {
                                "enum": [
                                  "Y",
                                  "N",
                                  ""
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "location": {
                                "properties": {
                                  "address": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "city": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lat": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lon": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "state": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "zip": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "name": {
                                "properties": {
                                  "first": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "last": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "middle": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "race": {
                                "enum": [
                                  "Caucasian",
                                  "Asian",
                                  "Black or African American",
                                  "American Indian",
                                  "Hawaiian or Other Pacific Islander",
                                  "Two or More Races",
                                  "Unknown",
                                  ""
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "school": {
                                "type": "string",
                                "x-validation": true
                              },
                              "schools": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array",
                                "x-validation": true
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "state_id": {
                                "nullable": true,
                                "type": "string"
                              },
                              "student_number": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Districts"
        ]
      }
    },
    "/districts/paymentid/teachers": {
      "get": {
        "description": "Returns the teachers for a district",
        "operationId": "getteachersfordistrict",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "credentials": {
                                "properties": {
                                  "district_username": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "email": {
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "name": {
                                "properties": {
                                  "first": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "last": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "middle": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "school": {
                                "type": "string",
                                "x-validation": true
                              },
                              "schools": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array",
                                "x-validation": true
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "state_id": {
                                "nullable": true,
                                "type": "string"
                              },
                              "teacher_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "title": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Districts"
        ]
      }
    },
    "/transactions/{id}": {
      "get": {
        "description": "Returns a list of schools",
        "operationId": "getschools",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "high_grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "location": {
                                "properties": {
                                  "address": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "city": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lat": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lon": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "state": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "zip": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "low_grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "mdr_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nces_id": {
                                "nullable": true,
                                "type": "string"
                              },
                              "phone": {
                                "nullable": true,
                                "type": "string"
                              },
                              "principal": {
                                "properties": {
                                  "email": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "name": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "school_number": {
                                "type": "string"
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "state_id": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          }
        },
        "tags": [
          "Schools"
        ]
      }
    },
    "/school-admins/paymentid": {
      "get": {
        "description": "Returns a specific school admin",
        "operationId": "getschooladmin",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "credentials": {
                          "properties": {
                            "district_username": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "district": {
                          "type": "string",
                          "x-validation": true
                        },
                        "email": {
                          "type": "string"
                        },
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "name": {
                          "properties": {
                            "first": {
                              "nullable": true,
                              "type": "string"
                            },
                            "last": {
                              "nullable": true,
                              "type": "string"
                            },
                            "middle": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "schools": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array",
                          "x-validation": true
                        },
                        "staff_id": {
                          "type": "string"
                        },
                        "title": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "School Admins"
        ]
      }
    },
    "/school-admins/sku/schools": {
      "get": {
        "description": "Returns the schools for a school admin",
        "operationId": "getschoolsforschooladmin-v2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "high_grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "location": {
                                "properties": {
                                  "address": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "city": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lat": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "lon": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "state": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "zip": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "low_grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "mdr_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "nces_id": {
                                "nullable": true,
                                "type": "string"
                              },
                              "phone": {
                                "nullable": true,
                                "type": "string"
                              },
                              "principal": {
                                "properties": {
                                  "email": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "name": {
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "school_number": {
                                "type": "string"
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "state_id": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "School Admins"
        ]
      }
    },
    "/schools/paymentid": {
      "get": {
        "description": "Returns a specific school",
        "operationId": "getschool",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "created": {
                          "format": "datetime",
                          "type": "string",
                          "x-validation": true
                        },
                        "district": {
                          "type": "string",
                          "x-validation": true
                        },
                        "high_grade": {
                          "enum": [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                            "10",
                            "11",
                            "12",
                            "PreKindergarten",
                            "Kindergarten",
                            "PostGraduate",
                            "Other"
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "last_modified": {
                          "format": "datetime",
                          "type": "string",
                          "x-validation": true
                        },
                        "location": {
                          "properties": {
                            "address": {
                              "nullable": true,
                              "type": "string"
                            },
                            "city": {
                              "nullable": true,
                              "type": "string"
                            },
                            "lat": {
                              "nullable": true,
                              "type": "string"
                            },
                            "lon": {
                              "nullable": true,
                              "type": "string"
                            },
                            "state": {
                              "nullable": true,
                              "type": "string"
                            },
                            "zip": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "low_grade": {
                          "enum": [
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                            "10",
                            "11",
                            "12",
                            "PreKindergarten",
                            "Kindergarten",
                            "PostGraduate",
                            "Other"
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-validation": true
                        },
                        "mdr_number": {
                          "nullable": true,
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "nces_id": {
                          "nullable": true,
                          "type": "string"
                        },
                        "phone": {
                          "nullable": true,
                          "type": "string"
                        },
                        "principal": {
                          "properties": {
                            "email": {
                              "nullable": true,
                              "type": "string"
                            },
                            "name": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "school_number": {
                          "type": "string"
                        },
                        "sis_id": {
                          "type": "string"
                        },
                        "state_id": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Schools"
        ]
      }
    },
    "/schools/userid/district": {
      "get": {
        "description": "Returns the district for a school",
        "operationId": "getdistrictforschool",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-validation": true
                        },
                        "mdr_number": {
                          "nullable": true,
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Entity Not Found"
          }
        },
        "tags": [
          "Schools"
        ]
      }
    },
    "/schools/userid/sections": {
      "get": {
        "description": "Returns the sections for a school",
        "operationId": "getsectionsforschool-v2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "starting_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ending_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "data": {
                            "properties": {
                              "course_description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "course_name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "course_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "created": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "district": {
                                "type": "string",
                                "x-validation": true
                              },
                              "grade": {
                                "enum": [
                                  "1",
                                  "2",
                                  "3",
                                  "4",
                                  "5",
                                  "6",
                                  "7",
                                  "8",
                                  "9",
                                  "10",
                                  "11",
                                  "12",
                                  "PreKindergarten",
                                  "Kindergarten",
                                  "PostGraduate",
                                  "Other"
                                ],
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "id": {
                                "type": "string",
                                "x-validation": true
                              },
                              "last_modified": {
                                "format": "datetime",
                                "type": "string",
                                "x-validation": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "period": {
                                "nullable": true,
                                "type": "string"
                              },
                              "school": {
                                "type": "string",
                                "x-validation": true
                              },
                              "section_number": {
                                "nullable": true,
                                "type": "string"
                              },
                              "sis_id": {
                                "type": "string"
                              },
                              "students": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array",
                                "x-validation": true
                              },
                              "subject": {
                                "enum": [
                                  "english/language arts",
                                  "math",
                                  "science",
                                  "social studies",
                                  "language",
                                  "homeroom/advisory",
                                  "interventions/online learning",
                                  "technology and engineering",
                                  "PE and health",
                                  "arts and music",
                                  "other"
                                ],
                                "type": "string",
                                "x-validation": true
                              },
                              "teacher": {
                                "nullable": true,
                                "type": "string",
                                "x-validation": true
                              },
                              "teachers": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array",
                                "x-validation": true
                              },
                              "term": {
                                "properties": {
                                  "end_date": {
                                    "format": "datetime",
                                    "nullable": true,
                                    "type": "string",
                                    "x-validation": true
                                  },
                                  "name": {
                                    "nullable": true,
                                    "type": "string"
                                  },
                                  "start_date": {
[...]
