{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://www.hackathonwatch.com/api/"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "Hackathonwatch"
    },
    "title": "HackathonWatch",
    "version": "0.1",
    "x-apisguru-categories": [
      "social"
    ],
    "x-logo": {
      "url": "https://twitter.com/Hackathonwatch/profile_image?size=original"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "swagger",
        "url": "http://www.hackathonwatch.com/api/swagger_doc",
        "version": "1.2"
      }
    ],
    "x-providerName": "hackathonwatch.com"
  },
  "tags": [
    {
      "description": "Operations about hackathons",
      "name": "hackathons"
    },
    {
      "description": "Operations about swagger_docs",
      "name": "swagger_doc"
    }
  ],
  "paths": {
    "/hackathons/coming-json": {
      "get": {
        "operationId": "get-hackathons-coming-format-v2",
        "parameters": [
          {
            "description": "Specify the page of coming hackathons.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return a list of coming hackathons",
        "tags": [
          "hackathons"
        ]
      }
    },
    "/hackathons/orderid-json": {
      "get": {
        "operationId": "get-hackathons-id-format",
        "parameters": [
          {
            "description": "ID of the hackathon for detail information",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Return the detail of a given hackathon",
        "tags": [
          "hackathons"
        ]
      }
    },
    "/inventory/{id}": {
      "get": {
        "operationId": "get-swagger-doc-format",
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Swagger compatible API description",
        "tags": [
          "swagger_doc"
        ]
      }
    },
    "/swagger-doc/sku-json": {
      "get": {
        "operationId": "get-swagger-doc-name-format-v2",
        "parameters": [
          {
            "description": "Resource name of mounted API",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified"
          }
        },
        "summary": "Swagger compatible API description for specific API",
        "tags": [
          "swagger_doc"
        ]
      }
    }
  }
}