{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/nba/news-rotoballer"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/nba/news-rotoballer"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "NBA v3 RotoBaller Premium News",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/nfldata/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nba-v3-rotoballer-premium-news.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nba-v3-rotoballer-premium-news"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/userid/rotoballerpremiumnews": {
      "get": {
        "operationId": "premiumnews",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Author": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Categories": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Content": {
                        "nullable": true,
                        "type": "string"
                      },
                      "NewsID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "OriginalSource": {
                        "nullable": true,
                        "type": "string"
                      },
                      "OriginalSourceUrl": {
                        "nullable": true,
                        "type": "string"
                      },
                      "PlayerID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "PlayerID2": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "Source": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Team": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Team2": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TeamID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "TeamID2": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "TermsOfUse": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TimeAgo": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Title": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Url": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Premium News"
      }
    },
    "/paymentid/rotoballerpremiumnewsbydate/sku": {
      "get": {
        "operationId": "premiumnewsbydate-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Author": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Categories": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Content": {
                        "nullable": true,
                        "type": "string"
                      },
                      "NewsID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "OriginalSource": {
                        "nullable": true,
                        "type": "string"
                      },
                      "OriginalSourceUrl": {
                        "nullable": true,
                        "type": "string"
                      },
                      "PlayerID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "PlayerID2": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "Source": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Team": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Team2": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TeamID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "TeamID2": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "TermsOfUse": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TimeAgo": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Title": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Url": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Premium News by Date"
      }
    },
    "/userid/rotoballerpremiumnewsbyplayerid/userid": {
      "get": {
        "operationId": "premiumnewsbyplayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "Author": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Categories": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Content": {
                        "nullable": true,
                        "type": "string"
                      },
                      "NewsID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "OriginalSource": {
                        "nullable": true,
                        "type": "string"
                      },
                      "OriginalSourceUrl": {
                        "nullable": true,
                        "type": "string"
                      },
                      "PlayerID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "PlayerID2": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "Source": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Team": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Team2": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TeamID": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "TeamID2": {
                        "nullable": true,
                        "type": "integer"
                      },
                      "TermsOfUse": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TimeAgo": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Title": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Url": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Premium News by Player"
      }
    }
  },
  "components": {
    "schemas": {
      "News": {
        "properties": {
          "Author": {
            "nullable": true,
            "type": "string"
          },
          "Categories": {
            "nullable": true,
            "type": "string"
          },
          "Content": {
            "nullable": true,
            "type": "string"
          },
          "NewsID": {
            "nullable": false,
            "type": "integer"
          },
          "OriginalSource": {
            "nullable": true,
            "type": "string"
          },
          "OriginalSourceUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerID2": {
            "nullable": true,
            "type": "integer"
          },
          "Source": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "Team2": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "TeamID2": {
            "nullable": true,
            "type": "integer"
          },
          "TermsOfUse": {
            "nullable": true,
            "type": "string"
          },
          "TimeAgo": {
            "nullable": true,
            "type": "string"
          },
          "Title": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Url": {
            "nullable": true,
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}