{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://sandbox-api.onsched.com/"
    }
  ],
  "info": {
    "description": "Build secure and scalable custom apps for onboarding and setup. Our flexible API provides many options for configuration.\r\n<br><br>\r\nTake the API for a test drive. Just click on the Authorize button below and authenticate. \r\nYou can access our demo company profile if you are not a customer, or your own profile by using your assigned ClientId and Secret.\r\n<br><br>\r\nThe API has two interfaces, consumer and setup. \r\n<ul>\r\n<li>\r\nThe consumer interface provides all the endpoints required for implementing consumer booking flows.\r\n</li>\r\n<li>\r\nThe setup interface provides endpoints for profile configuration and setup.\r\n</li>\r\n</ul>\r\nToggle freely between the two interfaces using the swagger tool bar option labelled 'Select a definition'.\r\n",
    "title": "OnSched Setup API",
    "version": "v1",
    "x-apisguru-categories": [
      "collaboration"
    ],
    "x-logo": {
      "url": "https://onsched.com/img/apple-touch-icon-57x57-precomposed.ico"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://sandbox-api.onsched.com/swagger/setup/swagger.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "onsched.com",
    "x-serviceName": "setup"
  },
  "security": [
    {
      "oauth2": [
        "OnSchedApi"
      ]
    }
  ],
  "paths": {
    "/setup/v1/appointments": {
      "get": {
        "description": "<p>Use this endpoint to return a <b>List of Appointments</b>. Use the offset and limit parameters to control the page start and number of results. Default offset is 0, limit is 20, max is 100. Use the query parameters to filter the results further. For more information: <a href=\"https://onsched.readme.io/docs/appointments-overview\">Appointments Overview</a></p>",
        "parameters": [
          {
            "description": "id of business location, defaults to primary business location",
            "in": "query",
            "name": "locationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by email address",
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by lastname or part of",
            "in": "query",
            "name": "lastname",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by service",
            "in": "query",
            "name": "serviceId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by calendar",
            "in": "query",
            "name": "calendarId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by resource",
            "in": "query",
            "name": "resourceId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by customer",
            "in": "query",
            "name": "customerId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by service allocation",
            "in": "query",
            "name": "serviceAllocationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Format YYYY-MM-DD: Filter appointments by on/after startDate",
            "in": "query",
            "name": "startDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Format YYYY-MM-DD: Filter appointments on/before endDate",
            "in": "query",
            "name": "endDate",
            "schema": {
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by status: IN, BK, CN, RE, RS",
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments by user email who booked",
            "in": "query",
            "name": "bookedBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Starting row of page, default 0",
            "in": "query",
            "name": "offset",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page limit default 20, max 100",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "count": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "data": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "auditTrail": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "appointmentId": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "id": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "modificationType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "modifiedBy": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "modifiedOn": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "notesAfter": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "notesBefore": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "statusAfter": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "statusBefore": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "bookedBy": {
                            "nullable": true,
                            "type": "string"
                          },
                          "businessName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "calendarId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "confirmationNumber": {
                            "nullable": true,
                            "type": "string"
                          },
                          "confirmed": {
                            "type": "boolean"
                          },
                          "createDate": {
                            "nullable": true,
                            "type": "string"
                          },
                          "customFields": {
                            "additionalProperties": {
                              "additionalProperties": false,
                              "properties": {
                                "name": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "value": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "object"
                          },
                          "customerId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "customerMessage": {
                            "nullable": true,
                            "type": "string"
                          },
                          "customers": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "appointmentId": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "customerId": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "date": {
                            "nullable": true,
                            "type": "string"
                          },
                          "dateInternational": {
                            "nullable": true,
                            "type": "string"
                          },
                          "downloadIcsUrl": {
                            "nullable": true,
                            "type": "string"
                          },
                          "duration": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "email": {
                            "nullable": true,
                            "type": "string"
                          },
                          "emailConfirmationSent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "emailReminderSent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "endDateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "firstname": {
                            "nullable": true,
                            "type": "string"
                          },
                          "groupSize": {
                            "format": "int32",
                            "nullable": true,
                            "type": "integer"
                          },
                          "id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "ipAddress": {
                            "nullable": true,
                            "type": "string"
                          },
                          "lastModifiedBy": {
                            "nullable": true,
                            "type": "string"
                          },
                          "lastModifiedOn": {
                            "nullable": true,
                            "type": "string"
                          },
                          "lastname": {
                            "nullable": true,
                            "type": "string"
                          },
                          "latitude": {
                            "nullable": true,
                            "type": "string"
                          },
                          "location": {
                            "nullable": true,
                            "type": "string"
                          },
                          "locationId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "longitude": {
                            "nullable": true,
                            "type": "string"
                          },
                          "name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "notes": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          },
                          "onlineBooking": {
                            "nullable": true,
                            "type": "boolean"
                          },
                          "paymentStatus": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "phone": {
                            "nullable": true,
                            "type": "string"
                          },
                          "phoneExt": {
                            "nullable": true,
                            "type": "string"
                          },
                          "phoneType": {
                            "nullable": true,
                            "type": "string"
                          },
                          "rescheduledId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceEmail": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceGroupId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceGroupName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceImageUrl": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resources": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "appointmentId": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "resourceEmail": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "resourceGroupId": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "resourceId": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "resourceImageUrl": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "resourceName": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "serviceAllocationId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "serviceId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "serviceImageUrl": {
                            "nullable": true,
                            "type": "string"
                          },
                          "serviceName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "smsConfirmationSent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "smsReminderSent": {
                            "nullable": true,
                            "type": "string"
                          },
                          "startDateTime": {
                            "nullable": true,
                            "type": "string"
                          },
                          "status": {
                            "nullable": true,
                            "type": "string"
                          },
                          "stripeChargeId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "stripeRefundId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "time": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "timezone": {
                            "format": "int32",
                            "nullable": true,
                            "type": "integer"
                          },
                          "timezoneIana": {
                            "nullable": true,
                            "type": "string"
                          },
                          "timezoneId": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "total": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "url": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "List Appointments",
        "tags": [
          "Appointments"
        ],
        "operationId": "list-appointments"
      }
    },
    "/setup/v1/appointments/userid": {
      "get": {
        "description": "<p>Use this endpoint to return an <b>Appointment</b> object. A valid <b>appointment id</b> is required. Find appointment id's by using the <i>GET​/setup​/v1​/appointments</i> endpoint.</p>",
        "parameters": [
          {
            "description": "id of appointment object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "auditTrail": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "appointmentId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "modificationType": {
                            "nullable": true,
                            "type": "string"
                          },
                          "modifiedBy": {
                            "nullable": true,
                            "type": "string"
                          },
                          "modifiedOn": {
                            "nullable": true,
                            "type": "string"
                          },
                          "notesAfter": {
                            "nullable": true,
                            "type": "string"
                          },
                          "notesBefore": {
                            "nullable": true,
                            "type": "string"
                          },
                          "statusAfter": {
                            "nullable": true,
                            "type": "string"
                          },
                          "statusBefore": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "bookedBy": {
                      "nullable": true,
                      "type": "string"
                    },
                    "businessName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "calendarId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "confirmationNumber": {
                      "nullable": true,
                      "type": "string"
                    },
                    "confirmed": {
                      "type": "boolean"
                    },
                    "createDate": {
                      "nullable": true,
                      "type": "string"
                    },
                    "customFields": {
                      "additionalProperties": {
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "value": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "object"
                    },
                    "customerId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "customerMessage": {
                      "nullable": true,
                      "type": "string"
                    },
                    "customers": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "appointmentId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "customerId": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "date": {
                      "nullable": true,
                      "type": "string"
                    },
                    "dateInternational": {
                      "nullable": true,
                      "type": "string"
                    },
                    "downloadIcsUrl": {
                      "nullable": true,
                      "type": "string"
                    },
                    "duration": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "email": {
                      "nullable": true,
                      "type": "string"
                    },
                    "emailConfirmationSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "emailReminderSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "endDateTime": {
                      "nullable": true,
                      "type": "string"
                    },
                    "firstname": {
                      "nullable": true,
                      "type": "string"
                    },
                    "groupSize": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "id": {
                      "nullable": true,
                      "type": "string"
                    },
                    "ipAddress": {
                      "nullable": true,
                      "type": "string"
                    },
                    "lastModifiedBy": {
                      "nullable": true,
                      "type": "string"
                    },
                    "lastModifiedOn": {
                      "nullable": true,
                      "type": "string"
                    },
                    "lastname": {
                      "nullable": true,
                      "type": "string"
                    },
                    "latitude": {
                      "nullable": true,
                      "type": "string"
                    },
                    "location": {
                      "nullable": true,
                      "type": "string"
                    },
                    "locationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "longitude": {
                      "nullable": true,
                      "type": "string"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string"
                    },
                    "notes": {
                      "nullable": true,
                      "type": "string"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "onlineBooking": {
                      "nullable": true,
                      "type": "boolean"
                    },
                    "paymentStatus": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "phone": {
                      "nullable": true,
                      "type": "string"
                    },
                    "phoneExt": {
                      "nullable": true,
                      "type": "string"
                    },
                    "phoneType": {
                      "nullable": true,
                      "type": "string"
                    },
                    "rescheduledId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceEmail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceGroupId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceGroupName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceImageUrl": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resources": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "appointmentId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceEmail": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceGroupId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceImageUrl": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceName": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "serviceAllocationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "serviceId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "serviceImageUrl": {
                      "nullable": true,
                      "type": "string"
                    },
                    "serviceName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "smsConfirmationSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "smsReminderSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "startDateTime": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "nullable": true,
                      "type": "string"
                    },
                    "stripeChargeId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "stripeRefundId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "time": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "timezone": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "timezoneIana": {
                      "nullable": true,
                      "type": "string"
                    },
                    "timezoneId": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get Appointment",
        "tags": [
          "Appointments"
        ],
        "operationId": "get-appointment-v2"
      }
    },
    "/setup/v1/appointments/orderid/reassign/resource/paymentid": {
      "put": {
        "description": "<p>Use this endpoint to <b>Reassign</b> an appointment from one resource to another. The result returned is a single appointment that was reassigned to the target resource. A valid <b>appointment id</b> and <b>resource id</b> is required. Find appointment id's by using the <i>GET /setup/v1/appointments</i> endpoint, find resource id's by using the <i>GET ​/setup​/v1​/resources</i> endpoint.</p>",
        "parameters": [
          {
            "description": "id of appointment object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of target resource",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "auditTrail": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "appointmentId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "modificationType": {
                            "nullable": true,
                            "type": "string"
                          },
                          "modifiedBy": {
                            "nullable": true,
                            "type": "string"
                          },
                          "modifiedOn": {
                            "nullable": true,
                            "type": "string"
                          },
                          "notesAfter": {
                            "nullable": true,
                            "type": "string"
                          },
                          "notesBefore": {
                            "nullable": true,
                            "type": "string"
                          },
                          "statusAfter": {
                            "nullable": true,
                            "type": "string"
                          },
                          "statusBefore": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "bookedBy": {
                      "nullable": true,
                      "type": "string"
                    },
                    "businessName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "calendarId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "confirmationNumber": {
                      "nullable": true,
                      "type": "string"
                    },
                    "confirmed": {
                      "type": "boolean"
                    },
                    "createDate": {
                      "nullable": true,
                      "type": "string"
                    },
                    "customFields": {
                      "additionalProperties": {
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "value": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "object"
                    },
                    "customerId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "customerMessage": {
                      "nullable": true,
                      "type": "string"
                    },
                    "customers": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "appointmentId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "customerId": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "date": {
                      "nullable": true,
                      "type": "string"
                    },
                    "dateInternational": {
                      "nullable": true,
                      "type": "string"
                    },
                    "downloadIcsUrl": {
                      "nullable": true,
                      "type": "string"
                    },
                    "duration": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "email": {
                      "nullable": true,
                      "type": "string"
                    },
                    "emailConfirmationSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "emailReminderSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "endDateTime": {
                      "nullable": true,
                      "type": "string"
                    },
                    "firstname": {
                      "nullable": true,
                      "type": "string"
                    },
                    "groupSize": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "id": {
                      "nullable": true,
                      "type": "string"
                    },
                    "ipAddress": {
                      "nullable": true,
                      "type": "string"
                    },
                    "lastModifiedBy": {
                      "nullable": true,
                      "type": "string"
                    },
                    "lastModifiedOn": {
                      "nullable": true,
                      "type": "string"
                    },
                    "lastname": {
                      "nullable": true,
                      "type": "string"
                    },
                    "latitude": {
                      "nullable": true,
                      "type": "string"
                    },
                    "location": {
                      "nullable": true,
                      "type": "string"
                    },
                    "locationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "longitude": {
                      "nullable": true,
                      "type": "string"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string"
                    },
                    "notes": {
                      "nullable": true,
                      "type": "string"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "onlineBooking": {
                      "nullable": true,
                      "type": "boolean"
                    },
                    "paymentStatus": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "phone": {
                      "nullable": true,
                      "type": "string"
                    },
                    "phoneExt": {
                      "nullable": true,
                      "type": "string"
                    },
                    "phoneType": {
                      "nullable": true,
                      "type": "string"
                    },
                    "rescheduledId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceEmail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceGroupId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceGroupName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceImageUrl": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resources": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "appointmentId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceEmail": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceGroupId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceImageUrl": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceName": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "serviceAllocationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "serviceId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "serviceImageUrl": {
                      "nullable": true,
                      "type": "string"
                    },
                    "serviceName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "smsConfirmationSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "smsReminderSent": {
                      "nullable": true,
                      "type": "string"
                    },
                    "startDateTime": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "nullable": true,
                      "type": "string"
                    },
                    "stripeChargeId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "stripeRefundId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "time": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "timezone": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "timezoneIana": {
                      "nullable": true,
                      "type": "string"
                    },
                    "timezoneId": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Reassign Appointment",
        "tags": [
          "Appointments"
        ],
        "operationId": "reassign-appointment-v2"
      }
    },
    "/setup/v1/businessusers": {
      "get": {
        "description": "<p>Use this endpoint to return a <b>List of Business Users and their Roles</b>. The results are returned in pages. Use the offset and limit parameters to control the page start and number of results. Default offset is 0, limit is 20, max is 100. Use the query parameters to filter the results further.</p>",
        "parameters": [
          {
            "description": "id of business location, defaults to primary business location",
            "in": "query",
            "name": "locationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by email address",
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter user role",
            "in": "query",
            "name": "role",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Starting row of page, default 0",
            "in": "query",
            "name": "offset",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page limit default 20, max 100",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "count": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "data": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "accountId": {
                            "format": "uuid",
                            "nullable": true,
                            "type": "string"
                          },
                          "businessName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "email": {
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "identityAccount": {
                            "type": "boolean"
                          },
                          "locationId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          },
                          "permissions": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "access": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "function": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "object": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "resourceId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "resourceName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "role": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "total": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "url": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "List Users",
        "tags": [
          "BusinessUsers"
        ],
        "operationId": "list-users"
      },
      "post": {
        "description": "<p>Use this endpoint to <b>Create</b> a Business User. If not specified, the business location defaults to the primary business location. </p>\r\n<p>Required fields: <b>Name</b>, <b>Email</b> and <b>Role</b><b>Note:</b> If the businessUser is a bookable resource (bizresource) then a resourceId is required.</p>\r\n<p>For role, use one of the values listed. <b>Business Roles Include: bizowner</b> (Business Owner), <b>bizadmin</b> (Business Administrator), <b>bizresource</b> (Business User - Bookable Resource).</p>\r\n<p>The <b>sendRegistrationInvite</b> parameter is available to API consumers for their own use. It provides no added functionality in OnSched.</p>",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "locationId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "locationId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "locationId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "locationId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "accountId": {
                      "format": "uuid",
                      "nullable": true,
                      "type": "string"
                    },
                    "businessName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "email": {
                      "nullable": true,
                      "type": "string"
                    },
                    "id": {
                      "nullable": true,
                      "type": "string"
                    },
                    "identityAccount": {
                      "type": "boolean"
                    },
                    "locationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "permissions": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "access": {
                            "nullable": true,
                            "type": "string"
                          },
                          "function": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "resourceId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "role": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Create User",
        "tags": [
          "BusinessUsers"
        ],
        "operationId": "create-user-v2"
      }
    },
    "/setup/v1/businessusers/permissions": {
      "get": {
        "description": "<p>Use this endpoint to return a <b>List of Business User Permissions by Role</b>. Results are returned in pages. Use the offset and limit parameters to control the page start and number of results. Default offset is 0, limit is 20, max is 100. Use the query parameters to filter the results further.</p>",
        "parameters": [
          {
            "description": "Filter permissions by role",
            "in": "query",
            "name": "role",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Starting row of page, default 0",
            "in": "query",
            "name": "offset",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page limit default 20, max 100",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "count": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "data": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "access": {
                            "nullable": true,
                            "type": "string"
                          },
                          "function": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          },
                          "role": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "total": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "url": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "List User Permissions",
        "tags": [
          "BusinessUsers"
        ],
        "operationId": "list-user-permissions-v2"
      }
    },
    "/setup/v1/businessusers/id/companies": {
      "get": {
        "description": "<p>Use this endpoint to return a <b>List of Companies</b> associated with the business users email requested. A business user <b>email</b> address is required. Use the offset and limit parameters to control the page start and number of results. Default offset is 0, limit is 20, max is 100. Use the query parameters to filter the results further.</p>",
        "parameters": [
          {
            "description": "Email of business user",
            "in": "path",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "All or partial company name",
            "in": "query",
            "name": "searchText",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Starting row of page, default 0",
            "in": "query",
            "name": "offset",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page limit default 20, max 100",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "count": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "data": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "email": {
                      "nullable": true,
                      "type": "string"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "total": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "url": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "List User Companies",
        "tags": [
          "BusinessUsers"
        ],
        "operationId": "list-user-companies"
      }
    },
    "/setup/v1/businessusers/orderid": {
      "delete": {
        "description": "<p>Use this endpoint to permanently <b>Delete</b> a Business User. A valid <b>businessUser id</b> is required.</p>",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Delete User",
        "tags": [
          "BusinessUsers"
        ],
        "operationId": "delete-user"
      },
      "get": {
        "description": "<p>Use this endpoint to return a <b>Business User</b> object. A valid <b>businessUser id</b> is required. Find businessUser id's using the <i>GET /setup/v1/businessusers</i> endpoint.</p>",
        "parameters": [
          {
            "description": "id of businessUser object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "accountId": {
                      "format": "uuid",
                      "nullable": true,
                      "type": "string"
                    },
                    "businessName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "email": {
                      "nullable": true,
                      "type": "string"
                    },
                    "id": {
                      "nullable": true,
                      "type": "string"
                    },
                    "identityAccount": {
                      "type": "boolean"
                    },
                    "locationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "permissions": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "access": {
                            "nullable": true,
                            "type": "string"
                          },
                          "function": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "resourceId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "role": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Get User",
        "tags": [
          "BusinessUsers"
        ],
        "operationId": "get-user"
      },
      "put": {
        "description": "<p>Use this endpoint to <b>Update</b> a Business User. A valid <b>businessUser id</b> is required.</p>\r\n<p>\r\n  <b>Business Roles Include: bizowner</b> (Business Owner), <b>bizadmin</b> (Business Administrator), <b>bizresource</b> (Business User - Bookable Resource).</p>",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "role": {
                    "nullable": true,
                    "type": "string"
                  },
                  "sendRegistrationInvite": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "accountId": {
                      "format": "uuid",
                      "nullable": true,
                      "type": "string"
                    },
                    "businessName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "email": {
                      "nullable": true,
                      "type": "string"
                    },
                    "id": {
                      "nullable": true,
                      "type": "string"
                    },
                    "identityAccount": {
                      "type": "boolean"
                    },
                    "locationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "name": {
                      "nullable": true,
                      "type": "string"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "permissions": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "access": {
                            "nullable": true,
                            "type": "string"
                          },
                          "function": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "resourceId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "resourceName": {
                      "nullable": true,
                      "type": "string"
                    },
                    "role": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Update User",
        "tags": [
          "BusinessUsers"
        ],
        "operationId": "update-user-v2"
      }
    },
    "/setup/v1/calendars": {
      "get": {
        "description": "<p>Use this endpoint to return a <b>List of Calendars</b> from the requested location. If not specified, the business location defaults to the primary business location. </p>",
        "parameters": [
          {
            "description": "id of business location, defaults to primary business location",
            "in": "query",
            "name": "locationId",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by deleted status",
            "in": "query",
            "name": "deleted",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Starting row of page, default 0",
            "in": "query",
            "name": "offset",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "Page limit default 20, max 100",
            "in": "query",
            "name": "limit",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "count": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "data": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "availability": {
                            "additionalProperties": false,
                            "properties": {
                              "fri": {
                                "additionalProperties": false,
                                "properties": {
                                  "endTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "startTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "mon": {
                                "additionalProperties": false,
                                "properties": {
                                  "endTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "startTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "sat": {
                                "additionalProperties": false,
                                "properties": {
                                  "endTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "startTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "sun": {
                                "additionalProperties": false,
                                "properties": {
                                  "endTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "startTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "thu": {
                                "additionalProperties": false,
                                "properties": {
                                  "endTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "startTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "tue": {
                                "additionalProperties": false,
                                "properties": {
                                  "endTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "startTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "wed": {
                                "additionalProperties": false,
                                "properties": {
                                  "endTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  },
                                  "startTime": {
                                    "format": "int32",
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "bookingsPerSlot": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "deletedStatus": {
                            "type": "boolean"
                          },
                          "deletedTime": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "interval": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "locationId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "name": {
                            "nullable": true,
                            "type": "string"
                          },
                          "object": {
                            "nullable": true,
                            "type": "string"
                          },
                          "primary": {
                            "type": "boolean"
                          },
                          "resourceGroupId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "type": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "hasMore": {
                      "type": "boolean"
                    },
                    "object": {
                      "nullable": true,
                      "type": "string"
                    },
                    "total": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "url": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "List Calendars",
        "tags": [
          "Calendars"
        ],
        "operationId": "list-calendars"
      },
      "post": {
        "description": "<p>\r\n  <b>DEPRECATING:</b> Create Calendar</p>\r\n<p>We are no longer supporting Multiple Calendar Functionality as it is part of our Legacy Application and has no relevance in the API.</p>",
        "requestBody": {
          "content": {
            "application/*+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "availability": {
                    "additionalProperties": false,
                    "properties": {
                      "fri": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "mon": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "sat": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "sun": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "thu": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "tue": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "wed": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "bookingsPerSlot": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "interval": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "locationId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceGroupId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "type": {
                    "nullable": true,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "availability": {
                    "additionalProperties": false,
                    "properties": {
                      "fri": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "mon": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "sat": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "sun": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "thu": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "tue": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "wed": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "bookingsPerSlot": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "interval": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "locationId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "nullable": true,
                    "type": "string"
                  },
                  "resourceGroupId": {
                    "nullable": true,
                    "type": "string"
                  },
                  "type": {
                    "nullable": true,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/json-patch+json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "availability": {
                    "additionalProperties": false,
                    "properties": {
                      "fri": {
                        "additionalProperties": false,
                        "properties": {
                          "endTime": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "startTime": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "mon": {
                        "additionalProperties": false,
[...]
