{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Xero Payroll AU API",
      "url": "https://api.xero.com/payroll.xro/1.0"
    }
  ],
  "info": {
    "contact": {
      "email": "api@xero.com",
      "name": "Xero Platform Team",
      "url": "https://developer.xero.com",
      "x-twitter": "XeroAPI"
    },
    "description": "This is the Xero Payroll API for orgs in Australia region.",
    "license": {
      "name": "MIT",
      "url": "https://github.com/XeroAPI/Xero-OpenAPI/blob/master/LICENSE"
    },
    "termsOfService": "https://developer.xero.com/xero-developer-platform-terms-conditions/",
    "title": "Xero Payroll AU API",
    "version": "2.9.4",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/XeroAPI/Xero-OpenAPI/master/xero-payroll-au.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "xero.com",
    "x-serviceName": "xero-payroll-au"
  },
  "tags": [
    {
      "description": "Operations available to regular developers",
      "name": "PayrollAu"
    }
  ],
  "paths": {
    "/carts/{id}": {
      "get": {
        "operationId": "getpayruns",
        "parameters": [
          {
            "description": "Only records created or modified since this timestamp will be returned",
            "in": "header",
            "name": "If-Modified-Since",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by an any element",
            "example": "Status==\"ACTIVE\"",
            "in": "query",
            "name": "where",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Order by an any element",
            "example": "EmailAddress%20DESC",
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "e.g. page=1 – Up to 100 PayRuns will be returned in a single API call",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": "{ \"Id\":\"31a0c577-5cb0-4c19-a1f5-9f4d6de951d4\", \"Status\":\"OK\", \"ProviderName\":\"java-sdk-oauth2-dev-02\", \"DateTimeUTC\":\"\\/Date(1573611063074)\\/\", \"PayRuns\":[ { \"PayRunID\":\"5de420bb-4ad2-405c-beb1-2610bcc2144e\", \"PayrollCalendarID\":\"78bb86b9-e1ea-47ac-b75d-f087a81931de\", \"PayRunPeriodStartDate\":\"\\/Date(1572566400000+0000)\\/\", \"PayRunPeriodEndDate\":\"\\/Date(1573084800000+0000)\\/\", \"PaymentDate\":\"\\/Date(1573171200000+0000)\\/\", \"Wages\":200.00, \"Deductions\":33.00, \"Tax\":78.00, \"Super\":0.00, \"Reimbursement\":22.00, \"NetPay\":89.00, \"PayRunStatus\":\"POSTED\", \"UpdatedDateUTC\":\"\\/Date(1573610970000+0000)\\/\" } ] }",
                "schema": {
                  "properties": {
                    "PayRuns": {
                      "items": {
                        "properties": {
                          "Deductions": {
                            "description": "The total Deductions for the Payrun",
                            "example": 0,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "NetPay": {
                            "description": "The total NetPay for the Payrun",
                            "example": 862.5,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "PayRunID": {
                            "description": "Xero identifier for pay run",
                            "example": "bba1d10f-63b1-4692-b5c5-a99f869523a4",
                            "format": "uuid",
                            "type": "string"
                          },
                          "PayRunPeriodEndDate": {
                            "description": "Period End Date for the PayRun (YYYY-MM-DD)",
                            "example": "/Date(322560000000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "PayRunPeriodStartDate": {
                            "description": "Period Start Date for the PayRun (YYYY-MM-DD)",
                            "example": "/Date(322560000000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "PayRunStatus": {
                            "enum": [
                              "DRAFT",
                              "POSTED"
                            ],
                            "type": "string"
                          },
                          "PaymentDate": {
                            "description": "Payment Date for the PayRun (YYYY-MM-DD)",
                            "example": "/Date(322560000000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "PayrollCalendarID": {
                            "description": "Xero identifier for pay run",
                            "example": "bfac31bd-ea62-4fc8-a5e7-7965d9504b15",
                            "format": "uuid",
                            "type": "string"
                          },
                          "PayslipMessage": {
                            "description": "Payslip message for the PayRun",
                            "example": "Thanks for being awesome",
                            "type": "string"
                          },
                          "Payslips": {
                            "description": "The payslips in the payrun",
                            "items": {
                              "properties": {
                                "Deductions": {
                                  "description": "The Deductions for the Payslip",
                                  "example": 0,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "EmployeeGroup": {
                                  "description": "Employee group name",
                                  "example": "Marketing",
                                  "type": "string"
                                },
                                "EmployeeID": {
                                  "description": "The Xero identifier for an employee",
                                  "example": "4729f087-8eec-49c1-8294-4d11a5a0a37c",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "FirstName": {
                                  "description": "First name of employee",
                                  "example": "Karen",
                                  "type": "string"
                                },
                                "LastName": {
                                  "description": "Last name of employee",
                                  "example": "Jones",
                                  "type": "string"
                                },
                                "NetPay": {
                                  "description": "The NetPay for the Payslip",
                                  "example": 862.5,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "PayslipID": {
                                  "description": "Xero identifier for the payslip",
                                  "example": "f3c0874d-7cdd-459a-a95c-d90d51decc42",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "Reimbursements": {
                                  "description": "The Reimbursements for the Payslip",
                                  "example": 0,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "Super": {
                                  "description": "The Super for the Payslip",
                                  "example": 75.6,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "Tax": {
                                  "description": "The Tax for the Payslip",
                                  "example": 198,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "UpdatedDateUTC": {
                                  "description": "Last modified timestamp",
                                  "example": "/Date(1583967733054+0000)/",
                                  "readOnly": true,
                                  "type": "string",
                                  "x-is-msdate-time": true
                                },
                                "Wages": {
                                  "description": "The Wages for the Payslip",
                                  "example": 1060.5,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "Reimbursement": {
                            "description": "The total Reimbursements for the Payrun",
                            "example": 0,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "Super": {
                            "description": "The total Super for the Payrun",
                            "example": 75.6,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "Tax": {
                            "description": "The total Tax for the Payrun",
                            "example": 198,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "UpdatedDateUTC": {
                            "description": "Last modified timestamp",
                            "example": "/Date(1583967733054+0000)/",
                            "readOnly": true,
                            "type": "string",
                            "x-is-msdate-time": true
                          },
                          "ValidationErrors": {
                            "description": "Displays array of validation error messages from the API",
                            "items": {
                              "externalDocs": {
                                "url": "https://developer.xero.com/documentation/api/http-response-codes"
                              },
                              "properties": {
                                "Message": {
                                  "description": "Validation error message",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "Wages": {
                            "description": "The total Wages for the Payrun",
                            "example": 1060.5,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          }
                        },
                        "required": [
                          "PayrollCalendarID"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object",
                  "x-isObjectArray": true
                }
              }
            },
            "description": "search results matching criteria"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "The object returned for a bad request",
                  "properties": {
                    "ErrorNumber": {
                      "description": "The error number",
                      "example": 16,
                      "format": "integer",
                      "type": "number"
                    },
                    "Message": {
                      "description": "The message describing the error",
                      "example": "No property or field 'hi' exists in type 'Employee' (at index 0)",
                      "type": "string"
                    },
                    "Type": {
                      "description": "The type of error",
                      "example": "QueryParseException",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "validation error for a bad request"
          }
        },
        "security": [
          {
            "OAuth2": [
              "payroll.payruns.read"
            ]
          }
        ],
        "summary": "Retrieves pay runs",
        "tags": [
          "PayrollAu"
        ]
      },
      "parameters": [
        {
          "description": "Xero identifier for Tenant",
          "in": "header",
          "name": "Xero-Tenant-Id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "createpayrun",
        "requestBody": {
          "content": {
            "application/json": {
              "example": "[ { \"PayrollCalendarID\": \"78bb86b9-e1ea-47ac-b75d-f087a81931de\", \"PayRunPeriodStartDate\": \"/Date(1572566400000+0000)/\", \"PayRunPeriodEndDate\": \"/Date(1573084800000+0000)/\", \"PayRunStatus\": \"DRAFT\", \"PaymentDate\": \"/Date(1573171200000+0000)/\" } ]",
              "schema": {
                "items": {
                  "properties": {
                    "Deductions": {
                      "description": "The total Deductions for the Payrun",
                      "example": 0,
                      "format": "double",
                      "type": "number",
                      "x-is-money": true
                    },
                    "NetPay": {
                      "description": "The total NetPay for the Payrun",
                      "example": 862.5,
                      "format": "double",
                      "type": "number",
                      "x-is-money": true
                    },
                    "PayRunID": {
                      "description": "Xero identifier for pay run",
                      "example": "bba1d10f-63b1-4692-b5c5-a99f869523a4",
                      "format": "uuid",
                      "type": "string"
                    },
                    "PayRunPeriodEndDate": {
                      "description": "Period End Date for the PayRun (YYYY-MM-DD)",
                      "example": "/Date(322560000000+0000)/",
                      "type": "string",
                      "x-is-msdate": true
                    },
                    "PayRunPeriodStartDate": {
                      "description": "Period Start Date for the PayRun (YYYY-MM-DD)",
                      "example": "/Date(322560000000+0000)/",
                      "type": "string",
                      "x-is-msdate": true
                    },
                    "PayRunStatus": {
                      "enum": [
                        "DRAFT",
                        "POSTED"
                      ],
                      "type": "string"
                    },
                    "PaymentDate": {
                      "description": "Payment Date for the PayRun (YYYY-MM-DD)",
                      "example": "/Date(322560000000+0000)/",
                      "type": "string",
                      "x-is-msdate": true
                    },
                    "PayrollCalendarID": {
                      "description": "Xero identifier for pay run",
                      "example": "bfac31bd-ea62-4fc8-a5e7-7965d9504b15",
                      "format": "uuid",
                      "type": "string"
                    },
                    "PayslipMessage": {
                      "description": "Payslip message for the PayRun",
                      "example": "Thanks for being awesome",
                      "type": "string"
                    },
                    "Payslips": {
                      "description": "The payslips in the payrun",
                      "items": {
                        "properties": {
                          "Deductions": {
                            "description": "The Deductions for the Payslip",
                            "example": 0,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "EmployeeGroup": {
                            "description": "Employee group name",
                            "example": "Marketing",
                            "type": "string"
                          },
                          "EmployeeID": {
                            "description": "The Xero identifier for an employee",
                            "example": "4729f087-8eec-49c1-8294-4d11a5a0a37c",
                            "format": "uuid",
                            "type": "string"
                          },
                          "FirstName": {
                            "description": "First name of employee",
                            "example": "Karen",
                            "type": "string"
                          },
                          "LastName": {
                            "description": "Last name of employee",
                            "example": "Jones",
                            "type": "string"
                          },
                          "NetPay": {
                            "description": "The NetPay for the Payslip",
                            "example": 862.5,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "PayslipID": {
                            "description": "Xero identifier for the payslip",
                            "example": "f3c0874d-7cdd-459a-a95c-d90d51decc42",
                            "format": "uuid",
                            "type": "string"
                          },
                          "Reimbursements": {
                            "description": "The Reimbursements for the Payslip",
                            "example": 0,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "Super": {
                            "description": "The Super for the Payslip",
                            "example": 75.6,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "Tax": {
                            "description": "The Tax for the Payslip",
                            "example": 198,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "UpdatedDateUTC": {
                            "description": "Last modified timestamp",
                            "example": "/Date(1583967733054+0000)/",
                            "readOnly": true,
                            "type": "string",
                            "x-is-msdate-time": true
                          },
                          "Wages": {
                            "description": "The Wages for the Payslip",
                            "example": 1060.5,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Reimbursement": {
                      "description": "The total Reimbursements for the Payrun",
                      "example": 0,
                      "format": "double",
                      "type": "number",
                      "x-is-money": true
                    },
                    "Super": {
                      "description": "The total Super for the Payrun",
                      "example": 75.6,
                      "format": "double",
                      "type": "number",
                      "x-is-money": true
                    },
                    "Tax": {
                      "description": "The total Tax for the Payrun",
                      "example": 198,
                      "format": "double",
                      "type": "number",
                      "x-is-money": true
                    },
                    "UpdatedDateUTC": {
                      "description": "Last modified timestamp",
                      "example": "/Date(1583967733054+0000)/",
                      "readOnly": true,
                      "type": "string",
                      "x-is-msdate-time": true
                    },
                    "ValidationErrors": {
                      "description": "Displays array of validation error messages from the API",
                      "items": {
                        "externalDocs": {
                          "url": "https://developer.xero.com/documentation/api/http-response-codes"
                        },
                        "properties": {
                          "Message": {
                            "description": "Validation error message",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Wages": {
                      "description": "The total Wages for the Payrun",
                      "example": 1060.5,
                      "format": "double",
                      "type": "number",
                      "x-is-money": true
                    }
                  },
                  "required": [
                    "PayrollCalendarID"
                  ],
                  "type": "object"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": "{ \"Id\": \"386f86d9-ae93-4a1d-9a10-eb46495c1184\", \"Status\": \"OK\", \"ProviderName\": \"java-sdk-oauth2-dev-02\", \"DateTimeUTC\": \"/Date(1573685818311)/\", \"PayRuns\": [ { \"PayRunID\": \"d1348fab-f47a-4697-beea-922ee262407a\", \"PayrollCalendarID\": \"78bb86b9-e1ea-47ac-b75d-f087a81931de\", \"PayRunPeriodStartDate\": \"/Date(1572566400000+0000)/\", \"PayRunPeriodEndDate\": \"/Date(1573084800000+0000)/\", \"PaymentDate\": \"/Date(1573171200000+0000)/\", \"PayRunStatus\": \"DRAFT\", \"UpdatedDateUTC\": \"/Date(1573685818311+0000)/\" } ] }",
                "schema": {
                  "properties": {
                    "PayRuns": {
                      "items": {
                        "properties": {
                          "Deductions": {
                            "description": "The total Deductions for the Payrun",
                            "example": 0,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "NetPay": {
                            "description": "The total NetPay for the Payrun",
                            "example": 862.5,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "PayRunID": {
                            "description": "Xero identifier for pay run",
                            "example": "bba1d10f-63b1-4692-b5c5-a99f869523a4",
                            "format": "uuid",
                            "type": "string"
                          },
                          "PayRunPeriodEndDate": {
                            "description": "Period End Date for the PayRun (YYYY-MM-DD)",
                            "example": "/Date(322560000000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "PayRunPeriodStartDate": {
                            "description": "Period Start Date for the PayRun (YYYY-MM-DD)",
                            "example": "/Date(322560000000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "PayRunStatus": {
                            "enum": [
                              "DRAFT",
                              "POSTED"
                            ],
                            "type": "string"
                          },
                          "PaymentDate": {
                            "description": "Payment Date for the PayRun (YYYY-MM-DD)",
                            "example": "/Date(322560000000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "PayrollCalendarID": {
                            "description": "Xero identifier for pay run",
                            "example": "bfac31bd-ea62-4fc8-a5e7-7965d9504b15",
                            "format": "uuid",
                            "type": "string"
                          },
                          "PayslipMessage": {
                            "description": "Payslip message for the PayRun",
                            "example": "Thanks for being awesome",
                            "type": "string"
                          },
                          "Payslips": {
                            "description": "The payslips in the payrun",
                            "items": {
                              "properties": {
                                "Deductions": {
                                  "description": "The Deductions for the Payslip",
                                  "example": 0,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "EmployeeGroup": {
                                  "description": "Employee group name",
                                  "example": "Marketing",
                                  "type": "string"
                                },
                                "EmployeeID": {
                                  "description": "The Xero identifier for an employee",
                                  "example": "4729f087-8eec-49c1-8294-4d11a5a0a37c",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "FirstName": {
                                  "description": "First name of employee",
                                  "example": "Karen",
                                  "type": "string"
                                },
                                "LastName": {
                                  "description": "Last name of employee",
                                  "example": "Jones",
                                  "type": "string"
                                },
                                "NetPay": {
                                  "description": "The NetPay for the Payslip",
                                  "example": 862.5,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "PayslipID": {
                                  "description": "Xero identifier for the payslip",
                                  "example": "f3c0874d-7cdd-459a-a95c-d90d51decc42",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "Reimbursements": {
                                  "description": "The Reimbursements for the Payslip",
                                  "example": 0,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "Super": {
                                  "description": "The Super for the Payslip",
                                  "example": 75.6,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "Tax": {
                                  "description": "The Tax for the Payslip",
                                  "example": 198,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "UpdatedDateUTC": {
                                  "description": "Last modified timestamp",
                                  "example": "/Date(1583967733054+0000)/",
                                  "readOnly": true,
                                  "type": "string",
                                  "x-is-msdate-time": true
                                },
                                "Wages": {
                                  "description": "The Wages for the Payslip",
                                  "example": 1060.5,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "Reimbursement": {
                            "description": "The total Reimbursements for the Payrun",
                            "example": 0,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "Super": {
                            "description": "The total Super for the Payrun",
                            "example": 75.6,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "Tax": {
                            "description": "The total Tax for the Payrun",
                            "example": 198,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "UpdatedDateUTC": {
                            "description": "Last modified timestamp",
                            "example": "/Date(1583967733054+0000)/",
                            "readOnly": true,
                            "type": "string",
                            "x-is-msdate-time": true
                          },
                          "ValidationErrors": {
                            "description": "Displays array of validation error messages from the API",
                            "items": {
                              "externalDocs": {
                                "url": "https://developer.xero.com/documentation/api/http-response-codes"
                              },
                              "properties": {
                                "Message": {
                                  "description": "Validation error message",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "Wages": {
                            "description": "The total Wages for the Payrun",
                            "example": 1060.5,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          }
                        },
                        "required": [
                          "PayrollCalendarID"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object",
                  "x-isObjectArray": true
                }
              }
            },
            "description": "A successful request"
          },
          "400": {
            "description": "invalid input, object invalid - TODO"
          }
        },
        "security": [
          {
            "OAuth2": [
              "payroll.payruns"
            ]
          }
        ],
        "summary": "Creates a pay run",
        "tags": [
          "PayrollAu"
        ],
        "x-hasPayrollAuProblem": true
      }
    },
    "/employees/userid": {
      "get": {
        "operationId": "getemployee-v2",
        "parameters": [
          {
            "description": "Employee id for single object",
            "in": "path",
            "name": "EmployeeID",
            "required": true,
            "schema": {
              "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": "{ \"Id\": \"ff00117e-75d1-4cc3-961c-13fc37b65e01\", \"Status\": \"OK\", \"ProviderName\": \"java-sdk-oauth2-dev-02\", \"DateTimeUTC\": \"/Date(1573623316150)/\", \"Employees\": [ { \"EmployeeID\": \"cdfb8371-0b21-4b8a-8903-1024df6c391e\", \"Title\": \"Mr.\", \"FirstName\": \"Albus\", \"MiddleNames\": \"Frank\", \"LastName\": \"Dumbledore\", \"Status\": \"ACTIVE\", \"Email\": \"albus39608@hogwarts.edu\", \"DateOfBirth\": \"/Date(321494400000+0000)/\", \"JobTitle\": \"Regional Manager\", \"Gender\": \"M\", \"HomeAddress\": { \"AddressLine1\": \"101 Green St\", \"City\": \"Island Bay\", \"Region\": \"NSW\", \"PostalCode\": \"6023\", \"Country\": \"AUSTRALIA\" }, \"Phone\": \"444-2323\", \"Mobile\": \"555-1212\", \"StartDate\": \"/Date(321494400000+0000)/\", \"Classification\": \"corporate\", \"OrdinaryEarningsRateID\": \"ab874dfb-ab09-4c91-954e-43acf6fc23b4\", \"PayrollCalendarID\": \"78bb86b9-e1ea-47ac-b75d-f087a81931de\", \"UpdatedDateUTC\": \"/Date(1573623306000+0000)/\", \"EmployeeGroupName\": \"foo\", \"IsAuthorisedToApproveLeave\": true, \"IsAuthorisedToApproveTimesheets\": true, \"TaxDeclaration\": { \"AustralianResidentForTaxPurposes\": true, \"TaxFreeThresholdClaimed\": true, \"HasHELPDebt\": false, \"HasSFSSDebt\": false, \"EligibleToReceiveLeaveLoading\": false, \"UpdatedDateUTC\": \"/Date(1573623306000+0000)/\", \"HasStudentStartupLoan\": false, \"ResidencyStatus\": \"AUSTRALIANRESIDENT\" }, \"BankAccounts\": [], \"OpeningBalances\": { \"OpeningBalanceDate\": \"/Date(1573603200000+0000)/\", \"EarningsLines\": [], \"DeductionLines\": [], \"SuperLines\": [], \"ReimbursementLines\": [], \"LeaveLines\": [ { \"LeaveTypeID\": \"184ea8f7-d143-46dd-bef3-0c60e1aa6fca\", \"NumberOfUnits\": 10 } ] }, \"PayTemplate\": { \"EarningsLines\": [ { \"EarningsRateID\": \"ab874dfb-ab09-4c91-954e-43acf6fc23b4\", \"CalculationType\": \"USEEARNINGSRATE\", \"NormalNumberOfUnits\": 3 } ], \"DeductionLines\": [ { \"DeductionTypeID\": \"ed05ea82-e40a-4eb6-9c2e-4b3c03e7e938\", \"CalculationType\": \"FIXEDAMOUNT\", \"Amount\": 4 } ], \"SuperLines\": [ { \"ContributionType\": \"SGC\", \"CalculationType\": \"STATUTORY\", \"MinimumMonthlyEarnings\": 450, \"ExpenseAccountCode\": \"478\", \"LiabilityAccountCode\": \"826\" } ], \"ReimbursementLines\": [ { \"ReimbursementTypeID\": \"aa8cfa40-d872-4be0-8a94-bb7f00962f74\", \"Description\": \"boo\", \"Amount\": 55 } ], \"LeaveLines\": [ { \"LeaveTypeID\": \"184ea8f7-d143-46dd-bef3-0c60e1aa6fca\", \"CalculationType\": \"FIXEDAMOUNTEACHPERIOD\", \"AnnualNumberOfUnits\": 4, \"EntitlementFinalPayPayoutType\": \"NOTPAIDOUT\" } ] }, \"SuperMemberships\": [], \"LeaveBalances\": [ { \"LeaveName\": \"Carer Leave (unpaid)\", \"LeaveTypeID\": \"184ea8f7-d143-46dd-bef3-0c60e1aa6fca\", \"NumberOfUnits\": 10, \"TypeOfUnits\": \"Hours\" } ] } ] }",
                "schema": {
                  "properties": {
                    "Employees": {
                      "items": {
                        "properties": {
                          "BankAccounts": {
                            "items": {
                              "properties": {
                                "AccountName": {
                                  "description": "The name of the account",
                                  "example": "James Lebron Savings",
                                  "type": "string"
                                },
                                "AccountNumber": {
                                  "description": "The account number",
                                  "example": 345678,
                                  "type": "string"
                                },
                                "Amount": {
                                  "description": "Fixed amounts (for example, if an employee wants to have $100 of their salary transferred to one account, and the remaining amount to another)",
                                  "example": 200,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "BSB": {
                                  "description": "The BSB number of the account",
                                  "example": 122344,
                                  "type": "string"
                                },
                                "Remainder": {
                                  "description": "If this account is the Remaining bank account",
                                  "example": false,
                                  "type": "boolean"
                                },
                                "StatementText": {
                                  "description": "The text that will appear on your employee's bank statement when they receive payment",
                                  "example": "Salary",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "Classification": {
                            "description": "Employees classification",
                            "example": 99383,
                            "type": "string"
                          },
                          "DateOfBirth": {
                            "description": "Date of birth of the employee (YYYY-MM-DD)",
                            "example": "/Date(322560000000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "Email": {
                            "description": "The email address for the employee",
                            "example": "developer@me.com",
                            "type": "string"
                          },
                          "EmployeeGroupName": {
                            "description": "The Employee Group allows you to report on payroll expenses and liabilities for each group of employees",
                            "example": "marketing",
                            "type": "string"
                          },
                          "EmployeeID": {
                            "description": "Xero unique identifier for an Employee",
                            "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c",
                            "format": "uuid",
                            "type": "string"
                          },
                          "FirstName": {
                            "description": "First name of employee",
                            "example": "Karen",
                            "type": "string"
                          },
                          "Gender": {
                            "description": "The employee’s gender. See Employee Gender",
                            "enum": [
                              "N",
                              "M",
                              "F",
                              "I"
                            ],
                            "example": "F",
                            "type": "string"
                          },
                          "HomeAddress": {
                            "properties": {
                              "AddressLine1": {
                                "description": "Address line 1 for employee home address",
                                "example": "123 Main St",
                                "type": "string"
                              },
                              "AddressLine2": {
                                "description": "Address line 2 for employee home address",
                                "example": "Apt 4",
                                "type": "string"
                              },
                              "City": {
                                "description": "Suburb for employee home address",
                                "example": "St. Kilda",
                                "type": "string"
                              },
                              "Country": {
                                "description": "Country of HomeAddress",
                                "example": "AUSTRALIA",
                                "type": "string"
                              },
                              "PostalCode": {
                                "description": "PostCode for employee home address",
                                "example": 3182,
                                "type": "string"
                              },
                              "Region": {
                                "description": "State abbreviation for employee home address",
                                "enum": [
                                  "ACT",
                                  "NSW",
                                  "NT",
                                  "QLD",
                                  "SA",
                                  "TAS",
                                  "VIC",
                                  "WA"
                                ],
                                "example": "VIC",
                                "type": "string"
                              }
                            },
                            "required": [
                              "AddressLine1"
                            ],
                            "type": "object"
                          },
                          "IsAuthorisedToApproveLeave": {
                            "description": "Authorised to approve other employees' leave requests",
                            "example": false,
                            "type": "boolean"
                          },
                          "IsAuthorisedToApproveTimesheets": {
                            "description": "Authorised to approve timesheets",
                            "example": true,
                            "type": "boolean"
                          },
                          "JobTitle": {
                            "description": "JobTitle of the employee",
                            "example": "Manager",
                            "type": "string"
                          },
                          "LastName": {
                            "description": "Last name of employee",
                            "example": "Jones",
                            "type": "string"
                          },
                          "LeaveBalances": {
                            "items": {
                              "properties": {
                                "LeaveName": {
                                  "description": "The name of the leave type",
                                  "example": "Annual Leave",
                                  "type": "string"
                                },
                                "LeaveTypeID": {
                                  "description": "Identifier of the leave type (see PayItems)",
                                  "example": "544d9292-4329-4512-bfff-a9f15236d776",
                                  "type": "string"
                                },
                                "NumberOfUnits": {
                                  "description": "The balance of the leave available",
                                  "example": 81.2602,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "TypeOfUnits": {
                                  "description": "The type of units as specified by the LeaveType (see PayItems)",
                                  "example": "Hours",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "LeaveLines": {
                            "items": {
                              "properties": {
                                "AnnualNumberOfUnits": {
                                  "description": "Hours of leave accrued each year",
                                  "example": 2.5,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "CalculationType": {
                                  "description": "Calculation type for leave line for Opening Balance on Employee",
                                  "enum": [
                                    "NOCALCULATIONREQUIRED",
                                    "FIXEDAMOUNTEACHPERIOD",
                                    "ENTERRATEINPAYTEMPLATE",
                                    "BASEDONORDINARYEARNINGS",
                                    ""
                                  ],
                                  "type": "string"
                                },
                                "EmploymentTerminationPaymentType": {
                                  "enum": [
                                    "O",
                                    "R"
                                  ],
                                  "type": "string"
                                },
                                "EntitlementFinalPayPayoutType": {
                                  "enum": [
                                    "NOTPAIDOUT",
                                    "PAIDOUT"
                                  ],
                                  "type": "string"
                                },
                                "FullTimeNumberOfUnitsPerPeriod": {
                                  "description": "Normal ordinary earnings number of units for leave line.",
                                  "example": 2.5,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                },
                                "IncludeSuperannuationGuaranteeContribution": {
                                  "description": "amount of leave line",
                                  "example": true,
                                  "type": "boolean"
                                },
                                "LeaveTypeID": {
                                  "description": "Xero leave type identifier",
                                  "example": "742998cb-7584-4ecf-aa88-d694f59c50f9",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "NumberOfUnits": {
                                  "description": "Number of units for leave line.",
                                  "example": 2.5,
                                  "format": "double",
                                  "type": "number",
                                  "x-is-money": true
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "MiddleNames": {
                            "description": "Middle name(s) of the employee",
                            "example": "Adena",
                            "type": "string"
                          },
                          "Mobile": {
                            "description": "Employee mobile number",
                            "example": "415-234-5678",
                            "type": "string"
                          },
                          "OpeningBalances": {
                            "properties": {
                              "DeductionLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Deduction type amount",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "enum": [
                                        "FIXEDAMOUNT",
                                        "PRETAX",
                                        "POSTTAX"
                                      ],
                                      "type": "string"
                                    },
                                    "DeductionTypeID": {
                                      "description": "Xero deduction type identifier",
                                      "example": "59cd9d04-4521-4cc3-93ac-7841651ff407",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "NumberOfUnits": {
                                      "description": "Deduction number of units",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "Percentage": {
                                      "description": "The Percentage of the Deduction",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    }
                                  },
                                  "required": [
                                    "DeductionTypeID",
                                    "CalculationType"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "EarningsLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Earnings rate amount",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "AnnualSalary": {
                                      "description": "Annual salary for earnings line",
                                      "example": 40000,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "enum": [
                                        "USEEARNINGSRATE",
                                        "ENTEREARNINGSRATE",
                                        "ANNUALSALARY"
                                      ],
                                      "type": "string"
                                    },
                                    "EarningsRateID": {
                                      "description": "Xero unique id for earnings rate",
                                      "example": "72e962d1-fcac-4083-8a71-742bb3e7ae14",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "FixedAmount": {
                                      "description": "Earnings rate amount. Only applicable if the EarningsRate RateType is Fixed",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "NormalNumberOfUnits": {
                                      "description": "Normal number of units for EarningsLine. Applicable when RateType is \"MULTIPLE\"",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "NumberOfUnits": {
                                      "description": "Earnings rate number of units.",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "NumberOfUnitsPerWeek": {
                                      "description": "number of units for earning line",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "RatePerUnit": {
                                      "description": "Rate per unit of the EarningsLine.",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    }
                                  },
                                  "required": [
                                    "EarningsRateID"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "LeaveLines": {
                                "items": {
                                  "properties": {
                                    "AnnualNumberOfUnits": {
                                      "description": "Hours of leave accrued each year",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "description": "Calculation type for leave line for Opening Balance on Employee",
                                      "enum": [
                                        "NOCALCULATIONREQUIRED",
                                        "FIXEDAMOUNTEACHPERIOD",
                                        "ENTERRATEINPAYTEMPLATE",
                                        "BASEDONORDINARYEARNINGS",
                                        ""
                                      ],
                                      "type": "string"
                                    },
                                    "EmploymentTerminationPaymentType": {
                                      "enum": [
                                        "O",
                                        "R"
                                      ],
                                      "type": "string"
                                    },
                                    "EntitlementFinalPayPayoutType": {
                                      "enum": [
                                        "NOTPAIDOUT",
                                        "PAIDOUT"
                                      ],
                                      "type": "string"
                                    },
                                    "FullTimeNumberOfUnitsPerPeriod": {
                                      "description": "Normal ordinary earnings number of units for leave line.",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "IncludeSuperannuationGuaranteeContribution": {
                                      "description": "amount of leave line",
                                      "example": true,
                                      "type": "boolean"
                                    },
                                    "LeaveTypeID": {
                                      "description": "Xero leave type identifier",
                                      "example": "742998cb-7584-4ecf-aa88-d694f59c50f9",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "NumberOfUnits": {
                                      "description": "Number of units for leave line.",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "OpeningBalanceDate": {
                                "description": "Opening Balance Date. (YYYY-MM-DD)",
                                "example": "/Date(322560000000+0000)/",
                                "type": "string",
                                "x-is-msdate": true
                              },
                              "ReimbursementLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Reimbursement type amount",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "Description": {
                                      "description": "Reimbursement lines description (max length 50)",
                                      "example": "For the taxi",
                                      "maxLength": 50,
                                      "type": "string"
                                    },
                                    "ExpenseAccount": {
                                      "description": "Reimbursement expense account. For posted pay run you should be able to see expense account code.",
                                      "example": 420,
                                      "type": "string"
                                    },
                                    "ReimbursementTypeID": {
                                      "description": "Xero reimbursement type identifier",
                                      "example": "bd246b96-c637-4767-81cf-851ba8fa93c2",
                                      "format": "uuid",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "SuperLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Super membership amount",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "enum": [
                                        "FIXEDAMOUNT",
                                        "PERCENTAGEOFEARNINGS",
                                        "STATUTORY"
                                      ],
                                      "type": "string"
                                    },
                                    "ContributionType": {
                                      "enum": [
                                        "SGC",
                                        "SALARYSACRIFICE",
                                        "EMPLOYERADDITIONAL",
                                        "EMPLOYEE"
                                      ],
                                      "type": "string"
                                    },
                                    "ExpenseAccountCode": {
                                      "description": "expense account code",
                                      "example": 478,
                                      "type": "string"
                                    },
                                    "LiabilityAccountCode": {
                                      "description": "liabilty account code",
                                      "example": 826,
                                      "type": "string"
                                    },
                                    "MinimumMonthlyEarnings": {
                                      "description": "amount of minimum earnings",
                                      "example": 450,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "Percentage": {
                                      "description": "percentage for super line",
                                      "example": 9,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "SuperMembershipID": {
                                      "description": "Xero super membership ID",
                                      "example": "4333d5cd-53a5-4c31-98e5-a8b4e5676b0b",
                                      "format": "uuid",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "Tax": {
                                "description": "Opening Balance tax",
                                "example": "4333d5cd-53a5-4c31-98e5-a8b4e5676b0b",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "OrdinaryEarningsRateID": {
                            "description": "Xero unique identifier for earnings rate",
                            "example": "5gj1e5cc-9835-40d5-bb18-09fdb118db9c",
                            "format": "uuid",
                            "type": "string"
                          },
                          "PayTemplate": {
                            "properties": {
                              "DeductionLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Deduction type amount",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "enum": [
                                        "FIXEDAMOUNT",
                                        "PRETAX",
                                        "POSTTAX"
                                      ],
                                      "type": "string"
                                    },
                                    "DeductionTypeID": {
                                      "description": "Xero deduction type identifier",
                                      "example": "59cd9d04-4521-4cc3-93ac-7841651ff407",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "NumberOfUnits": {
                                      "description": "Deduction number of units",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "Percentage": {
                                      "description": "The Percentage of the Deduction",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    }
                                  },
                                  "required": [
                                    "DeductionTypeID",
                                    "CalculationType"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "EarningsLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Earnings rate amount",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "AnnualSalary": {
                                      "description": "Annual salary for earnings line",
                                      "example": 40000,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "enum": [
                                        "USEEARNINGSRATE",
                                        "ENTEREARNINGSRATE",
                                        "ANNUALSALARY"
                                      ],
                                      "type": "string"
                                    },
                                    "EarningsRateID": {
                                      "description": "Xero unique id for earnings rate",
                                      "example": "72e962d1-fcac-4083-8a71-742bb3e7ae14",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "FixedAmount": {
                                      "description": "Earnings rate amount. Only applicable if the EarningsRate RateType is Fixed",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "NormalNumberOfUnits": {
                                      "description": "Normal number of units for EarningsLine. Applicable when RateType is \"MULTIPLE\"",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "NumberOfUnits": {
                                      "description": "Earnings rate number of units.",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "NumberOfUnitsPerWeek": {
                                      "description": "number of units for earning line",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "RatePerUnit": {
                                      "description": "Rate per unit of the EarningsLine.",
                                      "example": 38,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    }
                                  },
                                  "required": [
                                    "EarningsRateID"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "LeaveLines": {
                                "items": {
                                  "properties": {
                                    "AnnualNumberOfUnits": {
                                      "description": "Hours of leave accrued each year",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "description": "Calculation type for leave line for Opening Balance on Employee",
                                      "enum": [
                                        "NOCALCULATIONREQUIRED",
                                        "FIXEDAMOUNTEACHPERIOD",
                                        "ENTERRATEINPAYTEMPLATE",
                                        "BASEDONORDINARYEARNINGS",
                                        ""
                                      ],
                                      "type": "string"
                                    },
                                    "EmploymentTerminationPaymentType": {
                                      "enum": [
                                        "O",
                                        "R"
                                      ],
                                      "type": "string"
                                    },
                                    "EntitlementFinalPayPayoutType": {
                                      "enum": [
                                        "NOTPAIDOUT",
                                        "PAIDOUT"
                                      ],
                                      "type": "string"
                                    },
                                    "FullTimeNumberOfUnitsPerPeriod": {
                                      "description": "Normal ordinary earnings number of units for leave line.",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "IncludeSuperannuationGuaranteeContribution": {
                                      "description": "amount of leave line",
                                      "example": true,
                                      "type": "boolean"
                                    },
                                    "LeaveTypeID": {
                                      "description": "Xero leave type identifier",
                                      "example": "742998cb-7584-4ecf-aa88-d694f59c50f9",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "NumberOfUnits": {
                                      "description": "Number of units for leave line.",
                                      "example": 2.5,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "ReimbursementLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Reimbursement type amount",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "Description": {
                                      "description": "Reimbursement lines description (max length 50)",
                                      "example": "For the taxi",
                                      "maxLength": 50,
                                      "type": "string"
                                    },
                                    "ExpenseAccount": {
                                      "description": "Reimbursement expense account. For posted pay run you should be able to see expense account code.",
                                      "example": 420,
                                      "type": "string"
                                    },
                                    "ReimbursementTypeID": {
                                      "description": "Xero reimbursement type identifier",
                                      "example": "bd246b96-c637-4767-81cf-851ba8fa93c2",
                                      "format": "uuid",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "SuperLines": {
                                "items": {
                                  "properties": {
                                    "Amount": {
                                      "description": "Super membership amount",
                                      "example": 10,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "CalculationType": {
                                      "enum": [
                                        "FIXEDAMOUNT",
                                        "PERCENTAGEOFEARNINGS",
                                        "STATUTORY"
                                      ],
                                      "type": "string"
                                    },
                                    "ContributionType": {
                                      "enum": [
                                        "SGC",
                                        "SALARYSACRIFICE",
                                        "EMPLOYERADDITIONAL",
                                        "EMPLOYEE"
                                      ],
                                      "type": "string"
                                    },
                                    "ExpenseAccountCode": {
                                      "description": "expense account code",
                                      "example": 478,
                                      "type": "string"
                                    },
                                    "LiabilityAccountCode": {
                                      "description": "liabilty account code",
                                      "example": 826,
                                      "type": "string"
                                    },
                                    "MinimumMonthlyEarnings": {
                                      "description": "amount of minimum earnings",
                                      "example": 450,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "Percentage": {
                                      "description": "percentage for super line",
                                      "example": 9,
                                      "format": "double",
                                      "type": "number",
                                      "x-is-money": true
                                    },
                                    "SuperMembershipID": {
                                      "description": "Xero super membership ID",
                                      "example": "4333d5cd-53a5-4c31-98e5-a8b4e5676b0b",
                                      "format": "uuid",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "PayrollCalendarID": {
                            "description": "Xero unique identifier for payroll calendar for the employee",
                            "example": "2ee8e5cc-9835-40d5-bb18-09fdb118db9c",
                            "format": "uuid",
                            "type": "string"
                          },
                          "Phone": {
                            "description": "Employee phone number",
                            "example": "415-555-1212",
                            "type": "string"
                          },
                          "StartDate": {
                            "description": "Start date for an employee (YYYY-MM-DD)",
                            "example": "/Date(320284900000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "Status": {
                            "description": "Employee Status Types",
                            "enum": [
                              "ACTIVE",
                              "TERMINATED"
                            ],
                            "type": "string"
                          },
                          "SuperMemberships": {
                            "items": {
                              "properties": {
                                "EmployeeNumber": {
                                  "description": "The membership number assigned to the employee by the super fund.",
                                  "example": 1234,
                                  "type": "string"
                                },
                                "SuperFundID": {
                                  "description": "Xero identifier for super fund",
                                  "example": "2187a42b-639a-45cb-9eed-cd4ae488306a",
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "SuperMembershipID": {
                                  "description": "Xero unique identifier for Super membership",
                                  "example": "4333d5cd-53a5-4c31-98e5-a8b4e5676b0b",
                                  "format": "uuid",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "SuperFundID",
                                "EmployeeNumber"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "TaxDeclaration": {
                            "properties": {
                              "ApprovedWithholdingVariationPercentage": {
                                "description": "If the employee has approved withholding variation. e.g (0 - 100)",
                                "example": 75,
                                "format": "int",
                                "type": "number"
                              },
                              "AustralianResidentForTaxPurposes": {
                                "description": "If the employee is Australian resident for tax purposes. e.g true or false",
                                "example": true,
                                "type": "boolean"
                              },
                              "EligibleToReceiveLeaveLoading": {
                                "description": "If the employee is eligible to receive an additional percentage on top of ordinary earnings when they take leave (typically 17.5%). e.g true or false",
                                "example": false,
                                "type": "boolean"
                              },
                              "EmployeeID": {
                                "description": "Address line 1 for employee home address",
                                "example": "123 Main St",
                                "format": "uuid",
                                "type": "string"
                              },
                              "EmploymentBasis": {
                                "enum": [
                                  "FULLTIME",
                                  "PARTTIME",
                                  "CASUAL",
                                  "LABOURHIRE",
                                  "SUPERINCOMESTREAM"
                                ],
                                "type": "string"
                              },
                              "HasHELPDebt": {
                                "description": "If employee has HECS or HELP debt. e.g true or false",
                                "example": false,
                                "type": "boolean"
                              },
                              "HasSFSSDebt": {
                                "description": "If employee has financial supplement debt. e.g true or false",
                                "example": false,
                                "type": "boolean"
                              },
                              "HasStudentStartupLoan": {
                                "description": "If the employee is eligible for student startup loan rules",
                                "example": true,
                                "type": "boolean"
                              },
                              "HasTradeSupportLoanDebt": {
                                "description": "If employee has trade support loan. e.g true or false",
                                "example": false,
                                "type": "boolean"
                              },
                              "ResidencyStatus": {
                                "enum": [
                                  "AUSTRALIANRESIDENT",
                                  "FOREIGNRESIDENT",
                                  "WORKINGHOLIDAYMAKER"
                                ],
                                "type": "string"
                              },
                              "TFNExemptionType": {
                                "enum": [
                                  "NOTQUOTED",
                                  "PENDING",
                                  "PENSIONER",
                                  "UNDER18"
                                ],
                                "type": "string"
                              },
                              "TaxFileNumber": {
                                "description": "The tax file number e.g 123123123.",
                                "example": 123123123,
                                "type": "string"
                              },
                              "TaxFreeThresholdClaimed": {
                                "description": "If tax free threshold claimed. e.g true or false",
                                "example": false,
                                "type": "boolean"
                              },
                              "TaxOffsetEstimatedAmount": {
                                "description": "If has tax offset estimated then the tax offset estimated amount. e.g 100",
                                "example": 100,
                                "format": "int",
                                "type": "number"
                              },
                              "UpdatedDateUTC": {
                                "description": "Last modified timestamp",
                                "example": "/Date(1583967733054+0000)/",
                                "readOnly": true,
                                "type": "string",
                                "x-is-msdate-time": true
                              },
                              "UpwardVariationTaxWithholdingAmount": {
                                "description": "If the employee has requested that additional tax be withheld each pay run. e.g 50",
                                "example": 50,
                                "format": "int",
                                "type": "number"
                              }
                            },
                            "type": "object"
                          },
                          "TerminationDate": {
                            "description": "Employee Termination Date (YYYY-MM-DD)",
                            "example": "/Date(1584662400000+0000)/",
                            "type": "string",
                            "x-is-msdate": true
                          },
                          "Title": {
                            "description": "Title of the employee",
                            "example": "Mrs",
                            "type": "string"
                          },
                          "TwitterUserName": {
                            "description": "Employee’s twitter name",
                            "example": "xeroapi",
                            "type": "string"
                          },
                          "UpdatedDateUTC": {
                            "description": "Last modified timestamp",
                            "example": "/Date(1583967733054+0000)/",
                            "readOnly": true,
                            "type": "string",
                            "x-is-msdate-time": true
                          },
                          "ValidationErrors": {
                            "description": "Displays array of validation error messages from the API",
                            "items": {
                              "externalDocs": {
                                "url": "https://developer.xero.com/documentation/api/http-response-codes"
                              },
                              "properties": {
                                "Message": {
                                  "description": "Validation error message",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "FirstName",
                          "LastName",
                          "DateOfBirth"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object",
                  "x-isObjectArray": true
                }
              }
            },
            "description": "search results matching criteria"
          }
        },
        "security": [
          {
            "OAuth2": [
              "payroll.employees.read"
            ]
          }
        ],
        "summary": "Retrieves an employee's detail by unique employee id",
        "tags": [
          "PayrollAu"
        ]
      },
      "parameters": [
        {
          "description": "Xero identifier for Tenant",
          "in": "header",
          "name": "Xero-Tenant-Id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Update properties on a single employee",
        "operationId": "updateemployee",
        "parameters": [
          {
            "description": "Employee id for single object",
            "in": "path",
            "name": "EmployeeID",
            "required": true,
            "schema": {
              "example": "4ff1e5cc-9835-40d5-bb18-09fdb118db9c",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": "[ { \"MiddleNames\": \"Frank\" } ]",
              "schema": {
                "items": {
                  "properties": {
                    "BankAccounts": {
                      "items": {
                        "properties": {
                          "AccountName": {
                            "description": "The name of the account",
                            "example": "James Lebron Savings",
                            "type": "string"
                          },
                          "AccountNumber": {
                            "description": "The account number",
                            "example": 345678,
                            "type": "string"
                          },
                          "Amount": {
                            "description": "Fixed amounts (for example, if an employee wants to have $100 of their salary transferred to one account, and the remaining amount to another)",
                            "example": 200,
                            "format": "double",
                            "type": "number",
                            "x-is-money": true
                          },
                          "BSB": {
                            "description": "The BSB number of the account",
                            "example": 122344,
                            "type": "string"
                          },
                          "Remainder": {
                            "description": "If this account is the Remaining bank account",
                            "example": false,
                            "type": "boolean"
                          },
                          "StatementText": {
                            "description": "The text that will appear on your employee's bank statement when they receive payment",
                            "example": "Salary",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Classification": {
                      "description": "Employees classification",
                      "example": 99383,
                      "type": "string"
                    },
                    "DateOfBirth": {
                      "description": "Date of birth of the employee (YYYY-MM-DD)",
[...]
