{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://www.envoice.in"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "envoicein"
    },
    "description": "[![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/80638214aa04722c9203)\r\n<span style='margin-left: 0.5em;'>or</span>\r\n<a href='https://documenter.getpostman.com/view/3559821/TVeqcn2L' class='openapi-button' _ngcontent-c6>View Postman docs</a>\r\n\r\n# Quickstart\r\n\r\nVisit [github](https://github.com/EmitKnowledge/Envoice) to view the quickstart tutorial.\r\n\r\n<div class='postman-tutorial'>\r\n\r\n# Tutorial for running the API in postman\r\n\r\nClick on \"\"Run in Postman\"\" button\r\n<br /><br />\r\n![postman - tutorial - 1](/Assets/images/api/postman-tutorial/postman-tutorial-1.png)\r\n\r\n --- \r\n\r\nA new page will open.\r\nClick the \"\"Postman for windows\"\" to run postman as a desktop app.\r\nMake sure you have already [installed](https://www.getpostman.com/docs/postman/launching_postman/installation_and_updates) Postman.\r\n<br /><br />\r\n![postman - tutorial - 2](/Assets/images/api/postman-tutorial/postman-tutorial-2.png)\r\n\r\n --- \r\n\r\nIn chrome an alert might show up to set a default app for opening postman links. Click on \"\"Open Postman\"\".\r\n<br /><br />\r\n![postman - tutorial - 3](/Assets/images/api/postman-tutorial/postman-tutorial-3.png)\r\n\r\n --- \r\n\r\nThe OpenAPI specification will be imported in Postman as a new collection named \"\"Envoice api\"\"\r\n<br /><br />\r\n![postman - tutorial - 4](/Assets/images/api/postman-tutorial/postman-tutorial-4.png)\r\n\r\n --- \r\n\r\nWhen testing be sure to check and modify the environment variables to suit your api key and secret. The domain is set to envoice's endpoint so you don't really need to change that.  \r\n<sub>\\*Eye button in top right corner </sub>\r\n<br /><br /> \r\n![postman - tutorial - 5](/Assets/images/api/postman-tutorial/postman-tutorial-5.png)\r\n<br /><br /> \r\n![postman - tutorial - 6](/Assets/images/api/postman-tutorial/postman-tutorial-6.png)\r\n\r\n --- \r\n\r\nYou don't need to change the values of the header parameters, because they will be replaced automatically when you send a request with real values from the environment configured in the previous step.\r\n<br /><br />\r\n![postman - tutorial - 7](/Assets/images/api/postman-tutorial/postman-tutorial-7.png)\r\n\r\n --- \r\n\r\nModify the example data to suit your needs and send a request.\r\n<br /><br />\r\n![postman - tutorial - 8](/Assets/images/api/postman-tutorial/postman-tutorial-8.png)\r\n</div>\r\n\r\n# Webhooks\r\n\r\nWebhooks allow you to build or set up Envoice Apps which subscribe to invoice activities. \r\nWhen one of those events is triggered, we'll send a HTTP POST payload to the webhook's configured URL. \r\nWebhooks can be used to update an external invoice data storage.\r\n\r\nIn order to use webhooks visit [this link](/account/settings#api-tab) and add upto 10 webhook urls that will return status `200` in order to signal that the webhook is working.\r\nAll nonworking webhooks will be ignored after a certain period of time and several retry attempts.\r\nIf after several attempts the webhook starts to work, we will send you all activities, both past and present, in chronological order.\r\n\r\nThe payload of the webhook is in format:\r\n```\r\n{\r\n    Signature: \"\"sha256 string\"\",\r\n    Timestamp: \"\"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\",\r\n    Activity: {\r\n        Message: \"string\",\r\n        Link: \"share url\",\r\n        Type: int,        \r\n        InvoiceNumber: \"string\",\r\n        InvoiceId: int,        \r\n        OrderNumber: \"string\",\r\n        OrderId: int,\r\n        Id: int,\r\n        CreatedOn: \"YYYY-MM-DDTHH:mm:ss.FFFFFFFZ\"\r\n    }\r\n}\r\n```            ",
    "title": "API v1.0.0",
    "version": "v1",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://twitter.com/envoicein/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://www.envoice.in/docs/api/v1/specification",
        "version": "3.0"
      }
    ],
    "x-providerName": "envoice.in"
  },
  "paths": {
    "/api/client/all": {
      "get": {
        "operationId": "clientapi-all-v2",
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "x-auth-key",
            "required": true,
            "schema": {
              "default": "[authentication key]",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-secret",
            "required": true,
            "schema": {
              "default": "[authentication secret]",
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "AdditionalEmails": {
                        "description": "Client additional emails contact for CC",
                        "items": {
                          "properties": {
                            "Email": {
                              "description": "CC",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Address": {
                        "description": "Client business address",
                        "type": "string"
                      },
                      "ClientCountryId": {
                        "description": "Indicates the country where the clients is from",
                        "format": "int32",
                        "type": "integer"
                      },
                      "ClientCurrencyId": {
                        "description": "Indicates the default system currency used by the user for the client",
                        "format": "int32",
                        "type": "integer"
                      },
                      "CompanyRegistrationNumber": {
                        "description": "Client's Company Registration Number",
                        "type": "string"
                      },
                      "CreatedOn": {
                        "description": "Date of creation",
                        "format": "date-time",
                        "type": "string"
                      },
                      "DefaultDueDateInDays": {
                        "description": "Client custom payment terms",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Email": {
                        "description": "Client email",
                        "type": "string"
                      },
                      "Id": {
                        "description": "Entity id",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Name": {
                        "description": "Name of the client",
                        "type": "string"
                      },
                      "PhoneNumber": {
                        "description": "Client phone numer",
                        "type": "string"
                      },
                      "UiLanguageId": {
                        "description": "Hold a value of the language in which the invoice will be sent",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Vat": {
                        "description": "Client's VAT number",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "application/xml": {
                "schema": {
                  "items": {
                    "properties": {
                      "AdditionalEmails": {
                        "description": "Client additional emails contact for CC",
                        "items": {
                          "properties": {
                            "Email": {
                              "description": "CC",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Address": {
                        "description": "Client business address",
                        "type": "string"
                      },
                      "ClientCountryId": {
                        "description": "Indicates the country where the clients is from",
                        "format": "int32",
                        "type": "integer"
                      },
                      "ClientCurrencyId": {
                        "description": "Indicates the default system currency used by the user for the client",
                        "format": "int32",
                        "type": "integer"
                      },
                      "CompanyRegistrationNumber": {
                        "description": "Client's Company Registration Number",
                        "type": "string"
                      },
                      "CreatedOn": {
                        "description": "Date of creation",
                        "format": "date-time",
                        "type": "string"
                      },
                      "DefaultDueDateInDays": {
                        "description": "Client custom payment terms",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Email": {
                        "description": "Client email",
                        "type": "string"
                      },
                      "Id": {
                        "description": "Entity id",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Name": {
                        "description": "Name of the client",
                        "type": "string"
                      },
                      "PhoneNumber": {
                        "description": "Client phone numer",
                        "type": "string"
                      },
                      "UiLanguageId": {
                        "description": "Hold a value of the language in which the invoice will be sent",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Vat": {
                        "description": "Client's VAT number",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "text/html": {
                "schema": {
                  "items": {
                    "properties": {
                      "AdditionalEmails": {
                        "description": "Client additional emails contact for CC",
                        "items": {
                          "properties": {
                            "Email": {
                              "description": "CC",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Address": {
                        "description": "Client business address",
                        "type": "string"
                      },
                      "ClientCountryId": {
                        "description": "Indicates the country where the clients is from",
                        "format": "int32",
                        "type": "integer"
                      },
                      "ClientCurrencyId": {
                        "description": "Indicates the default system currency used by the user for the client",
                        "format": "int32",
                        "type": "integer"
                      },
                      "CompanyRegistrationNumber": {
                        "description": "Client's Company Registration Number",
                        "type": "string"
                      },
                      "CreatedOn": {
                        "description": "Date of creation",
                        "format": "date-time",
                        "type": "string"
                      },
                      "DefaultDueDateInDays": {
                        "description": "Client custom payment terms",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Email": {
                        "description": "Client email",
                        "type": "string"
                      },
                      "Id": {
                        "description": "Entity id",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Name": {
                        "description": "Name of the client",
                        "type": "string"
                      },
                      "PhoneNumber": {
                        "description": "Client phone numer",
                        "type": "string"
                      },
                      "UiLanguageId": {
                        "description": "Hold a value of the language in which the invoice will be sent",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Vat": {
                        "description": "Client's VAT number",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "text/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "AdditionalEmails": {
                        "description": "Client additional emails contact for CC",
                        "items": {
                          "properties": {
                            "Email": {
                              "description": "CC",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Address": {
                        "description": "Client business address",
                        "type": "string"
                      },
                      "ClientCountryId": {
                        "description": "Indicates the country where the clients is from",
                        "format": "int32",
                        "type": "integer"
                      },
                      "ClientCurrencyId": {
                        "description": "Indicates the default system currency used by the user for the client",
                        "format": "int32",
                        "type": "integer"
                      },
                      "CompanyRegistrationNumber": {
                        "description": "Client's Company Registration Number",
                        "type": "string"
                      },
                      "CreatedOn": {
                        "description": "Date of creation",
                        "format": "date-time",
                        "type": "string"
                      },
                      "DefaultDueDateInDays": {
                        "description": "Client custom payment terms",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Email": {
                        "description": "Client email",
                        "type": "string"
                      },
                      "Id": {
                        "description": "Entity id",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Name": {
                        "description": "Name of the client",
                        "type": "string"
                      },
                      "PhoneNumber": {
                        "description": "Client phone numer",
                        "type": "string"
                      },
                      "UiLanguageId": {
                        "description": "Hold a value of the language in which the invoice will be sent",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Vat": {
                        "description": "Client's VAT number",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "text/xml": {
                "schema": {
                  "items": {
                    "properties": {
                      "AdditionalEmails": {
                        "description": "Client additional emails contact for CC",
                        "items": {
                          "properties": {
                            "Email": {
                              "description": "CC",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Address": {
                        "description": "Client business address",
                        "type": "string"
                      },
                      "ClientCountryId": {
                        "description": "Indicates the country where the clients is from",
                        "format": "int32",
                        "type": "integer"
                      },
                      "ClientCurrencyId": {
                        "description": "Indicates the default system currency used by the user for the client",
                        "format": "int32",
                        "type": "integer"
                      },
                      "CompanyRegistrationNumber": {
                        "description": "Client's Company Registration Number",
                        "type": "string"
                      },
                      "CreatedOn": {
                        "description": "Date of creation",
                        "format": "date-time",
                        "type": "string"
                      },
                      "DefaultDueDateInDays": {
                        "description": "Client custom payment terms",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Email": {
                        "description": "Client email",
                        "type": "string"
                      },
                      "Id": {
                        "description": "Entity id",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Name": {
                        "description": "Name of the client",
                        "type": "string"
                      },
                      "PhoneNumber": {
                        "description": "Client phone numer",
                        "type": "string"
                      },
                      "UiLanguageId": {
                        "description": "Hold a value of the language in which the invoice will be sent",
                        "format": "int32",
                        "type": "integer"
                      },
                      "Vat": {
                        "description": "Client's VAT number",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Return all clients for the account",
        "tags": [
          "Client"
        ]
      }
    },
    "/api/client/candelete": {
      "get": {
        "operationId": "clientapi-candelete-v2",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-key",
            "required": true,
            "schema": {
              "default": "[authentication key]",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-secret",
            "required": true,
            "schema": {
              "default": "[authentication secret]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/html": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "boolean"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Check if the provided client can be deleted",
        "tags": [
          "Client"
        ]
      }
    },
    "/api/client/delete": {
      "post": {
        "operationId": "clientapi-delete",
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "x-auth-key",
            "required": true,
            "schema": {
              "default": "[authentication key]",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-secret",
            "required": true,
            "schema": {
              "default": "[authentication secret]",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "Id": {
                    "description": "Id of client to be deleted",
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "Id": {
                    "description": "Id of client to be deleted",
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "application/xml": {
              "schema": {
                "properties": {
                  "Id": {
                    "description": "Id of client to be deleted",
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "text/html": {
              "schema": {
                "properties": {
                  "Id": {
                    "description": "Id of client to be deleted",
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "properties": {
                  "Id": {
                    "description": "Id of client to be deleted",
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "properties": {
                  "Id": {
                    "description": "Id of client to be deleted",
                    "format": "int32",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "text/html": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "text/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "text/xml": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Delete an existing client",
        "tags": [
          "Client"
        ]
      }
    },
    "/api/client/details": {
      "get": {
        "operationId": "clientapi-details-v2",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-key",
            "required": true,
            "schema": {
              "default": "[authentication key]",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-secret",
            "required": true,
            "schema": {
              "default": "[authentication secret]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "AdditionalEmails": {
                      "description": "Client additional emails contact for CC",
                      "items": {
                        "properties": {
                          "Email": {
                            "description": "CC",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Address": {
                      "description": "Client business address",
                      "type": "string"
                    },
                    "ClientCountryId": {
                      "description": "Indicates the country where the clients is from",
                      "format": "int32",
                      "type": "integer"
                    },
                    "ClientCurrencyId": {
                      "description": "Indicates the default system currency used by the user for the client",
                      "format": "int32",
                      "type": "integer"
                    },
                    "CompanyRegistrationNumber": {
                      "description": "Client's Company Registration Number",
                      "type": "string"
                    },
                    "CreatedOn": {
                      "description": "Date of creation",
                      "format": "date-time",
                      "type": "string"
                    },
                    "DefaultDueDateInDays": {
                      "description": "Client custom payment terms",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Email": {
                      "description": "Client email",
                      "type": "string"
                    },
                    "Id": {
                      "description": "Entity id",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Name": {
                      "description": "Name of the client",
                      "type": "string"
                    },
                    "PhoneNumber": {
                      "description": "Client phone numer",
                      "type": "string"
                    },
                    "UiLanguageId": {
                      "description": "Hold a value of the language in which the invoice will be sent",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Vat": {
                      "description": "Client's VAT number",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "AdditionalEmails": {
                      "description": "Client additional emails contact for CC",
                      "items": {
                        "properties": {
                          "Email": {
                            "description": "CC",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Address": {
                      "description": "Client business address",
                      "type": "string"
                    },
                    "ClientCountryId": {
                      "description": "Indicates the country where the clients is from",
                      "format": "int32",
                      "type": "integer"
                    },
                    "ClientCurrencyId": {
                      "description": "Indicates the default system currency used by the user for the client",
                      "format": "int32",
                      "type": "integer"
                    },
                    "CompanyRegistrationNumber": {
                      "description": "Client's Company Registration Number",
                      "type": "string"
                    },
                    "CreatedOn": {
                      "description": "Date of creation",
                      "format": "date-time",
                      "type": "string"
                    },
                    "DefaultDueDateInDays": {
                      "description": "Client custom payment terms",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Email": {
                      "description": "Client email",
                      "type": "string"
                    },
                    "Id": {
                      "description": "Entity id",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Name": {
                      "description": "Name of the client",
                      "type": "string"
                    },
                    "PhoneNumber": {
                      "description": "Client phone numer",
                      "type": "string"
                    },
                    "UiLanguageId": {
                      "description": "Hold a value of the language in which the invoice will be sent",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Vat": {
                      "description": "Client's VAT number",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "properties": {
                    "AdditionalEmails": {
                      "description": "Client additional emails contact for CC",
                      "items": {
                        "properties": {
                          "Email": {
                            "description": "CC",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Address": {
                      "description": "Client business address",
                      "type": "string"
                    },
                    "ClientCountryId": {
                      "description": "Indicates the country where the clients is from",
                      "format": "int32",
                      "type": "integer"
                    },
                    "ClientCurrencyId": {
                      "description": "Indicates the default system currency used by the user for the client",
                      "format": "int32",
                      "type": "integer"
                    },
                    "CompanyRegistrationNumber": {
                      "description": "Client's Company Registration Number",
                      "type": "string"
                    },
                    "CreatedOn": {
                      "description": "Date of creation",
                      "format": "date-time",
                      "type": "string"
                    },
                    "DefaultDueDateInDays": {
                      "description": "Client custom payment terms",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Email": {
                      "description": "Client email",
                      "type": "string"
                    },
                    "Id": {
                      "description": "Entity id",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Name": {
                      "description": "Name of the client",
                      "type": "string"
                    },
                    "PhoneNumber": {
                      "description": "Client phone numer",
                      "type": "string"
                    },
                    "UiLanguageId": {
                      "description": "Hold a value of the language in which the invoice will be sent",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Vat": {
                      "description": "Client's VAT number",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "properties": {
                    "AdditionalEmails": {
                      "description": "Client additional emails contact for CC",
                      "items": {
                        "properties": {
                          "Email": {
                            "description": "CC",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Address": {
                      "description": "Client business address",
                      "type": "string"
                    },
                    "ClientCountryId": {
                      "description": "Indicates the country where the clients is from",
                      "format": "int32",
                      "type": "integer"
                    },
                    "ClientCurrencyId": {
                      "description": "Indicates the default system currency used by the user for the client",
                      "format": "int32",
                      "type": "integer"
                    },
                    "CompanyRegistrationNumber": {
                      "description": "Client's Company Registration Number",
                      "type": "string"
                    },
                    "CreatedOn": {
                      "description": "Date of creation",
                      "format": "date-time",
                      "type": "string"
                    },
                    "DefaultDueDateInDays": {
                      "description": "Client custom payment terms",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Email": {
                      "description": "Client email",
                      "type": "string"
                    },
                    "Id": {
                      "description": "Entity id",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Name": {
                      "description": "Name of the client",
                      "type": "string"
                    },
                    "PhoneNumber": {
                      "description": "Client phone numer",
                      "type": "string"
                    },
                    "UiLanguageId": {
                      "description": "Hold a value of the language in which the invoice will be sent",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Vat": {
                      "description": "Client's VAT number",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "AdditionalEmails": {
                      "description": "Client additional emails contact for CC",
                      "items": {
                        "properties": {
                          "Email": {
                            "description": "CC",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "Address": {
                      "description": "Client business address",
                      "type": "string"
                    },
                    "ClientCountryId": {
                      "description": "Indicates the country where the clients is from",
                      "format": "int32",
                      "type": "integer"
                    },
                    "ClientCurrencyId": {
                      "description": "Indicates the default system currency used by the user for the client",
                      "format": "int32",
                      "type": "integer"
                    },
                    "CompanyRegistrationNumber": {
                      "description": "Client's Company Registration Number",
                      "type": "string"
                    },
                    "CreatedOn": {
                      "description": "Date of creation",
                      "format": "date-time",
                      "type": "string"
                    },
                    "DefaultDueDateInDays": {
                      "description": "Client custom payment terms",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Email": {
                      "description": "Client email",
                      "type": "string"
                    },
                    "Id": {
                      "description": "Entity id",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Name": {
                      "description": "Name of the client",
                      "type": "string"
                    },
                    "PhoneNumber": {
                      "description": "Client phone numer",
                      "type": "string"
                    },
                    "UiLanguageId": {
                      "description": "Hold a value of the language in which the invoice will be sent",
                      "format": "int32",
                      "type": "integer"
                    },
                    "Vat": {
                      "description": "Client's VAT number",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Return client details. Activities and invoices included.",
        "tags": [
          "Client"
        ]
      }
    },
    "/api/client/new": {
      "post": {
        "operationId": "clientapi-new-v2",
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "x-auth-key",
            "required": true,
            "schema": {
              "default": "[authentication key]",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-secret",
            "required": true,
            "schema": {
              "default": "[authentication secret]",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/xml": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "text/html": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "application/xml": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "text/html": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "text/json": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              },
              "text/xml": {
                "schema": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Create a client",
        "tags": [
          "Client"
        ]
      }
    },
    "/api/client/update": {
      "post": {
        "operationId": "clientapi-update-v2",
        "parameters": [
          {
            "description": "",
            "in": "header",
            "name": "x-auth-key",
            "required": true,
            "schema": {
              "default": "[authentication key]",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-secret",
            "required": true,
            "schema": {
              "default": "[authentication secret]",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Id": {
                    "description": "Entity id",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Id": {
                    "description": "Entity id",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "application/xml": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Id": {
                    "description": "Entity id",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "text/html": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Id": {
                    "description": "Entity id",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "text/json": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Id": {
                    "description": "Entity id",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "properties": {
                  "AdditionalEmails": {
                    "description": "Client additional emails contact for CC",
                    "items": {
                      "properties": {
                        "Email": {
                          "description": "CC",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "Address": {
                    "description": "Client business address",
                    "type": "string"
                  },
                  "ClientCountryId": {
                    "description": "Indicates the country where the clients is from",
                    "format": "int32",
                    "type": "integer"
                  },
                  "ClientCurrencyId": {
                    "description": "Indicates the default system currency used by the user for the client",
                    "format": "int32",
                    "type": "integer"
                  },
                  "CompanyRegistrationNumber": {
                    "description": "Client's Company Registration Number",
                    "type": "string"
                  },
                  "DefaultDueDateInDays": {
                    "description": "Client custom payment terms",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Email": {
                    "description": "Client email",
                    "type": "string"
                  },
                  "Id": {
                    "description": "Entity id",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Name": {
                    "description": "Name of the client",
                    "type": "string"
                  },
                  "PhoneNumber": {
                    "description": "Client phone numer",
                    "type": "string"
                  },
                  "UiLanguageId": {
                    "description": "Hold a value of the language in which the invoice will be sent",
                    "format": "int32",
                    "type": "integer"
                  },
                  "Vat": {
                    "description": "Client's VAT number",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Update an existing client",
        "tags": [
          "Client"
        ]
      }
    },
    "/api/estimation/all": {
      "get": {
        "operationId": "estimationapi-all-v2",
        "parameters": [
          {
            "in": "query",
            "name": "queryOptions.page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "queryOptions.pageSize",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-key",
            "required": true,
            "schema": {
              "default": "[authentication key]",
              "type": "string"
            }
          },
          {
            "description": "",
            "in": "header",
            "name": "x-auth-secret",
            "required": true,
            "schema": {
              "default": "[authentication secret]",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Count": {
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "ErrorMessages": {
                      "items": {
                        "properties": {
                          "Code": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "FaultMessage": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "Group": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "UserVisibleMessage": {
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "IsFaulted": {
                      "type": "boolean"
                    },
                    "Result": {
                      "items": {
                        "properties": {
                          "AccessToken": {
                            "description": "Security access token used for accessing the estimation anonymously",
                            "type": "string"
                          },
                          "Client": {
                            "properties": {
                              "AdditionalEmails": {
                                "description": "Client additional emails contact for CC",
                                "items": {
                                  "properties": {
                                    "Email": {
                                      "description": "CC",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "Address": {
                                "description": "Client business address",
                                "type": "string"
                              },
                              "ClientCountryId": {
                                "description": "Indicates the country where the clients is from",
                                "format": "int32",
                                "type": "integer"
                              },
                              "ClientCurrencyId": {
                                "description": "Indicates the default system currency used by the user for the client",
                                "format": "int32",
                                "type": "integer"
                              },
                              "CompanyRegistrationNumber": {
                                "description": "Client's Company Registration Number",
                                "type": "string"
                              },
                              "CreatedOn": {
                                "description": "Date of creation",
                                "format": "date-time",
                                "type": "string"
                              },
                              "DefaultDueDateInDays": {
                                "description": "Client custom payment terms",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Email": {
                                "description": "Client email",
                                "type": "string"
                              },
                              "Id": {
                                "description": "Entity id",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "description": "Name of the client",
                                "type": "string"
                              },
                              "PhoneNumber": {
                                "description": "Client phone numer",
                                "type": "string"
                              },
                              "UiLanguageId": {
                                "description": "Hold a value of the language in which the invoice will be sent",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Vat": {
                                "description": "Client's VAT number",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "ClonedFromId": {
                            "description": "Indicate from which estimation this estimation has been cloned from",
                            "format": "int32",
                            "type": "integer"
                          },
                          "Currency": {
                            "properties": {
                              "Code": {
                                "description": "Currency short numeric code",
                                "type": "string"
                              },
                              "Id": {
                                "description": "Entity id",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "description": "Name of the country",
                                "type": "string"
                              },
                              "Symbol": {
                                "description": "Currency symbol",
                                "type": "string"
                              },
                              "Value": {
                                "description": "Currency short alpha code",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "DiscountAmount": {
                            "description": "Amount that goes as a discount",
                            "format": "double",
                            "type": "number"
                          },
                          "ExpiresOn": {
                            "description": "Indicates when the estimation will be proclamed as due",
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "description": "Estimation id",
                            "format": "int32",
                            "type": "integer"
                          },
                          "IssuedOn": {
                            "description": "Indicates when the estimation was issued",
                            "format": "date-time",
                            "type": "string"
                          },
                          "Notes": {
                            "description": "Internal note regarding the estimation",
                            "type": "string"
                          },
                          "Number": {
                            "description": "Unique estimation number",
                            "type": "string"
                          },
                          "PoNumber": {
                            "description": "Unique number generated by the buyer",
                            "type": "string"
                          },
                          "Status": {
                            "description": "Indicate the status of the estimation (paid/unpaid/overdue)",
                            "enum": [
                              "Draft",
                              "Accepted",
                              "Rejected"
                            ],
                            "type": "string"
                          },
                          "SubTotalAmount": {
                            "description": "Total amount of the estimation without tax",
                            "format": "double",
                            "type": "number"
                          },
                          "TaxAmount": {
                            "description": "Amount that goes to the tax",
                            "format": "double",
                            "type": "number"
                          },
                          "Terms": {
                            "description": "Terms of agreement",
                            "type": "string"
                          },
                          "TotalAmount": {
                            "description": "Total amount of the estimation with tax",
                            "format": "double",
                            "type": "number"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "TotalCount": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "Count": {
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "ErrorMessages": {
                      "items": {
                        "properties": {
                          "Code": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "FaultMessage": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "Group": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "UserVisibleMessage": {
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "IsFaulted": {
                      "type": "boolean"
                    },
                    "Result": {
                      "items": {
                        "properties": {
                          "AccessToken": {
                            "description": "Security access token used for accessing the estimation anonymously",
                            "type": "string"
                          },
                          "Client": {
                            "properties": {
                              "AdditionalEmails": {
                                "description": "Client additional emails contact for CC",
                                "items": {
                                  "properties": {
                                    "Email": {
                                      "description": "CC",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "Address": {
                                "description": "Client business address",
                                "type": "string"
                              },
                              "ClientCountryId": {
                                "description": "Indicates the country where the clients is from",
                                "format": "int32",
                                "type": "integer"
                              },
                              "ClientCurrencyId": {
                                "description": "Indicates the default system currency used by the user for the client",
                                "format": "int32",
                                "type": "integer"
                              },
                              "CompanyRegistrationNumber": {
                                "description": "Client's Company Registration Number",
                                "type": "string"
                              },
                              "CreatedOn": {
                                "description": "Date of creation",
                                "format": "date-time",
                                "type": "string"
                              },
                              "DefaultDueDateInDays": {
                                "description": "Client custom payment terms",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Email": {
                                "description": "Client email",
                                "type": "string"
                              },
                              "Id": {
                                "description": "Entity id",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "description": "Name of the client",
                                "type": "string"
                              },
                              "PhoneNumber": {
                                "description": "Client phone numer",
                                "type": "string"
                              },
                              "UiLanguageId": {
                                "description": "Hold a value of the language in which the invoice will be sent",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Vat": {
                                "description": "Client's VAT number",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "ClonedFromId": {
                            "description": "Indicate from which estimation this estimation has been cloned from",
                            "format": "int32",
                            "type": "integer"
                          },
                          "Currency": {
                            "properties": {
                              "Code": {
                                "description": "Currency short numeric code",
                                "type": "string"
                              },
                              "Id": {
                                "description": "Entity id",
                                "format": "int32",
                                "type": "integer"
                              },
                              "Name": {
                                "description": "Name of the country",
                                "type": "string"
                              },
                              "Symbol": {
                                "description": "Currency symbol",
                                "type": "string"
                              },
                              "Value": {
                                "description": "Currency short alpha code",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "DiscountAmount": {
                            "description": "Amount that goes as a discount",
                            "format": "double",
                            "type": "number"
                          },
                          "ExpiresOn": {
                            "description": "Indicates when the estimation will be proclamed as due",
                            "format": "date-time",
                            "type": "string"
                          },
                          "Id": {
                            "description": "Estimation id",
                            "format": "int32",
                            "type": "integer"
                          },
                          "IssuedOn": {
                            "description": "Indicates when the estimation was issued",
                            "format": "date-time",
                            "type": "string"
                          },
                          "Notes": {
                            "description": "Internal note regarding the estimation",
                            "type": "string"
                          },
                          "Number": {
                            "description": "Unique estimation number",
                            "type": "string"
                          },
                          "PoNumber": {
                            "description": "Unique number generated by the buyer",
                            "type": "string"
                          },
                          "Status": {
                            "description": "Indicate the status of the estimation (paid/unpaid/overdue)",
                            "enum": [
                              "Draft",
                              "Accepted",
                              "Rejected"
                            ],
                            "type": "string"
                          },
                          "SubTotalAmount": {
                            "description": "Total amount of the estimation without tax",
                            "format": "double",
                            "type": "number"
                          },
                          "TaxAmount": {
                            "description": "Amount that goes to the tax",
                            "format": "double",
                            "type": "number"
                          },
                          "Terms": {
                            "description": "Terms of agreement",
                            "type": "string"
                          },
                          "TotalAmount": {
                            "description": "Total amount of the estimation with tax",
                            "format": "double",
                            "type": "number"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "TotalCount": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/html": {
                "schema": {
                  "properties": {
                    "Count": {
                      "format": "int32",
                      "readOnly": true,
                      "type": "integer"
                    },
                    "ErrorMessages": {
                      "items": {
                        "properties": {
                          "Code": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "FaultMessage": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "Group": {
                            "readOnly": true,
                            "type": "string"
                          },
                          "UserVisibleMessage": {
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "IsFaulted": {
                      "type": "boolean"
                    },
                    "Result": {
                      "items": {
                        "properties": {
                          "AccessToken": {
                            "description": "Security access token used for accessing the estimation anonymously",
                            "type": "string"
                          },
                          "Client": {
                            "properties": {
                              "AdditionalEmails": {
                                "description": "Client additional emails contact for CC",
                                "items": {
                                  "properties": {
                                    "Email": {
[...]
