{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "ioe2api.ijenko.net",
  "info": {
    "contact": {
      "email": "contact@ijenko.com",
      "name": "IJENKO",
      "url": "http://developers.ijenko.com/"
    },
    "title": "IoE² IoT API - to create end-user applications",
    "version": "3.0.0",
    "x-apisguru-categories": [
      "iot"
    ],
    "x-logo": {
      "backgroundColor": "#383D41",
      "url": "https://pbs.twimg.com/profile_images/1706275304/_0_logo_carr__fd_gris_400x400.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://developers.ijenko.com/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "ijenko.net"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Token in Access-Token header": {
      "description": "Token in Access-Token header",
      "in": "header",
      "name": "Access-Token",
      "type": "apiKey"
    },
    "Token in query": {
      "description": "Token in query",
      "in": "query",
      "name": "token",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "Token in query": []
    },
    {
      "Token in Access-Token header": []
    }
  ],
  "parameters": {
    "accountId": {
      "description": "Unique identifier of an *Account*.",
      "in": "path",
      "name": "accountId",
      "required": true,
      "type": "string"
    },
    "action": {
      "description": "Identifier of an *Action* inside a *Functionality*.",
      "in": "path",
      "name": "action",
      "required": true,
      "type": "string"
    },
    "attributeName": {
      "description": "Identifier of an *Attribute* inside a *Functionality*.",
      "in": "path",
      "name": "attributeName",
      "required": true,
      "type": "string"
    },
    "attributesNames": {
      "collectionFormat": "csv",
      "description": "One or multiple *Attribute* names separated by commas",
      "in": "query",
      "items": {
        "type": "string"
      },
      "name": "names",
      "required": false,
      "type": "array"
    },
    "busId": {
      "description": "Unique identifier of a *Bus*.",
      "in": "path",
      "name": "busId",
      "required": true,
      "type": "string"
    },
    "deviceId": {
      "description": "Unique identifier of a *Device*.",
      "in": "path",
      "name": "deviceId",
      "required": true,
      "type": "string"
    },
    "devicesSelector.Opt": {
      "description": "Devices selector. Device tags or device classes or device ids or '*' for any. Multiple values are separated by '|' and interpreted as « OR ».",
      "in": "query",
      "name": "devices",
      "pattern": "^(?:\\\\*|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
      "required": false,
      "type": "string"
    },
    "devicesSelector.Req": {
      "description": "Devices selector. Device tags or device classes or device ids or '*' for any. Multiple values are separated by '|' and interpreted as « OR ».",
      "in": "query",
      "name": "devices",
      "pattern": "^(?:\\\\*|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Z0-9]{3}|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
      "required": true,
      "type": "string"
    },
    "embedMetadata": {
      "collectionFormat": "csv",
      "description": "Request to include the given keys of metadata in the response. If a key doesn't exist on the resource it is ignored.\n**Note:** This only applies to the top level resources.\n",
      "in": "query",
      "items": {
        "type": "string"
      },
      "name": "embed-metadata",
      "required": false,
      "type": "array"
    },
    "from.Opt": {
      "description": "Beginning of the time interval.",
      "format": "date-time",
      "in": "query",
      "name": "from",
      "required": false,
      "type": "string"
    },
    "from.Req": {
      "description": "Beginning of the time interval.",
      "format": "date-time",
      "in": "query",
      "name": "from",
      "required": true,
      "type": "string"
    },
    "functionalitiesSelector.Opt": {
      "description": "Functionality selector: Functionality tags or functionality class (optionally, '@' followed by a endpoint in decimal) or '*' for all. Multiple values are separated by '|' and are interpreted as « OR ».\n",
      "in": "query",
      "name": "functionalities",
      "pattern": "^(?:\\\\*|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
      "required": false,
      "type": "string"
    },
    "functionalitiesSelector.Req": {
      "description": "Functionality selector: Functionality tags or functionality class (optionally, '@' followed by a endpoint in decimal) or '*' for all. Multiple values are separated by '|' and are interpreted as « OR ».\n",
      "in": "query",
      "name": "functionalities",
      "pattern": "^(?:\\\\*|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22})(?:\\\\|(?:[A-Z][A-Za-z0-9]+(?:@(?:0|1[0-9]{,2}|[3-9][0-9]?|2(?:[0-4][0-9]?|5[0-5]?|[6-9])?))?|[a-z][a-z0-9_:]{0,20}|[A-Za-z0-9-_]{22}))*)$",
      "required": true,
      "type": "string"
    },
    "functionalityId": {
      "description": "Unique identifier of a *Functionality*.",
      "in": "path",
      "name": "functionalityId",
      "required": true,
      "type": "string"
    },
    "metadataPatch": {
      "description": "Modifications to apply to the metadata of the resource.\n",
      "in": "body",
      "name": "metadataPatch",
      "required": true,
      "schema": {
        "properties": {
          "add": {
            "additionalProperties": {
              "description": "null/boolean/integer/number/string/object/array",
              "x-type": "any"
            },
            "description": "list of pairs key/value to add/replace",
            "type": "object"
          },
          "remove": {
            "description": "list of keys to remove",
            "items": {
              "maxLength": 21,
              "minLength": 1,
              "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
              "type": "string"
            },
            "type": "array",
            "uniqueItems": true
          }
        },
        "type": "object"
      }
    },
    "notificationId": {
      "description": "Unique identifier of a *Notification*.",
      "in": "path",
      "name": "notificationId",
      "required": true,
      "type": "string"
    },
    "placeId": {
      "description": "Unique identifier of a *Place*.",
      "in": "path",
      "name": "placeId",
      "required": true,
      "type": "string"
    },
    "programId": {
      "description": "Unique identifier of a *Program*.",
      "in": "path",
      "name": "programId",
      "required": true,
      "type": "string"
    },
    "span.Req": {
      "description": "Timespan: H (hour), D (day), Wmo (week starting on Monday), Wsu (week starting on Sunday), M (month), Y (year)",
      "enum": [
        "H",
        "D",
        "Wmo",
        "Wsu",
        "M",
        "Y"
      ],
      "in": "query",
      "name": "span",
      "required": true,
      "type": "string"
    },
    "tagsPatch": {
      "description": "Modifications to apply to the tags list of the resource.\n",
      "in": "body",
      "name": "tagsPatch",
      "required": true,
      "schema": {
        "properties": {
          "add": {
            "description": "list of tags to add",
            "items": {
              "maxLength": 21,
              "minLength": 1,
              "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
              "type": "string"
            },
            "type": "array",
            "uniqueItems": true
          },
          "remove": {
            "description": "list of tags to remove",
            "items": {
              "maxLength": 21,
              "minLength": 1,
              "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
              "type": "string"
            },
            "type": "array",
            "uniqueItems": true
          }
        },
        "type": "object"
      }
    },
    "to": {
      "description": "End of the interval. Default: now.\n",
      "format": "date-time",
      "in": "query",
      "name": "to",
      "required": false,
      "type": "string"
    },
    "tokenId": {
      "description": "Identifier of the token",
      "in": "path",
      "name": "tokenId",
      "required": true,
      "type": "string"
    },
    "userId": {
      "description": "Unique identifier of a *User*.",
      "in": "path",
      "name": "userId",
      "required": true,
      "type": "string"
    },
    "when.Req": {
      "description": "A time part of the time span.",
      "format": "date-time",
      "in": "query",
      "name": "when",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "ActionMultiResultOK": {
      "description": "Successful.",
      "schema": {
        "items": {
          "example": {
            "functionality": "RnVuY3Rpb25hbGl0eTAwMA",
            "result": [],
            "status": 200
          },
          "properties": {
            "functionality": {
              "description": "Unique identifier of the *Functionality*",
              "example": "RnVuY3Rpb25hbGl0eTAwMA",
              "maxLength": 22,
              "minLength": 22,
              "pattern": "^[A-Za-z0-9-_]{22}$",
              "readOnly": true,
              "type": "string"
            },
            "result": {
              "items": {
                "description": "null/boolean/integer/number/string/object/array",
                "x-type": "any"
              },
              "type": "array"
            },
            "status": {
              "description": "Return code (HTTP status code)",
              "example": 200,
              "maximum": 599,
              "minimum": 200,
              "type": "integer"
            }
          },
          "required": [
            "status"
          ],
          "type": "object",
          "x-links": [
            {
              "href": "/functionalities/{functionality}",
              "rel": "functionality"
            }
          ]
        },
        "type": "array"
      }
    },
    "DefaultError": {
      "description": "Other error.",
      "schema": {
        "description": "Any error.",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      }
    },
    "DeleteOK": {
      "description": "Resource successfully deleted."
    },
    "ErrorAccessAccount": {
      "description": "The authentication token doesn't allow to modify the *Account*.\n",
      "schema": {
        "description": "An error related to access to an entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Device",
                  "Functionality",
                  "Notification",
                  "Place",
                  "Program",
                  "User",
                  "Account",
                  "AccountsBase"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorAccessBus": {
      "description": "*Bus* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n",
      "schema": {
        "description": "An error related to access to an sub-entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Action",
                  "Attribute",
                  "Bus"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              },
              "parent": {
                "description": "Container resource.",
                "properties": {
                  "entity": {
                    "enum": [
                      "Place",
                      "Functionality"
                    ],
                    "type": "string"
                  },
                  "id": {
                    "minLength": 1,
                    "type": "string"
                  }
                },
                "required": [
                  "entity",
                  "id"
                ],
                "type": "object"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorAccessDevice": {
      "description": "*Device* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n",
      "schema": {
        "description": "An error related to access to an entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Device",
                  "Functionality",
                  "Notification",
                  "Place",
                  "Program",
                  "User",
                  "Account",
                  "AccountsBase"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorAccessFunctionality": {
      "description": "*Functionality* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n",
      "schema": {
        "description": "An error related to access to an entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Device",
                  "Functionality",
                  "Notification",
                  "Place",
                  "Program",
                  "User",
                  "Account",
                  "AccountsBase"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorAccessNotification": {
      "description": "*Notification* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n",
      "schema": {
        "description": "An error related to access to an entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Device",
                  "Functionality",
                  "Notification",
                  "Place",
                  "Program",
                  "User",
                  "Account",
                  "AccountsBase"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorAccessPlace": {
      "description": "*Place* doesn't exist or the requester doesn't have access.\n",
      "schema": {
        "description": "An error related to access to an entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Device",
                  "Functionality",
                  "Notification",
                  "Place",
                  "Program",
                  "User",
                  "Account",
                  "AccountsBase"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorAccessProgram": {
      "description": "*Program* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n",
      "schema": {
        "description": "An error related to access to an entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Device",
                  "Functionality",
                  "Notification",
                  "Place",
                  "Program",
                  "User",
                  "Account",
                  "AccountsBase"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorAccessUser": {
      "description": "*User* doesn't exist in this *Account* or the requester doesn't have access to a *Place* on which this *User* has access.\n",
      "schema": {
        "description": "An error related to access to an entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Device",
                  "Functionality",
                  "Notification",
                  "Place",
                  "Program",
                  "User",
                  "Account",
                  "AccountsBase"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "ErrorGatewayUnreachable": {
      "description": "The gateway of the Place is not reachable.",
      "schema": {
        "description": "The gateway of the Place is not reachable.",
        "properties": {
          "code": {
            "enum": [
              "450"
            ],
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ],
        "type": "object"
      }
    },
    "ErrorWriteAttribute": {
      "description": "*Attribute* is not writable.\n",
      "schema": {
        "description": "An error related to access to an sub-entity (400, 403, 404, 410)",
        "properties": {
          "code": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "resource": {
            "properties": {
              "entity": {
                "enum": [
                  "Action",
                  "Attribute",
                  "Bus"
                ],
                "type": "string"
              },
              "href": {
                "minLength": 1,
                "type": "string"
              },
              "id": {
                "minLength": 1,
                "type": "string"
              },
              "parent": {
                "description": "Container resource.",
                "properties": {
                  "entity": {
                    "enum": [
                      "Place",
                      "Functionality"
                    ],
                    "type": "string"
                  },
                  "id": {
                    "minLength": 1,
                    "type": "string"
                  }
                },
                "required": [
                  "entity",
                  "id"
                ],
                "type": "object"
              }
            },
            "required": [
              "id",
              "entity",
              "href"
            ],
            "type": "object"
          }
        },
        "required": [
          "code",
          "message",
          "resource"
        ],
        "type": "object"
      }
    },
    "PatchNotModified": {
      "description": "Successful, but nothing changed."
    },
    "PatchOK": {
      "description": "Modification successful."
    }
  },
  "tags": [
    {
      "name": "Entry points"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Account"
    },
    {
      "name": "User"
    },
    {
      "name": "Place"
    },
    {
      "name": "Device"
    },
    {
      "name": "Functionality"
    },
    {
      "name": "Action"
    },
    {
      "name": "Program"
    },
    {
      "name": "Notification"
    },
    {
      "name": "Electricity"
    }
  ],
  "paths": {
    "/account/change-password": {
      "post": {
        "description": "Set a new password for the account.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "account-changepassword",
        "parameters": [
          {
            "description": "Old and new password",
            "in": "body",
            "name": "changePasswordInfo",
            "required": true,
            "schema": {
              "properties": {
                "newPassword": {
                  "format": "password",
                  "minLength": 5,
                  "type": "string"
                },
                "oldPassword": {
                  "format": "password",
                  "minLength": 5,
                  "type": "string"
                }
              },
              "required": [
                "oldPassword",
                "newPassword"
              ],
              "type": "object"
            }
          },
          {
            "name": "q040394",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "204": {
            "description": "Change successful."
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Change the password",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/places": {
      "get": {
        "description": "List the *Places* of the account.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "account-places-v2",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "items": {
                "properties": {
                  "id": {
                    "description": "Unique identifier of the *Place*",
                    "example": "3HA6YcSCTSFX6SPPrI9PxQ",
                    "maxLength": 22,
                    "minLength": 22,
                    "pattern": "^[A-Za-z0-9-_]{22}$",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "readOnly": true,
                "required": [
                  "id",
                  "name"
                ],
                "type": "object",
                "x-links": [
                  {
                    "href": "/places/{id}",
                    "rel": "full"
                  }
                ]
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          }
        },
        "summary": "List Places of the Account",
        "tags": [
          "Account"
        ]
      },
      "parameters": [],
      "post": {
        "description": "Create a new *Place*.\n\nA *Device* (`class`: `MINT`, `address`: `0`) is automatically created and attached to the new *Place*.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "account-newplace",
        "parameters": [
          {
            "in": "body",
            "name": "place",
            "schema": {
              "properties": {
                "country": {
                  "description": "Country code (ISO 3166-1 alpha-2)",
                  "example": "FR",
                  "maxLength": 2,
                  "minLength": 2,
                  "pattern": "^[A-Z][A-Z]$",
                  "type": "string"
                },
                "metadata": {
                  "additionalProperties": {
                    "description": "null/boolean/integer/number/string/object/array",
                    "x-type": "any"
                  },
                  "description": "Keys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.",
                  "type": "object"
                },
                "name": {
                  "example": "⌂ Home",
                  "minLength": 1,
                  "type": "string"
                },
                "timeZone": {
                  "description": "A time zone name from the Time Zone Database at https://www.iana.org/time-zones",
                  "example": "Europe/Paris",
                  "minLength": 2,
                  "pattern": "^[A-Z][A-Za-z0-9-_+]+(?:/[A-Z][A-Za-z0-9-_+]+)*$",
                  "type": "string"
                },
                "zipCode": {
                  "description": "Postal code",
                  "maxLength": 10,
                  "minLength": 0,
                  "pattern": "^(?:[A-Z0-9](?:[A-Z0-9][- ]?)*[A-Z0-9])?$",
                  "type": "string"
                }
              },
              "required": [
                "name",
                "zipCode",
                "country",
                "timeZone"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "*Place* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the Place created (`/places/{id}`)",
                "type": "string"
              }
            },
            "schema": {
              "description": "A resource has been created. The `resource` property gives its reference.",
              "example": {
                "code": 201,
                "message": "Place created",
                "resource": {
                  "entity": "Place",
                  "href": "/places/3HA6YcSCTSFX6SPPrI9PxQ",
                  "id": "3HA6YcSCTSFX6SPPrI9PxQ"
                }
              },
              "properties": {
                "code": {
                  "enum": [
                    201
                  ],
                  "example": 201,
                  "type": "integer"
                },
                "message": {
                  "enum": [
                    "Place created"
                  ],
                  "type": "string"
                },
                "resource": {
                  "example": {
                    "entity": "Place",
                    "href": "/places/3HA6YcSCTSFX6SPPrI9PxQ",
                    "id": "3HA6YcSCTSFX6SPPrI9PxQ"
                  },
                  "properties": {
                    "entity": {
                      "enum": [
                        "Place"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "description": "Unique identifier of the *Place*",
                      "example": "3HA6YcSCTSFX6SPPrI9PxQ",
                      "maxLength": 22,
                      "minLength": 22,
                      "pattern": "^[A-Za-z0-9-_]{22}$",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Create a Place",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/tokens": {
      "get": {
        "description": "List the active *Tokens* on the account.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "account-tokens",
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "items": {
                "description": "Token for User API access",
                "properties": {
                  "appName": {
                    "description": "Application name",
                    "example": "Home Eopath",
                    "type": "string"
                  },
                  "id": {
                    "example": "dfSDdRcsd",
                    "minLength": 1,
                    "type": "string"
                  },
                  "lastUse": {
                    "description": "Time of last use of the token to access the API. Updated at most every 15 minutes. If absent, the token has never been used.",
                    "format": "date-time",
                    "type": "string"
                  },
                  "places": {
                    "description": "List of Places to which the User has access. If absent, it means any Place of the account are allowed.",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "Unique identifier of the *Place*",
                          "example": "3HA6YcSCTSFX6SPPrI9PxQ",
                          "maxLength": 22,
                          "minLength": 22,
                          "pattern": "^[A-Za-z0-9-_]{22}$",
                          "readOnly": true,
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      },
                      "readOnly": true,
                      "required": [
                        "id",
                        "name"
                      ],
                      "type": "object",
                      "x-links": [
                        {
                          "href": "/places/{id}",
                          "rel": "full"
                        }
                      ]
                    },
                    "type": "array",
                    "uniqueItems": true
                  },
                  "refreshTokenExpires": {
                    "description": "If absent, infinite validity.",
                    "format": "date-time",
                    "type": "string"
                  },
                  "self": {
                    "description": "True if this token is the one used for this API request",
                    "type": "boolean"
                  },
                  "user": {
                    "properties": {
                      "canLogin": {
                        "default": false,
                        "description": "true if the user owning the account (can get tokens with /auth/login)",
                        "example": false,
                        "readOnly": true,
                        "type": "boolean"
                      },
                      "email": {
                        "format": "email",
                        "minLength": 6,
                        "type": "string"
                      },
                      "id": {
                        "description": "Unique identifier of the *User*",
                        "example": "RGV2aWNlMDAwMDAwMDAwMZ",
                        "maxLength": 22,
                        "minLength": 22,
                        "pattern": "^[A-Za-z0-9-_]{22}$",
                        "readOnly": true,
                        "type": "string"
                      },
                      "locale": {
                        "description": "Locale identifier (language, region). See https://tools.ietf.org/html/rfc5646 and https://www.iana.org/assignments/lang-subtags-templates/lang-subtags-templates.xhtml .\n",
                        "example": "fr-FR",
                        "minLength": 2,
                        "pattern": "^[a-z]{2}[A-Za-z0-9-]*$",
                        "type": "string"
                      },
                      "metadata": {
                        "additionalProperties": {
                          "description": "null/boolean/integer/number/string/object/array",
                          "x-type": "any"
                        },
                        "description": "Subset of metadata attached to the resource selected using the 'embed-metadata' parameter",
                        "type": "object"
                      },
                      "name": {
                        "minLength": 1,
                        "type": "string"
                      },
                      "phoneNumber": {
                        "description": "Phone number of the *User* in international format, for SMS notifications.",
                        "example": "+33177494646",
                        "minLength": 6,
                        "pattern": "^\\+[0-9]{5,}$",
                        "type": "string"
                      }
                    },
                    "required": [
                      "email",
                      "name",
                      "locale",
                      "id"
                    ],
                    "type": "object",
                    "x-links": [
                      {
                        "href": "/users/{id}",
                        "rel": "full"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "appName",
                  "user"
                ],
                "type": "object"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "List active Tokens of the Account",
        "tags": [
          "Account"
        ]
      },
      "parameters": []
    },
    "/account/tokens/sku": {
      "delete": {
        "description": "Revoke the given *Token*.\n\n**Note:** requires full access to the *Account*.\n",
        "operationId": "account-revoketoken",
        "responses": {
          "204": {
            "description": "Resource successfully deleted."
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Revoke a Token",
        "tags": [
          "Account"
        ]
      },
      "parameters": [
        {
          "description": "Identifier of the token",
          "in": "path",
          "name": "tokenId",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/account/users": {
      "get": {
        "description": "Get the list of *Users* of this *Account*.",
        "operationId": "account-users",
        "parameters": [
          {
            "collectionFormat": "csv",
            "description": "Request to include the given keys of metadata in the response. If a key doesn't exist on the resource it is ignored.\n**Note:** This only applies to the top level resources.\n",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "embed-metadata",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "items": {
                "properties": {
                  "canLogin": {
                    "default": false,
                    "description": "true if the user owning the account (can get tokens with /auth/login)",
                    "example": false,
                    "readOnly": true,
                    "type": "boolean"
                  },
                  "email": {
                    "format": "email",
                    "minLength": 6,
                    "type": "string"
                  },
                  "id": {
                    "description": "Unique identifier of the *User*",
                    "example": "RGV2aWNlMDAwMDAwMDAwMZ",
                    "maxLength": 22,
                    "minLength": 22,
                    "pattern": "^[A-Za-z0-9-_]{22}$",
                    "readOnly": true,
                    "type": "string"
                  },
                  "locale": {
                    "description": "Locale identifier (language, region). See https://tools.ietf.org/html/rfc5646 and https://www.iana.org/assignments/lang-subtags-templates/lang-subtags-templates.xhtml .\n",
                    "example": "fr-FR",
                    "minLength": 2,
                    "pattern": "^[a-z]{2}[A-Za-z0-9-]*$",
                    "type": "string"
                  },
                  "metadata": {
                    "additionalProperties": {
                      "description": "null/boolean/integer/number/string/object/array",
                      "x-type": "any"
                    },
                    "description": "Subset of metadata attached to the resource selected using the 'embed-metadata' parameter",
                    "type": "object"
                  },
                  "name": {
                    "minLength": 1,
                    "type": "string"
                  },
                  "phoneNumber": {
                    "description": "Phone number of the *User* in international format, for SMS notifications.",
                    "example": "+33177494646",
                    "minLength": 6,
                    "pattern": "^\\+[0-9]{5,}$",
                    "type": "string"
                  }
                },
                "required": [
                  "email",
                  "name",
                  "locale",
                  "id"
                ],
                "type": "object",
                "x-links": [
                  {
                    "href": "/users/{id}",
                    "rel": "full"
                  }
                ]
              },
              "type": "array",
              "uniqueItems": true
            }
          }
        },
        "summary": "List Users of the Account",
        "tags": [
          "Account"
        ]
      },
      "parameters": [],
      "post": {
        "description": "Add a *User*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "account-newuser",
        "parameters": [
          {
            "in": "body",
            "name": "userInfo",
            "required": true,
            "schema": {
              "properties": {
                "email": {
                  "format": "email",
                  "minLength": 6,
                  "type": "string"
                },
                "locale": {
                  "description": "Locale identifier (language, region). See https://tools.ietf.org/html/rfc5646 and https://www.iana.org/assignments/lang-subtags-templates/lang-subtags-templates.xhtml .\n",
                  "example": "fr-FR",
                  "minLength": 2,
                  "pattern": "^[a-z]{2}[A-Za-z0-9-]*$",
                  "type": "string"
                },
                "metadata": {
                  "additionalProperties": {
                    "description": "null/boolean/integer/number/string/object/array",
                    "x-type": "any"
                  },
                  "description": "Keys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.",
                  "type": "object"
                },
                "name": {
                  "minLength": 1,
                  "type": "string"
                },
                "phoneNumber": {
                  "description": "Phone number of the *User* in international format, for SMS notifications.",
                  "example": "+33177494646",
                  "minLength": 6,
                  "pattern": "^\\+[0-9]{5,}$",
                  "type": "string"
                }
              },
              "required": [
                "email",
                "name",
                "locale"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "*User* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the User created",
                "type": "string"
              }
            },
            "schema": {
              "description": "A resource has been created. The `resource` property gives its reference.",
              "example": {
                "code": 201,
                "message": "User created",
                "resource": {
                  "entity": "User",
                  "href": "/users/RGV2aWNlMDAwMDAwMDAwMZ",
                  "id": "RGV2aWNlMDAwMDAwMDAwMZ"
                }
              },
              "properties": {
                "code": {
                  "enum": [
                    201
                  ],
                  "example": 201,
                  "type": "integer"
                },
                "message": {
                  "enum": [
                    "User created"
                  ],
                  "type": "string"
                },
                "resource": {
                  "example": {
                    "entity": "User",
                    "href": "/users/RGV2aWNlMDAwMDAwMDAwMZ",
                    "id": "RGV2aWNlMDAwMDAwMDAwMZ"
                  },
                  "properties": {
                    "entity": {
                      "enum": [
                        "User"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "description": "Unique identifier of the *User*",
                      "example": "RGV2aWNlMDAwMDAwMDAwMZ",
                      "maxLength": 22,
                      "minLength": 22,
                      "pattern": "^[A-Za-z0-9-_]{22}$",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "New User",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/users/orderid": {
      "delete": {
        "description": "Delete a *User* from this *Account*, and revoke all his/her *Tokens*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "account-deleteuser-v2",
        "responses": {
          "204": {
            "description": "Resource successfully deleted."
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Delete a User",
        "tags": [
          "Account"
        ]
      },
      "get": {
        "description": "Get information about a *User* in the same *Account*.",
        "operationId": "account-getuser",
        "responses": {
          "200": {
            "description": "*User* information.\n",
            "schema": {
              "properties": {
                "account": {
                  "description": "Unique identifier of the *Account*",
                  "example": "t1hqYcQITCFX-AObjs_t4Q",
                  "maxLength": 22,
                  "minLength": 22,
                  "pattern": "^[A-Za-z0-9-_]{22}$",
                  "readOnly": true,
                  "type": "string"
                },
                "canLogin": {
                  "default": false,
                  "description": "true if the user owning the account (can get tokens with /auth/login)",
                  "example": false,
                  "readOnly": true,
                  "type": "boolean"
                },
                "email": {
                  "format": "email",
                  "minLength": 6,
                  "type": "string"
                },
                "locale": {
                  "description": "Locale identifier (language, region). See https://tools.ietf.org/html/rfc5646 and https://www.iana.org/assignments/lang-subtags-templates/lang-subtags-templates.xhtml .\n",
                  "example": "fr-FR",
                  "minLength": 2,
                  "pattern": "^[a-z]{2}[A-Za-z0-9-]*$",
                  "type": "string"
                },
                "metadata": {
                  "additionalProperties": {
                    "description": "null/boolean/integer/number/string/object/array",
                    "x-type": "any"
                  },
                  "description": "Keys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.",
                  "type": "object"
                },
                "name": {
                  "minLength": 1,
                  "type": "string"
                },
                "phoneNumber": {
                  "description": "Phone number of the *User* in international format, for SMS notifications.",
                  "example": "+33177494646",
                  "minLength": 6,
                  "pattern": "^\\+[0-9]{5,}$",
                  "type": "string"
                }
              },
              "required": [
                "email",
                "name",
                "locale",
                "canLogin"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Information about a User",
        "tags": [
          "Account"
        ]
      },
      "parameters": [
        {
          "description": "Unique identifier of a *User*.",
          "in": "path",
          "name": "userId",
          "required": true,
          "type": "string"
        }
      ],
      "patch": {
        "description": "Modify a *User*.\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "account-patchuser",
        "parameters": [
          {
            "in": "body",
            "name": "userPatch",
            "required": true,
            "schema": {
              "properties": {
                "email": {
                  "format": "email",
                  "minLength": 6,
                  "type": "string"
                },
                "locale": {
                  "description": "Locale identifier (language, region). See https://tools.ietf.org/html/rfc5646 and https://www.iana.org/assignments/lang-subtags-templates/lang-subtags-templates.xhtml .\n",
                  "example": "fr-FR",
                  "minLength": 2,
                  "pattern": "^[a-z]{2}[A-Za-z0-9-]*$",
                  "type": "string"
                },
                "name": {
                  "minLength": 1,
                  "type": "string"
                },
                "phoneNumber": {
                  "description": "Phone number of the *User* in international format, for SMS notifications.",
                  "example": "+33177494646",
                  "minLength": 6,
                  "pattern": "^\\+[0-9]{5,}$",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Modification successful."
          },
          "304": {
            "description": "Successful, but nothing changed."
          },
          "403": {
            "description": "The authentication token doesn't allow to modify the *Account*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Modify a User",
        "tags": [
          "Account"
        ]
      }
    },
    "/account/users/userid/metadata": {
      "get": {
        "description": "Get the metadata.",
        "operationId": "user-getmetadata-v2",
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "additionalProperties": {
                "description": "null/boolean/integer/number/string/object/array",
                "x-type": "any"
              },
              "description": "Keys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.",
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "List metadata",
        "tags": [
          "Account"
        ]
      },
      "parameters": [
        {
          "description": "Unique identifier of a *User*.",
          "in": "path",
          "name": "userId",
          "required": true,
          "type": "string"
        }
      ],
      "patch": {
        "description": "Modify the metadata.\nKeys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.\n",
        "operationId": "user-patchmetadata",
        "parameters": [
          {
            "description": "Modifications to apply to the metadata of the resource.\n",
            "in": "body",
            "name": "metadataPatch",
            "required": true,
            "schema": {
              "properties": {
                "add": {
                  "additionalProperties": {
                    "description": "null/boolean/integer/number/string/object/array",
                    "x-type": "any"
                  },
                  "description": "list of pairs key/value to add/replace",
                  "type": "object"
                },
                "remove": {
                  "description": "list of keys to remove",
                  "items": {
                    "maxLength": 21,
                    "minLength": 1,
                    "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
                    "type": "string"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful. The new metadata is returned.",
            "schema": {
              "additionalProperties": {
                "description": "null/boolean/integer/number/string/object/array",
                "x-type": "any"
              },
              "description": "Keys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.",
              "type": "object"
            }
          },
          "304": {
            "description": "Successful, but nothing changed."
          },
          "403": {
            "description": "*User* doesn't exist in this *Account* or the requester doesn't have access to a *Place* on which this *User* has access.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Modify metadata",
        "tags": [
          "Account"
        ]
      }
    },
    "/auth/login": {
      "post": {
        "description": "Get an access+refresh tokens pair from login and password information.\n\nThe *access token* obtained with this request can then be used in\nan `Access-Token` HTTP header or in a `token` URL query parameter\nin requests that require authentication.\n\nThe *refresh token* can be used with `/auth/refresh` when the *access\ntoken* expires to retrieve a new *access token*. The lifetime of the\nrefresh token is the maximum lifetime of this authentication request.\n\nThe default lifetime of the *refresh token* is defined by the `appId`\nused. The `ttl` input parameter allows to request a *refresh token*\nwith a shorter lifetime.\n\nTo implement *logout*, use `/auth/revoke`.\n",
        "operationId": "authaccountlogin-v2",
        "parameters": [
          {
            "description": "Login information.",
            "in": "body",
            "name": "loginInfo",
            "required": true,
            "schema": {
              "properties": {
                "appId": {
                  "minLength": 1,
                  "type": "string"
                },
                "login": {
                  "minLength": 1,
                  "type": "string"
                },
                "password": {
                  "format": "password",
                  "minLength": 5,
                  "type": "string"
                },
                "ttl": {
                  "description": "Desired maximum life-time in seconds for the refresh token",
                  "example": 1800,
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "required": [
                "login",
                "password",
                "appId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Login successful. The access token is given to use the API. The refresh token must be stored in a safe place.",
            "schema": {
              "properties": {
                "accessToken": {
                  "minLength": 1,
                  "type": "string"
                },
                "accessTokenExpires": {
                  "format": "date-time",
                  "type": "string"
                },
                "refreshToken": {
                  "minLength": 1,
                  "type": "string"
                },
                "refreshTokenExpires": {
                  "format": "date-time",
                  "type": "string"
                }
              },
              "required": [
                "accessToken",
                "refreshToken",
                "accessTokenExpires",
                "refreshTokenExpires"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication failure.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "security": [],
        "summary": "Get a token using login+password",
        "tags": [
          "Authentication",
          "Entry points"
        ]
      }
    },
    "/auth/refresh": {
      "post": {
        "description": "Get a new *access token* using a valid *refresh token*.\n\nThis is a **replacement** of the *access token*: if an existing *access\ntoken* was still not expired, it is invalidated.\n",
        "operationId": "authrefreshtoken-v2",
        "parameters": [
          {
            "description": "Refresh token information.",
            "in": "body",
            "name": "refreshInfo",
            "required": true,
            "schema": {
              "properties": {
                "appId": {
                  "minLength": 1,
                  "type": "string"
                },
                "refreshToken": {
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "refreshToken",
                "appId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Refresh successful. A new access token is given to use the API.",
            "schema": {
              "properties": {
                "accessToken": {
                  "minLength": 1,
                  "type": "string"
                },
                "accessTokenExpires": {
                  "format": "date-time",
                  "type": "string"
                },
                "refreshToken": {
                  "minLength": 1,
                  "type": "string"
                },
                "refreshTokenExpires": {
                  "format": "date-time",
                  "type": "string"
                }
              },
              "required": [
                "accessToken",
                "refreshToken",
                "accessTokenExpires",
                "refreshTokenExpires"
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Authentication failure.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "security": [],
        "summary": "Refresh a token",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/reset-password": {
      "post": {
        "description": "Trigger the request of a new password.\n\nThe account administrator will receive an e-mail with an URL pointing to a form\nto allow him/her to enter a new password.\nThe old password is still functional until a new one is submitted.\n\nEither the login or e-mail of the account must be given.\n",
        "operationId": "authresetpassword",
        "parameters": [
          {
            "description": "Account identification information",
            "in": "body",
            "name": "resetPasswordInfo",
            "required": true,
            "schema": {
              "properties": {
                "appId": {
                  "minLength": 1,
                  "type": "string"
                },
                "email": {
                  "format": "email",
                  "minLength": 6,
                  "type": "string"
                },
                "login": {
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "appId"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "As this request is not authenticated, response is always successful to not reveal (in)existence of accounts."
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "security": [],
        "summary": "Ask for a new password",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/auth/revoke": {
      "post": {
        "description": "Invalidate the authentication used for the request. The access token and the refresh token will be invalid after this request.\nThis request is typically called to implement logout.\n",
        "operationId": "authrevoketoken",
        "responses": {
          "204": {
            "description": "Revocation successful. The token used for the request is now invalid."
          },
          "401": {
            "description": "Authentication failure.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Revoke a token",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/devices/userid": {
      "get": {
        "description": "Get information about a *Device*.",
        "operationId": "devices-get-v2",
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "properties": {
                "address": {
                  "minLength": 1,
                  "pattern": "^[A-Z0-9]{1,32}$",
                  "type": "string"
                },
                "attributes": {
                  "additionalProperties": {
                    "additionalProperties": {
                      "description": "null/boolean/integer/number/string/object/array",
                      "x-type": "any"
                    },
                    "description": "Each key is an attribute name",
                    "type": "object"
                  },
                  "description": "Each key is <FunctionalityClass>@<Endpoint>",
                  "type": "object"
                },
                "class": {
                  "maxLength": 4,
                  "minLength": 4,
                  "pattern": "^[A-Z][A-Z0-9]{3}$",
                  "type": "string"
                },
                "functionalities": {
                  "items": {
                    "properties": {
                      "class": {
                        "minLength": 2,
                        "pattern": "^[A-Z][A-Za-z0-9]+$",
                        "readOnly": true,
                        "type": "string"
                      },
                      "device": {
                        "description": "Unique identifier of the *Device*",
                        "example": "RGV2aWNlMDAwMDAwMDAwMA",
                        "maxLength": 22,
                        "minLength": 22,
                        "pattern": "^[A-Za-z0-9-_]{22}$",
                        "readOnly": true,
                        "type": "string"
                      },
                      "endpoint": {
                        "maximum": 255,
                        "minimum": 0,
                        "readOnly": true,
                        "type": "integer"
                      },
                      "id": {
                        "description": "Unique identifier of the *Functionality*",
                        "example": "RnVuY3Rpb25hbGl0eTAwMA",
                        "maxLength": 22,
                        "minLength": 22,
                        "pattern": "^[A-Za-z0-9-_]{22}$",
                        "readOnly": true,
                        "type": "string"
                      },
                      "metadata": {
                        "additionalProperties": {
                          "description": "null/boolean/integer/number/string/object/array",
                          "x-type": "any"
                        },
                        "description": "Subset of metadata attached to the resource selected using the 'embed-metadata' parameter",
                        "type": "object"
                      },
                      "name": {
                        "description": "Free functionality name",
                        "type": "string"
                      },
                      "tags": {
                        "items": {
                          "maxLength": 21,
                          "minLength": 1,
                          "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
                          "type": "string"
                        },
                        "type": "array",
                        "uniqueItems": true
                      }
                    },
                    "readOnly": true,
                    "required": [
                      "id",
                      "device",
                      "class",
                      "endpoint"
                    ],
                    "type": "object",
                    "x-links": [
                      {
                        "href": "/functionalities/{id}",
                        "rel": "full"
                      },
                      {
                        "href": "/devices/{device}",
                        "rel": "device"
                      }
                    ]
                  },
                  "readOnly": true,
                  "type": "array",
                  "uniqueItems": true
                },
                "isOnline": {
                  "readOnly": true,
                  "type": "boolean"
                },
                "manufacturer": {
                  "readOnly": true,
                  "type": "string"
                },
                "metadata": {
                  "additionalProperties": {
                    "description": "null/boolean/integer/number/string/object/array",
                    "x-type": "any"
                  },
                  "description": "Keys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.",
                  "type": "object"
                },
                "model": {
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "Name of the device. User defined.",
                  "minLength": 2,
                  "type": "string"
                },
                "place": {
                  "description": "Unique identifier of the *Place*",
                  "example": "3HA6YcSCTSFX6SPPrI9PxQ",
                  "maxLength": 22,
                  "minLength": 22,
                  "pattern": "^[A-Za-z0-9-_]{22}$",
                  "readOnly": true,
                  "type": "string"
                },
                "protocol": {
                  "minLength": 1,
                  "type": "string"
                },
                "tags": {
                  "items": {
                    "maxLength": 21,
                    "minLength": 1,
                    "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
                    "type": "string"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              },
              "required": [
                "place",
                "class",
                "address",
                "isOnline",
                "functionalities",
                "tags"
              ],
              "type": "object",
              "x-links": [
                {
                  "href": "/places/{place}",
                  "rel": "place"
                }
              ]
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Information about a Device",
        "tags": [
          "Device"
        ]
      },
      "parameters": [
        {
          "description": "Unique identifier of a *Device*.",
          "in": "path",
          "name": "deviceId",
          "required": true,
          "type": "string"
        }
      ],
      "patch": {
        "description": "Modify information about a *Device*: its name.\n",
        "operationId": "devices-patch-v2",
        "parameters": [
          {
            "in": "body",
            "name": "devicePatch",
            "required": true,
            "schema": {
              "properties": {
                "name": {
                  "description": "Name of the *Device* as defined by the user. Can be used for user interfaces.",
                  "minLength": 2,
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Modification successful."
          },
          "304": {
            "description": "Successful, but nothing changed."
          },
          "403": {
            "description": "*Device* doesn't exist or the requester doesn't have appropriate access to the *Place*.\n",
            "schema": {
              "description": "An error related to access to an entity (400, 403, 404, 410)",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                },
                "resource": {
                  "properties": {
                    "entity": {
                      "enum": [
                        "Device",
                        "Functionality",
                        "Notification",
                        "Place",
                        "Program",
                        "User",
                        "Account",
                        "AccountsBase"
                      ],
                      "type": "string"
                    },
                    "href": {
                      "minLength": 1,
                      "type": "string"
                    },
                    "id": {
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "entity",
                    "href"
                  ],
                  "type": "object"
                }
              },
              "required": [
                "code",
                "message",
                "resource"
              ],
              "type": "object"
            }
          },
          "default": {
            "description": "Other error.",
            "schema": {
              "description": "Any error.",
              "properties": {
                "code": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ],
              "type": "object"
            }
          }
        },
        "summary": "Update a Device",
        "tags": [
          "Device"
        ]
      }
    },
    "/devices/userid/functionalities": {
      "post": {
        "description": "Add a *Functionality* to the device.\n\nRequired parameters are :\n- functionality class\n- endpoint\n\nEach device class has its own restrictions on which Functionality classes can be added and on which endpoints.\nOnly a few devices allow to add Functionalities.\n\n|Device class|Functionality class|Endpoints|\n|------------|-------------------|---------|\n|MINT        |CurrentPeriod      |1,2,3    |\n|MINT        |ElectricityRates   |1,2,3    |\n|MINT        |GenericRate        |1,2,3    |\n\n**Note**: requires full access to the *Account*.\n",
        "operationId": "device-addfunctionality-v2",
        "parameters": [
          {
            "description": "Unique identifier of a *Device*.",
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "functionalityInfo",
            "required": true,
            "schema": {
              "properties": {
                "class": {
                  "minLength": 2,
                  "pattern": "^[A-Z][A-Za-z0-9]+$",
                  "readOnly": true,
                  "type": "string"
                },
                "endpoint": {
                  "maximum": 255,
                  "minimum": 0,
                  "readOnly": true,
                  "type": "integer"
                },
                "metadata": {
                  "additionalProperties": {
                    "description": "null/boolean/integer/number/string/object/array",
                    "x-type": "any"
                  },
                  "description": "Keys are limited to the same format as tags (up to 21 characters, [a-z0-9], starting with [a-z]). Values can be any JSON value.",
                  "type": "object"
                },
                "name": {
                  "description": "Free functionality name",
                  "type": "string"
                },
                "tags": {
                  "items": {
                    "maxLength": 21,
                    "minLength": 1,
                    "pattern": "^[a-z](?:[a-z0-9_]{0,20}|[a-z0-9_]:[a-z0-9_]{1,18}|[a-z0-9_]{2}:[a-z0-9_]{1,17}|[a-z0-9_]{3}:[a-z0-9_]{1,16}|[a-z0-9_]{4}:[a-z0-9_]{1,15})$",
                    "type": "string"
                  },
                  "type": "array",
                  "uniqueItems": true
                }
              },
              "required": [
                "class",
                "endpoint"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "*Functionality* successfully created.",
            "headers": {
              "Location": {
                "description": "Path of the Functionality created",
                "type": "string"
              }
            },
            "schema": {
              "description": "A resource has been created. The `resource` property gives its reference.",
              "example": {
[...]
