{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/nba/articles-rotoballer"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/nba/articles-rotoballer"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "NBA v3 RotoBaller Articles",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/nfldata/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/nba-v3-rotoballer-articles.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "nba-v3-rotoballer-articles"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/id/rotoballerarticles": {
      "get": {
        "operationId": "rotoballerarticles-v2",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "ArticleID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "Author": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Content": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Players": {
                        "items": {
                          "properties": {
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PlayerID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TeamID": {
                              "nullable": true,
                              "type": "integer"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "Source": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TermsOfUse": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Title": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Url": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "RotoBaller Articles"
      }
    },
    "/userid/rotoballerarticlesbydate/orderid": {
      "get": {
        "operationId": "rotoballerarticlesbydate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the news.\n<br>Examples: <code>2017-JUL-31</code>, <code>2017-SEP-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "ArticleID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "Author": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Content": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Players": {
                        "items": {
                          "properties": {
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PlayerID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TeamID": {
                              "nullable": true,
                              "type": "integer"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "Source": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TermsOfUse": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Title": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Url": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "RotoBaller Articles by Date"
      }
    },
    "/userid/rotoballerarticlesbyplayerid/orderid": {
      "get": {
        "operationId": "rotoballerarticlesbyplayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>10000507</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "ArticleID": {
                        "nullable": false,
                        "type": "integer"
                      },
                      "Author": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Content": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Players": {
                        "items": {
                          "properties": {
                            "Name": {
                              "nullable": true,
                              "type": "string"
                            },
                            "PlayerID": {
                              "nullable": false,
                              "type": "integer"
                            },
                            "Position": {
                              "nullable": true,
                              "type": "string"
                            },
                            "Team": {
                              "nullable": true,
                              "type": "string"
                            },
                            "TeamID": {
                              "nullable": true,
                              "type": "integer"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "Source": {
                        "nullable": true,
                        "type": "string"
                      },
                      "TermsOfUse": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Title": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Updated": {
                        "nullable": true,
                        "type": "string"
                      },
                      "Url": {
                        "nullable": true,
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "RotoBaller Articles by Player"
      }
    }
  },
  "components": {
    "schemas": {
      "Article": {
        "properties": {
          "ArticleID": {
            "nullable": false,
            "type": "integer"
          },
          "Author": {
            "nullable": true,
            "type": "string"
          },
          "Content": {
            "nullable": true,
            "type": "string"
          },
          "Players": {
            "items": {
              "properties": {
                "Name": {
                  "nullable": true,
                  "type": "string"
                },
                "PlayerID": {
                  "nullable": false,
                  "type": "integer"
                },
                "Position": {
                  "nullable": true,
                  "type": "string"
                },
                "Team": {
                  "nullable": true,
                  "type": "string"
                },
                "TeamID": {
                  "nullable": true,
                  "type": "integer"
                }
              }
            },
            "type": "array"
          },
          "Source": {
            "nullable": true,
            "type": "string"
          },
          "TermsOfUse": {
            "nullable": true,
            "type": "string"
          },
          "Title": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Url": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "PlayerInfo": {
        "properties": {
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}