{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "1Password",
      "url": "https://events.1password.com"
    },
    {
      "description": "1Password CA",
      "url": "https://events.1password.ca"
    },
    {
      "description": "1Password EU",
      "url": "https://events.1password.eu"
    },
    {
      "description": "1Password Enterprise",
      "url": "https://events.ent.1password.com"
    }
  ],
  "info": {
    "description": "1Password Events API Specification.",
    "title": "Events API",
    "version": "1.2.0",
    "x-apisguru-categories": [
      "security"
    ],
    "x-logo": "https://1password.com/img/meta-og-image.png",
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://i.1password.com/media/1password-events-reporting/1password-events-api.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "1password.com",
    "x-serviceName": "events"
  },
  "paths": {
    "/api/auth/introspect": {
      "get": {
        "deprecated": true,
        "operationId": "getauthintrospect",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Features": {
                      "example": [
                        "auditevents",
                        "itemusages",
                        "signinattempts"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "IssuedAt": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    },
                    "UUID": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Introspection object"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Generic error"
          }
        },
        "security": [
          {
            "jwtsa": []
          }
        ],
        "summary": "Performs introspection of the provided Bearer JWT token",
        "tags": [
          "auth"
        ],
        "parameters": [
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      }
    },
    "/api/v1/auditevents": {
      "post": {
        "description": "This endpoint requires your JSON Web Token to have the *auditevents* feature.",
        "operationId": "getauditevents",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Continuing cursor": {
                  "summary": "Used for continued calling with a cursor",
                  "value": {
                    "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
                  }
                },
                "Resetting cursor": {
                  "summary": "Used for reseting the cursor",
                  "value": {
                    "limit": 100,
                    "start_time": "2021-06-11T19:32:50+00:00"
                  }
                }
              },
              "schema": {
                "oneOf": [
                  {
                    "description": "Cursor",
                    "properties": {
                      "cursor": {
                        "description": "Cursor to fetch more data if available or continue the polling process if required",
                        "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                        "type": "string"
                      }
                    }
                  },
                  {
                    "description": "Reset cursor",
                    "properties": {
                      "end_time": {
                        "example": "2020-06-11T19:32:50+00:00",
                        "format": "date-time",
                        "type": "string"
                      },
                      "limit": {
                        "maximum": 1000,
                        "minimum": 1,
                        "type": "number"
                      },
                      "start_time": {
                        "example": "2020-06-11T19:32:50+00:00",
                        "format": "date-time",
                        "type": "string"
                      }
                    }
                  }
                ],
                "_polymorphic_marker": {
                  "oneOf": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "description": "A single audit event object",
                            "properties": {
                              "action": {
                                "enum": [
                                  "activate",
                                  "update",
                                  "delete",
                                  "convert",
                                  "enblduo",
                                  "updatduo",
                                  "disblduo",
                                  "rdmchild",
                                  "detchild",
                                  "dlgsess",
                                  "create",
                                  "deolddev",
                                  "dealldev",
                                  "reauth",
                                  "begin",
                                  "complete",
                                  "propose",
                                  "updatfw",
                                  "join",
                                  "leave",
                                  "role",
                                  "purge",
                                  "view",
                                  "export",
                                  "replace",
                                  "grant",
                                  "revoke",
                                  "share",
                                  "delshare",
                                  "uisas",
                                  "enblmfa",
                                  "updatmfa",
                                  "disblmfa",
                                  "musercom",
                                  "muserdec",
                                  "sendpkg",
                                  "resendts",
                                  "prsndall",
                                  "trename",
                                  "tverify",
                                  "trevoke",
                                  "ssotknv",
                                  "enblsso",
                                  "disblsso",
                                  "chngpsso",
                                  "chngasso",
                                  "chngdsso",
                                  "delgsso",
                                  "addgsso",
                                  "cancel",
                                  "hide",
                                  "unhide",
                                  "upguest",
                                  "verify",
                                  "reactive",
                                  "suspend",
                                  "beginr",
                                  "provsn",
                                  "sendts",
                                  "unknown",
                                  "completr",
                                  "cancelr",
                                  "trvlaway",
                                  "trvlback",
                                  "changeks",
                                  "changemp",
                                  "changesk",
                                  "changenm",
                                  "changela",
                                  "tdvcsso",
                                  "sdvcsso",
                                  "patch",
                                  "updatea",
                                  "vrfydmn",
                                  "uvrfydmn",
                                  "dvrfydmn"
                                ],
                                "type": "string"
                              },
                              "actor_uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              },
                              "aux_id": {
                                "type": "integer"
                              },
                              "aux_info": {
                                "type": "string"
                              },
                              "aux_uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              },
                              "location": {
                                "description": "Geolocation Info about the client",
                                "properties": {
                                  "city": {
                                    "example": "Toronto",
                                    "type": "string"
                                  },
                                  "country": {
                                    "example": "CA",
                                    "type": "string"
                                  },
                                  "latitude": {
                                    "example": -79.433,
                                    "type": "number"
                                  },
                                  "longitude": {
                                    "example": 43.64,
                                    "type": "number"
                                  },
                                  "region": {
                                    "example": "Ontario",
                                    "type": "string"
                                  }
                                }
                              },
                              "object_type": {
                                "enum": [
                                  "account",
                                  "user",
                                  "device",
                                  "group",
                                  "gm",
                                  "vault",
                                  "item",
                                  "items",
                                  "itemhist",
                                  "vaultkey",
                                  "template",
                                  "uva",
                                  "gva",
                                  "invite",
                                  "ec",
                                  "miguser",
                                  "sso",
                                  "sub",
                                  "card",
                                  "pm",
                                  "slackapp",
                                  "file",
                                  "famchild",
                                  "sa",
                                  "satoken",
                                  "dlgdsess",
                                  "ssotkn",
                                  "report"
                                ],
                                "type": "string"
                              },
                              "object_uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              },
                              "session": {
                                "description": "Session information gathered about the client",
                                "properties": {
                                  "device_uuid": {
                                    "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                    "type": "string"
                                  },
                                  "ip": {
                                    "example": "13.227.95.22",
                                    "type": "string"
                                  },
                                  "login_time": {
                                    "example": "2020-06-11T19:32:50+00:00",
                                    "format": "date-time",
                                    "type": "string"
                                  },
                                  "uuid": {
                                    "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                    "type": "string"
                                  }
                                }
                              },
                              "timestamp": {
                                "example": "2020-06-11T19:32:50+00:00",
                                "format": "date-time",
                                "type": "string"
                              },
                              "uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    {
                      "allOf": [
                        {
                          "description": "Cursor",
                          "properties": {
                            "cursor": {
                              "description": "Cursor to fetch more data if available or continue the polling process if required",
                              "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                              "type": "string"
                            }
                          }
                        },
                        {
                          "properties": {
                            "has_more": {
                              "description": "Whether there may still be more data to fetch using the returned cursor. If true, the subsequent request could still be empty.",
                              "type": "boolean"
                            }
                          }
                        }
                      ],
                      "description": "Common cursor properties for collection responses",
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  ],
                  "description": "An object wrapping cursor properties and a list of audit events",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "Audit events response object"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Generic error"
          }
        },
        "security": [
          {
            "jwtsa": []
          }
        ],
        "summary": "Retrieves audit events for actions performed by team members within a 1Password account",
        "tags": [
          "api-v1"
        ]
      }
    },
    "/api/v1/itemusages": {
      "post": {
        "description": "This endpoint requires your JSON Web Token to have the *itemusages* feature.",
        "operationId": "getitemusages",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Continuing cursor": {
                  "summary": "Used for continued calling with a cursor",
                  "value": {
                    "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
                  }
                },
                "Resetting cursor": {
                  "summary": "Used for reseting the cursor",
                  "value": {
                    "limit": 100,
                    "start_time": "2021-06-11T19:32:50+00:00"
                  }
                }
              },
              "schema": {
                "oneOf": [
                  {
                    "description": "Cursor",
                    "properties": {
                      "cursor": {
                        "description": "Cursor to fetch more data if available or continue the polling process if required",
                        "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                        "type": "string"
                      }
                    }
                  },
                  {
                    "description": "Reset cursor",
                    "properties": {
                      "end_time": {
                        "example": "2020-06-11T19:32:50+00:00",
                        "format": "date-time",
                        "type": "string"
                      },
                      "limit": {
                        "maximum": 1000,
                        "minimum": 1,
                        "type": "number"
                      },
                      "start_time": {
                        "example": "2020-06-11T19:32:50+00:00",
                        "format": "date-time",
                        "type": "string"
                      }
                    }
                  }
                ],
                "_polymorphic_marker": {
                  "oneOf": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "description": "A single item usage object",
                            "properties": {
                              "action": {
                                "enum": [
                                  "fill",
                                  "select-sso-provider",
                                  "enter-item-edit-mode",
                                  "export",
                                  "share",
                                  "secure-copy",
                                  "reveal",
                                  "server-create",
                                  "server-update",
                                  "server-fetch"
                                ],
                                "example": "reveal",
                                "type": "string"
                              },
                              "client": {
                                "description": "Metadata gathered about the client",
                                "properties": {
                                  "app_name": {
                                    "example": "1Password Extension",
                                    "type": "string"
                                  },
                                  "app_version": {
                                    "example": "20127",
                                    "type": "string"
                                  },
                                  "ip_address": {
                                    "example": "13.227.95.22",
                                    "type": "string"
                                  },
                                  "os_name": {
                                    "example": "MacOSX",
                                    "type": "string"
                                  },
                                  "os_version": {
                                    "example": "10.15.6",
                                    "type": "string"
                                  },
                                  "platform_name": {
                                    "example": "Chrome",
                                    "type": "string"
                                  },
                                  "platform_version": {
                                    "description": "Depending on the platform used, this can be the version of the browser that the client extension is installed, the model of computer that the native application is installed or the machine's CPU version that the CLI was installed",
                                    "type": "string"
                                  }
                                }
                              },
                              "item_uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              },
                              "location": {
                                "description": "Geolocation Info about the client",
                                "properties": {
                                  "city": {
                                    "example": "Toronto",
                                    "type": "string"
                                  },
                                  "country": {
                                    "example": "CA",
                                    "type": "string"
                                  },
                                  "latitude": {
                                    "example": -79.433,
                                    "type": "number"
                                  },
                                  "longitude": {
                                    "example": 43.64,
                                    "type": "number"
                                  },
                                  "region": {
                                    "example": "Ontario",
                                    "type": "string"
                                  }
                                }
                              },
                              "timestamp": {
                                "example": "2020-06-11T19:32:50+00:00",
                                "format": "date-time",
                                "type": "string"
                              },
                              "used_version": {
                                "type": "integer"
                              },
                              "user": {
                                "description": "User object",
                                "properties": {
                                  "email": {
                                    "format": "email",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Full name",
                                    "example": "Jack O'Neill",
                                    "type": "string"
                                  },
                                  "uuid": {
                                    "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                    "type": "string"
                                  }
                                }
                              },
                              "uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              },
                              "vault_uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    {
                      "allOf": [
                        {
                          "description": "Cursor",
                          "properties": {
                            "cursor": {
                              "description": "Cursor to fetch more data if available or continue the polling process if required",
                              "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                              "type": "string"
                            }
                          }
                        },
                        {
                          "properties": {
                            "has_more": {
                              "description": "Whether there may still be more data to fetch using the returned cursor. If true, the subsequent request could still be empty.",
                              "type": "boolean"
                            }
                          }
                        }
                      ],
                      "description": "Common cursor properties for collection responses",
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  ],
                  "description": "An object wrapping cursor properties and a list of items usages",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "Item usages response object"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Generic error"
          }
        },
        "security": [
          {
            "jwtsa": []
          }
        ],
        "summary": "Retrieves events for each usage of an item stored in a shared vault within a 1Password account",
        "tags": [
          "api-v1"
        ]
      }
    },
    "/api/v1/signinattempts": {
      "post": {
        "description": "This endpoint requires your JSON Web Token to have the *signinattempts* feature.",
        "operationId": "getsigninattempts",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Continuing cursor": {
                  "summary": "Used for continued calling with a cursor",
                  "value": {
                    "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
                  }
                },
                "Resetting cursor": {
                  "summary": "Used for reseting the cursor",
                  "value": {
                    "limit": 100,
                    "start_time": "2021-06-11T19:32:50+00:00"
                  }
                }
              },
              "schema": {
                "oneOf": [
                  {
                    "description": "Cursor",
                    "properties": {
                      "cursor": {
                        "description": "Cursor to fetch more data if available or continue the polling process if required",
                        "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                        "type": "string"
                      }
                    }
                  },
                  {
                    "description": "Reset cursor",
                    "properties": {
                      "end_time": {
                        "example": "2020-06-11T19:32:50+00:00",
                        "format": "date-time",
                        "type": "string"
                      },
                      "limit": {
                        "maximum": 1000,
                        "minimum": 1,
                        "type": "number"
                      },
                      "start_time": {
                        "example": "2020-06-11T19:32:50+00:00",
                        "format": "date-time",
                        "type": "string"
                      }
                    }
                  }
                ],
                "_polymorphic_marker": {
                  "oneOf": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "items": {
                          "items": {
                            "description": "A single sign-in attempt object",
                            "properties": {
                              "category": {
                                "enum": [
                                  "success",
                                  "credentials_failed",
                                  "mfa_failed",
                                  "sso_failed",
                                  "modern_version_failed",
                                  "firewall_failed",
                                  "firewall_reported_success"
                                ],
                                "example": "firewall_failed",
                                "type": "string"
                              },
                              "client": {
                                "description": "Metadata gathered about the client",
                                "properties": {
                                  "app_name": {
                                    "example": "1Password Extension",
                                    "type": "string"
                                  },
                                  "app_version": {
                                    "example": "20127",
                                    "type": "string"
                                  },
                                  "ip_address": {
                                    "example": "13.227.95.22",
                                    "type": "string"
                                  },
                                  "os_name": {
                                    "example": "MacOSX",
                                    "type": "string"
                                  },
                                  "os_version": {
                                    "example": "10.15.6",
                                    "type": "string"
                                  },
                                  "platform_name": {
                                    "example": "Chrome",
                                    "type": "string"
                                  },
                                  "platform_version": {
                                    "description": "Depending on the platform used, this can be the version of the browser that the client extension is installed, the model of computer that the native application is installed or the machine's CPU version that the CLI was installed",
                                    "type": "string"
                                  }
                                }
                              },
                              "country": {
                                "description": "Country ISO Code",
                                "example": "France",
                                "type": "string"
                              },
                              "details": {
                                "description": "Additional information about the sign-in attempt",
                                "properties": {
                                  "value": {
                                    "description": "For firewall prevented sign-ins, the value is the chosen continent, country, etc. that blocked the sign-in attempt",
                                    "example": "Europe",
                                    "type": "string"
                                  }
                                }
                              },
                              "location": {
                                "description": "Geolocation Info about the client",
                                "properties": {
                                  "city": {
                                    "example": "Toronto",
                                    "type": "string"
                                  },
                                  "country": {
                                    "example": "CA",
                                    "type": "string"
                                  },
                                  "latitude": {
                                    "example": -79.433,
                                    "type": "number"
                                  },
                                  "longitude": {
                                    "example": 43.64,
                                    "type": "number"
                                  },
                                  "region": {
                                    "example": "Ontario",
                                    "type": "string"
                                  }
                                }
                              },
                              "session_uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              },
                              "target_user": {
                                "description": "User object",
                                "properties": {
                                  "email": {
                                    "format": "email",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Full name",
                                    "example": "Jack O'Neill",
                                    "type": "string"
                                  },
                                  "uuid": {
                                    "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                    "type": "string"
                                  }
                                }
                              },
                              "timestamp": {
                                "example": "2020-06-11T19:32:50+00:00",
                                "format": "date-time",
                                "type": "string"
                              },
                              "type": {
                                "enum": [
                                  "credentials_ok",
                                  "mfa_ok",
                                  "password_secret_bad",
                                  "mfa_missing",
                                  "totp_disabled",
                                  "totp_bad",
                                  "totp_timeout",
                                  "u2f_disabled",
                                  "u2f_bad",
                                  "u2f_timout",
                                  "duo_disabled",
                                  "duo_bad",
                                  "duo_timeout",
                                  "duo_native_bad",
                                  "service_account_sso_denied",
                                  "non_sso_user",
                                  "sso_user_mismatch",
                                  "platform_secret_disabled",
                                  "platform_secret_bad",
                                  "platform_secret_proxy",
                                  "code_disabled",
                                  "code_bad",
                                  "code_timeout",
                                  "ip_blocked",
                                  "continent_blocked",
                                  "country_blocked",
                                  "anonymous_blocked",
                                  "all_blocked",
                                  "modern_version_missing",
                                  "modern_version_old"
                                ],
                                "example": "continent_blocked",
                                "type": "string"
                              },
                              "uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              }
                            }
                          },
                          "type": "array"
                        }
                      }
                    },
                    {
                      "allOf": [
                        {
                          "description": "Cursor",
                          "properties": {
                            "cursor": {
                              "description": "Cursor to fetch more data if available or continue the polling process if required",
                              "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                              "type": "string"
                            }
                          }
                        },
                        {
                          "properties": {
                            "has_more": {
                              "description": "Whether there may still be more data to fetch using the returned cursor. If true, the subsequent request could still be empty.",
                              "type": "boolean"
                            }
                          }
                        }
                      ],
                      "description": "Common cursor properties for collection responses",
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  ],
                  "description": "An object wrapping cursor properties and a list of sign-in attempts",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "Sign-in attempts response object"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Generic error"
          }
        },
        "security": [
          {
            "jwtsa": []
          }
        ],
        "summary": "Retrieves events for both successful and failed attempts to sign into a 1Password account",
        "tags": [
          "api-v1"
        ]
      }
    },
    "/api/v2/auth/introspect": {
      "get": {
        "operationId": "getauthintrospectv2-v2",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "features": {
                      "example": [
                        "auditevents",
                        "itemusages",
                        "signinattempts"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "issued_at": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    },
                    "uuid": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Introspection v2 object"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Unauthorized"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Error": {
                      "properties": {
                        "Message": {
                          "description": "The error message.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Generic error"
          }
        },
        "security": [
          {
            "jwtsa": []
          }
        ],
        "summary": "Performs introspection of the provided Bearer JWT token",
        "tags": [
          "auth"
        ]
      }
    }
  },
  "components": {
    "examples": {
      "Cursor": {
        "summary": "Used for continued calling with a cursor",
        "value": {
          "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
        }
      },
      "ResetCursor": {
        "summary": "Used for reseting the cursor",
        "value": {
          "limit": 100,
          "start_time": "2021-06-11T19:32:50+00:00"
        }
      }
    },
    "requestBodies": {
      "AuditEventsRequest": {
        "content": {
          "application/json": {
            "examples": {
              "Continuing cursor": {
                "summary": "Used for continued calling with a cursor",
                "value": {
                  "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
                }
              },
              "Resetting cursor": {
                "summary": "Used for reseting the cursor",
                "value": {
                  "limit": 100,
                  "start_time": "2021-06-11T19:32:50+00:00"
                }
              }
            },
            "schema": {
              "oneOf": [
                {
                  "description": "Cursor",
                  "properties": {
                    "cursor": {
                      "description": "Cursor to fetch more data if available or continue the polling process if required",
                      "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                      "type": "string"
                    }
                  }
                },
                {
                  "description": "Reset cursor",
                  "properties": {
                    "end_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    },
                    "limit": {
                      "maximum": 1000,
                      "minimum": 1,
                      "type": "number"
                    },
                    "start_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    }
                  }
                }
              ],
              "_polymorphic_marker": {
                "oneOf": true
              }
            }
          }
        }
      },
      "CursorRequest": {
        "content": {
          "application/json": {
            "examples": {
              "Continuing cursor": {
                "summary": "Used for continued calling with a cursor",
                "value": {
                  "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
                }
              },
              "Resetting cursor": {
                "summary": "Used for reseting the cursor",
                "value": {
                  "limit": 100,
                  "start_time": "2021-06-11T19:32:50+00:00"
                }
              }
            },
            "schema": {
              "oneOf": [
                {
                  "description": "Cursor",
                  "properties": {
                    "cursor": {
                      "description": "Cursor to fetch more data if available or continue the polling process if required",
                      "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                      "type": "string"
                    }
                  }
                },
                {
                  "description": "Reset cursor",
                  "properties": {
                    "end_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    },
                    "limit": {
                      "maximum": 1000,
                      "minimum": 1,
                      "type": "number"
                    },
                    "start_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    }
                  }
                }
              ],
              "_polymorphic_marker": {
                "oneOf": true
              }
            }
          }
        }
      },
      "ItemUsagesRequest": {
        "content": {
          "application/json": {
            "examples": {
              "Continuing cursor": {
                "summary": "Used for continued calling with a cursor",
                "value": {
                  "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
                }
              },
              "Resetting cursor": {
                "summary": "Used for reseting the cursor",
                "value": {
                  "limit": 100,
                  "start_time": "2021-06-11T19:32:50+00:00"
                }
              }
            },
            "schema": {
              "oneOf": [
                {
                  "description": "Cursor",
                  "properties": {
                    "cursor": {
                      "description": "Cursor to fetch more data if available or continue the polling process if required",
                      "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                      "type": "string"
                    }
                  }
                },
                {
                  "description": "Reset cursor",
                  "properties": {
                    "end_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    },
                    "limit": {
                      "maximum": 1000,
                      "minimum": 1,
                      "type": "number"
                    },
                    "start_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    }
                  }
                }
              ],
              "_polymorphic_marker": {
                "oneOf": true
              }
            }
          }
        }
      },
      "SignInAttemptsRequest": {
        "content": {
          "application/json": {
            "examples": {
              "Continuing cursor": {
                "summary": "Used for continued calling with a cursor",
                "value": {
                  "cursor": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK"
                }
              },
              "Resetting cursor": {
                "summary": "Used for reseting the cursor",
                "value": {
                  "limit": 100,
                  "start_time": "2021-06-11T19:32:50+00:00"
                }
              }
            },
            "schema": {
              "oneOf": [
                {
                  "description": "Cursor",
                  "properties": {
                    "cursor": {
                      "description": "Cursor to fetch more data if available or continue the polling process if required",
                      "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                      "type": "string"
                    }
                  }
                },
                {
                  "description": "Reset cursor",
                  "properties": {
                    "end_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    },
                    "limit": {
                      "maximum": 1000,
                      "minimum": 1,
                      "type": "number"
                    },
                    "start_time": {
                      "example": "2020-06-11T19:32:50+00:00",
                      "format": "date-time",
                      "type": "string"
                    }
                  }
                }
              ],
              "_polymorphic_marker": {
                "oneOf": true
              }
            }
          }
        }
      }
    },
    "responses": {
      "AuditEventsResponse": {
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "items": {
                      "items": {
                        "description": "A single audit event object",
                        "properties": {
                          "action": {
                            "enum": [
                              "activate",
                              "update",
                              "delete",
                              "convert",
                              "enblduo",
                              "updatduo",
                              "disblduo",
                              "rdmchild",
                              "detchild",
                              "dlgsess",
                              "create",
                              "deolddev",
                              "dealldev",
                              "reauth",
                              "begin",
                              "complete",
                              "propose",
                              "updatfw",
                              "join",
                              "leave",
                              "role",
                              "purge",
                              "view",
                              "export",
                              "replace",
                              "grant",
                              "revoke",
                              "share",
                              "delshare",
                              "uisas",
                              "enblmfa",
                              "updatmfa",
                              "disblmfa",
                              "musercom",
                              "muserdec",
                              "sendpkg",
                              "resendts",
                              "prsndall",
                              "trename",
                              "tverify",
                              "trevoke",
                              "ssotknv",
                              "enblsso",
                              "disblsso",
                              "chngpsso",
                              "chngasso",
                              "chngdsso",
                              "delgsso",
                              "addgsso",
                              "cancel",
                              "hide",
                              "unhide",
                              "upguest",
                              "verify",
                              "reactive",
                              "suspend",
                              "beginr",
                              "provsn",
                              "sendts",
                              "unknown",
                              "completr",
                              "cancelr",
                              "trvlaway",
                              "trvlback",
                              "changeks",
                              "changemp",
                              "changesk",
                              "changenm",
                              "changela",
                              "tdvcsso",
                              "sdvcsso",
                              "patch",
                              "updatea",
                              "vrfydmn",
                              "uvrfydmn",
                              "dvrfydmn"
                            ],
                            "type": "string"
                          },
                          "actor_uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          },
                          "aux_id": {
                            "type": "integer"
                          },
                          "aux_info": {
                            "type": "string"
                          },
                          "aux_uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          },
                          "location": {
                            "description": "Geolocation Info about the client",
                            "properties": {
                              "city": {
                                "example": "Toronto",
                                "type": "string"
                              },
                              "country": {
                                "example": "CA",
                                "type": "string"
                              },
                              "latitude": {
                                "example": -79.433,
                                "type": "number"
                              },
                              "longitude": {
                                "example": 43.64,
                                "type": "number"
                              },
                              "region": {
                                "example": "Ontario",
                                "type": "string"
                              }
                            }
                          },
                          "object_type": {
                            "enum": [
                              "account",
                              "user",
                              "device",
                              "group",
                              "gm",
                              "vault",
                              "item",
                              "items",
                              "itemhist",
                              "vaultkey",
                              "template",
                              "uva",
                              "gva",
                              "invite",
                              "ec",
                              "miguser",
                              "sso",
                              "sub",
                              "card",
                              "pm",
                              "slackapp",
                              "file",
                              "famchild",
                              "sa",
                              "satoken",
                              "dlgdsess",
                              "ssotkn",
                              "report"
                            ],
                            "type": "string"
                          },
                          "object_uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          },
                          "session": {
                            "description": "Session information gathered about the client",
                            "properties": {
                              "device_uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              },
                              "ip": {
                                "example": "13.227.95.22",
                                "type": "string"
                              },
                              "login_time": {
                                "example": "2020-06-11T19:32:50+00:00",
                                "format": "date-time",
                                "type": "string"
                              },
                              "uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              }
                            }
                          },
                          "timestamp": {
                            "example": "2020-06-11T19:32:50+00:00",
                            "format": "date-time",
                            "type": "string"
                          },
                          "uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                {
                  "allOf": [
                    {
                      "description": "Cursor",
                      "properties": {
                        "cursor": {
                          "description": "Cursor to fetch more data if available or continue the polling process if required",
                          "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                          "type": "string"
                        }
                      }
                    },
                    {
                      "properties": {
                        "has_more": {
                          "description": "Whether there may still be more data to fetch using the returned cursor. If true, the subsequent request could still be empty.",
                          "type": "boolean"
                        }
                      }
                    }
                  ],
                  "description": "Common cursor properties for collection responses",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              ],
              "description": "An object wrapping cursor properties and a list of audit events",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          }
        },
        "description": "Audit events response object"
      },
      "GenericErrorResponse": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "Error": {
                  "properties": {
                    "Message": {
                      "description": "The error message.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Generic error"
      },
      "InternalServerErrorResponse": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "Error": {
                  "properties": {
                    "Message": {
                      "description": "The error message.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Internal Server Error"
      },
      "IntrospectResponse": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "Features": {
                  "example": [
                    "auditevents",
                    "itemusages",
                    "signinattempts"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "IssuedAt": {
                  "example": "2020-06-11T19:32:50+00:00",
                  "format": "date-time",
                  "type": "string"
                },
                "UUID": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Introspection object"
      },
      "IntrospectV2Response": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "features": {
                  "example": [
                    "auditevents",
                    "itemusages",
                    "signinattempts"
                  ],
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "issued_at": {
                  "example": "2020-06-11T19:32:50+00:00",
                  "format": "date-time",
                  "type": "string"
                },
                "uuid": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Introspection v2 object"
      },
      "ItemUsagesResponse": {
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "items": {
                      "items": {
                        "description": "A single item usage object",
                        "properties": {
                          "action": {
                            "enum": [
                              "fill",
                              "select-sso-provider",
                              "enter-item-edit-mode",
                              "export",
                              "share",
                              "secure-copy",
                              "reveal",
                              "server-create",
                              "server-update",
                              "server-fetch"
                            ],
                            "example": "reveal",
                            "type": "string"
                          },
                          "client": {
                            "description": "Metadata gathered about the client",
                            "properties": {
                              "app_name": {
                                "example": "1Password Extension",
                                "type": "string"
                              },
                              "app_version": {
                                "example": "20127",
                                "type": "string"
                              },
                              "ip_address": {
                                "example": "13.227.95.22",
                                "type": "string"
                              },
                              "os_name": {
                                "example": "MacOSX",
                                "type": "string"
                              },
                              "os_version": {
                                "example": "10.15.6",
                                "type": "string"
                              },
                              "platform_name": {
                                "example": "Chrome",
                                "type": "string"
                              },
                              "platform_version": {
                                "description": "Depending on the platform used, this can be the version of the browser that the client extension is installed, the model of computer that the native application is installed or the machine's CPU version that the CLI was installed",
                                "type": "string"
                              }
                            }
                          },
                          "item_uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          },
                          "location": {
                            "description": "Geolocation Info about the client",
                            "properties": {
                              "city": {
                                "example": "Toronto",
                                "type": "string"
                              },
                              "country": {
                                "example": "CA",
                                "type": "string"
                              },
                              "latitude": {
                                "example": -79.433,
                                "type": "number"
                              },
                              "longitude": {
                                "example": 43.64,
                                "type": "number"
                              },
                              "region": {
                                "example": "Ontario",
                                "type": "string"
                              }
                            }
                          },
                          "timestamp": {
                            "example": "2020-06-11T19:32:50+00:00",
                            "format": "date-time",
                            "type": "string"
                          },
                          "used_version": {
                            "type": "integer"
                          },
                          "user": {
                            "description": "User object",
                            "properties": {
                              "email": {
                                "format": "email",
                                "type": "string"
                              },
                              "name": {
                                "description": "Full name",
                                "example": "Jack O'Neill",
                                "type": "string"
                              },
                              "uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              }
                            }
                          },
                          "uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          },
                          "vault_uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                {
                  "allOf": [
                    {
                      "description": "Cursor",
                      "properties": {
                        "cursor": {
                          "description": "Cursor to fetch more data if available or continue the polling process if required",
                          "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                          "type": "string"
                        }
                      }
                    },
                    {
                      "properties": {
                        "has_more": {
                          "description": "Whether there may still be more data to fetch using the returned cursor. If true, the subsequent request could still be empty.",
                          "type": "boolean"
                        }
                      }
                    }
                  ],
                  "description": "Common cursor properties for collection responses",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              ],
              "description": "An object wrapping cursor properties and a list of items usages",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          }
        },
        "description": "Item usages response object"
      },
      "SignInAttemptsResponse": {
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "items": {
                      "items": {
                        "description": "A single sign-in attempt object",
                        "properties": {
                          "category": {
                            "enum": [
                              "success",
                              "credentials_failed",
                              "mfa_failed",
                              "sso_failed",
                              "modern_version_failed",
                              "firewall_failed",
                              "firewall_reported_success"
                            ],
                            "example": "firewall_failed",
                            "type": "string"
                          },
                          "client": {
                            "description": "Metadata gathered about the client",
                            "properties": {
                              "app_name": {
                                "example": "1Password Extension",
                                "type": "string"
                              },
                              "app_version": {
                                "example": "20127",
                                "type": "string"
                              },
                              "ip_address": {
                                "example": "13.227.95.22",
                                "type": "string"
                              },
                              "os_name": {
                                "example": "MacOSX",
                                "type": "string"
                              },
                              "os_version": {
                                "example": "10.15.6",
                                "type": "string"
                              },
                              "platform_name": {
                                "example": "Chrome",
                                "type": "string"
                              },
                              "platform_version": {
                                "description": "Depending on the platform used, this can be the version of the browser that the client extension is installed, the model of computer that the native application is installed or the machine's CPU version that the CLI was installed",
                                "type": "string"
                              }
                            }
                          },
                          "country": {
                            "description": "Country ISO Code",
                            "example": "France",
                            "type": "string"
                          },
                          "details": {
                            "description": "Additional information about the sign-in attempt",
                            "properties": {
                              "value": {
                                "description": "For firewall prevented sign-ins, the value is the chosen continent, country, etc. that blocked the sign-in attempt",
                                "example": "Europe",
                                "type": "string"
                              }
                            }
                          },
                          "location": {
                            "description": "Geolocation Info about the client",
                            "properties": {
                              "city": {
                                "example": "Toronto",
                                "type": "string"
                              },
                              "country": {
                                "example": "CA",
                                "type": "string"
                              },
                              "latitude": {
                                "example": -79.433,
                                "type": "number"
                              },
                              "longitude": {
                                "example": 43.64,
                                "type": "number"
                              },
                              "region": {
                                "example": "Ontario",
                                "type": "string"
                              }
                            }
                          },
                          "session_uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          },
                          "target_user": {
                            "description": "User object",
                            "properties": {
                              "email": {
                                "format": "email",
                                "type": "string"
                              },
                              "name": {
                                "description": "Full name",
                                "example": "Jack O'Neill",
                                "type": "string"
                              },
                              "uuid": {
                                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                                "type": "string"
                              }
                            }
                          },
                          "timestamp": {
                            "example": "2020-06-11T19:32:50+00:00",
                            "format": "date-time",
                            "type": "string"
                          },
                          "type": {
                            "enum": [
                              "credentials_ok",
                              "mfa_ok",
                              "password_secret_bad",
                              "mfa_missing",
                              "totp_disabled",
                              "totp_bad",
                              "totp_timeout",
                              "u2f_disabled",
                              "u2f_bad",
                              "u2f_timout",
                              "duo_disabled",
                              "duo_bad",
                              "duo_timeout",
                              "duo_native_bad",
                              "service_account_sso_denied",
                              "non_sso_user",
                              "sso_user_mismatch",
                              "platform_secret_disabled",
                              "platform_secret_bad",
                              "platform_secret_proxy",
                              "code_disabled",
                              "code_bad",
                              "code_timeout",
                              "ip_blocked",
                              "continent_blocked",
                              "country_blocked",
                              "anonymous_blocked",
                              "all_blocked",
                              "modern_version_missing",
                              "modern_version_old"
                            ],
                            "example": "continent_blocked",
                            "type": "string"
                          },
                          "uuid": {
                            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                {
                  "allOf": [
                    {
                      "description": "Cursor",
                      "properties": {
                        "cursor": {
                          "description": "Cursor to fetch more data if available or continue the polling process if required",
                          "example": "aGVsbG8hIGlzIGl0IG1lIHlvdSBhcmUgbG9va2luZyBmb3IK",
                          "type": "string"
                        }
                      }
                    },
                    {
                      "properties": {
                        "has_more": {
                          "description": "Whether there may still be more data to fetch using the returned cursor. If true, the subsequent request could still be empty.",
                          "type": "boolean"
                        }
                      }
                    }
                  ],
                  "description": "Common cursor properties for collection responses",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              ],
              "description": "An object wrapping cursor properties and a list of sign-in attempts",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          }
        },
        "description": "Sign-in attempts response object"
      },
      "UnauthorizedErrorResponse": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "Error": {
                  "properties": {
                    "Message": {
                      "description": "The error message.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Unauthorized"
      }
    },
    "schemas": {
      "AuditEvent": {
        "description": "A single audit event object",
        "properties": {
          "action": {
            "enum": [
              "activate",
              "update",
              "delete",
              "convert",
              "enblduo",
              "updatduo",
              "disblduo",
              "rdmchild",
              "detchild",
              "dlgsess",
              "create",
              "deolddev",
              "dealldev",
              "reauth",
              "begin",
              "complete",
              "propose",
              "updatfw",
              "join",
              "leave",
              "role",
              "purge",
              "view",
              "export",
              "replace",
              "grant",
              "revoke",
              "share",
              "delshare",
              "uisas",
              "enblmfa",
              "updatmfa",
              "disblmfa",
              "musercom",
              "muserdec",
              "sendpkg",
              "resendts",
              "prsndall",
              "trename",
              "tverify",
              "trevoke",
              "ssotknv",
              "enblsso",
              "disblsso",
              "chngpsso",
              "chngasso",
              "chngdsso",
              "delgsso",
              "addgsso",
              "cancel",
              "hide",
              "unhide",
              "upguest",
              "verify",
              "reactive",
              "suspend",
              "beginr",
              "provsn",
              "sendts",
              "unknown",
              "completr",
              "cancelr",
              "trvlaway",
              "trvlback",
              "changeks",
              "changemp",
              "changesk",
              "changenm",
              "changela",
              "tdvcsso",
              "sdvcsso",
              "patch",
              "updatea",
              "vrfydmn",
              "uvrfydmn",
              "dvrfydmn"
            ],
            "type": "string"
          },
          "actor_uuid": {
            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
            "type": "string"
          },
          "aux_id": {
            "type": "integer"
          },
          "aux_info": {
            "type": "string"
          },
          "aux_uuid": {
            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
            "type": "string"
          },
          "location": {
            "description": "Geolocation Info about the client",
            "properties": {
              "city": {
                "example": "Toronto",
                "type": "string"
              },
              "country": {
                "example": "CA",
                "type": "string"
              },
              "latitude": {
                "example": -79.433,
                "type": "number"
              },
              "longitude": {
                "example": 43.64,
                "type": "number"
              },
              "region": {
                "example": "Ontario",
                "type": "string"
              }
            }
          },
          "object_type": {
            "enum": [
              "account",
              "user",
              "device",
              "group",
              "gm",
              "vault",
              "item",
              "items",
              "itemhist",
              "vaultkey",
              "template",
              "uva",
              "gva",
              "invite",
              "ec",
              "miguser",
              "sso",
              "sub",
              "card",
              "pm",
              "slackapp",
              "file",
              "famchild",
              "sa",
              "satoken",
              "dlgdsess",
              "ssotkn",
              "report"
            ],
            "type": "string"
          },
          "object_uuid": {
            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
            "type": "string"
          },
          "session": {
            "description": "Session information gathered about the client",
            "properties": {
              "device_uuid": {
                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                "type": "string"
              },
              "ip": {
                "example": "13.227.95.22",
                "type": "string"
              },
              "login_time": {
                "example": "2020-06-11T19:32:50+00:00",
                "format": "date-time",
                "type": "string"
              },
              "uuid": {
                "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                "type": "string"
              }
            }
          },
          "timestamp": {
            "example": "2020-06-11T19:32:50+00:00",
            "format": "date-time",
            "type": "string"
          },
          "uuid": {
            "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
            "type": "string"
          }
        }
      },
      "AuditEventActions": {
        "enum": [
          "activate",
          "update",
          "delete",
          "convert",
          "enblduo",
          "updatduo",
          "disblduo",
          "rdmchild",
          "detchild",
          "dlgsess",
          "create",
          "deolddev",
          "dealldev",
          "reauth",
          "begin",
          "complete",
          "propose",
          "updatfw",
          "join",
          "leave",
          "role",
          "purge",
          "view",
          "export",
          "replace",
          "grant",
          "revoke",
          "share",
          "delshare",
          "uisas",
          "enblmfa",
          "updatmfa",
          "disblmfa",
          "musercom",
          "muserdec",
          "sendpkg",
          "resendts",
          "prsndall",
          "trename",
          "tverify",
          "trevoke",
          "ssotknv",
          "enblsso",
          "disblsso",
          "chngpsso",
          "chngasso",
          "chngdsso",
          "delgsso",
          "addgsso",
          "cancel",
          "hide",
          "unhide",
          "upguest",
          "verify",
          "reactive",
          "suspend",
          "beginr",
          "provsn",
          "sendts",
          "unknown",
          "completr",
          "cancelr",
          "trvlaway",
          "trvlback",
          "changeks",
          "changemp",
          "changesk",
          "changenm",
          "changela",
          "tdvcsso",
          "sdvcsso",
          "patch",
          "updatea",
          "vrfydmn",
          "uvrfydmn",
          "dvrfydmn"
        ],
        "type": "string"
      },
      "AuditEventItems": {
        "allOf": [
          {
            "properties": {
              "items": {
                "items": {
                  "description": "A single audit event object",
                  "properties": {
                    "action": {
                      "enum": [
                        "activate",
                        "update",
                        "delete",
                        "convert",
                        "enblduo",
                        "updatduo",
                        "disblduo",
                        "rdmchild",
                        "detchild",
                        "dlgsess",
                        "create",
                        "deolddev",
                        "dealldev",
                        "reauth",
                        "begin",
                        "complete",
                        "propose",
                        "updatfw",
                        "join",
                        "leave",
                        "role",
                        "purge",
                        "view",
                        "export",
                        "replace",
                        "grant",
                        "revoke",
                        "share",
                        "delshare",
                        "uisas",
                        "enblmfa",
                        "updatmfa",
                        "disblmfa",
                        "musercom",
                        "muserdec",
                        "sendpkg",
                        "resendts",
                        "prsndall",
                        "trename",
                        "tverify",
                        "trevoke",
                        "ssotknv",
                        "enblsso",
                        "disblsso",
                        "chngpsso",
                        "chngasso",
                        "chngdsso",
                        "delgsso",
                        "addgsso",
                        "cancel",
                        "hide",
                        "unhide",
                        "upguest",
                        "verify",
                        "reactive",
                        "suspend",
                        "beginr",
                        "provsn",
                        "sendts",
                        "unknown",
                        "completr",
                        "cancelr",
                        "trvlaway",
                        "trvlback",
                        "changeks",
                        "changemp",
                        "changesk",
                        "changenm",
                        "changela",
                        "tdvcsso",
                        "sdvcsso",
                        "patch",
                        "updatea",
                        "vrfydmn",
                        "uvrfydmn",
                        "dvrfydmn"
                      ],
                      "type": "string"
                    },
                    "actor_uuid": {
                      "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                      "type": "string"
                    },
                    "aux_id": {
                      "type": "integer"
                    },
                    "aux_info": {
                      "type": "string"
                    },
                    "aux_uuid": {
                      "example": "56YE2TYN2VFYRLNSHKPW5NVT5E",
                      "type": "string"
                    },
                    "location": {
                      "description": "Geolocation Info about the client",
                      "properties": {
                        "city": {
                          "example": "Toronto",
                          "type": "string"
                        },
                        "country": {
                          "example": "CA",
                          "type": "string"
                        },
                        "latitude": {
                          "example": -79.433,
                          "type": "number"
                        },
                        "longitude": {
                          "example": 43.64,
                          "type": "number"
                        },
                        "region": {
                          "example": "Ontario",
                          "type": "string"
                        }
                      }
                    },
                    "object_type": {
                      "enum": [
                        "account",
                        "user",
                        "device",
                        "group",
                        "gm",
                        "vault",
                        "item",
                        "items",
                        "itemhist",
                        "vaultkey",
                        "template",
                        "uva",
                        "gva",
                        "invite",
                        "ec",
                        "miguser",
                        "sso",
                        "sub",
                        "card",
                        "pm",
                        "slackapp",
                        "file",
                        "famchild",
                        "sa",
                        "satoken",
                        "dlgdsess",
                        "ssotkn",
                        "report"
                      ],
[...]
