{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://southcentralus.api.cognitive.microsoft.com/customvision/v3.0/prediction"
    },
    {
      "url": "{Endpoint}/customvision/v3.0/prediction",
      "variables": {
        "Endpoint": {
          "default": "none",
          "description": "Supported Cognitive Services endpoints.",
          "x-ms-parameter-location": "client",
          "x-ms-skip-url-encoding": true
        }
      }
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "microsoft"
    },
    "title": "Custom Vision Prediction Client",
    "version": "3.0",
    "x-apisguru-categories": [
      "developer_tools",
      "cloud"
    ],
    "x-logo": {
      "url": "https://twitter.com/microsoft/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Prediction/stable/v3.0/Prediction.json",
        "version": "3.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "microsoft.com",
    "x-serviceName": "cognitiveservices-Prediction",
    "x-tags": [
      "Microsoft"
    ]
  },
  "security": [
    {
      "apim_key": []
    }
  ],
  "paths": {
    "/paymentid/classify/iterations/orderid/image": {
      "post": {
        "operationId": "classifyimage-v2",
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful ClassifyImage request": {
                "value": "64b822c5-8082-4b36-a426-27225f4aa18c"
              }
            },
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Specifies the name of the model to evaluate against.",
            "examples": {
              "Successful ClassifyImage request": {
                "value": "MyModel1"
              }
            },
            "in": "path",
            "name": "publishedName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Specifies the name of application using the endpoint.",
            "in": "query",
            "name": "application",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "imageData": {
                    "description": "Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 4MB.",
                    "format": "binary",
                    "type": "string"
                  }
                },
                "required": [
                  "imageData"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Successful ClassifyImage request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "examples": {
                  "Successful ClassifyImage request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "examples": {
                  "Successful ClassifyImage request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "The error code.",
                      "enum": [
                        "NoError",
                        "BadRequest",
                        "BadRequestExceededBatchSize",
                        "BadRequestNotSupported",
                        "BadRequestInvalidIds",
                        "BadRequestProjectName",
                        "BadRequestProjectNameNotUnique",
                        "BadRequestProjectDescription",
                        "BadRequestProjectUnknownDomain",
                        "BadRequestProjectUnknownClassification",
                        "BadRequestProjectUnsupportedDomainTypeChange",
                        "BadRequestProjectUnsupportedExportPlatform",
                        "BadRequestIterationName",
                        "BadRequestIterationNameNotUnique",
                        "BadRequestIterationDescription",
                        "BadRequestIterationIsNotTrained",
                        "BadRequestWorkspaceCannotBeModified",
                        "BadRequestWorkspaceNotDeletable",
                        "BadRequestTagName",
                        "BadRequestTagNameNotUnique",
                        "BadRequestTagDescription",
                        "BadRequestTagType",
                        "BadRequestMultipleNegativeTag",
                        "BadRequestImageTags",
                        "BadRequestImageRegions",
                        "BadRequestNegativeAndRegularTagOnSameImage",
                        "BadRequestRequiredParamIsNull",
                        "BadRequestIterationIsPublished",
                        "BadRequestInvalidPublishName",
                        "BadRequestInvalidPublishTarget",
                        "BadRequestUnpublishFailed",
                        "BadRequestSubscriptionApi",
                        "BadRequestExceedProjectLimit",
                        "BadRequestExceedIterationPerProjectLimit",
                        "BadRequestExceedTagPerProjectLimit",
                        "BadRequestExceedTagPerImageLimit",
                        "BadRequestExceededQuota",
                        "BadRequestCannotMigrateProjectWithName",
                        "BadRequestNotLimitedTrial",
                        "BadRequestImageBatch",
                        "BadRequestImageStream",
                        "BadRequestImageUrl",
                        "BadRequestImageFormat",
                        "BadRequestImageSizeBytes",
                        "BadRequestImageExceededCount",
                        "BadRequestTrainingNotNeeded",
                        "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
                        "BadRequestTrainingValidationFailed",
                        "BadRequestClassificationTrainingValidationFailed",
                        "BadRequestMultiClassClassificationTrainingValidationFailed",
                        "BadRequestMultiLabelClassificationTrainingValidationFailed",
                        "BadRequestDetectionTrainingValidationFailed",
                        "BadRequestTrainingAlreadyInProgress",
                        "BadRequestDetectionTrainingNotAllowNegativeTag",
                        "BadRequestInvalidEmailAddress",
                        "BadRequestDomainNotSupportedForAdvancedTraining",
                        "BadRequestExportPlatformNotSupportedForAdvancedTraining",
                        "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
                        "BadRequestExportValidationFailed",
                        "BadRequestExportAlreadyInProgress",
                        "BadRequestPredictionIdsMissing",
                        "BadRequestPredictionIdsExceededCount",
                        "BadRequestPredictionTagsExceededCount",
                        "BadRequestPredictionResultsExceededCount",
                        "BadRequestPredictionInvalidApplicationName",
                        "BadRequestPredictionInvalidQueryParameters",
                        "BadRequestInvalid",
                        "UnsupportedMediaType",
                        "Forbidden",
                        "ForbiddenUser",
                        "ForbiddenUserResource",
                        "ForbiddenUserSignupDisabled",
                        "ForbiddenUserSignupAllowanceExceeded",
                        "ForbiddenUserDoesNotExist",
                        "ForbiddenUserDisabled",
                        "ForbiddenUserInsufficientCapability",
                        "ForbiddenDRModeEnabled",
                        "ForbiddenInvalid",
                        "NotFound",
                        "NotFoundProject",
                        "NotFoundProjectDefaultIteration",
                        "NotFoundIteration",
                        "NotFoundIterationPerformance",
                        "NotFoundTag",
                        "NotFoundImage",
                        "NotFoundDomain",
                        "NotFoundApimSubscription",
                        "NotFoundInvalid",
                        "Conflict",
                        "ConflictInvalid",
                        "ErrorUnknown",
                        "ErrorProjectInvalidWorkspace",
                        "ErrorProjectInvalidPipelineConfiguration",
                        "ErrorProjectInvalidDomain",
                        "ErrorProjectTrainingRequestFailed",
                        "ErrorProjectExportRequestFailed",
                        "ErrorFeaturizationServiceUnavailable",
                        "ErrorFeaturizationQueueTimeout",
                        "ErrorFeaturizationInvalidFeaturizer",
                        "ErrorFeaturizationAugmentationUnavailable",
                        "ErrorFeaturizationUnrecognizedJob",
                        "ErrorFeaturizationAugmentationError",
                        "ErrorExporterInvalidPlatform",
                        "ErrorExporterInvalidFeaturizer",
                        "ErrorExporterInvalidClassifier",
                        "ErrorPredictionServiceUnavailable",
                        "ErrorPredictionModelNotFound",
                        "ErrorPredictionModelNotCached",
                        "ErrorPrediction",
                        "ErrorPredictionStorage",
                        "ErrorRegionProposal",
                        "ErrorInvalid"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "CustomVisionErrorCodes"
                      }
                    },
                    "message": {
                      "description": "A message explaining the error reported by the service.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "The error code.",
                      "enum": [
                        "NoError",
                        "BadRequest",
                        "BadRequestExceededBatchSize",
                        "BadRequestNotSupported",
                        "BadRequestInvalidIds",
                        "BadRequestProjectName",
                        "BadRequestProjectNameNotUnique",
                        "BadRequestProjectDescription",
                        "BadRequestProjectUnknownDomain",
                        "BadRequestProjectUnknownClassification",
                        "BadRequestProjectUnsupportedDomainTypeChange",
                        "BadRequestProjectUnsupportedExportPlatform",
                        "BadRequestIterationName",
                        "BadRequestIterationNameNotUnique",
                        "BadRequestIterationDescription",
                        "BadRequestIterationIsNotTrained",
                        "BadRequestWorkspaceCannotBeModified",
                        "BadRequestWorkspaceNotDeletable",
                        "BadRequestTagName",
                        "BadRequestTagNameNotUnique",
                        "BadRequestTagDescription",
                        "BadRequestTagType",
                        "BadRequestMultipleNegativeTag",
                        "BadRequestImageTags",
                        "BadRequestImageRegions",
                        "BadRequestNegativeAndRegularTagOnSameImage",
                        "BadRequestRequiredParamIsNull",
                        "BadRequestIterationIsPublished",
                        "BadRequestInvalidPublishName",
                        "BadRequestInvalidPublishTarget",
                        "BadRequestUnpublishFailed",
                        "BadRequestSubscriptionApi",
                        "BadRequestExceedProjectLimit",
                        "BadRequestExceedIterationPerProjectLimit",
                        "BadRequestExceedTagPerProjectLimit",
                        "BadRequestExceedTagPerImageLimit",
                        "BadRequestExceededQuota",
                        "BadRequestCannotMigrateProjectWithName",
                        "BadRequestNotLimitedTrial",
                        "BadRequestImageBatch",
                        "BadRequestImageStream",
                        "BadRequestImageUrl",
                        "BadRequestImageFormat",
                        "BadRequestImageSizeBytes",
                        "BadRequestImageExceededCount",
                        "BadRequestTrainingNotNeeded",
                        "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
                        "BadRequestTrainingValidationFailed",
                        "BadRequestClassificationTrainingValidationFailed",
                        "BadRequestMultiClassClassificationTrainingValidationFailed",
                        "BadRequestMultiLabelClassificationTrainingValidationFailed",
                        "BadRequestDetectionTrainingValidationFailed",
                        "BadRequestTrainingAlreadyInProgress",
                        "BadRequestDetectionTrainingNotAllowNegativeTag",
                        "BadRequestInvalidEmailAddress",
                        "BadRequestDomainNotSupportedForAdvancedTraining",
                        "BadRequestExportPlatformNotSupportedForAdvancedTraining",
                        "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
                        "BadRequestExportValidationFailed",
                        "BadRequestExportAlreadyInProgress",
                        "BadRequestPredictionIdsMissing",
                        "BadRequestPredictionIdsExceededCount",
                        "BadRequestPredictionTagsExceededCount",
                        "BadRequestPredictionResultsExceededCount",
                        "BadRequestPredictionInvalidApplicationName",
                        "BadRequestPredictionInvalidQueryParameters",
                        "BadRequestInvalid",
                        "UnsupportedMediaType",
                        "Forbidden",
                        "ForbiddenUser",
                        "ForbiddenUserResource",
                        "ForbiddenUserSignupDisabled",
                        "ForbiddenUserSignupAllowanceExceeded",
                        "ForbiddenUserDoesNotExist",
                        "ForbiddenUserDisabled",
                        "ForbiddenUserInsufficientCapability",
                        "ForbiddenDRModeEnabled",
                        "ForbiddenInvalid",
                        "NotFound",
                        "NotFoundProject",
                        "NotFoundProjectDefaultIteration",
                        "NotFoundIteration",
                        "NotFoundIterationPerformance",
                        "NotFoundTag",
                        "NotFoundImage",
                        "NotFoundDomain",
                        "NotFoundApimSubscription",
                        "NotFoundInvalid",
                        "Conflict",
                        "ConflictInvalid",
                        "ErrorUnknown",
                        "ErrorProjectInvalidWorkspace",
                        "ErrorProjectInvalidPipelineConfiguration",
                        "ErrorProjectInvalidDomain",
                        "ErrorProjectTrainingRequestFailed",
                        "ErrorProjectExportRequestFailed",
                        "ErrorFeaturizationServiceUnavailable",
                        "ErrorFeaturizationQueueTimeout",
                        "ErrorFeaturizationInvalidFeaturizer",
                        "ErrorFeaturizationAugmentationUnavailable",
                        "ErrorFeaturizationUnrecognizedJob",
                        "ErrorFeaturizationAugmentationError",
                        "ErrorExporterInvalidPlatform",
                        "ErrorExporterInvalidFeaturizer",
                        "ErrorExporterInvalidClassifier",
                        "ErrorPredictionServiceUnavailable",
                        "ErrorPredictionModelNotFound",
                        "ErrorPredictionModelNotCached",
                        "ErrorPrediction",
                        "ErrorPredictionStorage",
                        "ErrorRegionProposal",
                        "ErrorInvalid"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "CustomVisionErrorCodes"
                      }
                    },
                    "message": {
                      "description": "A message explaining the error reported by the service.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "The error code.",
                      "enum": [
                        "NoError",
                        "BadRequest",
                        "BadRequestExceededBatchSize",
                        "BadRequestNotSupported",
                        "BadRequestInvalidIds",
                        "BadRequestProjectName",
                        "BadRequestProjectNameNotUnique",
                        "BadRequestProjectDescription",
                        "BadRequestProjectUnknownDomain",
                        "BadRequestProjectUnknownClassification",
                        "BadRequestProjectUnsupportedDomainTypeChange",
                        "BadRequestProjectUnsupportedExportPlatform",
                        "BadRequestIterationName",
                        "BadRequestIterationNameNotUnique",
                        "BadRequestIterationDescription",
                        "BadRequestIterationIsNotTrained",
                        "BadRequestWorkspaceCannotBeModified",
                        "BadRequestWorkspaceNotDeletable",
                        "BadRequestTagName",
                        "BadRequestTagNameNotUnique",
                        "BadRequestTagDescription",
                        "BadRequestTagType",
                        "BadRequestMultipleNegativeTag",
                        "BadRequestImageTags",
                        "BadRequestImageRegions",
                        "BadRequestNegativeAndRegularTagOnSameImage",
                        "BadRequestRequiredParamIsNull",
                        "BadRequestIterationIsPublished",
                        "BadRequestInvalidPublishName",
                        "BadRequestInvalidPublishTarget",
                        "BadRequestUnpublishFailed",
                        "BadRequestSubscriptionApi",
                        "BadRequestExceedProjectLimit",
                        "BadRequestExceedIterationPerProjectLimit",
                        "BadRequestExceedTagPerProjectLimit",
                        "BadRequestExceedTagPerImageLimit",
                        "BadRequestExceededQuota",
                        "BadRequestCannotMigrateProjectWithName",
                        "BadRequestNotLimitedTrial",
                        "BadRequestImageBatch",
                        "BadRequestImageStream",
                        "BadRequestImageUrl",
                        "BadRequestImageFormat",
                        "BadRequestImageSizeBytes",
                        "BadRequestImageExceededCount",
                        "BadRequestTrainingNotNeeded",
                        "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
                        "BadRequestTrainingValidationFailed",
                        "BadRequestClassificationTrainingValidationFailed",
                        "BadRequestMultiClassClassificationTrainingValidationFailed",
                        "BadRequestMultiLabelClassificationTrainingValidationFailed",
                        "BadRequestDetectionTrainingValidationFailed",
                        "BadRequestTrainingAlreadyInProgress",
                        "BadRequestDetectionTrainingNotAllowNegativeTag",
                        "BadRequestInvalidEmailAddress",
                        "BadRequestDomainNotSupportedForAdvancedTraining",
                        "BadRequestExportPlatformNotSupportedForAdvancedTraining",
                        "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
                        "BadRequestExportValidationFailed",
                        "BadRequestExportAlreadyInProgress",
                        "BadRequestPredictionIdsMissing",
                        "BadRequestPredictionIdsExceededCount",
                        "BadRequestPredictionTagsExceededCount",
                        "BadRequestPredictionResultsExceededCount",
                        "BadRequestPredictionInvalidApplicationName",
                        "BadRequestPredictionInvalidQueryParameters",
                        "BadRequestInvalid",
                        "UnsupportedMediaType",
                        "Forbidden",
                        "ForbiddenUser",
                        "ForbiddenUserResource",
                        "ForbiddenUserSignupDisabled",
                        "ForbiddenUserSignupAllowanceExceeded",
                        "ForbiddenUserDoesNotExist",
                        "ForbiddenUserDisabled",
                        "ForbiddenUserInsufficientCapability",
                        "ForbiddenDRModeEnabled",
                        "ForbiddenInvalid",
                        "NotFound",
                        "NotFoundProject",
                        "NotFoundProjectDefaultIteration",
                        "NotFoundIteration",
                        "NotFoundIterationPerformance",
                        "NotFoundTag",
                        "NotFoundImage",
                        "NotFoundDomain",
                        "NotFoundApimSubscription",
                        "NotFoundInvalid",
                        "Conflict",
                        "ConflictInvalid",
                        "ErrorUnknown",
                        "ErrorProjectInvalidWorkspace",
                        "ErrorProjectInvalidPipelineConfiguration",
                        "ErrorProjectInvalidDomain",
                        "ErrorProjectTrainingRequestFailed",
                        "ErrorProjectExportRequestFailed",
                        "ErrorFeaturizationServiceUnavailable",
                        "ErrorFeaturizationQueueTimeout",
                        "ErrorFeaturizationInvalidFeaturizer",
                        "ErrorFeaturizationAugmentationUnavailable",
                        "ErrorFeaturizationUnrecognizedJob",
                        "ErrorFeaturizationAugmentationError",
                        "ErrorExporterInvalidPlatform",
                        "ErrorExporterInvalidFeaturizer",
                        "ErrorExporterInvalidClassifier",
                        "ErrorPredictionServiceUnavailable",
                        "ErrorPredictionModelNotFound",
                        "ErrorPredictionModelNotCached",
                        "ErrorPrediction",
                        "ErrorPredictionStorage",
                        "ErrorRegionProposal",
                        "ErrorInvalid"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "CustomVisionErrorCodes"
                      }
                    },
                    "message": {
                      "description": "A message explaining the error reported by the service.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error response"
          }
        },
        "summary": "Classify an image and saves the result.",
        "tags": [
          "ImagePredictionApi"
        ]
      }
    },
    "/id/classify/iterations/userid/image/nostore": {
      "post": {
        "operationId": "classifyimagewithnostore-v2",
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful ClassifyImageWithNoStore request": {
                "value": "64b822c5-8082-4b36-a426-27225f4aa18c"
              }
            },
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Specifies the name of the model to evaluate against.",
            "examples": {
              "Successful ClassifyImageWithNoStore request": {
                "value": "MyModel1"
              }
            },
            "in": "path",
            "name": "publishedName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Specifies the name of application using the endpoint.",
            "in": "query",
            "name": "application",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "imageData": {
                    "description": "Binary image data. Supported formats are JPEG, GIF, PNG, and BMP. Supports images up to 0MB.",
                    "format": "binary",
                    "type": "string"
                  }
                },
                "required": [
                  "imageData"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Successful ClassifyImageWithNoStore request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "examples": {
                  "Successful ClassifyImageWithNoStore request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "examples": {
                  "Successful ClassifyImageWithNoStore request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "The error code.",
                      "enum": [
                        "NoError",
                        "BadRequest",
                        "BadRequestExceededBatchSize",
                        "BadRequestNotSupported",
                        "BadRequestInvalidIds",
                        "BadRequestProjectName",
                        "BadRequestProjectNameNotUnique",
                        "BadRequestProjectDescription",
                        "BadRequestProjectUnknownDomain",
                        "BadRequestProjectUnknownClassification",
                        "BadRequestProjectUnsupportedDomainTypeChange",
                        "BadRequestProjectUnsupportedExportPlatform",
                        "BadRequestIterationName",
                        "BadRequestIterationNameNotUnique",
                        "BadRequestIterationDescription",
                        "BadRequestIterationIsNotTrained",
                        "BadRequestWorkspaceCannotBeModified",
                        "BadRequestWorkspaceNotDeletable",
                        "BadRequestTagName",
                        "BadRequestTagNameNotUnique",
                        "BadRequestTagDescription",
                        "BadRequestTagType",
                        "BadRequestMultipleNegativeTag",
                        "BadRequestImageTags",
                        "BadRequestImageRegions",
                        "BadRequestNegativeAndRegularTagOnSameImage",
                        "BadRequestRequiredParamIsNull",
                        "BadRequestIterationIsPublished",
                        "BadRequestInvalidPublishName",
                        "BadRequestInvalidPublishTarget",
                        "BadRequestUnpublishFailed",
                        "BadRequestSubscriptionApi",
                        "BadRequestExceedProjectLimit",
                        "BadRequestExceedIterationPerProjectLimit",
                        "BadRequestExceedTagPerProjectLimit",
                        "BadRequestExceedTagPerImageLimit",
                        "BadRequestExceededQuota",
                        "BadRequestCannotMigrateProjectWithName",
                        "BadRequestNotLimitedTrial",
                        "BadRequestImageBatch",
                        "BadRequestImageStream",
                        "BadRequestImageUrl",
                        "BadRequestImageFormat",
                        "BadRequestImageSizeBytes",
                        "BadRequestImageExceededCount",
                        "BadRequestTrainingNotNeeded",
                        "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
                        "BadRequestTrainingValidationFailed",
                        "BadRequestClassificationTrainingValidationFailed",
                        "BadRequestMultiClassClassificationTrainingValidationFailed",
                        "BadRequestMultiLabelClassificationTrainingValidationFailed",
                        "BadRequestDetectionTrainingValidationFailed",
                        "BadRequestTrainingAlreadyInProgress",
                        "BadRequestDetectionTrainingNotAllowNegativeTag",
                        "BadRequestInvalidEmailAddress",
                        "BadRequestDomainNotSupportedForAdvancedTraining",
                        "BadRequestExportPlatformNotSupportedForAdvancedTraining",
                        "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
                        "BadRequestExportValidationFailed",
                        "BadRequestExportAlreadyInProgress",
                        "BadRequestPredictionIdsMissing",
                        "BadRequestPredictionIdsExceededCount",
                        "BadRequestPredictionTagsExceededCount",
                        "BadRequestPredictionResultsExceededCount",
                        "BadRequestPredictionInvalidApplicationName",
                        "BadRequestPredictionInvalidQueryParameters",
                        "BadRequestInvalid",
                        "UnsupportedMediaType",
                        "Forbidden",
                        "ForbiddenUser",
                        "ForbiddenUserResource",
                        "ForbiddenUserSignupDisabled",
                        "ForbiddenUserSignupAllowanceExceeded",
                        "ForbiddenUserDoesNotExist",
                        "ForbiddenUserDisabled",
                        "ForbiddenUserInsufficientCapability",
                        "ForbiddenDRModeEnabled",
                        "ForbiddenInvalid",
                        "NotFound",
                        "NotFoundProject",
                        "NotFoundProjectDefaultIteration",
                        "NotFoundIteration",
                        "NotFoundIterationPerformance",
                        "NotFoundTag",
                        "NotFoundImage",
                        "NotFoundDomain",
                        "NotFoundApimSubscription",
                        "NotFoundInvalid",
                        "Conflict",
                        "ConflictInvalid",
                        "ErrorUnknown",
                        "ErrorProjectInvalidWorkspace",
                        "ErrorProjectInvalidPipelineConfiguration",
                        "ErrorProjectInvalidDomain",
                        "ErrorProjectTrainingRequestFailed",
                        "ErrorProjectExportRequestFailed",
                        "ErrorFeaturizationServiceUnavailable",
                        "ErrorFeaturizationQueueTimeout",
                        "ErrorFeaturizationInvalidFeaturizer",
                        "ErrorFeaturizationAugmentationUnavailable",
                        "ErrorFeaturizationUnrecognizedJob",
                        "ErrorFeaturizationAugmentationError",
                        "ErrorExporterInvalidPlatform",
                        "ErrorExporterInvalidFeaturizer",
                        "ErrorExporterInvalidClassifier",
                        "ErrorPredictionServiceUnavailable",
                        "ErrorPredictionModelNotFound",
                        "ErrorPredictionModelNotCached",
                        "ErrorPrediction",
                        "ErrorPredictionStorage",
                        "ErrorRegionProposal",
                        "ErrorInvalid"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "CustomVisionErrorCodes"
                      }
                    },
                    "message": {
                      "description": "A message explaining the error reported by the service.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              },
              "application/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "The error code.",
                      "enum": [
                        "NoError",
                        "BadRequest",
                        "BadRequestExceededBatchSize",
                        "BadRequestNotSupported",
                        "BadRequestInvalidIds",
                        "BadRequestProjectName",
                        "BadRequestProjectNameNotUnique",
                        "BadRequestProjectDescription",
                        "BadRequestProjectUnknownDomain",
                        "BadRequestProjectUnknownClassification",
                        "BadRequestProjectUnsupportedDomainTypeChange",
                        "BadRequestProjectUnsupportedExportPlatform",
                        "BadRequestIterationName",
                        "BadRequestIterationNameNotUnique",
                        "BadRequestIterationDescription",
                        "BadRequestIterationIsNotTrained",
                        "BadRequestWorkspaceCannotBeModified",
                        "BadRequestWorkspaceNotDeletable",
                        "BadRequestTagName",
                        "BadRequestTagNameNotUnique",
                        "BadRequestTagDescription",
                        "BadRequestTagType",
                        "BadRequestMultipleNegativeTag",
                        "BadRequestImageTags",
                        "BadRequestImageRegions",
                        "BadRequestNegativeAndRegularTagOnSameImage",
                        "BadRequestRequiredParamIsNull",
                        "BadRequestIterationIsPublished",
                        "BadRequestInvalidPublishName",
                        "BadRequestInvalidPublishTarget",
                        "BadRequestUnpublishFailed",
                        "BadRequestSubscriptionApi",
                        "BadRequestExceedProjectLimit",
                        "BadRequestExceedIterationPerProjectLimit",
                        "BadRequestExceedTagPerProjectLimit",
                        "BadRequestExceedTagPerImageLimit",
                        "BadRequestExceededQuota",
                        "BadRequestCannotMigrateProjectWithName",
                        "BadRequestNotLimitedTrial",
                        "BadRequestImageBatch",
                        "BadRequestImageStream",
                        "BadRequestImageUrl",
                        "BadRequestImageFormat",
                        "BadRequestImageSizeBytes",
                        "BadRequestImageExceededCount",
                        "BadRequestTrainingNotNeeded",
                        "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
                        "BadRequestTrainingValidationFailed",
                        "BadRequestClassificationTrainingValidationFailed",
                        "BadRequestMultiClassClassificationTrainingValidationFailed",
                        "BadRequestMultiLabelClassificationTrainingValidationFailed",
                        "BadRequestDetectionTrainingValidationFailed",
                        "BadRequestTrainingAlreadyInProgress",
                        "BadRequestDetectionTrainingNotAllowNegativeTag",
                        "BadRequestInvalidEmailAddress",
                        "BadRequestDomainNotSupportedForAdvancedTraining",
                        "BadRequestExportPlatformNotSupportedForAdvancedTraining",
                        "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
                        "BadRequestExportValidationFailed",
                        "BadRequestExportAlreadyInProgress",
                        "BadRequestPredictionIdsMissing",
                        "BadRequestPredictionIdsExceededCount",
                        "BadRequestPredictionTagsExceededCount",
                        "BadRequestPredictionResultsExceededCount",
                        "BadRequestPredictionInvalidApplicationName",
                        "BadRequestPredictionInvalidQueryParameters",
                        "BadRequestInvalid",
                        "UnsupportedMediaType",
                        "Forbidden",
                        "ForbiddenUser",
                        "ForbiddenUserResource",
                        "ForbiddenUserSignupDisabled",
                        "ForbiddenUserSignupAllowanceExceeded",
                        "ForbiddenUserDoesNotExist",
                        "ForbiddenUserDisabled",
                        "ForbiddenUserInsufficientCapability",
                        "ForbiddenDRModeEnabled",
                        "ForbiddenInvalid",
                        "NotFound",
                        "NotFoundProject",
                        "NotFoundProjectDefaultIteration",
                        "NotFoundIteration",
                        "NotFoundIterationPerformance",
                        "NotFoundTag",
                        "NotFoundImage",
                        "NotFoundDomain",
                        "NotFoundApimSubscription",
                        "NotFoundInvalid",
                        "Conflict",
                        "ConflictInvalid",
                        "ErrorUnknown",
                        "ErrorProjectInvalidWorkspace",
                        "ErrorProjectInvalidPipelineConfiguration",
                        "ErrorProjectInvalidDomain",
                        "ErrorProjectTrainingRequestFailed",
                        "ErrorProjectExportRequestFailed",
                        "ErrorFeaturizationServiceUnavailable",
                        "ErrorFeaturizationQueueTimeout",
                        "ErrorFeaturizationInvalidFeaturizer",
                        "ErrorFeaturizationAugmentationUnavailable",
                        "ErrorFeaturizationUnrecognizedJob",
                        "ErrorFeaturizationAugmentationError",
                        "ErrorExporterInvalidPlatform",
                        "ErrorExporterInvalidFeaturizer",
                        "ErrorExporterInvalidClassifier",
                        "ErrorPredictionServiceUnavailable",
                        "ErrorPredictionModelNotFound",
                        "ErrorPredictionModelNotCached",
                        "ErrorPrediction",
                        "ErrorPredictionStorage",
                        "ErrorRegionProposal",
                        "ErrorInvalid"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "CustomVisionErrorCodes"
                      }
                    },
                    "message": {
                      "description": "A message explaining the error reported by the service.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              },
              "text/xml": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "The error code.",
                      "enum": [
                        "NoError",
                        "BadRequest",
                        "BadRequestExceededBatchSize",
                        "BadRequestNotSupported",
                        "BadRequestInvalidIds",
                        "BadRequestProjectName",
                        "BadRequestProjectNameNotUnique",
                        "BadRequestProjectDescription",
                        "BadRequestProjectUnknownDomain",
                        "BadRequestProjectUnknownClassification",
                        "BadRequestProjectUnsupportedDomainTypeChange",
                        "BadRequestProjectUnsupportedExportPlatform",
                        "BadRequestIterationName",
                        "BadRequestIterationNameNotUnique",
                        "BadRequestIterationDescription",
                        "BadRequestIterationIsNotTrained",
                        "BadRequestWorkspaceCannotBeModified",
                        "BadRequestWorkspaceNotDeletable",
                        "BadRequestTagName",
                        "BadRequestTagNameNotUnique",
                        "BadRequestTagDescription",
                        "BadRequestTagType",
                        "BadRequestMultipleNegativeTag",
                        "BadRequestImageTags",
                        "BadRequestImageRegions",
                        "BadRequestNegativeAndRegularTagOnSameImage",
                        "BadRequestRequiredParamIsNull",
                        "BadRequestIterationIsPublished",
                        "BadRequestInvalidPublishName",
                        "BadRequestInvalidPublishTarget",
                        "BadRequestUnpublishFailed",
                        "BadRequestSubscriptionApi",
                        "BadRequestExceedProjectLimit",
                        "BadRequestExceedIterationPerProjectLimit",
                        "BadRequestExceedTagPerProjectLimit",
                        "BadRequestExceedTagPerImageLimit",
                        "BadRequestExceededQuota",
                        "BadRequestCannotMigrateProjectWithName",
                        "BadRequestNotLimitedTrial",
                        "BadRequestImageBatch",
                        "BadRequestImageStream",
                        "BadRequestImageUrl",
                        "BadRequestImageFormat",
                        "BadRequestImageSizeBytes",
                        "BadRequestImageExceededCount",
                        "BadRequestTrainingNotNeeded",
                        "BadRequestTrainingNotNeededButTrainingPipelineUpdated",
                        "BadRequestTrainingValidationFailed",
                        "BadRequestClassificationTrainingValidationFailed",
                        "BadRequestMultiClassClassificationTrainingValidationFailed",
                        "BadRequestMultiLabelClassificationTrainingValidationFailed",
                        "BadRequestDetectionTrainingValidationFailed",
                        "BadRequestTrainingAlreadyInProgress",
                        "BadRequestDetectionTrainingNotAllowNegativeTag",
                        "BadRequestInvalidEmailAddress",
                        "BadRequestDomainNotSupportedForAdvancedTraining",
                        "BadRequestExportPlatformNotSupportedForAdvancedTraining",
                        "BadRequestReservedBudgetInHoursNotEnoughForAdvancedTraining",
                        "BadRequestExportValidationFailed",
                        "BadRequestExportAlreadyInProgress",
                        "BadRequestPredictionIdsMissing",
                        "BadRequestPredictionIdsExceededCount",
                        "BadRequestPredictionTagsExceededCount",
                        "BadRequestPredictionResultsExceededCount",
                        "BadRequestPredictionInvalidApplicationName",
                        "BadRequestPredictionInvalidQueryParameters",
                        "BadRequestInvalid",
                        "UnsupportedMediaType",
                        "Forbidden",
                        "ForbiddenUser",
                        "ForbiddenUserResource",
                        "ForbiddenUserSignupDisabled",
                        "ForbiddenUserSignupAllowanceExceeded",
                        "ForbiddenUserDoesNotExist",
                        "ForbiddenUserDisabled",
                        "ForbiddenUserInsufficientCapability",
                        "ForbiddenDRModeEnabled",
                        "ForbiddenInvalid",
                        "NotFound",
                        "NotFoundProject",
                        "NotFoundProjectDefaultIteration",
                        "NotFoundIteration",
                        "NotFoundIterationPerformance",
                        "NotFoundTag",
                        "NotFoundImage",
                        "NotFoundDomain",
                        "NotFoundApimSubscription",
                        "NotFoundInvalid",
                        "Conflict",
                        "ConflictInvalid",
                        "ErrorUnknown",
                        "ErrorProjectInvalidWorkspace",
                        "ErrorProjectInvalidPipelineConfiguration",
                        "ErrorProjectInvalidDomain",
                        "ErrorProjectTrainingRequestFailed",
                        "ErrorProjectExportRequestFailed",
                        "ErrorFeaturizationServiceUnavailable",
                        "ErrorFeaturizationQueueTimeout",
                        "ErrorFeaturizationInvalidFeaturizer",
                        "ErrorFeaturizationAugmentationUnavailable",
                        "ErrorFeaturizationUnrecognizedJob",
                        "ErrorFeaturizationAugmentationError",
                        "ErrorExporterInvalidPlatform",
                        "ErrorExporterInvalidFeaturizer",
                        "ErrorExporterInvalidClassifier",
                        "ErrorPredictionServiceUnavailable",
                        "ErrorPredictionModelNotFound",
                        "ErrorPredictionModelNotCached",
                        "ErrorPrediction",
                        "ErrorPredictionStorage",
                        "ErrorRegionProposal",
                        "ErrorInvalid"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "CustomVisionErrorCodes"
                      }
                    },
                    "message": {
                      "description": "A message explaining the error reported by the service.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Error response"
          }
        },
        "summary": "Classify an image without saving the result.",
        "tags": [
          "ImagePredictionApi"
        ]
      }
    },
    "/sku/classify/iterations/paymentid/url": {
      "post": {
        "operationId": "classifyimageurl-v2",
        "parameters": [
          {
            "description": "The project id.",
            "examples": {
              "Successful ClassifyImageUrl request": {
                "value": "64b822c5-8082-4b36-a426-27225f4aa18c"
              }
            },
            "in": "path",
            "name": "projectId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "description": "Specifies the name of the model to evaluate against.",
            "examples": {
              "Successful ClassifyImageUrl request": {
                "value": "MyModel1"
              }
            },
            "in": "path",
            "name": "publishedName",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional. Specifies the name of application using the endpoint.",
            "in": "query",
            "name": "application",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-nullable": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Image url.",
                "properties": {
                  "url": {
                    "description": "Url of the image.",
                    "nullable": false,
                    "readOnly": false,
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "type": "object"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "description": "Image url.",
                "properties": {
                  "url": {
                    "description": "Url of the image.",
                    "nullable": false,
                    "readOnly": false,
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "type": "object"
              }
            },
            "application/xml": {
              "schema": {
                "description": "Image url.",
                "properties": {
                  "url": {
                    "description": "Url of the image.",
                    "nullable": false,
                    "readOnly": false,
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "type": "object"
              }
            },
            "text/xml": {
              "schema": {
                "description": "Image url.",
                "properties": {
                  "url": {
                    "description": "Url of the image.",
                    "nullable": false,
                    "readOnly": false,
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "type": "object"
              }
            }
          },
          "description": "An ImageUrl that contains the url of the image to be evaluated.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Successful ClassifyImageUrl request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "examples": {
                  "Successful ClassifyImageUrl request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
                                "description": "Height.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "left": {
                                "description": "Coordinate of the left boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "top": {
                                "description": "Coordinate of the top boundary.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              },
                              "width": {
                                "description": "Width.",
                                "format": "float",
                                "nullable": false,
                                "readOnly": false,
                                "type": "number"
                              }
                            },
                            "required": [
                              "left",
                              "top",
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "probability": {
                            "description": "Probability of the tag.",
                            "format": "float",
                            "nullable": false,
                            "readOnly": true,
                            "type": "number"
                          },
                          "tagId": {
                            "description": "Id of the predicted tag.",
                            "format": "uuid",
                            "nullable": false,
                            "readOnly": true,
                            "type": "string"
                          },
                          "tagName": {
                            "description": "Name of the predicted tag.",
                            "nullable": true,
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "readOnly": true,
                      "type": "array"
                    },
                    "project": {
                      "description": "Project Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "examples": {
                  "Successful ClassifyImageUrl request": {
                    "value": {
                      "created": "2019-03-06T02:15:00+00:00",
                      "id": "951098b2-9b69-427b-bddb-d5cb618874e3",
                      "iteration": "fe1e83c4-6f50-4899-9544-6bb08cf0e15a",
                      "predictions": [
                        {
                          "probability": 0.05149666,
                          "tagId": "e31ff107-5505-4753-be42-b369b21b026c",
                          "tagName": "Hemlock"
                        },
                        {
                          "probability": 0.000193528482,
                          "tagId": "349d72ac-0948-4d51-b1e4-c14a1f9b848a",
                          "tagName": "Japanese Cherry"
                        }
                      ],
                      "project": "64b822c5-8082-4b36-a426-27225f4aa18c"
                    }
                  }
                },
                "schema": {
                  "description": "Result of an image prediction request.",
                  "properties": {
                    "created": {
                      "description": "Date this prediction was created.",
                      "format": "date-time",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "id": {
                      "description": "Prediction Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "iteration": {
                      "description": "Iteration Id.",
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "predictions": {
                      "description": "List of predictions.",
                      "items": {
                        "description": "Prediction result.",
                        "properties": {
                          "boundingBox": {
                            "description": "Bounding box that defines a region of an image.",
                            "properties": {
                              "height": {
[...]
