{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://southcentralus.api.cognitive.microsoft.com/customvision/v1.2/Training"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "microsoft"
    },
    "title": "TrainingApi",
    "version": "1.2",
    "x-apisguru-categories": [
      "developer_tools",
      "cloud"
    ],
    "x-logo": {
      "url": "https://twitter.com/microsoft/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v1.2/Training.json",
        "version": "3.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "microsoft.com",
    "x-serviceName": "cognitiveservices-Training",
    "x-tags": [
      "Microsoft"
    ]
  },
  "paths": {
    "/orders/{id}": {
      "get": {
        "operationId": "getaccountinfo-v2",
        "parameters": [
          {
            "examples": {
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetAccountInfo request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PostImageTags request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictionResults request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Successful GetAccountInfo request": {
                    "value": {
                      "Email": "User@email.com",
                      "Keys": {
                        "PredictionKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        },
                        "TrainingKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        }
                      },
                      "Quotas": {
                        "PerProject": [
                          {
                            "Images": {
                              "Total": 1000,
                              "Used": 0
                            },
                            "Iterations": {
                              "Total": 20,
                              "Used": 0
                            },
                            "ProjectId": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                            "Tags": {
                              "Total": 50,
                              "Used": 2
                            }
                          }
                        ],
                        "Predictions": {
                          "Total": 1000,
                          "Used": 0
                        },
                        "Projects": {
                          "Total": 20,
                          "Used": 9
                        },
                        "Tier": "Free"
                      },
                      "UserName": "User Name"
                    }
                  }
                },
                "schema": {
                  "description": "Represents a user account",
                  "nullable": true,
                  "properties": {
                    "Email": {
                      "description": "Gets the email associated with this account",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Keys": {
                      "nullable": true,
                      "properties": {
                        "PredictionKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "TrainingKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "Quotas": {
                      "description": "Represents a set of quotas associated with an account",
                      "nullable": true,
                      "properties": {
                        "PerProject": {
                          "description": "Gets a list of quotas that apply per-project for each project",
                          "items": {
                            "description": "Represents a set of quotas for a given project",
                            "nullable": true,
                            "properties": {
                              "Images": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "Iterations": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "ProjectId": {
                                "description": "Gets the project id of the project this quota applies to",
                                "format": "uuid",
                                "nullable": false,
                                "readOnly": true,
                                "type": "string"
                              },
                              "Tags": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "nullable": true,
                          "readOnly": true,
                          "type": "array"
                        },
                        "Predictions": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Projects": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Tier": {
                          "description": "Gets the tier of user",
                          "nullable": true,
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "UserName": {
                      "description": "Gets the name of the account owner",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "examples": {
                  "Successful GetAccountInfo request": {
                    "value": {
                      "Email": "User@email.com",
                      "Keys": {
                        "PredictionKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        },
                        "TrainingKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        }
                      },
                      "Quotas": {
                        "PerProject": [
                          {
                            "Images": {
                              "Total": 1000,
                              "Used": 0
                            },
                            "Iterations": {
                              "Total": 20,
                              "Used": 0
                            },
                            "ProjectId": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                            "Tags": {
                              "Total": 50,
                              "Used": 2
                            }
                          }
                        ],
                        "Predictions": {
                          "Total": 1000,
                          "Used": 0
                        },
                        "Projects": {
                          "Total": 20,
                          "Used": 9
                        },
                        "Tier": "Free"
                      },
                      "UserName": "User Name"
                    }
                  }
                },
                "schema": {
                  "description": "Represents a user account",
                  "nullable": true,
                  "properties": {
                    "Email": {
                      "description": "Gets the email associated with this account",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Keys": {
                      "nullable": true,
                      "properties": {
                        "PredictionKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "TrainingKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "Quotas": {
                      "description": "Represents a set of quotas associated with an account",
                      "nullable": true,
                      "properties": {
                        "PerProject": {
                          "description": "Gets a list of quotas that apply per-project for each project",
                          "items": {
                            "description": "Represents a set of quotas for a given project",
                            "nullable": true,
                            "properties": {
                              "Images": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "Iterations": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "ProjectId": {
                                "description": "Gets the project id of the project this quota applies to",
                                "format": "uuid",
                                "nullable": false,
                                "readOnly": true,
                                "type": "string"
                              },
                              "Tags": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "nullable": true,
                          "readOnly": true,
                          "type": "array"
                        },
                        "Predictions": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Projects": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Tier": {
                          "description": "Gets the tier of user",
                          "nullable": true,
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "UserName": {
                      "description": "Gets the name of the account owner",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "examples": {
                  "Successful GetAccountInfo request": {
                    "value": {
                      "Email": "User@email.com",
                      "Keys": {
                        "PredictionKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        },
                        "TrainingKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        }
                      },
                      "Quotas": {
                        "PerProject": [
                          {
                            "Images": {
                              "Total": 1000,
                              "Used": 0
                            },
                            "Iterations": {
                              "Total": 20,
                              "Used": 0
                            },
                            "ProjectId": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                            "Tags": {
                              "Total": 50,
                              "Used": 2
                            }
                          }
                        ],
                        "Predictions": {
                          "Total": 1000,
                          "Used": 0
                        },
                        "Projects": {
                          "Total": 20,
                          "Used": 9
                        },
                        "Tier": "Free"
                      },
                      "UserName": "User Name"
                    }
                  }
                },
                "schema": {
                  "description": "Represents a user account",
                  "nullable": true,
                  "properties": {
                    "Email": {
                      "description": "Gets the email associated with this account",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Keys": {
                      "nullable": true,
                      "properties": {
                        "PredictionKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "TrainingKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "Quotas": {
                      "description": "Represents a set of quotas associated with an account",
                      "nullable": true,
                      "properties": {
                        "PerProject": {
                          "description": "Gets a list of quotas that apply per-project for each project",
                          "items": {
                            "description": "Represents a set of quotas for a given project",
                            "nullable": true,
                            "properties": {
                              "Images": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "Iterations": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "ProjectId": {
                                "description": "Gets the project id of the project this quota applies to",
                                "format": "uuid",
                                "nullable": false,
                                "readOnly": true,
                                "type": "string"
                              },
                              "Tags": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "nullable": true,
                          "readOnly": true,
                          "type": "array"
                        },
                        "Predictions": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Projects": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Tier": {
                          "description": "Gets the tier of user",
                          "nullable": true,
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "UserName": {
                      "description": "Gets the name of the account owner",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "examples": {
                  "Successful GetAccountInfo request": {
                    "value": {
                      "Email": "User@email.com",
                      "Keys": {
                        "PredictionKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        },
                        "TrainingKeys": {
                          "PrimaryKey": "{API Key}",
                          "SecondaryKey": "{API Key}"
                        }
                      },
                      "Quotas": {
                        "PerProject": [
                          {
                            "Images": {
                              "Total": 1000,
                              "Used": 0
                            },
                            "Iterations": {
                              "Total": 20,
                              "Used": 0
                            },
                            "ProjectId": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                            "Tags": {
                              "Total": 50,
                              "Used": 2
                            }
                          }
                        ],
                        "Predictions": {
                          "Total": 1000,
                          "Used": 0
                        },
                        "Projects": {
                          "Total": 20,
                          "Used": 9
                        },
                        "Tier": "Free"
                      },
                      "UserName": "User Name"
                    }
                  }
                },
                "schema": {
                  "description": "Represents a user account",
                  "nullable": true,
                  "properties": {
                    "Email": {
                      "description": "Gets the email associated with this account",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Keys": {
                      "nullable": true,
                      "properties": {
                        "PredictionKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "TrainingKeys": {
                          "nullable": true,
                          "properties": {
                            "PrimaryKey": {
                              "nullable": true,
                              "type": "string"
                            },
                            "SecondaryKey": {
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "Quotas": {
                      "description": "Represents a set of quotas associated with an account",
                      "nullable": true,
                      "properties": {
                        "PerProject": {
                          "description": "Gets a list of quotas that apply per-project for each project",
                          "items": {
                            "description": "Represents a set of quotas for a given project",
                            "nullable": true,
                            "properties": {
                              "Images": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "Iterations": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              },
                              "ProjectId": {
                                "description": "Gets the project id of the project this quota applies to",
                                "format": "uuid",
                                "nullable": false,
                                "readOnly": true,
                                "type": "string"
                              },
                              "Tags": {
                                "description": "Represents a quota",
                                "nullable": true,
                                "properties": {
                                  "TimeUntilReset": {
                                    "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                                    "format": "duration",
                                    "nullable": true,
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "Total": {
                                    "description": "The total allowable amount in the quota",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  },
                                  "Used": {
                                    "description": "The amount of quota that has currently been used",
                                    "format": "int32",
                                    "nullable": false,
                                    "readOnly": true,
                                    "type": "integer"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "nullable": true,
                          "readOnly": true,
                          "type": "array"
                        },
                        "Predictions": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Projects": {
                          "description": "Represents a quota",
                          "nullable": true,
                          "properties": {
                            "TimeUntilReset": {
                              "description": "Gets the time remaining until the quota resets. Null if this quota does not reset.",
                              "format": "duration",
                              "nullable": true,
                              "readOnly": true,
                              "type": "string"
                            },
                            "Total": {
                              "description": "The total allowable amount in the quota",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            },
                            "Used": {
                              "description": "The amount of quota that has currently been used",
                              "format": "int32",
                              "nullable": false,
                              "readOnly": true,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "Tier": {
                          "description": "Gets the tier of user",
                          "nullable": true,
                          "readOnly": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "UserName": {
                      "description": "Gets the name of the account owner",
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get basic information about your account",
        "tags": [
          "AccountApi"
        ]
      }
    },
    "/profiles/{id}": {
      "get": {
        "operationId": "getdomains",
        "parameters": [
          {
            "examples": {
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetAccountInfo request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PostImageTags request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictionResults request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Successful GetDomains request": {
                    "value": [
                      {
                        "Exportable": false,
                        "Id": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31",
                        "Name": "General"
                      },
                      {
                        "Exportable": false,
                        "Id": "c151d5b5-dd07-472a-acc8-15d29dea8518",
                        "Name": "Food"
                      },
                      {
                        "Exportable": false,
                        "Id": "ca455789-012d-4b50-9fec-5bb63841c793",
                        "Name": "Landmarks"
                      },
                      {
                        "Exportable": false,
                        "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                        "Name": "Retail"
                      },
                      {
                        "Exportable": false,
                        "Id": "45badf75-3591-4f26-a705-45678d3e9f5f",
                        "Name": "Adult"
                      },
                      {
                        "Exportable": true,
                        "Id": "0732100f-1a38-4e49-a514-c9b44c697ab5",
                        "Name": "General (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "b5cfd229-2ac7-4b2b-8d0a-2b0661344894",
                        "Name": "Landmarks (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "6b4faeda-8396-481b-9f8b-177b9fa3097f",
                        "Name": "Retail (compact)"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "nullable": true,
                    "properties": {
                      "Exportable": {
                        "nullable": false,
                        "readOnly": true,
                        "type": "boolean"
                      },
                      "Id": {
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "nullable": true,
                  "type": "array"
                }
              },
              "application/xml": {
                "examples": {
                  "Successful GetDomains request": {
                    "value": [
                      {
                        "Exportable": false,
                        "Id": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31",
                        "Name": "General"
                      },
                      {
                        "Exportable": false,
                        "Id": "c151d5b5-dd07-472a-acc8-15d29dea8518",
                        "Name": "Food"
                      },
                      {
                        "Exportable": false,
                        "Id": "ca455789-012d-4b50-9fec-5bb63841c793",
                        "Name": "Landmarks"
                      },
                      {
                        "Exportable": false,
                        "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                        "Name": "Retail"
                      },
                      {
                        "Exportable": false,
                        "Id": "45badf75-3591-4f26-a705-45678d3e9f5f",
                        "Name": "Adult"
                      },
                      {
                        "Exportable": true,
                        "Id": "0732100f-1a38-4e49-a514-c9b44c697ab5",
                        "Name": "General (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "b5cfd229-2ac7-4b2b-8d0a-2b0661344894",
                        "Name": "Landmarks (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "6b4faeda-8396-481b-9f8b-177b9fa3097f",
                        "Name": "Retail (compact)"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "nullable": true,
                    "properties": {
                      "Exportable": {
                        "nullable": false,
                        "readOnly": true,
                        "type": "boolean"
                      },
                      "Id": {
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "nullable": true,
                  "type": "array"
                }
              },
              "text/json": {
                "examples": {
                  "Successful GetDomains request": {
                    "value": [
                      {
                        "Exportable": false,
                        "Id": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31",
                        "Name": "General"
                      },
                      {
                        "Exportable": false,
                        "Id": "c151d5b5-dd07-472a-acc8-15d29dea8518",
                        "Name": "Food"
                      },
                      {
                        "Exportable": false,
                        "Id": "ca455789-012d-4b50-9fec-5bb63841c793",
                        "Name": "Landmarks"
                      },
                      {
                        "Exportable": false,
                        "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                        "Name": "Retail"
                      },
                      {
                        "Exportable": false,
                        "Id": "45badf75-3591-4f26-a705-45678d3e9f5f",
                        "Name": "Adult"
                      },
                      {
                        "Exportable": true,
                        "Id": "0732100f-1a38-4e49-a514-c9b44c697ab5",
                        "Name": "General (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "b5cfd229-2ac7-4b2b-8d0a-2b0661344894",
                        "Name": "Landmarks (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "6b4faeda-8396-481b-9f8b-177b9fa3097f",
                        "Name": "Retail (compact)"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "nullable": true,
                    "properties": {
                      "Exportable": {
                        "nullable": false,
                        "readOnly": true,
                        "type": "boolean"
                      },
                      "Id": {
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "nullable": true,
                  "type": "array"
                }
              },
              "text/xml": {
                "examples": {
                  "Successful GetDomains request": {
                    "value": [
                      {
                        "Exportable": false,
                        "Id": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31",
                        "Name": "General"
                      },
                      {
                        "Exportable": false,
                        "Id": "c151d5b5-dd07-472a-acc8-15d29dea8518",
                        "Name": "Food"
                      },
                      {
                        "Exportable": false,
                        "Id": "ca455789-012d-4b50-9fec-5bb63841c793",
                        "Name": "Landmarks"
                      },
                      {
                        "Exportable": false,
                        "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                        "Name": "Retail"
                      },
                      {
                        "Exportable": false,
                        "Id": "45badf75-3591-4f26-a705-45678d3e9f5f",
                        "Name": "Adult"
                      },
                      {
                        "Exportable": true,
                        "Id": "0732100f-1a38-4e49-a514-c9b44c697ab5",
                        "Name": "General (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "b5cfd229-2ac7-4b2b-8d0a-2b0661344894",
                        "Name": "Landmarks (compact)"
                      },
                      {
                        "Exportable": true,
                        "Id": "6b4faeda-8396-481b-9f8b-177b9fa3097f",
                        "Name": "Retail (compact)"
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "nullable": true,
                    "properties": {
                      "Exportable": {
                        "nullable": false,
                        "readOnly": true,
                        "type": "boolean"
                      },
                      "Id": {
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "nullable": true,
                  "type": "array"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a list of the available domains",
        "tags": [
          "DomainsApi"
        ]
      }
    },
    "/domains/id": {
      "get": {
        "operationId": "getdomain",
        "parameters": [
          {
            "description": "The id of the domain to get information about",
            "examples": {
              "Successful GetDomain request": {
                "value": "b30a91ae-e3c1-4f73-a81e-c270bff27c39"
              }
            },
            "in": "path",
            "name": "domainId",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            },
            "x-nullable": false
          },
          {
            "examples": {
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetAccountInfo request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PostImageTags request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictionResults request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Successful GetDomain request": {
                    "value": {
                      "Exportable": false,
                      "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                      "Name": "Retail"
                    }
                  }
                },
                "schema": {
                  "nullable": true,
                  "properties": {
                    "Exportable": {
                      "nullable": false,
                      "readOnly": true,
                      "type": "boolean"
                    },
                    "Id": {
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Name": {
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "application/xml": {
                "examples": {
                  "Successful GetDomain request": {
                    "value": {
                      "Exportable": false,
                      "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                      "Name": "Retail"
                    }
                  }
                },
                "schema": {
                  "nullable": true,
                  "properties": {
                    "Exportable": {
                      "nullable": false,
                      "readOnly": true,
                      "type": "boolean"
                    },
                    "Id": {
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Name": {
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "examples": {
                  "Successful GetDomain request": {
                    "value": {
                      "Exportable": false,
                      "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                      "Name": "Retail"
                    }
                  }
                },
                "schema": {
                  "nullable": true,
                  "properties": {
                    "Exportable": {
                      "nullable": false,
                      "readOnly": true,
                      "type": "boolean"
                    },
                    "Id": {
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Name": {
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/xml": {
                "examples": {
                  "Successful GetDomain request": {
                    "value": {
                      "Exportable": false,
                      "Id": "b30a91ae-e3c1-4f73-a81e-c270bff27c39",
                      "Name": "Retail"
                    }
                  }
                },
                "schema": {
                  "nullable": true,
                  "properties": {
                    "Exportable": {
                      "nullable": false,
                      "readOnly": true,
                      "type": "boolean"
                    },
                    "Id": {
                      "format": "uuid",
                      "nullable": false,
                      "readOnly": true,
                      "type": "string"
                    },
                    "Name": {
                      "nullable": true,
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get information about a specific domain",
        "tags": [
          "DomainsApi"
        ]
      }
    },
    "/carts/{id}": {
      "get": {
        "operationId": "getprojects",
        "parameters": [
          {
            "examples": {
              "Successful CreateImagesFromData request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromFiles request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromPredictions request": {
                "value": "{API Key}"
              },
              "Successful CreateImagesFromUrls request": {
                "value": "{API Key}"
              },
              "Successful CreateProject request": {
                "value": "{API Key}"
              },
              "Successful CreateTag request": {
                "value": "{API Key}"
              },
              "Successful DeleteImageTags request": {
                "value": "{API Key}"
              },
              "Successful DeleteImages request": {
                "value": "{API Key}"
              },
              "Successful DeleteIteration request": {
                "value": "{API Key}"
              },
              "Successful DeletePrediction request": {
                "value": "{API Key}"
              },
              "Successful DeleteProject request": {
                "value": "{API Key}"
              },
              "Successful DeleteTag request": {
                "value": "{API Key}"
              },
              "Successful ExportIteration request": {
                "value": "{API Key}"
              },
              "Successful GetAccountInfo request": {
                "value": "{API Key}"
              },
              "Successful GetDomain request": {
                "value": "{API Key}"
              },
              "Successful GetDomains request": {
                "value": "{API Key}"
              },
              "Successful GetExports request": {
                "value": "{API Key}"
              },
              "Successful GetIteration request": {
                "value": "{API Key}"
              },
              "Successful GetIterationPerformance request": {
                "value": "{API Key}"
              },
              "Successful GetIterations request": {
                "value": "{API Key}"
              },
              "Successful GetProject request": {
                "value": "{API Key}"
              },
              "Successful GetProjects request": {
                "value": "{API Key}"
              },
              "Successful GetTag request": {
                "value": "{API Key}"
              },
              "Successful GetTaggedImages request": {
                "value": "{API Key}"
              },
              "Successful GetTags request": {
                "value": "{API Key}"
              },
              "Successful GetUntaggedImages request": {
                "value": "{API Key}"
              },
              "Successful PostImageTags request": {
                "value": "{API Key}"
              },
              "Successful QueryPredictionResults request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImage request": {
                "value": "{API Key}"
              },
              "Successful QuickTestImageUrl request": {
                "value": "{API Key}"
              },
              "Successful TrainProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateIteration request": {
                "value": "{API Key}"
              },
              "Successful UpdateProject request": {
                "value": "{API Key}"
              },
              "Successful UpdateTag request": {
                "value": "{API Key}"
              }
            },
            "in": "header",
            "name": "Training-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-client-name": "ApiKey",
            "x-ms-parameter-location": "client"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Successful GetProjects request": {
                    "value": [
                      {
                        "Created": "2017-12-18T05:43:18+00:00",
                        "CurrentIterationId": "a2a64ff1-22e6-418b-aeea-75e3b43f122c",
                        "Description": "",
                        "Id": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                        "LastModified": "2017-12-18T05:43:18+00:00",
                        "Name": "My New Project",
                        "Settings": {
                          "DomainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "description": "Represents a project",
                    "nullable": true,
                    "properties": {
                      "Created": {
                        "description": "Gets the date this project was created",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "CurrentIterationId": {
                        "description": "Gets the current iteration id",
                        "format": "uuid",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Description": {
                        "description": "Gets or sets the description of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Id": {
                        "description": "Gets the project id",
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "LastModified": {
                        "description": "Gets the date this project was last modified",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "description": "Gets or sets the name of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Settings": {
                        "description": "Represents settings associated with a project",
                        "nullable": true,
                        "properties": {
                          "DomainId": {
                            "description": "Gets or sets the id of the Domain to use with this project",
                            "format": "uuid",
                            "nullable": false,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "ThumbnailUri": {
                        "description": "Gets the thumbnail url representing the image",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "nullable": true,
                  "type": "array"
                }
              },
              "application/xml": {
                "examples": {
                  "Successful GetProjects request": {
                    "value": [
                      {
                        "Created": "2017-12-18T05:43:18+00:00",
                        "CurrentIterationId": "a2a64ff1-22e6-418b-aeea-75e3b43f122c",
                        "Description": "",
                        "Id": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                        "LastModified": "2017-12-18T05:43:18+00:00",
                        "Name": "My New Project",
                        "Settings": {
                          "DomainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "description": "Represents a project",
                    "nullable": true,
                    "properties": {
                      "Created": {
                        "description": "Gets the date this project was created",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "CurrentIterationId": {
                        "description": "Gets the current iteration id",
                        "format": "uuid",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Description": {
                        "description": "Gets or sets the description of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Id": {
                        "description": "Gets the project id",
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "LastModified": {
                        "description": "Gets the date this project was last modified",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "description": "Gets or sets the name of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Settings": {
                        "description": "Represents settings associated with a project",
                        "nullable": true,
                        "properties": {
                          "DomainId": {
                            "description": "Gets or sets the id of the Domain to use with this project",
                            "format": "uuid",
                            "nullable": false,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "ThumbnailUri": {
                        "description": "Gets the thumbnail url representing the image",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "nullable": true,
                  "type": "array"
                }
              },
              "text/json": {
                "examples": {
                  "Successful GetProjects request": {
                    "value": [
                      {
                        "Created": "2017-12-18T05:43:18+00:00",
                        "CurrentIterationId": "a2a64ff1-22e6-418b-aeea-75e3b43f122c",
                        "Description": "",
                        "Id": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                        "LastModified": "2017-12-18T05:43:18+00:00",
                        "Name": "My New Project",
                        "Settings": {
                          "DomainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "description": "Represents a project",
                    "nullable": true,
                    "properties": {
                      "Created": {
                        "description": "Gets the date this project was created",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "CurrentIterationId": {
                        "description": "Gets the current iteration id",
                        "format": "uuid",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Description": {
                        "description": "Gets or sets the description of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Id": {
                        "description": "Gets the project id",
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "LastModified": {
                        "description": "Gets the date this project was last modified",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "description": "Gets or sets the name of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Settings": {
                        "description": "Represents settings associated with a project",
                        "nullable": true,
                        "properties": {
                          "DomainId": {
                            "description": "Gets or sets the id of the Domain to use with this project",
                            "format": "uuid",
                            "nullable": false,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "ThumbnailUri": {
                        "description": "Gets the thumbnail url representing the image",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "nullable": true,
                  "type": "array"
                }
              },
              "text/xml": {
                "examples": {
                  "Successful GetProjects request": {
                    "value": [
                      {
                        "Created": "2017-12-18T05:43:18+00:00",
                        "CurrentIterationId": "a2a64ff1-22e6-418b-aeea-75e3b43f122c",
                        "Description": "",
                        "Id": "bc3f7dad-5544-468c-8573-3ef04d55463e",
                        "LastModified": "2017-12-18T05:43:18+00:00",
                        "Name": "My New Project",
                        "Settings": {
                          "DomainId": "ee85a74c-405e-4adc-bb47-ffa8ca0c9f31"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "items": {
                    "description": "Represents a project",
                    "nullable": true,
                    "properties": {
                      "Created": {
                        "description": "Gets the date this project was created",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "CurrentIterationId": {
                        "description": "Gets the current iteration id",
                        "format": "uuid",
                        "nullable": true,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Description": {
                        "description": "Gets or sets the description of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Id": {
                        "description": "Gets the project id",
                        "format": "uuid",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "LastModified": {
                        "description": "Gets the date this project was last modified",
                        "format": "date-time",
                        "nullable": false,
                        "readOnly": true,
                        "type": "string"
                      },
                      "Name": {
                        "description": "Gets or sets the name of the project",
                        "nullable": true,
                        "type": "string"
                      },
                      "Settings": {
                        "description": "Represents settings associated with a project",
                        "nullable": true,
[...]
