{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "contact": {
      "email": "syncforcommerce@codat.io",
      "name": "Codat",
      "url": "https://www.codat.io/"
    },
    "description": "The API for Sync for Commerce. Sync for Commerce is an API and a set of supporting tools. It has been built to enable e-commerce, point of sale platforms to provide high-quality integrations with numerous accounting platform through standardized API, seamlessly transforming business sale's data into accounting artefacts.\n[Read More...](https://docs.codat.io/sfc/overview)",
    "termsOfService": "https://www.codat.io/legals/",
    "title": "Sync for Commerce API",
    "version": "1.1",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-logo": {
      "url": "https://static.codat.io/public/branding/codat-icon-blue.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/codatio/oas/main/json/Codat-Sync-Commerce.json",
        "version": "3.1"
      }
    ],
    "x-providerName": "codat.io",
    "x-serviceName": "sync-for-commerce"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "tags": [
    {
      "description": "Create new and manage existing sync for commerce companies.",
      "name": "Company management"
    },
    {
      "description": "Expressively configure preferences for any given sync for commerce company.",
      "name": "Configuration"
    },
    {
      "description": "Configure preferences for any given sync for commerce company using sync flow.",
      "name": "Sync flow preferences"
    },
    {
      "description": "Initiate a sync of sync for commerce company data into their respective accounting software.",
      "name": "Sync"
    },
    {
      "description": "View useful information about codat's integrations.",
      "name": "Integrations"
    }
  ],
  "paths": {
    "/clients/id/config/ui/accounts/platform/sku": {
      "get": {
        "description": "Enable retrieval for accounts which are visible on sync flow.",
        "operationId": "get-visible-accounts",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "visibleAccounts": {
                      "description": "Visible accounts on sync flow.",
                      "items": {
                        "type": "string"
                      },
                      "type": [
                        "array",
                        "null"
                      ]
                    }
                  },
                  "title": "Visible accounts",
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "List visible accounts",
        "tags": [
          "Sync flow preferences"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "clientId",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "platformKey",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        }
      ]
    },
    "/companies/orderid/sync/commerce/latest": {
      "parameters": [
        {
          "__unresolved_ref__": "#/paths/~1meta~1companies~1%7BcompanyId%7D~1connections/parameters/0"
        }
      ],
      "post": {
        "description": "Run a Commerce sync from the last successful sync up to the date provided (optional), otherwise UtcNow is used.\r\nIf there was no previously successful sync, the start date in the config is used.",
        "operationId": "request-sync-v2",
        "parameters": [
          {
            "__unresolved_ref__": "#/paths/~1meta~1companies~1%7BcompanyId%7D~1connections/parameters/0"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "syncTo": {
                    "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                    "examples": [
                      "2022-10-23T00:00:00+00:00"
                    ],
                    "title": "Date time",
                    "type": "string"
                  }
                },
                "title": "Sync To Latest Args",
                "type": "object",
                "x-internal": true
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "commerceSyncId": {
                      "description": "Unique identifier for the sync in Codat.",
                      "examples": [
                        "8d0a044e-b683-4fc9-bd0d-bfb2ca5731b7"
                      ],
                      "format": "guid",
                      "type": "string"
                    },
                    "companyId": {
                      "description": "Unique identifier for your SMB in Codat.",
                      "examples": [
                        "f4637ec9-9fc0-4a02-8df0-c90d6dc86208"
                      ],
                      "format": "guid",
                      "type": "string"
                    },
                    "dataConnections": {
                      "description": "Array of containing objects data connection information for the company.",
                      "items": {
                        "definitions": {
                          "dataConnectionError": {
                            "properties": {
                              "errorMessage": {
                                "type": "string"
                              },
                              "erroredOnUtc": {
                                "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                "examples": [
                                  "2022-10-23T00:00:00+00:00"
                                ],
                                "title": "Date time",
                                "type": "string"
                              },
                              "statusCode": {
                                "type": "string"
                              },
                              "statusText": {
                                "type": "string"
                              }
                            },
                            "title": "Data connection error",
                            "type": "object"
                          },
                          "dataConnectionSourceType": {
                            "description": "The type of platform of the connection.",
                            "enum": [
                              "Accounting",
                              "Banking",
                              "Commerce",
                              "Other",
                              "Unknown"
                            ],
                            "example": "Accounting",
                            "title": "Source Type",
                            "type": "string"
                          },
                          "dataConnectionStatus": {
                            "description": "The current authorization status of the data connection.",
                            "enum": [
                              "PendingAuth",
                              "Linked",
                              "Unlinked",
                              "Deauthorized"
                            ],
                            "title": "Data connection status",
                            "type": "string"
                          }
                        },
                        "description": "A connection represents the link between a `company` and a source of data.",
                        "examples": [
                          {
                            "created": "2022-10-27T09:53:29+00:00",
                            "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                            "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                            "integrationKey": "dfxm",
                            "lastSync": "2022-10-27T10:22:43+00:00",
                            "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                            "platformName": "Basiq",
                            "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                            "sourceType": "Banking",
                            "status": "Linked"
                          }
                        ],
                        "properties": {
                          "additionalProperties": false,
                          "connectionInfo": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          },
                          "created": {
                            "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                            "examples": [
                              "2022-10-23T00:00:00+00:00"
                            ],
                            "title": "Date time",
                            "type": "string"
                          },
                          "dataConnectionErrors": {
                            "items": {
                              "properties": {
                                "errorMessage": {
                                  "type": "string"
                                },
                                "erroredOnUtc": {
                                  "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                  "examples": [
                                    "2022-10-23T00:00:00+00:00"
                                  ],
                                  "title": "Date time",
                                  "type": "string"
                                },
                                "statusCode": {
                                  "type": "string"
                                },
                                "statusText": {
                                  "type": "string"
                                }
                              },
                              "title": "Data connection error",
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "id": {
                            "description": "Unique identifier for a company's data connection.",
                            "examples": [
                              "2e9d2c44-f675-40ba-8049-353bfcb5e171"
                            ],
                            "format": "uuid",
                            "type": "string"
                          },
                          "integrationId": {
                            "description": "A Codat ID representing the integration.",
                            "examples": [
                              "fd321cb6-7963-4506-b873-e99593a45e30"
                            ],
                            "format": "uuid",
                            "type": "string"
                          },
                          "integrationKey": {
                            "description": "A unique four-character ID that identifies the platform of the company's data connection. This ensures continuity if the platform changes its name in the future.",
                            "type": "string"
                          },
                          "lastSync": {
                            "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                            "examples": [
                              "2022-10-23T00:00:00+00:00"
                            ],
                            "title": "Date time",
                            "type": "string"
                          },
                          "linkUrl": {
                            "examples": [
                              "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/2e2eb431-c1fa-4dc9-93fa-d29781c12bcd/start"
                            ],
                            "format": "uri",
                            "type": "string"
                          },
                          "platformName": {
                            "type": "string"
                          },
                          "sourceId": {
                            "description": "A source-specific ID used to distinguish between different sources originating from the same data connection. In general, a data connection is a single data source. However, for TrueLayer, `sourceId` is associated with a specific bank and has a many-to-one relationship with the `integrationId`.",
                            "examples": [
                              "35b92968-9851-4095-ad60-395c95cbcba4"
                            ],
                            "format": "uuid",
                            "type": "string"
                          },
                          "sourceType": {
                            "description": "The type of platform of the connection.",
                            "enum": [
                              "Accounting",
                              "Banking",
                              "Commerce",
                              "Other",
                              "Unknown"
                            ],
                            "examples": [
                              "Accounting"
                            ],
                            "title": "Source Type",
                            "type": "string",
                            "x-internal": true
                          },
                          "status": {
                            "description": "The current authorization status of the data connection.",
                            "enum": [
                              "PendingAuth",
                              "Linked",
                              "Unlinked",
                              "Deauthorized"
                            ],
                            "title": "Data connection status",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "integrationId",
                          "integrationKey",
                          "sourceId",
                          "platformName",
                          "linkUrl",
                          "status",
                          "created",
                          "sourceType"
                        ],
                        "title": "Connection",
                        "type": "object"
                      },
                      "type": [
                        "array",
                        "null"
                      ]
                    },
                    "dataPushed": {
                      "description": "Boolean indicator for data being pushed during a sync operation.",
                      "examples": [
                        true
                      ],
                      "type": "boolean"
                    },
                    "errorMessage": {
                      "description": "Friendly error message for the sync operation.",
                      "examples": [
                        "Customer 3b9bf2ed-a618-4af2-80f2-f2b57fddc748 is not in an Active state. (Archived)"
                      ],
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "syncDateRangeUtc": {
                      "additionalProperties": false,
                      "properties": {
                        "finish": {
                          "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                          "examples": [
                            "2022-10-23T00:00:00+00:00"
                          ],
                          "title": "Date time",
                          "type": "string"
                        },
                        "start": {
                          "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                          "examples": [
                            "2022-10-23T00:00:00+00:00"
                          ],
                          "title": "Date time",
                          "type": "string"
                        }
                      },
                      "title": "Data range",
                      "type": "object",
                      "x-internal": true
                    },
                    "syncExceptionMessage": {
                      "description": "Exception message for the sync operation.",
                      "examples": [
                        "Customer 3b9bf2ed-a618-4af2-80f2-f2b57fddc748 is not in an Active state. (Archived)"
                      ],
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "syncStatus": {
                      "description": "Status of the sync of the company data. This is linked to status code.",
                      "examples": [
                        "ValidateError, Pending"
                      ],
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "syncStatusCode": {
                      "description": "Numerical status code sync of the company data.",
                      "examples": [
                        4000
                      ],
                      "format": "int32",
                      "type": "integer"
                    },
                    "syncUtc": {
                      "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                      "examples": [
                        "2022-10-23T00:00:00+00:00"
                      ],
                      "title": "Date time",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "x-speakeasy-usage-example": true
              }
            },
            "description": "Success"
          }
        },
        "summary": "Run a Commerce sync from the last successful sync",
        "tags": [
          "Sync"
        ]
      }
    },
    "/config/companies/paymentid/sync/commerce": {
      "get": {
        "description": "Retrieve current config preferences.",
        "operationId": "get-configuration",
        "parameters": [
          {
            "__unresolved_ref__": "#/paths/~1meta~1companies~1%7BcompanyId%7D~1connections/parameters/0"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "fees": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "feesSupplier": {
                          "additionalProperties": false,
                          "properties": {
                            "selectedSupplierId": {
                              "description": "Selected supplier id from the list of supplier records on the accounting software.",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "supplierOptions": {
                              "description": "List of supplier options from the list of supplier records on the accounting software.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            }
                          },
                          "title": "Supplier fees",
                          "type": "object",
                          "x-internal": true
                        },
                        "syncFees": {
                          "description": "Boolean indicator to enable syncing fees.",
                          "type": "boolean"
                        }
                      },
                      "type": "object",
                      "x-internal": true
                    },
                    "newPayments": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "syncPayments": {
                          "description": "Boolean indicator for syncing payments.",
                          "type": "boolean"
                        }
                      },
                      "title": "New payments",
                      "type": "object",
                      "x-internal": true
                    },
                    "payments": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "syncPayments": {
                          "description": "Boolean indicator for syncing sales.",
                          "type": "boolean"
                        }
                      },
                      "type": "object",
                      "x-internal": true
                    },
                    "sales": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "grouping": {
                          "additionalProperties": false,
                          "properties": {
                            "groupingLevels": {
                              "additionalProperties": false,
                              "properties": {
                                "invoiceLevel": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "groupByOptions": {
                                      "description": "Options for grouping sales.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    },
                                    "selectedGroupByOptions": {
                                      "description": "Selected array of grouping options.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Invoice level selection",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "invoiceLineLevel": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "groupByOptions": {
                                      "description": "Options for grouping on invoice lines.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    },
                                    "selectedGroupByOptions": {
                                      "description": "Invoice line level selection.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Invoice line level selection",
                                  "type": "object",
                                  "x-internal": true
                                }
                              },
                              "title": "Grouping levels",
                              "type": "object",
                              "x-internal": true
                            },
                            "groupingPeriod": {
                              "additionalProperties": false,
                              "properties": {
                                "groupingPeriodOptions": {
                                  "description": "Array of grouping period options.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": [
                                    "array",
                                    "null"
                                  ]
                                },
                                "selectedGroupingPeriod": {
                                  "description": "Grouping period i.e. Daily sales.",
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "title": "Grouping period",
                              "type": "object",
                              "x-internal": true
                            }
                          },
                          "type": "object",
                          "x-internal": true
                        },
                        "invoiceStatus": {
                          "additionalProperties": false,
                          "properties": {
                            "invoiceStatusOptions": {
                              "description": "Options for invoice statuses.",
                              "items": {
                                "type": "string"
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "selectedInvoiceStatus": {
                              "description": "Selected option for invoice status for invoice to be synced.",
                              "examples": [
                                "Submitted"
                              ],
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "title": "Invoice status",
                          "type": "object",
                          "x-internal": true
                        },
                        "newTaxRates": {
                          "additionalProperties": false,
                          "properties": {
                            "accountingTaxRateOptions": {
                              "description": "Array of accounting tax rate options.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "commerceTaxRateOptions": {
                              "description": "Array of tax component options.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "defaultZeroTaxRateOptions": {
                              "description": "Default zero tax rate selected for sync.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "selectedDefaultZeroTaxRateId": {
                              "description": "Default tax rate selected for sync.",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "taxRateMappings": {
                              "description": "Array of tax component to rate mapppings.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "selectedAccountingTaxRateId": {
                                    "description": "Selected tax rate id from the list of tax rates on the accounting software.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "selectedCommerceTaxRateIds": {
                                    "description": "Selected tax component id from the list of tax components on the commerce software.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": [
                                      "array",
                                      "null"
                                    ]
                                  }
                                },
                                "title": "Tax rate mapping",
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            }
                          },
                          "title": "New tax rates",
                          "type": "object",
                          "x-internal": true
                        },
                        "salesCustomer": {
                          "additionalProperties": false,
                          "properties": {
                            "customerOptions": {
                              "description": "List of customer options from the list of customer records on the accounting software.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "selectedCustomerId": {
                              "description": "Selected customer id from the list of customer records on the accounting software.",
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "type": "object",
                          "x-internal": true
                        },
                        "syncSales": {
                          "description": "Boolean indicator for syncing sales.",
                          "type": "boolean"
                        },
                        "taxRates": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "properties": {
                              "selectedTaxRateId": {
                                "description": "Selected tax rate id from the list of tax rates on the accounting software.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "taxRateOptions": {
                                "description": "Array of tax rate options object.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "id": {
                                      "description": "Unique identifier for the option.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name value of the option.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              }
                            },
                            "title": "Tax rate amount",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        }
                      },
                      "type": "object",
                      "x-internal": true
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          }
        },
        "summary": "Retrieve config preferences set for a company.",
        "tags": [
          "Configuration"
        ]
      },
      "post": {
        "description": "Make changes to configuration preferences.",
        "operationId": "set-configuration",
        "parameters": [
          {
            "__unresolved_ref__": "#/paths/~1meta~1companies~1%7BcompanyId%7D~1connections/parameters/0"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "fees": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "feesSupplier": {
                          "additionalProperties": false,
                          "properties": {
                            "selectedSupplierId": {
                              "description": "Selected supplier id from the list of supplier records on the accounting software.",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "supplierOptions": {
                              "description": "List of supplier options from the list of supplier records on the accounting software.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            }
                          },
                          "title": "Supplier fees",
                          "type": "object",
                          "x-internal": true
                        },
                        "syncFees": {
                          "description": "Boolean indicator to enable syncing fees.",
                          "type": "boolean"
                        }
                      },
                      "type": "object",
                      "x-internal": true
                    },
                    "newPayments": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "syncPayments": {
                          "description": "Boolean indicator for syncing payments.",
                          "type": "boolean"
                        }
                      },
                      "title": "New payments",
                      "type": "object",
                      "x-internal": true
                    },
                    "payments": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "syncPayments": {
                          "description": "Boolean indicator for syncing sales.",
                          "type": "boolean"
                        }
                      },
                      "type": "object",
                      "x-internal": true
                    },
                    "sales": {
                      "additionalProperties": false,
                      "properties": {
                        "accounts": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "description": "G/L account object for configuration.",
                            "properties": {
                              "accountOptions": {
                                "description": "Object containing account options.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "classification": {
                                      "description": "Classification of the type of G/L account.",
                                      "examples": [
                                        "Bank Nominal"
                                      ],
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "id": {
                                      "description": "Identifier for the account, unique for the company.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name of the account.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "nominalCode": {
                                      "description": "Reference given to each nominal account for a business. It ensures money is allocated to the correct account. This code isn't a unique identifier in the Codat system.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Account option",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
                                ]
                              },
                              "descriptionText": {
                                "description": "Descriprtive text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "labelText": {
                                "description": "Label text for sales configuration section.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "required": {
                                "description": "Required section to be configured for sync.",
                                "type": "boolean"
                              },
                              "selectedAccountId": {
                                "description": "Selected account id from the list of available accounts.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              }
                            },
                            "title": "Account configuration",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": [
                            "object",
                            "null"
                          ]
                        },
                        "grouping": {
                          "additionalProperties": false,
                          "properties": {
                            "groupingLevels": {
                              "additionalProperties": false,
                              "properties": {
                                "invoiceLevel": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "groupByOptions": {
                                      "description": "Options for grouping sales.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    },
                                    "selectedGroupByOptions": {
                                      "description": "Selected array of grouping options.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Invoice level selection",
                                  "type": "object",
                                  "x-internal": true
                                },
                                "invoiceLineLevel": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "groupByOptions": {
                                      "description": "Options for grouping on invoice lines.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    },
                                    "selectedGroupByOptions": {
                                      "description": "Invoice line level selection.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": [
                                        "array",
                                        "null"
                                      ]
                                    }
                                  },
                                  "title": "Invoice line level selection",
                                  "type": "object",
                                  "x-internal": true
                                }
                              },
                              "title": "Grouping levels",
                              "type": "object",
                              "x-internal": true
                            },
                            "groupingPeriod": {
                              "additionalProperties": false,
                              "properties": {
                                "groupingPeriodOptions": {
                                  "description": "Array of grouping period options.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": [
                                    "array",
                                    "null"
                                  ]
                                },
                                "selectedGroupingPeriod": {
                                  "description": "Grouping period i.e. Daily sales.",
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              },
                              "title": "Grouping period",
                              "type": "object",
                              "x-internal": true
                            }
                          },
                          "type": "object",
                          "x-internal": true
                        },
                        "invoiceStatus": {
                          "additionalProperties": false,
                          "properties": {
                            "invoiceStatusOptions": {
                              "description": "Options for invoice statuses.",
                              "items": {
                                "type": "string"
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "selectedInvoiceStatus": {
                              "description": "Selected option for invoice status for invoice to be synced.",
                              "examples": [
                                "Submitted"
                              ],
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "title": "Invoice status",
                          "type": "object",
                          "x-internal": true
                        },
                        "newTaxRates": {
                          "additionalProperties": false,
                          "properties": {
                            "accountingTaxRateOptions": {
                              "description": "Array of accounting tax rate options.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "commerceTaxRateOptions": {
                              "description": "Array of tax component options.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "defaultZeroTaxRateOptions": {
                              "description": "Default zero tax rate selected for sync.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "selectedDefaultZeroTaxRateId": {
                              "description": "Default tax rate selected for sync.",
                              "type": [
                                "string",
                                "null"
                              ]
                            },
                            "taxRateMappings": {
                              "description": "Array of tax component to rate mapppings.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "selectedAccountingTaxRateId": {
                                    "description": "Selected tax rate id from the list of tax rates on the accounting software.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  },
                                  "selectedCommerceTaxRateIds": {
                                    "description": "Selected tax component id from the list of tax components on the commerce software.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": [
                                      "array",
                                      "null"
                                    ]
                                  }
                                },
                                "title": "Tax rate mapping",
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            }
                          },
                          "title": "New tax rates",
                          "type": "object",
                          "x-internal": true
                        },
                        "salesCustomer": {
                          "additionalProperties": false,
                          "properties": {
                            "customerOptions": {
                              "description": "List of customer options from the list of customer records on the accounting software.",
                              "items": {
                                "additionalProperties": false,
                                "properties": {
                                  "id": {
                                    "description": "Unique identifier for the option.",
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name value of the option.",
                                    "type": [
                                      "string",
                                      "null"
                                    ]
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              "type": [
                                "array",
                                "null"
                              ]
                            },
                            "selectedCustomerId": {
                              "description": "Selected customer id from the list of customer records on the accounting software.",
                              "type": [
                                "string",
                                "null"
                              ]
                            }
                          },
                          "type": "object",
                          "x-internal": true
                        },
                        "syncSales": {
                          "description": "Boolean indicator for syncing sales.",
                          "type": "boolean"
                        },
                        "taxRates": {
                          "additionalProperties": {
                            "additionalProperties": false,
                            "properties": {
                              "selectedTaxRateId": {
                                "description": "Selected tax rate id from the list of tax rates on the accounting software.",
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "taxRateOptions": {
                                "description": "Array of tax rate options object.",
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "id": {
                                      "description": "Unique identifier for the option.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "Name value of the option.",
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    }
                                  },
                                  "type": "object",
                                  "x-internal": true
                                },
                                "type": [
                                  "array",
                                  "null"
[...]
