{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "contact": {
      "email": "support@codat.io",
      "name": "Codat"
    },
    "description": "Codat's Commerce API allows you to access standardised data from over 11 commerce and POS systems.\n\nStandardize how you connect to your customers’ payment, PoS, and eCommerce systems. Retrieve orders, payouts, payments, and product data in the same way for all the leading commerce platforms.\n\n[Read more...](https://docs.codat.io/commerce-api/overview)\n\n[See our OpenAPI spec](https://github.com/codatio/oas) ",
    "summary": "Codat's standardized API for accessing commerce data ",
    "termsOfService": "https://www.codat.io/legals/",
    "title": "Commerce API",
    "version": "2.1.0",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-logo": {
      "url": "https://static.codat.io/public/branding/codat-icon-blue.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/codatio/oas/main/json/Codat-Commerce.json",
        "version": "3.1"
      }
    ],
    "x-providerName": "codat.io",
    "x-serviceName": "commerce"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "tags": [
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Customers"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Disputes"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Company info"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Locations"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Orders"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Payments"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Products"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Tax components"
    },
    {
      "description": "Retrieve standardized data from linked commerce platforms.",
      "name": "Transactions"
    }
  ],
  "paths": {
    "/companies/orderid/connections/userid/data/commerce-customers": {
      "get": {
        "description": "List all commerce customers for the given company and data connection",
        "operationId": "list-customers-v2",
        "parameters": [
          {
            "description": "Page number. [Read more](https://docs.codat.io/using-the-api/paging).",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "default": 1,
              "example": 1,
              "format": "int32",
              "minimum": 0,
              "type": "integer"
            },
            "x-stoplight": {
              "id": "1318joqblpp4e"
            }
          },
          {
            "description": "Number of records to return in a page. [Read more](https://docs.codat.io/using-the-api/paging).",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "default": 100,
              "example": 100,
              "format": "int32",
              "maximum": 5000,
              "minimum": 1,
              "type": "integer"
            },
            "x-stoplight": {
              "id": "s2ika6rltk5y6"
            }
          },
          {
            "description": "Codat query string. [Read more](https://docs.codat.io/using-the-api/querying).",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-stoplight": {
              "id": "gupdb9kt30hfq"
            }
          },
          {
            "description": "Field to order results by. [Read more](https://docs.codat.io/using-the-api/ordering-results).",
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": {
              "example": "-modifiedDate",
              "type": "string"
            },
            "x-stoplight": {
              "id": "4je9lwo02netu"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Customers": {
                    "value": {
                      "_links": {
                        "current": {
                          "href": "../dictionary"
                        },
                        "next": {
                          "href": "../dictionary"
                        },
                        "previous": {
                          "href": "../dictionary"
                        },
                        "self": {
                          "href": "../dictionary"
                        }
                      },
                      "pageNumber": 0,
                      "pageSize": 0,
                      "results": [
                        {
                          "amount": 194.12,
                          "createdDate": "2019-08-24T14:15:22+00:00",
                          "currency": "GBP",
                          "dueDate": "2019-08-24T14:15:22+00:00",
                          "id": "13d946f0-c5d5-42bc-b092-97ece17923ab",
                          "modifiedDate": "2019-08-24T14:15:22+00:00",
                          "paymentMethodRef": {
                            "id": "EILBDVJVNUAGVKRQ",
                            "name": "AliPay"
                          },
                          "paymentProvider": "Amazon Pay",
                          "sourceModifiedDate": "2019-08-24T14:15:22+00:00",
                          "status": "Pending"
                        }
                      ],
                      "totalResults": 0
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "results": {
                          "items": {
                            "allOf": [
                              {
                                "properties": {
                                  "id": {
                                    "description": "A unique, persistent identifier for this record",
                                    "examples": [
                                      "13d946f0-c5d5-42bc-b092-97ece17923ab",
                                      "9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2",
                                      7110701885,
                                      "EILBDVJVNUAGVKRQ"
                                    ],
                                    "type": "string",
                                    "x-codat-validation": [
                                      {
                                        "validator": "UniqueWithinConnection"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "id"
                                ],
                                "type": "object",
                                "x-stoplight": {
                                  "id": "516bf0ecc4907"
                                }
                              },
                              {
                                "properties": {
                                  "addresses": {
                                    "description": "Addresses of the customer",
                                    "items": {
                                      "definitions": {
                                        "addressType": {
                                          "description": "The type of the address",
                                          "enum": [
                                            "Billing",
                                            "Delivery",
                                            "Order",
                                            "Inventory",
                                            "Unknown"
                                          ],
                                          "type": "string"
                                        }
                                      },
                                      "properties": {
                                        "city": {
                                          "description": "The third line of the address, or city",
                                          "type": "string"
                                        },
                                        "country": {
                                          "description": "The country for the address",
                                          "type": "string"
                                        },
                                        "line1": {
                                          "description": "The first line of the address",
                                          "type": "string"
                                        },
                                        "line2": {
                                          "description": "The second line of the address",
                                          "type": "string"
                                        },
                                        "postalCode": {
                                          "description": "The postal (or zip) code for the address",
                                          "type": "string"
                                        },
                                        "region": {
                                          "description": "The fourth line of the address, or region",
                                          "type": "string"
                                        },
                                        "type": {
                                          "description": "The type of the address",
                                          "enum": [
                                            "Billing",
                                            "Delivery",
                                            "Order",
                                            "Inventory",
                                            "Unknown"
                                          ],
                                          "type": "string"
                                        }
                                      },
                                      "title": "Address",
                                      "type": "object",
                                      "x-internal": true
                                    },
                                    "type": "array"
                                  },
                                  "customerName": {
                                    "description": "Name of the customer",
                                    "example": "Fred Smith",
                                    "type": "string"
                                  },
                                  "defaultCurrency": {
                                    "allOf": [
                                      {
                                        "description": "Default currency of any transactional data for the customer, \nfor example, orders or payments\n"
                                      },
                                      {
                                        "description": "The currency data type in Codat is the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code, e.g. _GBP_.\n\n## Unknown currencies\n\nIn line with the ISO 4217 specification, the code _XXX_ is used when the data source does not return a currency for a transaction. \n\nThere are only a very small number of edge cases where this currency code is returned by the Codat system.",
                                        "examples": [
                                          "GBP",
                                          "USD",
                                          "EUR"
                                        ],
                                        "format": "ISO4217",
                                        "title": "Currency",
                                        "type": "string",
                                        "x-internal": true
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "emailAddress": {
                                    "description": "Email address of the customer",
                                    "example": "fred.smith@myCompany.com",
                                    "type": "string"
                                  },
                                  "note": {
                                    "description": "Any additional information about the customer",
                                    "type": "string"
                                  },
                                  "phone": {
                                    "description": "A phone number.",
                                    "examples": [
                                      "+44 25691 154789",
                                      "(877) 492-8687",
                                      "01224 658 999"
                                    ],
                                    "nullable": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "createdDate": {
                                    "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                    "example": "2022-10-23T00:00:00+00:00",
                                    "title": "Date time",
                                    "type": "string"
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              {
                                "allOf": [
                                  {
                                    "properties": {
                                      "modifiedDate": {
                                        "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                        "example": "2022-10-23T00:00:00+00:00",
                                        "title": "Date time",
                                        "type": "string"
                                      }
                                    },
                                    "title": "ModifiedDate",
                                    "type": "object",
                                    "x-internal": true
                                  },
                                  {
                                    "properties": {
                                      "sourceModifiedDate": {
                                        "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                        "example": "2022-10-23T00:00:00+00:00",
                                        "title": "Date time",
                                        "type": "string"
                                      }
                                    },
                                    "title": "Source Modified Date",
                                    "type": "object",
                                    "x-internal": true
                                  }
                                ],
                                "x-internal": true,
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            ],
                            "definitions": {
                              "customerRef": {
                                "description": "Reference to the customer that placed the order.",
                                "properties": {
                                  "id": {
                                    "description": "The unique identitifer of the customer being referenced",
                                    "examples": [
                                      "13d946f0-c5d5-42bc-b092-97ece17923ab",
                                      "9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2",
                                      7110701885,
                                      "EILBDVJVNUAGVKRQ"
                                    ],
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name of the customer being referenced.",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ],
                                "type": "object"
                              }
                            },
                            "description": "When a customer places an order with the connected commerce store their details are added to the Customers dataset. You can use the data from the Customers endpoints to calculate key metrics, such as customer churn.\n\nExplore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-customers) for this data type.",
                            "examples": [
                              {
                                "customers": [
                                  {
                                    "addresses": [
                                      {
                                        "city": "London",
                                        "country": "United Kingdom",
                                        "line1": "301 Duck Pond",
                                        "line2": "28 Green Street",
                                        "postalCode": "WX1X 0BE",
                                        "region": "England",
                                        "type": "billing"
                                      },
                                      {
                                        "city": "Paris",
                                        "country": "France",
                                        "line1": "Bread Street",
                                        "line2": "Bird Avenue",
                                        "postalCode": "WDF 123",
                                        "region": "France",
                                        "type": "delivery"
                                      }
                                    ],
                                    "createdDate": "0001-01-01T00:00:00+00:00",
                                    "customerName": "Daffy Duck",
                                    "defaultCurrency": "GBP",
                                    "emailAddress": "d.duck@warnerbros.com",
                                    "id": "15",
                                    "modifiedDate": null,
                                    "note": "Regular customer",
                                    "phone": "(877) 492-8687",
                                    "sourceModifiedDate": "2020-09-15T23:52:28+00:00"
                                  },
                                  {
                                    "addresses": [
                                      {
                                        "city": "London",
                                        "country": "United Kingdom",
                                        "line1": "101 Fire Rooms",
                                        "line2": "Engine Street",
                                        "postalCode": "WC1X 0BE",
                                        "region": "England",
                                        "type": "billing"
                                      }
                                    ],
                                    "createdDate": "0001-01-01T00:00:00+00:00",
                                    "customerName": "Tasmanian Devil",
                                    "defaultCurrency": "GBP",
                                    "emailAddress": "t.devil@warnerbros.com",
                                    "id": "18",
                                    "modifiedDate": null,
                                    "note": "Handle with care",
                                    "phone": "+1-202-555-0181",
                                    "sourceModifiedDate": "2020-04-16T02:41:52+00:00"
                                  },
                                  {
                                    "addresses": [
                                      {
                                        "city": "Yorkshire",
                                        "country": "United Kingdom",
                                        "line1": "301 Carrot Street",
                                        "line2": "Orange Town",
                                        "postalCode": "WF1X 0BE",
                                        "region": "England",
                                        "type": "billing"
                                      },
                                      {
                                        "city": "Paris",
                                        "country": "France",
                                        "line1": "424 Field Street",
                                        "line2": "The Meadow",
                                        "postalCode": "WDF 123",
                                        "region": "France",
                                        "type": "delivery"
                                      }
                                    ],
                                    "createdDate": "0001-01-01T00:00:00+00:00",
                                    "customerName": "Bugs Bunny",
                                    "defaultCurrency": "GBP",
                                    "emailAddress": "b.bunny@warnerbros.com",
                                    "id": "a99f5e0c-a4db-452f-8d2c-8fd15482b384",
                                    "modifiedDate": null,
                                    "note": "Regular customer",
                                    "phone": "",
                                    "sourceModifiedDate": "2020-08-12T14:37:37+00:00"
                                  }
                                ]
                              }
                            ],
                            "title": "Customer",
                            "type": "object",
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "examples": [
                        {
                          "_links": {
                            "current": {
                              "href": "/companies/{id}/data/{dataType}?page=1&pageSize=10"
                            },
                            "pageNumber": 1,
                            "pageSize": 10,
                            "self": {
                              "href": "/companies/{id}/data/{dataType}"
                            },
                            "totalResults": 1
                          }
                        }
                      ],
                      "properties": {
                        "_links": {
                          "examples": [
                            {
                              "current": {
                                "href": "/companies/{id}/data/{dataType}?page=1&pageSize=10"
                              },
                              "self": {
                                "href": "/companies/{id}/data/{dataType}"
                              }
                            }
                          ],
                          "properties": {
                            "current": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "next": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "previous": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "self": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            }
                          },
                          "required": [
                            "self",
                            "current"
                          ],
                          "type": "object",
                          "x-internal": true
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "totalResults": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "totalResults",
                        "_links"
                      ],
                      "type": "object",
                      "x-internal": true
                    }
                  ],
                  "x-internal": true,
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "List customers",
        "tags": [
          "Customers"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "companyId",
          "required": true,
          "schema": {
            "description": "Unique identifier for your SMB in Codat.",
            "example": "8a210b68-6988-11ed-a1eb-0242ac120002",
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "connectionId",
          "required": true,
          "schema": {
            "description": "Unique identifier for a company's data connection.",
            "example": "2e9d2c44-f675-40ba-8049-353bfcb5e171",
            "format": "uuid",
            "type": "string"
          }
        }
      ]
    },
    "/companies/orderid/connections/paymentid/data/commerce-disputes": {
      "get": {
        "description": "List commerce disputes",
        "operationId": "list-disputes",
        "parameters": [
          {
            "description": "Page number. [Read more](https://docs.codat.io/using-the-api/paging).",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "default": 1,
              "example": 1,
              "format": "int32",
              "minimum": 0,
              "type": "integer"
            },
            "x-stoplight": {
              "id": "1318joqblpp4e"
            }
          },
          {
            "description": "Number of records to return in a page. [Read more](https://docs.codat.io/using-the-api/paging).",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "default": 100,
              "example": 100,
              "format": "int32",
              "maximum": 5000,
              "minimum": 1,
              "type": "integer"
            },
            "x-stoplight": {
              "id": "s2ika6rltk5y6"
            }
          },
          {
            "description": "Codat query string. [Read more](https://docs.codat.io/using-the-api/querying).",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-stoplight": {
              "id": "gupdb9kt30hfq"
            }
          },
          {
            "description": "Field to order results by. [Read more](https://docs.codat.io/using-the-api/ordering-results).",
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": {
              "example": "-modifiedDate",
              "type": "string"
            },
            "x-stoplight": {
              "id": "4je9lwo02netu"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "_links": {
                        "current": {
                          "href": "../dictionary"
                        },
                        "next": {
                          "href": "../dictionary"
                        },
                        "previous": {
                          "href": "../dictionary"
                        },
                        "self": {
                          "href": "../dictionary"
                        }
                      },
                      "pageNumber": 0,
                      "pageSize": 0,
                      "results": [
                        {
                          "createdDate": "2019-08-24T14:15:22+00:00",
                          "currency": "GBP",
                          "disputedTransactions": {
                            "id": "13d946f0-c5d5-42bc-b092-97ece17923ab",
                            "type": "Fee"
                          },
                          "dueDate": "2021-03-29T14:39:55+00:00",
                          "id": "13d946f0-c5d5-42bc-b092-97ece17923ab",
                          "modifiedDate": "2019-08-24T14:15:22+00:00",
                          "reason": "Unhappy with product",
                          "sourceModifiedDate": "2019-08-24T14:15:22+00:00",
                          "status": "Won",
                          "totalAmount": 194.12
                        }
                      ],
                      "totalResults": 0
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "results": {
                          "items": {
                            "allOf": [
                              {
                                "properties": {
                                  "id": {
                                    "description": "A unique, persistent identifier for this record",
                                    "examples": [
                                      "13d946f0-c5d5-42bc-b092-97ece17923ab",
                                      "9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2",
                                      7110701885,
                                      "EILBDVJVNUAGVKRQ"
                                    ],
                                    "type": "string",
                                    "x-codat-validation": [
                                      {
                                        "validator": "UniqueWithinConnection"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "id"
                                ],
                                "type": "object",
                                "x-stoplight": {
                                  "id": "516bf0ecc4907"
                                }
                              },
                              {
                                "properties": {
                                  "currency": {
                                    "description": "The currency data type in Codat is the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code, e.g. _GBP_.\n\n## Unknown currencies\n\nIn line with the ISO 4217 specification, the code _XXX_ is used when the data source does not return a currency for a transaction. \n\nThere are only a very small number of edge cases where this currency code is returned by the Codat system.",
                                    "examples": [
                                      "GBP",
                                      "USD",
                                      "EUR"
                                    ],
                                    "format": "ISO4217",
                                    "title": "Currency",
                                    "type": "string",
                                    "x-internal": true
                                  },
                                  "disputedTransactions": {
                                    "allOf": [
                                      {
                                        "description": "",
                                        "properties": {
                                          "id": {
                                            "description": "The unique identitifer of the record being referenced",
                                            "examples": [
                                              "13d946f0-c5d5-42bc-b092-97ece17923ab",
                                              "9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2",
                                              7110701885,
                                              "EILBDVJVNUAGVKRQ"
                                            ],
                                            "type": "string"
                                          },
                                          "type": {
                                            "description": "The type of record being referenced.",
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "id",
                                          "type"
                                        ],
                                        "title": "Record Ref",
                                        "type": "object",
                                        "x-internal": true
                                      },
                                      {
                                        "properties": {
                                          "type": {
                                            "enum": [
                                              "Fee",
                                              "Order",
                                              "Payment",
                                              "ServiceCharge",
                                              "Unknown"
                                            ],
                                            "type": "string",
                                            "x-internal": true
                                          }
                                        },
                                        "type": "object"
                                      }
                                    ],
                                    "title": "Transaction Source Reference",
                                    "x-internal": true,
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "dueDate": {
                                    "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                    "example": "2022-10-23T00:00:00+00:00",
                                    "title": "Date time",
                                    "type": "string"
                                  },
                                  "reason": {
                                    "description": "Reason for the dispute",
                                    "examples": [
                                      "Unhappy with product"
                                    ],
                                    "type": "string"
                                  },
                                  "status": {
                                    "description": "Current status of the dispute",
                                    "enum": [
                                      "Won",
                                      "Lost",
                                      "Accepted",
                                      "Processing",
                                      "ChargeRefunded",
                                      "EvidenceRequired",
                                      "InquiryEvidenceRequired",
                                      "InquiryProcessing",
                                      "InquiryClosed",
                                      "WaitingThirdParty",
                                      "Unknown"
                                    ],
                                    "example": "EvidenceRequired",
                                    "type": "string",
                                    "x-internal": true
                                  },
                                  "totalAmount": {
                                    "description": "Total transaction amount that is under dispute.",
                                    "examples": [
                                      194.12,
                                      -283.56,
                                      0
                                    ],
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "currency"
                                ],
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "createdDate": {
                                    "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                    "example": "2022-10-23T00:00:00+00:00",
                                    "title": "Date time",
                                    "type": "string"
                                  }
                                },
                                "type": "object",
                                "x-internal": true
                              },
                              {
                                "allOf": [
                                  {
                                    "properties": {
                                      "modifiedDate": {
                                        "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                        "example": "2022-10-23T00:00:00+00:00",
                                        "title": "Date time",
                                        "type": "string"
                                      }
                                    },
                                    "title": "ModifiedDate",
                                    "type": "object",
                                    "x-internal": true
                                  },
                                  {
                                    "properties": {
                                      "sourceModifiedDate": {
                                        "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                        "example": "2022-10-23T00:00:00+00:00",
                                        "title": "Date time",
                                        "type": "string"
                                      }
                                    },
                                    "title": "Source Modified Date",
                                    "type": "object",
                                    "x-internal": true
                                  }
                                ],
                                "x-internal": true,
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            ],
                            "definitions": {
                              "disputeStatus": {
                                "description": "Current status of the dispute",
                                "enum": [
                                  "Won",
                                  "Lost",
                                  "Accepted",
                                  "Processing",
                                  "ChargeRefunded",
                                  "EvidenceRequired",
                                  "InquiryEvidenceRequired",
                                  "InquiryProcessing",
                                  "InquiryClosed",
                                  "WaitingThirdParty",
                                  "Unknown"
                                ],
                                "example": "EvidenceRequired",
                                "type": "string",
                                "x-internal": true
                              }
                            },
                            "description": "A customer may file a payment dispute with their bank or other card issuer when they're unsatisfied with their purchase or believe they have been charged incorrectly. For example:  \n- They didn't receive an order.  \n- The product they received was different to the commerce store's description.  \n- They've been the victim of online fraud.  \n\nYou can use data from the Disputes endpoints to calculate key metrics, such as the number of chargebacks.\n\nExplore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-disputes) for this data type.",
                            "examples": [
                              {
                                "createdDate": "2021-03-22T14:39:55+00:00",
                                "currency": "GBP",
                                "disputedTransactions": [
                                  {
                                    "id": "e63ad857-7e12-4e64-9185-cdfd7c45d09d",
                                    "type": "Order"
                                  }
                                ],
                                "dueDate": "2021-03-29T14:39:55+00:00",
                                "id": "03e608e3-bd1c-454f-8c2b-fb0133e43b95",
                                "modifiedDate": "2022-02-02T11:02:45+00:00",
                                "reason": "Unhappy with product",
                                "sourceModifiedDate": "2021-03-22T14:39:55+00:00",
                                "status": "InquiryEvidenceRequired",
                                "totalAmount": -47.66
                              }
                            ],
                            "title": "Dispute",
                            "type": "object",
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "examples": [
                        {
                          "_links": {
                            "current": {
                              "href": "/companies/{id}/data/{dataType}?page=1&pageSize=10"
                            },
                            "pageNumber": 1,
                            "pageSize": 10,
                            "self": {
                              "href": "/companies/{id}/data/{dataType}"
                            },
                            "totalResults": 1
                          }
                        }
                      ],
                      "properties": {
                        "_links": {
                          "examples": [
                            {
                              "current": {
                                "href": "/companies/{id}/data/{dataType}?page=1&pageSize=10"
                              },
                              "self": {
                                "href": "/companies/{id}/data/{dataType}"
                              }
                            }
                          ],
                          "properties": {
                            "current": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "next": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "previous": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "self": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            }
                          },
                          "required": [
                            "self",
                            "current"
                          ],
                          "type": "object",
                          "x-internal": true
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "totalResults": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "totalResults",
                        "_links"
                      ],
                      "type": "object",
                      "x-internal": true
                    }
                  ],
                  "x-internal": true,
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "List disputes",
        "tags": [
          "Disputes"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "companyId",
          "required": true,
          "schema": {
            "description": "Unique identifier for your SMB in Codat.",
            "example": "8a210b68-6988-11ed-a1eb-0242ac120002",
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "connectionId",
          "required": true,
          "schema": {
            "description": "Unique identifier for a company's data connection.",
            "example": "2e9d2c44-f675-40ba-8049-353bfcb5e171",
            "format": "uuid",
            "type": "string"
          }
        }
      ]
    },
    "/companies/orderid/connections/orderid/data/commerce-info": {
      "get": {
        "description": "Retrieve information about the company, as seen in the commerce platform.\n\nThis may include information like addresses, tax registration details and social media or website information.",
        "operationId": "get-company-info",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "accountBalances": {
                          "description": "The available and current cash balances for the company's accounts",
                          "items": {
                            "properties": {
                              "available": {
                                "description": "The account's current balance",
                                "format": "decimal",
                                "type": "number"
                              },
                              "currency": {
                                "allOf": [
                                  {
                                    "description": "The currency data type in Codat is the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code, e.g. _GBP_.\n\n## Unknown currencies\n\nIn line with the ISO 4217 specification, the code _XXX_ is used when the data source does not return a currency for a transaction. \n\nThere are only a very small number of edge cases where this currency code is returned by the Codat system.",
                                    "examples": [
                                      "GBP",
                                      "USD",
                                      "EUR"
                                    ],
                                    "format": "ISO4217",
                                    "title": "Currency",
                                    "type": "string",
                                    "x-internal": true
                                  }
                                ],
                                "description": "The currency of the account",
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "pending": {
                                "description": "Funds that are not yet available in the balance",
                                "format": "decimal",
                                "type": "number"
                              },
                              "reserved": {
                                "description": "Funds reserved as holdings",
                                "format": "decimal",
                                "type": "number"
                              }
                            },
                            "title": "Account Balance",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": "array"
                        },
                        "addresses": {
                          "description": "Addresses associated with the company",
                          "items": {
                            "definitions": {
                              "addressType": {
                                "description": "The type of the address",
                                "enum": [
                                  "Billing",
                                  "Delivery",
                                  "Order",
                                  "Inventory",
                                  "Unknown"
                                ],
                                "type": "string"
                              }
                            },
                            "properties": {
                              "city": {
                                "description": "The third line of the address, or city",
                                "type": "string"
                              },
                              "country": {
                                "description": "The country for the address",
                                "type": "string"
                              },
                              "line1": {
                                "description": "The first line of the address",
                                "type": "string"
                              },
                              "line2": {
                                "description": "The second line of the address",
                                "type": "string"
                              },
                              "postalCode": {
                                "description": "The postal (or zip) code for the address",
                                "type": "string"
                              },
                              "region": {
                                "description": "The fourth line of the address, or region",
                                "type": "string"
                              },
                              "type": {
                                "description": "The type of the address",
                                "enum": [
                                  "Billing",
                                  "Delivery",
                                  "Order",
                                  "Inventory",
                                  "Unknown"
                                ],
                                "type": "string"
                              }
                            },
                            "title": "Address",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": "array"
                        },
                        "baseCurrency": {
                          "description": "The currency data type in Codat is the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code, e.g. _GBP_.\n\n## Unknown currencies\n\nIn line with the ISO 4217 specification, the code _XXX_ is used when the data source does not return a currency for a transaction. \n\nThere are only a very small number of edge cases where this currency code is returned by the Codat system.",
                          "examples": [
                            "GBP",
                            "USD",
                            "EUR"
                          ],
                          "format": "ISO4217",
                          "title": "Currency",
                          "type": "string",
                          "x-internal": true
                        },
                        "commercePlatformRef": {
                          "description": "Identifier or reference for the company in the commerce platform",
                          "type": "string"
                        },
                        "companyLegalName": {
                          "description": "The full legal name of the company",
                          "example": "Codat Limited",
                          "type": "string"
                        },
                        "companyName": {
                          "description": "The name of the company",
                          "example": "Codat",
                          "type": "string"
                        },
                        "phoneNumbers": {
                          "description": "Phone numbers associated with the company",
                          "items": {
                            "definitions": {
                              "phoneNumberType": {
                                "description": "The type of phone number",
                                "enum": [
                                  "Primary",
                                  "Landline",
                                  "Mobile",
                                  "Fax",
                                  "Unknown"
                                ],
                                "type": "string"
                              }
                            },
                            "properties": {
                              "number": {
                                "description": "A phone number.",
                                "examples": [
                                  "+44 25691 154789",
                                  "(877) 492-8687",
                                  "01224 658 999"
                                ],
                                "nullable": true,
                                "type": "string"
                              },
                              "type": {
                                "description": "The type of phone number",
                                "enum": [
                                  "Primary",
                                  "Landline",
                                  "Mobile",
                                  "Fax",
                                  "Unknown"
                                ],
                                "type": "string"
                              }
                            },
                            "required": [
                              "number",
                              "type"
                            ],
                            "title": "Phone",
                            "type": "object",
                            "x-internal": true
                          },
                          "type": "array"
                        },
                        "registrationNumber": {
                          "description": "The registration number of the company",
                          "examples": [
                            10480375
                          ],
                          "type": "string"
                        },
                        "sourceUrls": {
                          "additionalProperties": {
                            "type": "string"
                          },
                          "description": "URL addresses for the originating system. For example, potential use cases include 'deeplinking' to the originating system",
                          "example": {
                            "url1": "https://connect.sandbox.com/v2/customers",
                            "url2": "https://connect.sandbox.com/v2/disputes"
                          },
                          "type": "object"
                        },
                        "webLinks": {
                          "description": "Weblinks associated with the company",
                          "items": {
                            "description": "Weblink associated with the company.",
                            "example": {
                              "type": "Website",
                              "url": "https://codat.io"
                            },
                            "properties": {
                              "type": {
                                "description": "The type of the weblink.",
                                "enum": [
                                  "Website",
                                  "Social",
                                  "Unknown"
                                ],
                                "type": "string"
                              },
                              "url": {
                                "description": "The full URL for the weblink.",
                                "format": "url",
                                "type": "string"
                              }
                            },
                            "title": "Weblink",
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "properties": {
                        "createdDate": {
                          "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                          "example": "2022-10-23T00:00:00+00:00",
                          "title": "Date time",
                          "type": "string"
                        }
                      },
                      "type": "object",
                      "x-internal": true
                    },
                    {
                      "allOf": [
                        {
                          "properties": {
                            "modifiedDate": {
                              "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                              "example": "2022-10-23T00:00:00+00:00",
                              "title": "Date time",
                              "type": "string"
                            }
                          },
                          "title": "ModifiedDate",
                          "type": "object",
                          "x-internal": true
                        },
                        {
                          "properties": {
                            "sourceModifiedDate": {
                              "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                              "example": "2022-10-23T00:00:00+00:00",
                              "title": "Date time",
                              "type": "string"
                            }
                          },
                          "title": "Source Modified Date",
                          "type": "object",
                          "x-internal": true
                        }
                      ],
                      "x-internal": true,
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  ],
                  "definitions": {
                    "accountBalance": {
                      "properties": {
                        "available": {
                          "description": "The account's current balance",
                          "format": "decimal",
                          "type": "number"
                        },
                        "currency": {
                          "allOf": [
                            {
                              "description": "The currency data type in Codat is the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) currency code, e.g. _GBP_.\n\n## Unknown currencies\n\nIn line with the ISO 4217 specification, the code _XXX_ is used when the data source does not return a currency for a transaction. \n\nThere are only a very small number of edge cases where this currency code is returned by the Codat system.",
                              "examples": [
                                "GBP",
                                "USD",
                                "EUR"
                              ],
                              "format": "ISO4217",
                              "title": "Currency",
                              "type": "string",
                              "x-internal": true
                            }
                          ],
                          "description": "The currency of the account",
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "pending": {
                          "description": "Funds that are not yet available in the balance",
                          "format": "decimal",
                          "type": "number"
                        },
                        "reserved": {
                          "description": "Funds reserved as holdings",
                          "format": "decimal",
                          "type": "number"
                        }
                      },
                      "title": "Account Balance",
                      "type": "object",
                      "x-internal": true
                    }
                  },
                  "description": "In the Codat system, company information includes standard commercial details about \na linked company, such as their address, phone number, and company registration.\n\nExplore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=companyInfo) for this data type.\n",
                  "title": "Company Info",
                  "type": "object",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get company info",
        "tags": [
          "Company info"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "companyId",
          "required": true,
          "schema": {
            "description": "Unique identifier for your SMB in Codat.",
            "example": "8a210b68-6988-11ed-a1eb-0242ac120002",
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "connectionId",
          "required": true,
          "schema": {
            "description": "Unique identifier for a company's data connection.",
            "example": "2e9d2c44-f675-40ba-8049-353bfcb5e171",
            "format": "uuid",
            "type": "string"
          }
        }
      ]
    },
    "/companies/paymentid/connections/sku/data/commerce-locations": {
      "get": {
        "description": "Retrieve a list of locations as seen in the commerce platform.\n\nA `location` is a geographic place at which stocks of products may be held, or from where orders were placed.",
        "operationId": "list-locations-v2",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "_links": {
                        "current": {
                          "href": "../dictionary"
                        },
                        "next": {
                          "href": "../dictionary"
                        },
                        "previous": {
                          "href": "../dictionary"
                        },
                        "self": {
                          "href": "../dictionary"
                        }
                      },
                      "pageNumber": 0,
                      "pageSize": 0,
                      "results": [
                        {
                          "address": {
                            "city": "string",
                            "country": "string",
                            "line1": "string",
                            "line2": "string",
                            "postalCode": "string",
                            "region": "string",
                            "type": "Billing"
                          },
                          "id": "13d946f0-c5d5-42bc-b092-97ece17923ab",
                          "modifiedDate": "2019-08-24T14:15:22+00:00",
                          "name": "string",
                          "sourceModifiedDate": "2019-08-24T14:15:22+00:00"
                        }
                      ],
                      "totalResults": 0
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "results": {
                          "items": {
                            "allOf": [
                              {
                                "properties": {
                                  "id": {
                                    "description": "A unique, persistent identifier for this record",
                                    "examples": [
                                      "13d946f0-c5d5-42bc-b092-97ece17923ab",
                                      "9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2",
                                      7110701885,
                                      "EILBDVJVNUAGVKRQ"
                                    ],
                                    "type": "string",
                                    "x-codat-validation": [
                                      {
                                        "validator": "UniqueWithinConnection"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "id"
                                ],
                                "type": "object",
                                "x-stoplight": {
                                  "id": "516bf0ecc4907"
                                }
                              },
                              {
                                "properties": {
                                  "address": {
                                    "definitions": {
                                      "addressType": {
                                        "description": "The type of the address",
                                        "enum": [
                                          "Billing",
                                          "Delivery",
                                          "Order",
                                          "Inventory",
                                          "Unknown"
                                        ],
                                        "type": "string"
                                      }
                                    },
                                    "properties": {
                                      "city": {
                                        "description": "The third line of the address, or city",
                                        "type": "string"
                                      },
                                      "country": {
                                        "description": "The country for the address",
                                        "type": "string"
                                      },
                                      "line1": {
                                        "description": "The first line of the address",
                                        "type": "string"
                                      },
                                      "line2": {
                                        "description": "The second line of the address",
                                        "type": "string"
                                      },
                                      "postalCode": {
                                        "description": "The postal (or zip) code for the address",
                                        "type": "string"
                                      },
                                      "region": {
                                        "description": "The fourth line of the address, or region",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "The type of the address",
                                        "enum": [
                                          "Billing",
                                          "Delivery",
                                          "Order",
                                          "Inventory",
                                          "Unknown"
                                        ],
                                        "type": "string"
                                      }
                                    },
                                    "title": "Address",
                                    "type": "object",
                                    "x-internal": true
                                  },
                                  "name": {
                                    "description": "Name of this location",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "allOf": [
                                  {
                                    "properties": {
                                      "modifiedDate": {
                                        "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                        "example": "2022-10-23T00:00:00+00:00",
                                        "title": "Date time",
                                        "type": "string"
                                      }
                                    },
                                    "title": "ModifiedDate",
                                    "type": "object",
                                    "x-internal": true
                                  },
                                  {
                                    "properties": {
                                      "sourceModifiedDate": {
                                        "description": "In Codat's data model, dates and times are represented using the <a class=\"external\" href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\">ISO 8601 standard</a>. Date and time fields are formatted as strings; for example:\n\n```\n2020-10-08T22:40:50Z\n2021-01-01T00:00:00\n```\n\n\n\nWhen syncing data that contains `DateTime` fields from Codat, make sure you support the following cases when reading time information:\n\n- Coordinated Universal Time (UTC): `2021-11-15T06:00:00Z`\n- Unqualified local time: `2021-11-15T01:00:00`\n- UTC time offsets: `2021-11-15T01:00:00-05:00`\n\n> Time zones\n> \n> Not all dates from Codat will contain information about time zones.  \n> Where it is not available from the underlying platform, Codat will return these as times local to the business whose data has been synced.",
                                        "example": "2022-10-23T00:00:00+00:00",
                                        "title": "Date time",
                                        "type": "string"
                                      }
                                    },
                                    "title": "Source Modified Date",
                                    "type": "object",
                                    "x-internal": true
                                  }
                                ],
                                "x-internal": true,
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            ],
                            "definitions": {
                              "locationRef": {
                                "description": "Reference to the geographic location where the order was placed.",
                                "properties": {
                                  "id": {
                                    "description": "The unique identitifer of the location being referenced.",
                                    "examples": [
                                      "13d946f0-c5d5-42bc-b092-97ece17923ab",
                                      "9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2",
                                      7110701885,
                                      "EILBDVJVNUAGVKRQ"
                                    ],
                                    "type": "string"
                                  },
                                  "name": {
                                    "description": "Name of the location being referenced.",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "id",
                                  "name"
                                ],
                                "type": "object"
                              }
                            },
                            "description": "The Locations datatype holds information on geographic locations at which stocks of products may be held, as referenced in the Products data type.\n\nLocations also holds information on geographic locations where orders were placed, as referenced in the Orders data type.\n\nExplore our [data coverage](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-locations) for this data type.",
                            "examples": [
                              {
                                "address": {
                                  "city": "London",
                                  "country": "United Kingdom",
                                  "line1": "Warner House",
                                  "line2": "98 Theobald's Road",
                                  "postalCode": "WC1X 8WB",
                                  "region": "",
                                  "type": "Inventory"
                                },
                                "id": "15",
                                "modifiedDate": "2020-08-12T14:37:37+00:00",
                                "name": "London Warehouse",
                                "sourceModifiedDate": "2020-08-12T14:37:37+00:00"
                              }
                            ],
                            "title": "Locations",
                            "type": "object",
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "examples": [
                        {
                          "_links": {
                            "current": {
                              "href": "/companies/{id}/data/{dataType}?page=1&pageSize=10"
                            },
                            "pageNumber": 1,
                            "pageSize": 10,
                            "self": {
                              "href": "/companies/{id}/data/{dataType}"
                            },
                            "totalResults": 1
                          }
                        }
                      ],
                      "properties": {
                        "_links": {
                          "examples": [
                            {
                              "current": {
                                "href": "/companies/{id}/data/{dataType}?page=1&pageSize=10"
                              },
                              "self": {
                                "href": "/companies/{id}/data/{dataType}"
                              }
                            }
                          ],
                          "properties": {
                            "current": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "next": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "previous": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            },
                            "self": {
                              "properties": {
                                "href": {
                                  "format": "uri-reference",
                                  "type": "string"
                                }
                              },
                              "title": "Hypertext reference",
                              "type": "object",
                              "x-internal": true
                            }
                          },
                          "required": [
                            "self",
                            "current"
                          ],
                          "type": "object",
                          "x-internal": true
                        },
                        "pageNumber": {
                          "type": "integer"
                        },
                        "pageSize": {
                          "type": "integer"
                        },
                        "totalResults": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "pageNumber",
                        "pageSize",
                        "totalResults",
                        "_links"
                      ],
                      "type": "object",
                      "x-internal": true
                    }
                  ],
                  "x-internal": true,
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "List locations",
        "tags": [
          "Locations"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "companyId",
          "required": true,
          "schema": {
            "description": "Unique identifier for your SMB in Codat.",
            "example": "8a210b68-6988-11ed-a1eb-0242ac120002",
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "connectionId",
          "required": true,
          "schema": {
            "description": "Unique identifier for a company's data connection.",
            "example": "2e9d2c44-f675-40ba-8049-353bfcb5e171",
            "format": "uuid",
            "type": "string"
          }
        }
      ]
    },
    "/companies/userid/connections/id/data/commerce-orders": {
      "get": {
        "description": "Get a list of orders placed or held on the linked commerce platform",
        "operationId": "list-orders-v2",
        "parameters": [
          {
            "description": "Page number. [Read more](https://docs.codat.io/using-the-api/paging).",
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "default": 1,
              "example": 1,
              "format": "int32",
              "minimum": 0,
              "type": "integer"
            },
            "x-stoplight": {
              "id": "1318joqblpp4e"
            }
          },
          {
            "description": "Number of records to return in a page. [Read more](https://docs.codat.io/using-the-api/paging).",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "default": 100,
              "example": 100,
              "format": "int32",
              "maximum": 5000,
              "minimum": 1,
              "type": "integer"
            },
            "x-stoplight": {
              "id": "s2ika6rltk5y6"
            }
          },
          {
            "description": "Codat query string. [Read more](https://docs.codat.io/using-the-api/querying).",
            "in": "query",
            "name": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "x-stoplight": {
              "id": "gupdb9kt30hfq"
            }
          },
          {
            "description": "Field to order results by. [Read more](https://docs.codat.io/using-the-api/ordering-results).",
            "in": "query",
            "name": "orderBy",
            "required": false,
            "schema": {
              "example": "-modifiedDate",
              "type": "string"
            },
            "x-stoplight": {
              "id": "4je9lwo02netu"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "results": {
                          "items": {
                            "allOf": [
                              {
                                "properties": {
                                  "id": {
                                    "description": "A unique, persistent identifier for this record",
                                    "examples": [
                                      "13d946f0-c5d5-42bc-b092-97ece17923ab",
                                      "9wg4lep4ush5cxs79pl8sozmsndbaukll3ind4g7buqbm1h2",
                                      7110701885,
                                      "EILBDVJVNUAGVKRQ"
                                    ],
                                    "type": "string",
                                    "x-codat-validation": [
                                      {
                                        "validator": "UniqueWithinConnection"
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "id"
                                ],
                                "type": "object",
                                "x-stoplight": {
                                  "id": "516bf0ecc4907"
                                }
                              },
                              {
                                "properties": {
                                  "closedDate": {
[...]
