{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://www.healthcare.gov"
    }
  ],
  "x-hasEquivalentPaths": true,
  "info": {
    "title": "Healthcare",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "url": "https://www.healthcare.gov/images/logo.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/healthcare.gov/1.0.0/swagger.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "healthcare.gov",
    "x-unofficialSpec": true
  },
  "externalDocs": {
    "url": "https://www.healthcare.gov/developers/"
  },
  "paths": {
    "/api/articles-id": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "articles": {
                      "items": {
                        "properties": {
                          "bite": {
                            "type": "string"
                          },
                          "categories": {
                            "items": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "content": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "excerpt": {
                            "type": "string"
                          },
                          "featured": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lang": {
                            "type": "string"
                          },
                          "layout": {
                            "type": "string"
                          },
                          "meta-description": {
                            "type": "string"
                          },
                          "meta-title": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "related": {
                            "items": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "seo-keywords": {
                            "type": "string"
                          },
                          "sort": {
                            "type": "number"
                          },
                          "tags": {
                            "items": {
                              "items": {},
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "title": {
                            "type": "string"
                          },
                          "title-short": {
                            "type": "string"
                          },
                          "topics": {
                            "items": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-api-articles-id-v2"
      }
    },
    "/api/blog-userid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "blog": {
                      "items": {
                        "items": {
                          "properties": {
                            "categories": {
                              "items": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "type": "array"
                            },
                            "content": {
                              "type": "string"
                            },
                            "date": {
                              "type": "string"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "layout": {
                              "type": "string"
                            },
                            "meta-description": {
                              "type": "string"
                            },
                            "meta-title": {
                              "type": "string"
                            },
                            "published": {
                              "type": "boolean"
                            },
                            "seo-keywords": {
                              "type": "string"
                            },
                            "sort": {
                              "type": "number"
                            },
                            "tags": {
                              "items": {
                                "items": {},
                                "type": "array"
                              },
                              "type": "array"
                            },
                            "title": {
                              "type": "string"
                            },
                            "topics": {
                              "items": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "type": "array"
                            },
                            "url": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-api-blog-userid-v2"
      }
    },
    "/api/glossary-userid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "glossary": {
                      "items": {
                        "properties": {
                          "categories": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "content": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "excerpt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lang": {
                            "type": "string"
                          },
                          "layout": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "sort": {
                            "type": "number"
                          },
                          "tags": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-api-glossary-userid-v2"
      }
    },
    "/api/questions-paymentid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "questions": {
                      "items": {
                        "properties": {
                          "categories": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "content": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "excerpt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lang": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "sort": {
                            "type": "number"
                          },
                          "tags": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-api-questions-paymentid-v2"
      }
    },
    "/api/states-userid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "states": {
                      "items": {
                        "items": {
                          "properties": {
                            "categories": {
                              "items": {
                                "items": {},
                                "type": "array"
                              },
                              "type": "array"
                            },
                            "content": {
                              "type": "string"
                            },
                            "date": {
                              "type": "string"
                            },
                            "excerpt": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "lang": {
                              "type": "string"
                            },
                            "path": {
                              "type": "string"
                            },
                            "sort": {
                              "type": "number"
                            },
                            "stateurl": {
                              "type": "string"
                            },
                            "tags": {
                              "items": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "type": "array"
                            },
                            "title": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-api-states-userid-v2"
      }
    },
    "/api/topics-paymentid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "topics": {
                      "items": {
                        "properties": {
                          "articleorder": {
                            "items": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "categories": {
                            "items": {
                              "items": {},
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "content": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "excerpt": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "lang": {
                            "type": "string"
                          },
                          "layout": {
                            "type": "string"
                          },
                          "meta-description": {
                            "type": "string"
                          },
                          "meta-title": {
                            "type": "string"
                          },
                          "order": {
                            "type": "number"
                          },
                          "path": {
                            "type": "string"
                          },
                          "published": {
                            "type": "boolean"
                          },
                          "sort": {
                            "type": "number"
                          },
                          "tags": {
                            "items": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "type": "array"
                          },
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-api-topics-paymentid"
      }
    },
    "/blog/sku-sku": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "layout": {
                      "type": "string"
                    },
                    "meta-description": {
                      "type": "string"
                    },
                    "meta-title": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "seo-keywords": {
                      "type": "string"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "topics": {
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-blog-sku-sku"
      }
    },
    "/es/blog/userid-paymentid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "layout": {
                      "type": "string"
                    },
                    "meta-description": {
                      "type": "string"
                    },
                    "meta-title": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "seo-keywords": {
                      "type": "string"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "topics": {
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-es-blog-userid-paymentid-v2"
      }
    },
    "/es/glossary/orderid-id": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "layout": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-es-glossary-orderid-id-v2"
      }
    },
    "/es/question/id-sku": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-es-question-id-sku-v2"
      }
    },
    "/es/sku-orderid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "experience": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "layout": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-es-sku-orderid"
      }
    },
    "/es/sku-sku": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "stateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "stateurl": {
                      "type": "string"
                    },
                    "tags": {
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-es-sku-sku-v2"
      }
    },
    "/glossary/sku-id": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "layout": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-glossary-sku-id"
      }
    },
    "/question/id-userid": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-question-id-userid-v2"
      }
    },
    "/products/{id}": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pageName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/html": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "experience": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "layout": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "published": {
                      "type": "boolean"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "tags": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-products-id"
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Returns pages content.",
        "parameters": [
          {
            "description": "Omiting the param causes html to be returned.",
            "in": "path",
            "name": "mediaTypeExtension",
            "required": true,
            "schema": {
              "enum": [
                ".json"
              ],
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "stateName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "items": {},
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "content": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "lang": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "sort": {
                      "type": "number"
                    },
                    "stateurl": {
                      "type": "string"
                    },
                    "tags": {
                      "items": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "array"
                    },
                    "title": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "description": "Resource not found."
          }
        },
        "operationId": "get-users-id"
      }
    }
  },
  "components": {
    "schemas": {
      "articlesList": {
        "properties": {
          "articles": {
            "items": {
              "properties": {
                "bite": {
                  "type": "string"
                },
                "categories": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "featured": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "layout": {
                  "type": "string"
                },
                "meta-description": {
                  "type": "string"
                },
                "meta-title": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "related": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "seo-keywords": {
                  "type": "string"
                },
                "sort": {
                  "type": "number"
                },
                "tags": {
                  "items": {
                    "items": {},
                    "type": "array"
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                },
                "title-short": {
                  "type": "string"
                },
                "topics": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "blogList": {
        "properties": {
          "blog": {
            "items": {
              "items": {
                "properties": {
                  "categories": {
                    "items": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "content": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "meta-description": {
                    "type": "string"
                  },
                  "meta-title": {
                    "type": "string"
                  },
                  "published": {
                    "type": "boolean"
                  },
                  "seo-keywords": {
                    "type": "string"
                  },
                  "sort": {
                    "type": "number"
                  },
                  "tags": {
                    "items": {
                      "items": {},
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "title": {
                    "type": "string"
                  },
                  "topics": {
                    "items": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "blogPage": {
        "properties": {
          "categories": {
            "items": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "meta-description": {
            "type": "string"
          },
          "meta-title": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "seo-keywords": {
            "type": "string"
          },
          "sort": {
            "type": "number"
          },
          "tags": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "topics": {
            "items": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "glossaryList": {
        "properties": {
          "glossary": {
            "items": {
              "properties": {
                "categories": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "layout": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "sort": {
                  "type": "number"
                },
                "tags": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "glossaryPage": {
        "properties": {
          "categories": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "sort": {
            "type": "number"
          },
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "page": {
        "properties": {
          "categories": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "experience": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "layout": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "sort": {
            "type": "number"
          },
          "tags": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "questionPage": {
        "properties": {
          "categories": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "published": {
            "type": "boolean"
          },
          "sort": {
            "type": "number"
          },
          "tags": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "questionsList": {
        "properties": {
          "questions": {
            "items": {
              "properties": {
                "categories": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "sort": {
                  "type": "number"
                },
                "tags": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "statePage": {
        "properties": {
          "categories": {
            "items": {
              "items": {},
              "type": "array"
            },
            "type": "array"
          },
          "content": {
            "type": "string"
          },
          "date": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "sort": {
            "type": "number"
          },
          "stateurl": {
            "type": "string"
          },
          "tags": {
            "items": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "type": "array"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "statesList": {
        "properties": {
          "states": {
            "items": {
              "items": {
                "properties": {
                  "categories": {
                    "items": {
                      "items": {},
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "content": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "excerpt": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "lang": {
                    "type": "string"
                  },
                  "path": {
                    "type": "string"
                  },
                  "sort": {
                    "type": "number"
                  },
                  "stateurl": {
                    "type": "string"
                  },
                  "tags": {
                    "items": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "array"
                  },
                  "title": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "topicsList": {
        "properties": {
          "topics": {
            "items": {
              "properties": {
                "articleorder": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "categories": {
                  "items": {
                    "items": {},
                    "type": "array"
                  },
                  "type": "array"
                },
                "content": {
                  "type": "string"
                },
                "date": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "lang": {
                  "type": "string"
                },
                "layout": {
                  "type": "string"
                },
                "meta-description": {
                  "type": "string"
                },
                "meta-title": {
                  "type": "string"
                },
                "order": {
                  "type": "number"
                },
                "path": {
                  "type": "string"
                },
                "published": {
                  "type": "boolean"
                },
                "sort": {
                  "type": "number"
                },
                "tags": {
                  "items": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  }
}