{
  "openapi": "3.0.1",
  "servers": [
    {
      "description": "Production",
      "url": "https://products.izettle.com",
      "variables": {}
    }
  ],
  "info": {
    "description": "The Product Library API is used for managing merchant's product information and product images.",
    "title": "Product Library API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-logo": {
      "url": "https://cdn.izettle.com/favicons/favicon-32x32.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://products.izettle.com/openapi.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "izettle.com",
    "x-serviceName": "products"
  },
  "paths": {
    "/organizations/id/categories/v2": {
      "get": {
        "operationId": "getproducttypes",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "categories": {
                      "items": {
                        "properties": {
                          "name": {
                            "maxLength": 100,
                            "minLength": 0,
                            "type": "string"
                          },
                          "uuid": {
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "uuid"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "categories"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List of all categories"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "READ:PRODUCT"
            ]
          }
        ],
        "summary": "Retrieve all categories",
        "tags": [
          "categories"
        ]
      },
      "post": {
        "operationId": "createcategories-v2",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "categories": {
                    "items": {
                      "properties": {
                        "name": {
                          "maxLength": 100,
                          "minLength": 0,
                          "type": "string"
                        },
                        "uuid": {
                          "format": "uuid",
                          "type": "string"
                        }
                      },
                      "required": [
                        "name",
                        "uuid"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "categories"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Category created"
          },
          "400": {
            "description": "Category already exists"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "WRITE:PRODUCT"
            ]
          }
        ],
        "summary": "Create a new category",
        "tags": [
          "categories"
        ]
      }
    },
    "/organizations/orderid/categories/v2/sku": {
      "delete": {
        "operationId": "deletecategory",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "categoryUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Category deleted"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "WRITE:PRODUCT"
            ]
          }
        ],
        "summary": "Delete a category",
        "tags": [
          "categories"
        ]
      },
      "patch": {
        "operationId": "renamecategory",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "categoryUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "maxLength": 100,
                    "minLength": 1,
                    "pattern": "\\S|\\S.*\\S",
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Category renamed"
          },
          "400": {
            "description": "Category already exists"
          },
          "404": {
            "description": "Organization not found"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "WRITE:PRODUCT"
            ]
          }
        ],
        "summary": "Rename a category",
        "tags": [
          "categories"
        ]
      }
    },
    "/organizations/id/discounts": {
      "get": {
        "operationId": "getalldiscounts-v2",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "amount": {
                        "properties": {
                          "amount": {
                            "format": "int64",
                            "minimum": 0,
                            "type": "integer"
                          },
                          "currencyId": {
                            "enum": [
                              "AED",
                              "AFA",
                              "AFN",
                              "ALL",
                              "AMD",
                              "ANG",
                              "AOA",
                              "ARS",
                              "AUD",
                              "AWG",
                              "AZM",
                              "AZN",
                              "BAM",
                              "BBD",
                              "BDT",
                              "BGN",
                              "BHD",
                              "BIF",
                              "BMD",
                              "BND",
                              "BOB",
                              "BRL",
                              "BSD",
                              "BTN",
                              "BWP",
                              "BYR",
                              "BZD",
                              "CAD",
                              "CDF",
                              "CHF",
                              "CLP",
                              "CNY",
                              "COP",
                              "CRC",
                              "CSD",
                              "CUC",
                              "CUP",
                              "CVE",
                              "CYP",
                              "CZK",
                              "DJF",
                              "DKK",
                              "DOP",
                              "DZD",
                              "EEK",
                              "EGP",
                              "ERN",
                              "ETB",
                              "EUR",
                              "FJD",
                              "FKP",
                              "GBP",
                              "GEL",
                              "GGP",
                              "GHC",
                              "GHS",
                              "GIP",
                              "GMD",
                              "GNF",
                              "GTQ",
                              "GYD",
                              "HKD",
                              "HNL",
                              "HRK",
                              "HTG",
                              "HUF",
                              "IDR",
                              "ILS",
                              "IMP",
                              "INR",
                              "IQD",
                              "IRR",
                              "ISK",
                              "JEP",
                              "JMD",
                              "JOD",
                              "JPY",
                              "KES",
                              "KGS",
                              "KHR",
                              "KMF",
                              "KPW",
                              "KRW",
                              "KWD",
                              "KYD",
                              "KZT",
                              "LAK",
                              "LBP",
                              "LKR",
                              "LRD",
                              "LSL",
                              "LTL",
                              "LVL",
                              "LYD",
                              "MAD",
                              "MDL",
                              "MGA",
                              "MKD",
                              "MMK",
                              "MNT",
                              "MOP",
                              "MRO",
                              "MTL",
                              "MUR",
                              "MVR",
                              "MWK",
                              "MXN",
                              "MYR",
                              "MZM",
                              "MZN",
                              "NAD",
                              "NGN",
                              "NIO",
                              "NOK",
                              "NPR",
                              "NZD",
                              "OMR",
                              "PAB",
                              "PEN",
                              "PGK",
                              "PHP",
                              "PKR",
                              "PLN",
                              "PYG",
                              "QAR",
                              "RON",
                              "RSD",
                              "RUB",
                              "RWF",
                              "SAR",
                              "SBD",
                              "SCR",
                              "SDD",
                              "SDG",
                              "SEK",
                              "SGD",
                              "SHP",
                              "SIT",
                              "SKK",
                              "SLL",
                              "SOS",
                              "SPL",
                              "SRD",
                              "SSP",
                              "STD",
                              "SVC",
                              "SYP",
                              "SZL",
                              "THB",
                              "TJS",
                              "TMM",
                              "TMT",
                              "TND",
                              "TOP",
                              "TRL",
                              "TRY",
                              "TTD",
                              "TVD",
                              "TWD",
                              "TZS",
                              "UAH",
                              "UGX",
                              "USD",
                              "UYU",
                              "UZS",
                              "VEB",
                              "VEF",
                              "VND",
                              "VUV",
                              "WST",
                              "XAF",
                              "XAG",
                              "XAU",
                              "XCD",
                              "XDR",
                              "XOF",
                              "XPD",
                              "XPF",
                              "XPT",
                              "YER",
                              "ZAR",
                              "ZMK",
                              "ZMW",
                              "ZWD",
                              "ZWL"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "amount",
                          "currencyId"
                        ],
                        "type": "object"
                      },
                      "created": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "etag": {
                        "type": "string"
                      },
                      "externalReference": {
                        "type": "string"
                      },
                      "imageLookupKeys": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array",
                        "uniqueItems": true
                      },
                      "name": {
                        "type": "string"
                      },
                      "percentage": {
                        "type": "number"
                      },
                      "updated": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "updatedBy": {
                        "format": "uuid",
                        "type": "string"
                      },
                      "uuid": {
                        "format": "uuid",
                        "type": "string"
                      }
                    },
                    "required": [
                      "created",
                      "etag",
                      "name",
                      "updated",
                      "uuid"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "List of all discounts"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "READ:PRODUCT"
            ]
          }
        ],
        "summary": "Retrieve all discounts",
        "tags": [
          "discounts"
        ]
      },
      "post": {
        "description": "Creates a single discount entity. The location of the newly created discount will be available in the successful response as a HttpHeaders.LOCATION header",
        "operationId": "creatediscount",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "properties": {
                      "amount": {
                        "format": "int64",
                        "minimum": 0,
                        "type": "integer"
                      },
                      "currencyId": {
                        "enum": [
                          "AED",
                          "AFA",
                          "AFN",
                          "ALL",
                          "AMD",
                          "ANG",
                          "AOA",
                          "ARS",
                          "AUD",
                          "AWG",
                          "AZM",
                          "AZN",
                          "BAM",
                          "BBD",
                          "BDT",
                          "BGN",
                          "BHD",
                          "BIF",
                          "BMD",
                          "BND",
                          "BOB",
                          "BRL",
                          "BSD",
                          "BTN",
                          "BWP",
                          "BYR",
                          "BZD",
                          "CAD",
                          "CDF",
                          "CHF",
                          "CLP",
                          "CNY",
                          "COP",
                          "CRC",
                          "CSD",
                          "CUC",
                          "CUP",
                          "CVE",
                          "CYP",
                          "CZK",
                          "DJF",
                          "DKK",
                          "DOP",
                          "DZD",
                          "EEK",
                          "EGP",
                          "ERN",
                          "ETB",
                          "EUR",
                          "FJD",
                          "FKP",
                          "GBP",
                          "GEL",
                          "GGP",
                          "GHC",
                          "GHS",
                          "GIP",
                          "GMD",
                          "GNF",
                          "GTQ",
                          "GYD",
                          "HKD",
                          "HNL",
                          "HRK",
                          "HTG",
                          "HUF",
                          "IDR",
                          "ILS",
                          "IMP",
                          "INR",
                          "IQD",
                          "IRR",
                          "ISK",
                          "JEP",
                          "JMD",
                          "JOD",
                          "JPY",
                          "KES",
                          "KGS",
                          "KHR",
                          "KMF",
                          "KPW",
                          "KRW",
                          "KWD",
                          "KYD",
                          "KZT",
                          "LAK",
                          "LBP",
                          "LKR",
                          "LRD",
                          "LSL",
                          "LTL",
                          "LVL",
                          "LYD",
                          "MAD",
                          "MDL",
                          "MGA",
                          "MKD",
                          "MMK",
                          "MNT",
                          "MOP",
                          "MRO",
                          "MTL",
                          "MUR",
                          "MVR",
                          "MWK",
                          "MXN",
                          "MYR",
                          "MZM",
                          "MZN",
                          "NAD",
                          "NGN",
                          "NIO",
                          "NOK",
                          "NPR",
                          "NZD",
                          "OMR",
                          "PAB",
                          "PEN",
                          "PGK",
                          "PHP",
                          "PKR",
                          "PLN",
                          "PYG",
                          "QAR",
                          "RON",
                          "RSD",
                          "RUB",
                          "RWF",
                          "SAR",
                          "SBD",
                          "SCR",
                          "SDD",
                          "SDG",
                          "SEK",
                          "SGD",
                          "SHP",
                          "SIT",
                          "SKK",
                          "SLL",
                          "SOS",
                          "SPL",
                          "SRD",
                          "SSP",
                          "STD",
                          "SVC",
                          "SYP",
                          "SZL",
                          "THB",
                          "TJS",
                          "TMM",
                          "TMT",
                          "TND",
                          "TOP",
                          "TRL",
                          "TRY",
                          "TTD",
                          "TVD",
                          "TWD",
                          "TZS",
                          "UAH",
                          "UGX",
                          "USD",
                          "UYU",
                          "UZS",
                          "VEB",
                          "VEF",
                          "VND",
                          "VUV",
                          "WST",
                          "XAF",
                          "XAG",
                          "XAU",
                          "XCD",
                          "XDR",
                          "XOF",
                          "XPD",
                          "XPF",
                          "XPT",
                          "YER",
                          "ZAR",
                          "ZMK",
                          "ZMW",
                          "ZWD",
                          "ZWL"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "amount",
                      "currencyId"
                    ],
                    "type": "object"
                  },
                  "description": {
                    "maxLength": 128,
                    "minLength": 0,
                    "type": "string"
                  },
                  "externalReference": {
                    "maxLength": 128,
                    "minLength": 0,
                    "type": "string"
                  },
                  "imageLookupKeys": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array",
                    "uniqueItems": true
                  },
                  "name": {
                    "maxLength": 64,
                    "minLength": 0,
                    "type": "string"
                  },
                  "percentage": {
                    "maximum": 100,
                    "minimum": 0,
                    "type": "number"
                  },
                  "uuid": {
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "uuid"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Discount created",
            "headers": {
              "ETag": {
                "description": "ETag value",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "Location": {
                "description": "Location of newly created Discount",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "developerMessage": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    },
                    "violations": {
                      "items": {
                        "properties": {
                          "constraintType": {
                            "enum": [
                              "MUST_BE_FALSE",
                              "MUST_BE_TRUE",
                              "MUST_BE_LESS_THAN",
                              "MUST_BE_GREATER_THAN",
                              "DIGIT_OUT_OF_BOUNDS",
                              "DATE_MUST_BE_IN_THE_FUTURE",
                              "MUST_BE_LESS_OR_EQUAL_THAN",
                              "MUST_BE_GREATER_OR_EQUAL_TO",
                              "MUST_NOT_BE_NULL",
                              "MUST_BE_NULL",
                              "DATE_MUST_BE_IN_THE_PAST",
                              "MUST_MATCH_PATTERN",
                              "INVALID_SIZE",
                              "INVALID_EMAIL",
                              "MUST_NOT_BE_EMPTY",
                              "INVALID_RANGE",
                              "UNKNOWN"
                            ],
                            "type": "string"
                          },
                          "developerMessage": {
                            "type": "string"
                          },
                          "expected": {
                            "type": "string"
                          },
                          "propertyName": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array",
                      "uniqueItems": true
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request body"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "WRITE:PRODUCT"
            ]
          }
        ],
        "summary": "Create a discount",
        "tags": [
          "discounts"
        ]
      }
    },
    "/organizations/userid/discounts/id": {
      "delete": {
        "operationId": "deletediscount-v2",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "discountUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Discount deleted"
          },
          "404": {
            "description": "Organization or Discount not found"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "WRITE:PRODUCT"
            ]
          }
        ],
        "summary": "Delete a single discount ",
        "tags": [
          "discounts"
        ]
      },
      "get": {
        "description": "Get the full discount with the provided UUID. The method supports conditional GET through providing a HttpHeaders.IF_NONE_MATCH header. If the conditional prerequisite is fullfilled, the full discount is returned: otherwise a 304 not modified will be returned with an empty body.",
        "operationId": "getdiscount",
        "parameters": [
          {
            "in": "header",
            "name": "If-None-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "discountUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "amount": {
                      "properties": {
                        "amount": {
                          "format": "int64",
                          "minimum": 0,
                          "type": "integer"
                        },
                        "currencyId": {
                          "enum": [
                            "AED",
                            "AFA",
                            "AFN",
                            "ALL",
                            "AMD",
                            "ANG",
                            "AOA",
                            "ARS",
                            "AUD",
                            "AWG",
                            "AZM",
                            "AZN",
                            "BAM",
                            "BBD",
                            "BDT",
                            "BGN",
                            "BHD",
                            "BIF",
                            "BMD",
                            "BND",
                            "BOB",
                            "BRL",
                            "BSD",
                            "BTN",
                            "BWP",
                            "BYR",
                            "BZD",
                            "CAD",
                            "CDF",
                            "CHF",
                            "CLP",
                            "CNY",
                            "COP",
                            "CRC",
                            "CSD",
                            "CUC",
                            "CUP",
                            "CVE",
                            "CYP",
                            "CZK",
                            "DJF",
                            "DKK",
                            "DOP",
                            "DZD",
                            "EEK",
                            "EGP",
                            "ERN",
                            "ETB",
                            "EUR",
                            "FJD",
                            "FKP",
                            "GBP",
                            "GEL",
                            "GGP",
                            "GHC",
                            "GHS",
                            "GIP",
                            "GMD",
                            "GNF",
                            "GTQ",
                            "GYD",
                            "HKD",
                            "HNL",
                            "HRK",
                            "HTG",
                            "HUF",
                            "IDR",
                            "ILS",
                            "IMP",
                            "INR",
                            "IQD",
                            "IRR",
                            "ISK",
                            "JEP",
                            "JMD",
                            "JOD",
                            "JPY",
                            "KES",
                            "KGS",
                            "KHR",
                            "KMF",
                            "KPW",
                            "KRW",
                            "KWD",
                            "KYD",
                            "KZT",
                            "LAK",
                            "LBP",
                            "LKR",
                            "LRD",
                            "LSL",
                            "LTL",
                            "LVL",
                            "LYD",
                            "MAD",
                            "MDL",
                            "MGA",
                            "MKD",
                            "MMK",
                            "MNT",
                            "MOP",
                            "MRO",
                            "MTL",
                            "MUR",
                            "MVR",
                            "MWK",
                            "MXN",
                            "MYR",
                            "MZM",
                            "MZN",
                            "NAD",
                            "NGN",
                            "NIO",
                            "NOK",
                            "NPR",
                            "NZD",
                            "OMR",
                            "PAB",
                            "PEN",
                            "PGK",
                            "PHP",
                            "PKR",
                            "PLN",
                            "PYG",
                            "QAR",
                            "RON",
                            "RSD",
                            "RUB",
                            "RWF",
                            "SAR",
                            "SBD",
                            "SCR",
                            "SDD",
                            "SDG",
                            "SEK",
                            "SGD",
                            "SHP",
                            "SIT",
                            "SKK",
                            "SLL",
                            "SOS",
                            "SPL",
                            "SRD",
                            "SSP",
                            "STD",
                            "SVC",
                            "SYP",
                            "SZL",
                            "THB",
                            "TJS",
                            "TMM",
                            "TMT",
                            "TND",
                            "TOP",
                            "TRL",
                            "TRY",
                            "TTD",
                            "TVD",
                            "TWD",
                            "TZS",
                            "UAH",
                            "UGX",
                            "USD",
                            "UYU",
                            "UZS",
                            "VEB",
                            "VEF",
                            "VND",
                            "VUV",
                            "WST",
                            "XAF",
                            "XAG",
                            "XAU",
                            "XCD",
                            "XDR",
                            "XOF",
                            "XPD",
                            "XPF",
                            "XPT",
                            "YER",
                            "ZAR",
                            "ZMK",
                            "ZMW",
                            "ZWD",
                            "ZWL"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "amount",
                        "currencyId"
                      ],
                      "type": "object"
                    },
                    "created": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "etag": {
                      "type": "string"
                    },
                    "externalReference": {
                      "type": "string"
                    },
                    "imageLookupKeys": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array",
                      "uniqueItems": true
                    },
                    "name": {
                      "type": "string"
                    },
                    "percentage": {
                      "type": "number"
                    },
                    "updated": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "updatedBy": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "uuid": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "required": [
                    "created",
                    "etag",
                    "name",
                    "updated",
                    "uuid"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Discount",
            "headers": {
              "ETag": {
                "description": "ETag value",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "304": {
            "description": "Not modified"
          },
          "404": {
            "description": "Organization or Discount not found"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "READ:PRODUCT"
            ]
          }
        ],
        "summary": "Retrieve a single discount",
        "tags": [
          "discounts"
        ]
      },
      "put": {
        "description": "Updates a discount entity using JSON merge patch (https://tools.ietf.org/html/rfc7386). This means that only included fields will be changed: null values removes the field on the target entity, and other values updates the field. Conditional updates are supported through the HttpHeaders.IF_MATCH header. If the conditional prerequisite is fullfilled, the discount is updated: otherwise a 412 precondition failed will be returned with an empty body.",
        "operationId": "updatediscount",
        "parameters": [
          {
            "in": "header",
            "name": "If-Match",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "discountUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "amount": {
                    "properties": {
                      "amount": {
                        "format": "int64",
                        "minimum": 0,
                        "type": "integer"
                      },
                      "currencyId": {
                        "enum": [
                          "AED",
                          "AFA",
                          "AFN",
                          "ALL",
                          "AMD",
                          "ANG",
                          "AOA",
                          "ARS",
                          "AUD",
                          "AWG",
                          "AZM",
                          "AZN",
                          "BAM",
                          "BBD",
                          "BDT",
                          "BGN",
                          "BHD",
                          "BIF",
                          "BMD",
                          "BND",
                          "BOB",
                          "BRL",
                          "BSD",
                          "BTN",
                          "BWP",
                          "BYR",
                          "BZD",
                          "CAD",
                          "CDF",
                          "CHF",
                          "CLP",
                          "CNY",
                          "COP",
                          "CRC",
                          "CSD",
                          "CUC",
                          "CUP",
                          "CVE",
                          "CYP",
                          "CZK",
                          "DJF",
                          "DKK",
                          "DOP",
                          "DZD",
                          "EEK",
                          "EGP",
                          "ERN",
                          "ETB",
                          "EUR",
                          "FJD",
                          "FKP",
                          "GBP",
                          "GEL",
                          "GGP",
                          "GHC",
                          "GHS",
                          "GIP",
                          "GMD",
                          "GNF",
                          "GTQ",
                          "GYD",
                          "HKD",
                          "HNL",
                          "HRK",
                          "HTG",
                          "HUF",
                          "IDR",
                          "ILS",
                          "IMP",
                          "INR",
                          "IQD",
                          "IRR",
                          "ISK",
                          "JEP",
                          "JMD",
                          "JOD",
                          "JPY",
                          "KES",
                          "KGS",
                          "KHR",
                          "KMF",
                          "KPW",
                          "KRW",
                          "KWD",
                          "KYD",
                          "KZT",
                          "LAK",
                          "LBP",
                          "LKR",
                          "LRD",
                          "LSL",
                          "LTL",
                          "LVL",
                          "LYD",
                          "MAD",
                          "MDL",
                          "MGA",
                          "MKD",
                          "MMK",
                          "MNT",
                          "MOP",
                          "MRO",
                          "MTL",
                          "MUR",
                          "MVR",
                          "MWK",
                          "MXN",
                          "MYR",
                          "MZM",
                          "MZN",
                          "NAD",
                          "NGN",
                          "NIO",
                          "NOK",
                          "NPR",
                          "NZD",
                          "OMR",
                          "PAB",
                          "PEN",
                          "PGK",
                          "PHP",
                          "PKR",
                          "PLN",
                          "PYG",
                          "QAR",
                          "RON",
                          "RSD",
                          "RUB",
                          "RWF",
                          "SAR",
                          "SBD",
                          "SCR",
                          "SDD",
                          "SDG",
                          "SEK",
                          "SGD",
                          "SHP",
                          "SIT",
                          "SKK",
                          "SLL",
                          "SOS",
                          "SPL",
                          "SRD",
                          "SSP",
                          "STD",
                          "SVC",
                          "SYP",
                          "SZL",
                          "THB",
                          "TJS",
                          "TMM",
                          "TMT",
                          "TND",
                          "TOP",
                          "TRL",
                          "TRY",
                          "TTD",
                          "TVD",
                          "TWD",
                          "TZS",
                          "UAH",
                          "UGX",
                          "USD",
                          "UYU",
                          "UZS",
                          "VEB",
                          "VEF",
                          "VND",
                          "VUV",
                          "WST",
                          "XAF",
                          "XAG",
                          "XAU",
                          "XCD",
                          "XDR",
                          "XOF",
                          "XPD",
                          "XPF",
                          "XPT",
                          "YER",
                          "ZAR",
                          "ZMK",
                          "ZMW",
                          "ZWD",
                          "ZWL"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "amount",
                      "currencyId"
                    ],
                    "type": "object"
                  },
                  "description": {
                    "maxLength": 128,
                    "minLength": 0,
                    "type": "string"
                  },
                  "externalReference": {
                    "maxLength": 128,
                    "minLength": 0,
                    "type": "string"
                  },
                  "imageLookupKeys": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array",
                    "uniqueItems": true
                  },
                  "name": {
                    "maxLength": 64,
                    "minLength": 0,
                    "type": "string"
                  },
                  "percentage": {
                    "maximum": 100,
                    "minimum": 0,
                    "type": "number"
                  },
                  "uuid": {
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "uuid"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Discount updated",
            "headers": {
              "ETag": {
                "description": "ETag value",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              },
              "Location": {
                "description": "Location of updated Discount",
                "schema": {
                  "type": "string"
                },
                "style": "simple"
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "developerMessage": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    },
                    "violations": {
                      "items": {
                        "properties": {
                          "constraintType": {
                            "enum": [
                              "MUST_BE_FALSE",
                              "MUST_BE_TRUE",
                              "MUST_BE_LESS_THAN",
                              "MUST_BE_GREATER_THAN",
                              "DIGIT_OUT_OF_BOUNDS",
                              "DATE_MUST_BE_IN_THE_FUTURE",
                              "MUST_BE_LESS_OR_EQUAL_THAN",
                              "MUST_BE_GREATER_OR_EQUAL_TO",
                              "MUST_NOT_BE_NULL",
                              "MUST_BE_NULL",
                              "DATE_MUST_BE_IN_THE_PAST",
                              "MUST_MATCH_PATTERN",
                              "INVALID_SIZE",
                              "INVALID_EMAIL",
                              "MUST_NOT_BE_EMPTY",
                              "INVALID_RANGE",
                              "UNKNOWN"
                            ],
                            "type": "string"
                          },
                          "developerMessage": {
                            "type": "string"
                          },
                          "expected": {
                            "type": "string"
                          },
                          "propertyName": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array",
                      "uniqueItems": true
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request body"
          },
          "412": {
            "description": "Precondition failed: ETag did not match the expected value"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "WRITE:PRODUCT"
            ]
          }
        ],
        "summary": "Update a single discount",
        "tags": [
          "discounts"
        ]
      }
    },
    "/organizations/orderid/images": {
      "get": {
        "description": "Retrieves all library items images used by the organization, sorted by updated date",
        "operationId": "getallimageurls-v2",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "imageUrls": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "List of all image urls"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "READ:PRODUCT"
            ]
          }
        ],
        "summary": "Retrieve all library item images",
        "tags": [
          "images"
        ]
      }
    },
    "/organizations/sku/import/status": {
      "get": {
        "operationId": "getlatestimportstatus",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "finished": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "items": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "state": {
                      "enum": [
                        "IMPORTING",
                        "FINISHED_SUCCESS",
                        "FINISHED_FAILED"
                      ],
                      "type": "string"
                    },
                    "uuid": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Import status"
          },
          "404": {
            "description": "Organization or import not found"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "READ:PRODUCT"
            ]
          }
        ],
        "summary": "Get status for latest import",
        "tags": [
          "import"
        ]
      }
    },
    "/organizations/orderid/import/status/orderid": {
      "get": {
        "operationId": "getstatusbyud",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "importUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "finished": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "items": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "state": {
                      "enum": [
                        "IMPORTING",
                        "FINISHED_SUCCESS",
                        "FINISHED_FAILED"
                      ],
                      "type": "string"
                    },
                    "uuid": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Import status"
          },
          "404": {
            "description": "Organization or import not found"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "READ:PRODUCT"
            ]
          }
        ],
        "summary": "Get status for an import",
        "tags": [
          "import"
        ]
      }
    },
    "/organizations/sku/import/v2": {
      "post": {
        "operationId": "importlibraryv2-v2",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "products": {
                    "items": {
                      "properties": {
                        "categories": {
                          "items": {
                            "type": "string"
                          },
                          "maxItems": 1,
                          "minItems": 0,
                          "type": "array",
                          "uniqueItems": true
                        },
                        "category": {
                          "properties": {
                            "name": {
                              "maxLength": 100,
                              "minLength": 0,
                              "type": "string"
                            },
                            "uuid": {
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "uuid"
                          ],
                          "type": "object"
                        },
                        "description": {
                          "maxLength": 1024,
                          "minLength": 0,
                          "type": "string"
                        },
                        "externalReference": {
                          "type": "string"
                        },
                        "imageLookupKeys": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array",
                          "uniqueItems": true
                        },
                        "metadata": {
                          "properties": {
                            "inPos": {
                              "type": "boolean"
                            },
                            "source": {
                              "properties": {
                                "external": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "required": [
                            "inPos"
                          ],
                          "type": "object"
                        },
                        "name": {
                          "maxLength": 256,
                          "minLength": 1,
                          "type": "string"
                        },
                        "online": {
                          "properties": {
                            "description": {
                              "maxLength": 3500,
                              "minLength": 0,
                              "type": "string"
                            },
                            "presentation": {
                              "properties": {
                                "additionalImageUrls": {
                                  "items": {
                                    "format": "url",
                                    "type": "string"
                                  },
                                  "maxItems": 25,
                                  "minItems": 0,
                                  "type": "array"
                                },
                                "displayImageUrl": {
                                  "format": "url",
                                  "type": "string"
                                },
                                "mediaUrls": {
                                  "items": {
                                    "format": "url",
                                    "type": "string"
                                  },
                                  "maxItems": 8,
                                  "minItems": 0,
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            },
                            "seo": {
                              "properties": {
                                "metaDescription": {
                                  "maxLength": 320,
                                  "minLength": 0,
                                  "type": "string"
                                },
                                "slug": {
                                  "maxLength": 256,
                                  "minLength": 1,
                                  "type": "string"
                                },
                                "title": {
                                  "maxLength": 256,
                                  "minLength": 0,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "shipping": {
                              "properties": {
                                "shippingPricingModel": {
                                  "enum": [
                                    "FREE",
                                    "STANDARD"
                                  ],
                                  "type": "string"
                                },
                                "weight": {
                                  "properties": {
                                    "unit": {
                                      "enum": [
                                        "kg",
                                        "g",
                                        "oz",
                                        "lb"
                                      ],
                                      "type": "string"
                                    },
                                    "weight": {
                                      "exclusiveMinimum": false,
                                      "minimum": 0,
                                      "type": "number"
                                    }
                                  },
                                  "required": [
                                    "unit",
                                    "weight"
                                  ],
                                  "type": "object"
                                },
                                "weightInGrams": {
                                  "format": "int64",
                                  "maximum": 2147483647,
                                  "minimum": 0,
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "status": {
                              "enum": [
                                "ACTIVE",
                                "HIDDEN"
                              ],
                              "type": "string"
                            },
                            "title": {
                              "maxLength": 256,
                              "minLength": 0,
                              "type": "string"
                            }
                          },
                          "required": [
                            "status"
                          ],
                          "type": "object"
                        },
                        "presentation": {
                          "properties": {
                            "backgroundColor": {
                              "type": "string"
                            },
                            "imageUrl": {
                              "type": "string"
                            },
                            "textColor": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "taxCode": {
                          "type": "string"
                        },
                        "taxExempt": {
                          "type": "boolean"
                        },
                        "taxRates": {
                          "items": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": "array",
                          "uniqueItems": true
                        },
                        "unitName": {
                          "type": "string"
                        },
                        "uuid": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "variantOptionDefinitions": {
                          "properties": {
                            "definitions": {
                              "items": {
                                "properties": {
                                  "name": {
                                    "maxLength": 30,
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "properties": {
                                    "items": {
                                      "properties": {
                                        "imageUrl": {
                                          "maxLength": 256,
                                          "minLength": 1,
                                          "type": "string"
                                        },
                                        "value": {
                                          "maxLength": 256,
                                          "minLength": 1,
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "value"
                                      ],
                                      "type": "object"
                                    },
                                    "maxItems": 99,
                                    "minItems": 1,
                                    "type": "array"
                                  }
                                },
                                "required": [
                                  "name",
                                  "properties"
                                ],
                                "type": "object"
                              },
                              "maxItems": 3,
                              "minItems": 1,
                              "type": "array"
                            }
                          },
                          "required": [
                            "definitions"
                          ],
                          "type": "object"
                        },
                        "variants": {
                          "items": {
                            "properties": {
                              "barcode": {
                                "maxLength": 128,
                                "minLength": 0,
                                "type": "string"
                              },
                              "costPrice": {
                                "properties": {
                                  "amount": {
                                    "format": "int64",
                                    "minimum": 0,
                                    "type": "integer"
                                  },
                                  "currencyId": {
                                    "enum": [
                                      "AED",
                                      "AFA",
                                      "AFN",
                                      "ALL",
                                      "AMD",
                                      "ANG",
                                      "AOA",
                                      "ARS",
                                      "AUD",
                                      "AWG",
                                      "AZM",
                                      "AZN",
                                      "BAM",
                                      "BBD",
                                      "BDT",
                                      "BGN",
                                      "BHD",
                                      "BIF",
                                      "BMD",
                                      "BND",
                                      "BOB",
                                      "BRL",
                                      "BSD",
                                      "BTN",
                                      "BWP",
                                      "BYR",
                                      "BZD",
                                      "CAD",
                                      "CDF",
                                      "CHF",
                                      "CLP",
                                      "CNY",
                                      "COP",
                                      "CRC",
                                      "CSD",
                                      "CUC",
                                      "CUP",
                                      "CVE",
                                      "CYP",
                                      "CZK",
                                      "DJF",
                                      "DKK",
                                      "DOP",
                                      "DZD",
                                      "EEK",
                                      "EGP",
                                      "ERN",
                                      "ETB",
                                      "EUR",
                                      "FJD",
                                      "FKP",
                                      "GBP",
                                      "GEL",
                                      "GGP",
                                      "GHC",
                                      "GHS",
                                      "GIP",
                                      "GMD",
                                      "GNF",
                                      "GTQ",
                                      "GYD",
                                      "HKD",
                                      "HNL",
                                      "HRK",
                                      "HTG",
                                      "HUF",
                                      "IDR",
                                      "ILS",
                                      "IMP",
                                      "INR",
                                      "IQD",
                                      "IRR",
                                      "ISK",
                                      "JEP",
                                      "JMD",
                                      "JOD",
                                      "JPY",
                                      "KES",
                                      "KGS",
                                      "KHR",
                                      "KMF",
                                      "KPW",
                                      "KRW",
                                      "KWD",
                                      "KYD",
                                      "KZT",
                                      "LAK",
                                      "LBP",
                                      "LKR",
                                      "LRD",
                                      "LSL",
                                      "LTL",
                                      "LVL",
                                      "LYD",
                                      "MAD",
                                      "MDL",
                                      "MGA",
                                      "MKD",
                                      "MMK",
                                      "MNT",
                                      "MOP",
                                      "MRO",
                                      "MTL",
                                      "MUR",
                                      "MVR",
                                      "MWK",
                                      "MXN",
                                      "MYR",
                                      "MZM",
                                      "MZN",
                                      "NAD",
                                      "NGN",
                                      "NIO",
                                      "NOK",
                                      "NPR",
                                      "NZD",
                                      "OMR",
                                      "PAB",
                                      "PEN",
                                      "PGK",
                                      "PHP",
                                      "PKR",
                                      "PLN",
                                      "PYG",
                                      "QAR",
                                      "RON",
                                      "RSD",
                                      "RUB",
                                      "RWF",
                                      "SAR",
                                      "SBD",
                                      "SCR",
                                      "SDD",
                                      "SDG",
                                      "SEK",
                                      "SGD",
                                      "SHP",
                                      "SIT",
                                      "SKK",
                                      "SLL",
                                      "SOS",
                                      "SPL",
                                      "SRD",
                                      "SSP",
                                      "STD",
                                      "SVC",
                                      "SYP",
                                      "SZL",
                                      "THB",
                                      "TJS",
                                      "TMM",
                                      "TMT",
                                      "TND",
                                      "TOP",
                                      "TRL",
                                      "TRY",
                                      "TTD",
                                      "TVD",
                                      "TWD",
                                      "TZS",
                                      "UAH",
                                      "UGX",
                                      "USD",
                                      "UYU",
                                      "UZS",
                                      "VEB",
                                      "VEF",
                                      "VND",
                                      "VUV",
                                      "WST",
                                      "XAF",
                                      "XAG",
                                      "XAU",
                                      "XCD",
                                      "XDR",
                                      "XOF",
                                      "XPD",
                                      "XPF",
                                      "XPT",
                                      "YER",
                                      "ZAR",
                                      "ZMK",
                                      "ZMW",
                                      "ZWD",
                                      "ZWL"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currencyId"
                                ],
                                "type": "object"
                              },
                              "description": {
                                "maxLength": 1024,
                                "minLength": 0,
                                "type": "string"
                              },
                              "name": {
                                "maxLength": 256,
                                "minLength": 0,
                                "type": "string"
                              },
                              "options": {
                                "items": {
                                  "properties": {
                                    "name": {
                                      "maxLength": 30,
                                      "minLength": 1,
                                      "type": "string"
                                    },
                                    "value": {
                                      "maxLength": 256,
                                      "minLength": 1,
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "value"
                                  ],
                                  "type": "object"
                                },
                                "maxItems": 99,
                                "minItems": 1,
                                "type": "array"
                              },
                              "presentation": {
                                "properties": {
                                  "backgroundColor": {
                                    "type": "string"
                                  },
                                  "imageUrl": {
                                    "type": "string"
                                  },
                                  "textColor": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "price": {
                                "properties": {
                                  "amount": {
                                    "format": "int64",
                                    "minimum": 0,
                                    "type": "integer"
                                  },
                                  "currencyId": {
                                    "enum": [
                                      "AED",
                                      "AFA",
                                      "AFN",
                                      "ALL",
                                      "AMD",
                                      "ANG",
                                      "AOA",
                                      "ARS",
                                      "AUD",
                                      "AWG",
                                      "AZM",
                                      "AZN",
                                      "BAM",
                                      "BBD",
                                      "BDT",
                                      "BGN",
                                      "BHD",
                                      "BIF",
                                      "BMD",
                                      "BND",
                                      "BOB",
                                      "BRL",
                                      "BSD",
                                      "BTN",
                                      "BWP",
                                      "BYR",
                                      "BZD",
                                      "CAD",
                                      "CDF",
                                      "CHF",
                                      "CLP",
                                      "CNY",
                                      "COP",
                                      "CRC",
                                      "CSD",
                                      "CUC",
                                      "CUP",
                                      "CVE",
                                      "CYP",
                                      "CZK",
                                      "DJF",
                                      "DKK",
                                      "DOP",
                                      "DZD",
                                      "EEK",
                                      "EGP",
                                      "ERN",
                                      "ETB",
                                      "EUR",
                                      "FJD",
                                      "FKP",
                                      "GBP",
                                      "GEL",
                                      "GGP",
                                      "GHC",
                                      "GHS",
                                      "GIP",
                                      "GMD",
                                      "GNF",
                                      "GTQ",
                                      "GYD",
                                      "HKD",
                                      "HNL",
                                      "HRK",
                                      "HTG",
                                      "HUF",
                                      "IDR",
                                      "ILS",
                                      "IMP",
                                      "INR",
                                      "IQD",
                                      "IRR",
                                      "ISK",
                                      "JEP",
                                      "JMD",
                                      "JOD",
                                      "JPY",
                                      "KES",
                                      "KGS",
                                      "KHR",
                                      "KMF",
                                      "KPW",
                                      "KRW",
                                      "KWD",
                                      "KYD",
                                      "KZT",
                                      "LAK",
                                      "LBP",
                                      "LKR",
                                      "LRD",
                                      "LSL",
                                      "LTL",
                                      "LVL",
                                      "LYD",
                                      "MAD",
                                      "MDL",
                                      "MGA",
                                      "MKD",
                                      "MMK",
                                      "MNT",
                                      "MOP",
                                      "MRO",
                                      "MTL",
                                      "MUR",
                                      "MVR",
                                      "MWK",
                                      "MXN",
                                      "MYR",
                                      "MZM",
                                      "MZN",
                                      "NAD",
                                      "NGN",
                                      "NIO",
                                      "NOK",
                                      "NPR",
                                      "NZD",
                                      "OMR",
                                      "PAB",
                                      "PEN",
                                      "PGK",
                                      "PHP",
                                      "PKR",
                                      "PLN",
                                      "PYG",
                                      "QAR",
                                      "RON",
                                      "RSD",
                                      "RUB",
                                      "RWF",
                                      "SAR",
                                      "SBD",
                                      "SCR",
                                      "SDD",
                                      "SDG",
                                      "SEK",
                                      "SGD",
                                      "SHP",
                                      "SIT",
                                      "SKK",
                                      "SLL",
                                      "SOS",
                                      "SPL",
                                      "SRD",
                                      "SSP",
                                      "STD",
                                      "SVC",
                                      "SYP",
                                      "SZL",
                                      "THB",
                                      "TJS",
                                      "TMM",
                                      "TMT",
                                      "TND",
                                      "TOP",
                                      "TRL",
                                      "TRY",
                                      "TTD",
                                      "TVD",
                                      "TWD",
                                      "TZS",
                                      "UAH",
                                      "UGX",
                                      "USD",
                                      "UYU",
                                      "UZS",
                                      "VEB",
                                      "VEF",
                                      "VND",
                                      "VUV",
                                      "WST",
                                      "XAF",
                                      "XAG",
                                      "XAU",
                                      "XCD",
                                      "XDR",
                                      "XOF",
                                      "XPD",
                                      "XPF",
                                      "XPT",
                                      "YER",
                                      "ZAR",
                                      "ZMK",
                                      "ZMW",
                                      "ZWD",
                                      "ZWL"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "amount",
                                  "currencyId"
                                ],
                                "type": "object"
                              },
                              "sku": {
                                "maxLength": 64,
                                "minLength": 0,
                                "type": "string"
                              },
                              "uuid": {
                                "format": "uuid",
                                "type": "string"
                              },
                              "vatPercentage": {
                                "deprecated": true,
                                "maximum": 100,
                                "minimum": 0,
                                "type": "number"
                              }
                            },
                            "required": [
                              "uuid"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "vatPercentage": {
                          "maximum": 100,
                          "minimum": 0,
                          "type": "number"
                        }
                      },
                      "required": [
                        "name",
                        "uuid"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "products"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "created": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "errorMessage": {
                      "type": "string"
                    },
                    "finished": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "items": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "state": {
                      "enum": [
                        "IMPORTING",
                        "FINISHED_SUCCESS",
                        "FINISHED_FAILED"
                      ],
                      "type": "string"
                    },
                    "uuid": {
                      "format": "uuid",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Import status"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "developerMessage": {
                      "type": "string"
                    },
                    "errorType": {
                      "type": "string"
                    },
                    "violations": {
                      "items": {
                        "properties": {
                          "constraintType": {
                            "enum": [
                              "MUST_BE_FALSE",
                              "MUST_BE_TRUE",
                              "MUST_BE_LESS_THAN",
                              "MUST_BE_GREATER_THAN",
                              "DIGIT_OUT_OF_BOUNDS",
                              "DATE_MUST_BE_IN_THE_FUTURE",
                              "MUST_BE_LESS_OR_EQUAL_THAN",
                              "MUST_BE_GREATER_OR_EQUAL_TO",
                              "MUST_NOT_BE_NULL",
                              "MUST_BE_NULL",
                              "DATE_MUST_BE_IN_THE_PAST",
                              "MUST_MATCH_PATTERN",
                              "INVALID_SIZE",
                              "INVALID_EMAIL",
                              "MUST_NOT_BE_EMPTY",
                              "INVALID_RANGE",
                              "UNKNOWN"
                            ],
                            "type": "string"
                          },
                          "developerMessage": {
                            "type": "string"
                          },
                          "expected": {
                            "type": "string"
                          },
                          "propertyName": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array",
                      "uniqueItems": true
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request body"
          }
        },
        "security": [
          {
            "ZettleOauth": [
              "WRITE:PRODUCT"
            ]
          }
        ],
        "summary": "Import library items",
        "tags": [
          "import"
        ]
      }
    },
    "/organizations/orderid/library": {
      "get": {
        "description": "Will return the entire library for the authenticated user. If size of the library exceeds server preferences (normally 500) or the value of the optional limit parameter, the result will be paginated. Paginated responses return a Link header, indicating the next URI to fetch. The resulting header value will look something like:\n\n<https://products.izettle.com/organizations/self/library?limit=X&offset=Y>; rel=\"next\"\n\nwhere limit is number of items in response, and offset is the current position in pagination. The rel-part in the header is the links relation to the data previously recieved. The idea is that as long as this header is present there are still items remaining to be fetched. When either the header is not present or it's value doesn't contain any \"next\" value, all items have been sent to the client.\n\nNote: The client should NOT try to extract query parameters from the URI, but rather use it as-is for the next request. Also, clients should be perpared that one Link header might contain multiple other IRIs that are not \"next\" (there will never be more than one \"next\" though). See more at:\n\n    IETF: https://tools.ietf.org/html/rfc5988\n    GitHub: https://developer.github.com/guides/traversing-with-pagination/\n\nIf eventLogUuid is provided, the response will only include events affecting the library since that event. Such responses are normally quite small and would be a preferred method for most fat clients after retrieving the initial full library.\n",
        "operationId": "getlibrary",
        "parameters": [
          {
            "in": "path",
            "name": "organizationUuid",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "eventLogUuid",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 500,
              "format": "int32",
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "all",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "deletedDiscounts": {
                      "items": {
                        "format": "uuid",
                        "type": "string"
                      },
                      "type": "array",
                      "uniqueItems": true
                    },
                    "deletedProducts": {
                      "items": {
                        "format": "uuid",
                        "type": "string"
                      },
[...]
