{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "www.zoomconnect.com",
  "basePath": "/app",
  "info": {
    "description": "The world's greatest SMS API",
    "title": "www.zoomconnect.com",
    "version": "1",
    "x-apisguru-categories": [
      "messaging",
      "marketing"
    ],
    "x-logo": {
      "url": "https://zoomconnect.com/assets/logo.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/lucybot/api-spec-converter",
          "version": "2.7.31"
        },
        "format": "swagger",
        "url": "https://www.zoomconnect.com/zoom/api-docs",
        "version": "1.2"
      }
    ],
    "x-providerName": "zoomconnect.com",
    "x-tags": [
      "SMS",
      "bulk SMS"
    ]
  },
  "produces": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "email": {
      "in": "header",
      "name": "email",
      "type": "apiKey"
    },
    "token": {
      "in": "header",
      "name": "token",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "description": "Core information related to your account",
      "name": "account"
    },
    {
      "description": "Manage contacts",
      "name": "contacts"
    },
    {
      "description": "Manage groups",
      "name": "groups"
    },
    {
      "description": "Manage your messages",
      "name": "messages"
    },
    {
      "description": "Send and schedule messages",
      "name": "sms"
    },
    {
      "description": "Manage your templates",
      "name": "templates"
    },
    {
      "description": "(BETA) Send, schedule and manage voice messages",
      "name": "voice"
    }
  ],
  "paths": {
    "/api/rest/v1/account/balance": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns your account's credit balance",
        "operationId": "getbalance",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "WebServiceAccount",
              "properties": {
                "creditBalance": {
                  "format": "double",
                  "type": "number"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "balance",
        "tags": [
          "account"
        ]
      }
    },
    "/api/rest/v1/account/statistics": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns data from the statistics report. Note that by default the statistics shown are based on the number of messages, use the calculateCreditValue should you wish to calculate the statistics based on credit value.",
        "operationId": "getstatistics-v2",
        "parameters": [
          {
            "description": "date format: dd-MM-yyyy",
            "format": "date-time",
            "in": "query",
            "name": "from",
            "required": false,
            "type": "string"
          },
          {
            "description": "date format: dd-MM-yyyy",
            "format": "date-time",
            "in": "query",
            "name": "to",
            "required": false,
            "type": "string"
          },
          {
            "description": "optional email address of user to return statistics for a single user, default is to return statistics for all users if administrator, or statistics for your own account if not an administrator",
            "in": "query",
            "name": "userEmailAddress",
            "required": false,
            "type": "string"
          },
          {
            "description": "optional campaign name",
            "in": "query",
            "name": "campaign",
            "required": false,
            "type": "string"
          },
          {
            "description": "optionally include refunded and optout counts, default is false",
            "in": "query",
            "name": "includeRefundedAndOptout",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "optionally calculate using credit value rather than message count, default is false",
            "in": "query",
            "name": "calculateCreditValue",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "WebServiceAccountStatistics",
              "properties": {
                "from": {
                  "format": "date-time",
                  "type": "string"
                },
                "grandTotal": {
                  "description": "WebServiceStatistics",
                  "properties": {
                    "delivered": {
                      "format": "double",
                      "type": "number"
                    },
                    "failed": {
                      "format": "double",
                      "type": "number"
                    },
                    "failedOptout": {
                      "format": "double",
                      "type": "number"
                    },
                    "failedRefunded": {
                      "format": "double",
                      "type": "number"
                    },
                    "sent": {
                      "format": "double",
                      "type": "number"
                    },
                    "total": {
                      "format": "double",
                      "type": "number"
                    }
                  }
                },
                "showingCreditValue": {
                  "type": "boolean"
                },
                "to": {
                  "format": "date-time",
                  "type": "string"
                },
                "users": {
                  "items": {
                    "description": "WebServiceUserStatistics",
                    "properties": {
                      "campaigns": {
                        "items": {
                          "description": "WebServiceCampaignStatistics",
                          "properties": {
                            "campaign": {
                              "type": "string"
                            },
                            "statistics": {
                              "description": "WebServiceStatistics",
                              "properties": {
                                "delivered": {
                                  "format": "double",
                                  "type": "number"
                                },
                                "failed": {
                                  "format": "double",
                                  "type": "number"
                                },
                                "failedOptout": {
                                  "format": "double",
                                  "type": "number"
                                },
                                "failedRefunded": {
                                  "format": "double",
                                  "type": "number"
                                },
                                "sent": {
                                  "format": "double",
                                  "type": "number"
                                },
                                "total": {
                                  "format": "double",
                                  "type": "number"
                                }
                              }
                            }
                          }
                        },
                        "type": "array"
                      },
                      "total": {
                        "description": "WebServiceStatistics",
                        "properties": {
                          "delivered": {
                            "format": "double",
                            "type": "number"
                          },
                          "failed": {
                            "format": "double",
                            "type": "number"
                          },
                          "failedOptout": {
                            "format": "double",
                            "type": "number"
                          },
                          "failedRefunded": {
                            "format": "double",
                            "type": "number"
                          },
                          "sent": {
                            "format": "double",
                            "type": "number"
                          },
                          "total": {
                            "format": "double",
                            "type": "number"
                          }
                        }
                      },
                      "user": {
                        "description": "WebServiceUser",
                        "properties": {
                          "company": {
                            "type": "string"
                          },
                          "contactNumber": {
                            "type": "string"
                          },
                          "creditBalance": {
                            "format": "double",
                            "type": "number"
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "password": {
                            "type": "string"
                          },
                          "userId": {
                            "format": "int64",
                            "type": "integer"
                          }
                        }
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "statistics",
        "tags": [
          "account"
        ]
      }
    },
    "/api/rest/v1/account/transfer": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Transfers credits between two users in the same team. The <i>account email address</i> fields as well as the <i>number of credits to transfer</i> are required. ",
        "operationId": "transfer-v2",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceTransferCreditsRequest",
              "properties": {
                "numberOfCreditsToTransfer": {
                  "format": "int32",
                  "type": "integer"
                },
                "transferFromEmailAddress": {
                  "type": "string"
                },
                "transferToEmailAddress": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceUser",
              "properties": {
                "company": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "creditBalance": {
                  "format": "double",
                  "type": "number"
                },
                "emailAddress": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "userId": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "transfer",
        "tags": [
          "account"
        ]
      }
    },
    "/api/rest/v1/account/user": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Find a user for a particular email address",
        "operationId": "search",
        "parameters": [
          {
            "description": "search by email address",
            "in": "query",
            "name": "searchEmail",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceUsers",
              "properties": {
                "webServiceUserList": {
                  "items": {
                    "description": "WebServiceUser",
                    "properties": {
                      "company": {
                        "type": "string"
                      },
                      "contactNumber": {
                        "type": "string"
                      },
                      "creditBalance": {
                        "format": "double",
                        "type": "number"
                      },
                      "emailAddress": {
                        "type": "string"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "password": {
                        "type": "string"
                      },
                      "userId": {
                        "format": "int64",
                        "type": "integer"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "search",
        "tags": [
          "account"
        ]
      },
      "put": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Creates a new sub-account in your team. The following fields are required <i>firstname, lastname, email address, contact number</i> and <i>password.</i>",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceUser",
              "properties": {
                "company": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "creditBalance": {
                  "format": "double",
                  "type": "number"
                },
                "emailAddress": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "userId": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceUser",
              "properties": {
                "company": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "creditBalance": {
                  "format": "double",
                  "type": "number"
                },
                "emailAddress": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "userId": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "create",
        "tags": [
          "account"
        ],
        "operationId": "create"
      }
    },
    "/api/rest/v1/account/user/paymentid": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Gets a user from a given user id",
        "operationId": "getuser",
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceUser",
              "properties": {
                "company": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "creditBalance": {
                  "format": "double",
                  "type": "number"
                },
                "emailAddress": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "userId": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "getUser",
        "tags": [
          "account"
        ]
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Updates a sub-account in your team. The following fields can be updated <i>firstname, lastname, contact number</i> and <i>password.</i>",
        "parameters": [
          {
            "description": "userId",
            "format": "int64",
            "in": "path",
            "name": "userId",
            "required": true,
            "type": "integer"
          },
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceUser",
              "properties": {
                "company": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "creditBalance": {
                  "format": "double",
                  "type": "number"
                },
                "emailAddress": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "userId": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceUser",
              "properties": {
                "company": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "creditBalance": {
                  "format": "double",
                  "type": "number"
                },
                "emailAddress": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "userId": {
                  "format": "int64",
                  "type": "integer"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "update",
        "tags": [
          "account"
        ],
        "operationId": "update"
      }
    },
    "/api/rest/v1/contacts/all": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns all contacts",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceContacts",
              "properties": {
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "webServiceContacts": {
                  "items": {
                    "description": "WebServiceContact",
                    "properties": {
                      "contactId": {
                        "type": "string"
                      },
                      "contactNumber": {
                        "type": "string"
                      },
                      "firstName": {
                        "type": "string"
                      },
                      "lastName": {
                        "type": "string"
                      },
                      "links": {
                        "items": {
                          "properties": {
                            "href": {
                              "type": "string"
                            },
                            "rel": {
                              "type": "string"
                            },
                            "templated": {
                              "type": "boolean"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "title": {
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "all",
        "tags": [
          "contacts"
        ],
        "operationId": "all-v2"
      }
    },
    "/api/rest/v1/contacts/create": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Creates a  contact",
        "parameters": [
          {
            "description": "webServiceContact",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceContact",
              "properties": {
                "contactId": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "description": "WebServiceContact",
              "properties": {
                "contactId": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "description": "WebServiceContact",
              "properties": {
                "contactId": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "create",
        "tags": [
          "contacts"
        ],
        "operationId": "create"
      }
    },
    "/api/rest/v1/contacts/userid": {
      "delete": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Deletes a  contact",
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "delete",
        "tags": [
          "contacts"
        ],
        "operationId": "delete"
      },
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns details for a single contact",
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceContact",
              "properties": {
                "contactId": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "get",
        "tags": [
          "contacts"
        ],
        "operationId": "get"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Updates a  contact",
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          },
          {
            "description": "webServiceContact",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceContact",
              "properties": {
                "contactId": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceContact",
              "properties": {
                "contactId": {
                  "type": "string"
                },
                "contactNumber": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "update",
        "tags": [
          "contacts"
        ],
        "operationId": "update"
      }
    },
    "/api/rest/v1/contacts/paymentid/addfromgroup/id": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "removeFromGroup",
        "tags": [
          "contacts"
        ],
        "operationId": "removefromgroup-v2"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "removeFromGroup",
        "tags": [
          "contacts"
        ],
        "operationId": "removefromgroup-v2"
      }
    },
    "/api/rest/v1/contacts/orderid/addtogroup/id": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "addToGroup",
        "tags": [
          "contacts"
        ],
        "operationId": "addtogroup-v2"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "parameters": [
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          },
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "addToGroup",
        "tags": [
          "contacts"
        ],
        "operationId": "addtogroup-v2"
      }
    },
    "/api/rest/v1/groups/all": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns all groups",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceGroups",
              "properties": {
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "webServiceGroups": {
                  "items": {
                    "description": "WebServiceGroup",
                    "properties": {
                      "groupId": {
                        "type": "string"
                      },
                      "links": {
                        "items": {
                          "properties": {
                            "href": {
                              "type": "string"
                            },
                            "rel": {
                              "type": "string"
                            },
                            "templated": {
                              "type": "boolean"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "all",
        "tags": [
          "groups"
        ],
        "operationId": "all-v2"
      }
    },
    "/api/rest/v1/groups/create": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Create a  group",
        "parameters": [
          {
            "description": "webServiceGroup",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceGroup",
              "properties": {
                "groupId": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "description": "WebServiceGroup",
              "properties": {
                "groupId": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "description": "WebServiceGroup",
              "properties": {
                "groupId": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "create",
        "tags": [
          "groups"
        ],
        "operationId": "create"
      }
    },
    "/api/rest/v1/groups/orderid": {
      "delete": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Deletes a  group",
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "delete",
        "tags": [
          "groups"
        ],
        "operationId": "delete"
      },
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns details for a single group",
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceGroup",
              "properties": {
                "groupId": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "get",
        "tags": [
          "groups"
        ],
        "operationId": "get"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Update a  group",
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "description": "webServiceGroup",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceGroup",
              "properties": {
                "groupId": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceGroup",
              "properties": {
                "groupId": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "update",
        "tags": [
          "groups"
        ],
        "operationId": "update"
      }
    },
    "/api/rest/v1/groups/orderid/addcontact/orderid": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "addContact",
        "tags": [
          "groups"
        ],
        "operationId": "addcontact-v2"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Add a contact to a group",
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "addContact",
        "tags": [
          "groups"
        ],
        "operationId": "addcontact-v2"
      }
    },
    "/api/rest/v1/groups/paymentid/removecontact/sku": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "removeContact",
        "tags": [
          "groups"
        ],
        "operationId": "removecontact-v2"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Remove a contact from a group",
        "parameters": [
          {
            "description": "groupId",
            "in": "path",
            "name": "groupId",
            "required": true,
            "type": "string"
          },
          {
            "description": "contactId",
            "in": "path",
            "name": "contactId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "removeContact",
        "tags": [
          "groups"
        ],
        "operationId": "removecontact-v2"
      }
    },
    "/api/rest/v1/messages/all": {
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns all messages",
        "parameters": [
          {
            "default": 100,
            "description": "number of elements to return at a time",
            "format": "int32",
            "in": "query",
            "name": "pageSize",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "page number",
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "filter by message type",
            "enum": [
              "OUTBOUND",
              "INBOUND"
            ],
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "filter by message status",
            "enum": [
              "SCHEDULED",
              "UNKNOWN",
              "SENT",
              "FAILED",
              "FAILED_REFUNDED",
              "FAILED_OPTOUT",
              "DELIVERED"
            ],
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          },
          {
            "description": "date format: yyyyMMdd",
            "format": "date-time",
            "in": "query",
            "name": "fromDateTimeSent",
            "required": false,
            "type": "string"
          },
          {
            "description": "date format: yyyyMMdd",
            "format": "date-time",
            "in": "query",
            "name": "toDateTimeSent",
            "required": false,
            "type": "string"
          },
          {
            "description": "date format: yyyyMMdd",
            "format": "date-time",
            "in": "query",
            "name": "fromDateTimeReceived",
            "required": false,
            "type": "string"
          },
          {
            "description": "date format: yyyyMMdd",
            "format": "date-time",
            "in": "query",
            "name": "toDateTimeReceived",
            "required": false,
            "type": "string"
          },
          {
            "description": "phone number the message was sent from",
            "in": "query",
            "name": "fromNumber",
            "required": false,
            "type": "string"
          },
          {
            "description": "phone number the message was sent to",
            "in": "query",
            "name": "toNumber",
            "required": false,
            "type": "string"
          },
          {
            "description": "search matching message text",
            "in": "query",
            "name": "message",
            "required": false,
            "type": "string"
          },
          {
            "description": "search by campaign",
            "in": "query",
            "name": "campaign",
            "required": false,
            "type": "string"
          },
          {
            "description": "search by data field",
            "in": "query",
            "name": "dataField",
            "required": false,
            "type": "string"
          },
          {
            "description": "return only deleted / not deleted messages",
            "in": "query",
            "name": "deleted",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "return only read / unread messages (inbox messages only)",
            "in": "query",
            "name": "read",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "return only inbox messages which are a reply to the message with the given message id",
            "in": "query",
            "name": "repliesToMessageId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceMessages",
              "properties": {
                "elements": {
                  "format": "int32",
                  "type": "integer"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "page": {
                  "format": "int32",
                  "type": "integer"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer"
                },
                "totalElements": {
                  "format": "int64",
                  "type": "integer"
                },
                "totalPages": {
                  "format": "int32",
                  "type": "integer"
                },
                "webServiceMessages": {
                  "items": {
                    "description": "WebServiceMessage",
                    "properties": {
                      "campaign": {
                        "type": "string"
                      },
                      "contact": {
                        "description": "WebServiceContactLink",
                        "properties": {
                          "contactId": {
                            "type": "string"
                          },
                          "links": {
                            "items": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                },
                                "rel": {
                                  "type": "string"
                                },
                                "templated": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "type": "array"
                          }
                        }
                      },
                      "creditCost": {
                        "format": "double",
                        "type": "number"
                      },
                      "dateTimeReceived": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dateTimeScheduled": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "dateTimeSent": {
                        "format": "date-time",
                        "type": "string"
                      },
                      "deleted": {
                        "type": "boolean"
                      },
                      "fromNumber": {
                        "type": "string"
                      },
                      "links": {
                        "items": {
                          "properties": {
                            "href": {
                              "type": "string"
                            },
                            "rel": {
                              "type": "string"
                            },
                            "templated": {
                              "type": "boolean"
                            }
                          }
                        },
                        "type": "array"
                      },
                      "message": {
                        "type": "string"
                      },
                      "messageId": {
                        "type": "string"
                      },
                      "messageStatus": {
                        "type": "string"
                      },
                      "messageType": {
                        "type": "string"
                      },
                      "numberOfMessages": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "read": {
                        "type": "boolean"
                      },
                      "repliedToMessage": {
                        "description": "WebServiceMessageLink",
                        "properties": {
                          "links": {
                            "items": {
                              "properties": {
                                "href": {
                                  "type": "string"
                                },
                                "rel": {
                                  "type": "string"
                                },
                                "templated": {
                                  "type": "boolean"
                                }
                              }
                            },
                            "type": "array"
                          },
                          "messageId": {
                            "type": "string"
                          }
                        }
                      },
                      "toNumber": {
                        "type": "string"
                      },
                      "userDataField": {
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "all",
        "tags": [
          "messages"
        ],
        "operationId": "all-v2"
      }
    },
    "/api/rest/v1/messages/analyse/full": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns full analysis of message",
        "operationId": "analyse-full",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceAnalyseMessageRequest",
              "properties": {
                "message": {
                  "type": "string"
                },
                "recipientNumber": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceAnalyseMessageResponse",
              "properties": {
                "characterAnalysis": {
                  "items": {
                    "items": {},
                    "type": "array"
                  },
                  "type": "array"
                },
                "messageCreditCost": {
                  "format": "double",
                  "type": "number"
                },
                "messageEncoding": {
                  "type": "string"
                },
                "messageLength": {
                  "format": "int32",
                  "type": "integer"
                },
                "messageLengthWithinMaximumAllowed": {
                  "type": "boolean"
                },
                "numberOfMessages": {
                  "format": "int32",
                  "type": "integer"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "analyse-full",
        "tags": [
          "messages"
        ]
      }
    },
    "/api/rest/v1/messages/analyse/message-credit-cost": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns the number of credit which would be required to send the request message to the requested recipient number",
        "operationId": "analyse-message-credit-cost",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceAnalyseMessageRequest",
              "properties": {
                "message": {
                  "type": "string"
                },
                "recipientNumber": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "format": "double",
              "type": "number"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "analyse-message-credit-cost",
        "tags": [
          "messages"
        ]
      }
    },
    "/api/rest/v1/messages/analyse/message-encoding": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns the message encoding that would be required to send the requested message",
        "operationId": "analyse-message-encoding",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceAnalyseMessageRequest",
              "properties": {
                "message": {
                  "type": "string"
                },
                "recipientNumber": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "analyse-message-encoding",
        "tags": [
          "messages"
        ]
      }
    },
    "/api/rest/v1/messages/analyse/message-length": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns the number of characters the requested message consists of",
        "operationId": "analyse-message-length",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceAnalyseMessageRequest",
              "properties": {
                "message": {
                  "type": "string"
                },
                "recipientNumber": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "analyse-message-length",
        "tags": [
          "messages"
        ]
      }
    },
    "/api/rest/v1/messages/analyse/message-length-within-max-allowed": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns details for a single message",
        "operationId": "analyse-v2",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceAnalyseMessageRequest",
              "properties": {
                "message": {
                  "type": "string"
                },
                "recipientNumber": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "type": "boolean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "analyse-",
        "tags": [
          "messages"
        ]
      }
    },
    "/api/rest/v1/messages/analyse/number-of-messages": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns the number of SMS parts which would be sent when sending the requested message",
        "operationId": "analyse-number-of-messages-v2",
        "parameters": [
          {
            "description": "request",
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "description": "WebServiceAnalyseMessageRequest",
              "properties": {
                "message": {
                  "type": "string"
                },
                "recipientNumber": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "analyse-number-of-messages",
        "tags": [
          "messages"
        ]
      }
    },
    "/api/rest/v1/messages/paymentid": {
      "delete": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Deletes a  message",
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "delete",
        "tags": [
          "messages"
        ],
        "operationId": "delete"
      },
      "get": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Returns details for a single message",
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "WebServiceMessage",
              "properties": {
                "campaign": {
                  "type": "string"
                },
                "contact": {
                  "description": "WebServiceContactLink",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                "creditCost": {
                  "format": "double",
                  "type": "number"
                },
                "dateTimeReceived": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeScheduled": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeSent": {
                  "format": "date-time",
                  "type": "string"
                },
                "deleted": {
                  "type": "boolean"
                },
                "fromNumber": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "type": "string"
                },
                "messageId": {
                  "type": "string"
                },
                "messageStatus": {
                  "type": "string"
                },
                "messageType": {
                  "type": "string"
                },
                "numberOfMessages": {
                  "format": "int32",
                  "type": "integer"
                },
                "read": {
                  "type": "boolean"
                },
                "repliedToMessage": {
                  "description": "WebServiceMessageLink",
                  "properties": {
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                },
                "toNumber": {
                  "type": "string"
                },
                "userDataField": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "get",
        "tags": [
          "messages"
        ],
        "operationId": "get"
      }
    },
    "/api/rest/v1/messages/paymentid/markread": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Marks a  message as read",
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceMessage",
              "properties": {
                "campaign": {
                  "type": "string"
                },
                "contact": {
                  "description": "WebServiceContactLink",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                "creditCost": {
                  "format": "double",
                  "type": "number"
                },
                "dateTimeReceived": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeScheduled": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeSent": {
                  "format": "date-time",
                  "type": "string"
                },
                "deleted": {
                  "type": "boolean"
                },
                "fromNumber": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "type": "string"
                },
                "messageId": {
                  "type": "string"
                },
                "messageStatus": {
                  "type": "string"
                },
                "messageType": {
                  "type": "string"
                },
                "numberOfMessages": {
                  "format": "int32",
                  "type": "integer"
                },
                "read": {
                  "type": "boolean"
                },
                "repliedToMessage": {
                  "description": "WebServiceMessageLink",
                  "properties": {
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                },
                "toNumber": {
                  "type": "string"
                },
                "userDataField": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "markRead",
        "tags": [
          "messages"
        ],
        "operationId": "markread-v2"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Marks a  message as read",
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceMessage",
              "properties": {
                "campaign": {
                  "type": "string"
                },
                "contact": {
                  "description": "WebServiceContactLink",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                "creditCost": {
                  "format": "double",
                  "type": "number"
                },
                "dateTimeReceived": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeScheduled": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeSent": {
                  "format": "date-time",
                  "type": "string"
                },
                "deleted": {
                  "type": "boolean"
                },
                "fromNumber": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "type": "string"
                },
                "messageId": {
                  "type": "string"
                },
                "messageStatus": {
                  "type": "string"
                },
                "messageType": {
                  "type": "string"
                },
                "numberOfMessages": {
                  "format": "int32",
                  "type": "integer"
                },
                "read": {
                  "type": "boolean"
                },
                "repliedToMessage": {
                  "description": "WebServiceMessageLink",
                  "properties": {
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                },
                "toNumber": {
                  "type": "string"
                },
                "userDataField": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "markRead",
        "tags": [
          "messages"
        ],
        "operationId": "markread-v2"
      }
    },
    "/api/rest/v1/messages/sku/markunread": {
      "post": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Marks a  message as unread",
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceMessage",
              "properties": {
                "campaign": {
                  "type": "string"
                },
                "contact": {
                  "description": "WebServiceContactLink",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                "creditCost": {
                  "format": "double",
                  "type": "number"
                },
                "dateTimeReceived": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeScheduled": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeSent": {
                  "format": "date-time",
                  "type": "string"
                },
                "deleted": {
                  "type": "boolean"
                },
                "fromNumber": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "type": "string"
                },
                "messageId": {
                  "type": "string"
                },
                "messageStatus": {
                  "type": "string"
                },
                "messageType": {
                  "type": "string"
                },
                "numberOfMessages": {
                  "format": "int32",
                  "type": "integer"
                },
                "read": {
                  "type": "boolean"
                },
                "repliedToMessage": {
                  "description": "WebServiceMessageLink",
                  "properties": {
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                },
                "toNumber": {
                  "type": "string"
                },
                "userDataField": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "markUnread",
        "tags": [
          "messages"
        ],
        "operationId": "markunread-v2"
      },
      "put": {
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "deprecated": false,
        "description": "Marks a  message as unread",
        "parameters": [
          {
            "description": "messageId",
            "in": "path",
            "name": "messageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Description was not specified",
            "schema": {
              "description": "WebServiceMessage",
              "properties": {
                "campaign": {
                  "type": "string"
                },
                "contact": {
                  "description": "WebServiceContactLink",
                  "properties": {
                    "contactId": {
                      "type": "string"
                    },
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    }
                  }
                },
                "creditCost": {
                  "format": "double",
                  "type": "number"
                },
                "dateTimeReceived": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeScheduled": {
                  "format": "date-time",
                  "type": "string"
                },
                "dateTimeSent": {
                  "format": "date-time",
                  "type": "string"
                },
                "deleted": {
                  "type": "boolean"
                },
                "fromNumber": {
                  "type": "string"
                },
                "links": {
                  "items": {
                    "properties": {
                      "href": {
                        "type": "string"
                      },
                      "rel": {
                        "type": "string"
                      },
                      "templated": {
                        "type": "boolean"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "type": "string"
                },
                "messageId": {
                  "type": "string"
                },
                "messageStatus": {
                  "type": "string"
                },
                "messageType": {
                  "type": "string"
                },
                "numberOfMessages": {
                  "format": "int32",
                  "type": "integer"
                },
                "read": {
                  "type": "boolean"
                },
                "repliedToMessage": {
                  "description": "WebServiceMessageLink",
                  "properties": {
                    "links": {
                      "items": {
                        "properties": {
                          "href": {
                            "type": "string"
                          },
                          "rel": {
                            "type": "string"
                          },
                          "templated": {
                            "type": "boolean"
                          }
                        }
                      },
                      "type": "array"
                    },
                    "messageId": {
                      "type": "string"
                    }
                  }
                },
                "toNumber": {
                  "type": "string"
                },
                "userDataField": {
                  "type": "string"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
[...]
