{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://bills-api.parliament.uk"
    }
  ],
  "info": {
    "contact": {
      "email": "softwareengineering@parliament.uk",
      "name": "UK Parliament",
      "url": "https://www.parliament.uk"
    },
    "description": "API to get and search for information regarding Bills, their stages, associated amendments and publications.",
    "title": "Bills API",
    "version": "v1",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://bills-api.parliament.uk/swagger/v1/swagger.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "parliament.uk",
    "x-serviceName": "bills"
  },
  "paths": {
    "/api/v1/billtypes": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "Category",
            "schema": {
              "enum": [
                "Public",
                "Private",
                "Hybrid"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Take",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "category": {
                            "enum": [
                              "Public",
                              "Private",
                              "Hybrid"
                            ],
                            "type": "string"
                          },
                          "description": {
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "name": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "category": {
                            "enum": [
                              "Public",
                              "Private",
                              "Hybrid"
                            ],
                            "type": "string"
                          },
                          "description": {
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "name": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "category": {
                            "enum": [
                              "Public",
                              "Private",
                              "Hybrid"
                            ],
                            "type": "string"
                          },
                          "description": {
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "name": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns a list of Bill types.",
        "tags": [
          "BillTypes"
        ],
        "operationId": "returns-a-list-of-bill-types-v2"
      }
    },
    "/api/v1/bills": {
      "get": {
        "operationId": "getbills-v2",
        "parameters": [
          {
            "in": "query",
            "name": "SearchTerm",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "Session",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "CurrentHouse",
            "schema": {
              "enum": [
                "All",
                "Commons",
                "Lords",
                "Unassigned"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "OriginatingHouse",
            "schema": {
              "enum": [
                "All",
                "Commons",
                "Lords"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "MemberId",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "DepartmentId",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "BillStage",
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "BillStagesExcluded",
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "IsDefeated",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "IsWithdrawn",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "BillType",
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "SortOrder",
            "schema": {
              "enum": [
                "TitleAscending",
                "TitleDescending",
                "DateUpdatedAscending",
                "DateUpdatedDescending"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "BillIds",
            "schema": {
              "items": {
                "format": "int32",
                "type": "integer"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "Skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Take",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "billId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "billTypeId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "billWithdrawn": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "currentHouse": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "currentStage": {
                            "additionalProperties": false,
                            "properties": {
                              "abbreviation": {
                                "nullable": true,
                                "type": "string"
                              },
                              "description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "house": {
                                "enum": [
                                  "All",
                                  "Commons",
                                  "Lords",
                                  "Unassigned"
                                ],
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "sessionId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "sortOrder": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageSittings": {
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "billId": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "billStageId": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "date": {
                                      "format": "date-time",
                                      "nullable": true,
                                      "type": "string"
                                    },
                                    "id": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "stageId": {
                                      "format": "int32",
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                },
                                "nullable": true,
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "includedSessionIds": {
                            "items": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "introducedSessionId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "isAct": {
                            "type": "boolean"
                          },
                          "isDefeated": {
                            "type": "boolean"
                          },
                          "lastUpdate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "originatingHouse": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "shortTitle": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "billId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "billTypeId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "billWithdrawn": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "currentHouse": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "currentStage": {
                            "additionalProperties": false,
                            "properties": {
                              "abbreviation": {
                                "nullable": true,
                                "type": "string"
                              },
                              "description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "house": {
                                "enum": [
                                  "All",
                                  "Commons",
                                  "Lords",
                                  "Unassigned"
                                ],
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "sessionId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "sortOrder": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageSittings": {
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "billId": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "billStageId": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "date": {
                                      "format": "date-time",
                                      "nullable": true,
                                      "type": "string"
                                    },
                                    "id": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "stageId": {
                                      "format": "int32",
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                },
                                "nullable": true,
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "includedSessionIds": {
                            "items": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "introducedSessionId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "isAct": {
                            "type": "boolean"
                          },
                          "isDefeated": {
                            "type": "boolean"
                          },
                          "lastUpdate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "originatingHouse": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "shortTitle": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "billId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "billTypeId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "billWithdrawn": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "currentHouse": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "currentStage": {
                            "additionalProperties": false,
                            "properties": {
                              "abbreviation": {
                                "nullable": true,
                                "type": "string"
                              },
                              "description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "house": {
                                "enum": [
                                  "All",
                                  "Commons",
                                  "Lords",
                                  "Unassigned"
                                ],
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "sessionId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "sortOrder": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageSittings": {
                                "items": {
                                  "additionalProperties": false,
                                  "properties": {
                                    "billId": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "billStageId": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "date": {
                                      "format": "date-time",
                                      "nullable": true,
                                      "type": "string"
                                    },
                                    "id": {
                                      "format": "int32",
                                      "type": "integer"
                                    },
                                    "stageId": {
                                      "format": "int32",
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                },
                                "nullable": true,
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "includedSessionIds": {
                            "items": {
                              "format": "int32",
                              "type": "integer"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "introducedSessionId": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "isAct": {
                            "type": "boolean"
                          },
                          "isDefeated": {
                            "type": "boolean"
                          },
                          "lastUpdate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "originatingHouse": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "shortTitle": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "summary": "Returns a list of Bills.",
        "tags": [
          "Bills"
        ]
      }
    },
    "/api/v1/bills/orderid": {
      "get": {
        "operationId": "getbill-v2",
        "parameters": [
          {
            "description": "Bill with ID specified",
            "in": "path",
            "name": "billId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "agent": {
                      "additionalProperties": false,
                      "properties": {
                        "address": {
                          "nullable": true,
                          "type": "string"
                        },
                        "email": {
                          "nullable": true,
                          "type": "string"
                        },
                        "name": {
                          "nullable": true,
                          "type": "string"
                        },
                        "phoneNo": {
                          "nullable": true,
                          "type": "string"
                        },
                        "website": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "billId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "billTypeId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "billWithdrawn": {
                      "format": "date-time",
                      "nullable": true,
                      "type": "string"
                    },
                    "currentHouse": {
                      "enum": [
                        "All",
                        "Commons",
                        "Lords",
                        "Unassigned"
                      ],
                      "type": "string"
                    },
                    "currentStage": {
                      "additionalProperties": false,
                      "properties": {
                        "abbreviation": {
                          "nullable": true,
                          "type": "string"
                        },
                        "description": {
                          "nullable": true,
                          "type": "string"
                        },
                        "house": {
                          "enum": [
                            "All",
                            "Commons",
                            "Lords",
                            "Unassigned"
                          ],
                          "type": "string"
                        },
                        "id": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "sessionId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "sortOrder": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "stageId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "stageSittings": {
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "billId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "billStageId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "date": {
                                "format": "date-time",
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "nullable": true,
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "includedSessionIds": {
                      "items": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "introducedSessionId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "isAct": {
                      "type": "boolean"
                    },
                    "isDefeated": {
                      "type": "boolean"
                    },
                    "lastUpdate": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "longTitle": {
                      "nullable": true,
                      "type": "string"
                    },
                    "originatingHouse": {
                      "enum": [
                        "All",
                        "Commons",
                        "Lords",
                        "Unassigned"
                      ],
                      "type": "string"
                    },
                    "petitionInformation": {
                      "nullable": true,
                      "type": "string"
                    },
                    "petitioningPeriod": {
                      "nullable": true,
                      "type": "string"
                    },
                    "promoters": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "organisationName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "organisationUrl": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "shortTitle": {
                      "nullable": true,
                      "type": "string"
                    },
                    "sponsors": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "member": {
                            "additionalProperties": false,
                            "properties": {
                              "house": {
                                "enum": [
                                  "All",
                                  "Commons",
                                  "Lords",
                                  "Unassigned"
                                ],
                                "type": "string"
                              },
                              "memberFrom": {
                                "nullable": true,
                                "type": "string"
                              },
                              "memberId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "memberPage": {
                                "nullable": true,
                                "type": "string"
                              },
                              "memberPhoto": {
                                "nullable": true,
                                "type": "string"
                              },
                              "name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "party": {
                                "nullable": true,
                                "type": "string"
                              },
                              "partyColour": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "organisation": {
                            "additionalProperties": false,
                            "properties": {
                              "name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "url": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "sortOrder": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "summary": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "agent": {
                      "additionalProperties": false,
                      "properties": {
                        "address": {
                          "nullable": true,
                          "type": "string"
                        },
                        "email": {
                          "nullable": true,
                          "type": "string"
                        },
                        "name": {
                          "nullable": true,
                          "type": "string"
                        },
                        "phoneNo": {
                          "nullable": true,
                          "type": "string"
                        },
                        "website": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "billId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "billTypeId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "billWithdrawn": {
                      "format": "date-time",
                      "nullable": true,
                      "type": "string"
                    },
                    "currentHouse": {
                      "enum": [
                        "All",
                        "Commons",
                        "Lords",
                        "Unassigned"
                      ],
                      "type": "string"
                    },
                    "currentStage": {
                      "additionalProperties": false,
                      "properties": {
                        "abbreviation": {
                          "nullable": true,
                          "type": "string"
                        },
                        "description": {
                          "nullable": true,
                          "type": "string"
                        },
                        "house": {
                          "enum": [
                            "All",
                            "Commons",
                            "Lords",
                            "Unassigned"
                          ],
                          "type": "string"
                        },
                        "id": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "sessionId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "sortOrder": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "stageId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "stageSittings": {
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "billId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "billStageId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "date": {
                                "format": "date-time",
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "nullable": true,
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "includedSessionIds": {
                      "items": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "introducedSessionId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "isAct": {
                      "type": "boolean"
                    },
                    "isDefeated": {
                      "type": "boolean"
                    },
                    "lastUpdate": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "longTitle": {
                      "nullable": true,
                      "type": "string"
                    },
                    "originatingHouse": {
                      "enum": [
                        "All",
                        "Commons",
                        "Lords",
                        "Unassigned"
                      ],
                      "type": "string"
                    },
                    "petitionInformation": {
                      "nullable": true,
                      "type": "string"
                    },
                    "petitioningPeriod": {
                      "nullable": true,
                      "type": "string"
                    },
                    "promoters": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "organisationName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "organisationUrl": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "shortTitle": {
                      "nullable": true,
                      "type": "string"
                    },
                    "sponsors": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "member": {
                            "additionalProperties": false,
                            "properties": {
                              "house": {
                                "enum": [
                                  "All",
                                  "Commons",
                                  "Lords",
                                  "Unassigned"
                                ],
                                "type": "string"
                              },
                              "memberFrom": {
                                "nullable": true,
                                "type": "string"
                              },
                              "memberId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "memberPage": {
                                "nullable": true,
                                "type": "string"
                              },
                              "memberPhoto": {
                                "nullable": true,
                                "type": "string"
                              },
                              "name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "party": {
                                "nullable": true,
                                "type": "string"
                              },
                              "partyColour": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "organisation": {
                            "additionalProperties": false,
                            "properties": {
                              "name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "url": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "sortOrder": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "summary": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "agent": {
                      "additionalProperties": false,
                      "properties": {
                        "address": {
                          "nullable": true,
                          "type": "string"
                        },
                        "email": {
                          "nullable": true,
                          "type": "string"
                        },
                        "name": {
                          "nullable": true,
                          "type": "string"
                        },
                        "phoneNo": {
                          "nullable": true,
                          "type": "string"
                        },
                        "website": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "billId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "billTypeId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "billWithdrawn": {
                      "format": "date-time",
                      "nullable": true,
                      "type": "string"
                    },
                    "currentHouse": {
                      "enum": [
                        "All",
                        "Commons",
                        "Lords",
                        "Unassigned"
                      ],
                      "type": "string"
                    },
                    "currentStage": {
                      "additionalProperties": false,
                      "properties": {
                        "abbreviation": {
                          "nullable": true,
                          "type": "string"
                        },
                        "description": {
                          "nullable": true,
                          "type": "string"
                        },
                        "house": {
                          "enum": [
                            "All",
                            "Commons",
                            "Lords",
                            "Unassigned"
                          ],
                          "type": "string"
                        },
                        "id": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "sessionId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "sortOrder": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "stageId": {
                          "format": "int32",
                          "type": "integer"
                        },
                        "stageSittings": {
                          "items": {
                            "additionalProperties": false,
                            "properties": {
                              "billId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "billStageId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "date": {
                                "format": "date-time",
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "stageId": {
                                "format": "int32",
                                "type": "integer"
                              }
                            },
                            "type": "object"
                          },
                          "nullable": true,
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "includedSessionIds": {
                      "items": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "introducedSessionId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "isAct": {
                      "type": "boolean"
                    },
                    "isDefeated": {
                      "type": "boolean"
                    },
                    "lastUpdate": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "longTitle": {
                      "nullable": true,
                      "type": "string"
                    },
                    "originatingHouse": {
                      "enum": [
                        "All",
                        "Commons",
                        "Lords",
                        "Unassigned"
                      ],
                      "type": "string"
                    },
                    "petitionInformation": {
                      "nullable": true,
                      "type": "string"
                    },
                    "petitioningPeriod": {
                      "nullable": true,
                      "type": "string"
                    },
                    "promoters": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "organisationName": {
                            "nullable": true,
                            "type": "string"
                          },
                          "organisationUrl": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "shortTitle": {
                      "nullable": true,
                      "type": "string"
                    },
                    "sponsors": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "member": {
                            "additionalProperties": false,
                            "properties": {
                              "house": {
                                "enum": [
                                  "All",
                                  "Commons",
                                  "Lords",
                                  "Unassigned"
                                ],
                                "type": "string"
                              },
                              "memberFrom": {
                                "nullable": true,
                                "type": "string"
                              },
                              "memberId": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "memberPage": {
                                "nullable": true,
                                "type": "string"
                              },
                              "memberPhoto": {
                                "nullable": true,
                                "type": "string"
                              },
                              "name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "party": {
                                "nullable": true,
                                "type": "string"
                              },
                              "partyColour": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "organisation": {
                            "additionalProperties": false,
                            "properties": {
                              "name": {
                                "nullable": true,
                                "type": "string"
                              },
                              "url": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "sortOrder": {
                            "format": "int32",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "summary": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Return a Bill.",
        "tags": [
          "Bills"
        ]
      }
    },
    "/api/v1/bills/sku/newsarticles": {
      "get": {
        "operationId": "getnewsarticles",
        "parameters": [
          {
            "in": "path",
            "name": "billId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Skip",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "Take",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "content": {
                            "nullable": true,
                            "type": "string"
                          },
                          "displayDate": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "content": {
                            "nullable": true,
                            "type": "string"
                          },
                          "displayDate": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "items": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "content": {
                            "nullable": true,
                            "type": "string"
                          },
                          "displayDate": {
                            "format": "date-time",
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    },
                    "itemsPerPage": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "totalResults": {
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "summary": "Returns a list of news articles for a Bill.",
        "tags": [
          "BillNews"
        ]
      }
    },
    "/api/v1/bills/sku/publications": {
      "get": {
        "operationId": "getbillpublication-v2",
        "parameters": [
          {
            "description": "Publications relating to Bill with Bill ID specified",
            "in": "path",
            "name": "billId",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "billId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "publications": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "displayDate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "files": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "contentLength": {
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "contentType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "filename": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "id": {
                                  "format": "int32",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "house": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "links": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "contentType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "id": {
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "title": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "url": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "publicationType": {
                            "additionalProperties": false,
                            "properties": {
                              "description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "name": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "billId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "publications": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "displayDate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "files": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "contentLength": {
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "contentType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "filename": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "id": {
                                  "format": "int32",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "house": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "links": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "contentType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "id": {
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "title": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "url": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "publicationType": {
                            "additionalProperties": false,
                            "properties": {
                              "description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "name": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "text/plain": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "billId": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "publications": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "displayDate": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "files": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "contentLength": {
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "contentType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "filename": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "id": {
                                  "format": "int32",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "house": {
                            "enum": [
                              "All",
                              "Commons",
                              "Lords",
                              "Unassigned"
                            ],
                            "type": "string"
                          },
                          "id": {
                            "format": "int32",
                            "type": "integer"
                          },
                          "links": {
                            "items": {
                              "additionalProperties": false,
                              "properties": {
                                "contentType": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "id": {
                                  "format": "int32",
                                  "type": "integer"
                                },
                                "title": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "url": {
                                  "nullable": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array"
                          },
                          "publicationType": {
                            "additionalProperties": false,
                            "properties": {
                              "description": {
                                "nullable": true,
                                "type": "string"
                              },
                              "id": {
                                "format": "int32",
                                "type": "integer"
                              },
                              "name": {
                                "nullable": true,
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "title": {
                            "nullable": true,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "nullable": true,
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
                    "title": {
                      "nullable": true,
                      "type": "string"
                    },
                    "type": {
                      "nullable": true,
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "text/json": {
                "schema": {
                  "additionalProperties": {},
                  "properties": {
                    "detail": {
                      "nullable": true,
                      "type": "string"
                    },
                    "instance": {
                      "nullable": true,
                      "type": "string"
                    },
                    "status": {
                      "format": "int32",
                      "nullable": true,
                      "type": "integer"
                    },
[...]
