{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "API Production Server",
      "url": "https://listen-api.listennotes.com/api/v2"
    }
  ],
  "info": {
    "contact": {
      "email": "hello@listennotes.com",
      "name": "Listen Notes",
      "url": "https://www.listennotes.com/api/",
      "x-twitter": "listennotes"
    },
    "description": "Simple & no-nonsense podcast search & directory API. Search all podcasts and episodes by people, places, or topics.\n",
    "termsOfService": "https://www.listennotes.com/api/terms/",
    "title": "Listen API: Podcast Search, Directory, and Insights API",
    "version": "2.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://twitter.com/listennotes/profile_image?size=original"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "openapi",
        "url": "https://listen-api.listennotes.com/api/v2/openapi.yaml",
        "version": "3.1"
      }
    ],
    "x-providerName": "listennotes.com"
  },
  "tags": [
    {
      "description": "Endpoints to search podcasts",
      "name": "Search API"
    },
    {
      "description": "Endpoints to fetch podcasts data",
      "name": "Directory API"
    },
    {
      "description": "Endpoints to fetch Listen Later playlists data",
      "name": "Playlist API"
    },
    {
      "description": "Endpoints to improve the podcast database",
      "name": "Podcaster API"
    },
    {
      "description": "Endpoints to get insights of podcasts, e.g., audience demographics",
      "name": "Insights API"
    }
  ],
  "paths": {
    "/shipments/{id}": {
      "get": {
        "description": "Get a list of curated best podcasts by genre,\nwhich are curated by Listen Notes staffs based on various signals from the Internet, e.g.,\ntop charts on other podcast platforms, recommendations from mainstream media,\nuser activities on listennotes.com...\nYou can get the genre ids from `GET /genres` endpoint.\nThis endpoint returns same data as https://www.listennotes.com/best-podcasts/\n",
        "operationId": "getbestpodcasts",
        "parameters": [
          {
            "description": "Get API Key on listennotes.com/api",
            "explode": false,
            "in": "header",
            "name": "X-ListenAPI-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "You can get the id from `GET /genres`. If not specified, it'll be the overall best podcasts, which can be considered as a special genre.",
            "in": "query",
            "name": "genre_id",
            "required": false,
            "schema": {
              "examples": [
                93
              ],
              "type": "string"
            }
          },
          {
            "description": "Page number of those podcasts in this genre.",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "examples": [
                2
              ],
              "type": "integer"
            }
          },
          {
            "description": "Filter best podcasts by country/region.\nPlease note that podcasts that are \"best\" in a country/region may not be produced in that country/region.\nFor example, a podcast from the US may be very popular in Canada.\nYou can get the supported country codes (e.g., us, jp, gb...) from `GET /regions`.\nIf not specified, you'll get \"best podcasts\" in United States.\n",
            "in": "query",
            "name": "region",
            "required": false,
            "schema": {
              "default": "us",
              "examples": [
                "us"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter best podcasts by the publisher's country/region.\nThis is to narrow down the results to include \"best podcasts\" produced in a specific country/region.\nYou can get the supported country codes (e.g., us, jp, gb...) from `GET /regions`.\nIf not specified, you'll get \"best podcasts\" produced in any country/region.\nIf you want to get a country/region's \"best podcasts\" that are also produced in that country/region,\nthen you need to specify both **region** and **publisher_region**,\ne.g., `region=jp` and `publisher_region=jp`.\n",
            "in": "query",
            "name": "publisher_region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter best podcasts by language.\nYou can get a list of supported languages (e.g., English, Chinese, Japanese...) from `GET /languages`.\nIf not specified, you'll get \"best podcasts\" in any language.\n",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How do you want to sort these podcasts?\nIf you'd like to sort by popularity, please use **listen_score**.\n",
            "example": "listen_score",
            "explode": true,
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "default": "recent_added_first",
              "enum": [
                "recent_added_first",
                "oldest_added_first",
                "recent_published_first",
                "oldest_published_first",
                "listen_score"
              ],
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "Whether or not to exclude podcasts with explicit language. 1 is yes, and 0 is no.",
            "in": "query",
            "name": "safe_mode",
            "required": false,
            "schema": {
              "default": 0,
              "enum": [
                0,
                1
              ],
              "examples": [
                0
              ],
              "type": "integer"
            }
          },
          {
            "name": "qce2618",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "has_next": {
                      "examples": [
                        true
                      ],
                      "type": "boolean"
                    },
                    "has_previous": {
                      "examples": [
                        true
                      ],
                      "type": "boolean"
                    },
                    "id": {
                      "description": "The id of this genre",
                      "examples": [
                        95
                      ],
                      "type": "integer"
                    },
                    "listennotes_url": {
                      "description": "Url of the list of best podcasts on [ListenNotes.com](https://www.ListenNotes.com).",
                      "examples": [
                        "https://www.listennotes.com/best-business-news-podcasts-95/"
                      ],
                      "type": "string"
                    },
                    "name": {
                      "description": "This genre's name.",
                      "examples": [
                        "Business News"
                      ],
                      "type": "string"
                    },
                    "next_page_number": {
                      "examples": [
                        3
                      ],
                      "type": "integer"
                    },
                    "page_number": {
                      "examples": [
                        2
                      ],
                      "type": "integer"
                    },
                    "parent_id": {
                      "description": "The id of parent genre.",
                      "examples": [
                        93
                      ],
                      "type": "integer"
                    },
                    "podcasts": {
                      "items": {
                        "properties": {
                          "audio_length_sec": {
                            "description": "Average audio length of all episodes of this podcast. In seconds.",
                            "examples": [
                              1291
                            ],
                            "type": "integer"
                          },
                          "country": {
                            "description": "The country where this podcast is produced.",
                            "examples": [
                              "United States"
                            ],
                            "type": "string"
                          },
                          "description": {
                            "description": "Html of this episode's full description",
                            "examples": [
                              "<p>The Star Wars 7x7 Podcast is Rebel-rousing fun for everyday Jedi, between 7 and 14 minutes a day, 7 days a week. Join host Allen Voivod for Star Wars news, history, interviews, trivia, and deep dives into the Star Wars story as told in movies, books, comics, games, cartoons, and more. Subscribe now for your daily dose of Star Wars joy. It's destiny unleashed!</p>"
                            ],
                            "type": "string"
                          },
                          "earliest_pub_date_ms": {
                            "description": "The published date of the oldest episode of this podcast. In milliseconds",
                            "examples": [
                              1470667902000
                            ],
                            "type": "integer"
                          },
                          "email": {
                            "description": "The email of this podcast's producer. This field is available only in the PRO/ENTERPRISE plan.",
                            "examples": [
                              "hello@example.com"
                            ],
                            "type": "string"
                          },
                          "explicit_content": {
                            "description": "Whether this podcast contains explicit language.",
                            "examples": [
                              false
                            ],
                            "type": "boolean"
                          },
                          "extra": {
                            "properties": {
                              "amazon_music_url": {
                                "description": "Amazon Music url for this podcast",
                                "examples": [
                                  "https://music.amazon.com/podcasts/6fc6d683-9ef3-4850-9c35-8e8b1a42a147/the-lock-sportscast"
                                ],
                                "type": "string"
                              },
                              "facebook_handle": {
                                "description": "Facebook username affiliated with this podcast",
                                "examples": [
                                  "sw7x7"
                                ],
                                "type": "string"
                              },
                              "google_url": {
                                "description": "Google Podcasts url for this podcast",
                                "examples": [
                                  "https://podcasts.google.com/feed/aHR0cHM6Ly9yc3MuYXJ0MTkuY29tL2pvaG4tc29sb21vbi1yZXBvcnRz"
                                ],
                                "type": "string"
                              },
                              "instagram_handle": {
                                "description": "Instagram username affiliated with this podcast",
                                "examples": [
                                  "sw7x7"
                                ],
                                "type": "string"
                              },
                              "linkedin_url": {
                                "description": "LinkedIn url affiliated with this podcast",
                                "type": "string"
                              },
                              "patreon_handle": {
                                "description": "Patreon username affiliated with this podcast",
                                "examples": [
                                  "sw7x7"
                                ],
                                "type": "string"
                              },
                              "spotify_url": {
                                "description": "Spotify url for this podcast",
                                "examples": [
                                  "https://open.spotify.com/show/2rQJUP9Y3HxemiW3JHt9WV"
                                ],
                                "type": "string"
                              },
                              "twitter_handle": {
                                "description": "Twitter username affiliated with this podcast",
                                "examples": [
                                  "SW7x7podcast"
                                ],
                                "type": "string"
                              },
                              "url1": {
                                "description": "Url affiliated with this podcast",
                                "type": "string"
                              },
                              "url2": {
                                "description": "Url affiliated with this podcast",
                                "type": "string"
                              },
                              "url3": {
                                "description": "Url affiliated with this podcast",
                                "type": "string"
                              },
                              "wechat_handle": {
                                "description": "WeChat username affiliated with this podcast",
                                "type": "string"
                              },
                              "youtube_url": {
                                "description": "YouTube url affiliated with this podcast",
                                "examples": [
                                  "https://www.youtube.com/sw7x7"
                                ],
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "genre_ids": {
                            "examples": [
                              [
                                138,
                                86,
                                160,
                                68,
                                82,
                                100,
                                101
                              ]
                            ],
                            "items": {
                              "description": "Genre ids.",
                              "type": "integer"
                            },
                            "type": "array"
                          },
                          "id": {
                            "description": "Podcast id, which can be used to further fetch detailed podcast metadata via `GET /podcasts/{id}`.",
                            "examples": [
                              "4d3fe717742d4963a85562e9f84d8c79"
                            ],
                            "type": "string"
                          },
                          "image": {
                            "description": "Image url for this podcast's artwork. If you are using PRO/ENTERPRISE plan, then it's\na high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,\nlow resolution image (300x300).\n",
                            "examples": [
                              "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg"
                            ],
                            "type": "string"
                          },
                          "is_claimed": {
                            "description": "Whether this podcast is claimed by its producer on [ListenNotes.com](https://www.ListenNotes.com).",
                            "examples": [
                              true
                            ],
                            "type": "boolean"
                          },
                          "itunes_id": {
                            "description": "iTunes id for this podcast.",
                            "examples": [
                              896354638
                            ],
                            "type": "integer"
                          },
                          "language": {
                            "description": "The language of this podcast. You can get all supported languages from `GET /languages`.",
                            "examples": [
                              "English"
                            ],
                            "type": "string"
                          },
                          "latest_episode_id": {
                            "description": "The id of the most recently published episode of this podcast, which can be used to further fetch detailed episode metadata via `GET /episodes/{id}`.",
                            "examples": [
                              "d057092e57cc4ced80e0efaa196593d9"
                            ],
                            "type": "string"
                          },
                          "latest_pub_date_ms": {
                            "description": "The published date of the latest episode of this podcast. In milliseconds",
                            "examples": [
                              1557499770000
                            ],
                            "type": "integer"
                          },
                          "listen_score": {
                            "description": "The estimated popularity score of a podcast compared to all other rss-based public podcasts in the world on a scale from 0 to 100.\nIf the score is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                            "examples": [
                              81
                            ],
                            "type": "integer"
                          },
                          "listen_score_global_rank": {
                            "description": "The estimated popularity ranking of a podcast compared to all other rss-based public podcasts in the world.\nFor example, if the value is 0.5%, then this podcast is one of the top 0.5% most popular shows out of all podcasts globally, ranked by Listen Score.\nIf the ranking is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                            "examples": [
                              "0.5%"
                            ],
                            "type": "string"
                          },
                          "listennotes_url": {
                            "description": "The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).",
                            "examples": [
                              "https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/"
                            ],
                            "type": "string"
                          },
                          "looking_for": {
                            "properties": {
                              "cohosts": {
                                "description": "Whether this podcast is looking for cohosts.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              },
                              "cross_promotion": {
                                "description": "Whether this podcast is looking for cross promotion opportunities with other podcasts.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              },
                              "guests": {
                                "description": "Whether this podcast is looking for guests.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              },
                              "sponsors": {
                                "description": "Whether this podcast is looking for sponsors.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              }
                            },
                            "type": "object"
                          },
                          "publisher": {
                            "description": "Podcast publisher name.",
                            "examples": [
                              "Planet Broadcasting"
                            ],
                            "type": "string"
                          },
                          "rss": {
                            "description": "RSS url of this podcast. This field is available only in the PRO/ENTERPRISE plan.",
                            "examples": [
                              "https://sw7x7.libsyn.com/rss"
                            ],
                            "type": "string"
                          },
                          "thumbnail": {
                            "description": "Thumbnail image url for this podcast's artwork (300x300).",
                            "examples": [
                              "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg"
                            ],
                            "type": "string"
                          },
                          "title": {
                            "description": "Podcast name.",
                            "examples": [
                              "Star Wars 7x7 | Star Wars News, Interviews, and More!"
                            ],
                            "type": "string"
                          },
                          "total_episodes": {
                            "description": "Total number of episodes in this podcast.",
                            "examples": [
                              324
                            ],
                            "type": "integer"
                          },
                          "type": {
                            "description": "The type of this podcast - episodic or serial.",
                            "enum": [
                              "episodic",
                              "serial"
                            ],
                            "examples": [
                              "episodic"
                            ],
                            "type": "string"
                          },
                          "update_frequency_hours": {
                            "description": "How frequently does this podcast release a new episode? In hours. For example, if the value is 166, then it's every 166 hours (or weekly).",
                            "examples": [
                              168
                            ],
                            "type": "integer"
                          },
                          "website": {
                            "description": "Website url of this podcast.",
                            "examples": [
                              "http://sw7x7.com/"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "previous_page_number": {
                      "examples": [
                        1
                      ],
                      "type": "integer"
                    },
                    "total": {
                      "examples": [
                        325
                      ],
                      "type": "integer"
                    }
                  },
                  "required": [
                    "has_next",
                    "has_previous",
                    "id",
                    "listennotes_url",
                    "name",
                    "next_page_number",
                    "page_number",
                    "parent_id",
                    "podcasts",
                    "previous_page_number",
                    "total"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-ListenAPI-FreeQuota": {
                "description": "Free quotas of API requests included in your api plan.",
                "explode": false,
                "schema": {
                  "examples": [
                    25000
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-ListenAPI-NextBillingDate": {
                "description": "The timestamp for the start of next billing cycle. In ISO 8601 format.",
                "schema": {
                  "examples": [
                    "2020-04-26T17:27:33+00:00"
                  ],
                  "format": "date-time",
                  "type": "string"
                },
                "style": "simple"
              },
              "X-ListenAPI-Usage": {
                "description": "The number of API requests that you've used in current billing cycle.",
                "explode": false,
                "schema": {
                  "examples": [
                    19231
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-listenAPI-Latency-Seconds": {
                "description": "Latency for this api call, in seconds.",
                "explode": false,
                "schema": {
                  "examples": [
                    0.056
                  ],
                  "type": "number"
                },
                "style": "simple"
              }
            },
            "links": {
              "paginate": {
                "description": "Pagination through podcasts.",
                "operationId": "getBestPodcasts",
                "parameters": {
                  "page": "$response.body#/next_page_number"
                }
              }
            }
          },
          "401": {
            "description": "Wrong api key, or your account is suspended."
          },
          "404": {
            "description": "Endpoint not exist, or podcast / episode not exist."
          },
          "429": {
            "description": "For FREE plan, exceeding the quota limit; or for all plans, sending too many requests too fast and exceeding the rate limit."
          },
          "5XX": {
            "description": "Something wrong on our end (Unexpected server errors)."
          }
        },
        "summary": "Fetch a list of best podcasts by genre",
        "tags": [
          "Directory API"
        ]
      }
    },
    "/billing/{id}": {
      "get": {
        "description": "This endpoint returns same data as listennotes.com/listen under your account.\nYou can use the **page** parameter to do pagination and fetch more playlists.\n",
        "operationId": "getplaylists-v2",
        "parameters": [
          {
            "description": "Get API Key on listennotes.com/api",
            "explode": false,
            "in": "header",
            "name": "X-ListenAPI-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "How do you want to sort playlists?\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "default": "recent_added_first",
              "enum": [
                "recent_added_first",
                "oldest_added_first",
                "name_a_to_z",
                "name_z_to_a"
              ],
              "examples": [
                "recent_added_first"
              ],
              "type": "string"
            }
          },
          {
            "description": "Page number of playlists.\n",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "examples": [
                1
              ],
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "has_next": {
                      "examples": [
                        true
                      ],
                      "type": "boolean"
                    },
                    "has_previous": {
                      "examples": [
                        true
                      ],
                      "type": "boolean"
                    },
                    "next_page_number": {
                      "examples": [
                        3
                      ],
                      "type": "integer"
                    },
                    "page_number": {
                      "examples": [
                        2
                      ],
                      "type": "integer"
                    },
                    "playlists": {
                      "items": {
                        "description": "A playlist",
                        "properties": {
                          "description": {
                            "description": "Playlist description.",
                            "examples": [
                              "A curated playlist of podcasts about podcasting."
                            ],
                            "type": "string"
                          },
                          "episode_count": {
                            "description": "The number of episodes (including custom audio) in this playlist.",
                            "examples": [
                              23
                            ],
                            "type": "integer"
                          },
                          "id": {
                            "description": "A 11-character playlist id, which can be used to further fetch detailed playlist metadata via `GET /playlists/{id}`.",
                            "examples": [
                              "m1pe7z60bsw"
                            ],
                            "type": "string"
                          },
                          "image": {
                            "description": "High resolution image url of the playlist.",
                            "examples": [
                              "https://cdn-images-1.listennotes.com/playlist/image/6907e8ff6b6c45df94cc059753f369cc.JPEG"
                            ],
                            "type": "string"
                          },
                          "last_timestamp_ms": {
                            "description": "Passed to the **last_timestamp_ms** parameter of `GET /playlists/{id}` to paginate through items of that playlist.\n",
                            "examples": [
                              1595641092907
                            ],
                            "type": "integer"
                          },
                          "listennotes_url": {
                            "description": "The url of this playlist on ListenNotes.com.",
                            "examples": [
                              "https://www.listennotes.com/listen/podcasts-about-podcasting-m1pe7z60bsw/?display=episode"
                            ],
                            "type": "string"
                          },
                          "name": {
                            "description": "Playlist name.",
                            "examples": [
                              "My podcast playlist"
                            ],
                            "type": "string"
                          },
                          "podcast_count": {
                            "description": "The number of podcasts in this playlist.",
                            "examples": [
                              10
                            ],
                            "type": "integer"
                          },
                          "thumbnail": {
                            "description": "Low resolution image url of the playlist.",
                            "examples": [
                              "https://d3sv2eduhewoas.cloudfront.net/playlist/image/48477deae02649d7ab9d3f1b3966af38.JPEG"
                            ],
                            "type": "string"
                          },
                          "total_audio_length_sec": {
                            "description": "Total audio length of all episodes in this playlist, in seconds.",
                            "examples": [
                              234567
                            ],
                            "type": "integer"
                          },
                          "visibility": {
                            "description": "Visibility of this playlist.",
                            "enum": [
                              "public",
                              "unlisted",
                              "private"
                            ],
                            "examples": [
                              "public"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "previous_page_number": {
                      "examples": [
                        1
                      ],
                      "type": "integer"
                    },
                    "total": {
                      "examples": [
                        325
                      ],
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-ListenAPI-FreeQuota": {
                "description": "Free quotas of API requests included in your api plan.",
                "explode": false,
                "schema": {
                  "examples": [
                    25000
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-ListenAPI-NextBillingDate": {
                "description": "The timestamp for the start of next billing cycle. In ISO 8601 format.",
                "schema": {
                  "examples": [
                    "2020-04-26T17:27:33+00:00"
                  ],
                  "format": "date-time",
                  "type": "string"
                },
                "style": "simple"
              },
              "X-ListenAPI-Usage": {
                "description": "The number of API requests that you've used in current billing cycle.",
                "explode": false,
                "schema": {
                  "examples": [
                    19231
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-listenAPI-Latency-Seconds": {
                "description": "Latency for this api call, in seconds.",
                "explode": false,
                "schema": {
                  "examples": [
                    0.056
                  ],
                  "type": "number"
                },
                "style": "simple"
              }
            },
            "links": {
              "paginate": {
                "description": "Pagination through playlists.",
                "operationId": "getPlaylists",
                "parameters": {
                  "page": "$response.body#/page"
                }
              }
            }
          },
          "401": {
            "description": "Wrong api key, or your account is suspended."
          },
          "429": {
            "description": "For FREE plan, exceeding the quota limit; or for all plans, sending too many requests too fast and exceeding the rate limit."
          },
          "5XX": {
            "description": "Something wrong on our end (Unexpected server errors)."
          }
        },
        "summary": "Fetch a list of your playlists.",
        "tags": [
          "Playlist API"
        ]
      }
    },
    "/curated-podcasts/sku": {
      "get": {
        "description": "Get detailed meta data of all podcasts in a specific curated list.\nThis endpoint returns same data as https://www.listennotes.com/curated-podcasts/\n",
        "operationId": "getcuratedpodcastbyid",
        "parameters": [
          {
            "description": "Get API Key on listennotes.com/api",
            "explode": false,
            "in": "header",
            "name": "X-ListenAPI-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "id for a specific curated list of podcasts. You can get the id from the response of `GET /search?type=curated` or `GET /curated_podcasts`.\n",
            "explode": false,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "examples": [
                "SDFKduyJ47r"
              ],
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "description": {
                      "description": "This curated list's description.",
                      "examples": [
                        "Commuting to work is always better when you have a great new podcast to listen to, and this year, we have discovered some of our favorite podcasts yet for readers and book-lovers. These podcasts for readers entertain us and provide no shortage of new book recommendations too."
                      ],
                      "type": "string"
                    },
                    "id": {
                      "description": "Curated list id, which can be used to further fetch detailed curated list metadata via `GET /curated_podcasts/{id}`.",
                      "examples": [
                        "Vb017Sx3l8F"
                      ],
                      "type": "string"
                    },
                    "listennotes_url": {
                      "description": "The url of this curated list on [ListenNotes.com](https://www.ListenNotes.com).",
                      "examples": [
                        "https://www.listennotes.com/curated-podcasts/7-bookish-podcasts-for-avid-readers-on-H2r-TCWai8K/"
                      ],
                      "type": "string"
                    },
                    "podcasts": {
                      "description": "Complete meta data of all podcasts in this curated list.",
                      "items": {
                        "properties": {
                          "audio_length_sec": {
                            "description": "Average audio length of all episodes of this podcast. In seconds.",
                            "examples": [
                              1291
                            ],
                            "type": "integer"
                          },
                          "country": {
                            "description": "The country where this podcast is produced.",
                            "examples": [
                              "United States"
                            ],
                            "type": "string"
                          },
                          "description": {
                            "description": "Html of this episode's full description",
                            "examples": [
                              "<p>The Star Wars 7x7 Podcast is Rebel-rousing fun for everyday Jedi, between 7 and 14 minutes a day, 7 days a week. Join host Allen Voivod for Star Wars news, history, interviews, trivia, and deep dives into the Star Wars story as told in movies, books, comics, games, cartoons, and more. Subscribe now for your daily dose of Star Wars joy. It's destiny unleashed!</p>"
                            ],
                            "type": "string"
                          },
                          "earliest_pub_date_ms": {
                            "description": "The published date of the oldest episode of this podcast. In milliseconds",
                            "examples": [
                              1470667902000
                            ],
                            "type": "integer"
                          },
                          "email": {
                            "description": "The email of this podcast's producer. This field is available only in the PRO/ENTERPRISE plan.",
                            "examples": [
                              "hello@example.com"
                            ],
                            "type": "string"
                          },
                          "explicit_content": {
                            "description": "Whether this podcast contains explicit language.",
                            "examples": [
                              false
                            ],
                            "type": "boolean"
                          },
                          "extra": {
                            "properties": {
                              "amazon_music_url": {
                                "description": "Amazon Music url for this podcast",
                                "examples": [
                                  "https://music.amazon.com/podcasts/6fc6d683-9ef3-4850-9c35-8e8b1a42a147/the-lock-sportscast"
                                ],
                                "type": "string"
                              },
                              "facebook_handle": {
                                "description": "Facebook username affiliated with this podcast",
                                "examples": [
                                  "sw7x7"
                                ],
                                "type": "string"
                              },
                              "google_url": {
                                "description": "Google Podcasts url for this podcast",
                                "examples": [
                                  "https://podcasts.google.com/feed/aHR0cHM6Ly9yc3MuYXJ0MTkuY29tL2pvaG4tc29sb21vbi1yZXBvcnRz"
                                ],
                                "type": "string"
                              },
                              "instagram_handle": {
                                "description": "Instagram username affiliated with this podcast",
                                "examples": [
                                  "sw7x7"
                                ],
                                "type": "string"
                              },
                              "linkedin_url": {
                                "description": "LinkedIn url affiliated with this podcast",
                                "type": "string"
                              },
                              "patreon_handle": {
                                "description": "Patreon username affiliated with this podcast",
                                "examples": [
                                  "sw7x7"
                                ],
                                "type": "string"
                              },
                              "spotify_url": {
                                "description": "Spotify url for this podcast",
                                "examples": [
                                  "https://open.spotify.com/show/2rQJUP9Y3HxemiW3JHt9WV"
                                ],
                                "type": "string"
                              },
                              "twitter_handle": {
                                "description": "Twitter username affiliated with this podcast",
                                "examples": [
                                  "SW7x7podcast"
                                ],
                                "type": "string"
                              },
                              "url1": {
                                "description": "Url affiliated with this podcast",
                                "type": "string"
                              },
                              "url2": {
                                "description": "Url affiliated with this podcast",
                                "type": "string"
                              },
                              "url3": {
                                "description": "Url affiliated with this podcast",
                                "type": "string"
                              },
                              "wechat_handle": {
                                "description": "WeChat username affiliated with this podcast",
                                "type": "string"
                              },
                              "youtube_url": {
                                "description": "YouTube url affiliated with this podcast",
                                "examples": [
                                  "https://www.youtube.com/sw7x7"
                                ],
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "genre_ids": {
                            "examples": [
                              [
                                138,
                                86,
                                160,
                                68,
                                82,
                                100,
                                101
                              ]
                            ],
                            "items": {
                              "description": "Genre ids.",
                              "type": "integer"
                            },
                            "type": "array"
                          },
                          "id": {
                            "description": "Podcast id, which can be used to further fetch detailed podcast metadata via `GET /podcasts/{id}`.",
                            "examples": [
                              "4d3fe717742d4963a85562e9f84d8c79"
                            ],
                            "type": "string"
                          },
                          "image": {
                            "description": "Image url for this podcast's artwork. If you are using PRO/ENTERPRISE plan, then it's\na high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,\nlow resolution image (300x300).\n",
                            "examples": [
                              "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg"
                            ],
                            "type": "string"
                          },
                          "is_claimed": {
                            "description": "Whether this podcast is claimed by its producer on [ListenNotes.com](https://www.ListenNotes.com).",
                            "examples": [
                              true
                            ],
                            "type": "boolean"
                          },
                          "itunes_id": {
                            "description": "iTunes id for this podcast.",
                            "examples": [
                              896354638
                            ],
                            "type": "integer"
                          },
                          "language": {
                            "description": "The language of this podcast. You can get all supported languages from `GET /languages`.",
                            "examples": [
                              "English"
                            ],
                            "type": "string"
                          },
                          "latest_episode_id": {
                            "description": "The id of the most recently published episode of this podcast, which can be used to further fetch detailed episode metadata via `GET /episodes/{id}`.",
                            "examples": [
                              "d057092e57cc4ced80e0efaa196593d9"
                            ],
                            "type": "string"
                          },
                          "latest_pub_date_ms": {
                            "description": "The published date of the latest episode of this podcast. In milliseconds",
                            "examples": [
                              1557499770000
                            ],
                            "type": "integer"
                          },
                          "listen_score": {
                            "description": "The estimated popularity score of a podcast compared to all other rss-based public podcasts in the world on a scale from 0 to 100.\nIf the score is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                            "examples": [
                              81
                            ],
                            "type": "integer"
                          },
                          "listen_score_global_rank": {
                            "description": "The estimated popularity ranking of a podcast compared to all other rss-based public podcasts in the world.\nFor example, if the value is 0.5%, then this podcast is one of the top 0.5% most popular shows out of all podcasts globally, ranked by Listen Score.\nIf the ranking is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                            "examples": [
                              "0.5%"
                            ],
                            "type": "string"
                          },
                          "listennotes_url": {
                            "description": "The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).",
                            "examples": [
                              "https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/"
                            ],
                            "type": "string"
                          },
                          "looking_for": {
                            "properties": {
                              "cohosts": {
                                "description": "Whether this podcast is looking for cohosts.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              },
                              "cross_promotion": {
                                "description": "Whether this podcast is looking for cross promotion opportunities with other podcasts.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              },
                              "guests": {
                                "description": "Whether this podcast is looking for guests.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              },
                              "sponsors": {
                                "description": "Whether this podcast is looking for sponsors.",
                                "examples": [
                                  true
                                ],
                                "type": "boolean"
                              }
                            },
                            "type": "object"
                          },
                          "publisher": {
                            "description": "Podcast publisher name.",
                            "examples": [
                              "Planet Broadcasting"
                            ],
                            "type": "string"
                          },
                          "rss": {
                            "description": "RSS url of this podcast. This field is available only in the PRO/ENTERPRISE plan.",
                            "examples": [
                              "https://sw7x7.libsyn.com/rss"
                            ],
                            "type": "string"
                          },
                          "thumbnail": {
                            "description": "Thumbnail image url for this podcast's artwork (300x300).",
                            "examples": [
                              "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg"
                            ],
                            "type": "string"
                          },
                          "title": {
                            "description": "Podcast name.",
                            "examples": [
                              "Star Wars 7x7 | Star Wars News, Interviews, and More!"
                            ],
                            "type": "string"
                          },
                          "total_episodes": {
                            "description": "Total number of episodes in this podcast.",
                            "examples": [
                              324
                            ],
                            "type": "integer"
                          },
                          "type": {
                            "description": "The type of this podcast - episodic or serial.",
                            "enum": [
                              "episodic",
                              "serial"
                            ],
                            "examples": [
                              "episodic"
                            ],
                            "type": "string"
                          },
                          "update_frequency_hours": {
                            "description": "How frequently does this podcast release a new episode? In hours. For example, if the value is 166, then it's every 166 hours (or weekly).",
                            "examples": [
                              168
                            ],
                            "type": "integer"
                          },
                          "website": {
                            "description": "Website url of this podcast.",
                            "examples": [
                              "http://sw7x7.com/"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "pub_date_ms": {
                      "description": "Published date of this curated list. In milliseconds.",
                      "examples": [
                        1556843484301
                      ],
                      "type": "integer"
                    },
                    "source_domain": {
                      "description": "The domain name of the source of this curated list.",
                      "examples": [
                        "parade.com"
                      ],
                      "type": "string"
                    },
                    "source_url": {
                      "description": "Url of the source of this curated list.",
                      "examples": [
                        "https://parade.com/718913/ashley_johnson/7-bookish-podcasts-for-avid-readers-on-the-go/"
                      ],
                      "type": "string"
                    },
                    "title": {
                      "description": "Curated list name.",
                      "examples": [
                        "7 Bookish Podcasts for Avid Readers On the Go"
                      ],
                      "type": "string"
                    },
                    "total": {
                      "description": "The total number of podcasts in this curated list.",
                      "examples": [
                        25
                      ],
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-ListenAPI-FreeQuota": {
                "description": "Free quotas of API requests included in your api plan.",
                "explode": false,
                "schema": {
                  "examples": [
                    25000
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-ListenAPI-NextBillingDate": {
                "description": "The timestamp for the start of next billing cycle. In ISO 8601 format.",
                "schema": {
                  "examples": [
                    "2020-04-26T17:27:33+00:00"
                  ],
                  "format": "date-time",
                  "type": "string"
                },
                "style": "simple"
              },
              "X-ListenAPI-Usage": {
                "description": "The number of API requests that you've used in current billing cycle.",
                "explode": false,
                "schema": {
                  "examples": [
                    19231
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-listenAPI-Latency-Seconds": {
                "description": "Latency for this api call, in seconds.",
                "explode": false,
                "schema": {
                  "examples": [
                    0.056
                  ],
                  "type": "number"
                },
                "style": "simple"
              }
            }
          },
          "401": {
            "description": "Wrong api key, or your account is suspended."
          },
          "404": {
            "description": "Endpoint not exist, or podcast / episode not exist."
          },
          "429": {
            "description": "For FREE plan, exceeding the quota limit; or for all plans, sending too many requests too fast and exceeding the rate limit."
          },
          "5XX": {
            "description": "Something wrong on our end (Unexpected server errors)."
          }
        },
        "summary": "Fetch a curated list of podcasts by id",
        "tags": [
          "Directory API"
        ]
      }
    },
    "/payments/{id}": {
      "post": {
        "description": "Batch fetch basic meta data for up to 10 episodes. This endpoint could be used to implement custom playlists for individual episodes. For detailed meta data of an individual episode, you need to use `GET /episodes/{id}`. This endpoint is available only in the PRO/ENTERPRISE plan.\n",
        "operationId": "getepisodesinbatch",
        "parameters": [
          {
            "description": "Get API Key on listennotes.com/api",
            "explode": false,
            "in": "header",
            "name": "X-ListenAPI-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "ids": {
                    "description": "Comma-separated list of episode ids.",
                    "examples": [
                      "c577d55b2b2b483c969fae3ceb58e362,0f34a9099579490993eec9e8c8cebb82"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "ids"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "episodes": {
                      "items": {
                        "properties": {
                          "audio": {
                            "description": "Audio url of this episode, which can be played directly.",
                            "examples": [
                              "https://www.listennotes.com/e/p/11b34041e804491b9704d11f283c74de/"
                            ],
                            "type": "string"
                          },
                          "audio_length_sec": {
                            "description": "Audio length of this episode. In seconds.",
                            "examples": [
                              567
                            ],
                            "type": "integer"
                          },
                          "description": {
                            "description": "Html of this episode's full description",
                            "examples": [
                              "<p>Disney chief Bob Iger shared news about Star Wars movies in 2020 and beyond, but some media outlets gave conflicting reports about it. Here's the real scoop. Punch it!</p> <p>***We’re listener supported! Go to http://Patreon.com/sw7x7 to donate to the Star Wars 7x7 podcast, and you’ll get some fabulous rewards for your pledge.*** </p> <p>Check out SW7x7.com for full Star Wars 7x7 show notes and links, and to comment on any of the content of this episode! If you like what you've heard, please leave us a rating or review on iTunes or Stitcher, which will also help more people discover this Star Wars podcast.</p> <p>Don't forget to join the Star Wars 7x7 fun on Facebook at Facebook.com/SW7x7, and follow the breaking news Twitter feed at Twitter.com/SW7x7Podcast. We're also on Pinterest and Instagram as \"SW7x7\" too, and we'd love to connect with you there!</p>\n"
                            ],
                            "type": "string"
                          },
                          "explicit_content": {
                            "description": "Whether this podcast contains explicit language.",
                            "examples": [
                              false
                            ],
                            "type": "boolean"
                          },
                          "id": {
                            "description": "Episode id, which can be used to further fetch detailed episode metadata via `GET /episodes/{id}`.",
                            "examples": [
                              "4d82e50314174754a3b603912448e812"
                            ],
                            "type": "string"
                          },
                          "image": {
                            "description": "Image url for this episode.\nIf an episode doesn't have its own image, then this field would be the url of the podcast artwork image.\nIf you are using PRO/ENTERPRISE plan, then it's\na high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,\nlow resolution image (300x300).\n",
                            "examples": [
                              "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg"
                            ],
                            "type": "string"
                          },
                          "link": {
                            "description": "Web link of this episode.",
                            "examples": [
                              "https://www.npr.org/2020/01/22/798532179/soleimanis-iran"
                            ],
                            "type": "string"
                          },
                          "listennotes_edit_url": {
                            "description": "Edit url of this episode where you can update the audio url if you find the audio is broken.",
                            "examples": [
                              "https://www.listennotes.com/e/11b34041e804491b9704d11f283c74de/#edit"
                            ],
                            "type": "string"
                          },
                          "listennotes_url": {
                            "description": "The url of this episode on [ListenNotes.com](https://www.ListenNotes.com).",
                            "examples": [
                              "https://www.listennotes.com/e/4d82e50314174754a3b603912448e812/"
                            ],
                            "type": "string"
                          },
                          "maybe_audio_invalid": {
                            "description": "Whether or not this episode's audio is invalid. Podcasters may delete the original audio.",
                            "examples": [
                              false
                            ],
                            "type": "boolean"
                          },
                          "podcast": {
                            "properties": {
                              "id": {
                                "description": "Podcast id, which can be used to further fetch detailed podcast metadata via `GET /podcasts/{id}`.",
                                "examples": [
                                  "4d3fe717742d4963a85562e9f84d8c79"
                                ],
                                "type": "string"
                              },
                              "image": {
                                "description": "Image url for this podcast's artwork. If you are using PRO/ENTERPRISE plan, then it's\na high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,\nlow resolution image (300x300).\n",
                                "examples": [
                                  "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg"
                                ],
                                "type": "string"
                              },
                              "listen_score": {
                                "description": "The estimated popularity score of a podcast compared to all other rss-based public podcasts in the world on a scale from 0 to 100.\nIf the score is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                                "examples": [
                                  81
                                ],
                                "type": "integer"
                              },
                              "listen_score_global_rank": {
                                "description": "The estimated popularity ranking of a podcast compared to all other rss-based public podcasts in the world.\nFor example, if the value is 0.5%, then this podcast is one of the top 0.5% most popular shows out of all podcasts globally, ranked by Listen Score.\nIf the ranking is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                                "examples": [
                                  "0.5%"
                                ],
                                "type": "string"
                              },
                              "listennotes_url": {
                                "description": "The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).",
                                "examples": [
                                  "https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/"
                                ],
                                "type": "string"
                              },
                              "publisher": {
                                "description": "Podcast publisher name.",
                                "examples": [
                                  "Planet Broadcasting"
                                ],
                                "type": "string"
                              },
                              "thumbnail": {
                                "description": "Thumbnail image url for this podcast's artwork (300x300).",
                                "examples": [
                                  "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg"
                                ],
                                "type": "string"
                              },
                              "title": {
                                "description": "Podcast name.",
                                "examples": [
                                  "Star Wars 7x7 | Star Wars News, Interviews, and More!"
                                ],
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "pub_date_ms": {
                            "description": "Published date for this episode. In millisecond.",
                            "examples": [
                              1474873200000
                            ],
                            "type": "integer"
                          },
                          "thumbnail": {
                            "description": "Thumbnail image (300x300) url for this episode.\nIf an episode doesn't have its own image, then this field would be the url of the podcast artwork thumbnail image.\n",
                            "examples": [
                              "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg"
                            ],
                            "type": "string"
                          },
                          "title": {
                            "description": "Episode name.",
                            "examples": [
                              "Celebration Recap, Jason Fry and Christian Blauvelt Interviews – SWBW #101"
                            ],
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "episodes"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-ListenAPI-FreeQuota": {
                "description": "Free quotas of API requests included in your api plan.",
                "explode": false,
                "schema": {
                  "examples": [
                    25000
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-ListenAPI-NextBillingDate": {
                "description": "The timestamp for the start of next billing cycle. In ISO 8601 format.",
                "schema": {
                  "examples": [
                    "2020-04-26T17:27:33+00:00"
                  ],
                  "format": "date-time",
                  "type": "string"
                },
                "style": "simple"
              },
              "X-ListenAPI-Usage": {
                "description": "The number of API requests that you've used in current billing cycle.",
                "explode": false,
                "schema": {
                  "examples": [
                    19231
                  ],
                  "type": "integer"
                },
                "style": "simple"
              },
              "X-listenAPI-Latency-Seconds": {
                "description": "Latency for this api call, in seconds.",
                "explode": false,
                "schema": {
                  "examples": [
                    0.056
                  ],
                  "type": "number"
                },
                "style": "simple"
              }
            }
          },
          "401": {
            "description": "Wrong api key, or your account is suspended."
          },
          "429": {
            "description": "For FREE plan, exceeding the quota limit; or for all plans, sending too many requests too fast and exceeding the rate limit."
          },
          "5XX": {
            "description": "Something wrong on our end (Unexpected server errors)."
          }
        },
        "summary": "Batch fetch basic meta data for episodes",
        "tags": [
          "Directory API"
        ]
      }
    },
    "/episodes/orderid": {
      "get": {
        "description": "Fetch detailed meta data for a specific episode.",
        "operationId": "getepisodebyid-v2",
        "parameters": [
          {
            "description": "Get API Key on listennotes.com/api",
            "explode": false,
            "in": "header",
            "name": "X-ListenAPI-Key",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "id for a specific episode. You can get episode id from using other endpoints, e.g., `GET /search`...",
            "explode": false,
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "examples": [
                "6b6d65930c5a4f71b254465871fed370"
              ],
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "To include the transcript of this episode or not? If it is 1, then include the transcript in the **transcript** field. The default value is 0 - we don't include transcript by default, because 1) it would make the response data very big, thus slow response time; 2) less than 1% of episodes have transcripts. The transcript field is available only in the PRO/ENTERPRISE plan.",
            "explode": false,
            "in": "query",
            "name": "show_transcript",
            "required": false,
            "schema": {
              "default": 0,
              "examples": [
                1
              ],
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "audio": {
                      "description": "Audio url of this episode, which can be played directly.",
                      "examples": [
                        "https://www.listennotes.com/e/p/11b34041e804491b9704d11f283c74de/"
                      ],
                      "type": "string"
                    },
                    "audio_length_sec": {
                      "description": "Audio length of this episode. In seconds.",
                      "examples": [
                        567
                      ],
                      "type": "integer"
                    },
                    "description": {
                      "description": "Html of this episode's full description",
                      "examples": [
                        "<p>Disney chief Bob Iger shared news about Star Wars movies in 2020 and beyond, but some media outlets gave conflicting reports about it. Here's the real scoop. Punch it!</p> <p>***We’re listener supported! Go to http://Patreon.com/sw7x7 to donate to the Star Wars 7x7 podcast, and you’ll get some fabulous rewards for your pledge.*** </p> <p>Check out SW7x7.com for full Star Wars 7x7 show notes and links, and to comment on any of the content of this episode! If you like what you've heard, please leave us a rating or review on iTunes or Stitcher, which will also help more people discover this Star Wars podcast.</p> <p>Don't forget to join the Star Wars 7x7 fun on Facebook at Facebook.com/SW7x7, and follow the breaking news Twitter feed at Twitter.com/SW7x7Podcast. We're also on Pinterest and Instagram as \"SW7x7\" too, and we'd love to connect with you there!</p>\n"
                      ],
                      "type": "string"
                    },
                    "explicit_content": {
                      "description": "Whether this podcast contains explicit language.",
                      "examples": [
                        false
                      ],
                      "type": "boolean"
                    },
                    "id": {
                      "description": "Episode id, which can be used to further fetch detailed episode metadata via `GET /episodes/{id}`.",
                      "examples": [
                        "4d82e50314174754a3b603912448e812"
                      ],
                      "type": "string"
                    },
                    "image": {
                      "description": "Image url for this episode.\nIf an episode doesn't have its own image, then this field would be the url of the podcast artwork image.\nIf you are using PRO/ENTERPRISE plan, then it's\na high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,\nlow resolution image (300x300).\n",
                      "examples": [
                        "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg"
                      ],
                      "type": "string"
                    },
                    "link": {
                      "description": "Web link of this episode.",
                      "examples": [
                        "https://www.npr.org/2020/01/22/798532179/soleimanis-iran"
                      ],
                      "type": "string"
                    },
                    "listennotes_edit_url": {
                      "description": "Edit url of this episode where you can update the audio url if you find the audio is broken.",
                      "examples": [
                        "https://www.listennotes.com/e/11b34041e804491b9704d11f283c74de/#edit"
                      ],
                      "type": "string"
                    },
                    "listennotes_url": {
                      "description": "The url of this episode on [ListenNotes.com](https://www.ListenNotes.com).",
                      "examples": [
                        "https://www.listennotes.com/e/4d82e50314174754a3b603912448e812/"
                      ],
                      "type": "string"
                    },
                    "maybe_audio_invalid": {
                      "description": "Whether or not this episode's audio is invalid. Podcasters may delete the original audio.",
                      "examples": [
                        false
                      ],
                      "type": "boolean"
                    },
                    "podcast": {
                      "properties": {
                        "audio_length_sec": {
                          "description": "Average audio length of all episodes of this podcast. In seconds.",
                          "examples": [
                            1291
                          ],
                          "type": "integer"
                        },
                        "country": {
                          "description": "The country where this podcast is produced.",
                          "examples": [
                            "United States"
                          ],
                          "type": "string"
                        },
                        "description": {
                          "description": "Html of this episode's full description",
                          "examples": [
                            "<p>The Star Wars 7x7 Podcast is Rebel-rousing fun for everyday Jedi, between 7 and 14 minutes a day, 7 days a week. Join host Allen Voivod for Star Wars news, history, interviews, trivia, and deep dives into the Star Wars story as told in movies, books, comics, games, cartoons, and more. Subscribe now for your daily dose of Star Wars joy. It's destiny unleashed!</p>"
                          ],
                          "type": "string"
                        },
                        "earliest_pub_date_ms": {
                          "description": "The published date of the oldest episode of this podcast. In milliseconds",
                          "examples": [
                            1470667902000
                          ],
                          "type": "integer"
                        },
                        "email": {
                          "description": "The email of this podcast's producer. This field is available only in the PRO/ENTERPRISE plan.",
                          "examples": [
                            "hello@example.com"
                          ],
                          "type": "string"
                        },
                        "explicit_content": {
                          "description": "Whether this podcast contains explicit language.",
                          "examples": [
                            false
                          ],
                          "type": "boolean"
                        },
                        "extra": {
                          "properties": {
                            "amazon_music_url": {
                              "description": "Amazon Music url for this podcast",
                              "examples": [
                                "https://music.amazon.com/podcasts/6fc6d683-9ef3-4850-9c35-8e8b1a42a147/the-lock-sportscast"
                              ],
                              "type": "string"
                            },
                            "facebook_handle": {
                              "description": "Facebook username affiliated with this podcast",
                              "examples": [
                                "sw7x7"
                              ],
                              "type": "string"
                            },
                            "google_url": {
                              "description": "Google Podcasts url for this podcast",
                              "examples": [
                                "https://podcasts.google.com/feed/aHR0cHM6Ly9yc3MuYXJ0MTkuY29tL2pvaG4tc29sb21vbi1yZXBvcnRz"
                              ],
                              "type": "string"
                            },
                            "instagram_handle": {
                              "description": "Instagram username affiliated with this podcast",
                              "examples": [
                                "sw7x7"
                              ],
                              "type": "string"
                            },
                            "linkedin_url": {
                              "description": "LinkedIn url affiliated with this podcast",
                              "type": "string"
                            },
                            "patreon_handle": {
                              "description": "Patreon username affiliated with this podcast",
                              "examples": [
                                "sw7x7"
                              ],
                              "type": "string"
                            },
                            "spotify_url": {
                              "description": "Spotify url for this podcast",
                              "examples": [
                                "https://open.spotify.com/show/2rQJUP9Y3HxemiW3JHt9WV"
                              ],
                              "type": "string"
                            },
                            "twitter_handle": {
                              "description": "Twitter username affiliated with this podcast",
                              "examples": [
                                "SW7x7podcast"
                              ],
                              "type": "string"
                            },
                            "url1": {
                              "description": "Url affiliated with this podcast",
                              "type": "string"
                            },
                            "url2": {
                              "description": "Url affiliated with this podcast",
                              "type": "string"
                            },
                            "url3": {
                              "description": "Url affiliated with this podcast",
                              "type": "string"
                            },
                            "wechat_handle": {
                              "description": "WeChat username affiliated with this podcast",
                              "type": "string"
                            },
                            "youtube_url": {
                              "description": "YouTube url affiliated with this podcast",
                              "examples": [
                                "https://www.youtube.com/sw7x7"
                              ],
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "genre_ids": {
                          "examples": [
                            [
                              138,
                              86,
                              160,
                              68,
                              82,
                              100,
                              101
                            ]
                          ],
                          "items": {
                            "description": "Genre ids.",
                            "type": "integer"
                          },
                          "type": "array"
                        },
                        "id": {
                          "description": "Podcast id, which can be used to further fetch detailed podcast metadata via `GET /podcasts/{id}`.",
                          "examples": [
                            "4d3fe717742d4963a85562e9f84d8c79"
                          ],
                          "type": "string"
                        },
                        "image": {
                          "description": "Image url for this podcast's artwork. If you are using PRO/ENTERPRISE plan, then it's\na high resolution image (1400x1400). If you are using FREE plan, then it's the same as **thumbnail**,\nlow resolution image (300x300).\n",
                          "examples": [
                            "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.1400x1400.jpg"
                          ],
                          "type": "string"
                        },
                        "is_claimed": {
                          "description": "Whether this podcast is claimed by its producer on [ListenNotes.com](https://www.ListenNotes.com).",
                          "examples": [
                            true
                          ],
                          "type": "boolean"
                        },
                        "itunes_id": {
                          "description": "iTunes id for this podcast.",
                          "examples": [
                            896354638
                          ],
                          "type": "integer"
                        },
                        "language": {
                          "description": "The language of this podcast. You can get all supported languages from `GET /languages`.",
                          "examples": [
                            "English"
                          ],
                          "type": "string"
                        },
                        "latest_episode_id": {
                          "description": "The id of the most recently published episode of this podcast, which can be used to further fetch detailed episode metadata via `GET /episodes/{id}`.",
                          "examples": [
                            "d057092e57cc4ced80e0efaa196593d9"
                          ],
                          "type": "string"
                        },
                        "latest_pub_date_ms": {
                          "description": "The published date of the latest episode of this podcast. In milliseconds",
                          "examples": [
                            1557499770000
                          ],
                          "type": "integer"
                        },
                        "listen_score": {
                          "description": "The estimated popularity score of a podcast compared to all other rss-based public podcasts in the world on a scale from 0 to 100.\nIf the score is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                          "examples": [
                            81
                          ],
                          "type": "integer"
                        },
                        "listen_score_global_rank": {
                          "description": "The estimated popularity ranking of a podcast compared to all other rss-based public podcasts in the world.\nFor example, if the value is 0.5%, then this podcast is one of the top 0.5% most popular shows out of all podcasts globally, ranked by Listen Score.\nIf the ranking is not available, it'll be null. Learn more at listennotes.com/listen-score\n",
                          "examples": [
                            "0.5%"
                          ],
                          "type": "string"
                        },
                        "listennotes_url": {
                          "description": "The url of this podcast on [ListenNotes.com](https://www.ListenNotes.com).",
                          "examples": [
                            "https://www.listennotes.com/c/4d3fe717742d4963a85562e9f84d8c79/"
                          ],
                          "type": "string"
                        },
                        "looking_for": {
                          "properties": {
                            "cohosts": {
                              "description": "Whether this podcast is looking for cohosts.",
                              "examples": [
                                true
                              ],
                              "type": "boolean"
                            },
                            "cross_promotion": {
                              "description": "Whether this podcast is looking for cross promotion opportunities with other podcasts.",
                              "examples": [
                                true
                              ],
                              "type": "boolean"
                            },
                            "guests": {
                              "description": "Whether this podcast is looking for guests.",
                              "examples": [
                                true
                              ],
                              "type": "boolean"
                            },
                            "sponsors": {
                              "description": "Whether this podcast is looking for sponsors.",
                              "examples": [
                                true
                              ],
                              "type": "boolean"
                            }
                          },
                          "type": "object"
                        },
                        "publisher": {
                          "description": "Podcast publisher name.",
                          "examples": [
                            "Planet Broadcasting"
                          ],
                          "type": "string"
                        },
                        "rss": {
                          "description": "RSS url of this podcast. This field is available only in the PRO/ENTERPRISE plan.",
                          "examples": [
                            "https://sw7x7.libsyn.com/rss"
                          ],
                          "type": "string"
                        },
                        "thumbnail": {
                          "description": "Thumbnail image url for this podcast's artwork (300x300).",
                          "examples": [
                            "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg"
                          ],
                          "type": "string"
                        },
                        "title": {
                          "description": "Podcast name.",
                          "examples": [
                            "Star Wars 7x7 | Star Wars News, Interviews, and More!"
                          ],
                          "type": "string"
                        },
                        "total_episodes": {
                          "description": "Total number of episodes in this podcast.",
                          "examples": [
                            324
                          ],
                          "type": "integer"
                        },
                        "type": {
                          "description": "The type of this podcast - episodic or serial.",
                          "enum": [
                            "episodic",
                            "serial"
                          ],
                          "examples": [
                            "episodic"
                          ],
                          "type": "string"
                        },
                        "update_frequency_hours": {
                          "description": "How frequently does this podcast release a new episode? In hours. For example, if the value is 166, then it's every 166 hours (or weekly).",
                          "examples": [
                            168
                          ],
                          "type": "integer"
                        },
                        "website": {
                          "description": "Website url of this podcast.",
                          "examples": [
                            "http://sw7x7.com/"
                          ],
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "pub_date_ms": {
                      "description": "Published date for this episode. In millisecond.",
                      "examples": [
                        1474873200000
                      ],
                      "type": "integer"
                    },
                    "thumbnail": {
                      "description": "Thumbnail image (300x300) url for this episode.\nIf an episode doesn't have its own image, then this field would be the url of the podcast artwork thumbnail image.\n",
                      "examples": [
                        "https://cdn-images-1.listennotes.com/podcasts/exponent-ben-thompson-james-allworth-OaJSjb4xQv3.300x300.jpg"
                      ],
                      "type": "string"
                    },
                    "title": {
                      "description": "Episode name.",
                      "examples": [
                        "Celebration Recap, Jason Fry and Christian Blauvelt Interviews – SWBW #101"
                      ],
                      "type": "string"
                    },
                    "transcript": {
                      "description": "The transcript of this episode, in plain text (with the newline character \\n). If there's not transcript, it is null. This field is available only in the PRO/ENTERPRISE plan.",
                      "examples": [
                        "00:00:07 Welcome to this podcast...\n"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK",
            "headers": {
              "X-ListenAPI-FreeQuota": {
                "description": "Free quotas of API requests included in your api plan.",
                "explode": false,
                "schema": {
                  "examples": [
                    25000
                  ],
[...]
