{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "code": {
            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
            "format": "constant",
            "type": "string"
          },
          "fields": {
            "description": "List of the specific fields, and the errors found with their contents",
            "items": {
              "properties": {
                "code": {
                  "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                  "format": "constant",
                  "type": "string"
                },
                "message": {
                  "description": "Human-readable, English description of the problem with the contents of the field",
                  "type": "string"
                },
                "path": {
                  "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                  "format": "json-path",
                  "type": "string"
                },
                "pathRelated": {
                  "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                  "format": "json-path",
                  "type": "string"
                }
              },
              "required": [
                "path",
                "code"
              ]
            },
            "type": "array"
          },
          "message": {
            "description": "Human-readable, English description of the error",
            "type": "string"
          }
        },
        "required": [
          "code"
        ]
      },
      "ErrorField": {
        "properties": {
          "code": {
            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
            "format": "constant",
            "type": "string"
          },
          "message": {
            "description": "Human-readable, English description of the problem with the contents of the field",
            "type": "string"
          },
          "path": {
            "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
            "format": "json-path",
            "type": "string"
          },
          "pathRelated": {
            "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
            "format": "json-path",
            "type": "string"
          }
        },
        "required": [
          "path",
          "code"
        ]
      },
      "ErrorLimit": {
        "properties": {
          "code": {
            "description": "Short identifier for the error, suitable for indicating the specific error within client code",
            "format": "constant",
            "type": "string"
          },
          "fields": {
            "description": "List of the specific fields, and the errors found with their contents",
            "items": {
              "properties": {
                "code": {
                  "description": "Short identifier for the error, suitable for indicating the specific error within client code",
                  "format": "constant",
                  "type": "string"
                },
                "message": {
                  "description": "Human-readable, English description of the problem with the contents of the field",
                  "type": "string"
                },
                "path": {
                  "description": "<ul>\n<li style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath referring to a field that refers to an object containing an error, with more detail in `pathRelated`</li>\n</ul>",
                  "format": "json-path",
                  "type": "string"
                },
                "pathRelated": {
                  "description": "JSONPath referring to a field containing an error, which is referenced by `path`",
                  "format": "json-path",
                  "type": "string"
                }
              },
              "required": [
                "path",
                "code"
              ]
            },
            "type": "array"
          },
          "message": {
            "description": "Human-readable, English description of the error",
            "type": "string"
          },
          "retryAfterSec": {
            "description": "Number of seconds to wait before attempting a similar request",
            "format": "integer-positive",
            "type": "integer"
          }
        },
        "required": [
          "retryAfterSec",
          "code"
        ]
      },
      "LegalAgreement": {
        "properties": {
          "agreementKey": {
            "description": "Unique identifier for the legal agreement",
            "type": "string"
          },
          "content": {
            "description": "Contents of the legal agreement, suitable for embedding",
            "type": "string"
          },
          "title": {
            "description": "Title of the legal agreement",
            "type": "string"
          },
          "url": {
            "description": "URL to a page containing the legal agreement",
            "format": "url",
            "type": "string"
          }
        },
        "required": [
          "agreementKey",
          "title",
          "content"
        ]
      }
    }
  },
  "info": {
    "title": "",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "hosting"
    ],
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.godaddy.com/swagger/swagger_agreements.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "ote-godaddy.com",
    "x-serviceName": "agreements"
  },
  "openapi": "3.0.0",
  "paths": {
    "/auto901": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          }
        },
        "summary": "synthetic write"
      }
    }
  },
  "servers": [
    {
      "url": "//api.ote-godaddy.com"
    }
  ],
  "tags": [
    {
      "description": "",
      "name": "v1"
    }
  ]
}