{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.archive.org"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "internetarchive"
    },
    "description": "API for Internet Archive's Search-related services\n",
    "title": "Search Services",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "search"
    ],
    "x-logo": {
      "url": "https://twitter.com/internetarchive/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/ArchiveLabs/api.archive.org/master/swagger/search.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "archive.org",
    "x-serviceName": "search"
  },
  "paths": {
    "/products/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/profiles/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/search/v1/fields": {
      "get": {
        "description": "modified get /search/v1/fields",
        "parameters": [
          {
            "description": "Specifies a JavaScript function func, for a JSON-P response. When provided, results are wrapped as `callback(data)`, and the returned MIME type is application/javascript. This causes the caller to automatically run the func with the JSON results as its argument.",
            "in": "query",
            "name": "callback",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/javascript": {
                "schema": {
                  "items": {
                    "description": "The name of a field",
                    "type": "string"
                  },
                  "type": "array"
                }
              },
              "application/json": {
                "schema": {
                  "items": {
                    "description": "The name of a field",
                    "type": "string"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Fields that can be requested"
          }
        },
        "operationId": "get-search-v1-fields"
      }
    },
    "/search/v1/organic": {
      "get": {
        "description": "modified get /search/v1/organic",
        "parameters": [
          {
            "description": "Lucene-type search query",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Metadata field",
            "explode": true,
            "in": "query",
            "name": "field",
            "required": false,
            "schema": {
              "default": "identifier",
              "maxLength": 250,
              "minLength": 1,
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "description": "Number of query results to return",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "default": 1000,
              "maximum": 10000,
              "minimum": 10,
              "type": "integer"
            }
          },
          {
            "description": "Request total only; do not return hits",
            "in": "query",
            "name": "total_only",
            "required": false,
            "schema": {
              "default": false,
              "type": "string"
            }
          },
          {
            "description": "Specifies a JavaScript function func, for a JSON-P response. When provided, results are wrapped as `callback(data)`, and the returned MIME type is application/javascript. This causes the caller to automatically run the func with the JSON results as its argument.",
            "in": "query",
            "name": "callback",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/javascript": {
                "schema": {
                  "description": "The result of a organic search request",
                  "properties": {
                    "count": {
                      "description": "Number of results returned",
                      "maximum": 10000,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "items": {
                      "items": {
                        "description": "One item returned (object of fields and values)",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "total": {
                      "description": "Approximate number of results meeting query",
                      "minimum": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "application/json": {
                "schema": {
                  "description": "The result of a organic search request",
                  "properties": {
                    "count": {
                      "description": "Number of results returned",
                      "maximum": 10000,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "items": {
                      "items": {
                        "description": "One item returned (object of fields and values)",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "total": {
                      "description": "Approximate number of results meeting query",
                      "minimum": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Organic Search API. Returns results in descending relevance order"
          },
          "default": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "operationId": "get-search-v1-organic"
      }
    },
    "/search/v1/scrape": {
      "get": {
        "description": "modified get /search/v1/scrape",
        "parameters": [
          {
            "description": "Lucene-type search query",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Metadata field",
            "explode": true,
            "in": "query",
            "name": "field",
            "required": false,
            "schema": {
              "default": "identifier",
              "maxLength": 250,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "description": "sort collations",
            "explode": true,
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "maxLength": 250,
              "minLength": 5,
              "type": "string"
            }
          },
          {
            "description": "Number of query results to return",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "default": 1000,
              "maximum": 10000,
              "minimum": 10,
              "type": "string"
            }
          },
          {
            "description": "Cursor for scrolling (used for subsequent calls)",
            "in": "query",
            "name": "cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Request total only; do not return hits",
            "in": "query",
            "name": "total_only",
            "required": false,
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "Specifies a JavaScript function func, for a JSON-P response. When provided, results are wrapped as `callback(data)`, and the returned MIME type is application/javascript. This causes the caller to automatically run the func with the JSON results as its argument.",
            "in": "query",
            "name": "callback",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "added_23",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/javascript": {
                "schema": {
                  "description": "The result of a scrape request",
                  "properties": {
                    "count": {
                      "description": "Number of results returned",
                      "maximum": 10000,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "cursor": {
                      "description": "A scroll handle",
                      "type": "string"
                    },
                    "items": {
                      "items": {
                        "description": "One item returned (object of fields and values)",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "previous": {
                      "description": "A scroll handle",
                      "type": "string"
                    },
                    "total": {
                      "description": "Total number of results from this cursor point",
                      "minimum": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              },
              "application/json": {
                "schema": {
                  "description": "The result of a scrape request",
                  "properties": {
                    "count": {
                      "description": "Number of results returned",
                      "maximum": 10000,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "cursor": {
                      "description": "A scroll handle",
                      "type": "string"
                    },
                    "items": {
                      "items": {
                        "description": "One item returned (object of fields and values)",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "previous": {
                      "description": "A scroll handle",
                      "type": "string"
                    },
                    "total": {
                      "description": "Total number of results from this cursor point",
                      "minimum": 0,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Scaping API"
          },
          "default": {
            "content": {
              "application/javascript": {
                "schema": {
                  "properties": {
                    "code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              },
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "format": "int32",
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "operationId": "get-search-v1-scrape-v2"
      }
    }
  },
  "components": {
    "parameters": {
      "callback": {
        "description": "Specifies a JavaScript function func, for a JSON-P response. When provided, results are wrapped as `callback(data)`, and the returned MIME type is application/javascript. This causes the caller to automatically run the func with the JSON results as its argument.",
        "in": "query",
        "name": "callback",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "cursor": {
        "description": "Cursor for scrolling (used for subsequent calls)",
        "in": "query",
        "name": "cursor",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "field": {
        "description": "Metadata field",
        "explode": true,
        "in": "query",
        "name": "field",
        "required": false,
        "schema": {
          "default": "identifier",
          "maxLength": 250,
          "minLength": 1,
          "type": "string"
        }
      },
      "query": {
        "description": "Lucene-type search query",
        "in": "query",
        "name": "q",
        "schema": {
          "type": "string"
        }
      },
      "size": {
        "description": "Number of query results to return",
        "in": "query",
        "name": "size",
        "required": false,
        "schema": {
          "default": 1000,
          "maximum": 10000,
          "minimum": 10,
          "type": "integer"
        }
      },
      "sort": {
        "description": "sort collations",
        "explode": true,
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "maxLength": 250,
          "minLength": 5,
          "type": "string"
        }
      },
      "total_only": {
        "description": "Request total only; do not return hits",
        "in": "query",
        "name": "total_only",
        "required": false,
        "schema": {
          "default": false,
          "type": "boolean"
        }
      }
    },
    "schemas": {
      "Cursor": {
        "description": "A scroll handle",
        "type": "string"
      },
      "Error": {
        "properties": {
          "code": {
            "format": "int32",
            "type": "integer"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Field": {
        "description": "The name of a field",
        "type": "string"
      },
      "Hit": {
        "description": "One item returned (object of fields and values)",
        "type": "object"
      },
      "OrganicResult": {
        "description": "The result of a organic search request",
        "properties": {
          "count": {
            "description": "Number of results returned",
            "maximum": 10000,
            "minimum": 0,
            "type": "integer"
          },
          "items": {
            "items": {
              "description": "One item returned (object of fields and values)",
              "type": "object"
            },
            "type": "array"
          },
          "total": {
            "description": "Approximate number of results meeting query",
            "minimum": 0,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ScrapeResult": {
        "description": "The result of a scrape request",
        "properties": {
          "count": {
            "description": "Number of results returned",
            "maximum": 10000,
            "minimum": 0,
            "type": "integer"
          },
          "cursor": {
            "description": "A scroll handle",
            "type": "string"
          },
          "items": {
            "items": {
              "description": "One item returned (object of fields and values)",
              "type": "object"
            },
            "type": "array"
          },
          "previous": {
            "description": "A scroll handle",
            "type": "string"
          },
          "total": {
            "description": "Total number of results from this cursor point",
            "minimum": 0,
            "type": "integer"
          }
        },
        "type": "object"
      }
    }
  }
}