{
  "openapi": "3.0.0",
  "info": {
    "version": "2013-04-01",
    "x-release": "v4",
    "title": "Amazon Route 53",
    "description": "<p>Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web service.</p> <p>You can use Route 53 to:</p> <ul> <li> <p>Register domain names.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-domain-registration.html\">How domain registration works</a>.</p> </li> <li> <p>Route internet traffic to the resources for your domain</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-dns-service.html\">How internet traffic is routed to your website or web application</a>.</p> </li> <li> <p>Check the health of your resources.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-health-checks.html\">How Route 53 checks the health of your resources</a>.</p> </li> </ul>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "route53",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53-2013-04-01.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/route53/"
  },
  "servers": [
    {
      "url": "https://route53.amazonaws.com",
      "variables": {},
      "description": "The general Route 53 multi-region endpoint"
    },
    {
      "url": "http://route53.us-gov.amazonaws.com",
      "variables": {},
      "description": "The general Route 53 endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)"
    },
    {
      "url": "https://route53.us-gov.amazonaws.com",
      "variables": {},
      "description": "The general Route 53 endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)"
    },
    {
      "url": "http://route53.amazonaws.com.cn",
      "variables": {},
      "description": "The general Route 53 endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://route53.amazonaws.com.cn",
      "variables": {},
      "description": "The general Route 53 endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "paths": {
    "/profiles/{id}": {
      "get": {
        "operationId": "testdnsanswer",
        "description": "<p>Gets the value that Amazon Route 53 returns in response to a DNS request for a specified record name and type. You can optionally specify the IP address of a DNS resolver, an EDNS0 client subnet IP address, and a subnet mask. </p> <p>This call only supports querying public hosted zones.</p> <note> <p>The <code>TestDnsAnswer </code> returns information similar to what you would expect from the answer section of the <code>dig</code> command. Therefore, if you query for the name servers of a subdomain that point to the parent name servers, those will not be returned.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "Nameserver",
                    "RecordName",
                    "RecordType",
                    "RecordData",
                    "ResponseCode",
                    "Protocol"
                  ],
                  "properties": {
                    "Nameserver": {
                      "allOf": [
                        {
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 255
                        },
                        {
                          "description": "The Amazon Route 53 name server used to respond to the request."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "RecordName": {
                      "allOf": [
                        {
                          "type": "string",
                          "maxLength": 1024
                        },
                        {
                          "description": "The name of the resource record set that you submitted a request for."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "RecordType": {
                      "allOf": [
                        {
                          "type": "string",
                          "enum": [
                            "SOA",
                            "A",
                            "TXT",
                            "NS",
                            "CNAME",
                            "MX",
                            "NAPTR",
                            "PTR",
                            "SRV",
                            "SPF",
                            "AAAA",
                            "CAA",
                            "DS"
                          ]
                        },
                        {
                          "description": "The type of the resource record set that you submitted a request for."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "RecordData": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "string",
                                "description": "<p>A value that Amazon Route 53 returned for this resource record set. A <code>RecordDataEntry</code> element is one of the following:</p> <ul> <li> <p>For non-alias resource record sets, a <code>RecordDataEntry</code> element contains one value in the resource record set. If the resource record set contains multiple values, the response includes one <code>RecordDataEntry</code> element for each value.</p> </li> <li> <p>For multiple resource record sets that have the same name and type, which includes weighted, latency, geolocation, and failover, a <code>RecordDataEntry</code> element contains the value from the appropriate resource record set based on the request.</p> </li> <li> <p>For alias resource record sets that refer to Amazon Web Services resources other than another resource record set, the <code>RecordDataEntry</code> element contains an IP address or a domain name for the Amazon Web Services resource, depending on the type of resource.</p> </li> <li> <p>For alias resource record sets that refer to other resource record sets, a <code>RecordDataEntry</code> element contains one value from the referenced resource record set. If the referenced resource record set contains multiple values, the response includes one <code>RecordDataEntry</code> element for each value.</p> </li> </ul>",
                                "minLength": 0,
                                "maxLength": 512
                              },
                              {
                                "xml": {
                                  "name": "RecordDataEntry"
                                }
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        {
                          "description": "A list that contains values that Amazon Route 53 returned for this resource record set."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "ResponseCode": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "A code that indicates whether the request is valid or not. The most common response code is <code>NOERROR</code>, meaning that the request is valid. If the response is not valid, Amazon Route 53 returns a response code that describes the error. For a list of possible response codes, see <a href=\"http://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml#dns-parameters-6\">DNS RCODES</a> on the IANA website. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "Protocol": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The protocol that Amazon Route 53 used to respond to the request, either <code>UDP</code> or <code>TCP</code>. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type that contains the response to a <code>TestDNSAnswer</code> request. "
                }
              }
            }
          },
          "480": {
            "description": "NoSuchHostedZone",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidInput",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "hostedzoneid",
            "in": "query",
            "required": true,
            "description": "The ID of the hosted zone that you want Amazon Route 53 to simulate a query for.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "recordname",
            "in": "query",
            "required": true,
            "description": "The name of the resource record set that you want Amazon Route 53 to simulate a query for.",
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          },
          {
            "name": "recordtype",
            "in": "query",
            "required": true,
            "description": "The type of the resource record set.",
            "schema": {
              "type": "string",
              "enum": [
                "SOA",
                "A",
                "TXT",
                "NS",
                "CNAME",
                "MX",
                "NAPTR",
                "PTR",
                "SRV",
                "SPF",
                "AAAA",
                "CAA",
                "DS"
              ]
            }
          },
          {
            "name": "resolverip",
            "in": "query",
            "required": false,
            "description": "If you want to simulate a request from a specific DNS resolver, specify the IP address for that resolver. If you omit this value, <code>TestDnsAnswer</code> uses the IP address of a DNS resolver in the Amazon Web Services US East (N. Virginia) Region (<code>us-east-1</code>).",
            "schema": {
              "type": "string",
              "pattern": "(^((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))$|^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$)",
              "maxLength": 45
            }
          },
          {
            "name": "edns0clientsubnetip",
            "in": "query",
            "required": false,
            "description": "If the resolver that you specified for resolverip supports EDNS0, specify the IPv4 or IPv6 address of a client in the applicable location, for example, <code>192.0.2.44</code> or <code>2001:db8:85a3::8a2e:370:7334</code>.",
            "schema": {
              "type": "string",
              "pattern": "(^((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))$|^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])\\.){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$)",
              "maxLength": 45
            }
          },
          {
            "name": "edns0clientsubnetmask",
            "in": "query",
            "required": false,
            "description": "<p>If you specify an IP address for <code>edns0clientsubnetip</code>, you can optionally specify the number of bits of the IP address that you want the checking tool to include in the DNS query. For example, if you specify <code>192.0.2.44</code> for <code>edns0clientsubnetip</code> and <code>24</code> for <code>edns0clientsubnetmask</code>, the checking tool will simulate a request from 192.0.2.0/24. The default value is 24 bits for IPv4 addresses and 64 bits for IPv6 addresses.</p> <p>The range of valid values depends on whether <code>edns0clientsubnetip</code> is an IPv4 or an IPv6 address:</p> <ul> <li> <p> <b>IPv4</b>: Specify a value between 0 and 32</p> </li> <li> <p> <b>IPv6</b>: Specify a value between 0 and 128</p> </li> </ul>",
            "schema": {
              "type": "string",
              "minLength": 0,
              "maxLength": 3
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/products/{id}": {
      "get": {
        "operationId": "listtrafficpolicyinstances",
        "description": "modified get /2013-04-01/trafficpolicyinstances",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "TrafficPolicyInstances",
                    "IsTruncated",
                    "MaxItems"
                  ],
                  "properties": {
                    "TrafficPolicyInstances": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "required": [
                                  "Id",
                                  "HostedZoneId",
                                  "Name",
                                  "TTL",
                                  "State",
                                  "Message",
                                  "TrafficPolicyId",
                                  "TrafficPolicyVersion",
                                  "TrafficPolicyType"
                                ],
                                "properties": {
                                  "Id": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 36
                                      },
                                      {
                                        "description": "The ID that Amazon Route 53 assigned to the new traffic policy instance."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "HostedZoneId": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 32
                                      },
                                      {
                                        "description": "The ID of the hosted zone that Amazon Route 53 created resource record sets in."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Name": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 1024
                                      },
                                      {
                                        "description": "The DNS name, such as www.example.com, for which Amazon Route 53 responds to queries by using the resource record sets that are associated with this traffic policy instance. "
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TTL": {
                                    "allOf": [
                                      {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 2147483647
                                      },
                                      {
                                        "description": "The TTL that Amazon Route 53 assigned to all of the resource record sets that it created in the specified hosted zone."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "State": {
                                    "allOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "description": "<p>The value of <code>State</code> is one of the following values:</p> <dl> <dt>Applied</dt> <dd> <p>Amazon Route 53 has finished creating resource record sets, and changes have propagated to all Route 53 edge locations.</p> </dd> <dt>Creating</dt> <dd> <p>Route 53 is creating the resource record sets. Use <code>GetTrafficPolicyInstance</code> to confirm that the <code>CreateTrafficPolicyInstance</code> request completed successfully.</p> </dd> <dt>Failed</dt> <dd> <p>Route 53 wasn't able to create or update the resource record sets. When the value of <code>State</code> is <code>Failed</code>, see <code>Message</code> for an explanation of what caused the request to fail.</p> </dd> </dl>"
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Message": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 1024
                                      },
                                      {
                                        "description": "If <code>State</code> is <code>Failed</code>, an explanation of the reason for the failure. If <code>State</code> is another value, <code>Message</code> is empty."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TrafficPolicyId": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 36
                                      },
                                      {
                                        "description": "The ID of the traffic policy that Amazon Route 53 used to create resource record sets in the specified hosted zone."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TrafficPolicyVersion": {
                                    "allOf": [
                                      {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 1000
                                      },
                                      {
                                        "description": "The version of the traffic policy that Amazon Route 53 used to create resource record sets in the specified hosted zone."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TrafficPolicyType": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "SOA",
                                          "A",
                                          "TXT",
                                          "NS",
                                          "CNAME",
                                          "MX",
                                          "NAPTR",
                                          "PTR",
                                          "SRV",
                                          "SPF",
                                          "AAAA",
                                          "CAA",
                                          "DS"
                                        ]
                                      },
                                      {
                                        "description": "The DNS type that Amazon Route 53 assigned to all of the resource record sets that it created for this traffic policy instance. "
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  }
                                },
                                "description": "A complex type that contains settings for the new traffic policy instance."
                              },
                              {
                                "xml": {
                                  "name": "TrafficPolicyInstance"
                                }
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        {
                          "description": "A list that contains one <code>TrafficPolicyInstance</code> element for each traffic policy instance that matches the elements in the request."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "HostedZoneIdMarker": {
                      "allOf": [
                        {
                          "type": "string",
                          "maxLength": 32
                        },
                        {
                          "description": "If <code>IsTruncated</code> is <code>true</code>, <code>HostedZoneIdMarker</code> is the ID of the hosted zone of the first traffic policy instance that Route 53 will return if you submit another <code>ListTrafficPolicyInstances</code> request. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "TrafficPolicyInstanceNameMarker": {
                      "allOf": [
                        {
                          "type": "string",
                          "maxLength": 1024
                        },
                        {
                          "description": "If <code>IsTruncated</code> is <code>true</code>, <code>TrafficPolicyInstanceNameMarker</code> is the name of the first traffic policy instance that Route 53 will return if you submit another <code>ListTrafficPolicyInstances</code> request. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "TrafficPolicyInstanceTypeMarker": {
                      "allOf": [
                        {
                          "type": "string",
                          "enum": [
                            "SOA",
                            "A",
                            "TXT",
                            "NS",
                            "CNAME",
                            "MX",
                            "NAPTR",
                            "PTR",
                            "SRV",
                            "SPF",
                            "AAAA",
                            "CAA",
                            "DS"
                          ]
                        },
                        {
                          "description": "If <code>IsTruncated</code> is <code>true</code>, <code>TrafficPolicyInstanceTypeMarker</code> is the DNS type of the resource record sets that are associated with the first traffic policy instance that Amazon Route 53 will return if you submit another <code>ListTrafficPolicyInstances</code> request. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "IsTruncated": {
                      "allOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "description": "A flag that indicates whether there are more traffic policy instances to be listed. If the response was truncated, you can get more traffic policy instances by calling <code>ListTrafficPolicyInstances</code> again and specifying the values of the <code>HostedZoneIdMarker</code>, <code>TrafficPolicyInstanceNameMarker</code>, and <code>TrafficPolicyInstanceTypeMarker</code> in the corresponding request parameters."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "MaxItems": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The value that you specified for the <code>MaxItems</code> parameter in the call to <code>ListTrafficPolicyInstances</code> that produced the current response."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type that contains the response information for the request."
                }
              }
            }
          },
          "480": {
            "description": "InvalidInput",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NoSuchTrafficPolicyInstance",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "hostedzoneid",
            "in": "query",
            "required": false,
            "description": "<p>If the value of <code>IsTruncated</code> in the previous response was <code>true</code>, you have more traffic policy instances. To get more traffic policy instances, submit another <code>ListTrafficPolicyInstances</code> request. For the value of <code>HostedZoneId</code>, specify the value of <code>HostedZoneIdMarker</code> from the previous response, which is the hosted zone ID of the first traffic policy instance in the next group of traffic policy instances.</p> <p>If the value of <code>IsTruncated</code> in the previous response was <code>false</code>, there are no more traffic policy instances to get.</p>",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "<p>If the value of <code>IsTruncated</code> in the previous response was <code>true</code>, you have more traffic policy instances. To get more traffic policy instances, submit another <code>ListTrafficPolicyInstances</code> request. For the value of <code>trafficpolicyinstancename</code>, specify the value of <code>TrafficPolicyInstanceNameMarker</code> from the previous response, which is the name of the first traffic policy instance in the next group of traffic policy instances.</p> <p>If the value of <code>IsTruncated</code> in the previous response was <code>false</code>, there are no more traffic policy instances to get.</p>",
            "schema": {
              "type": "integer",
              "maxLength": 1024
            }
          },
          {
            "name": "sku",
            "in": "query",
            "required": true,
            "description": "<p>If the value of <code>IsTruncated</code> in the previous response was <code>true</code>, you have more traffic policy instances. To get more traffic policy instances, submit another <code>ListTrafficPolicyInstances</code> request. For the value of <code>trafficpolicyinstancetype</code>, specify the value of <code>TrafficPolicyInstanceTypeMarker</code> from the previous response, which is the type of the first traffic policy instance in the next group of traffic policy instances.</p> <p>If the value of <code>IsTruncated</code> in the previous response was <code>false</code>, there are no more traffic policy instances to get.</p>",
            "schema": {
              "type": "string",
              "enum": [
                "SOA",
                "A",
                "TXT",
                "NS",
                "CNAME",
                "MX",
                "NAPTR",
                "PTR",
                "SRV",
                "SPF",
                "AAAA",
                "CAA",
                "DS"
              ]
            }
          },
          {
            "name": "maxitems",
            "in": "query",
            "required": false,
            "description": "The maximum number of traffic policy instances that you want Amazon Route 53 to return in response to a <code>ListTrafficPolicyInstances</code> request. If you have more than <code>MaxItems</code> traffic policy instances, the value of the <code>IsTruncated</code> element in the response is <code>true</code>, and the values of <code>HostedZoneIdMarker</code>, <code>TrafficPolicyInstanceNameMarker</code>, and <code>TrafficPolicyInstanceTypeMarker</code> represent the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances.",
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/transactions/{id}": {
      "get": {
        "operationId": "gethealthcheckcount",
        "description": "Retrieves the number of health checks that are associated with the current Amazon Web Services account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "HealthCheckCount"
                  ],
                  "properties": {
                    "HealthCheckCount": {
                      "allOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "description": "The number of health checks associated with the current Amazon Web Services account."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type that contains the response to a <code>GetHealthCheckCount</code> request."
                }
              }
            }
          }
        },
        "parameters": []
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/payments/{id}": {
      "post": {
        "operationId": "enablehostedzonednssec-v2",
        "description": "Enables DNSSEC signing in a specific hosted zone.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ChangeInfo"
                  ],
                  "properties": {
                    "ChangeInfo": {
                      "type": "object",
                      "required": [
                        "Id",
                        "Status",
                        "SubmittedAt"
                      ],
                      "properties": {
                        "Id": {
                          "allOf": [
                            {
                              "type": "string",
                              "maxLength": 32
                            },
                            {
                              "description": "This element contains an ID that you use when performing a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html\">GetChange</a> action to get detailed information about the change."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "Status": {
                          "allOf": [
                            {
                              "type": "string",
                              "enum": [
                                "PENDING",
                                "INSYNC"
                              ]
                            },
                            {
                              "description": "The current state of the request. <code>PENDING</code> indicates that this request has not yet been applied to all Amazon Route 53 DNS servers."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "SubmittedAt": {
                          "allOf": [
                            {
                              "type": "string",
                              "format": "date-time"
                            },
                            {
                              "description": "The date and time that the change request was submitted in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601 format</a> and Coordinated Universal Time (UTC). For example, the value <code>2017-03-27T17:48:16.751Z</code> represents March 27, 2017 at 17:48:16.751 UTC."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "Comment": {
                          "allOf": [
                            {
                              "type": "string",
                              "maxLength": 256
                            },
                            {
                              "description": "A comment you can provide."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        }
                      },
                      "description": "A complex type that describes change information about changes made to your hosted zone."
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "NoSuchHostedZone",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidArgument",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ConcurrentModification",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "KeySigningKeyWithActiveStatusNotFound",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "InvalidKMSArn",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "HostedZonePartiallyDelegated",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "DNSSECNotFound",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "487": {
            "description": "InvalidKeySigningKeyStatus",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "488": {
            "description": "InvalidInput",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "description": "A unique string used to identify a hosted zone.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/orders/{id}": {
      "get": {
        "operationId": "getreusabledelegationsetlimit",
        "description": "<p>Gets the maximum number of hosted zones that you can associate with the specified reusable delegation set.</p> <p>For the default limit, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</a> in the <i>Amazon Route 53 Developer Guide</i>. To request a higher limit, <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&amp;limitType=service-code-route53\">open a case</a>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "Limit",
                    "Count"
                  ],
                  "properties": {
                    "Limit": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "Type",
                            "Value"
                          ],
                          "properties": {
                            "Type": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "MAX_ZONES_BY_REUSABLE_DELEGATION_SET"
                                  ]
                                },
                                {
                                  "description": "The limit that you requested: <code>MAX_ZONES_BY_REUSABLE_DELEGATION_SET</code>, the maximum number of hosted zones that you can associate with the specified reusable delegation set."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Value": {
                              "allOf": [
                                {
                                  "type": "integer",
                                  "minimum": 1
                                },
                                {
                                  "description": "The current value for the <code>MAX_ZONES_BY_REUSABLE_DELEGATION_SET</code> limit."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "A complex type that contains the type of limit that you specified in the request and the current value for that limit."
                        },
                        {
                          "description": "The current setting for the limit on hosted zones that you can associate with the specified reusable delegation set."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "Count": {
                      "allOf": [
                        {
                          "type": "integer",
                          "minimum": 0
                        },
                        {
                          "description": "The current number of hosted zones that you can associate with the specified reusable delegation set."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type that contains the requested limit. "
                }
              }
            }
          },
          "480": {
            "description": "InvalidInput",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NoSuchDelegationSet",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Type",
            "in": "path",
            "required": true,
            "description": "Specify <code>MAX_ZONES_BY_REUSABLE_DELEGATION_SET</code> to get the maximum number of hosted zones that you can associate with the specified reusable delegation set.",
            "schema": {
              "type": "string",
              "enum": [
                "MAX_ZONES_BY_REUSABLE_DELEGATION_SET"
              ]
            }
          },
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "description": "The ID of the delegation set that you want to get the limit for.",
            "schema": {
              "type": "string",
              "maxLength": 32
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/shipments/{id}": {
      "get": {
        "operationId": "gettrafficpolicyinstancecount",
        "description": "Gets the number of traffic policy instances that are associated with the current Amazon Web Services account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "TrafficPolicyInstanceCount"
                  ],
                  "properties": {
                    "TrafficPolicyInstanceCount": {
                      "allOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "description": "The number of traffic policy instances that are associated with the current Amazon Web Services account."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type that contains information about the resource record sets that Amazon Route 53 created based on a specified traffic policy."
                }
              }
            }
          }
        },
        "parameters": []
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/carts/{id}": {
      "post": {
        "operationId": "createtrafficpolicyinstance",
        "description": "modified post /2013-04-01/trafficpolicyinstance",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "TrafficPolicyInstance"
                  ],
                  "properties": {
                    "TrafficPolicyInstance": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "Id",
                            "HostedZoneId",
                            "Name",
                            "TTL",
                            "State",
                            "Message",
                            "TrafficPolicyId",
                            "TrafficPolicyVersion",
                            "TrafficPolicyType"
                          ],
                          "properties": {
                            "Id": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 36
                                },
                                {
                                  "description": "The ID that Amazon Route 53 assigned to the new traffic policy instance."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "HostedZoneId": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "maxLength": 32
                                },
                                {
                                  "description": "The ID of the hosted zone that Amazon Route 53 created resource record sets in."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Name": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "maxLength": 1024
                                },
                                {
                                  "description": "The DNS name, such as www.example.com, for which Amazon Route 53 responds to queries by using the resource record sets that are associated with this traffic policy instance. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "TTL": {
                              "allOf": [
                                {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 2147483647
                                },
                                {
                                  "description": "The TTL that Amazon Route 53 assigned to all of the resource record sets that it created in the specified hosted zone."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "State": {
                              "allOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "description": "<p>The value of <code>State</code> is one of the following values:</p> <dl> <dt>Applied</dt> <dd> <p>Amazon Route 53 has finished creating resource record sets, and changes have propagated to all Route 53 edge locations.</p> </dd> <dt>Creating</dt> <dd> <p>Route 53 is creating the resource record sets. Use <code>GetTrafficPolicyInstance</code> to confirm that the <code>CreateTrafficPolicyInstance</code> request completed successfully.</p> </dd> <dt>Failed</dt> <dd> <p>Route 53 wasn't able to create or update the resource record sets. When the value of <code>State</code> is <code>Failed</code>, see <code>Message</code> for an explanation of what caused the request to fail.</p> </dd> </dl>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Message": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "maxLength": 1024
                                },
                                {
                                  "description": "If <code>State</code> is <code>Failed</code>, an explanation of the reason for the failure. If <code>State</code> is another value, <code>Message</code> is empty."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "TrafficPolicyId": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 36
                                },
                                {
                                  "description": "The ID of the traffic policy that Amazon Route 53 used to create resource record sets in the specified hosted zone."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "TrafficPolicyVersion": {
                              "allOf": [
                                {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 1000
                                },
                                {
                                  "description": "The version of the traffic policy that Amazon Route 53 used to create resource record sets in the specified hosted zone."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "TrafficPolicyType": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "SOA",
                                    "A",
                                    "TXT",
                                    "NS",
                                    "CNAME",
                                    "MX",
                                    "NAPTR",
                                    "PTR",
                                    "SRV",
                                    "SPF",
                                    "AAAA",
                                    "CAA",
                                    "DS"
                                  ]
                                },
                                {
                                  "description": "The DNS type that Amazon Route 53 assigned to all of the resource record sets that it created for this traffic policy instance. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "A complex type that contains settings for the new traffic policy instance."
                        },
                        {
                          "description": "A complex type that contains settings for the new traffic policy instance."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type that contains the response information for the <code>CreateTrafficPolicyInstance</code> request."
                }
              }
            }
          },
          "480": {
            "description": "NoSuchHostedZone",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidInput",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "TooManyTrafficPolicyInstances",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "NoSuchTrafficPolicy",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "TrafficPolicyInstanceAlreadyExists",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "added_59",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "HostedZoneId",
                  "Name",
                  "TTL",
                  "TrafficPolicyId",
                  "TrafficPolicyVersion"
                ],
                "properties": {
                  "HostedZoneId": {
                    "description": "The ID of the hosted zone that you want Amazon Route 53 to create resource record sets in by using the configuration in a traffic policy.",
                    "type": "string",
                    "maxLength": 32
                  },
                  "Name": {
                    "description": "The domain name (such as example.com) or subdomain name (such as www.example.com) for which Amazon Route 53 responds to DNS queries by using the resource record sets that Route 53 creates for this traffic policy instance.",
                    "type": "string",
                    "maxLength": 1024
                  },
                  "TTL": {
                    "description": "(Optional) The TTL that you want Amazon Route 53 to assign to all of the resource record sets that it creates in the specified hosted zone.",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 2147483647
                  },
                  "TrafficPolicyId": {
                    "description": "The ID of the traffic policy that you want to use to create resource record sets in the specified hosted zone.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 36
                  },
                  "TrafficPolicyVersion": {
                    "description": "The version of the traffic policy that you want to use to create resource record sets in the specified hosted zone.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1000
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/billing/{id}": {
      "post": {
        "operationId": "listtagsforresources",
        "description": "<p>Lists tags for up to 10 health checks or hosted zones.</p> <p>For information about using tags for cost allocation, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management User Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ResourceTagSets"
                  ],
                  "properties": {
                    "ResourceTagSets": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "ResourceType": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "healthcheck",
                                          "hostedzone"
                                        ]
                                      },
                                      {
                                        "description": "<p>The type of the resource.</p> <ul> <li> <p>The resource type for health checks is <code>healthcheck</code>.</p> </li> <li> <p>The resource type for hosted zones is <code>hostedzone</code>.</p> </li> </ul>"
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "ResourceId": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 64
                                      },
                                      {
                                        "description": "The ID for the specified resource."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Tags": {
                                    "allOf": [
                                      {
                                        "type": "array",
                                        "items": {
                                          "allOf": [
                                            {
                                              "type": "object",
                                              "properties": {
                                                "Key": {
                                                  "allOf": [
                                                    {
                                                      "type": "string",
                                                      "maxLength": 128
                                                    },
                                                    {
                                                      "description": "<p>The value of <code>Key</code> depends on the operation that you want to perform:</p> <ul> <li> <p> <b>Add a tag to a health check or hosted zone</b>: <code>Key</code> is the name that you want to give the new tag.</p> </li> <li> <p> <b>Edit a tag</b>: <code>Key</code> is the name of the tag that you want to change the <code>Value</code> for.</p> </li> <li> <p> <b> Delete a key</b>: <code>Key</code> is the name of the tag you want to remove.</p> </li> <li> <p> <b>Give a name to a health check</b>: Edit the default <code>Name</code> tag. In the Amazon Route 53 console, the list of your health checks includes a <b>Name</b> column that lets you see the name that you've given to each health check.</p> </li> </ul>"
                                                    }
                                                  ],
                                                  "_polymorphic_marker": {
                                                    "allOf": true
                                                  }
                                                },
                                                "Value": {
                                                  "allOf": [
                                                    {
                                                      "type": "string",
                                                      "maxLength": 256
                                                    },
                                                    {
                                                      "description": "<p>The value of <code>Value</code> depends on the operation that you want to perform:</p> <ul> <li> <p> <b>Add a tag to a health check or hosted zone</b>: <code>Value</code> is the value that you want to give the new tag.</p> </li> <li> <p> <b>Edit a tag</b>: <code>Value</code> is the new value that you want to assign the tag.</p> </li> </ul>"
                                                    }
                                                  ],
                                                  "_polymorphic_marker": {
                                                    "allOf": true
                                                  }
                                                }
                                              },
                                              "description": "A complex type that contains information about a tag that you want to add or edit for the specified health check or hosted zone."
                                            },
                                            {
                                              "xml": {
                                                "name": "Tag"
                                              }
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        },
                                        "minItems": 1,
                                        "maxItems": 10
                                      },
                                      {
                                        "description": "The tags associated with the specified resource."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  }
                                },
                                "description": "A complex type containing a resource and its associated tags."
                              },
                              {
                                "xml": {
                                  "name": "ResourceTagSet"
                                }
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        {
                          "description": "A list of <code>ResourceTagSet</code>s containing tags associated with the specified resources."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type containing tags for the specified resources."
                }
              }
            }
          },
          "480": {
            "description": "InvalidInput",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NoSuchHealthCheck",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "NoSuchHostedZone",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "PriorRequestNotComplete",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ThrottlingException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ResourceType",
            "in": "path",
            "required": true,
            "description": "<p>The type of the resources.</p> <ul> <li> <p>The resource type for health checks is <code>healthcheck</code>.</p> </li> <li> <p>The resource type for hosted zones is <code>hostedzone</code>.</p> </li> </ul>",
            "schema": {
              "type": "integer",
              "enum": [
                "healthcheck",
                "hostedzone"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "ResourceIds"
                ],
                "properties": {
                  "ResourceIds": {
                    "description": "A complex type that contains the ResourceId element for each resource for which you want to get a list of tags.",
                    "type": "array",
                    "items": {
                      "allOf": [
                        {
                          "type": "string",
                          "maxLength": 64
                        },
                        {
                          "xml": {
                            "name": "ResourceId"
                          }
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "minItems": 1,
                    "maxItems": 10
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/users/{id}": {
      "get": {
        "operationId": "listtrafficpolicyinstancesbypolicy",
        "description": "<p>Gets information about the traffic policy instances that you created by using a specify traffic policy version.</p> <note> <p>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "TrafficPolicyInstances",
                    "IsTruncated",
                    "MaxItems"
                  ],
                  "properties": {
                    "TrafficPolicyInstances": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "allOf": [
                              {
                                "type": "object",
                                "required": [
                                  "Id",
                                  "HostedZoneId",
                                  "Name",
                                  "TTL",
                                  "State",
                                  "Message",
                                  "TrafficPolicyId",
                                  "TrafficPolicyVersion",
                                  "TrafficPolicyType"
                                ],
                                "properties": {
                                  "Id": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 36
                                      },
                                      {
                                        "description": "The ID that Amazon Route 53 assigned to the new traffic policy instance."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "HostedZoneId": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 32
                                      },
                                      {
                                        "description": "The ID of the hosted zone that Amazon Route 53 created resource record sets in."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Name": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 1024
                                      },
                                      {
                                        "description": "The DNS name, such as www.example.com, for which Amazon Route 53 responds to queries by using the resource record sets that are associated with this traffic policy instance. "
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TTL": {
                                    "allOf": [
                                      {
                                        "type": "integer",
                                        "minimum": 0,
                                        "maximum": 2147483647
                                      },
                                      {
                                        "description": "The TTL that Amazon Route 53 assigned to all of the resource record sets that it created in the specified hosted zone."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "State": {
                                    "allOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "description": "<p>The value of <code>State</code> is one of the following values:</p> <dl> <dt>Applied</dt> <dd> <p>Amazon Route 53 has finished creating resource record sets, and changes have propagated to all Route 53 edge locations.</p> </dd> <dt>Creating</dt> <dd> <p>Route 53 is creating the resource record sets. Use <code>GetTrafficPolicyInstance</code> to confirm that the <code>CreateTrafficPolicyInstance</code> request completed successfully.</p> </dd> <dt>Failed</dt> <dd> <p>Route 53 wasn't able to create or update the resource record sets. When the value of <code>State</code> is <code>Failed</code>, see <code>Message</code> for an explanation of what caused the request to fail.</p> </dd> </dl>"
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Message": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 1024
                                      },
                                      {
                                        "description": "If <code>State</code> is <code>Failed</code>, an explanation of the reason for the failure. If <code>State</code> is another value, <code>Message</code> is empty."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TrafficPolicyId": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 36
                                      },
                                      {
                                        "description": "The ID of the traffic policy that Amazon Route 53 used to create resource record sets in the specified hosted zone."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TrafficPolicyVersion": {
                                    "allOf": [
                                      {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 1000
                                      },
                                      {
                                        "description": "The version of the traffic policy that Amazon Route 53 used to create resource record sets in the specified hosted zone."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "TrafficPolicyType": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "enum": [
                                          "SOA",
                                          "A",
                                          "TXT",
                                          "NS",
                                          "CNAME",
                                          "MX",
                                          "NAPTR",
                                          "PTR",
                                          "SRV",
                                          "SPF",
                                          "AAAA",
                                          "CAA",
                                          "DS"
                                        ]
                                      },
                                      {
                                        "description": "The DNS type that Amazon Route 53 assigned to all of the resource record sets that it created for this traffic policy instance. "
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  }
                                },
                                "description": "A complex type that contains settings for the new traffic policy instance."
                              },
                              {
                                "xml": {
                                  "name": "TrafficPolicyInstance"
                                }
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        {
                          "description": "A list that contains one <code>TrafficPolicyInstance</code> element for each traffic policy instance that matches the elements in the request."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "HostedZoneIdMarker": {
                      "allOf": [
                        {
                          "type": "string",
                          "maxLength": 32
                        },
                        {
                          "description": "If <code>IsTruncated</code> is <code>true</code>, <code>HostedZoneIdMarker</code> is the ID of the hosted zone of the first traffic policy instance in the next group of traffic policy instances."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "TrafficPolicyInstanceNameMarker": {
                      "allOf": [
                        {
                          "type": "string",
                          "maxLength": 1024
                        },
                        {
                          "description": "If <code>IsTruncated</code> is <code>true</code>, <code>TrafficPolicyInstanceNameMarker</code> is the name of the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "TrafficPolicyInstanceTypeMarker": {
                      "allOf": [
                        {
                          "type": "string",
                          "enum": [
                            "SOA",
                            "A",
                            "TXT",
                            "NS",
                            "CNAME",
                            "MX",
                            "NAPTR",
                            "PTR",
                            "SRV",
                            "SPF",
                            "AAAA",
                            "CAA",
                            "DS"
                          ]
                        },
                        {
                          "description": "If <code>IsTruncated</code> is <code>true</code>, <code>TrafficPolicyInstanceTypeMarker</code> is the DNS type of the resource record sets that are associated with the first traffic policy instance in the next group of <code>MaxItems</code> traffic policy instances."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "IsTruncated": {
                      "allOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "description": "A flag that indicates whether there are more traffic policy instances to be listed. If the response was truncated, you can get the next group of traffic policy instances by calling <code>ListTrafficPolicyInstancesByPolicy</code> again and specifying the values of the <code>HostedZoneIdMarker</code>, <code>TrafficPolicyInstanceNameMarker</code>, and <code>TrafficPolicyInstanceTypeMarker</code> elements in the corresponding request parameters."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "MaxItems": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The value that you specified for the <code>MaxItems</code> parameter in the call to <code>ListTrafficPolicyInstancesByPolicy</code> that produced the current response."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "A complex type that contains the response information for the request."
                }
              }
            }
          },
          "480": {
            "description": "InvalidInput",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NoSuchTrafficPolicyInstance",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "NoSuchTrafficPolicy",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "The ID of the traffic policy for which you want to list traffic policy instances.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          },
[...]
