{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://api.axesso.de"
    }
  ],
  "info": {
    "contact": {
      "email": "support@axesso.de"
    },
    "description": "Use this api to fetch information to Amazon products and more.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "Axesso Api",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/Axesso/axesso-java-client/master/swagger/axessor_api_def_swagger.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "axesso.de"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://api-doc.axesso.de/"
  },
  "tags": [
    {
      "description": "APIs for request on Amazon",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://api.axesso.de/"
      },
      "name": "amz"
    }
  ],
  "paths": {
    "/amz/amazon-lookup-buy-recommendations": {
      "get": {
        "description": "modified get /amz/amazon-lookup-buy-recommendations",
        "operationId": "requestbuyrecommendation",
        "parameters": [
          {
            "description": "The url of the requested product.",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "buyRecommendations": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "numberOfProducts": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "responseMessage": {
                      "example": "Product successfully found!",
                      "type": "string"
                    },
                    "responseStatus": {
                      "example": "PRODUCT_FOUND_RESPONSE",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request - Missing parameter"
          },
          "404": {
            "description": "Not Found - Product not Found"
          },
          "406": {
            "description": "Not Acceptable - Wrong parameter"
          }
        },
        "summary": "request buy recommendations to a given product",
        "tags": [
          "amz"
        ]
      }
    },
    "/amz/amazon-lookup-product": {
      "get": {
        "description": "modified get /amz/amazon-lookup-product",
        "operationId": "requestproduct",
        "parameters": [
          {
            "description": "The url of the requested product.",
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Size parameter if available.",
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "answeredQuestions": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "asin": {
                      "example": "B077Q3YRP5",
                      "type": "string"
                    },
                    "countReview": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "features": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "fulfilledBy": {
                      "example": "Amazon",
                      "type": "string"
                    },
                    "manufacturer": {
                      "example": "Sony",
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    },
                    "priceSaving": {
                      "example": "You Save: $59,58 (43%)",
                      "type": "string"
                    },
                    "priceShippingInformation": {
                      "example": "free",
                      "type": "string"
                    },
                    "prime": {
                      "type": "boolean"
                    },
                    "productRating": {
                      "example": "4.4 out of 5 stars",
                      "type": "string"
                    },
                    "productTitle": {
                      "example": "Playstation 4",
                      "type": "string"
                    },
                    "responseMessage": {
                      "example": "Product successfully found!",
                      "type": "string"
                    },
                    "responseStatus": {
                      "example": "PRODUCT_FOUND_RESPONSE",
                      "type": "string"
                    },
                    "retailPrice": {
                      "type": "number"
                    },
                    "sizeSelection": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "soldBy": {
                      "example": "Sony",
                      "type": "string"
                    },
                    "warehouseAvailability": {
                      "example": "In Stock",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request - Missing parameter"
          },
          "404": {
            "description": "Not Found - Product not Found"
          },
          "406": {
            "description": "Not Acceptable - Wrong parameter"
          }
        },
        "security": [],
        "summary": "lookup product information",
        "tags": [
          "amz"
        ]
      }
    },
    "/amz/amazon-search-by-keyword": {
      "get": {
        "description": "modified get /amz/amazon-search-by-keyword",
        "operationId": "keywordsearch",
        "parameters": [
          {
            "description": "keyword to search",
            "in": "query",
            "name": "keyword",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "domain for the search",
            "in": "query",
            "name": "domainCode",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "sort option",
            "in": "query",
            "name": "sortBy",
            "schema": {
              "default": "relevanceblender",
              "type": "string"
            }
          },
          {
            "description": "number of the results (max 20)",
            "in": "query",
            "name": "numberOfProducts",
            "schema": {
              "default": "20",
              "type": "integer"
            }
          },
          {
            "name": "added_61",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "domainCode": {
                      "example": "com",
                      "type": "string"
                    },
                    "foundProducts": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "keyword": {
                      "example": "Playstation 4",
                      "type": "string"
                    },
                    "numberOfProducts": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "responseMessage": {
                      "example": "Product successfully found!",
                      "type": "string"
                    },
                    "responseStatus": {
                      "example": "PRODUCT_FOUND_RESPONSE",
                      "type": "string"
                    },
                    "sortStrategy": {
                      "example": "date-desc-rank",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "description": "Bad Request - Missing parameter"
          },
          "404": {
            "description": "Not Found - Product not Found"
          }
        },
        "security": [],
        "summary": "fetch results auf a keyword search on Amazon",
        "tags": [
          "amz"
        ]
      }
    },
    "/amz/sort-options": {
      "get": {
        "description": "modified get /amz/sort-options",
        "operationId": "sortoptions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "responseMessage": {
                      "example": "Product successfully found!",
                      "type": "string"
                    },
                    "responseStatus": {
                      "example": "PRODUCT_FOUND_RESPONSE",
                      "type": "string"
                    },
                    "resultSize": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "sortOptions": {
                      "items": {
                        "properties": {
                          "order": {
                            "format": "int64",
                            "type": "integer"
                          },
                          "sortName": {
                            "example": "relevanceblender",
                            "type": "string"
                          },
                          "strategy": {
                            "example": "AMAZON_FEATURED",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "summary": "request available sort options to use in keyword search",
        "tags": [
          "amz"
        ],
        "parameters": []
      }
    },
    "/payments/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/products/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "parameters": [],
        "operationId": "etic-diff"
      }
    },
    "/inventory/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    }
  },
  "components": {
    "schemas": {
      "BuyRecommendationResponse": {
        "properties": {
          "buyRecommendations": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "numberOfProducts": {
            "format": "int64",
            "type": "integer"
          },
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          }
        },
        "type": "object"
      },
      "KeywordSearchResponse": {
        "properties": {
          "domainCode": {
            "example": "com",
            "type": "string"
          },
          "foundProducts": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "keyword": {
            "example": "Playstation 4",
            "type": "string"
          },
          "numberOfProducts": {
            "format": "int64",
            "type": "integer"
          },
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          },
          "sortStrategy": {
            "example": "date-desc-rank",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ProductDetailsResponse": {
        "properties": {
          "answeredQuestions": {
            "format": "int64",
            "type": "integer"
          },
          "asin": {
            "example": "B077Q3YRP5",
            "type": "string"
          },
          "countReview": {
            "format": "int64",
            "type": "integer"
          },
          "features": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "fulfilledBy": {
            "example": "Amazon",
            "type": "string"
          },
          "manufacturer": {
            "example": "Sony",
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "priceSaving": {
            "example": "You Save: $59,58 (43%)",
            "type": "string"
          },
          "priceShippingInformation": {
            "example": "free",
            "type": "string"
          },
          "prime": {
            "type": "boolean"
          },
          "productRating": {
            "example": "4.4 out of 5 stars",
            "type": "string"
          },
          "productTitle": {
            "example": "Playstation 4",
            "type": "string"
          },
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          },
          "retailPrice": {
            "type": "number"
          },
          "sizeSelection": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "soldBy": {
            "example": "Sony",
            "type": "string"
          },
          "warehouseAvailability": {
            "example": "In Stock",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SortOptionResponse": {
        "properties": {
          "responseMessage": {
            "example": "Product successfully found!",
            "type": "string"
          },
          "responseStatus": {
            "example": "PRODUCT_FOUND_RESPONSE",
            "type": "string"
          },
          "resultSize": {
            "format": "int64",
            "type": "integer"
          },
          "sortOptions": {
            "items": {
              "properties": {
                "order": {
                  "format": "int64",
                  "type": "integer"
                },
                "sortName": {
                  "example": "relevanceblender",
                  "type": "string"
                },
                "strategy": {
                  "example": "AMAZON_FEATURED",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  }
}