{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://control.ably.net/v1"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "ablyrealtime"
    },
    "title": "API V1",
    "version": "v1",
    "x-apisguru-categories": [
      "cloud",
      "cloud"
    ],
    "x-logo": {
      "url": "https://twitter.com/ablyrealtime/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://ably.com/api-docs/v1/swagger.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "ably.net",
    "x-serviceName": "control"
  },
  "paths": {
    "/accounts/{account_id}/apps": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "additionalProperties": false,
                    "properties": {
                      "_links": {
                        "nullable": true,
                        "type": "object"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "apnsUseSandboxEndpoint": {
                        "nullable": true,
                        "type": "boolean"
                      },
                      "created": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "string"
                      },
                      "modified": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "tlsOnly": {
                        "nullable": true,
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "App list"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Account not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Lists account apps",
        "tags": [
          "apps"
        ],
        "description": "modified get /accounts/{account_id}/apps"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "apnsCertificate": {
                    "nullable": true,
                    "type": "string"
                  },
                  "apnsPrivateKey": {
                    "nullable": true,
                    "type": "string"
                  },
                  "apnsUseSandboxEndpoint": {
                    "nullable": true,
                    "type": "boolean"
                  },
                  "fcmKey": {
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "status": {
                    "deprecated": true,
                    "type": "string"
                  },
                  "tlsOnly": {
                    "nullable": true,
                    "type": "boolean"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "_links": {
                      "nullable": true,
                      "type": "object"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "apnsUseSandboxEndpoint": {
                      "nullable": true,
                      "type": "boolean"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "tlsOnly": {
                      "nullable": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "App created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Account not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates an app",
        "tags": [
          "apps"
        ]
      }
    },
    "/apps/{app_id}/keys": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "additionalProperties": false,
                    "example": {
                      "appId": "string",
                      "capability": {
                        "channel1": [
                          "publish",
                          "subscribe"
                        ],
                        "channel2": [
                          "history"
                        ]
                      },
                      "created": 0,
                      "id": "string",
                      "key": "string",
                      "modified": 0,
                      "name": "string"
                    },
                    "properties": {
                      "appId": {
                        "type": "string"
                      },
                      "capability": {
                        "additionalProperties": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "type": "object"
                      },
                      "created": {
                        "type": "integer"
                      },
                      "id": {
                        "type": "string"
                      },
                      "key": {
                        "type": "string"
                      },
                      "modified": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      },
                      "status": {
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Key list"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Lists app keys",
        "tags": [
          "keys"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "capability": {
                    "channel1": [
                      "publish",
                      "subscribe"
                    ],
                    "channel2": [
                      "history"
                    ]
                  },
                  "name": "string"
                },
                "properties": {
                  "capability": {
                    "additionalProperties": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "object"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "capability"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "example": {
                    "appId": "string",
                    "capability": {
                      "channel1": [
                        "publish",
                        "subscribe"
                      ],
                      "channel2": [
                        "history"
                      ]
                    },
                    "created": 0,
                    "id": "string",
                    "key": "string",
                    "modified": 0,
                    "name": "string"
                  },
                  "properties": {
                    "appId": {
                      "type": "string"
                    },
                    "capability": {
                      "additionalProperties": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "object"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Key created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Invalid request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a key",
        "tags": [
          "keys"
        ]
      }
    },
    "/apps/{app_id}/keys/{key_id}": {
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "example": {
                  "capability": {
                    "channel1": [
                      "publish",
                      "subscribe"
                    ],
                    "channel2": [
                      "history"
                    ]
                  },
                  "name": "string"
                },
                "properties": {
                  "capability": {
                    "additionalProperties": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "type": "object"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "example": {
                    "appId": "string",
                    "capability": {
                      "channel1": [
                        "publish",
                        "subscribe"
                      ],
                      "channel2": [
                        "history"
                      ]
                    },
                    "created": 0,
                    "id": "string",
                    "key": "string",
                    "modified": 0,
                    "name": "string"
                  },
                  "properties": {
                    "appId": {
                      "type": "string"
                    },
                    "capability": {
                      "additionalProperties": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "type": "object"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "id": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Key updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Invalid request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Updates a key",
        "tags": [
          "keys"
        ],
        "description": "modified patch /apps/{app_id}/keys/{key_id}"
      }
    },
    "/apps/{app_id}/keys/{key_id}/revoke": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {},
            "description": "Key revoked"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gateway timeout"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Revokes a key",
        "tags": [
          "keys"
        ]
      }
    },
    "/apps/{app_id}/namespaces": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "additionalProperties": false,
                    "properties": {
                      "appId": {
                        "type": "string"
                      },
                      "authenticated": {
                        "type": "boolean"
                      },
                      "created": {
                        "type": "integer"
                      },
                      "exposeTimeserial": {
                        "type": "boolean"
                      },
                      "id": {
                        "type": "string"
                      },
                      "modified": {
                        "type": "integer"
                      },
                      "persistLast": {
                        "type": "boolean"
                      },
                      "persisted": {
                        "type": "boolean"
                      },
                      "pushEnabled": {
                        "type": "boolean"
                      },
                      "tlsOnly": {
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Namespace list"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gateway timeout"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Lists namespaces",
        "tags": [
          "namespaces"
        ],
        "description": "modified get /apps/{app_id}/namespaces"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "authenticated": {
                    "default": false,
                    "type": "boolean"
                  },
                  "exposeTimeserial": {
                    "default": false,
                    "type": "boolean"
                  },
                  "id": {
                    "type": "string"
                  },
                  "persistLast": {
                    "default": false,
                    "type": "boolean"
                  },
                  "persisted": {
                    "default": false,
                    "type": "boolean"
                  },
                  "pushEnabled": {
                    "default": false,
                    "type": "boolean"
                  },
                  "tlsOnly": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "id"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "appId": {
                      "type": "string"
                    },
                    "authenticated": {
                      "type": "boolean"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "exposeTimeserial": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "integer"
                    },
                    "persistLast": {
                      "type": "boolean"
                    },
                    "persisted": {
                      "type": "boolean"
                    },
                    "pushEnabled": {
                      "type": "boolean"
                    },
                    "tlsOnly": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Namespace created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Invalid request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a namespace",
        "tags": [
          "namespaces"
        ]
      }
    },
    "/apps/{app_id}/namespaces/{namespace_id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "namespace_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {},
            "description": "Namespace deleted"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gateway timeout"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes a namespace",
        "tags": [
          "namespaces"
        ]
      },
      "patch": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "namespace_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "authenticated": {
                    "type": "boolean"
                  },
                  "exposeTimeserial": {
                    "type": "boolean"
                  },
                  "persistLast": {
                    "type": "boolean"
                  },
                  "persisted": {
                    "type": "boolean"
                  },
                  "pushEnabled": {
                    "type": "boolean"
                  },
                  "tlsOnly": {
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "appId": {
                      "type": "string"
                    },
                    "authenticated": {
                      "type": "boolean"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "exposeTimeserial": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "modified": {
                      "type": "integer"
                    },
                    "persistLast": {
                      "type": "boolean"
                    },
                    "persisted": {
                      "type": "boolean"
                    },
                    "pushEnabled": {
                      "type": "boolean"
                    },
                    "tlsOnly": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Namespace updated"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gateway timeout"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Updates a namespace",
        "tags": [
          "namespaces"
        ]
      }
    },
    "/apps/{app_id}/queues": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "additionalProperties": false,
                    "properties": {
                      "amqp": {
                        "additionalProperties": false,
                        "properties": {
                          "queueName": {
                            "type": "string"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "appId": {
                        "type": "string"
                      },
                      "deadletter": {
                        "type": "boolean"
                      },
                      "deadletterId": {
                        "nullable": true,
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      },
                      "maxLength": {
                        "type": "integer"
                      },
                      "messages": {
                        "additionalProperties": false,
                        "properties": {
                          "ready": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "total": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "unacknowledged": {
                            "nullable": true,
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "name": {
                        "type": "string"
                      },
                      "region": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "stats": {
                        "additionalProperties": false,
                        "properties": {
                          "acknowledgementRate": {
                            "nullable": true,
                            "type": "number"
                          },
                          "deliveryRate": {
                            "nullable": true,
                            "type": "number"
                          },
                          "publishRate": {
                            "nullable": true,
                            "type": "number"
                          }
                        },
                        "type": "object"
                      },
                      "stomp": {
                        "additionalProperties": false,
                        "properties": {
                          "destination": {
                            "type": "string"
                          },
                          "host": {
                            "type": "string"
                          },
                          "uri": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "ttl": {
                        "type": "integer"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Queue list"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "503 Service unavailable"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gateway timeout"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Lists queues",
        "tags": [
          "queues"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "maxLength": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "ttl": {
                    "type": "integer"
                  }
                },
                "required": [
                  "name",
                  "ttl",
                  "maxLength",
                  "region"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "amqp": {
                      "additionalProperties": false,
                      "properties": {
                        "queueName": {
                          "type": "string"
                        },
                        "uri": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "appId": {
                      "type": "string"
                    },
                    "deadletter": {
                      "type": "boolean"
                    },
                    "deadletterId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "maxLength": {
                      "type": "integer"
                    },
                    "messages": {
                      "additionalProperties": false,
                      "properties": {
                        "ready": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "total": {
                          "nullable": true,
                          "type": "integer"
                        },
                        "unacknowledged": {
                          "nullable": true,
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "name": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "stats": {
                      "additionalProperties": false,
                      "properties": {
                        "acknowledgementRate": {
                          "nullable": true,
                          "type": "number"
                        },
                        "deliveryRate": {
                          "nullable": true,
                          "type": "number"
                        },
                        "publishRate": {
                          "nullable": true,
                          "type": "number"
                        }
                      },
                      "type": "object"
                    },
                    "stomp": {
                      "additionalProperties": false,
                      "properties": {
                        "destination": {
                          "type": "string"
                        },
                        "host": {
                          "type": "string"
                        },
                        "uri": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "ttl": {
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Queue created"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Invalid request"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Creates a queue",
        "tags": [
          "queues"
        ]
      }
    },
    "/apps/{app_id}/queues/{queue_id}": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "queue_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {},
            "description": "Queue deleted"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App/Queue not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "503 Service unavailable"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Deletes a queue",
        "tags": [
          "queues"
        ]
      }
    },
    "/apps/{app_id}/rules": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "App not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Internal server error"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": false,
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "details": {
                      "nullable": true,
                      "type": "object"
                    },
                    "href": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "message",
                    "code",
                    "statusCode",
                    "href"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gateway timeout"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ],
        "summary": "Lists Integration rules",
        "tags": [
          "rules"
        ]
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "discriminator": {
                  "mapping": {
                    "amqp": "#/components/schemas/amqp_rule_post",
                    "amqp/external": "#/components/schemas/amqp_external_rule_post",
                    "aws/kinesis": "#/components/schemas/aws_kinesis_rule_post",
                    "aws/lambda": "#/components/schemas/aws_lambda_rule_post",
                    "aws/sqs": "#/components/schemas/aws_sqs_rule_post",
                    "http": "#/components/schemas/http_rule_post",
                    "http/azure-function": "#/components/schemas/azure_function_rule_post",
                    "http/cloudflare-worker": "#/components/schemas/cloudflare_worker_rule_post",
                    "http/google-cloud-function": "#/components/schemas/google_cloud_function_rule_post",
                    "http/ifttt": "#/components/schemas/ifttt_rule_post",
                    "http/zapier": "#/components/schemas/zapier_rule_post",
[...]
