{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://connect.authentiq.io"
    }
  ],
  "info": {
    "contact": {
      "email": "hello@authentiq.com",
      "name": "Team Authentiq",
      "url": "https://www.authentiq.com/"
    },
    "description": "Authentiq Connect OAuth 2.0 and OpenID Connect API reference.\nLearn about [Authentiq ID](https://www.authentiq.com/) or check out the [Authentiq Connect](https://developers.authentiq.com) developer documentation.\n",
    "termsOfService": "https://www.authentiq.com/terms",
    "title": "Authentiq Connect API",
    "version": "1.0",
    "x-apisguru-categories": [
      "security"
    ],
    "x-logo": {
      "backgroundColor": "#F26641",
      "url": "https://www.authentiq.com/theme/images/authentiq-logo-a-inverse.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/AuthentiqID/authentiq-docs/master/docs/swagger/provider.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "authentiq.io"
  },
  "externalDocs": {
    "description": "Authentiq Developer Docs",
    "url": "https://developers.authentiq.com/"
  },
  "paths": {
    "/products/{id}": {
      "get": {
        "description": "modified get /authorize",
        "externalDocs": {
          "description": "OIDC Authorization Endpoint",
          "url": "http://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint"
        },
        "operationId": "authorize",
        "parameters": [
          {
            "description": "A client ID obtained from the [Dashboard](https://dashboard.authentiq.com/).\n",
            "in": "query",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The OIDC response type to use for this authentication flow. Valid choices are `code`, `id_token`, `token`, `token id_token`, `code id_token` `code token` and `code token id_token`, but a client can be configured with a more restricted set.\n",
            "in": "query",
            "name": "response_type",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The space-separated identity claims to request from the end-user. Always include `openid` as a scope for compatibility with OIDC.\n",
            "in": "query",
            "name": "scope",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The location to redirect to after (un)successful authentication. See OIDC for the parameters passed in the query string (`response_mode=query`) or as fragments (`response_mode=fragment`). Unless the client is in test-mode this must be one of the registered redirect URLs.\n",
            "in": "query",
            "name": "redirect_uri",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An opaque string that will be passed back to the redirect URL and therefore can be used to communicate client side state and prevent CSRF attacks.\n",
            "in": "query",
            "name": "state",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to append parameters to the redirect URL in the query string (`query`) or as fragments (`fragment`). This option usually has a sensible default for each of the response types.\n",
            "in": "query",
            "name": "response_mode",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An nonce provided by the client (and opaque to Authentiq Connect) that will be included in any ID Token generated for this session. Clients should use the nonce to mitigate replay attacks.\n",
            "in": "query",
            "name": "nonce",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The authentication display mode, which can be one of `page`, `popup` or `modal`. Defaults to `page`.\n",
            "in": "query",
            "name": "display",
            "required": false,
            "schema": {
              "default": "page",
              "type": "string"
            }
          },
          {
            "description": "Space-delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent. The supported values are: `none`, `login`, `consent`. If `consent` the end-user is asked to (re)confirm what claims they share. Use `none` to check for an active session.\n",
            "in": "query",
            "name": "prompt",
            "required": false,
            "schema": {
              "default": "login",
              "type": "string"
            }
          },
          {
            "description": "Specifies the allowable elapsed time in seconds since the last time the end-user was actively authenticated.\n",
            "in": "query",
            "name": "max_age",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "Specifies the preferred language to use on the authorization page, as a space-separated list of BCP47 language tags. Ignored at the moment.\n",
            "in": "query",
            "name": "ui_locales",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "A successful or erroneous authentication response.\n"
          },
          "303": {
            "description": "*Sign in with Authentiq* page, popup or modal.\n"
          }
        },
        "summary": "Authenticate a user",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/inventory/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/billing/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/payments/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/carts/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/reviews/{id}": {
      "get": {
        "description": "Retrieve a list of clients.\n",
        "operationId": "client",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "description": "Client object",
                    "properties": {
                      "application_type": {
                        "type": "string"
                      },
                      "client_id": {
                        "type": "string"
                      },
                      "client_name": {
                        "type": "string"
                      },
                      "client_uri": {
                        "type": "string"
                      },
                      "contacts": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "default_max_age": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "default_scopes": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "grant_types": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "logo_uri": {
                        "type": "string"
                      },
                      "policy_uri": {
                        "type": "string"
                      },
                      "redirect_uris": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "response_types": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "tos_uri": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "client_name",
                      "client_uri"
                    ]
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of Client Objects."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "List clients",
        "tags": [
          "Client Management"
        ]
      },
      "post": {
        "description": "Register a new client with this Authentiq Connect provider.\n\nThis endpoint is compatible with [OIDC's Client Registration](http://openid.net/specs/openid-connect-registration-1_0.html) extension.\n",
        "externalDocs": {
          "description": "OIDC Client Registration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientRegistration"
        },
        "operationId": "createclient",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            }
          },
          "description": "Client Object",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Client created",
            "headers": {
              "Location": {
                "description": "URL of new client resource",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              }
            },
            "description": "Problem Detail error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "Register a client",
        "tags": [
          "Client Management"
        ]
      }
    },
    "/client/sku": {
      "delete": {
        "description": "modified delete /client/{client_id}",
        "externalDocs": {
          "description": "OIDC Client Configuration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
        },
        "operationId": "clientclient-id",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Client deleted"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "Delete a client",
        "tags": [
          "Client Management"
        ]
      },
      "get": {
        "description": "Retrieve the configuration of a previously registered client.\n",
        "externalDocs": {
          "description": "OIDC Client Configuration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
        },
        "operationId": "getclient-v2",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Client object",
                  "properties": {
                    "application_type": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "client_name": {
                      "type": "string"
                    },
                    "client_uri": {
                      "type": "string"
                    },
                    "contacts": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "default_max_age": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "default_scopes": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "grant_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "logo_uri": {
                      "type": "string"
                    },
                    "policy_uri": {
                      "type": "string"
                    },
                    "redirect_uris": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "response_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "tos_uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "client_name",
                    "client_uri"
                  ]
                }
              }
            },
            "description": "Client found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "View a client",
        "tags": [
          "Client Management"
        ]
      },
      "put": {
        "description": "Update the configuration of a previously registered client.\n",
        "externalDocs": {
          "description": "OIDC Client Configuration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
        },
        "operationId": "updateclient-v2",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            }
          },
          "description": "Client Object",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Client object",
                  "properties": {
                    "application_type": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "client_name": {
                      "type": "string"
                    },
                    "client_uri": {
                      "type": "string"
                    },
                    "contacts": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "default_max_age": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "default_scopes": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "grant_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "logo_uri": {
                      "type": "string"
                    },
                    "policy_uri": {
                      "type": "string"
                    },
                    "redirect_uris": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "response_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "tos_uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "client_name",
                    "client_uri"
                  ]
                }
              }
            },
            "description": "Client updated"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              }
            },
            "description": "Problem Detail error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "Update a client",
        "tags": [
          "Client Management"
        ]
      }
    },
    "/profiles/{id}": {
      "get": {
        "description": "modified get /userinfo",
        "externalDocs": {
          "description": "OIDC UserInfo Endpoint",
          "url": "http://openid.net/specs/openid-connect-core-1_0.html#UserInfo"
        },
        "operationId": "userinfo-v2",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              }
            },
            "description": "UserInfo response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          }
        },
        "security": [
          {
            "oauth_code": [
              "oidc",
              "email",
              "phone",
              "address",
              "aq:location",
              "aq:name",
              "aq:push"
            ]
          },
          {
            "oauth_implicit": [
              "oidc",
              "email",
              "phone",
              "address",
              "aq:location",
              "aq:name",
              "aq:push"
            ]
          }
        ],
        "summary": "Retrieve a user profile",
        "tags": [
          "Authentication"
        ],
        "parameters": []
      }
    },
    "/sku/iframe": {
      "get": {
        "description": "modified get /{client_id}/iframe",
        "externalDocs": {
          "description": "OIDC OP Session Management Iframe",
          "url": "http://openid.net/specs/openid-connect-session-1_0.html#OPiframe"
        },
        "operationId": "authorizeiframe",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "public, max-age=7200",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Include a session iframe",
        "tags": [
          "Session Management"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "client_id": {
        "description": "Client identifier",
        "in": "path",
        "name": "client_id",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Client": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Client object",
              "properties": {
                "application_type": {
                  "type": "string"
                },
                "client_id": {
                  "type": "string"
                },
                "client_name": {
                  "type": "string"
                },
                "client_uri": {
                  "type": "string"
                },
                "contacts": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "default_max_age": {
                  "format": "int64",
                  "type": "integer"
                },
                "default_scopes": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "grant_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "logo_uri": {
                  "type": "string"
                },
                "policy_uri": {
                  "type": "string"
                },
                "redirect_uris": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "response_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "tos_uri": {
                  "type": "string"
                }
              },
              "required": [
                "client_name",
                "client_uri"
              ]
            }
          },
          "multipart/form-data": {
            "schema": {
              "description": "Client object",
              "properties": {
                "application_type": {
                  "type": "string"
                },
                "client_id": {
                  "type": "string"
                },
                "client_name": {
                  "type": "string"
                },
                "client_uri": {
                  "type": "string"
                },
                "contacts": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "default_max_age": {
                  "format": "int64",
                  "type": "integer"
                },
                "default_scopes": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "grant_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "logo_uri": {
                  "type": "string"
                },
                "policy_uri": {
                  "type": "string"
                },
                "redirect_uris": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "response_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "tos_uri": {
                  "type": "string"
                }
              },
              "required": [
                "client_name",
                "client_uri"
              ]
            }
          }
        },
        "description": "Client Object",
        "required": true
      }
    },
    "responses": {
      "OAuth2Error": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "OAuth 2.0 error response"
      },
      "ProblemDetail": {
        "content": {
          "application/json": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          }
        },
        "description": "Problem Detail error response"
      },
      "Token": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          }
        },
        "description": "Token response"
      },
      "UserInfo": {
        "content": {
          "application/json": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          }
        },
        "description": "UserInfo response"
      }
    },
    "schemas": {
      "Address": {
        "description": "OIDC Address structure",
        "properties": {
          "country": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          }
        }
      },
      "Client": {
        "description": "Client object",
        "properties": {
          "application_type": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_name": {
            "type": "string"
          },
          "client_uri": {
            "type": "string"
          },
          "contacts": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "default_max_age": {
            "format": "int64",
            "type": "integer"
          },
          "default_scopes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "grant_types": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "logo_uri": {
            "type": "string"
          },
          "policy_uri": {
            "type": "string"
          },
          "redirect_uris": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "response_types": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "tos_uri": {
            "type": "string"
          }
        },
        "required": [
          "client_name",
          "client_uri"
        ]
      },
      "OAuth2Error": {
        "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
        "properties": {
          "error": {
            "type": "string"
          },
          "error_description": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "ProblemDetail": {
        "description": "HTTP Problem Detail\n",
        "properties": {
          "detail": {
            "description": "Human-readable explanation specific to this occurrence of the problem.\n",
            "type": "string"
          },
          "status": {
            "description": "The HTTP status code for this occurrence of the problem.\n",
            "type": "integer"
          },
          "title": {
            "description": "Human-readable summary of the problem type.\n",
            "type": "string"
          },
          "type": {
            "default": "about:blank",
            "type": "string"
          }
        },
        "required": [
          "type",
          "status"
        ]
      },
      "Session": {
        "description": "Session object",
        "properties": {
          "authenticated_at": {
            "format": "date-time",
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_name": {
            "type": "string"
          },
          "client_uri": {
            "type": "string"
          },
          "concluded_at": {
            "format": "date-time",
            "type": "string"
          },
          "connected_at": {
            "format": "date-time",
            "type": "string"
          },
          "contacts": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "created_at": {
            "type": "string"
          },
          "deleted_at": {
            "format": "date-time",
            "type": "string"
          },
          "logo_uri": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "policy_uri": {
            "type": "string"
          },
          "redirect_uri": {
            "type": "string"
          },
          "response_mode": {
            "type": "string"
          },
          "response_type": {
            "type": "string"
          },
          "scopes": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "scopes_optional": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "scopes_required": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "scopes_seen": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "scopes_signed": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "session_id": {
            "type": "string"
          },
          "session_state": {
            "type": "string"
          },
          "session_uri": {
            "type": "string"
          },
          "sub": {
            "type": "string"
          },
          "tokens_seen": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "tos_uri": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        }
      },
      "Token": {
        "description": "Successful token response\n",
        "properties": {
          "access_token": {
            "description": "The access token issued by the authorization server.",
            "type": "string"
          },
          "expires_at": {
            "description": "The time the access token will expire in seconds since epoch.",
            "format": "int64",
            "type": "integer"
          },
          "expires_in": {
            "description": "The lifetime in seconds of the access token.",
            "format": "int32",
            "type": "integer"
          },
          "id_token": {
            "description": "ID Token value associated with the authenticated session.",
            "type": "string"
          },
          "refresh_token": {
            "description": "The refresh token issued to the client, if any.",
            "type": "string"
          },
          "scope": {
            "description": "The scope of the granted tokens.",
            "type": "string"
          },
          "token_type": {
            "type": "string"
          }
        },
        "required": [
          "token_type"
        ]
      },
      "UserInfo": {
        "description": "OIDC UserInfo structure",
        "properties": {
          "address": {
            "description": "OIDC Address structure",
            "properties": {
              "country": {
                "type": "string"
              },
              "locality": {
                "type": "string"
              },
              "postal_code": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "street_address": {
                "type": "string"
              }
            }
          },
          "aq:location": {
            "description": "Geolocation structure",
            "properties": {
              "address": {
                "description": "OIDC Address structure",
                "properties": {
                  "country": {
                    "type": "string"
                  },
                  "locality": {
                    "type": "string"
                  },
                  "postal_code": {
                    "type": "string"
                  },
                  "region": {
                    "type": "string"
                  },
                  "street_address": {
                    "type": "string"
                  }
                }
              },
              "latitude": {
                "format": "float",
                "type": "number"
              },
              "longitude": {
                "format": "float",
                "type": "number"
              }
            }
          },
          "email": {
            "type": "string"
          },
          "email_verified": {
            "type": "boolean"
          },
          "family_name": {
            "type": "string"
          },
          "given_name": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "phone_number_verified": {
            "type": "boolean"
          },
          "sub": {
            "type": "string"
          }
        },
        "required": [
          "sub"
        ]
      }
    },
    "securitySchemes": {
      "client_registration_token": {
        "description": "Client management via registration token.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "client_secret": {
        "description": "Session management by confidential clients.",
        "flows": {
          "password": {
            "scopes": {
              "clients": "Enable client management"
            },
            "tokenUrl": "https://connect.authentiq.io/token"
          }
        },
        "type": "oauth2"
      },
      "oauth_code": {
        "description": "End-user authentication.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://connect.authentiq.io/authorize",
            "scopes": {
              "address": "The user's postal address",
              "aq:location": "The user's current location",
              "aq:name": "The user's full name",
              "aq:push": "Enable *One click sign-in*",
              "email": "The user's email address",
              "oidc": "Enable OIDC flow",
              "phone": "The user's phone number"
            },
            "tokenUrl": "https://connect.authentiq.io/token"
          }
        },
        "type": "oauth2"
      },
      "oauth_implicit": {
        "description": "End-user authentication.",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://connect.authentiq.io/authorize",
            "scopes": {
              "address": "The user's postal address",
              "aq:location": "The user's current location",
              "aq:name": "The user's full name",
              "aq:push": "Enable *One click sign-in*",
              "email": "The user's email address",
              "oidc": "Enable OIDC flow",
              "phone": "The user's phone number"
            }
          }
        },
        "type": "oauth2"
      },
      "user_jwt": {
        "description": "Session management by Authentiq ID.",
        "flows": {
          "clientCredentials": {
            "scopes": {
              "session": "Enable session management"
            },
            "tokenUrl": "https://connect.authentiq.io/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}