{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://art19.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@art19.com",
      "name": "ART19 Engineering Team",
      "x-twitter": "art19co"
    },
    "description": "The ART19 Content API conforms to the [JSON:API specification](http://jsonapi.org).\n\nAPI requests **MUST** use the HTTP Accept header:\n\n`Accept: application/vnd.api+json`\n\nAPI requests **MUST** be authenticated using the HTTP Authorization header:\n\n`Authorization: Token token=\"your-token\", credential=\"your-credential\"`\n\n## General Notes\n\nSome query parameters use unencoded [ and ] characters simply for readability. Defaults, examples, and\npossible values are additionally rendered in double quotes for readability. In practice, query parameters should\nnot have quotes around the values (e.g., `foo=bar` is valid, not `foo=\"bar\"`), and both query parameter keys\nand values must be percent-encoded, per the requirements in [RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n\n## Rate Limiting\n\nIn order to provide a fair distribution of available resources, all API calls are subject to rate limits.\nIf you exceed the number of API calls per minute granted to your credential, a `429 Too Many Requests`\nerror response will be returned.\n\nIn that case, a `Retry-After` header MAY be included in the response, describing the number of seconds\nafter which a request can be retried.\n\nIf you run into a high number of 429 errors, please reach out to ART19 Support to adjust your rate limit.\n\n### Example\n\nIn the following example the request can be retried after waiting for 21 seconds:\n\n    HTTP/1.1 429 Too Many Requests\n    Content-Type: text/html\n    Retry-After: 21\n\n## Pagination\n\nRequests to collection endpoints **SHOULD** provide pagination parameters.\nSome endpoints **REQUIRE** pagination parameters to be provided.\nWhenever pagination is provided, it **MUST** be valid.\nFailing to provide pagination when it is required or providing wrong or incomplete pagination\nalways results in a `400 Bad Request` error response.\n\nThe page numbering starts with `1` and the maximum page size (if not otherwise documented\non an endpoint) is `100`. Pagination **MUST NOT** be specified if requesting a list of IDs (using an `ids[]` parameter).\n\nProviding invalid values for page number or page size, as well as providing only a page number or only a page size,\nis considered an error. Pagination is provided like this:\n\n`page[number]=1&page[size]=25`\n\nResponses conform to the [JSON:API specification's pagination section](https://jsonapi.org/format/#fetching-pagination)\nby including pagination links. Your requested page size will be carried into the pagination links.\n\n## Sorting\n\nRequests to collection endpoints usually accept a `sort` parameter. Please refer to the\n[JSON:API Specification's sorting section](https://jsonapi.org/format/#fetching-sorting) for further details.\n\n## Relationship Linking\n\nCurrently, resources return all of their relationships, in no particular order, pursuant to how relationships\nshould be returned [according to the JSON:API specification](https://jsonapi.org/format/#document-resource-object-relationships). Consumers of this API\n**MUST NOT** make assumptions about the order of these collections. Even though this data is not currently paginated, consumers **MUST** support\npaginating relationships per the JSON:API specification if this data is important for their application.\n",
    "termsOfService": "https://art19.com/business-terms",
    "title": "ART19 Content API Documentation",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://twitter.com/art19co/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://art19.com/swagger_json/external/content.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "art19.com"
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/billing/{id}": {
      "get": {
        "description": "modified get /networks",
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "schema": {
              "minimum": 1,
              "type": "string"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to networks with a name containing this parameter in a case-insensitive way.",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit the result to networks containing at least one series with an ad deal of this Ad Ops profile.\n",
            "in": "query",
            "name": "ad_rep_account_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to networks containing at least one series with an ad deal matching one of the\nvalues in this parameter.\n",
            "explode": false,
            "in": "query",
            "name": "ad_deal_status",
            "schema": {
              "items": {
                "enum": [
                  "active",
                  "inactive",
                  "pending_active",
                  "pending_inactive"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "name",
              "items": {
                "enum": [
                  "created_at",
                  "name",
                  "updated_at"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "attributes": {
                            "properties": {
                              "copyright": {
                                "description": "The copyright of the network",
                                "type": "string"
                              },
                              "created_at": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "description": {
                                "description": "The description of the network eventually in HTML format",
                                "example": "<p><strong>Some</strong> funny example.</p>",
                                "type": "string"
                              },
                              "description_is_html": {
                                "description": "Determines whether `description` is in HTML format or plain.",
                                "type": "boolean"
                              },
                              "description_plain": {
                                "description": "The description with all HTML markup removed. If the description does not contain markup\nthis is identitcal to `description`.\n",
                                "example": "Some funny example.",
                                "type": "string"
                              },
                              "facebook_url": {
                                "description": "Where to find this network on Facebook",
                                "type": "string"
                              },
                              "instagram_url": {
                                "description": "Where to find this network on Instagram",
                                "type": "string"
                              },
                              "linkedin_url": {
                                "description": "Where to find the network on LinkedIn",
                                "type": "string"
                              },
                              "name": {
                                "description": "The name of the network",
                                "type": "string"
                              },
                              "public_email": {
                                "description": "A public point of contact through email",
                                "type": "string"
                              },
                              "public_page_enabled": {
                                "description": "If this is `true`, a public web page for this network is available under\n`https://art19.com/networks/{slug}`, where `slug` is the value of the corresponding attribute.\nThis public page provides details about the network as well as descriptive links to all its\nseries' public pages. If this is `false`, no such public page is available.\n",
                                "type": "boolean"
                              },
                              "slug": {
                                "description": "The unique slug for the network also used on its public page for example.\nThis value is unique system-wide amongst all networks _and_ series.\n",
                                "type": "string"
                              },
                              "tumblr_url": {
                                "description": "Where to find the network on Tumblr",
                                "type": "string"
                              },
                              "twitter_url": {
                                "description": "Where to find the network on Twitter",
                                "type": "string"
                              },
                              "updated_at": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "website_url": {
                                "description": "A public website for the network",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "id": {
                            "example": "c1fbb1bf-45b1-4803-986e-123166f7f427",
                            "format": "uuid",
                            "type": "string"
                          },
                          "relationships": {
                            "properties": {
                              "cover_image": {
                                "description": "The cover image for the network",
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "The ID of the resource",
                                        "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                        "format": "uuid",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "The type of the resource",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "images": {
                                "description": "A collection of images linked to the network. This currently only includes\nthe cover image for the network.\n",
                                "properties": {
                                  "data": {
                                    "items": {
                                      "properties": {
                                        "id": {
                                          "description": "The ID of the resource",
                                          "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                          "format": "uuid",
                                          "type": "string"
                                        },
                                        "type": {
                                          "description": "The type of the resource",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "parent": {
                                "description": "The parent network of the network",
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "The ID of the resource",
                                        "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                        "format": "uuid",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "The type of the resource",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "series": {
                                "description": "List of series within the network which are accessible to you",
                                "properties": {
                                  "data": {
                                    "items": {
                                      "properties": {
                                        "id": {
                                          "description": "The ID of the resource",
                                          "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                          "format": "uuid",
                                          "type": "string"
                                        },
                                        "type": {
                                          "description": "The type of the resource",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "type": {
                            "description": "The type of resource. This is always `networks`",
                            "example": "networks",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "description": "A URL to retrieve the first page of data keeping the provided page size",
                          "type": "string"
                        },
                        "last": {
                          "description": "A URL to retrieve the last page of data keeping the provided page size",
                          "type": "string"
                        },
                        "next": {
                          "description": "A URL to retrieve the next page of data keeping the provided page size",
                          "type": "string"
                        },
                        "prev": {
                          "description": "A URL to retrieve the previous page of keeping using the provided page size",
                          "type": "string"
                        },
                        "self": {
                          "description": "A URL to retrieve the collection as the primary data",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must have a positive page number and a page size no larger than 100. \n"
          },
          "401": {
            "description": "Unauthorized\n\nA valid credential was not supplied, but one is required.\n[See RFC 7235 § 3.1](https://tools.ietf.org/html/rfc7235#section-3.1).\nA `WWW-Authenticate` header is not currently returned.\n"
          },
          "403": {
            "description": "Forbidden\n\nThe provided credential is not authorized to access the requested resource or collection.\n[See RFC 7231 § 6.5.3](https://tools.ietf.org/html/rfc7231#section-6.5.3)\n"
          },
          "406": {
            "description": "Not Acceptable\n\nThe client requested a response format which cannot be satisfied. Ensure that you specify the\ncorrect `Accept` header. [See RFC 7231 § 6.5.6](https://tools.ietf.org/html/rfc7231#section-6.5.6).\n"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds after which the request can be retried.\nSince the rate limit is per minute, this value ranges from 1 to 59.\nConforms to [RFC 7231 § 7.1.3](https://tools.ietf.org/html/rfc7231#section-7.1.3).\n",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of networks",
        "tags": [
          "Network"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/networks\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"80ca3d76-0aab-4a30-81b8-34e02cc7934e\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/networks?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"f26ef368-91dc-4974-8561-d893729b5134\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/networks');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"9f05c5bc-841e-491a-993d-7a3a02e48eda\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/networks?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"ab9095b7-87cc-430b-9f93-4c61f24b704d\"' \\\n  --compressed\n"
          }
        ],
        "operationId": "get-a-list-of-networks"
      }
    },
    "/products/{id}": {
      "get": {
        "description": "Classification Inclusions connect classifications with entities like series, episodes, or campaigns, amongst others.\n\nIn order to retrieve a set of classification inclusions, at least one of the following filter parameters must\nbe provided. Failing to do so renders a `400 Bad Request` response.\n\n- `ids[]`\n- `classified_id` and `classified_type`\n- `classified_id` and `classification_type`\n- `classification_id` and `classified_type`\n",
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to a classification with this ID.",
            "example": "a90609c0-9f0c-48fd-8a41-83eb8414bedb",
            "in": "query",
            "name": "classification_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "The type of classification that the classification inclusions are linked to.\nDepending on the permissions of your credential, only a subset of these types are usable.\n",
            "in": "query",
            "name": "classification_type",
            "schema": {
              "enum": [
                "AlternateFeedType",
                "Genre",
                "Industry",
                "Language",
                "MediaRating"
              ],
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to a resource with this ID.\nYou will have to use this filter together with either `classified_type` or `classification_type`.\n",
            "example": "fee1976e-f1bc-48a9-9ee8-58800f4d3462",
            "in": "query",
            "name": "classified_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to this type of entity.",
            "in": "query",
            "name": "classified_type",
            "schema": {
              "enum": [
                "Series",
                "Season",
                "Episode"
              ],
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classification inclusions linked to a classification containing\nthe parameter value disregarding case.\n",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "created_at",
              "items": {
                "enum": [
                  "classification_value",
                  "created_at",
                  "position"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "description": "Connects a Classification with a classified item like a Series, Season or Episode.\n",
                        "properties": {
                          "attributes": {
                            "properties": {
                              "classification_id": {
                                "deprecated": true,
                                "description": "This will be replaced by the relationship `classification` in a future update.<br/>\nThe ID of the classification linked to the entity\n",
                                "example": "497aad13-1c96-41d8-80e2-9a5aa7bc96fa",
                                "format": "uuid",
                                "type": "string"
                              },
                              "classification_type": {
                                "deprecated": true,
                                "description": "This will be replaced by the relationship `classification` in a future update.<br/>",
                                "enum": [
                                  "AlternateFeedType",
                                  "Genre",
                                  "Industry",
                                  "Language",
                                  "MediaRating"
                                ],
                                "type": "string"
                              },
                              "classified_id": {
                                "deprecated": true,
                                "description": "This will be replaced by the relationship `classified` in a future update.<br/>\nThe ID of the entity linked to the classification\n",
                                "example": "8e9dc5d8-8a16-424e-ba96-6a7261a9a23b",
                                "format": "uuid",
                                "type": "string"
                              },
                              "classified_type": {
                                "deprecated": true,
                                "description": "This will be replaced by the relationship `classified` in a future update.<br/>",
                                "enum": [
                                  "Series",
                                  "Season",
                                  "Episode"
                                ],
                                "type": "string"
                              },
                              "created_at": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "position": {
                                "description": "The position or order of the linked classification within the classified resource",
                                "type": "integer"
                              },
                              "primary": {
                                "description": "When `true` it describes the best classification of a specific type for a given\nclassified item\n",
                                "type": "boolean"
                              },
                              "updated_at": {
                                "format": "date-time",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "id": {
                            "example": "c1fbb1bf-45b1-4803-986e-123166f7f427",
                            "format": "uuid",
                            "type": "string"
                          },
                          "relationships": {
                            "properties": {
                              "classification": {
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "The ID of the resource",
                                        "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                        "format": "uuid",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "The type of the resource",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "type": {
                            "description": "The type of resource. This is always `classification_inclusion`",
                            "example": "classification_inclusion",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "description": "A URL to retrieve the first page of data keeping the provided page size",
                          "type": "string"
                        },
                        "last": {
                          "description": "A URL to retrieve the last page of data keeping the provided page size",
                          "type": "string"
                        },
                        "next": {
                          "description": "A URL to retrieve the next page of data keeping the provided page size",
                          "type": "string"
                        },
                        "prev": {
                          "description": "A URL to retrieve the previous page of keeping using the provided page size",
                          "type": "string"
                        },
                        "self": {
                          "description": "A URL to retrieve the collection as the primary data",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must have a positive page number and a page size no larger than 100. At least one filter parameter is required.\n"
          },
          "401": {
            "description": "Unauthorized\n\nA valid credential was not supplied, but one is required.\n[See RFC 7235 § 3.1](https://tools.ietf.org/html/rfc7235#section-3.1).\nA `WWW-Authenticate` header is not currently returned.\n"
          },
          "403": {
            "description": "Forbidden\n\nThe provided credential is not authorized to access the requested resource or collection.\n[See RFC 7231 § 6.5.3](https://tools.ietf.org/html/rfc7231#section-6.5.3)\n"
          },
          "406": {
            "description": "Not Acceptable\n\nThe client requested a response format which cannot be satisfied. Ensure that you specify the\ncorrect `Accept` header. [See RFC 7231 § 6.5.6](https://tools.ietf.org/html/rfc7231#section-6.5.6).\n"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds after which the request can be retried.\nSince the rate limit is per minute, this value ranges from 1 to 59.\nConforms to [RFC 7231 § 7.1.3](https://tools.ietf.org/html/rfc7231#section-7.1.3).\n",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get ClassificationInclusion records",
        "tags": [
          "ClassificationInclusion"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classification_inclusions\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"ad3f51ff-4d11-43b9-9612-6a55ecefe2df\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"0f1a0647-0efb-487d-a736-fb2fcf516a42\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/classification_inclusions');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"1f653814-5fa6-492e-86ad-2cfc88c0936e\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classification_inclusions?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"fc346b8c-62c4-4483-8bb6-e4b810466778\"' \\\n  --compressed\n"
          }
        ],
        "operationId": "get-classificationinclusion-records-v2"
      }
    },
    "/classification-inclusions/paymentid": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the classification inclusion resource to load.",
            "example": "3c1da8b0-fce6-4b8e-b5e3-fd007472206b",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "description": "Connects a Classification with a classified item like a Series, Season or Episode.\n",
                      "properties": {
                        "attributes": {
                          "properties": {
                            "classification_id": {
                              "deprecated": true,
                              "description": "This will be replaced by the relationship `classification` in a future update.<br/>\nThe ID of the classification linked to the entity\n",
                              "example": "497aad13-1c96-41d8-80e2-9a5aa7bc96fa",
                              "format": "uuid",
                              "type": "string"
                            },
                            "classification_type": {
                              "deprecated": true,
                              "description": "This will be replaced by the relationship `classification` in a future update.<br/>",
                              "enum": [
                                "AlternateFeedType",
                                "Genre",
                                "Industry",
                                "Language",
                                "MediaRating"
                              ],
                              "type": "string"
                            },
                            "classified_id": {
                              "deprecated": true,
                              "description": "This will be replaced by the relationship `classified` in a future update.<br/>\nThe ID of the entity linked to the classification\n",
                              "example": "8e9dc5d8-8a16-424e-ba96-6a7261a9a23b",
                              "format": "uuid",
                              "type": "string"
                            },
                            "classified_type": {
                              "deprecated": true,
                              "description": "This will be replaced by the relationship `classified` in a future update.<br/>",
                              "enum": [
                                "Series",
                                "Season",
                                "Episode"
                              ],
                              "type": "string"
                            },
                            "created_at": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "position": {
                              "description": "The position or order of the linked classification within the classified resource",
                              "type": "integer"
                            },
                            "primary": {
                              "description": "When `true` it describes the best classification of a specific type for a given\nclassified item\n",
                              "type": "boolean"
                            },
                            "updated_at": {
                              "format": "date-time",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "id": {
                          "example": "c1fbb1bf-45b1-4803-986e-123166f7f427",
                          "format": "uuid",
                          "type": "string"
                        },
                        "relationships": {
                          "properties": {
                            "classification": {
                              "properties": {
                                "data": {
                                  "properties": {
                                    "id": {
                                      "description": "The ID of the resource",
                                      "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                      "format": "uuid",
                                      "type": "string"
                                    },
                                    "type": {
                                      "description": "The type of the resource",
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        },
                        "type": {
                          "description": "The type of resource. This is always `classification_inclusion`",
                          "example": "classification_inclusion",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "links": {
                      "description": "Links related to the retrieved resource",
                      "properties": {
                        "self": {
                          "description": "A URL to retrieve the resource as the primary data",
                          "type": "string"
                        }
                      },
                      "title": "Links",
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized\n\nA valid credential was not supplied, but one is required.\n[See RFC 7235 § 3.1](https://tools.ietf.org/html/rfc7235#section-3.1).\nA `WWW-Authenticate` header is not currently returned.\n"
          },
          "403": {
            "description": "Forbidden\n\nThe provided credential is not authorized to access the requested resource or collection.\n[See RFC 7231 § 6.5.3](https://tools.ietf.org/html/rfc7231#section-6.5.3)\n"
          },
          "404": {
            "description": "Not Found\n\nThe requested resource/collection does not exist. [See RFC 7231 § 6.5.4](https://tools.ietf.org/html/rfc7231#section-6.5.4).\n"
          },
          "406": {
            "description": "Not Acceptable\n\nThe client requested a response format which cannot be satisfied. Ensure that you specify the\ncorrect `Accept` header. [See RFC 7231 § 6.5.6](https://tools.ietf.org/html/rfc7231#section-6.5.6).\n"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds after which the request can be retried.\nSince the rate limit is per minute, this value ranges from 1 to 59.\nConforms to [RFC 7231 § 7.1.3](https://tools.ietf.org/html/rfc7231#section-7.1.3).\n",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a specific classification inclusion",
        "tags": [
          "ClassificationInclusion"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classification_inclusions/a3d7bca1-d6c8-41e9-8640-9b0950be5123\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"30cfe370-809a-4a88-bc42-e44dae664cb4\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classification_inclusions/a3d7bca1-d6c8-41e9-8640-9b0950be5123', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"e9c8c90b-2df7-4337-94ad-c5d82305ecce\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/classification_inclusions/a3d7bca1-d6c8-41e9-8640-9b0950be5123');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"7410ebaf-5459-4c29-a51e-affe5900832c\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classification_inclusions/a3d7bca1-d6c8-41e9-8640-9b0950be5123' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"9e419a11-990c-4156-925b-8c5c0d776cdb\"' \\\n  --compressed\n"
          }
        ],
        "operationId": "get-a-specific-classification-inclusion"
      }
    },
    "/payments/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to classifications of this type. The possible values for types\ndepends on the privileges of the provided credential.\n",
            "example": "Genre",
            "in": "query",
            "name": "type",
            "schema": {
              "enum": [
                "AlternateFeedType",
                "Genre",
                "Industry",
                "Language",
                "MediaRating"
              ],
              "type": "string"
            }
          },
          {
            "description": "Limit the result to classifications with a value containing the parameter value\ndisregarding case.\n",
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If this parameter is provided and not empty, limit the result to classifications\nof type `Geography` representing countries. The credential must have at least one\nprivilege with a network, series, or advertiser profile.\n",
            "example": "true",
            "in": "query",
            "name": "is_country",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "value",
              "items": {
                "enum": [
                  "created_at",
                  "updated_at",
                  "value"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "description": "A classification, in general, is something that can describe other resources, such as countries, genres or\nlanguages. How they're described (included or excluded, and whether they're the primary classification\nof this type) is handled using other resources. Different functions of ART19 rely on classifications differently,\nand could have an effect only on directory information, or may have an effect on ad decisioning.\n",
                        "properties": {
                          "attributes": {
                            "properties": {
                              "created_at": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "display_name": {
                                "description": "Human readable representation of the classification",
                                "type": "string"
                              },
                              "metadata": {
                                "description": "An object with more detailed information about the classification.\nThe possible members are different per type of classification.\n",
                                "type": "object"
                              },
                              "parent_id": {
                                "deprecated": true,
                                "description": "This will be replaced by the relationship `parent` in a future update.<br/>\nFor hierarchical classifications, this is the ID of the parent classification\n",
                                "format": "uuid",
                                "type": "string"
                              },
                              "tree_path": {
                                "description": "For hierarchical classifications this is the list of IDs reflecting the hierarchy starting\nwith the root level node.\n",
                                "example": [
                                  "e93856cc-e41d-432f-9dc3-c77374b0a184",
                                  "68d04c27-0f6c-47cb-9763-bc4059707399"
                                ],
                                "items": {
                                  "format": "uuid",
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "type": {
                                "description": "The type of classification. The type of retrievable classifications depends on the privileges\nof the credential being used.\n",
                                "enum": [
                                  "AlternateFeedType",
                                  "Genre",
                                  "Industry",
                                  "Language",
                                  "MediaRating"
                                ],
                                "example": "Genre",
                                "type": "string"
                              },
                              "updated_at": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "value": {
                                "description": "The value the classification represents. The meaning of this attribute depends on the type of classification.\n",
                                "type": "string"
                              },
                              "value_path": {
                                "description": "For hierarchical classifications this is a concatenated string of all the classification\nvalues from the root to this classification using a `: ` as separator.\n",
                                "example": "Comedy: Standup",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "id": {
                            "example": "c1fbb1bf-45b1-4803-986e-123166f7f427",
                            "format": "uuid",
                            "type": "string"
                          },
                          "type": {
                            "description": "The type of resource. This is always `classifications`",
                            "example": "classifications",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "description": "A URL to retrieve the first page of data keeping the provided page size",
                          "type": "string"
                        },
                        "last": {
                          "description": "A URL to retrieve the last page of data keeping the provided page size",
                          "type": "string"
                        },
                        "next": {
                          "description": "A URL to retrieve the next page of data keeping the provided page size",
                          "type": "string"
                        },
                        "prev": {
                          "description": "A URL to retrieve the previous page of keeping using the provided page size",
                          "type": "string"
                        },
                        "self": {
                          "description": "A URL to retrieve the collection as the primary data",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "The HTTP status code applicable to this problem, expressed as a string value: 400",
                            "example": "400",
                            "type": "string"
                          },
                          "title": {
                            "description": "A short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the\nproblem, except for purposes of localization.\n",
                            "example": "Bad Request",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request\n\nParameters requiring a specific format must adhere to that format.\nPagination must have a positive page number and a page size no larger than 100. Filtering by type for AudienceSegment, AudienceTag, ListeningPlatform, and UserDevice is no longer supported.\n"
          },
          "401": {
            "description": "Unauthorized\n\nA valid credential was not supplied, but one is required.\n[See RFC 7235 § 3.1](https://tools.ietf.org/html/rfc7235#section-3.1).\nA `WWW-Authenticate` header is not currently returned.\n"
          },
          "403": {
            "description": "Forbidden\n\nThe provided credential is not authorized to access the requested resource or collection.\n[See RFC 7231 § 6.5.3](https://tools.ietf.org/html/rfc7231#section-6.5.3)\n"
          },
          "406": {
            "description": "Not Acceptable\n\nThe client requested a response format which cannot be satisfied. Ensure that you specify the\ncorrect `Accept` header. [See RFC 7231 § 6.5.6](https://tools.ietf.org/html/rfc7231#section-6.5.6).\n"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds after which the request can be retried.\nSince the rate limit is per minute, this value ranges from 1 to 59.\nConforms to [RFC 7231 § 7.1.3](https://tools.ietf.org/html/rfc7231#section-7.1.3).\n",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of classifications",
        "tags": [
          "Classification"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classifications\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"4814609f-e1cb-4232-bcf8-cddb03771710\"'\n  },\n  params: {\n    # add filters if desired\n    page: { number: 1, size: 25 }\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"ed13badd-d235-4303-a572-cf5b2640a127\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // The API endpoint to request data from\n  $url = array('https://art19.com/classifications');\n\n  // Provide extra parameters like filters or pagination to the request\n  $url[] = http_build_query(array(\n    'page' => array('number' => 1, 'size' => 25)\n  ));\n\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, implode('?', $url));\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"0673cdce-d5b6-425f-b113-761ce249d775\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classifications?page%5Bnumber%5D=1&page%5Bsize%5D=25' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"6bb1e316-8593-4242-a9ac-bd8f0e45da89\"' \\\n  --compressed\n"
          }
        ],
        "operationId": "get-a-list-of-classifications-v2"
      }
    },
    "/classifications/orderid": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the classification resource to load.",
            "example": "aafe5a7a-bbb3-4b7e-8cc5-4b8231639c28",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "description": "A classification, in general, is something that can describe other resources, such as countries, genres or\nlanguages. How they're described (included or excluded, and whether they're the primary classification\nof this type) is handled using other resources. Different functions of ART19 rely on classifications differently,\nand could have an effect only on directory information, or may have an effect on ad decisioning.\n",
                      "properties": {
                        "attributes": {
                          "properties": {
                            "created_at": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "display_name": {
                              "description": "Human readable representation of the classification",
                              "type": "string"
                            },
                            "metadata": {
                              "description": "An object with more detailed information about the classification.\nThe possible members are different per type of classification.\n",
                              "type": "object"
                            },
                            "parent_id": {
                              "deprecated": true,
                              "description": "This will be replaced by the relationship `parent` in a future update.<br/>\nFor hierarchical classifications, this is the ID of the parent classification\n",
                              "format": "uuid",
                              "type": "string"
                            },
                            "tree_path": {
                              "description": "For hierarchical classifications this is the list of IDs reflecting the hierarchy starting\nwith the root level node.\n",
                              "example": [
                                "e93856cc-e41d-432f-9dc3-c77374b0a184",
                                "68d04c27-0f6c-47cb-9763-bc4059707399"
                              ],
                              "items": {
                                "format": "uuid",
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "type": {
                              "description": "The type of classification. The type of retrievable classifications depends on the privileges\nof the credential being used.\n",
                              "enum": [
                                "AlternateFeedType",
                                "Genre",
                                "Industry",
                                "Language",
                                "MediaRating"
                              ],
                              "example": "Genre",
                              "type": "string"
                            },
                            "updated_at": {
                              "format": "date-time",
                              "type": "string"
                            },
                            "value": {
                              "description": "The value the classification represents. The meaning of this attribute depends on the type of classification.\n",
                              "type": "string"
                            },
                            "value_path": {
                              "description": "For hierarchical classifications this is a concatenated string of all the classification\nvalues from the root to this classification using a `: ` as separator.\n",
                              "example": "Comedy: Standup",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "id": {
                          "example": "c1fbb1bf-45b1-4803-986e-123166f7f427",
                          "format": "uuid",
                          "type": "string"
                        },
                        "type": {
                          "description": "The type of resource. This is always `classifications`",
                          "example": "classifications",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "links": {
                      "description": "Links related to the retrieved resource",
                      "properties": {
                        "self": {
                          "description": "A URL to retrieve the resource as the primary data",
                          "type": "string"
                        }
                      },
                      "title": "Links",
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized\n\nA valid credential was not supplied, but one is required.\n[See RFC 7235 § 3.1](https://tools.ietf.org/html/rfc7235#section-3.1).\nA `WWW-Authenticate` header is not currently returned.\n"
          },
          "403": {
            "description": "Forbidden\n\nThe provided credential is not authorized to access the requested resource or collection.\n[See RFC 7231 § 6.5.3](https://tools.ietf.org/html/rfc7231#section-6.5.3)\n"
          },
          "404": {
            "description": "Not Found\n\nThe requested resource/collection does not exist. [See RFC 7231 § 6.5.4](https://tools.ietf.org/html/rfc7231#section-6.5.4).\n"
          },
          "406": {
            "description": "Not Acceptable\n\nThe client requested a response format which cannot be satisfied. Ensure that you specify the\ncorrect `Accept` header. [See RFC 7231 § 6.5.6](https://tools.ietf.org/html/rfc7231#section-6.5.6).\n"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "description": "The number of seconds after which the request can be retried.\nSince the rate limit is per minute, this value ranges from 1 to 59.\nConforms to [RFC 7231 § 7.1.3](https://tools.ietf.org/html/rfc7231#section-7.1.3).\n",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get a specific classification",
        "tags": [
          "Classification"
        ],
        "x-codeSamples": [
          {
            "label": "Ruby - Typhoeus",
            "lang": "ruby",
            "source": "response = Typhoeus.get(\n  \"https://art19.com/classifications/1f209989-fdb6-492b-b42d-feb7fcc5d77c\",\n  accept_encoding: 'gzip',\n  headers: {\n    Accept:        'application/vnd.api+json',\n    Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b3427539-3fa8-4c65-91d6-f12cd38a0d7f\"'\n  },\n  timeout: 10\n)\nif response.success?\n  # HTTP 2xx - JSON:API available to be parsed in response.body\nelsif response.timed_out?\n  # Request timed out\nelsif response.code.zero?\n  # cURL didn't get back an HTTP response, the reason is in response.return_message\nelse\n  # Other HTTP status, check response.code for which\nend\n"
          },
          {
            "label": "JavaScript - Fetch",
            "lang": "javascript",
            "source": "try {\n  const response = await fetch('https://art19.com/classifications/1f209989-fdb6-492b-b42d-feb7fcc5d77c', {\n    headers: {\n      Accept:        'application/vnd.api+json',\n      Authorization: 'Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"52f9f879-936f-4a8e-be61-134a57b71967\"'\n    }\n  });\n\n  if (response.ok) {\n    // Get the response body if HTTP-status is 200-299\n    const json = await response.json();\n  } else {\n    // HTTP request failed, handle error\n  }\n} catch(err) {\n  // A network error occured\n}\n"
          },
          {
            "label": "PHP - cURL",
            "lang": "php",
            "source": "<?php\n// Initialize a cURL resource for a request\n$request = curl_init();\n\ntry {\n  // Configure the cURL options\n  curl_setopt($request, CURLOPT_URL, 'https://art19.com/classifications/1f209989-fdb6-492b-b42d-feb7fcc5d77c');\n  curl_setopt($request, CURLOPT_FOLLOWLOCATION, true);\n  curl_setopt($request, CURLOPT_RETURNTRANSFER, true);\n  curl_setopt($request, CURLOPT_ENCODING, '');\n  curl_setopt($request, CURLOPT_HTTPHEADER, array(\n    'Accept: application/vnd.api+json',\n    'Authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"ea6f3275-7207-43b6-ae2d-e123bb228ce3\"'\n  ));\n\n  // Execute the request and grab all status information\n  $output = curl_exec($request);\n  $info   = curl_getinfo($request);\n  $code   = $info['http_code'];\n\n  if ($code >= 200 && $code < 300) {\n    // HTTP 2xx - JSON:API response available to be parsed in $output\n    $json = json_decode($output);\n  } else if ($code >= 400 && $code < 500) {\n    // HTTP 4xx - Client error; JSON:API response evt. available to be parsed in $output\n    if (strlen($output) > 0) {\n      $errors = json_decode($output);\n    }\n  } else {\n    // Other HTTP status, treat according to workflow\n  }\n} finally {\n  // Free up the resource to clear out memory\n  curl_close($request);\n}\n?>\n"
          },
          {
            "label": "cURL",
            "lang": "shell",
            "source": "curl 'https://art19.com/classifications/1f209989-fdb6-492b-b42d-feb7fcc5d77c' \\\n  -H 'accept: application/vnd.api+json' \\\n  -H 'authorization: Token token=\"UVd4c0lFTnZjSKbElFSm\", credential=\"b7c457a5-27d8-4e8e-849c-bdcaefa5a3d0\"' \\\n  --compressed\n"
          }
        ],
        "operationId": "get-a-specific-classification"
      }
    },
    "/carts/{id}": {
      "get": {
        "parameters": [
          {
            "description": "The list of IDs to filter by. Repeat this parameter for each ID you want to include in the filter.\nThe brackets *MUST* be percent-encoded, per the requirements in\n[RFC 3986 § 3.4](https://tools.ietf.org/html/rfc3986#section-3.4).\n",
            "explode": true,
            "in": "query",
            "name": "ids[]",
            "required": false,
            "schema": {
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          {
            "description": "Select which page number to receive results for. Pages are numbered starting at 1.\n\n",
            "in": "query",
            "name": "page[number]",
            "schema": {
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Indicate how many records to return per page. The maximum is 100.\n\n",
            "in": "query",
            "name": "page[size]",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Limit the result to credits for the entity with this ID only. If the entity is not\npublished, the credential needs to have the right privilege to list the credits for it.\n",
            "example": "76654e16-76ce-4945-92e9-e0a381917853",
            "in": "query",
            "name": "creditable_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Limit the result to credits linked to this type of entity only.\nDepending on the privileges of the credential, this list might be further reduced to\nonly published entities.\n",
            "in": "query",
            "name": "creditable_type",
            "schema": {
              "enum": [
                "Series",
                "Season",
                "Episode"
              ],
              "type": "string"
            }
          },
          {
            "description": "Specify how to sort the result. Please refer to either the top section or the\n[JSON:API specification](https://jsonapi.org/format/#fetching-sorting) on how sorting works in general.\n",
            "explode": false,
            "in": "query",
            "name": "sort",
            "schema": {
              "default": "position",
              "items": {
                "enum": [
                  "created_at",
                  "position",
                  "updated_at"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "description": "A credit links a specific person to a series, season, or episode in a specific role.\n",
                        "properties": {
                          "attributes": {
                            "properties": {
                              "created_at": {
                                "format": "date-time",
                                "type": "string"
                              },
                              "position": {
                                "description": "The order of this credit within all credits of the referenced creditable entity",
                                "type": "integer"
                              },
                              "type": {
                                "description": "The type of credit the linked person has on the referenced entity",
                                "enum": [
                                  "AnchorCredit",
                                  "AssociateProducerCredit",
                                  "AuthorCredit",
                                  "CastCredit",
                                  "CoHostCredit",
                                  "ComposerCredit",
                                  "CreatorCredit",
                                  "Credit",
                                  "DirectorCredit",
                                  "EditorCredit",
                                  "EngineerCredit",
                                  "ExecutiveProducerCredit",
                                  "GuestCoHostCredit",
                                  "GuestCredit",
                                  "GuestHostCredit",
                                  "HeadWriterCredit",
                                  "HostCredit",
                                  "ProducerCredit",
                                  "ReporterCredit",
                                  "SeniorProducerCredit",
                                  "SidekickCredit",
                                  "VideoProducerCredit",
                                  "WriterCredit"
                                ],
                                "type": "string"
                              },
                              "updated_at": {
                                "format": "date-time",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "id": {
                            "example": "c1fbb1bf-45b1-4803-986e-123166f7f427",
                            "format": "uuid",
                            "type": "string"
                          },
                          "relationships": {
                            "properties": {
                              "creditable": {
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "The ID of the resource",
                                        "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                        "format": "uuid",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "The type of the resource",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              },
                              "person": {
                                "properties": {
                                  "data": {
                                    "properties": {
                                      "id": {
                                        "description": "The ID of the resource",
                                        "example": "5ea7da99-be17-45d5-84f5-c7bc01a2b1d6",
                                        "format": "uuid",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "The type of the resource",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "type": {
                            "description": "The type of resource. This is always `credits`",
                            "example": "credits",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "links": {
                      "properties": {
                        "first": {
                          "description": "A URL to retrieve the first page of data keeping the provided page size",
                          "type": "string"
                        },
                        "last": {
                          "description": "A URL to retrieve the last page of data keeping the provided page size",
                          "type": "string"
                        },
                        "next": {
                          "description": "A URL to retrieve the next page of data keeping the provided page size",
                          "type": "string"
                        },
                        "prev": {
                          "description": "A URL to retrieve the previous page of keeping using the provided page size",
                          "type": "string"
                        },
                        "self": {
                          "description": "A URL to retrieve the collection as the primary data",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Success"
          },
          "400": {
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "description": "An error object describing the problem. Please check out the\n[JSON:API Error document reference](https://jsonapi.org/format/#error-objects) for a full\ndescription of the returned object.\n",
                      "items": {
                        "properties": {
                          "code": {
                            "description": "An application-specific error code, expressed as a string value",
                            "type": "string"
                          },
                          "detail": {
                            "description": "A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.\n",
                            "example": "Required query parameter “series_id” is missing",
                            "type": "string"
                          },
                          "source": {
                            "description": "An object containing references to the source of the error, optionally including any of the following members.\n",
                            "nullable": true,
                            "properties": {
                              "parameter": {
                                "description": "A string indicating which URI query parameter caused the error.",
                                "example": "series_id",
                                "type": "string"
                              },
                              "pointer": {
                                "description": "A JSON Pointer [RFC6901](https://tools.ietf.org/html/rfc6901) to the associated entity in the request document (e.g. `/data` for a primary data object, or `/data/attributes/title` for a specific attribute).\n",
                                "example": "/data/attributes/name",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
[...]
