{
  "openapi": "3.0.0",
  "info": {
    "version": "2018-05-01",
    "x-release": "v4",
    "title": "Amazon Chime",
    "description": "<important> <p> <b>Most of these APIs are no longer supported and will not be updated.</b> We recommend using the latest versions in the <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/welcome.html\">Amazon Chime SDK API reference</a>, in the Amazon Chime SDK.</p> <p>Using the latest versions requires migrating to dedicated namespaces. For more information, refer to <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/migrate-from-chm-namespace.html\">Migrating from the Amazon Chime namespace</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p> </important> <p>The Amazon Chime application programming interface (API) is designed so administrators can perform key tasks, such as creating and managing Amazon Chime accounts, users, and Voice Connectors. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls for Amazon Chime. We recommend using an AWS SDK or the AWS CLI. The page for each API action contains a <i>See Also</i> section that includes links to information about using the action with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p> You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href=\"http://aws.amazon.com/developer/\">AWS Developer Center</a>. </p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/installing.html\">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/chime/index.html\">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>. </p> </dd> <dt>Using REST APIs</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports Signature Version 4. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/security-iam.html\">Identity and Access Management for Amazon Chime</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "chime",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/chime-2018-05-01.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/chime/"
  },
  "servers": [
    {
      "url": "http://service.chime.aws.amazon.com",
      "variables": {},
      "description": "The general Amazon Chime multi-region endpoint"
    },
    {
      "url": "https://service.chime.aws.amazon.com",
      "variables": {},
      "description": "The general Amazon Chime multi-region endpoint"
    },
    {
      "url": "http://chime.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The Amazon Chime endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://chime.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The Amazon Chime endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/accounts/{accountId}/users/{userId}#operation=associate-phone-number": {
      "post": {
        "operationId": "AssociatePhoneNumberWithUser",
        "description": "Associates a phone number with the specified Amazon Chime user.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "The user ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "associate-phone-number"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "E164PhoneNumber"
                ],
                "properties": {
                  "E164PhoneNumber": {
                    "description": "The phone number, in E.164 format.",
                    "type": "string",
                    "pattern": "^\\+?[1-9]\\d{1,14}$",
                    "format": "password"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/voice-connectors/{voiceConnectorId}#operation=associate-phone-numbers": {
      "post": {
        "deprecated": true,
        "operationId": "AssociatePhoneNumbersWithVoiceConnector",
        "description": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector.</p> <important> <p> <b>This API is is no longer supported and will not be updated.</b> We recommend using the latest version, <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/API_voice-chime_AssociatePhoneNumbersWithVoiceConnector.html\">AssociatePhoneNumbersWithVoiceConnector</a>, in the Amazon Chime SDK.</p> <p>Using the latest version requires migrating to a dedicated namespace. For more information, refer to <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/migrate-from-chm-namespace.html\">Migrating from the Amazon Chime namespace</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PhoneNumberErrors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "PhoneNumberId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": ".*\\S.*"
                                  },
                                  {
                                    "description": "The phone number ID for which the action failed."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "BadRequest",
                                      "Conflict",
                                      "Forbidden",
                                      "NotFound",
                                      "PreconditionFailed",
                                      "ResourceLimitExceeded",
                                      "ServiceFailure",
                                      "AccessDenied",
                                      "ServiceUnavailable",
                                      "Throttled",
                                      "Throttling",
                                      "Unauthorized",
                                      "Unprocessable",
                                      "VoiceConnectorGroupAssociationsExist",
                                      "PhoneNumberAssociationsExist"
                                    ]
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "If the phone number action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages."
                          }
                        },
                        {
                          "description": "If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "voiceConnectorId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime Voice Connector ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "associate-phone-numbers"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "E164PhoneNumbers"
                ],
                "properties": {
                  "E164PhoneNumbers": {
                    "description": "List of phone numbers, in E.164 format.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\+?[1-9]\\d{1,14}$",
                      "format": "password"
                    }
                  },
                  "ForceAssociate": {
                    "description": "If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/voice-connector-groups/{voiceConnectorGroupId}#operation=associate-phone-numbers": {
      "post": {
        "deprecated": true,
        "operationId": "AssociatePhoneNumbersWithVoiceConnectorGroup",
        "description": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector group.</p> <important> <p> <b>This API is is no longer supported and will not be updated.</b> We recommend using the latest version, <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/API_voice-chime_AssociatePhoneNumbersWithVoiceConnectorGroup.html\">AssociatePhoneNumbersWithVoiceConnectorGroup</a>, in the Amazon Chime SDK.</p> <p>Using the latest version requires migrating to a dedicated namespace. For more information, refer to <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/migrate-from-chm-namespace.html\">Migrating from the Amazon Chime namespace</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PhoneNumberErrors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "PhoneNumberId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": ".*\\S.*"
                                  },
                                  {
                                    "description": "The phone number ID for which the action failed."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "BadRequest",
                                      "Conflict",
                                      "Forbidden",
                                      "NotFound",
                                      "PreconditionFailed",
                                      "ResourceLimitExceeded",
                                      "ServiceFailure",
                                      "AccessDenied",
                                      "ServiceUnavailable",
                                      "Throttled",
                                      "Throttling",
                                      "Unauthorized",
                                      "Unprocessable",
                                      "VoiceConnectorGroupAssociationsExist",
                                      "PhoneNumberAssociationsExist"
                                    ]
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "If the phone number action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages."
                          }
                        },
                        {
                          "description": "If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "voiceConnectorGroupId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime Voice Connector group ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "associate-phone-numbers"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "E164PhoneNumbers"
                ],
                "properties": {
                  "E164PhoneNumbers": {
                    "description": "List of phone numbers, in E.164 format.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^\\+?[1-9]\\d{1,14}$",
                      "format": "password"
                    }
                  },
                  "ForceAssociate": {
                    "description": "If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector Group and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.",
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/accounts/{accountId}#operation=associate-signin-delegate-groups": {
      "post": {
        "operationId": "AssociateSigninDelegateGroupsWithAccount",
        "description": "Associates the specified sign-in delegate groups with the specified Amazon Chime account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "associate-signin-delegate-groups"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "SigninDelegateGroups"
                ],
                "properties": {
                  "SigninDelegateGroups": {
                    "description": "The sign-in delegate groups.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "GroupName": {
                          "allOf": [
                            {
                              "type": "string",
                              "pattern": ".*\\S.*"
                            },
                            {
                              "description": "The group name."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        }
                      },
                      "description": "An Active Directory (AD) group whose members are granted permission to act as delegates."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/meetings/{meetingId}/attendees#operation=batch-create": {
      "post": {
        "deprecated": true,
        "operationId": "BatchCreateAttendee",
        "description": "<p>Creates up to 100 new attendees for an active Amazon Chime SDK meeting.</p> <important> <p> <b>This API is is no longer supported and will not be updated.</b> We recommend using the latest version, <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/API_meeting-chime_BatchCreateAttendee.html\">BatchCreateAttendee</a>, in the Amazon Chime SDK.</p> <p>Using the latest version requires migrating to a dedicated namespace. For more information, refer to <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/migrate-from-chm-namespace.html\">Migrating from the Amazon Chime namespace</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p> </important> <p>For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime SDK Developer Guide</i>. </p>",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Attendees": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ExternalUserId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "minLength": 2,
                                    "maxLength": 64,
                                    "format": "password"
                                  },
                                  {
                                    "description": "The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "AttendeeId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
                                  },
                                  {
                                    "description": "The Amazon Chime SDK attendee ID."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "JoinToken": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9+/]+$",
                                    "minLength": 2,
                                    "maxLength": 2048,
                                    "format": "password"
                                  },
                                  {
                                    "description": "The join token used by the Amazon Chime SDK attendee."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "<p> An Amazon Chime SDK meeting attendee. Includes a unique <code>AttendeeId</code> and <code>JoinToken</code> . The <code>JoinToken</code> allows a client to authenticate and join as the specified attendee. The <code>JoinToken</code> expires when the meeting ends or when <a>DeleteAttendee</a> is called. After that, the attendee is unable to join the meeting. </p> <p>We recommend securely transferring each <code>JoinToken</code> from your server application to the client so that no other client has access to the token except for the one authorized to represent the attendee.</p>"
                          }
                        },
                        {
                          "description": "The attendee information, including attendees IDs and join tokens."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "Errors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ExternalUserId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "minLength": 2,
                                    "maxLength": 64,
                                    "format": "password"
                                  },
                                  {
                                    "description": "The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "The list of errors returned when errors are encountered during the BatchCreateAttendee and CreateAttendee actions. This includes external user IDs, error codes, and error messages."
                          }
                        },
                        {
                          "description": "If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ResourceLimitExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "meetingId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime SDK meeting ID.",
            "schema": {
              "type": "string",
              "pattern": "[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "batch-create"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "Attendees"
                ],
                "properties": {
                  "Attendees": {
                    "description": "The request containing the attendees to create.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "ExternalUserId"
                      ],
                      "properties": {
                        "ExternalUserId": {
                          "allOf": [
                            {
                              "type": "string",
                              "minLength": 2,
                              "maxLength": 64,
                              "format": "password"
                            },
                            {
                              "description": "The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "Tags": {
                          "allOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "Key",
                                  "Value"
                                ],
                                "properties": {
                                  "Key": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 128,
                                        "format": "password"
                                      },
                                      {
                                        "description": "The key of the tag."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  },
                                  "Value": {
                                    "allOf": [
                                      {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 256,
                                        "format": "password"
                                      },
                                      {
                                        "description": "The value of the tag."
                                      }
                                    ],
                                    "_polymorphic_marker": {
                                      "allOf": true
                                    }
                                  }
                                },
                                "description": "Describes a tag applied to a resource."
                              },
                              "minItems": 1,
                              "maxItems": 10
                            },
                            {
                              "description": "The tag key-value pairs."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        }
                      },
                      "description": "The Amazon Chime SDK attendee fields to create, used with the BatchCreateAttendee action."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/channels/{channelArn}/memberships#operation=batch-create": {
      "post": {
        "deprecated": true,
        "operationId": "BatchCreateChannelMembership",
        "description": "<p>Adds a specified number of users to a channel.</p> <important> <p> <b>This API is is no longer supported and will not be updated.</b> We recommend using the latest version, <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/API_messaging-chime_BatchCreateChannelMembership.html\">BatchCreateChannelMembership</a>, in the Amazon Chime SDK.</p> <p>Using the latest version requires migrating to a dedicated namespace. For more information, refer to <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/migrate-from-chm-namespace.html\">Migrating from the Amazon Chime namespace</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "BatchChannelMemberships": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "InvitedBy": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "Arn": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
                                          "minLength": 5,
                                          "maxLength": 1600
                                        },
                                        {
                                          "description": "The ARN in an Identity."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "Name": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
                                          "minLength": 0,
                                          "maxLength": 256,
                                          "format": "password"
                                        },
                                        {
                                          "description": "The name in an Identity."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "The details of a user."
                                },
                                {
                                  "description": "The identifier of the member who invited another member."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Type": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "DEFAULT",
                                    "HIDDEN"
                                  ]
                                },
                                {
                                  "description": "The membership types set for the channel users."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Members": {
                              "allOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "Arn": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
                                            "minLength": 5,
                                            "maxLength": 1600
                                          },
                                          {
                                            "description": "The ARN in an Identity."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "Name": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
                                            "minLength": 0,
                                            "maxLength": 256,
                                            "format": "password"
                                          },
                                          {
                                            "description": "The name in an Identity."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "The details of a user."
                                  }
                                },
                                {
                                  "description": "The users successfully added to the request."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "ChannelArn": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
                                  "minLength": 5,
                                  "maxLength": 1600
                                },
                                {
                                  "description": "The ARN of the channel to which you're adding users."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "The membership information, including member ARNs, the channel ARN, and membership types."
                        },
                        {
                          "description": "The list of channel memberships in the response."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "Errors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "MemberArn": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
                                    "minLength": 5,
                                    "maxLength": 1600
                                  },
                                  {
                                    "description": "The ARN of the member that the service couldn't add."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "BadRequest",
                                      "Conflict",
                                      "Forbidden",
                                      "NotFound",
                                      "PreconditionFailed",
                                      "ResourceLimitExceeded",
                                      "ServiceFailure",
                                      "AccessDenied",
                                      "ServiceUnavailable",
                                      "Throttled",
                                      "Throttling",
                                      "Unauthorized",
                                      "Unprocessable",
                                      "VoiceConnectorGroupAssociationsExist",
                                      "PhoneNumberAssociationsExist"
                                    ]
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "A list of failed member ARNs, error codes, and error messages."
                          }
                        },
                        {
                          "description": "If the action fails for one or more of the memberships in the request, a list of the memberships is returned, along with error codes and error messages."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "channelArn",
            "in": "path",
            "required": true,
            "description": "The ARN of the channel to which you're adding users.",
            "schema": {
              "type": "string",
              "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
              "minLength": 5,
              "maxLength": 1600
            }
          },
          {
            "name": "x-amz-chime-bearer",
            "in": "header",
            "required": false,
            "description": "The <code>AppInstanceUserArn</code> of the user that makes the API call.",
            "schema": {
              "type": "string",
              "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
              "minLength": 5,
              "maxLength": 1600
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "batch-create"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "MemberArns"
                ],
                "properties": {
                  "Type": {
                    "description": "The membership type of a user, <code>DEFAULT</code> or <code>HIDDEN</code>. Default members are always returned as part of <code>ListChannelMemberships</code>. Hidden members are only returned if the type filter in <code>ListChannelMemberships</code> equals <code>HIDDEN</code>. Otherwise hidden members are not returned. This is only supported by moderators.",
                    "type": "string",
                    "enum": [
                      "DEFAULT",
                      "HIDDEN"
                    ]
                  },
                  "MemberArns": {
                    "description": "The ARNs of the members you want to add to the channel.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
                      "minLength": 5,
                      "maxLength": 1600
                    },
                    "minItems": 1,
                    "maxItems": 100
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/accounts/{accountId}/rooms/{roomId}/memberships#operation=batch-create": {
      "post": {
        "operationId": "BatchCreateRoomMembership",
        "description": "Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Errors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "MemberId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": ".*\\S.*"
                                  },
                                  {
                                    "description": "The member ID."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "BadRequest",
                                      "Conflict",
                                      "Forbidden",
                                      "NotFound",
                                      "PreconditionFailed",
                                      "ResourceLimitExceeded",
                                      "ServiceFailure",
                                      "AccessDenied",
                                      "ServiceUnavailable",
                                      "Throttled",
                                      "Throttling",
                                      "Unauthorized",
                                      "Unprocessable",
                                      "VoiceConnectorGroupAssociationsExist",
                                      "PhoneNumberAssociationsExist"
                                    ]
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "The list of errors returned when a member action results in an error."
                          }
                        },
                        {
                          "description": "If the action fails for one or more of the member IDs in the request, a list of the member IDs is returned, along with error codes and error messages."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "roomId",
            "in": "path",
            "required": true,
            "description": "The room ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "batch-create"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "MembershipItemList"
                ],
                "properties": {
                  "MembershipItemList": {
                    "description": "The list of membership items.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "MemberId": {
                          "allOf": [
                            {
                              "type": "string",
                              "pattern": ".*\\S.*"
                            },
                            {
                              "description": "The member ID."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "Role": {
                          "allOf": [
                            {
                              "type": "string",
                              "enum": [
                                "Administrator",
                                "Member"
                              ]
                            },
                            {
                              "description": "The member role."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        }
                      },
                      "description": "Membership details, such as member ID and member role."
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/phone-numbers#operation=batch-delete": {
      "post": {
        "operationId": "BatchDeletePhoneNumber",
        "description": "<p> Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted. </p> <p> Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently. </p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "PhoneNumberErrors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "PhoneNumberId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": ".*\\S.*"
                                  },
                                  {
                                    "description": "The phone number ID for which the action failed."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "BadRequest",
                                      "Conflict",
                                      "Forbidden",
                                      "NotFound",
                                      "PreconditionFailed",
                                      "ResourceLimitExceeded",
                                      "ServiceFailure",
                                      "AccessDenied",
                                      "ServiceUnavailable",
                                      "Throttled",
                                      "Throttling",
                                      "Unauthorized",
                                      "Unprocessable",
                                      "VoiceConnectorGroupAssociationsExist",
                                      "PhoneNumberAssociationsExist"
                                    ]
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "If the phone number action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages."
                          }
                        },
                        {
                          "description": "If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "batch-delete"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "PhoneNumberIds"
                ],
                "properties": {
                  "PhoneNumberIds": {
                    "description": "List of phone number IDs.",
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/accounts/{accountId}/users#operation=suspend": {
      "post": {
        "operationId": "BatchSuspendUser",
        "description": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are disassociated from the account,but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action.</p> <p> To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "UserErrors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "UserId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": ".*\\S.*"
                                  },
                                  {
                                    "description": "The user ID for which the action failed."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "BadRequest",
                                      "Conflict",
                                      "Forbidden",
                                      "NotFound",
                                      "PreconditionFailed",
                                      "ResourceLimitExceeded",
                                      "ServiceFailure",
                                      "AccessDenied",
                                      "ServiceUnavailable",
                                      "Throttled",
                                      "Throttling",
                                      "Unauthorized",
                                      "Unprocessable",
                                      "VoiceConnectorGroupAssociationsExist",
                                      "PhoneNumberAssociationsExist"
                                    ]
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "The list of errors returned when errors are encountered during the <a>BatchSuspendUser</a>, <a>BatchUnsuspendUser</a>, or <a>BatchUpdateUser</a> actions. This includes user IDs, error codes, and error messages."
                          }
                        },
                        {
                          "description": "If the <a>BatchSuspendUser</a> action fails for one or more of the user IDs in the request, a list of the user IDs is returned, along with error codes and error messages."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "UnauthorizedClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "NotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ForbiddenException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "BadRequestException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ThrottledClientException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ServiceUnavailableException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "description": "The Amazon Chime account ID.",
            "schema": {
              "type": "string",
              "pattern": ".*\\S.*"
            }
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "suspend"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "UserIdList"
                ],
                "properties": {
                  "UserIdList": {
                    "description": "The request containing the user IDs to suspend.",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": ".*\\S.*"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/accounts/{accountId}/users#operation=unsuspend": {
      "post": {
        "operationId": "BatchUnsuspendUser",
        "description": "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\"> Managing Your Amazon Chime Accounts </a> in the account types, in the <i>Amazon Chime Administration Guide</i>. </p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "UserErrors": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "UserId": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": ".*\\S.*"
                                  },
                                  {
                                    "description": "The user ID for which the action failed."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "BadRequest",
                                      "Conflict",
                                      "Forbidden",
                                      "NotFound",
                                      "PreconditionFailed",
                                      "ResourceLimitExceeded",
                                      "ServiceFailure",
                                      "AccessDenied",
                                      "ServiceUnavailable",
                                      "Throttled",
                                      "Throttling",
                                      "Unauthorized",
                                      "Unprocessable",
                                      "VoiceConnectorGroupAssociationsExist",
                                      "PhoneNumberAssociationsExist"
                                    ]
                                  },
                                  {
                                    "description": "The error code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "ErrorMessage": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The error message."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "The list of errors returned when errors are encountered during the <a>BatchSuspendUser</a>, <a>BatchUnsuspendUser</a>, or <a>BatchUpdateUser</a> actions. This includes user IDs, error codes, and error messages."
[...]
