{
  "openapi": "3.0.0",
  "info": {
    "version": "2010-05-08",
    "x-release": "v4",
    "title": "AWS Identity and Access Management",
    "description": "<fullname>Identity and Access Management</fullname> <p>Identity and Access Management (IAM) is a web service for securely controlling access to Amazon Web Services services. With IAM, you can centrally manage users, security credentials such as access keys, and permissions that control which Amazon Web Services resources users and applications can access. For more information about IAM, see <a href=\"http://aws.amazon.com/iam/\">Identity and Access Management (IAM)</a> and the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/\">Identity and Access Management User Guide</a>.</p>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "iam",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iam-2010-05-08.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/iam/"
  },
  "servers": [
    {
      "url": "https://iam.amazonaws.com",
      "variables": {},
      "description": "The general IAM multi-region endpoint"
    },
    {
      "url": "http://iam.us-gov.amazonaws.com",
      "variables": {},
      "description": "The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)"
    },
    {
      "url": "https://iam.us-gov.amazonaws.com",
      "variables": {},
      "description": "The general IAM endpoint for AWS GovCloud (US) and AWS GovCloud (US-East)"
    },
    {
      "url": "http://iam.cn-north-1.amazonaws.com.cn",
      "variables": {},
      "description": "The general IAM endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://iam.cn-north-1.amazonaws.com.cn",
      "variables": {},
      "description": "The general IAM endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/billing/{id}": {
      "get": {
        "x-aws-operation-name": "UntagSAMLProvider",
        "operationId": "get-untagsamlprovider",
        "description": "Removes the specified tags from the specified Security Assertion Markup Language (SAML) identity provider in IAM. For more information about these providers, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_oidc.html\">About web identity federation</a>. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "NoSuchEntityException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidInputException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "SAMLProviderArn",
            "in": "query",
            "required": true,
            "description": "<p>The ARN of the SAML identity provider in IAM from which you want to remove tags.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "schema": {
              "type": "string",
              "description": "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>",
              "minLength": 20,
              "maxLength": 2048
            }
          },
          {
            "name": "TagKeys",
            "in": "query",
            "required": true,
            "description": "A list of key names as a simple array of strings. The tags with matching keys are removed from the specified SAML identity provider.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+",
                "minLength": 1,
                "maxLength": 128
              },
              "maxItems": 50
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UntagSAMLProvider"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-05-08"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ],
      "post": {
        "x-aws-operation-name": "UntagSAMLProvider",
        "operationId": "post-untagsamlprovider",
        "description": "Removes the specified tags from the specified Security Assertion Markup Language (SAML) identity provider in IAM. For more information about these providers, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_oidc.html\">About web identity federation</a>. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>.",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "NoSuchEntityException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidInputException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ConcurrentModificationException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceFailureException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "SAMLProviderArn",
                  "TagKeys"
                ],
                "title": "UntagSAMLProviderRequest",
                "properties": {
                  "SAMLProviderArn": {
                    "allOf": [
                      {
                        "type": "string",
                        "description": "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>",
                        "minLength": 20,
                        "maxLength": 2048
                      },
                      {
                        "description": "<p>The ARN of the SAML identity provider in IAM from which you want to remove tags.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "TagKeys": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "maxItems": 50
                      },
                      {
                        "description": "A list of key names as a simple array of strings. The tags with matching keys are removed from the specified SAML identity provider."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UntagSAMLProvider"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-05-08"
              ]
            }
          }
        ]
      }
    },
    "/carts/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/shipments/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/payments/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/inventory/{id}": {
      "get": {
        "x-aws-operation-name": "UploadSigningCertificate",
        "operationId": "get-uploadsigningcertificate",
        "description": "<p>Uploads an X.509 signing certificate and associates it with the specified IAM user. Some Amazon Web Services services require you to use certificates to validate requests that are signed with a corresponding private key. When you upload the certificate, its default status is <code>Active</code>.</p> <p>For information about when you would use an X.509 signing certificate, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Managing server certificates in IAM</a> in the <i>IAM User Guide</i>.</p> <p>If the <code>UserName</code> is not specified, the IAM user name is determined implicitly based on the Amazon Web Services access key ID used to sign the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials even if the Amazon Web Services account has no associated users.</p> <note> <p>Because the body of an X.509 certificate can be large, you should use POST rather than GET when calling <code>UploadSigningCertificate</code>. For information about setting up signatures and authorization through the API, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing Amazon Web Services API requests</a> in the <i>Amazon Web Services General Reference</i>. For general information about using the Query API with IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making query requests</a> in the <i>IAM User Guide</i>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "Certificate"
                  ],
                  "example": {
                    "Certificate": {
                      "CertificateBody": "-----BEGIN CERTIFICATE-----<certificate-body>-----END CERTIFICATE-----",
                      "CertificateId": "ID123456789012345EXAMPLE",
                      "Status": "Active",
                      "UploadDate": "2015-06-06T21:40:08.121Z",
                      "UserName": "Bob"
                    }
                  },
                  "properties": {
                    "Certificate": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "UserName",
                            "CertificateId",
                            "CertificateBody",
                            "Status"
                          ],
                          "properties": {
                            "UserName": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w+=,.@-]+",
                                  "minLength": 1,
                                  "maxLength": 64
                                },
                                {
                                  "description": "The name of the user the signing certificate is associated with."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "CertificateId": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w]+",
                                  "minLength": 24,
                                  "maxLength": 128
                                },
                                {
                                  "description": "The ID for the signing certificate."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "CertificateBody": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
                                  "minLength": 1,
                                  "maxLength": 16384
                                },
                                {
                                  "description": "The contents of the signing certificate."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Status": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "Active",
                                    "Inactive"
                                  ]
                                },
                                {
                                  "description": "The status of the signing certificate. <code>Active</code> means that the key is valid for API calls, while <code>Inactive</code> means it is not."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "UploadDate": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "description": "The date when the signing certificate was uploaded."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "<p>Contains information about an X.509 signing certificate.</p> <p>This data type is used as a response element in the <a>UploadSigningCertificate</a> and <a>ListSigningCertificates</a> operations. </p>"
                        },
                        {
                          "description": "Information about the certificate."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "Contains the response to a successful <a>UploadSigningCertificate</a> request. "
                }
              }
            }
          },
          "480": {
            "description": "LimitExceededException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "EntityAlreadyExistsException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "MalformedCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "InvalidCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "DuplicateCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "NoSuchEntityException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ConcurrentModificationException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "UserName",
            "in": "query",
            "required": false,
            "description": "<p>The name of the user the signing certificate is for.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "schema": {
              "type": "string",
              "pattern": "[\\w+=,.@-]+",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "CertificateBody",
            "in": "query",
            "required": true,
            "description": "<p>The contents of the signing certificate.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>",
            "schema": {
              "type": "string",
              "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
              "minLength": 1,
              "maxLength": 16384
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UploadSigningCertificate"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-05-08"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ],
      "post": {
        "x-aws-operation-name": "UploadSigningCertificate",
        "operationId": "post-uploadsigningcertificate-v2",
        "description": "<p>Uploads an X.509 signing certificate and associates it with the specified IAM user. Some Amazon Web Services services require you to use certificates to validate requests that are signed with a corresponding private key. When you upload the certificate, its default status is <code>Active</code>.</p> <p>For information about when you would use an X.509 signing certificate, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Managing server certificates in IAM</a> in the <i>IAM User Guide</i>.</p> <p>If the <code>UserName</code> is not specified, the IAM user name is determined implicitly based on the Amazon Web Services access key ID used to sign the request. This operation works for access keys under the Amazon Web Services account. Consequently, you can use this operation to manage Amazon Web Services account root user credentials even if the Amazon Web Services account has no associated users.</p> <note> <p>Because the body of an X.509 certificate can be large, you should use POST rather than GET when calling <code>UploadSigningCertificate</code>. For information about setting up signatures and authorization through the API, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing Amazon Web Services API requests</a> in the <i>Amazon Web Services General Reference</i>. For general information about using the Query API with IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making query requests</a> in the <i>IAM User Guide</i>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "required": [
                    "Certificate"
                  ],
                  "example": {
                    "Certificate": {
                      "CertificateBody": "-----BEGIN CERTIFICATE-----<certificate-body>-----END CERTIFICATE-----",
                      "CertificateId": "ID123456789012345EXAMPLE",
                      "Status": "Active",
                      "UploadDate": "2015-06-06T21:40:08.121Z",
                      "UserName": "Bob"
                    }
                  },
                  "properties": {
                    "Certificate": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "UserName",
                            "CertificateId",
                            "CertificateBody",
                            "Status"
                          ],
                          "properties": {
                            "UserName": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w+=,.@-]+",
                                  "minLength": 1,
                                  "maxLength": 64
                                },
                                {
                                  "description": "The name of the user the signing certificate is associated with."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "CertificateId": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w]+",
                                  "minLength": 24,
                                  "maxLength": 128
                                },
                                {
                                  "description": "The ID for the signing certificate."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "CertificateBody": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
                                  "minLength": 1,
                                  "maxLength": 16384
                                },
                                {
                                  "description": "The contents of the signing certificate."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Status": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "Active",
                                    "Inactive"
                                  ]
                                },
                                {
                                  "description": "The status of the signing certificate. <code>Active</code> means that the key is valid for API calls, while <code>Inactive</code> means it is not."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "UploadDate": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "description": "The date when the signing certificate was uploaded."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "<p>Contains information about an X.509 signing certificate.</p> <p>This data type is used as a response element in the <a>UploadSigningCertificate</a> and <a>ListSigningCertificates</a> operations. </p>"
                        },
                        {
                          "description": "Information about the certificate."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "Contains the response to a successful <a>UploadSigningCertificate</a> request. "
                }
              }
            }
          },
          "480": {
            "description": "LimitExceededException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "EntityAlreadyExistsException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "MalformedCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "InvalidCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "DuplicateCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "NoSuchEntityException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ConcurrentModificationException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "487": {
            "description": "ServiceFailureException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "CertificateBody"
                ],
                "title": "UploadSigningCertificateRequest",
                "properties": {
                  "UserName": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\w+=,.@-]+",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      {
                        "description": "<p>The name of the user the signing certificate is for.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "CertificateBody": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
                        "minLength": 1,
                        "maxLength": 16384
                      },
                      {
                        "description": "<p>The contents of the signing certificate.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UploadSigningCertificate"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-05-08"
              ]
            }
          }
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "x-aws-operation-name": "UploadServerCertificate",
        "operationId": "get-uploadservercertificate-v2",
        "description": "<p>Uploads a server certificate entity for the Amazon Web Services account. The server certificate entity includes a public key certificate, a private key, and an optional certificate chain, which should all be PEM-encoded.</p> <p>We recommend that you use <a href=\"https://docs.aws.amazon.com/acm/\">Certificate Manager</a> to provision, manage, and deploy your server certificates. With ACM you can request a certificate, deploy it to Amazon Web Services resources, and let ACM handle certificate renewals for you. Certificates provided by ACM are free. For more information about using ACM, see the <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/\">Certificate Manager User Guide</a>.</p> <p>For more information about working with server certificates, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Working with server certificates</a> in the <i>IAM User Guide</i>. This topic includes a list of Amazon Web Services services that can use the server certificates that you manage with IAM.</p> <p>For information about the number of server certificates you can upload, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <note> <p>Because the body of the public key certificate, private key, and the certificate chain can be large, you should use POST rather than GET when calling <code>UploadServerCertificate</code>. For information about setting up signatures and authorization through the API, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing Amazon Web Services API requests</a> in the <i>Amazon Web Services General Reference</i>. For general information about using the Query API with IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/programming.html\">Calling the API by making HTTP query requests</a> in the <i>IAM User Guide</i>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "example": {
                    "ServerCertificateMetadata": {
                      "Arn": "arn:aws:iam::123456789012:server-certificate/company/servercerts/ProdServerCert",
                      "Expiration": "2012-05-08T01:02:03.004Z",
                      "Path": "/company/servercerts/",
                      "ServerCertificateId": "ASCA1111111111EXAMPLE",
                      "ServerCertificateName": "ProdServerCert",
                      "UploadDate": "2010-05-08T01:02:03.004Z"
                    }
                  },
                  "properties": {
                    "ServerCertificateMetadata": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "Path",
                            "ServerCertificateName",
                            "ServerCertificateId",
                            "Arn"
                          ],
                          "properties": {
                            "Path": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)",
                                  "minLength": 1,
                                  "maxLength": 512
                                },
                                {
                                  "description": " The path to the server certificate. For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "ServerCertificateName": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w+=,.@-]+",
                                  "minLength": 1,
                                  "maxLength": 128
                                },
                                {
                                  "description": "The name that identifies the server certificate."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "ServerCertificateId": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w]+",
                                  "minLength": 16,
                                  "maxLength": 128
                                },
                                {
                                  "description": " The stable and unique string identifying the server certificate. For more information about IDs, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Arn": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "description": "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>",
                                  "minLength": 20,
                                  "maxLength": 2048
                                },
                                {
                                  "description": " The Amazon Resource Name (ARN) specifying the server certificate. For more information about ARNs and how to use them in policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "UploadDate": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "description": "The date when the server certificate was uploaded."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Expiration": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "description": "The date on which the certificate is set to expire."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "<p>Contains information about a server certificate without its certificate body, certificate chain, and private key.</p> <p> This data type is used as a response element in the <a>UploadServerCertificate</a> and <a>ListServerCertificates</a> operations. </p>"
                        },
                        {
                          "description": "The meta information of the uploaded server certificate without its certificate body, certificate chain, and private key."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "Tags": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "Key",
                              "Value"
                            ],
                            "properties": {
                              "Key": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+",
                                    "minLength": 1,
                                    "maxLength": 128
                                  },
                                  {
                                    "description": "The key name that can be used to look up or retrieve the associated value. For example, <code>Department</code> or <code>Cost Center</code> are common choices."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "Value": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*",
                                    "minLength": 0,
                                    "maxLength": 256
                                  },
                                  {
                                    "description": "<p>The value associated with this tag. For example, tags with a key name of <code>Department</code> could have values such as <code>Human Resources</code>, <code>Accounting</code>, and <code>Support</code>. Tags with a key name of <code>Cost Center</code> might have values that consist of the number associated with the different cost centers in your company. Typically, many resources have tags with the same key name but with different values.</p> <note> <p>Amazon Web Services always interprets the tag <code>Value</code> as a single string. If you need to store an array, you can store comma-separated values in the string. However, you must interpret the value in your code.</p> </note>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "A structure that represents user-provided metadata that can be associated with an IAM resource. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>."
                          },
                          "maxItems": 50
                        },
                        {
                          "description": "A list of tags that are attached to the new IAM server certificate. The returned list of tags is sorted by tag key. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "Contains the response to a successful <a>UploadServerCertificate</a> request. "
                }
              }
            }
          },
          "480": {
            "description": "LimitExceededException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidInputException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "EntityAlreadyExistsException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "MalformedCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "KeyPairMismatchException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ConcurrentModificationException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Path",
            "in": "query",
            "required": false,
            "description": "<p>The path for the server certificate. For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/). This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes. In addition, it can contain any ASCII character from the ! (<code>\\u0021</code>) through the DEL character (<code>\\u007F</code>), including most punctuation characters, digits, and upper and lowercased letters.</p> <note> <p> If you are uploading a server certificate specifically for use with Amazon CloudFront distributions, you must specify a path using the <code>path</code> parameter. The path must begin with <code>/cloudfront</code> and must include a trailing slash (for example, <code>/cloudfront/test/</code>).</p> </note>",
            "schema": {
              "type": "integer",
              "pattern": "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)",
              "minLength": 1,
              "maxLength": 512
            }
          },
          {
            "name": "ServerCertificateName",
            "in": "query",
            "required": true,
            "description": "<p>The name for the server certificate. Do not include the path in this value. The name of the certificate cannot contain any spaces.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "schema": {
              "type": "string",
              "pattern": "[\\w+=,.@-]+",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "CertificateBody",
            "in": "query",
            "required": true,
            "description": "<p>The contents of the public key certificate in PEM-encoded format.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>",
            "schema": {
              "type": "string",
              "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
              "minLength": 1,
              "maxLength": 16384
            }
          },
          {
            "name": "PrivateKey",
            "in": "query",
            "required": true,
            "description": "<p>The contents of the private key in PEM-encoded format.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>",
            "schema": {
              "type": "string",
              "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
              "minLength": 1,
              "maxLength": 16384,
              "format": "password"
            }
          },
          {
            "name": "CertificateChain",
            "in": "query",
            "required": false,
            "description": "<p>The contents of the certificate chain. This is typically a concatenation of the PEM-encoded public key certificates of the chain.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>",
            "schema": {
              "type": "string",
              "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
              "minLength": 1,
              "maxLength": 2097152
            }
          },
          {
            "name": "Tags",
            "in": "query",
            "required": false,
            "description": "<p>A list of tags that you want to attach to the new IAM server certificate resource. Each tag consists of a key name and an associated value. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>.</p> <note> <p>If any one of the tags is invalid or if you exceed the allowed maximum number of tags, then the entire request fails and the resource is not created.</p> </note>",
            "schema": {
              "type": "string",
              "items": {
                "type": "object",
                "required": [
                  "Key",
                  "Value"
                ],
                "properties": {
                  "Key": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      {
                        "description": "The key name that can be used to look up or retrieve the associated value. For example, <code>Department</code> or <code>Cost Center</code> are common choices."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "Value": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*",
                        "minLength": 0,
                        "maxLength": 256
                      },
                      {
                        "description": "<p>The value associated with this tag. For example, tags with a key name of <code>Department</code> could have values such as <code>Human Resources</code>, <code>Accounting</code>, and <code>Support</code>. Tags with a key name of <code>Cost Center</code> might have values that consist of the number associated with the different cost centers in your company. Typically, many resources have tags with the same key name but with different values.</p> <note> <p>Amazon Web Services always interprets the tag <code>Value</code> as a single string. If you need to store an array, you can store comma-separated values in the string. However, you must interpret the value in your code.</p> </note>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                },
                "description": "A structure that represents user-provided metadata that can be associated with an IAM resource. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>."
              },
              "maxItems": 50
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UploadServerCertificate"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-05-08"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ],
      "post": {
        "x-aws-operation-name": "UploadServerCertificate",
        "operationId": "post-uploadservercertificate-v2",
        "description": "<p>Uploads a server certificate entity for the Amazon Web Services account. The server certificate entity includes a public key certificate, a private key, and an optional certificate chain, which should all be PEM-encoded.</p> <p>We recommend that you use <a href=\"https://docs.aws.amazon.com/acm/\">Certificate Manager</a> to provision, manage, and deploy your server certificates. With ACM you can request a certificate, deploy it to Amazon Web Services resources, and let ACM handle certificate renewals for you. Certificates provided by ACM are free. For more information about using ACM, see the <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/\">Certificate Manager User Guide</a>.</p> <p>For more information about working with server certificates, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Working with server certificates</a> in the <i>IAM User Guide</i>. This topic includes a list of Amazon Web Services services that can use the server certificates that you manage with IAM.</p> <p>For information about the number of server certificates you can upload, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS quotas</a> in the <i>IAM User Guide</i>.</p> <note> <p>Because the body of the public key certificate, private key, and the certificate chain can be large, you should use POST rather than GET when calling <code>UploadServerCertificate</code>. For information about setting up signatures and authorization through the API, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing Amazon Web Services API requests</a> in the <i>Amazon Web Services General Reference</i>. For general information about using the Query API with IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/programming.html\">Calling the API by making HTTP query requests</a> in the <i>IAM User Guide</i>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "example": {
                    "ServerCertificateMetadata": {
                      "Arn": "arn:aws:iam::123456789012:server-certificate/company/servercerts/ProdServerCert",
                      "Expiration": "2012-05-08T01:02:03.004Z",
                      "Path": "/company/servercerts/",
                      "ServerCertificateId": "ASCA1111111111EXAMPLE",
                      "ServerCertificateName": "ProdServerCert",
                      "UploadDate": "2010-05-08T01:02:03.004Z"
                    }
                  },
                  "properties": {
                    "ServerCertificateMetadata": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "Path",
                            "ServerCertificateName",
                            "ServerCertificateId",
                            "Arn"
                          ],
                          "properties": {
                            "Path": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)",
                                  "minLength": 1,
                                  "maxLength": 512
                                },
                                {
                                  "description": " The path to the server certificate. For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "ServerCertificateName": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w+=,.@-]+",
                                  "minLength": 1,
                                  "maxLength": 128
                                },
                                {
                                  "description": "The name that identifies the server certificate."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "ServerCertificateId": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\w]+",
                                  "minLength": 16,
                                  "maxLength": 128
                                },
                                {
                                  "description": " The stable and unique string identifying the server certificate. For more information about IDs, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Arn": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "description": "<p>The Amazon Resource Name (ARN). ARNs are unique identifiers for Amazon Web Services resources.</p> <p>For more information about ARNs, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. </p>",
                                  "minLength": 20,
                                  "maxLength": 2048
                                },
                                {
                                  "description": " The Amazon Resource Name (ARN) specifying the server certificate. For more information about ARNs and how to use them in policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>. "
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "UploadDate": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "description": "The date when the server certificate was uploaded."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Expiration": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                {
                                  "description": "The date on which the certificate is set to expire."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "<p>Contains information about a server certificate without its certificate body, certificate chain, and private key.</p> <p> This data type is used as a response element in the <a>UploadServerCertificate</a> and <a>ListServerCertificates</a> operations. </p>"
                        },
                        {
                          "description": "The meta information of the uploaded server certificate without its certificate body, certificate chain, and private key."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "Tags": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "Key",
                              "Value"
                            ],
                            "properties": {
                              "Key": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+",
                                    "minLength": 1,
                                    "maxLength": 128
                                  },
                                  {
                                    "description": "The key name that can be used to look up or retrieve the associated value. For example, <code>Department</code> or <code>Cost Center</code> are common choices."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "Value": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*",
                                    "minLength": 0,
                                    "maxLength": 256
                                  },
                                  {
                                    "description": "<p>The value associated with this tag. For example, tags with a key name of <code>Department</code> could have values such as <code>Human Resources</code>, <code>Accounting</code>, and <code>Support</code>. Tags with a key name of <code>Cost Center</code> might have values that consist of the number associated with the different cost centers in your company. Typically, many resources have tags with the same key name but with different values.</p> <note> <p>Amazon Web Services always interprets the tag <code>Value</code> as a single string. If you need to store an array, you can store comma-separated values in the string. However, you must interpret the value in your code.</p> </note>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "A structure that represents user-provided metadata that can be associated with an IAM resource. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>."
                          },
                          "maxItems": 50
                        },
                        {
                          "description": "A list of tags that are attached to the new IAM server certificate. The returned list of tags is sorted by tag key. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "Contains the response to a successful <a>UploadServerCertificate</a> request. "
                }
              }
            }
          },
          "480": {
            "description": "LimitExceededException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "InvalidInputException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "EntityAlreadyExistsException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "MalformedCertificateException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "KeyPairMismatchException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "ConcurrentModificationException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "486": {
            "description": "ServiceFailureException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "ServerCertificateName",
                  "CertificateBody",
                  "PrivateKey"
                ],
                "title": "UploadServerCertificateRequest",
                "properties": {
                  "Path": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)",
                        "minLength": 1,
                        "maxLength": 512
                      },
                      {
                        "description": "<p>The path for the server certificate. For more information about paths, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">IAM identifiers</a> in the <i>IAM User Guide</i>.</p> <p>This parameter is optional. If it is not included, it defaults to a slash (/). This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes. In addition, it can contain any ASCII character from the ! (<code>\\u0021</code>) through the DEL character (<code>\\u007F</code>), including most punctuation characters, digits, and upper and lowercased letters.</p> <note> <p> If you are uploading a server certificate specifically for use with Amazon CloudFront distributions, you must specify a path using the <code>path</code> parameter. The path must begin with <code>/cloudfront</code> and must include a trailing slash (for example, <code>/cloudfront/test/</code>).</p> </note>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "ServerCertificateName": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\w+=,.@-]+",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      {
                        "description": "<p>The name for the server certificate. Do not include the path in this value. The name of the certificate cannot contain any spaces.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "CertificateBody": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
                        "minLength": 1,
                        "maxLength": 16384
                      },
                      {
                        "description": "<p>The contents of the public key certificate in PEM-encoded format.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "PrivateKey": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
                        "minLength": 1,
                        "maxLength": 16384,
                        "format": "password"
                      },
                      {
                        "description": "<p>The contents of the private key in PEM-encoded format.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "CertificateChain": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+",
                        "minLength": 1,
                        "maxLength": 2097152
                      },
                      {
                        "description": "<p>The contents of the certificate chain. This is typically a concatenation of the PEM-encoded public key certificates of the chain.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> used to validate this parameter is a string of characters consisting of the following:</p> <ul> <li> <p>Any printable ASCII character ranging from the space character (<code>\\u0020</code>) through the end of the ASCII character range</p> </li> <li> <p>The printable characters in the Basic Latin and Latin-1 Supplement character set (through <code>\\u00FF</code>)</p> </li> <li> <p>The special characters tab (<code>\\u0009</code>), line feed (<code>\\u000A</code>), and carriage return (<code>\\u000D</code>)</p> </li> </ul>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "Tags": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "Key",
                            "Value"
                          ],
                          "properties": {
                            "Key": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]+",
                                  "minLength": 1,
                                  "maxLength": 128
                                },
                                {
                                  "description": "The key name that can be used to look up or retrieve the associated value. For example, <code>Department</code> or <code>Cost Center</code> are common choices."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "Value": {
                              "allOf": [
                                {
                                  "type": "string",
                                  "pattern": "[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*",
                                  "minLength": 0,
                                  "maxLength": 256
                                },
                                {
                                  "description": "<p>The value associated with this tag. For example, tags with a key name of <code>Department</code> could have values such as <code>Human Resources</code>, <code>Accounting</code>, and <code>Support</code>. Tags with a key name of <code>Cost Center</code> might have values that consist of the number associated with the different cost centers in your company. Typically, many resources have tags with the same key name but with different values.</p> <note> <p>Amazon Web Services always interprets the tag <code>Value</code> as a single string. If you need to store an array, you can store comma-separated values in the string. However, you must interpret the value in your code.</p> </note>"
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "A structure that represents user-provided metadata that can be associated with an IAM resource. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>."
                        },
                        "maxItems": 50
                      },
                      {
                        "description": "<p>A list of tags that you want to attach to the new IAM server certificate resource. Each tag consists of a key name and an associated value. For more information about tagging, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_tags.html\">Tagging IAM resources</a> in the <i>IAM User Guide</i>.</p> <note> <p>If any one of the tags is invalid or if you exceed the allowed maximum number of tags, then the entire request fails and the resource is not created.</p> </note>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UploadServerCertificate"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-05-08"
              ]
            }
          }
        ]
      }
    },
    "/profiles/{id}": {
      "get": {
        "x-aws-operation-name": "UpdateServerCertificate",
        "operationId": "get-updateservercertificate",
        "description": "<p>Updates the name and/or the path of the specified server certificate stored in IAM.</p> <p>For more information about working with server certificates, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Working with server certificates</a> in the <i>IAM User Guide</i>. This topic also includes a list of Amazon Web Services services that can use the server certificates that you manage with IAM.</p> <important> <p>You should understand the implications of changing a server certificate's path or name. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs_manage.html#RenamingServerCerts\">Renaming a server certificate</a> in the <i>IAM User Guide</i>.</p> </important> <note> <p>The person making the request (the principal), must have permission to change the server certificate with the old name and the new name. For example, to change the certificate named <code>ProductionCert</code> to <code>ProdCert</code>, the principal must have a policy that allows them to update both certificates. If the principal has permission to update the <code>ProductionCert</code> group, but not the <code>ProdCert</code> certificate, then the update fails. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management</a> in the <i>IAM User Guide</i>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "NoSuchEntityException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "EntityAlreadyExistsException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "LimitExceededException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceFailureException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "ServerCertificateName",
            "in": "query",
            "required": true,
            "description": "<p>The name of the server certificate that you want to update.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "schema": {
              "type": "string",
              "pattern": "[\\w+=,.@-]+",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "NewPath",
            "in": "query",
            "required": false,
            "description": "<p>The new path for the server certificate. Include this only if you are updating the server certificate's path.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of either a forward slash (/) by itself or a string that must begin and end with forward slashes. In addition, it can contain any ASCII character from the ! (<code>\\u0021</code>) through the DEL character (<code>\\u007F</code>), including most punctuation characters, digits, and upper and lowercased letters.</p>",
            "schema": {
              "type": "string",
              "pattern": "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)",
              "minLength": 1,
              "maxLength": 512
            }
          },
          {
            "name": "NewServerCertificateName",
            "in": "query",
            "required": false,
            "description": "<p>The new name for the server certificate. Include this only if you are updating the server certificate's name. The name of the certificate cannot contain any spaces.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "schema": {
              "type": "string",
              "pattern": "[\\w+=,.@-]+",
              "minLength": 1,
              "maxLength": 128
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "UpdateServerCertificate"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-05-08"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ],
      "post": {
        "x-aws-operation-name": "UpdateServerCertificate",
        "operationId": "post-updateservercertificate",
        "description": "<p>Updates the name and/or the path of the specified server certificate stored in IAM.</p> <p>For more information about working with server certificates, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Working with server certificates</a> in the <i>IAM User Guide</i>. This topic also includes a list of Amazon Web Services services that can use the server certificates that you manage with IAM.</p> <important> <p>You should understand the implications of changing a server certificate's path or name. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs_manage.html#RenamingServerCerts\">Renaming a server certificate</a> in the <i>IAM User Guide</i>.</p> </important> <note> <p>The person making the request (the principal), must have permission to change the server certificate with the old name and the new name. For example, to change the certificate named <code>ProductionCert</code> to <code>ProdCert</code>, the principal must have a policy that allows them to update both certificates. If the principal has permission to update the <code>ProductionCert</code> group, but not the <code>ProdCert</code> certificate, then the update fails. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management</a> in the <i>IAM User Guide</i>.</p> </note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "NoSuchEntityException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "EntityAlreadyExistsException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "LimitExceededException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceFailureException",
            "content": {
              "text/xml": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "ServerCertificateName"
                ],
                "title": "UpdateServerCertificateRequest",
                "properties": {
                  "ServerCertificateName": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[\\w+=,.@-]+",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      {
                        "description": "<p>The name of the server certificate that you want to update.</p> <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric characters with no spaces. You can also include any of the following characters: _+=,.@-</p>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "NewPath": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F)",
[...]
