{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "Use these REST APIs for performing operations on entities like API, Product, and Subscription associated with your Azure API Management deployment.",
    "title": "ApiManagementClient",
    "version": "2016-07-07",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-07-07/apimanagement.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "apimanagement",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiIdParameter": {
      "description": "API identifier. Must be unique in the current API Management service instance.",
      "in": "path",
      "maxLength": 256,
      "minLength": 1,
      "name": "apiId",
      "pattern": "^[^*#&+:<>?]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "description": "Version of the API to be used with the client request.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "BackendIdParameter": {
      "description": "User identifier. Must be unique in the current API Management service instance.",
      "in": "path",
      "maxLength": 255,
      "minLength": 1,
      "name": "backendid",
      "pattern": "^[^*#&+:<>?]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "GroupIdParameter": {
      "description": "Group identifier. Must be unique in the current API Management service instance.",
      "in": "path",
      "maxLength": 256,
      "minLength": 1,
      "name": "groupId",
      "pattern": "^[^*#&+:<>?]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "IdentityProviderNameParameter": {
      "description": "Identity Provider Type identifier.",
      "enum": [
        "facebook",
        "google",
        "microsoft",
        "twitter",
        "aad"
      ],
      "in": "path",
      "name": "identityProviderName",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "IdentityProviderNameType"
      },
      "x-ms-parameter-location": "method"
    },
    "OperationIdParameter": {
      "description": "Operation identifier within an API. Must be unique in the current API Management service instance.",
      "in": "path",
      "maxLength": 256,
      "minLength": 1,
      "name": "operationId",
      "pattern": "^[^*#&+:<>?]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ProductIdParameter": {
      "description": "Product identifier. Must be unique in the current API Management service instance.",
      "in": "path",
      "maxLength": 256,
      "minLength": 1,
      "name": "productId",
      "pattern": "^[^*#&+:<>?]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "QuotaCounterKeyParameter": {
      "description": "Quota counter key identifier.",
      "in": "path",
      "name": "quotaCounterKey",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "QuotaPeriodKeyParameter": {
      "description": "Quota period key identifier.",
      "in": "path",
      "name": "quotaPeriodKey",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "description": "The name of the resource group.",
      "in": "path",
      "name": "resourceGroupName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServiceNameParameter": {
      "description": "The name of the API Management service.",
      "in": "path",
      "maxLength": 50,
      "minLength": 1,
      "name": "serviceName",
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SkipQueryParameter": {
      "description": "Number of records to skip.",
      "format": "int32",
      "in": "query",
      "minimum": 0,
      "name": "$skip",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    },
    "TopQueryParameter": {
      "description": "Number of records to return.",
      "format": "int32",
      "in": "query",
      "minimum": 1,
      "name": "$top",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "UserIdParameter": {
      "description": "User identifier. Must be unique in the current API Management service instance.",
      "in": "path",
      "maxLength": 256,
      "minLength": 1,
      "name": "uid",
      "pattern": "^[^*#&+:<>?]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/id/resourcegroups/sku/providers/microsoft-apimanagement/service/orderid/apis": {
      "get": {
        "description": "Lists all APIs of the API Management service instance.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/dn781423.aspx"
        },
        "operationId": "apis-listbyservice-v2",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "| Field       | Supported operators    | Supported functions               |\n|-------------|------------------------|-----------------------------------|\n| id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |\n| name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |\n| description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |\n| serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |\n| path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |",
            "in": "query",
            "name": "$filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of records to return.",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "$top",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Number of records to skip.",
            "format": "int32",
            "in": "query",
            "minimum": 0,
            "name": "$skip",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Paged Result response of Apis.",
            "schema": {
              "description": "Paged Api list representation.",
              "properties": {
                "count": {
                  "description": "Total records count number.",
                  "format": "int64",
                  "type": "integer"
                },
                "nextLink": {
                  "description": "Next page link if any.",
                  "type": "string"
                },
                "value": {
                  "description": "Page values.",
                  "items": {
                    "description": "API details.",
                    "properties": {
                      "authenticationSettings": {
                        "description": "API Authentication Settings.",
                        "properties": {
                          "oAuth2": {
                            "description": "API OAuth2 Authentication settings details.",
                            "properties": {
                              "authorizationServerId": {
                                "description": "OAuth authorization server identifier.",
                                "type": "string"
                              },
                              "scope": {
                                "description": "operations scope.",
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "description": {
                        "description": "Description of the API. May include HTML formatting tags.",
                        "type": "string"
                      },
                      "id": {
                        "description": "API identifier path: /apis/{apiId}",
                        "readOnly": true,
                        "type": "string"
                      },
                      "name": {
                        "description": "API name.",
                        "maxLength": 300,
                        "minLength": 1,
                        "type": "string"
                      },
                      "path": {
                        "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                        "maxLength": 400,
                        "minLength": 0,
                        "type": "string"
                      },
                      "protocols": {
                        "description": "Describes on which protocols the operations in this API can be invoked.",
                        "items": {
                          "enum": [
                            "Http",
                            "Https"
                          ],
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": false,
                            "name": "ApiProtocolContract"
                          }
                        },
                        "type": "array"
                      },
                      "serviceUrl": {
                        "description": "Absolute URL of the backend service implementing this API.",
                        "maxLength": 2000,
                        "minLength": 1,
                        "type": "string"
                      },
                      "subscriptionKeyParameterNames": {
                        "description": "Subscription key parameter names details.",
                        "example": {
                          "subscriptionKeyParameterNames": {
                            "header": "customHeaderParameterName",
                            "query": "customQueryParameterName"
                          }
                        },
                        "properties": {
                          "header": {
                            "description": "Subscription key header name.",
                            "type": "string"
                          },
                          "query": {
                            "description": "Subscription key query string parameter name.",
                            "type": "string"
                          }
                        }
                      },
                      "type": {
                        "description": "Type of API.",
                        "enum": [
                          "Http",
                          "Soap"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": false,
                          "name": "ApiTypeContract"
                        }
                      }
                    },
                    "required": [
                      "name",
                      "serviceUrl",
                      "path",
                      "protocols"
                    ]
                  },
                  "type": "array"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Apis"
        ],
        "x-ms-odata": "#/definitions/ApiContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/id/resourcegroups/id/providers/microsoft-apimanagement/service/orderid/apis/paymentid": {
      "delete": {
        "description": "Deletes the specified API of the API Management service instance.",
        "operationId": "apis-delete",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "ETag of the API Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The API was successfully deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Apis"
        ]
      },
      "get": {
        "description": "Gets the details of the API specified by its identifier.",
        "operationId": "apis-get",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/vnd.sun.wadl+xml",
          "application/vnd.swagger.doc+json",
          "application/wsdl+xml"
        ],
        "responses": {
          "200": {
            "description": "The response body contains the specified API entity.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            },
            "schema": {
              "description": "API details.",
              "properties": {
                "authenticationSettings": {
                  "description": "API Authentication Settings.",
                  "properties": {
                    "oAuth2": {
                      "description": "API OAuth2 Authentication settings details.",
                      "properties": {
                        "authorizationServerId": {
                          "description": "OAuth authorization server identifier.",
                          "type": "string"
                        },
                        "scope": {
                          "description": "operations scope.",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "description": {
                  "description": "Description of the API. May include HTML formatting tags.",
                  "type": "string"
                },
                "id": {
                  "description": "API identifier path: /apis/{apiId}",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "API name.",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "path": {
                  "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                  "maxLength": 400,
                  "minLength": 0,
                  "type": "string"
                },
                "protocols": {
                  "description": "Describes on which protocols the operations in this API can be invoked.",
                  "items": {
                    "enum": [
                      "Http",
                      "Https"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": false,
                      "name": "ApiProtocolContract"
                    }
                  },
                  "type": "array"
                },
                "serviceUrl": {
                  "description": "Absolute URL of the backend service implementing this API.",
                  "maxLength": 2000,
                  "minLength": 1,
                  "type": "string"
                },
                "subscriptionKeyParameterNames": {
                  "description": "Subscription key parameter names details.",
                  "example": {
                    "subscriptionKeyParameterNames": {
                      "header": "customHeaderParameterName",
                      "query": "customQueryParameterName"
                    }
                  },
                  "properties": {
                    "header": {
                      "description": "Subscription key header name.",
                      "type": "string"
                    },
                    "query": {
                      "description": "Subscription key query string parameter name.",
                      "type": "string"
                    }
                  }
                },
                "type": {
                  "description": "Type of API.",
                  "enum": [
                    "Http",
                    "Soap"
                  ],
                  "type": "string",
                  "x-ms-enum": {
                    "modelAsString": false,
                    "name": "ApiTypeContract"
                  }
                }
              },
              "required": [
                "name",
                "serviceUrl",
                "path",
                "protocols"
              ]
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Apis"
        ]
      },
      "patch": {
        "description": "Updates the specified API of the API Management service instance.",
        "operationId": "apis-update",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Patch parameters.",
            "in": "body",
            "name": "limit",
            "required": true,
            "schema": {
              "description": "Parameters supplied to the Patch operations.",
              "properties": {
                "RawJson": {
                  "description": "json value.",
                  "type": "object"
                }
              },
              "required": [
                "RawJson"
              ]
            }
          },
          {
            "description": "ETag of the API entity. ETag should match the current entity state in the header response of the GET request or it should be * for unconditional update.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The API was successfully updated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Apis"
        ]
      },
      "put": {
        "description": "Creates new or updates existing specified API of the API Management service instance.",
        "operationId": "apis-createorupdate-v2",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Create or update parameters.",
            "in": "body",
            "name": "limit",
            "required": true,
            "schema": {
              "description": "API details.",
              "properties": {
                "authenticationSettings": {
                  "description": "API Authentication Settings.",
                  "properties": {
                    "oAuth2": {
                      "description": "API OAuth2 Authentication settings details.",
                      "properties": {
                        "authorizationServerId": {
                          "description": "OAuth authorization server identifier.",
                          "type": "string"
                        },
                        "scope": {
                          "description": "operations scope.",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "description": {
                  "description": "Description of the API. May include HTML formatting tags.",
                  "type": "string"
                },
                "id": {
                  "description": "API identifier path: /apis/{apiId}",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "API name.",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "path": {
                  "description": "Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.",
                  "maxLength": 400,
                  "minLength": 0,
                  "type": "string"
                },
                "protocols": {
                  "description": "Describes on which protocols the operations in this API can be invoked.",
                  "items": {
                    "enum": [
                      "Http",
                      "Https"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": false,
                      "name": "ApiProtocolContract"
                    }
                  },
                  "type": "array"
                },
                "serviceUrl": {
                  "description": "Absolute URL of the backend service implementing this API.",
                  "maxLength": 2000,
                  "minLength": 1,
                  "type": "string"
                },
                "subscriptionKeyParameterNames": {
                  "description": "Subscription key parameter names details.",
                  "example": {
                    "subscriptionKeyParameterNames": {
                      "header": "customHeaderParameterName",
                      "query": "customQueryParameterName"
                    }
                  },
                  "properties": {
                    "header": {
                      "description": "Subscription key header name.",
                      "type": "string"
                    },
                    "query": {
                      "description": "Subscription key query string parameter name.",
                      "type": "string"
                    }
                  }
                },
                "type": {
                  "description": "Type of API.",
                  "enum": [
                    "Http",
                    "Soap"
                  ],
                  "type": "string",
                  "x-ms-enum": {
                    "modelAsString": false,
                    "name": "ApiTypeContract"
                  }
                }
              },
              "required": [
                "name",
                "serviceUrl",
                "path",
                "protocols"
              ]
            }
          },
          {
            "description": "ETag of the Api Entity. For Create Api Etag should not be specified. For Update Etag should match the existing Entity or it can be * for unconditional update.",
            "in": "header",
            "name": "If-Match",
            "required": false,
            "type": "string"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "API was successfully created."
          },
          "204": {
            "description": "API was successfully updated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "Apis"
        ]
      }
    },
    "/subscriptions/paymentid/resourcegroups/orderid/providers/microsoft-apimanagement/service/sku/apis/orderid/operations": {
      "get": {
        "description": "Lists a collection of the operations for the specified API.",
        "operationId": "apioperations-listbyapi",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "| Field       | Supported operators    | Supported functions               |\n|-------------|------------------------|-----------------------------------|\n| name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |\n| method      | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |\n| description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |\n| urlTemplate | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |",
            "in": "query",
            "name": "$filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of records to return.",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "$top",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Number of records to skip.",
            "format": "int32",
            "in": "query",
            "minimum": 0,
            "name": "$skip",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of operation summary entities at the API level.",
            "schema": {
              "description": "Paged Operation list representation.",
              "properties": {
                "count": {
                  "description": "Total records count number.",
                  "format": "int64",
                  "type": "integer"
                },
                "nextLink": {
                  "description": "Next page link if any.",
                  "type": "string"
                },
                "value": {
                  "description": "Page values.",
                  "items": {
                    "description": "Api Operation details.",
                    "properties": {
                      "description": {
                        "description": "Description of the operation. May include HTML formatting tags.",
                        "maxLength": 1000,
                        "type": "string"
                      },
                      "id": {
                        "description": "Uniquely identifies the operation within the current API Management service instance. The value is a valid relative URL in the format of /apis/{aid}/operations/{id} where {aid} is an API identifier and {id} is an operation identifier.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "method": {
                        "description": "A Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited by only them.",
                        "externalDocs": {
                          "description": "As defined by RFC.",
                          "url": "http://www.rfc-editor.org/rfc/rfc7230.txt"
                        },
                        "type": "string"
                      },
                      "name": {
                        "description": "Operation Name.",
                        "maxLength": 300,
                        "minLength": 1,
                        "type": "string"
                      },
                      "request": {
                        "description": "Operation request details.",
                        "properties": {
                          "description": {
                            "description": "Operation request description.",
                            "type": "string"
                          },
                          "headers": {
                            "description": "Collection of operation request headers.",
                            "items": {
                              "description": "Operation parameters details.",
                              "properties": {
                                "defaultValue": {
                                  "description": "Default parameter value.",
                                  "type": "string"
                                },
                                "description": {
                                  "description": "Parameter description.",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "Parameter name.",
                                  "type": "string"
                                },
                                "required": {
                                  "description": "whether parameter is required or not.",
                                  "type": "boolean"
                                },
                                "type": {
                                  "description": "Parameter type.",
                                  "type": "string"
                                },
                                "values": {
                                  "description": "Parameter values.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "name",
                                "type"
                              ]
                            },
                            "type": "array"
                          },
                          "queryParameters": {
                            "description": "Collection of operation request query parameters.",
                            "items": {
                              "description": "Operation parameters details.",
                              "properties": {
                                "defaultValue": {
                                  "description": "Default parameter value.",
                                  "type": "string"
                                },
                                "description": {
                                  "description": "Parameter description.",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "Parameter name.",
                                  "type": "string"
                                },
                                "required": {
                                  "description": "whether parameter is required or not.",
                                  "type": "boolean"
                                },
                                "type": {
                                  "description": "Parameter type.",
                                  "type": "string"
                                },
                                "values": {
                                  "description": "Parameter values.",
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "name",
                                "type"
                              ]
                            },
                            "type": "array"
                          },
                          "representations": {
                            "description": "Collection of operation request representations.",
                            "items": {
                              "description": "Operation request/response representation details.",
                              "properties": {
                                "contentType": {
                                  "description": "Specifies a registered or custom content type for this representation, e.g. application/xml.",
                                  "type": "string"
                                },
                                "sample": {
                                  "description": "An example of the representation.",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "contentType"
                              ]
                            },
                            "type": "array"
                          }
                        }
                      },
                      "responses": {
                        "description": "Array of Operation responses.",
                        "items": {
                          "description": "Operation response details.",
                          "properties": {
                            "description": {
                              "description": "Operation response description.",
                              "type": "string"
                            },
                            "representations": {
                              "description": "Collection of operation response representations.",
                              "items": {
                                "description": "Operation request/response representation details.",
                                "properties": {
                                  "contentType": {
                                    "description": "Specifies a registered or custom content type for this representation, e.g. application/xml.",
                                    "type": "string"
                                  },
                                  "sample": {
                                    "description": "An example of the representation.",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "contentType"
                                ]
                              },
                              "type": "array"
                            },
                            "statusCode": {
                              "description": "Operation response HTTP status code.",
                              "format": "int32",
                              "maximum": 599,
                              "minimum": 100,
                              "type": "integer"
                            }
                          },
                          "required": [
                            "statusCode"
                          ]
                        },
                        "type": "array"
                      },
                      "templateParameters": {
                        "description": "Collection of URL template parameters.",
                        "items": {
                          "description": "Operation parameters details.",
                          "properties": {
                            "defaultValue": {
                              "description": "Default parameter value.",
                              "type": "string"
                            },
                            "description": {
                              "description": "Parameter description.",
                              "type": "string"
                            },
                            "name": {
                              "description": "Parameter name.",
                              "type": "string"
                            },
                            "required": {
                              "description": "whether parameter is required or not.",
                              "type": "boolean"
                            },
                            "type": {
                              "description": "Parameter type.",
                              "type": "string"
                            },
                            "values": {
                              "description": "Parameter values.",
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "name",
                            "type"
                          ]
                        },
                        "type": "array"
                      },
                      "urlTemplate": {
                        "description": "Relative URL template identifying the target resource for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}",
                        "maxLength": 1000,
                        "minLength": 1,
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "method",
                      "urlTemplate"
                    ]
                  },
                  "type": "array"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "ApiOperations"
        ],
        "x-ms-odata": "#/definitions/OperationContract",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/sku/resourcegroups/sku/providers/microsoft-apimanagement/service/id/apis/paymentid/operations/id": {
      "delete": {
        "description": "Deletes the specified operation.",
        "operationId": "apioperations-delete-v2",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Operation identifier within an API. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "operationId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The operation was successfully deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "ApiOperations"
        ]
      },
      "get": {
        "description": "Gets the details of the API Operation specified by its identifier.",
        "operationId": "apioperations-get",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Operation identifier within an API. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "operationId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The response body contains the specified Operation entity.",
            "headers": {
              "ETag": {
                "description": "Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.",
                "type": "string"
              }
            },
            "schema": {
              "description": "Api Operation details.",
              "properties": {
                "description": {
                  "description": "Description of the operation. May include HTML formatting tags.",
                  "maxLength": 1000,
                  "type": "string"
                },
                "id": {
                  "description": "Uniquely identifies the operation within the current API Management service instance. The value is a valid relative URL in the format of /apis/{aid}/operations/{id} where {aid} is an API identifier and {id} is an operation identifier.",
                  "readOnly": true,
                  "type": "string"
                },
                "method": {
                  "description": "A Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited by only them.",
                  "externalDocs": {
                    "description": "As defined by RFC.",
                    "url": "http://www.rfc-editor.org/rfc/rfc7230.txt"
                  },
                  "type": "string"
                },
                "name": {
                  "description": "Operation Name.",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "request": {
                  "description": "Operation request details.",
                  "properties": {
                    "description": {
                      "description": "Operation request description.",
                      "type": "string"
                    },
                    "headers": {
                      "description": "Collection of operation request headers.",
                      "items": {
                        "description": "Operation parameters details.",
                        "properties": {
                          "defaultValue": {
                            "description": "Default parameter value.",
                            "type": "string"
                          },
                          "description": {
                            "description": "Parameter description.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Parameter name.",
                            "type": "string"
                          },
                          "required": {
                            "description": "whether parameter is required or not.",
                            "type": "boolean"
                          },
                          "type": {
                            "description": "Parameter type.",
                            "type": "string"
                          },
                          "values": {
                            "description": "Parameter values.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "name",
                          "type"
                        ]
                      },
                      "type": "array"
                    },
                    "queryParameters": {
                      "description": "Collection of operation request query parameters.",
                      "items": {
                        "description": "Operation parameters details.",
                        "properties": {
                          "defaultValue": {
                            "description": "Default parameter value.",
                            "type": "string"
                          },
                          "description": {
                            "description": "Parameter description.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Parameter name.",
                            "type": "string"
                          },
                          "required": {
                            "description": "whether parameter is required or not.",
                            "type": "boolean"
                          },
                          "type": {
                            "description": "Parameter type.",
                            "type": "string"
                          },
                          "values": {
                            "description": "Parameter values.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "name",
                          "type"
                        ]
                      },
                      "type": "array"
                    },
                    "representations": {
                      "description": "Collection of operation request representations.",
                      "items": {
                        "description": "Operation request/response representation details.",
                        "properties": {
                          "contentType": {
                            "description": "Specifies a registered or custom content type for this representation, e.g. application/xml.",
                            "type": "string"
                          },
                          "sample": {
                            "description": "An example of the representation.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "contentType"
                        ]
                      },
                      "type": "array"
                    }
                  }
                },
                "responses": {
                  "description": "Array of Operation responses.",
                  "items": {
                    "description": "Operation response details.",
                    "properties": {
                      "description": {
                        "description": "Operation response description.",
                        "type": "string"
                      },
                      "representations": {
                        "description": "Collection of operation response representations.",
                        "items": {
                          "description": "Operation request/response representation details.",
                          "properties": {
                            "contentType": {
                              "description": "Specifies a registered or custom content type for this representation, e.g. application/xml.",
                              "type": "string"
                            },
                            "sample": {
                              "description": "An example of the representation.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "contentType"
                          ]
                        },
                        "type": "array"
                      },
                      "statusCode": {
                        "description": "Operation response HTTP status code.",
                        "format": "int32",
                        "maximum": 599,
                        "minimum": 100,
                        "type": "integer"
                      }
                    },
                    "required": [
                      "statusCode"
                    ]
                  },
                  "type": "array"
                },
                "templateParameters": {
                  "description": "Collection of URL template parameters.",
                  "items": {
                    "description": "Operation parameters details.",
                    "properties": {
                      "defaultValue": {
                        "description": "Default parameter value.",
                        "type": "string"
                      },
                      "description": {
                        "description": "Parameter description.",
                        "type": "string"
                      },
                      "name": {
                        "description": "Parameter name.",
                        "type": "string"
                      },
                      "required": {
                        "description": "whether parameter is required or not.",
                        "type": "boolean"
                      },
                      "type": {
                        "description": "Parameter type.",
                        "type": "string"
                      },
                      "values": {
                        "description": "Parameter values.",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  },
                  "type": "array"
                },
                "urlTemplate": {
                  "description": "Relative URL template identifying the target resource for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "name",
                "method",
                "urlTemplate"
              ]
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "ApiOperations"
        ]
      },
      "patch": {
        "description": "Updates the details of the operation specified by its identifier.",
        "operationId": "apioperations-update-v2",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Operation identifier within an API. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "operationId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Update parameters.",
            "in": "body",
            "name": "limit",
            "required": true,
            "schema": {
              "description": "Parameters supplied to the Patch operations.",
              "properties": {
                "RawJson": {
                  "description": "json value.",
                  "type": "object"
                }
              },
              "required": [
                "RawJson"
              ]
            }
          },
          {
            "description": "ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.",
            "in": "header",
            "name": "If-Match",
            "required": true,
            "type": "string"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The operation was successfully updated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "ApiOperations"
        ]
      },
      "put": {
        "description": "Creates a new API operation or updates an existing one.",
        "operationId": "apioperations-createorupdate",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Operation identifier within an API. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "operationId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Create parameters.",
            "in": "body",
            "name": "limit",
            "required": true,
            "schema": {
              "description": "Api Operation details.",
              "properties": {
                "description": {
                  "description": "Description of the operation. May include HTML formatting tags.",
                  "maxLength": 1000,
                  "type": "string"
                },
                "id": {
                  "description": "Uniquely identifies the operation within the current API Management service instance. The value is a valid relative URL in the format of /apis/{aid}/operations/{id} where {aid} is an API identifier and {id} is an operation identifier.",
                  "readOnly": true,
                  "type": "string"
                },
                "method": {
                  "description": "A Valid HTTP Operation Method. Typical Http Methods like GET, PUT, POST but not limited by only them.",
                  "externalDocs": {
                    "description": "As defined by RFC.",
                    "url": "http://www.rfc-editor.org/rfc/rfc7230.txt"
                  },
                  "type": "string"
                },
                "name": {
                  "description": "Operation Name.",
                  "maxLength": 300,
                  "minLength": 1,
                  "type": "string"
                },
                "request": {
                  "description": "Operation request details.",
                  "properties": {
                    "description": {
                      "description": "Operation request description.",
                      "type": "string"
                    },
                    "headers": {
                      "description": "Collection of operation request headers.",
                      "items": {
                        "description": "Operation parameters details.",
                        "properties": {
                          "defaultValue": {
                            "description": "Default parameter value.",
                            "type": "string"
                          },
                          "description": {
                            "description": "Parameter description.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Parameter name.",
                            "type": "string"
                          },
                          "required": {
                            "description": "whether parameter is required or not.",
                            "type": "boolean"
                          },
                          "type": {
                            "description": "Parameter type.",
                            "type": "string"
                          },
                          "values": {
                            "description": "Parameter values.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "name",
                          "type"
                        ]
                      },
                      "type": "array"
                    },
                    "queryParameters": {
                      "description": "Collection of operation request query parameters.",
                      "items": {
                        "description": "Operation parameters details.",
                        "properties": {
                          "defaultValue": {
                            "description": "Default parameter value.",
                            "type": "string"
                          },
                          "description": {
                            "description": "Parameter description.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Parameter name.",
                            "type": "string"
                          },
                          "required": {
                            "description": "whether parameter is required or not.",
                            "type": "boolean"
                          },
                          "type": {
                            "description": "Parameter type.",
                            "type": "string"
                          },
                          "values": {
                            "description": "Parameter values.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "name",
                          "type"
                        ]
                      },
                      "type": "array"
                    },
                    "representations": {
                      "description": "Collection of operation request representations.",
                      "items": {
                        "description": "Operation request/response representation details.",
                        "properties": {
                          "contentType": {
                            "description": "Specifies a registered or custom content type for this representation, e.g. application/xml.",
                            "type": "string"
                          },
                          "sample": {
                            "description": "An example of the representation.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "contentType"
                        ]
                      },
                      "type": "array"
                    }
                  }
                },
                "responses": {
                  "description": "Array of Operation responses.",
                  "items": {
                    "description": "Operation response details.",
                    "properties": {
                      "description": {
                        "description": "Operation response description.",
                        "type": "string"
                      },
                      "representations": {
                        "description": "Collection of operation response representations.",
                        "items": {
                          "description": "Operation request/response representation details.",
                          "properties": {
                            "contentType": {
                              "description": "Specifies a registered or custom content type for this representation, e.g. application/xml.",
                              "type": "string"
                            },
                            "sample": {
                              "description": "An example of the representation.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "contentType"
                          ]
                        },
                        "type": "array"
                      },
                      "statusCode": {
                        "description": "Operation response HTTP status code.",
                        "format": "int32",
                        "maximum": 599,
                        "minimum": 100,
                        "type": "integer"
                      }
                    },
                    "required": [
                      "statusCode"
                    ]
                  },
                  "type": "array"
                },
                "templateParameters": {
                  "description": "Collection of URL template parameters.",
                  "items": {
                    "description": "Operation parameters details.",
                    "properties": {
                      "defaultValue": {
                        "description": "Default parameter value.",
                        "type": "string"
                      },
                      "description": {
                        "description": "Parameter description.",
                        "type": "string"
                      },
                      "name": {
                        "description": "Parameter name.",
                        "type": "string"
                      },
                      "required": {
                        "description": "whether parameter is required or not.",
                        "type": "boolean"
                      },
                      "type": {
                        "description": "Parameter type.",
                        "type": "string"
                      },
                      "values": {
                        "description": "Parameter values.",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "name",
                      "type"
                    ]
                  },
                  "type": "array"
                },
                "urlTemplate": {
                  "description": "Relative URL template identifying the target resource for this operation. May include parameters. Example: /customers/{cid}/orders/{oid}/?date={date}",
                  "maxLength": 1000,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "name",
                "method",
                "urlTemplate"
              ]
            }
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Operation was successfully created."
          },
          "204": {
            "description": "Operation was successfully updated."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error Body contract.",
              "properties": {
                "code": {
                  "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
                  "type": "string"
                },
                "details": {
                  "description": "The list of invalid fields send in request, in case of validation error.",
                  "items": {
                    "description": "Error Field contract.",
                    "properties": {
                      "code": {
                        "description": "Property level error code.",
                        "type": "string"
                      },
                      "message": {
                        "description": "Human-readable representation of property-level error.",
                        "type": "string"
                      },
                      "target": {
                        "description": "Property name.",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                },
                "message": {
                  "description": "Human-readable representation of the error.",
                  "type": "string"
                }
              }
            }
          }
        },
        "tags": [
          "ApiOperations"
        ]
      }
    },
    "/subscriptions/userid/resourcegroups/userid/providers/microsoft-apimanagement/service/paymentid/apis/sku/products": {
      "get": {
        "description": "Lists all API associated products.",
        "operationId": "apiproducts-listbyapi",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "API identifier. Must be unique in the current API Management service instance.",
            "in": "path",
            "maxLength": 256,
            "minLength": 1,
            "name": "apiId",
            "pattern": "^[^*#&+:<>?]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "| Field | Supported operators    | Supported functions                         |\n|-------|------------------------|---------------------------------------------|\n| name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |",
            "in": "query",
            "name": "$filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Number of records to return.",
            "format": "int32",
            "in": "query",
            "minimum": 1,
            "name": "$top",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Number of records to skip.",
            "format": "int32",
            "in": "query",
            "minimum": 0,
            "name": "$skip",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation returns a collection of products which have the Api entity.",
            "schema": {
              "description": "Paged Products list representation.",
              "properties": {
                "count": {
                  "description": "Total records count number.",
                  "format": "int64",
                  "type": "integer"
                },
                "nextLink": {
                  "description": "Next page link if any.",
                  "type": "string"
                },
                "value": {
                  "description": "Page values.",
                  "items": {
                    "description": "Product profile.",
                    "properties": {
                      "approvalRequired": {
                        "description": "whether subscription approval is required. If false, new subscriptions will be approved automatically enabling developers to call the product’s APIs immediately after subscribing. If true, administrators must manually approve the subscription before the developer can any of the product’s APIs. Can be present only if subscriptionRequired property is present and has a value of false.",
                        "type": "boolean"
                      },
                      "description": {
                        "description": "Product description. May include HTML formatting tags.",
                        "maxLength": 1000,
                        "minLength": 1,
                        "type": "string"
                      },
                      "id": {
                        "description": "Uniquely identifies the product within the current API Management service instance. The value is a valid relative URL in the format of /products/{productId} where {productId} is a product identifier.",
[...]
