{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "io.adafruit.com",
  "basePath": "/api/v2",
  "info": {
    "description": "### The Internet of Things for Everyone\n\nThe Adafruit IO HTTP API provides access to your Adafruit IO data from any programming language or hardware environment that can speak HTTP. The easiest way to get started is with [an Adafruit IO learn guide](https://learn.adafruit.com/series/adafruit-io-basics) and [a simple Internet of Things capable device like the Feather Huzzah](https://www.adafruit.com/product/2821).\n\nThis API documentation is hosted on GitHub Pages and is available at [https://github.com/adafruit/io-api](https://github.com/adafruit/io-api). For questions or comments visit the [Adafruit IO Forums](https://forums.adafruit.com/viewforum.php?f=56) or the [adafruit-io channel on the Adafruit Discord server](https://discord.gg/adafruit).\n\n#### Authentication\n\nAuthentication for every API request happens through the `X-AIO-Key` header or query parameter and your IO API key. A simple cURL request to get all available feeds for a user with the username \"io_username\" and the key \"io_key_12345\" could look like this:\n\n    $ curl -H \"X-AIO-Key: io_key_12345\" https://io.adafruit.com/api/v2/io_username/feeds\n\nOr like this:\n\n    $ curl \"https://io.adafruit.com/api/v2/io_username/feeds?X-AIO-Key=io_key_12345\n\nUsing the node.js [request](https://github.com/request/request) library, IO HTTP requests are as easy as:\n\n```js\nvar request = require('request');\n\nvar options = {\n  url: 'https://io.adafruit.com/api/v2/io_username/feeds',\n  headers: {\n    'X-AIO-Key': 'io_key_12345',\n    'Content-Type': 'application/json'\n  }\n};\n\nfunction callback(error, response, body) {\n  if (!error && response.statusCode == 200) {\n    var feeds = JSON.parse(body);\n    console.log(feeds.length + \" FEEDS AVAILABLE\");\n\n    feeds.forEach(function (feed) {\n      console.log(feed.name, feed.key);\n    })\n  }\n}\n\nrequest(options, callback);\n```\n\nUsing the ESP8266 Arduino HTTPClient library, an HTTPS GET request would look like this (replacing `---` with your own values in the appropriate locations):\n\n```arduino\n/// based on\n/// https://github.com/esp8266/Arduino/blob/master/libraries/ESP8266HTTPClient/examples/Authorization/Authorization.ino\n\n#include <Arduino.h>\n#include <ESP8266WiFi.h>\n#include <ESP8266WiFiMulti.h>\n#include <ESP8266HTTPClient.h>\n\nESP8266WiFiMulti WiFiMulti;\n\nconst char* ssid = \"---\";\nconst char* password = \"---\";\n\nconst char* host = \"io.adafruit.com\";\n\nconst char* io_key = \"---\";\nconst char* path_with_username = \"/api/v2/---/dashboards\";\n\n// Use web browser to view and copy\n// SHA1 fingerprint of the certificate\nconst char* fingerprint = \"77 00 54 2D DA E7 D8 03 27 31 23 99 EB 27 DB CB A5 4C 57 18\";\n\nvoid setup() {\n  Serial.begin(115200);\n\n  for(uint8_t t = 4; t > 0; t--) {\n    Serial.printf(\"[SETUP] WAIT %d...\\n\", t);\n    Serial.flush();\n    delay(1000);\n  }\n\n  WiFi.mode(WIFI_STA);\n  WiFiMulti.addAP(ssid, password);\n\n  // wait for WiFi connection\n  while(WiFiMulti.run() != WL_CONNECTED) {\n    Serial.print('.');\n    delay(1000);\n  }\n\n  Serial.println(\"[WIFI] connected!\");\n\n  HTTPClient http;\n\n  // start request with URL and TLS cert fingerprint for verification\n  http.begin(\"https://\" + String(host) + String(path_with_username), fingerprint);\n\n  // IO API authentication\n  http.addHeader(\"X-AIO-Key\", io_key);\n\n  // start connection and send HTTP header\n  int httpCode = http.GET();\n\n  // httpCode will be negative on error\n  if(httpCode > 0) {\n    // HTTP header has been send and Server response header has been handled\n    Serial.printf(\"[HTTP] GET response: %d\\n\", httpCode);\n\n    // HTTP 200 OK\n    if(httpCode == HTTP_CODE_OK) {\n      String payload = http.getString();\n      Serial.println(payload);\n    }\n\n    http.end();\n  }\n}\n\nvoid loop() {}\n```\n\n#### Client Libraries\n\nWe have client libraries to help you get started with your project: [Python](https://github.com/adafruit/io-client-python), [Ruby](https://github.com/adafruit/io-client-ruby), [Arduino C++](https://github.com/adafruit/Adafruit_IO_Arduino), [Javascript](https://github.com/adafruit/adafruit-io-node), and [Go](https://github.com/adafruit/io-client-go) are available. They're all open source, so if they don't already do what you want, you can fork and add any feature you'd like.\n\n",
    "title": "Adafruit IO REST API",
    "version": "2.0.0",
    "x-apisguru-categories": [
      "iot"
    ],
    "x-logo": {
      "url": "https://twitter.com/adafruit/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/adafruit/io-api/gh-pages/v2.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "adafruit.com"
  },
  "produces": [
    "application/json",
    "text/csv"
  ],
  "securityDefinitions": {
    "HeaderKey": {
      "description": "The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.",
      "in": "header",
      "name": "X-AIO-Key",
      "type": "apiKey"
    },
    "HeaderSignature": {
      "description": "The AIO Signature is an AWS inspired request signature.",
      "in": "header",
      "name": "X-AIO-Signature",
      "type": "apiKey"
    },
    "QueryKey": {
      "description": "The AIO Key is used to restrict or grant access to your data. The key is unique, and you can generate a key per feed, and control it in many different ways. The easiest process is to just use your automatically generated master key. You can access this key right from the right-hand side of your dashboard or from an individual feed page.",
      "in": "query",
      "name": "X-AIO-Key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "HeaderKey": []
    },
    {
      "HeaderSignature": []
    },
    {
      "QueryKey": []
    }
  ],
  "parameters": {
    "ActivityTypePath": {
      "in": "path",
      "name": "type",
      "required": true,
      "type": "string"
    },
    "Block": {
      "in": "body",
      "name": "block",
      "required": true,
      "schema": {
        "properties": {
          "block_feeds": {
            "items": {
              "properties": {
                "feed_id": {
                  "type": "string"
                },
                "group_id": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "column": {
            "type": "number"
          },
          "dashboard_id": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "properties": {
            "type": "object"
          },
          "row": {
            "type": "number"
          },
          "size_x": {
            "type": "number"
          },
          "size_y": {
            "type": "number"
          },
          "visual_type": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "Dashboard": {
      "in": "body",
      "name": "dashboard",
      "required": true,
      "schema": {
        "properties": {
          "description": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "DashboardIDPath": {
      "in": "path",
      "name": "dashboard_id",
      "required": true,
      "type": "string"
    },
    "Data": {
      "description": "Data record including a `value` field (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).",
      "in": "body",
      "name": "datum",
      "required": true,
      "schema": {
        "properties": {
          "created_at": {
            "format": "dateTime",
            "type": "string"
          },
          "ele": {
            "type": "string"
          },
          "epoch": {
            "type": "number"
          },
          "lat": {
            "type": "string"
          },
          "lon": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "DataCollection": {
      "description": "A collection of data records including `value` (required) and optionally including: `lat`, `lon`, `ele` (latitude, longitude, and elevation values), and `created_at` (a date/time string).",
      "in": "body",
      "name": "data",
      "required": true,
      "schema": {
        "items": {
          "properties": {
            "created_at": {
              "format": "dateTime",
              "type": "string"
            },
            "ele": {
              "type": "string"
            },
            "epoch": {
              "type": "number"
            },
            "lat": {
              "type": "string"
            },
            "lon": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "type": "array"
      }
    },
    "DataInclude": {
      "description": "List of Data record fields to include in response as comma separated list. Acceptable values are: `value`, `lat`, `lon`, `ele`, `id`, and `created_at`. ",
      "in": "query",
      "name": "include",
      "type": "string"
    },
    "EndTime": {
      "description": "End time for filtering, returns records created before give time.",
      "format": "date-time",
      "in": "query",
      "name": "end_time",
      "type": "string"
    },
    "Feed": {
      "in": "body",
      "name": "feed",
      "required": true,
      "schema": {
        "properties": {
          "description": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "license": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "FeedParam": {
      "in": "query",
      "name": "feed_key",
      "type": "string"
    },
    "FeedPath": {
      "description": "a valid feed key",
      "in": "path",
      "name": "feed_key",
      "required": true,
      "type": "string"
    },
    "Group": {
      "in": "body",
      "name": "group",
      "required": true,
      "schema": {
        "properties": {
          "description": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "x-examples": {
        "application/json": "{\"name\":\"Some Group\", \"description\":\"A collection of feeds\"}",
        "default": "{\"name\":\"Some Group\",\"description\":\"A collection of feeds\"}"
      }
    },
    "GroupFeedData": {
      "in": "body",
      "name": "group_feed_data",
      "required": true,
      "schema": {
        "properties": {
          "created_at": {
            "description": "Optional created_at timestamp which will be applied to all feed values created.",
            "type": "string"
          },
          "feeds": {
            "description": "An array of feed data records with `key` and `value` properties.",
            "items": {
              "properties": {
                "key": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": [
                "key",
                "value"
              ],
              "type": "object"
            },
            "type": "array"
          },
          "location": {
            "description": "A location record with `lat`, `lon`, and [optional] `ele` properties.",
            "properties": {
              "ele": {
                "type": "number"
              },
              "lat": {
                "type": "number"
              },
              "lon": {
                "type": "number"
              }
            },
            "required": [
              "lat",
              "lon"
            ],
            "type": "object"
          }
        },
        "required": [
          "feeds"
        ],
        "type": "object"
      }
    },
    "GroupParam": {
      "in": "query",
      "name": "group_key",
      "type": "string"
    },
    "GroupPath": {
      "in": "path",
      "name": "group_key",
      "required": true,
      "type": "string"
    },
    "IDPath": {
      "in": "path",
      "name": "id",
      "required": true,
      "type": "string"
    },
    "Limit": {
      "description": "Limit the number of records returned.",
      "in": "query",
      "name": "limit",
      "type": "integer"
    },
    "PermTypeIDPath": {
      "in": "path",
      "name": "type_id",
      "required": true,
      "type": "string"
    },
    "PermTypePath": {
      "in": "path",
      "name": "type",
      "required": true,
      "type": "string"
    },
    "Permission": {
      "in": "body",
      "name": "permission",
      "required": true,
      "schema": {
        "properties": {
          "mode": {
            "default": "r",
            "enum": [
              "r",
              "w",
              "rw"
            ],
            "type": "string"
          },
          "scope": {
            "default": "public",
            "enum": [
              "secret",
              "public",
              "user",
              "organization"
            ],
            "type": "string"
          },
          "scope_value": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "StartTime": {
      "description": "Start time for filtering, returns records created after given time.",
      "format": "date-time",
      "in": "query",
      "name": "start_time",
      "type": "string"
    },
    "Token": {
      "in": "body",
      "name": "token",
      "required": true,
      "schema": {
        "properties": {
          "token": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "Trigger": {
      "in": "body",
      "name": "trigger",
      "required": true,
      "schema": {
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "UsernamePath": {
      "description": "a valid username string",
      "in": "path",
      "name": "username",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/inventory/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write"
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/payments/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/shipments/{id}": {
      "get": {
        "operationId": "currentuser",
        "parameters": [],
        "responses": {
          "200": {
            "description": "A User record",
            "schema": {
              "properties": {
                "color": {
                  "readOnly": true,
                  "type": "string"
                },
                "created_at": {
                  "format": "dateTime",
                  "readOnly": true,
                  "type": "string"
                },
                "id": {
                  "readOnly": true,
                  "type": "number"
                },
                "name": {
                  "readOnly": true,
                  "type": "string"
                },
                "time_zone": {
                  "readOnly": true,
                  "type": "string"
                },
                "updated_at": {
                  "format": "dateTime",
                  "readOnly": true,
                  "type": "string"
                },
                "username": {
                  "readOnly": true,
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "summary": "Get information about the current user",
        "tags": [
          "Users"
        ],
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Users"
      }
    },
    "/webhooks/feed/token": {
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "description": "",
        "operationId": "createwebhookfeeddata",
        "parameters": [
          {
            "description": "Webhook payload containing data `value` parameter.",
            "in": "body",
            "name": "payload",
            "required": true,
            "schema": {
              "properties": {
                "value": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New feed data record",
            "schema": {
              "properties": {
                "completed_at": {
                  "readOnly": true,
                  "type": "string"
                },
                "created_at": {
                  "readOnly": true,
                  "type": "string"
                },
                "created_epoch": {
                  "readOnly": true,
                  "type": "number"
                },
                "ele": {
                  "type": "number"
                },
                "expiration": {
                  "type": "string"
                },
                "feed_id": {
                  "type": "number"
                },
                "group_id": {
                  "readOnly": true,
                  "type": "number"
                },
                "id": {
                  "readOnly": true,
                  "type": "string"
                },
                "lat": {
                  "type": "number"
                },
                "lon": {
                  "type": "number"
                },
                "updated_at": {
                  "readOnly": true,
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "summary": "Send data to a feed via webhook URL.",
        "tags": [
          "Webhooks",
          "Data"
        ],
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl -F 'value=65.5' https://io.adafruit.com/api/v2/webhooks/feed/12345thistoken"
          }
        ],
        "x-swagger-router-action": "create",
        "x-swagger-router-controller": "WebhookReceivers"
      }
    },
    "/webhooks/feed/token/raw": {
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "description": "The raw data webhook receiver accepts POST requests and stores the raw request body on your feed. This is useful when you don't have control of the webhook sender. If feed history is turned on, payloads will be truncated at 1024 bytes. If feed history is turned off, payloads will be truncated at 100KB.",
        "operationId": "createrawwebhookfeeddata-v2",
        "responses": {
          "200": {
            "description": "New feed data record",
            "schema": {
              "properties": {
                "completed_at": {
                  "readOnly": true,
                  "type": "string"
                },
                "created_at": {
                  "readOnly": true,
                  "type": "string"
                },
                "created_epoch": {
                  "readOnly": true,
                  "type": "number"
                },
                "ele": {
                  "type": "number"
                },
                "expiration": {
                  "type": "string"
                },
                "feed_id": {
                  "type": "number"
                },
                "group_id": {
                  "readOnly": true,
                  "type": "number"
                },
                "id": {
                  "readOnly": true,
                  "type": "string"
                },
                "lat": {
                  "type": "number"
                },
                "lon": {
                  "type": "number"
                },
                "updated_at": {
                  "readOnly": true,
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "summary": "Send arbitrary data to a feed via webhook URL.",
        "tags": [
          "Webhooks",
          "Data"
        ],
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl --header 'Content-Type: application/json' \\\n  --request POST \\\n  --data '{\"some json\": \"goes here\", \"id\": 12345}' \\\n  https://io.adafruit.com/api/v2/webhooks/feed/12345thistoken/raw"
          }
        ],
        "x-swagger-router-action": "createRaw",
        "x-swagger-router-controller": "WebhookReceivers",
        "parameters": []
      }
    },
    "/sku/activities": {
      "delete": {
        "description": "Delete all your activities.",
        "operationId": "destroyactivities-v2",
        "parameters": [
          {
            "description": "a valid username string",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted activities successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "All activities for current user",
        "tags": [
          "Activities"
        ],
        "x-swagger-router-action": "destroy",
        "x-swagger-router-controller": "Activities"
      },
      "get": {
        "description": "The Activities endpoint returns information about the user's activities.",
        "operationId": "allactivities-v2",
        "parameters": [
          {
            "description": "a valid username string",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "description": "Start time for filtering, returns records created after given time.",
            "format": "date-time",
            "in": "query",
            "name": "start_time",
            "type": "string"
          },
          {
            "description": "End time for filtering, returns records created before give time.",
            "format": "date-time",
            "in": "query",
            "name": "end_time",
            "type": "string",
            "schema": {}
          },
          {
            "description": "Limit the number of records returned.",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of activities",
            "headers": {
              "X-Pagination-Count": {
                "description": "The number of records returned.",
                "type": "integer"
              },
              "X-Pagination-End": {
                "description": "The created_at value for the newest record returned.",
                "type": "string"
              },
              "X-Pagination-Limit": {
                "description": "The limit this request is using, either your given value or the default (1000).",
                "type": "integer"
              },
              "X-Pagination-Start": {
                "description": "The created_at value for the oldest record returned.",
                "type": "string"
              }
            },
            "schema": {
              "items": {
                "properties": {
                  "action": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "created_at": {
                    "format": "dateTime",
                    "readOnly": true,
                    "type": "string"
                  },
                  "data": {
                    "readOnly": true,
                    "type": "object"
                  },
                  "id": {
                    "readOnly": true,
                    "type": "number"
                  },
                  "model": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "updated_at": {
                    "format": "dateTime",
                    "readOnly": true,
                    "type": "string"
                  },
                  "user_id": {
                    "readOnly": true,
                    "type": "number"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "summary": "All activities for current user",
        "tags": [
          "Activities"
        ],
        "x-swagger-router-action": "all",
        "x-swagger-router-controller": "Activities"
      }
    },
    "/id/activities/id": {
      "get": {
        "description": "The Activities endpoint returns information about the user's activities.",
        "operationId": "getactivity-v2",
        "parameters": [
          {
            "description": "a valid username string",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Start time for filtering, returns records created after given time.",
            "format": "date-time",
            "in": "query",
            "name": "start_time",
            "type": "string"
          },
          {
            "description": "End time for filtering, returns records created before give time.",
            "format": "date-time",
            "in": "query",
            "name": "end_time",
            "type": "string"
          },
          {
            "description": "Limit the number of records returned.",
            "in": "query",
            "name": "limit",
            "type": "integer",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "An array of activities",
            "schema": {
              "items": {
                "properties": {
                  "action": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "created_at": {
                    "format": "dateTime",
                    "readOnly": true,
                    "type": "string"
                  },
                  "data": {
                    "readOnly": true,
                    "type": "object"
                  },
                  "id": {
                    "readOnly": true,
                    "type": "number"
                  },
                  "model": {
                    "readOnly": true,
                    "type": "string"
                  },
                  "updated_at": {
                    "format": "dateTime",
                    "readOnly": true,
                    "type": "string"
                  },
                  "user_id": {
                    "readOnly": true,
                    "type": "number"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "summary": "Get activities by type for current user",
        "tags": [
          "Activities"
        ],
        "x-swagger-router-action": "get",
        "x-swagger-router-controller": "Activities"
      }
    },
    "/userid/dashboards": {
      "get": {
        "description": "modified get /{username}/dashboards",
        "operationId": "alldashboards-v2",
        "parameters": [
          {
            "description": "a valid username string",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "name": "added_65",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "An array of dashboards",
            "schema": {
              "items": {
                "properties": {
                  "blocks": {
                    "items": {
                      "properties": {
                        "block_feeds": {
                          "items": {
                            "properties": {
                              "feed": {
                                "properties": {
                                  "created_at": {
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "details": {
                                    "description": "Additional details about this feed.",
                                    "properties": {
                                      "data": {
                                        "properties": {
                                          "count": {
                                            "description": "Number of data points stored by this feed.",
                                            "type": "integer"
                                          },
                                          "first": {
                                            "additionalProperties": {
                                              "properties": {
                                                "completed_at": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "created_at": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "created_epoch": {
                                                  "readOnly": true,
                                                  "type": "number"
                                                },
                                                "ele": {
                                                  "type": "number"
                                                },
                                                "expiration": {
                                                  "type": "string"
                                                },
                                                "feed_id": {
                                                  "type": "number"
                                                },
                                                "group_id": {
                                                  "readOnly": true,
                                                  "type": "number"
                                                },
                                                "id": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "lat": {
                                                  "type": "number"
                                                },
                                                "lon": {
                                                  "type": "number"
                                                },
                                                "updated_at": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "type": "object"
                                          },
                                          "last": {
                                            "additionalProperties": {
                                              "properties": {
                                                "completed_at": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "created_at": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "created_epoch": {
                                                  "readOnly": true,
                                                  "type": "number"
                                                },
                                                "ele": {
                                                  "type": "number"
                                                },
                                                "expiration": {
                                                  "type": "string"
                                                },
                                                "feed_id": {
                                                  "type": "number"
                                                },
                                                "group_id": {
                                                  "readOnly": true,
                                                  "type": "number"
                                                },
                                                "id": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "lat": {
                                                  "type": "number"
                                                },
                                                "lon": {
                                                  "type": "number"
                                                },
                                                "updated_at": {
                                                  "readOnly": true,
                                                  "type": "string"
                                                },
                                                "value": {
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "type": "object"
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "shared_with": {
                                        "description": "Access control list for this feed",
                                        "items": {
                                          "type": "object"
                                        },
                                        "type": "array"
                                      }
                                    },
                                    "readOnly": true,
                                    "type": "object"
                                  },
                                  "enabled": {
                                    "readOnly": true,
                                    "type": "boolean"
                                  },
                                  "group": {
                                    "additionalProperties": {
                                      "properties": {
                                        "created_at": {
                                          "readOnly": true,
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "readOnly": true,
                                          "type": "number"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "updated_at": {
                                          "readOnly": true,
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "readOnly": true,
                                    "type": "object"
                                  },
                                  "groups": {
                                    "items": {
                                      "properties": {
                                        "created_at": {
                                          "readOnly": true,
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "id": {
                                          "readOnly": true,
                                          "type": "number"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "updated_at": {
                                          "readOnly": true,
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                  },
                                  "history": {
                                    "type": "boolean"
                                  },
                                  "id": {
                                    "readOnly": true,
                                    "type": "number"
                                  },
                                  "key": {
                                    "type": "string"
                                  },
                                  "last_value": {
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "license": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "status": {
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "status_notify": {
                                    "description": "Is status notification active?",
                                    "type": "boolean"
                                  },
                                  "status_timeout": {
                                    "description": "Status notification timeout in minutes.",
                                    "type": "integer"
                                  },
                                  "unit_symbol": {
                                    "type": "string"
                                  },
                                  "unit_type": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "visibility": {
                                    "default": "private",
                                    "enum": [
                                      "private",
                                      "public"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "group": {
                                "properties": {
                                  "created_at": {
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "description": {
                                    "type": "string"
                                  },
                                  "feeds": {
                                    "items": {
                                      "properties": {
                                        "created_at": {
                                          "readOnly": true,
                                          "type": "string"
                                        },
                                        "description": {
                                          "type": "string"
                                        },
                                        "details": {
                                          "description": "Additional details about this feed.",
                                          "properties": {
                                            "data": {
                                              "properties": {
                                                "count": {
                                                  "description": "Number of data points stored by this feed.",
                                                  "type": "integer"
                                                },
                                                "first": {
                                                  "additionalProperties": {
                                                    "properties": {
                                                      "completed_at": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "created_at": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "created_epoch": {
                                                        "readOnly": true,
                                                        "type": "number"
                                                      },
                                                      "ele": {
                                                        "type": "number"
                                                      },
                                                      "expiration": {
                                                        "type": "string"
                                                      },
                                                      "feed_id": {
                                                        "type": "number"
                                                      },
                                                      "group_id": {
                                                        "readOnly": true,
                                                        "type": "number"
                                                      },
                                                      "id": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "lat": {
                                                        "type": "number"
                                                      },
                                                      "lon": {
                                                        "type": "number"
                                                      },
                                                      "updated_at": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "value": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "type": "object"
                                                  },
                                                  "type": "object"
                                                },
                                                "last": {
                                                  "additionalProperties": {
                                                    "properties": {
                                                      "completed_at": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "created_at": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "created_epoch": {
                                                        "readOnly": true,
                                                        "type": "number"
                                                      },
                                                      "ele": {
                                                        "type": "number"
                                                      },
                                                      "expiration": {
                                                        "type": "string"
                                                      },
                                                      "feed_id": {
                                                        "type": "number"
                                                      },
                                                      "group_id": {
                                                        "readOnly": true,
                                                        "type": "number"
                                                      },
                                                      "id": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "lat": {
                                                        "type": "number"
                                                      },
                                                      "lon": {
                                                        "type": "number"
                                                      },
                                                      "updated_at": {
                                                        "readOnly": true,
                                                        "type": "string"
                                                      },
                                                      "value": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "type": "object"
                                                  },
                                                  "type": "object"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "shared_with": {
                                              "description": "Access control list for this feed",
                                              "items": {
                                                "type": "object"
                                              },
                                              "type": "array"
                                            }
                                          },
                                          "readOnly": true,
                                          "type": "object"
                                        },
                                        "enabled": {
                                          "readOnly": true,
                                          "type": "boolean"
                                        },
                                        "group": {
                                          "additionalProperties": {
                                            "properties": {
                                              "created_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "description": {
                                                "type": "string"
                                              },
                                              "id": {
                                                "readOnly": true,
                                                "type": "number"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "updated_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "readOnly": true,
                                          "type": "object"
                                        },
                                        "groups": {
                                          "items": {
                                            "properties": {
                                              "created_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "description": {
                                                "type": "string"
                                              },
                                              "id": {
                                                "readOnly": true,
                                                "type": "number"
                                              },
                                              "name": {
                                                "type": "string"
                                              },
                                              "updated_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "readOnly": true,
                                          "type": "array"
                                        },
                                        "history": {
                                          "type": "boolean"
                                        },
                                        "id": {
                                          "readOnly": true,
                                          "type": "number"
                                        },
                                        "key": {
                                          "type": "string"
                                        },
                                        "last_value": {
                                          "readOnly": true,
                                          "type": "string"
                                        },
                                        "license": {
                                          "type": "string"
                                        },
                                        "name": {
                                          "type": "string"
                                        },
                                        "status": {
                                          "readOnly": true,
                                          "type": "string"
                                        },
                                        "status_notify": {
                                          "description": "Is status notification active?",
                                          "type": "boolean"
                                        },
                                        "status_timeout": {
                                          "description": "Status notification timeout in minutes.",
                                          "type": "integer"
                                        },
                                        "unit_symbol": {
                                          "type": "string"
                                        },
                                        "unit_type": {
                                          "type": "string"
                                        },
                                        "updated_at": {
                                          "readOnly": true,
                                          "type": "string"
                                        },
                                        "visibility": {
                                          "default": "private",
                                          "enum": [
                                            "private",
                                            "public"
                                          ],
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "readOnly": true,
                                    "type": "array"
                                  },
                                  "id": {
                                    "readOnly": true,
                                    "type": "number"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "updated_at": {
                                    "readOnly": true,
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "id": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "readOnly": true,
                          "type": "array"
                        },
                        "column": {
                          "type": "number"
                        },
                        "description": {
                          "type": "string"
                        },
                        "key": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "row": {
                          "type": "number"
                        },
                        "size_x": {
                          "type": "number"
                        },
                        "size_y": {
                          "type": "number"
                        },
                        "visual_type": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "readOnly": true,
                    "type": "array"
                  },
                  "description": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "summary": "All dashboards for current user",
        "tags": [
          "Dashboards"
        ],
        "x-swagger-router-action": "all",
        "x-swagger-router-controller": "Dashboards"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "description": "",
        "operationId": "createdashboard",
        "parameters": [
          {
            "description": "a valid username string",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string",
            "schema": {
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "in": "body",
            "name": "dashboard",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "type": "object",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New Dashboard",
            "schema": {
              "properties": {
                "blocks": {
                  "items": {
                    "properties": {
                      "block_feeds": {
                        "items": {
                          "properties": {
                            "feed": {
                              "properties": {
                                "created_at": {
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "details": {
                                  "description": "Additional details about this feed.",
                                  "properties": {
                                    "data": {
                                      "properties": {
                                        "count": {
                                          "description": "Number of data points stored by this feed.",
                                          "type": "integer"
                                        },
                                        "first": {
                                          "additionalProperties": {
                                            "properties": {
                                              "completed_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "created_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "created_epoch": {
                                                "readOnly": true,
                                                "type": "number"
                                              },
                                              "ele": {
                                                "type": "number"
                                              },
                                              "expiration": {
                                                "type": "string"
                                              },
                                              "feed_id": {
                                                "type": "number"
                                              },
                                              "group_id": {
                                                "readOnly": true,
                                                "type": "number"
                                              },
                                              "id": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "lat": {
                                                "type": "number"
                                              },
                                              "lon": {
                                                "type": "number"
                                              },
                                              "updated_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "value": {
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "type": "object"
                                        },
                                        "last": {
                                          "additionalProperties": {
                                            "properties": {
                                              "completed_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "created_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "created_epoch": {
                                                "readOnly": true,
                                                "type": "number"
                                              },
                                              "ele": {
                                                "type": "number"
                                              },
                                              "expiration": {
                                                "type": "string"
                                              },
                                              "feed_id": {
                                                "type": "number"
                                              },
                                              "group_id": {
                                                "readOnly": true,
                                                "type": "number"
                                              },
                                              "id": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "lat": {
                                                "type": "number"
                                              },
                                              "lon": {
                                                "type": "number"
                                              },
                                              "updated_at": {
                                                "readOnly": true,
                                                "type": "string"
                                              },
                                              "value": {
                                                "type": "string"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "type": "object"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "shared_with": {
                                      "description": "Access control list for this feed",
                                      "items": {
                                        "type": "object"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "readOnly": true,
                                  "type": "object"
                                },
                                "enabled": {
                                  "readOnly": true,
                                  "type": "boolean"
                                },
                                "group": {
                                  "additionalProperties": {
                                    "properties": {
                                      "created_at": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "readOnly": true,
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "updated_at": {
                                        "readOnly": true,
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "readOnly": true,
                                  "type": "object"
                                },
                                "groups": {
                                  "items": {
                                    "properties": {
                                      "created_at": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "id": {
                                        "readOnly": true,
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "updated_at": {
                                        "readOnly": true,
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "readOnly": true,
                                  "type": "array"
                                },
                                "history": {
                                  "type": "boolean"
                                },
                                "id": {
                                  "readOnly": true,
                                  "type": "number"
                                },
                                "key": {
                                  "type": "string"
                                },
                                "last_value": {
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "license": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "status": {
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "status_notify": {
                                  "description": "Is status notification active?",
                                  "type": "boolean"
                                },
                                "status_timeout": {
                                  "description": "Status notification timeout in minutes.",
                                  "type": "integer"
                                },
                                "unit_symbol": {
                                  "type": "string"
                                },
                                "unit_type": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "visibility": {
                                  "default": "private",
                                  "enum": [
                                    "private",
                                    "public"
                                  ],
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "group": {
                              "properties": {
                                "created_at": {
                                  "readOnly": true,
                                  "type": "string"
                                },
                                "description": {
                                  "type": "string"
                                },
                                "feeds": {
                                  "items": {
                                    "properties": {
                                      "created_at": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "description": {
                                        "type": "string"
                                      },
                                      "details": {
                                        "description": "Additional details about this feed.",
                                        "properties": {
                                          "data": {
                                            "properties": {
                                              "count": {
                                                "description": "Number of data points stored by this feed.",
                                                "type": "integer"
                                              },
                                              "first": {
                                                "additionalProperties": {
                                                  "properties": {
                                                    "completed_at": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "created_at": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "created_epoch": {
                                                      "readOnly": true,
                                                      "type": "number"
                                                    },
                                                    "ele": {
                                                      "type": "number"
                                                    },
                                                    "expiration": {
                                                      "type": "string"
                                                    },
                                                    "feed_id": {
                                                      "type": "number"
                                                    },
                                                    "group_id": {
                                                      "readOnly": true,
                                                      "type": "number"
                                                    },
                                                    "id": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "lat": {
                                                      "type": "number"
                                                    },
                                                    "lon": {
                                                      "type": "number"
                                                    },
                                                    "updated_at": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "type": "object"
                                              },
                                              "last": {
                                                "additionalProperties": {
                                                  "properties": {
                                                    "completed_at": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "created_at": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "created_epoch": {
                                                      "readOnly": true,
                                                      "type": "number"
                                                    },
                                                    "ele": {
                                                      "type": "number"
                                                    },
                                                    "expiration": {
                                                      "type": "string"
                                                    },
                                                    "feed_id": {
                                                      "type": "number"
                                                    },
                                                    "group_id": {
                                                      "readOnly": true,
                                                      "type": "number"
                                                    },
                                                    "id": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "lat": {
                                                      "type": "number"
                                                    },
                                                    "lon": {
                                                      "type": "number"
                                                    },
                                                    "updated_at": {
                                                      "readOnly": true,
                                                      "type": "string"
                                                    },
                                                    "value": {
                                                      "type": "string"
                                                    }
                                                  },
                                                  "type": "object"
                                                },
                                                "type": "object"
                                              }
                                            },
                                            "type": "object"
                                          },
                                          "shared_with": {
                                            "description": "Access control list for this feed",
                                            "items": {
                                              "type": "object"
                                            },
                                            "type": "array"
                                          }
                                        },
                                        "readOnly": true,
                                        "type": "object"
                                      },
                                      "enabled": {
                                        "readOnly": true,
                                        "type": "boolean"
                                      },
                                      "group": {
                                        "additionalProperties": {
                                          "properties": {
                                            "created_at": {
                                              "readOnly": true,
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "readOnly": true,
                                              "type": "number"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "updated_at": {
                                              "readOnly": true,
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "readOnly": true,
                                        "type": "object"
                                      },
                                      "groups": {
                                        "items": {
                                          "properties": {
                                            "created_at": {
                                              "readOnly": true,
                                              "type": "string"
                                            },
                                            "description": {
                                              "type": "string"
                                            },
                                            "id": {
                                              "readOnly": true,
                                              "type": "number"
                                            },
                                            "name": {
                                              "type": "string"
                                            },
                                            "updated_at": {
                                              "readOnly": true,
                                              "type": "string"
                                            }
                                          },
                                          "type": "object"
                                        },
                                        "readOnly": true,
                                        "type": "array"
                                      },
                                      "history": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "readOnly": true,
                                        "type": "number"
                                      },
                                      "key": {
                                        "type": "string"
                                      },
                                      "last_value": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "license": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      },
                                      "status": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "status_notify": {
                                        "description": "Is status notification active?",
                                        "type": "boolean"
                                      },
                                      "status_timeout": {
                                        "description": "Status notification timeout in minutes.",
                                        "type": "integer"
                                      },
                                      "unit_symbol": {
                                        "type": "string"
                                      },
                                      "unit_type": {
                                        "type": "string"
                                      },
                                      "updated_at": {
                                        "readOnly": true,
                                        "type": "string"
                                      },
                                      "visibility": {
                                        "default": "private",
                                        "enum": [
                                          "private",
                                          "public"
                                        ],
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "readOnly": true,
                                  "type": "array"
                                },
                                "id": {
                                  "readOnly": true,
                                  "type": "number"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "readOnly": true,
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "id": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "readOnly": true,
                        "type": "array"
                      },
                      "column": {
                        "type": "number"
                      },
                      "description": {
                        "type": "string"
                      },
                      "key": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "row": {
                        "type": "number"
                      },
                      "size_x": {
                        "type": "number"
                      },
                      "size_y": {
                        "type": "number"
                      },
                      "visual_type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "readOnly": true,
                  "type": "array"
                },
                "description": {
                  "type": "string"
                },
                "key": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Server Error"
          }
        },
        "summary": "Create a new Dashboard",
        "tags": [
          "Dashboards"
        ],
        "x-swagger-router-action": "create",
        "x-swagger-router-controller": "Dashboards"
      }
    },
    "/id/dashboards/orderid/blocks": {
      "get": {
        "description": "The Blocks endpoint returns information about the user's blocks.\n",
        "operationId": "allblocks",
        "parameters": [
          {
            "description": "a valid username string",
            "in": "path",
            "name": "username",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "dashboard_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of blocks",
            "schema": {
              "items": {
                "properties": {
                  "block_feeds": {
                    "items": {
                      "properties": {
                        "feed": {
                          "properties": {
                            "created_at": {
                              "readOnly": true,
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "details": {
                              "description": "Additional details about this feed.",
                              "properties": {
                                "data": {
                                  "properties": {
                                    "count": {
                                      "description": "Number of data points stored by this feed.",
                                      "type": "integer"
                                    },
                                    "first": {
                                      "additionalProperties": {
                                        "properties": {
                                          "completed_at": {
                                            "readOnly": true,
                                            "type": "string"
                                          },
                                          "created_at": {
                                            "readOnly": true,
                                            "type": "string"
                                          },
                                          "created_epoch": {
                                            "readOnly": true,
                                            "type": "number"
                                          },
                                          "ele": {
                                            "type": "number"
                                          },
                                          "expiration": {
                                            "type": "string"
                                          },
                                          "feed_id": {
                                            "type": "number"
                                          },
                                          "group_id": {
                                            "readOnly": true,
                                            "type": "number"
                                          },
                                          "id": {
                                            "readOnly": true,
                                            "type": "string"
                                          },
                                          "lat": {
                                            "type": "number"
                                          },
                                          "lon": {
                                            "type": "number"
                                          },
                                          "updated_at": {
                                            "readOnly": true,
                                            "type": "string"
                                          },
                                          "value": {
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "type": "object"
[...]
