{
  "openapi": "3.0.0",
  "info": {
    "version": "2022-09-28",
    "x-release": "bearer",
    "title": "Amazon CodeCatalyst",
    "description": "<p>Welcome to the Amazon CodeCatalyst API reference. This reference provides descriptions of operations and data types for Amazon CodeCatalyst. You can use the Amazon CodeCatalyst API to work with the following objects. </p> <p>Spaces, by calling the following:</p> <ul> <li> <p> <a>DeleteSpace</a>, which deletes a space.</p> </li> <li> <p> <a>GetSpace</a>, which returns information about a space.</p> </li> <li> <p> <a>GetSubscription</a>, which returns information about the Amazon Web Services account used for billing purposes and the billing plan for the space.</p> </li> <li> <p> <a>ListSpaces</a>, which retrieves a list of spaces.</p> </li> <li> <p> <a>UpdateSpace</a>, which hanges one or more values for a space.</p> </li> </ul> <p>Projects, by calling the following:</p> <ul> <li> <p> <a>CreateProject</a> which creates a project in a specified space.</p> </li> <li> <p> <a>GetProject</a>, which returns information about a project.</p> </li> <li> <p> <a>ListProjects</a>, which retrieves a list of projects in a space.</p> </li> </ul> <p>Users, by calling the following:</p> <ul> <li> <p> <a>GetUserDetails</a>, which returns information about a user in Amazon CodeCatalyst.</p> </li> </ul> <p>Source repositories, by calling the following:</p> <ul> <li> <p> <a>CreateSourceRepository</a>, which creates an empty Git-based source repository in a specified project.</p> </li> <li> <p> <a>CreateSourceRepositoryBranch</a>, which creates a branch in a specified repository where you can work on code.</p> </li> <li> <p> <a>DeleteSourceRepository</a>, which deletes a source repository.</p> </li> <li> <p> <a>GetSourceRepository</a>, which returns information about a source repository.</p> </li> <li> <p> <a>GetSourceRepositoryCloneUrls</a>, which returns information about the URLs that can be used with a Git client to clone a source repository.</p> </li> <li> <p> <a>ListSourceRepositories</a>, which retrieves a list of source repositories in a project.</p> </li> <li> <p> <a>ListSourceRepositoryBranches</a>, which retrieves a list of branches in a source repository.</p> </li> </ul> <p>Dev Environments and the Amazon Web Services Toolkits, by calling the following:</p> <ul> <li> <p> <a>CreateDevEnvironment</a>, which creates a Dev Environment, where you can quickly work on the code stored in the source repositories of your project.</p> </li> <li> <p> <a>DeleteDevEnvironment</a>, which deletes a Dev Environment.</p> </li> <li> <p> <a>GetDevEnvironment</a>, which returns information about a Dev Environment.</p> </li> <li> <p> <a>ListDevEnvironments</a>, which retrieves a list of Dev Environments in a project.</p> </li> <li> <p> <a>ListDevEnvironmentSessions</a>, which retrieves a list of active Dev Environment sessions in a project.</p> </li> <li> <p> <a>StartDevEnvironment</a>, which starts a specified Dev Environment and puts it into an active state.</p> </li> <li> <p> <a>StartDevEnvironmentSession</a>, which starts a session to a specified Dev Environment.</p> </li> <li> <p> <a>StopDevEnvironment</a>, which stops a specified Dev Environment and puts it into an stopped state.</p> </li> <li> <p> <a>StopDevEnvironmentSession</a>, which stops a session for a specified Dev Environment.</p> </li> <li> <p> <a>UpdateDevEnvironment</a>, which changes one or more values for a Dev Environment.</p> </li> </ul> <p>Security, activity, and resource management in Amazon CodeCatalyst, by calling the following:</p> <ul> <li> <p> <a>CreateAccessToken</a>, which creates a personal access token (PAT) for the current user.</p> </li> <li> <p> <a>DeleteAccessToken</a>, which deletes a specified personal access token (PAT).</p> </li> <li> <p> <a>ListAccessTokens</a>, which lists all personal access tokens (PATs) associated with a user.</p> </li> <li> <p> <a>ListEventLogs</a>, which retrieves a list of events that occurred during a specified time period in a space.</p> </li> <li> <p> <a>VerifySession</a>, which verifies whether the calling user has a valid Amazon CodeCatalyst login and session.</p> </li> </ul> <note> <p>If you are using the Amazon CodeCatalyst APIs with an SDK or the CLI, you must configure your computer to work with Amazon CodeCatalyst and single sign-on (SSO). For more information, see <a href=\"https://docs.aws.amazon.com/codecatalyst/latest/userguide/set-up-cli.html\">Setting up to use the CLI with Amazon CodeCatalyst</a> and the SSO documentation for your SDK.</p> </note>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "codecatalyst",
    "x-aws-signingName": "codecatalyst",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codecatalyst-2022-09-28.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/codecatalyst/"
  },
  "servers": [
    {
      "url": "http://codecatalyst.global.api.aws",
      "variables": {},
      "description": "The general Amazon CodeCatalyst multi-region endpoint"
    },
    {
      "url": "https://codecatalyst.global.api.aws",
      "variables": {},
      "description": "The general Amazon CodeCatalyst multi-region endpoint"
    },
    {
      "url": "http://codecatalyst.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://codecatalyst.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The Amazon CodeCatalyst endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "paths": {
    "/payments/{id}": {
      "get": {
        "operationId": "verifysession-v2",
        "description": "Verifies whether the calling user has a valid Amazon CodeCatalyst login and session. If successful, this returns the ID of the user in Amazon CodeCatalyst.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identity": {
                      "allOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 256
                        },
                        {
                          "description": "The system-generated unique ID of the user in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/transactions/{id}": {
      "get": {
        "operationId": "getuserdetails-v2",
        "description": "Returns information about a user. ",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The system-generated unique ID of the user."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "userName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The name of the user as displayed in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name displayed for the user in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "primaryEmail": {
                      "allOf": [
                        {
                          "type": "object",
                          "properties": {
                            "email": {
                              "allOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "description": "The email address."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "verified": {
                              "allOf": [
                                {
                                  "type": "boolean"
                                },
                                {
                                  "description": "Whether the email address has been verified."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "Information about an email address."
                        },
                        {
                          "description": "The email address provided by the user when they signed up."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "version": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "<p/>"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "The system-generated unique ID of the user. ",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "userName",
            "in": "query",
            "required": false,
            "description": "The name of the user as displayed in Amazon CodeCatalyst.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]{3,100}",
              "minLength": 3,
              "maxLength": 100
            }
          }
        ]
      }
    },
    "/v1/accesstokens": {
      "put": {
        "operationId": "createaccesstoken",
        "description": "Creates a personal access token (PAT) for the current user. A personal access token (PAT) is similar to a password. It is associated with your user identity for use across all spaces and projects in Amazon CodeCatalyst. You use PATs to access CodeCatalyst from resources that include integrated development environments (IDEs) and Git-based source repositories. PATs represent you in Amazon CodeCatalyst and you can manage them in your user settings.For more information, see <a href=\"https://docs.aws.amazon.com/codecatalyst/latest/userguide/ipa-tokens-keys.html\">Managing personal access tokens in Amazon CodeCatalyst</a>.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "secret",
                    "name",
                    "expiresTime",
                    "accessTokenId"
                  ],
                  "properties": {
                    "secret": {
                      "allOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 4000,
                          "format": "password"
                        },
                        {
                          "description": "The secret value of the personal access token."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "name": {
                      "allOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        {
                          "description": "The friendly name of the personal access token."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "expiresTime": {
                      "allOf": [
                        {
                          "type": "string",
                          "format": "date-time"
                        },
                        {
                          "description": "The date and time the personal access token expires, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>. If not specified, the default is one year from creation."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "accessTokenId": {
                      "allOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 36
                        },
                        {
                          "description": "The system-generated unique ID of the access token."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "description": "The friendly name of the personal access token.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "expiresTime": {
                    "description": "The date and time the personal access token expires, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.",
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "listaccesstokens",
        "description": "Lists all personal access tokens (PATs) associated with the user who calls the API. You can only list PATs associated with your Amazon Web Services Builder ID.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "name"
                            ],
                            "properties": {
                              "id": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 36
                                  },
                                  {
                                    "description": "The system-generated ID of the personal access token."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "name": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100
                                  },
                                  {
                                    "description": "The friendly name of the personal access token."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "expiresTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The date and time when the personal access token will expire, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "Information about a specified personal access token (PAT)."
                          }
                        },
                        {
                          "description": "A list of personal access tokens (PATs) associated with the calling user identity."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "A token returned from a call to this API to indicate the next batch of results to return, if any."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "maxResults": {
                    "description": "The maximum number of results to show in a single call to this API. If the number of results is larger than the number you specified, the response will include a <code>NextToken</code> element, which you can use to obtain additional results.",
                    "type": "integer",
                    "maximum": 10
                  },
                  "nextToken": {
                    "description": "A token returned from a call to this API to indicate the next batch of results to return, if any.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accesstokens/sku": {
      "delete": {
        "operationId": "deleteaccesstoken",
        "description": "Deletes a specified personal access token (PAT). A personal access token can only be deleted by the user who created it.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The ID of the personal access token to delete. You can find the IDs of all PATs associated with your Amazon Web Services Builder ID in a space by calling <a>ListAccessTokens</a>.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36
            }
          }
        ]
      }
    },
    "/v1/spaces": {
      "post": {
        "operationId": "listspaces",
        "description": "Retrieves a list of spaces.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "A token returned from a call to this API to indicate the next batch of results to return, if any."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "items": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "name",
                              "regionName"
                            ],
                            "properties": {
                              "name": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                                    "minLength": 3,
                                    "maxLength": 63
                                  },
                                  {
                                    "description": "The name of the space."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "regionName": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "(us(?:-gov)?|af|ap|ca|cn|eu|sa)-(central|(?:north|south)?(?:east|west)?)-(\\d+)",
                                    "minLength": 3,
                                    "maxLength": 16
                                  },
                                  {
                                    "description": "The Amazon Web Services Region where the space exists."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "displayName": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The friendly name of the space displayed to users."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "description": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The description of the space."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "Information about an space."
                          }
                        },
                        {
                          "description": "Information about the spaces. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nextToken": {
                    "description": "A token returned from a call to this API to indicate the next batch of results to return, if any.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/spaces/userid": {
      "delete": {
        "operationId": "deletespace",
        "description": "<p>Deletes a space.</p> <important> <p>Deleting a space cannot be undone. Additionally, since space names must be unique across Amazon CodeCatalyst, you cannot reuse names of deleted spaces.</p> </important>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name of the space displayed to users of the space in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the space. To retrieve a list of space names, use <a>ListSpaces</a>.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ]
      },
      "get": {
        "operationId": "getspace",
        "description": "Returns information about an space.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name",
                    "regionName"
                  ],
                  "properties": {
                    "name": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "regionName": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "(us(?:-gov)?|af|ap|ca|cn|eu|sa)-(central|(?:north|south)?(?:east|west)?)-(\\d+)",
                          "minLength": 3,
                          "maxLength": 16
                        },
                        {
                          "description": "The Amazon Web Services Region where the space exists."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name of the space displayed to users."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "description": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The description of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ]
      },
      "patch": {
        "operationId": "updatespace-v2",
        "description": "Changes one or more values for a space.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name of the space displayed to users in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "description": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The description of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "description": "The description of the space.",
                    "type": "string",
                    "pattern": "[a-zA-Z0-9]+(?:[-_a-zA-Z0-9.,;:/\\+=?&$%    ])*",
                    "minLength": 0,
                    "maxLength": 200
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/spaces/sku/eventlogs": {
      "post": {
        "operationId": "listeventlogs-v2",
        "description": "Retrieves a list of events that occurred during a specified time period in a space. You can use these events to audit user and system activity in a space.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "A token returned from a call to this API to indicate the next batch of results to return, if any."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "items": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "eventName",
                              "eventType",
                              "eventCategory",
                              "eventSource",
                              "eventTime",
                              "operationType",
                              "userIdentity"
                            ],
                            "properties": {
                              "id": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The system-generated unique ID of the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventName": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The name of the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventType": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The type of the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventCategory": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The category for the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventSource": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The source of the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The time the event took place, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "operationType": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "READONLY",
                                      "MUTATION"
                                    ]
                                  },
                                  {
                                    "description": "The type of the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "userIdentity": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "required": [
                                      "userType",
                                      "principalId"
                                    ],
                                    "properties": {
                                      "userType": {
                                        "allOf": [
                                          {
                                            "type": "string",
                                            "enum": [
                                              "USER",
                                              "AWS_ACCOUNT",
                                              "UNKNOWN"
                                            ]
                                          },
                                          {
                                            "description": "The role assigned to the user in a Amazon CodeCatalyst space or project when the event occurred."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "principalId": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The ID of the Amazon CodeCatalyst service principal."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "userName": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The display name of the user in Amazon CodeCatalyst."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "awsAccountId": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The Amazon Web Services account number of the user in Amazon Web Services, if any."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "Information about a user whose activity is recorded in an event for a space."
                                  },
                                  {
                                    "description": "The system-generated unique ID of the user whose actions are recorded in the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "projectInformation": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The name of the project in the space."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "projectId": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The system-generated unique ID of the project."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "Information about a project in a space."
                                  },
                                  {
                                    "description": "Information about the project where the event occurred."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "requestId": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The system-generated unique ID of the request."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "requestPayload": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "contentType": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The type of content in the event payload."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "data": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The data included in the event payload."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "Information about the payload of an event recording Amazon CodeCatalyst activity."
                                  },
                                  {
                                    "description": "Information about the payload of the request."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "responsePayload": {
                                "allOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "contentType": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The type of content in the event payload."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "data": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The data included in the event payload."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "Information about the payload of an event recording Amazon CodeCatalyst activity."
                                  },
                                  {
                                    "description": "Information about the payload of the response, if any."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "errorCode": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The code of the error, if any."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "sourceIpAddress": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The IP address of the user whose actions are recorded in the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "userAgent": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The user agent whose actions are recorded in the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "Information about an entry in an event log of Amazon CodeCatalyst activity."
                          }
                        },
                        {
                          "description": "Information about each event retrieved in the list."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startTime",
                  "endTime"
                ],
                "properties": {
                  "startTime": {
                    "description": "The date and time when you want to start retrieving events, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "endTime": {
                    "description": "The time after which you do not want any events retrieved, in coordinated universal time (UTC) timestamp format as specified in <a href=\"https://www.rfc-editor.org/rfc/rfc3339#section-5.6\">RFC 3339</a>.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "eventName": {
                    "description": "The name of the event.",
                    "type": "string"
                  },
                  "nextToken": {
                    "description": "A token returned from a call to this API to indicate the next batch of results to return, if any.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  },
                  "maxResults": {
                    "description": "The maximum number of results to show in a single call to this API. If the number of results is larger than the number you specified, the response will include a <code>NextToken</code> element, which you can use to obtain additional results.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 250
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/spaces/sku/projects": {
      "put": {
        "operationId": "createproject-v2",
        "description": "Creates a project in a specified space.",
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "spaceName": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "name": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the project in the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name of the project."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "description": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The description of the project."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "displayName"
                ],
                "properties": {
                  "displayName": {
                    "description": "The friendly name of the project that will be displayed to users.",
                    "type": "string",
                    "pattern": "[a-zA-Z0-9]+(?:[-_\\. ][a-zA-Z0-9]+)*",
                    "minLength": 3,
                    "maxLength": 63
                  },
                  "description": {
                    "description": "The description of the project. This description will be displayed to all users of the project. We recommend providing a brief description of the project and its intended purpose.",
                    "type": "string",
                    "pattern": "[a-zA-Z0-9]+(?:[-_a-zA-Z0-9.,;:/\\+=?&$%    ])*",
                    "minLength": 0,
                    "maxLength": 200
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "listprojects-v2",
        "description": "Retrieves a list of projects.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "A token returned from a call to this API to indicate the next batch of results to return, if any."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "items": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "name"
                            ],
                            "properties": {
                              "name": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The name of the project in the space."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "displayName": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The friendly name displayed to users of the project in Amazon CodeCatalyst."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "description": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The description of the project."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "Information about a project."
                          }
                        },
                        {
                          "description": "Information about the projects."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          },
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "nextToken": {
                    "description": "A token returned from a call to this API to indicate the next batch of results to return, if any.",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000
                  },
                  "maxResults": {
                    "description": "The maximum number of results to show in a single call to this API. If the number of results is larger than the number you specified, the response will include a <code>NextToken</code> element, which you can use to obtain additional results.",
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "filters": {
                    "description": "Information about filters to apply to narrow the results returned in the list.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "key",
                        "values"
                      ],
                      "properties": {
                        "key": {
                          "allOf": [
                            {
                              "type": "string",
                              "enum": [
                                "hasAccessTo"
                              ]
                            },
                            {
                              "description": "A key that can be used to sort results."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "values": {
                          "allOf": [
                            {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            {
                              "description": "The values of the key."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        },
                        "comparisonOperator": {
                          "allOf": [
                            {
                              "type": "string",
                              "enum": [
                                "EQ",
                                "GT",
                                "GE",
                                "LT",
                                "LE"
                              ]
                            },
                            {
                              "description": "The operator used to compare the fields."
                            }
                          ],
                          "_polymorphic_marker": {
                            "allOf": true
                          }
                        }
                      },
                      "description": "nformation about the filter used to narrow the results returned in a list of projects."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/spaces/id/projects/sku": {
      "delete": {
        "operationId": "deleteproject",
        "description": "Deletes a project in a space.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "spaceName",
                    "name"
                  ],
                  "properties": {
                    "spaceName": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "name": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the project in the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name displayed to users of the project in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the project in the space. To retrieve a list of project names, use <a>ListProjects</a>.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ]
      },
      "get": {
        "operationId": "getproject",
        "description": "Returns information about a project.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "spaceName": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "name": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The name of the project in the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name of the project displayed to users in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "description": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The description of the project."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ConflictException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "ValidationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "ServiceQuotaExceededException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "484": {
            "description": "ResourceNotFoundException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "485": {
            "description": "AccessDeniedException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "spaceName",
            "in": "path",
            "required": true,
            "description": "The name of the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The name of the project in the space.",
            "schema": {
              "type": "string",
              "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
              "minLength": 3,
              "maxLength": 63
            }
          }
        ]
      },
      "patch": {
        "operationId": "updateproject",
        "description": "Changes one or more values for a project.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spaceName": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the space."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "name": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9]+(?:[-_\\.][a-zA-Z0-9]+)*",
                          "minLength": 3,
                          "maxLength": 63
                        },
                        {
                          "description": "The name of the project."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "displayName": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The friendly name of the project displayed to users in Amazon CodeCatalyst."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "description": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The description of the project."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
[...]
