{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "REST APIs for Azure Advisor",
    "title": "AdvisorManagementClient",
    "version": "2017-03-31",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/advisor/resource-manager/Microsoft.Advisor/stable/2017-03-31/advisor.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "advisor",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "apiVersionParameter": {
      "description": "The version of the API to be used with the client request.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "subscriptionIdParameter": {
      "description": "The Azure subscription ID.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/payments/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff-v2"
      }
    },
    "/billing/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff-v2"
      }
    },
    "/transactions/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff-v2"
      }
    },
    "/shipments/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff-v2"
      }
    },
    "/providers/microsoft-advisor/operations": {
      "get": {
        "deprecated": false,
        "description": "Lists all the available Advisor REST API operations.",
        "operationId": "operations-list",
        "parameters": [
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved operation list.",
            "schema": {
              "description": "The list of Advisor operations.",
              "properties": {
                "nextLink": {
                  "description": "The link used to get the next page of operations.",
                  "type": "string"
                },
                "value": {
                  "description": "The list of operations.",
                  "items": {
                    "description": "The operation supported by Advisor.",
                    "properties": {
                      "display": {
                        "description": "The operation supported by Advisor.",
                        "properties": {
                          "description": {
                            "description": "The description of the operation.",
                            "type": "string"
                          },
                          "operation": {
                            "description": "The action that users can perform, based on their permission level.",
                            "type": "string"
                          },
                          "provider": {
                            "description": "Service provider: Microsoft Advisor.",
                            "type": "string"
                          },
                          "resource": {
                            "description": "Resource on which the operation is performed.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "name": {
                        "description": "Operation name: {provider}/{resource}/{operation}.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/paymentid/providers/microsoft-advisor/generaterecommendations/sku": {
      "get": {
        "deprecated": false,
        "description": "modified get /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}",
        "operationId": "recommendations-getgeneratestatus-v2",
        "parameters": [
          {
            "description": "The Azure subscription ID.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The operation ID, which can be found from the Location field in the generate recommendation response header.",
            "format": "uuid",
            "in": "path",
            "name": "operationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Recommendation generation is in progress."
          },
          "204": {
            "description": "NoContent. Recommendation generation has been completed."
          }
        },
        "tags": [
          "GenerateRecommendations"
        ]
      }
    },
    "/subscriptions/id/providers/microsoft-advisor/recommendations": {
      "get": {
        "deprecated": false,
        "description": "Obtains cached recommendations for a subscription. The recommendations are generated or computed by invoking generateRecommendations.",
        "operationId": "recommendations-list",
        "parameters": [
          {
            "description": "The Azure subscription ID.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "The filter to apply to the recommendations.",
            "in": "query",
            "name": "$filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "The number of recommendations per page if a paged version of this API is being used.",
            "in": "query",
            "name": "$top",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The page-continuation token to use with a paged version of this API.",
            "in": "query",
            "name": "$skipToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully obtained cached recommendations.",
            "schema": {
              "description": "The list of Advisor recommendations.",
              "properties": {
                "nextLink": {
                  "description": "The link used to get the next page of recommendations.",
                  "type": "string"
                },
                "value": {
                  "description": "The list of recommendations.",
                  "items": {
                    "allOf": [
                      {
                        "description": "An Azure resource.",
                        "properties": {
                          "id": {
                            "description": "The resource ID.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "type": {
                            "description": "The type of the resource.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "Advisor Recommendation.",
                    "properties": {
                      "properties": {
                        "description": "The properties of the recommendation.",
                        "properties": {
                          "category": {
                            "description": "The category of the recommendation.",
                            "enum": [
                              "HighAvailability",
                              "Security",
                              "Performance",
                              "Cost",
                              "OperationalExcellence"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "category"
                            }
                          },
                          "impact": {
                            "description": "The business impact of the recommendation.",
                            "enum": [
                              "High",
                              "Medium",
                              "Low"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "impact"
                            }
                          },
                          "impactedField": {
                            "description": "The resource type identified by Advisor.",
                            "type": "string"
                          },
                          "impactedValue": {
                            "description": "The resource identified by Advisor.",
                            "type": "string"
                          },
                          "lastUpdated": {
                            "description": "The most recent time that Advisor checked the validity of the recommendation.",
                            "format": "date-time",
                            "type": "string"
                          },
                          "metadata": {
                            "additionalProperties": {
                              "type": "object"
                            },
                            "description": "The recommendation metadata.",
                            "type": "object"
                          },
                          "recommendationTypeId": {
                            "description": "The recommendation-type GUID.",
                            "type": "string"
                          },
                          "risk": {
                            "description": "The potential risk of not implementing the recommendation.",
                            "enum": [
                              "Error",
                              "Warning",
                              "None"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "risk"
                            }
                          },
                          "shortDescription": {
                            "description": "A summary of the recommendation.",
                            "properties": {
                              "problem": {
                                "description": "The issue or opportunity identified by the recommendation.",
                                "type": "string"
                              },
                              "solution": {
                                "description": "The remediation action suggested by the recommendation.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "suppressionIds": {
                            "description": "The list of snoozed and dismissed rules for the recommendation.",
                            "items": {
                              "format": "uuid",
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object",
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "GetRecommendations"
        ],
        "x-ms-examples": {
          "ListRecommendations": {
            "parameters": {
              "$top": 10,
              "api-version": "2017-03-31",
              "subscriptionId": "subscriptionId"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com/subscriptions/subscriptionId/providers/Microsoft.Advisor/recommendations?api-version=2017-03-31&$top=10&$skiptoken=skiptoken",
                  "value": [
                    {
                      "id": "/resourceUri/providers/Microsoft.Advisor/recommendations/recGUID",
                      "name": "recGUID",
                      "properties": {
                        "category": "HighAvailability",
                        "impact": "Medium",
                        "impactedField": "Microsoft.Compute/availabilitySets",
                        "impactedValue": "armavset",
                        "lastUpdated": "2017-02-24T22:24:43.3216408Z",
                        "risk": "Warning",
                        "shortDescription": {
                          "problem": "This availability set is not configured for fault tolerance",
                          "solution": "To ensure high availability add one or more virtual machines to this availability set"
                        }
                      },
                      "type": "Microsoft.Advisor/recommendations"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/id/providers/microsoft-advisor/suppressions": {
      "get": {
        "deprecated": false,
        "description": "modified get /subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions",
        "operationId": "suppressions-list",
        "parameters": [
          {
            "description": "The Azure subscription ID.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully got all suppressions in a subscription.",
            "schema": {
              "items": {
                "allOf": [
                  {
                    "description": "An Azure resource.",
                    "properties": {
                      "id": {
                        "description": "The resource ID.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "name": {
                        "description": "The name of the resource.",
                        "readOnly": true,
                        "type": "string"
                      },
                      "type": {
                        "description": "The type of the resource.",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "x-ms-azure-resource": true
                  }
                ],
                "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
                "properties": {
                  "properties": {
                    "description": "The properties of the suppression.",
                    "properties": {
                      "suppressionId": {
                        "description": "The GUID of the suppression.",
                        "type": "string"
                      },
                      "ttl": {
                        "description": "The duration for which the suppression is valid.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object",
                "_polymorphic_marker": {
                  "allOf": true
                }
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "Suppressions"
        ],
        "x-ms-examples": {
          "ListSuppressions": {
            "parameters": {
              "api-version": "2017-03-31",
              "subscriptionId": "subscriptionId1"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "id": "/resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1",
                    "name": "suppressionName1",
                    "properties": {
                      "suppressionId": "suppressionId1",
                      "ttl": "7.00:00:00"
                    },
                    "type": "Microsoft.Advisor/suppressions"
                  },
                  {
                    "id": "/resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName2",
                    "name": "suppressionName2",
                    "properties": {
                      "suppressionId": "suppressionId2",
                      "ttl": "7.00:00:00"
                    },
                    "type": "Microsoft.Advisor/suppressions"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/orderid/providers/microsoft-advisor/recommendations/id": {
      "get": {
        "deprecated": false,
        "description": "modified get /{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}",
        "operationId": "recommendations-get-v2",
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "type": "string"
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully got recommendation detail.",
            "schema": {
              "allOf": [
                {
                  "description": "An Azure resource.",
                  "properties": {
                    "id": {
                      "description": "The resource ID.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "The type of the resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Advisor Recommendation.",
              "properties": {
                "properties": {
                  "description": "The properties of the recommendation.",
                  "properties": {
                    "category": {
                      "description": "The category of the recommendation.",
                      "enum": [
                        "HighAvailability",
                        "Security",
                        "Performance",
                        "Cost",
                        "OperationalExcellence"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "category"
                      }
                    },
                    "impact": {
                      "description": "The business impact of the recommendation.",
                      "enum": [
                        "High",
                        "Medium",
                        "Low"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "impact"
                      }
                    },
                    "impactedField": {
                      "description": "The resource type identified by Advisor.",
                      "type": "string"
                    },
                    "impactedValue": {
                      "description": "The resource identified by Advisor.",
                      "type": "string"
                    },
                    "lastUpdated": {
                      "description": "The most recent time that Advisor checked the validity of the recommendation.",
                      "format": "date-time",
                      "type": "string"
                    },
                    "metadata": {
                      "additionalProperties": {
                        "type": "object"
                      },
                      "description": "The recommendation metadata.",
                      "type": "object"
                    },
                    "recommendationTypeId": {
                      "description": "The recommendation-type GUID.",
                      "type": "string"
                    },
                    "risk": {
                      "description": "The potential risk of not implementing the recommendation.",
                      "enum": [
                        "Error",
                        "Warning",
                        "None"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "risk"
                      }
                    },
                    "shortDescription": {
                      "description": "A summary of the recommendation.",
                      "properties": {
                        "problem": {
                          "description": "The issue or opportunity identified by the recommendation.",
                          "type": "string"
                        },
                        "solution": {
                          "description": "The remediation action suggested by the recommendation.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "suppressionIds": {
                      "description": "The list of snoozed and dismissed rules for the recommendation.",
                      "items": {
                        "format": "uuid",
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          }
        },
        "tags": [
          "GetRecommendations"
        ],
        "x-ms-examples": {
          "GetRecommendationDetail": {
            "parameters": {
              "api-version": "2017-03-31",
              "recommendationId": "recommendationId",
              "resourceUri": "resourceUri"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId",
                  "name": "recommendationId",
                  "properties": {
                    "category": "HighAvailability",
                    "impact": "Medium",
                    "impactedField": "Microsoft.Compute/availabilitySets",
                    "impactedValue": "armavset",
                    "lastUpdated": "2017-02-24T22:24:43.3216408Z",
                    "risk": "Warning",
                    "shortDescription": {
                      "problem": "This availability set is not configured for fault tolerance",
                      "solution": "To ensure high availability add one or more virtual machines to this availability set"
                    }
                  },
                  "type": "Microsoft.Advisor/recommendations"
                }
              }
            }
          }
        }
      }
    },
    "/sku/providers/microsoft-advisor/recommendations/sku/suppressions/userid": {
      "delete": {
        "deprecated": false,
        "description": "Enables the activation of a snoozed or dismissed recommendation. The snoozed or dismissed attribute of a recommendation is referred to as a suppression.",
        "operationId": "suppressions-delete-v2",
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "type": "string"
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the suppression.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent. The recommendation has been activated."
          }
        },
        "tags": [
          "Suppressions"
        ],
        "x-ms-examples": {
          "DeleteSuppression": {
            "parameters": {
              "api-version": "2017-03-31",
              "name": "suppressionName1",
              "recommendationId": "recommendationId",
              "resourceUri": "resourceUri"
            },
            "responses": {
              "204": {}
            }
          }
        }
      },
      "get": {
        "deprecated": false,
        "description": "Obtains the details of a suppression.",
        "operationId": "suppressions-get",
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "type": "string"
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the suppression.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully got suppression detail.",
            "schema": {
              "allOf": [
                {
                  "description": "An Azure resource.",
                  "properties": {
                    "id": {
                      "description": "The resource ID.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "The type of the resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
              "properties": {
                "properties": {
                  "description": "The properties of the suppression.",
                  "properties": {
                    "suppressionId": {
                      "description": "The GUID of the suppression.",
                      "type": "string"
                    },
                    "ttl": {
                      "description": "The duration for which the suppression is valid.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          }
        },
        "tags": [
          "Suppressions"
        ],
        "x-ms-examples": {
          "GetSuppressionDetail": {
            "parameters": {
              "api-version": "2017-03-31",
              "name": "suppressionName1",
              "recommendationId": "recommendationId",
              "resourceUri": "resourceUri"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1",
                  "name": "suppressionName1",
                  "properties": {
                    "suppressionId": "suppressionId1",
                    "ttl": "7.00:00:00"
                  },
                  "type": "Microsoft.Advisor/suppressions"
                }
              }
            }
          }
        }
      },
      "put": {
        "deprecated": false,
        "description": "Enables the snoozed or dismissed attribute of a recommendation. The snoozed or dismissed attribute is referred to as a suppression. Use this API to create or update the snoozed or dismissed status of a recommendation.",
        "operationId": "suppressions-create-v2",
        "parameters": [
          {
            "description": "The fully qualified Azure Resource Manager identifier of the resource to which the recommendation applies.",
            "in": "path",
            "name": "resourceUri",
            "required": true,
            "type": "string"
          },
          {
            "description": "The recommendation ID.",
            "in": "path",
            "name": "recommendationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the suppression.",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The snoozed or dismissed attribute; for example, the snooze duration.",
            "in": "body",
            "name": "suppressionContract",
            "required": true,
            "schema": {
              "allOf": [
                {
                  "description": "An Azure resource.",
                  "properties": {
                    "id": {
                      "description": "The resource ID.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "The type of the resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
              "properties": {
                "properties": {
                  "description": "The properties of the suppression.",
                  "properties": {
                    "suppressionId": {
                      "description": "The GUID of the suppression.",
                      "type": "string"
                    },
                    "ttl": {
                      "description": "The duration for which the suppression is valid.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          {
            "description": "The version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully created suppression.",
            "schema": {
              "allOf": [
                {
                  "description": "An Azure resource.",
                  "properties": {
                    "id": {
                      "description": "The resource ID.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "The type of the resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
              "properties": {
                "properties": {
                  "description": "The properties of the suppression.",
                  "properties": {
                    "suppressionId": {
                      "description": "The GUID of the suppression.",
                      "type": "string"
                    },
                    "ttl": {
                      "description": "The duration for which the suppression is valid.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          }
        },
        "tags": [
          "Suppressions"
        ],
        "x-ms-examples": {
          "CreateSuppression": {
            "parameters": {
              "api-version": "2017-03-31",
              "name": "suppressionName1",
              "recommendationId": "recommendationId",
              "resourceUri": "resourceUri",
              "suppressionContract": {
                "properties": {
                  "ttl": "07:00:00:00"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/resourceUri/providers/Microsoft.Advisor/recommendations/recommendationId/suppressions/suppressionName1",
                  "name": "suppressionName1",
                  "properties": {
                    "suppressionId": "suppresionId",
                    "ttl": "07:00:00:00"
                  },
                  "type": "Microsoft.Advisor/suppressions"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationDisplayInfo": {
      "description": "The operation supported by Advisor.",
      "properties": {
        "description": {
          "description": "The description of the operation.",
          "type": "string"
        },
        "operation": {
          "description": "The action that users can perform, based on their permission level.",
          "type": "string"
        },
        "provider": {
          "description": "Service provider: Microsoft Advisor.",
          "type": "string"
        },
        "resource": {
          "description": "Resource on which the operation is performed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationEntity": {
      "description": "The operation supported by Advisor.",
      "properties": {
        "display": {
          "description": "The operation supported by Advisor.",
          "properties": {
            "description": {
              "description": "The description of the operation.",
              "type": "string"
            },
            "operation": {
              "description": "The action that users can perform, based on their permission level.",
              "type": "string"
            },
            "provider": {
              "description": "Service provider: Microsoft Advisor.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationEntityListResult": {
      "description": "The list of Advisor operations.",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "The list of operations.",
          "items": {
            "description": "The operation supported by Advisor.",
            "properties": {
              "display": {
                "description": "The operation supported by Advisor.",
                "properties": {
                  "description": {
                    "description": "The description of the operation.",
                    "type": "string"
                  },
                  "operation": {
                    "description": "The action that users can perform, based on their permission level.",
                    "type": "string"
                  },
                  "provider": {
                    "description": "Service provider: Microsoft Advisor.",
                    "type": "string"
                  },
                  "resource": {
                    "description": "Resource on which the operation is performed.",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "name": {
                "description": "Operation name: {provider}/{resource}/{operation}.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RecommendationProperties": {
      "description": "The properties of the recommendation.",
      "properties": {
        "category": {
          "description": "The category of the recommendation.",
          "enum": [
            "HighAvailability",
            "Security",
            "Performance",
            "Cost",
            "OperationalExcellence"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "category"
          }
        },
        "impact": {
          "description": "The business impact of the recommendation.",
          "enum": [
            "High",
            "Medium",
            "Low"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "impact"
          }
        },
        "impactedField": {
          "description": "The resource type identified by Advisor.",
          "type": "string"
        },
        "impactedValue": {
          "description": "The resource identified by Advisor.",
          "type": "string"
        },
        "lastUpdated": {
          "description": "The most recent time that Advisor checked the validity of the recommendation.",
          "format": "date-time",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "object"
          },
          "description": "The recommendation metadata.",
          "type": "object"
        },
        "recommendationTypeId": {
          "description": "The recommendation-type GUID.",
          "type": "string"
        },
        "risk": {
          "description": "The potential risk of not implementing the recommendation.",
          "enum": [
            "Error",
            "Warning",
            "None"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "risk"
          }
        },
        "shortDescription": {
          "description": "A summary of the recommendation.",
          "properties": {
            "problem": {
              "description": "The issue or opportunity identified by the recommendation.",
              "type": "string"
            },
            "solution": {
              "description": "The remediation action suggested by the recommendation.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "suppressionIds": {
          "description": "The list of snoozed and dismissed rules for the recommendation.",
          "items": {
            "format": "uuid",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "The type of the resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "ResourceRecommendationBase": {
      "allOf": [
        {
          "description": "An Azure resource.",
          "properties": {
            "id": {
              "description": "The resource ID.",
              "readOnly": true,
              "type": "string"
            },
            "name": {
              "description": "The name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "type": {
              "description": "The type of the resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "x-ms-azure-resource": true
        }
      ],
      "description": "Advisor Recommendation.",
      "properties": {
        "properties": {
          "description": "The properties of the recommendation.",
          "properties": {
            "category": {
              "description": "The category of the recommendation.",
              "enum": [
                "HighAvailability",
                "Security",
                "Performance",
                "Cost",
                "OperationalExcellence"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "category"
              }
            },
            "impact": {
              "description": "The business impact of the recommendation.",
              "enum": [
                "High",
                "Medium",
                "Low"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "impact"
              }
            },
            "impactedField": {
              "description": "The resource type identified by Advisor.",
              "type": "string"
            },
            "impactedValue": {
              "description": "The resource identified by Advisor.",
              "type": "string"
            },
            "lastUpdated": {
              "description": "The most recent time that Advisor checked the validity of the recommendation.",
              "format": "date-time",
              "type": "string"
            },
            "metadata": {
              "additionalProperties": {
                "type": "object"
              },
              "description": "The recommendation metadata.",
              "type": "object"
            },
            "recommendationTypeId": {
              "description": "The recommendation-type GUID.",
              "type": "string"
            },
            "risk": {
              "description": "The potential risk of not implementing the recommendation.",
              "enum": [
                "Error",
                "Warning",
                "None"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "risk"
              }
            },
            "shortDescription": {
              "description": "A summary of the recommendation.",
              "properties": {
                "problem": {
                  "description": "The issue or opportunity identified by the recommendation.",
                  "type": "string"
                },
                "solution": {
                  "description": "The remediation action suggested by the recommendation.",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "suppressionIds": {
              "description": "The list of snoozed and dismissed rules for the recommendation.",
              "items": {
                "format": "uuid",
                "type": "string"
              },
              "type": "array"
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "_polymorphic_marker": {
        "allOf": true
      }
    },
    "ResourceRecommendationBaseListResult": {
      "description": "The list of Advisor recommendations.",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of recommendations.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "items": {
            "allOf": [
              {
                "description": "An Azure resource.",
                "properties": {
                  "id": {
                    "description": "The resource ID.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the resource.",
                    "readOnly": true,
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of the resource.",
                    "readOnly": true,
                    "type": "string"
                  }
                },
                "x-ms-azure-resource": true
              }
            ],
            "description": "Advisor Recommendation.",
            "properties": {
              "properties": {
                "description": "The properties of the recommendation.",
                "properties": {
                  "category": {
                    "description": "The category of the recommendation.",
                    "enum": [
                      "HighAvailability",
                      "Security",
                      "Performance",
                      "Cost",
                      "OperationalExcellence"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "category"
                    }
                  },
                  "impact": {
                    "description": "The business impact of the recommendation.",
                    "enum": [
                      "High",
                      "Medium",
                      "Low"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "impact"
                    }
                  },
                  "impactedField": {
                    "description": "The resource type identified by Advisor.",
                    "type": "string"
                  },
                  "impactedValue": {
                    "description": "The resource identified by Advisor.",
                    "type": "string"
                  },
                  "lastUpdated": {
                    "description": "The most recent time that Advisor checked the validity of the recommendation.",
                    "format": "date-time",
                    "type": "string"
                  },
                  "metadata": {
                    "additionalProperties": {
                      "type": "object"
                    },
                    "description": "The recommendation metadata.",
                    "type": "object"
                  },
                  "recommendationTypeId": {
                    "description": "The recommendation-type GUID.",
                    "type": "string"
                  },
                  "risk": {
                    "description": "The potential risk of not implementing the recommendation.",
                    "enum": [
                      "Error",
                      "Warning",
                      "None"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "risk"
                    }
                  },
                  "shortDescription": {
                    "description": "A summary of the recommendation.",
                    "properties": {
                      "problem": {
                        "description": "The issue or opportunity identified by the recommendation.",
                        "type": "string"
                      },
                      "solution": {
                        "description": "The remediation action suggested by the recommendation.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "suppressionIds": {
                    "description": "The list of snoozed and dismissed rules for the recommendation.",
                    "items": {
                      "format": "uuid",
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            },
            "type": "object",
            "_polymorphic_marker": {
              "allOf": true
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ShortDescription": {
      "description": "A summary of the recommendation.",
      "properties": {
        "problem": {
          "description": "The issue or opportunity identified by the recommendation.",
          "type": "string"
        },
        "solution": {
          "description": "The remediation action suggested by the recommendation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuppressionContract": {
      "allOf": [
        {
          "description": "An Azure resource.",
          "properties": {
            "id": {
              "description": "The resource ID.",
              "readOnly": true,
              "type": "string"
            },
            "name": {
              "description": "The name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "type": {
              "description": "The type of the resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "x-ms-azure-resource": true
        }
      ],
      "description": "The details of the snoozed or dismissed rule; for example, the duration, name, and GUID associated with the rule.",
      "properties": {
        "properties": {
          "description": "The properties of the suppression.",
          "properties": {
            "suppressionId": {
              "description": "The GUID of the suppression.",
              "type": "string"
            },
            "ttl": {
              "description": "The duration for which the suppression is valid.",
              "type": "string"
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "_polymorphic_marker": {
        "allOf": true
      }
    },
    "SuppressionProperties": {
      "description": "The properties of the suppression.",
      "properties": {
        "suppressionId": {
          "description": "The GUID of the suppression.",
          "type": "string"
        },
        "ttl": {
          "description": "The duration for which the suppression is valid.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}