{
  "openapi": "3.0.0",
  "info": {
    "version": "2013-04-15",
    "x-release": "v4",
    "title": "AWS Support",
    "description": "<fullname>Amazon Web Services Support</fullname> <p>The <i>Amazon Web Services Support API Reference</i> is intended for programmers who need detailed information about the Amazon Web Services Support operations and data types. You can use the API to manage your support cases programmatically. The Amazon Web Services Support API uses HTTP methods that return results in JSON format.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>You can also use the Amazon Web Services Support API to access features for <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted Advisor</a>. You can return a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks.</p> <p>You can manage your support cases with the following Amazon Web Services Support API operations:</p> <ul> <li> <p>The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create Amazon Web Services Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p>The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to Amazon Web Services Support cases.</p> </li> <li> <p>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return Amazon Web Service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation.</p> </li> </ul> <p>You can also use the Amazon Web Services Support API to call the Trusted Advisor operations. For more information, see <a href=\"https://docs.aws.amazon.com/\">Trusted Advisor</a> in the <i>Amazon Web Services Support User Guide</i>.</p> <p>For authentication of requests, Amazon Web Services Support uses <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>For more information about this service and the endpoints to use, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html\">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "support",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/support-2013-04-15.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/support/"
  },
  "servers": [
    {
      "url": "https://support.us-east-1.amazonaws.com",
      "variables": {},
      "description": "The general AWS Support multi-region endpoint"
    },
    {
      "url": "http://support.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWS Support endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://support.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWS Support endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/products/{id}": {
      "post": {
        "operationId": "describesupportedlanguages-v2",
        "description": "<p>Returns a list of supported languages for a specified <code>categoryCode</code>, <code>issueType</code> and <code>serviceCode</code>. The returned supported languages will include a ISO 639-1 code for the <code>language</code>, and the language display name.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "supportedLanguages": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": " 2 digit ISO 639-1 code. e.g. <code>en</code> "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "language": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": " Full language description e.g. <code>ENGLISH</code> "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "display": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": " Language display value e.g. <code>ENGLISH</code> "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": " A JSON-formatted object that contains the available ISO 639-1 language <code>code</code>, <code>language</code> name and langauge <code>display</code> value. The language code is what should be used in the <a>CreateCase</a> call. "
                          },
                          "minItems": 0,
                          "maxItems": 100
                        },
                        {
                          "description": " A JSON-formatted array that contains the available ISO 639-1 language codes. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "issueType",
                  "serviceCode",
                  "categoryCode"
                ],
                "title": "DescribeSupportedLanguagesRequest",
                "properties": {
                  "issueType": {
                    "allOf": [
                      {
                        "type": "string",
                        "minLength": 9,
                        "maxLength": 22
                      },
                      {
                        "description": "The type of issue for the case. You can specify <code>customer-service</code> or <code>technical</code>."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "serviceCode": {
                    "allOf": [
                      {
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 100
                      },
                      {
                        "description": "The code for the Amazon Web Services service. You can use the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code> values."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "categoryCode": {
                    "allOf": [
                      {
                        "type": "string",
                        "minLength": 0,
                        "maxLength": 100
                      },
                      {
                        "description": "The category of problem for the support case. You also use the <a>DescribeServices</a> operation to get the category code for a service. Each Amazon Web Services service defines its own set of category codes."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSSupport_20130415.DescribeSupportedLanguages"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/shipments/{id}": {
      "post": {
        "operationId": "resolvecase-v2",
        "description": "<p>Resolves a support case. This operation takes a <code>caseId</code> and returns the initial and final state of the case.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "initialCaseStatus": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The status of the case when the <a>ResolveCase</a> request was sent."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "finalCaseStatus": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The status of the case after the <a>ResolveCase</a> request was processed."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "The status of the case returned by the <a>ResolveCase</a> operation."
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "CaseIdNotFound",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "ResolveCaseRequest",
                "properties": {
                  "caseId": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSSupport_20130415.ResolveCase"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/profiles/{id}": {
      "post": {
        "operationId": "createcase-v2",
        "description": "<p>Creates a case in the Amazon Web Services Support Center. This operation is similar to how you create a case in the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> <p>The Amazon Web Services Support API doesn't support requesting service limit increases. You can submit a service limit increase in the following ways: </p> <ul> <li> <p>Submit a request from the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p>Use the Service Quotas <a href=\"https://docs.aws.amazon.com/servicequotas/2019-06-24/apireference/API_RequestServiceQuotaIncrease.html\">RequestServiceQuotaIncrease</a> operation.</p> </li> </ul> <p>A successful <code>CreateCase</code> request returns an Amazon Web Services Support case number. You can use the <a>DescribeCases</a> operation and specify the case number to get existing Amazon Web Services Support cases. After you create a case, use the <a>AddCommunicationToCase</a> operation to add additional communication or attachments to an existing case.</p> <p>The <code>caseId</code> is separate from the <code>displayId</code> that appears in the <a href=\"https://console.aws.amazon.com/support\">Amazon Web Services Support Center</a>. Use the <a>DescribeCases</a> operation to get the <code>displayId</code>.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "caseId": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "The support case ID requested or returned in the call. The case ID is an alphanumeric string in the following format: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "The support case ID returned by a successful completion of the <a>CreateCase</a> operation."
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "CaseCreationLimitExceeded",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "482": {
            "description": "AttachmentSetIdNotFound",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "483": {
            "description": "AttachmentSetExpired",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "subject",
                  "communicationBody"
                ],
                "title": "CreateCaseRequest",
                "properties": {
                  "subject": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The title of the support case. The title appears in the <b>Subject</b> field on the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "serviceCode": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The code for the Amazon Web Services service. You can use the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code> values."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "severityCode": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "<p>A value that indicates the urgency of the case. This value determines the response time according to your service level agreement with Amazon Web Services Support. You can use the <a>DescribeSeverityLevels</a> operation to get the possible values for <code>severityCode</code>. </p> <p>For more information, see <a>SeverityLevel</a> and <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity\">Choosing a Severity</a> in the <i>Amazon Web Services Support User Guide</i>.</p> <note> <p>The availability of severity levels depends on the support plan for the Amazon Web Services account.</p> </note>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "categoryCode": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The category of problem for the support case. You also use the <a>DescribeServices</a> operation to get the category code for a service. Each Amazon Web Services service defines its own set of category codes."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "communicationBody": {
                    "allOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 8000
                      },
                      {
                        "description": "The communication body text that describes the issue. This text appears in the <b>Description</b> field on the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "ccEmailAddresses": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 0,
                        "maxItems": 10
                      },
                      {
                        "description": "A list of email addresses that Amazon Web Services Support copies on case correspondence. Amazon Web Services Support identifies the account that creates the case when you specify your Amazon Web Services credentials in an HTTP POST method or use the <a href=\"http://aws.amazon.com/tools/\">Amazon Web Services SDKs</a>. "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "language": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports Chinese (“zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "issueType": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The type of issue for the case. You can specify <code>customer-service</code> or <code>technical</code>. If you don't specify a value, the default is <code>technical</code>."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "attachmentSetId": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The ID of a set of one or more attachments for the case. Create the set by using the <a>AddAttachmentsToSet</a> operation."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSSupport_20130415.CreateCase"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/payments/{id}": {
      "post": {
        "operationId": "describetrustedadvisorcheckresult-v2",
        "description": "<p>Returns the results of the Trusted Advisor check that has the specified check ID. You can get the check IDs by calling the <a>DescribeTrustedAdvisorChecks</a> operation.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status</b> - The alert status of the check can be <code>ok</code> (green), <code>warning</code> (yellow), <code>error</code> (red), or <code>not_available</code>.</p> </li> <li> <p> <b>timestamp</b> - The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId</b> - The unique identifier for the check.</p> </li> </ul> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted Advisor operations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "allOf": [
                        {
                          "type": "object",
                          "required": [
                            "checkId",
                            "timestamp",
                            "status",
                            "resourcesSummary",
                            "categorySpecificSummary",
                            "flaggedResources"
                          ],
                          "properties": {
                            "checkId": {
                              "allOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "description": "The unique identifier for the Trusted Advisor check."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "timestamp": {
                              "allOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "description": "The time of the last refresh of the check."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "status": {
                              "allOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "description": "The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\"."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "resourcesSummary": {
                              "type": "object",
                              "required": [
                                "resourcesProcessed",
                                "resourcesFlagged",
                                "resourcesIgnored",
                                "resourcesSuppressed"
                              ],
                              "properties": {
                                "resourcesProcessed": {
                                  "allOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "description": "The number of Amazon Web Services resources that were analyzed by the Trusted Advisor check."
                                    }
                                  ],
                                  "_polymorphic_marker": {
                                    "allOf": true
                                  }
                                },
                                "resourcesFlagged": {
                                  "allOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "description": "The number of Amazon Web Services resources that were flagged (listed) by the Trusted Advisor check."
                                    }
                                  ],
                                  "_polymorphic_marker": {
                                    "allOf": true
                                  }
                                },
                                "resourcesIgnored": {
                                  "allOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "description": "The number of Amazon Web Services resources ignored by Trusted Advisor because information was unavailable."
                                    }
                                  ],
                                  "_polymorphic_marker": {
                                    "allOf": true
                                  }
                                },
                                "resourcesSuppressed": {
                                  "allOf": [
                                    {
                                      "type": "integer"
                                    },
                                    {
                                      "description": "The number of Amazon Web Services resources ignored by Trusted Advisor because they were marked as suppressed by the user."
                                    }
                                  ],
                                  "_polymorphic_marker": {
                                    "allOf": true
                                  }
                                }
                              },
                              "description": "Details about Amazon Web Services resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>."
                            },
                            "categorySpecificSummary": {
                              "allOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "costOptimizing": {
                                      "allOf": [
                                        {
                                          "type": "object",
                                          "required": [
                                            "estimatedMonthlySavings",
                                            "estimatedPercentMonthlySavings"
                                          ],
                                          "properties": {
                                            "estimatedMonthlySavings": {
                                              "allOf": [
                                                {
                                                  "type": "number",
                                                  "format": "double"
                                                },
                                                {
                                                  "description": "The estimated monthly savings that might be realized if the recommended operations are taken."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            },
                                            "estimatedPercentMonthlySavings": {
                                              "allOf": [
                                                {
                                                  "type": "number",
                                                  "format": "double"
                                                },
                                                {
                                                  "description": "The estimated percentage of savings that might be realized if the recommended operations are taken."
                                                }
                                              ],
                                              "_polymorphic_marker": {
                                                "allOf": true
                                              }
                                            }
                                          },
                                          "description": "The estimated cost savings that might be realized if the recommended operations are taken."
                                        },
                                        {
                                          "description": "The summary information about cost savings for a Trusted Advisor check that is in the Cost Optimizing category."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "The container for summary information that relates to the category of the Trusted Advisor check."
                                },
                                {
                                  "description": "Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            },
                            "flaggedResources": {
                              "allOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "status",
                                      "resourceId",
                                      "metadata"
                                    ],
                                    "properties": {
                                      "status": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The status code for the resource identified in the Trusted Advisor check."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "region": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The Amazon Web Services Region in which the identified resource is located."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "resourceId": {
                                        "allOf": [
                                          {
                                            "type": "string"
                                          },
                                          {
                                            "description": "The unique identifier for the identified resource."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "isSuppressed": {
                                        "allOf": [
                                          {
                                            "type": "boolean"
                                          },
                                          {
                                            "description": "Specifies whether the Amazon Web Services resource was ignored by Trusted Advisor because it was marked as suppressed by the user."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      },
                                      "metadata": {
                                        "allOf": [
                                          {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          {
                                            "description": "Additional information about the identified resource. The exact metadata and its order can be obtained by inspecting the <a>TrustedAdvisorCheckDescription</a> object returned by the call to <a>DescribeTrustedAdvisorChecks</a>. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data."
                                          }
                                        ],
                                        "_polymorphic_marker": {
                                          "allOf": true
                                        }
                                      }
                                    },
                                    "description": "Contains information about a resource identified by a Trusted Advisor check."
                                  }
                                },
                                {
                                  "description": "The details about each resource listed in the check result."
                                }
                              ],
                              "_polymorphic_marker": {
                                "allOf": true
                              }
                            }
                          },
                          "description": "The results of a Trusted Advisor check returned by <a>DescribeTrustedAdvisorCheckResult</a>."
                        },
                        {
                          "description": "The detailed results of the Trusted Advisor check."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation."
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "checkId"
                ],
                "title": "DescribeTrustedAdvisorCheckResultRequest",
                "properties": {
                  "checkId": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The unique identifier for the Trusted Advisor check."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "language": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "<p>The ISO 639-1 code for the language that you want your check results to appear in.</p> <p>The Amazon Web Services Support API currently supports the following languages for Trusted Advisor:</p> <ul> <li> <p>Chinese, Simplified - <code>zh</code> </p> </li> <li> <p>Chinese, Traditional - <code>zh_TW</code> </p> </li> <li> <p>English - <code>en</code> </p> </li> <li> <p>French - <code>fr</code> </p> </li> <li> <p>German - <code>de</code> </p> </li> <li> <p>Indonesian - <code>id</code> </p> </li> <li> <p>Italian - <code>it</code> </p> </li> <li> <p>Japanese - <code>ja</code> </p> </li> <li> <p>Korean - <code>ko</code> </p> </li> <li> <p>Portuguese, Brazilian - <code>pt_BR</code> </p> </li> <li> <p>Spanish - <code>es</code> </p> </li> </ul>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                },
                "description": "<p/>"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSSupport_20130415.DescribeTrustedAdvisorCheckResult"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/billing/{id}": {
      "post": {
        "operationId": "describecommunications-v2",
        "description": "<p>Returns communications and attachments for one or more support cases. Use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a specific case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the results. Set <code>maxResults</code> to the number of cases that you want to display on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "communications": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "caseId": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "body": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 8000
                                  },
                                  {
                                    "description": "The text of the communication between the customer and Amazon Web Services Support."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "submittedBy": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The identity of the account that submitted, or responded to, the support case. Customer entries include the IAM role as well as the email address (for example, \"AdminRole (Role) &lt;janedoe@example.com&gt;). Entries from the Amazon Web Services Support team display \"Amazon Web Services,\" and don't show an email address. "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "timeCreated": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The time the communication was created."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "attachmentSet": {
                                "allOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "attachmentId": {
                                          "allOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "description": "The ID of the attachment."
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        },
                                        "fileName": {
                                          "allOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "description": "The file name of the attachment."
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        }
                                      },
                                      "description": "The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation."
                                    }
                                  },
                                  {
                                    "description": "Information about the attachments to the case communication."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "A communication associated with a support case. The communication consists of the case ID, the message body, attachment information, the submitter of the communication, and the date and time of the communication."
                          }
                        },
                        {
                          "description": "The communications for the case."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "A resumption point for pagination."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "The communications returned by the <a>DescribeCommunications</a> operation."
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "CaseIdNotFound",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "caseId"
                ],
                "title": "DescribeCommunicationsRequest",
                "properties": {
                  "caseId": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> "
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "beforeTime": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "afterTime": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "nextToken": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "A resumption point for pagination."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "maxResults": {
                    "allOf": [
                      {
                        "type": "integer",
                        "minimum": 10,
                        "maximum": 100
                      },
                      {
                        "description": "The maximum number of results to return before paginating."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          },
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSSupport_20130415.DescribeCommunications"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/users/{id}": {
      "post": {
        "operationId": "describecreatecaseoptions",
        "description": "<p>Returns a list of CreateCaseOption types along with the corresponding supported hours and language availability. You can specify the <code>language</code> <code>categoryCode</code>, <code>issueType</code> and <code>serviceCode</code> used to retrieve the CreateCaseOptions.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "languageAvailability": {
                      "allOf": [
                        {
                          "type": "string",
                          "minLength": 0,
                          "maxLength": 100
                        },
                        {
                          "description": "<p>Language availability can be any of the following:</p> <ul> <li> <p> available </p> </li> <li> <p> best_effort </p> </li> <li> <p> unavailable </p> </li> </ul>"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "communicationTypes": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": " A string value indicating the communication type. At the moment the type value can assume one of 3 values at the moment chat, web and call. "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "supportedHours": {
                                "allOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "startTime": {
                                          "allOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "description": " Start Time. RFC 3339 format <code>'HH:mm:ss.SSS'</code>. "
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        },
                                        "endTime": {
                                          "allOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "description": " End Time. RFC 3339 format <code>'HH:mm:ss.SSS'</code>. "
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        }
                                      },
                                      "description": "Time range object with <code>startTime</code> and <code>endTime</code> range in RFC 3339 format. <code>'HH:mm:ss.SSS'</code>."
                                    }
                                  },
                                  {
                                    "description": " A JSON-formatted list containing time ranges when support is available. "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "datesWithoutSupport": {
                                "allOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "startDateTime": {
                                          "allOf": [
                                            {
                                              "type": "string",
                                              "minLength": 8,
                                              "maxLength": 30
                                            },
                                            {
                                              "description": " A JSON object containing start and date time (UTC). Date and time format is RFC 3339 : 'yyyy-MM-dd'T'HH:mm:ss.SSSZZ'. "
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        },
                                        "endDateTime": {
                                          "allOf": [
                                            {
                                              "type": "string",
                                              "minLength": 8,
                                              "maxLength": 30
                                            },
                                            {
                                              "description": " End Date Time (UTC). RFC 3339 format : 'yyyy-MM-dd'T'HH:mm:ss.SSSZZ'. "
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        }
                                      },
                                      "description": "Date and time (UTC) format in RFC 3339 : 'yyyy-MM-dd'T'HH:mm:ss.SSSZZ'."
                                    }
                                  },
                                  {
                                    "description": " A JSON-formatted list containing date and time ranges for periods without support "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "<p>A JSON-formatted object that contains the CommunicationTypeOptions for creating a case for a certain communication channel. It is contained in the response from a <a>DescribeCreateCaseOptions</a> request. <b>CommunicationTypeOptions</b> contains the following fields:</p> <ul> <li> <p> <b>datesWithoutSupport</b> - A JSON-formatted list containing date and time ranges for periods without support in UTC time. Date and time format is RFC 3339 : 'yyyy-MM-dd'T'HH:mm:ss.SSSZZ'. </p> </li> <li> <p> <b>supportedHours</b> - A JSON-formatted list containing time ranges when support are available. Time format is RFC 3339 : 'HH:mm:ss.SSS'. </p> </li> <li> <p> <b>type</b> - A string value indicating the communication type that the aforementioned rules apply to. At the moment the type value can assume one of 3 values at the moment <code>chat</code>, <code>web</code> and <code>call</code>. </p> </li> </ul>"
                          },
                          "minItems": 1,
                          "maxItems": 100
                        },
                        {
                          "description": " A JSON-formatted array that contains the available communication type options, along with the available support timeframes for the given inputs. "
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "issueType",
                  "serviceCode",
                  "language",
                  "categoryCode"
                ],
                "title": "DescribeCreateCaseOptionsRequest",
                "properties": {
                  "issueType": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The type of issue for the case. You can specify <code>customer-service</code> or <code>technical</code>. If you don't specify a value, the default is <code>technical</code>."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "serviceCode": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The code for the Amazon Web Services service. You can use the <a>DescribeServices</a> operation to get the possible <code>serviceCode</code> values."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "language": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports Chinese (“zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "categoryCode": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The category of problem for the support case. You also use the <a>DescribeServices</a> operation to get the category code for a service. Each Amazon Web Services service defines its own set of category codes."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSSupport_20130415.DescribeCreateCaseOptions"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/reviews/{id}": {
      "post": {
        "operationId": "describeservices",
        "description": "<p>Returns the current list of Amazon Web Services services and a list of service categories for each service. You then use service names and categories in your <a>CreateCase</a> requests. Each Amazon Web Services service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that appear in the <b>Service</b> and <b>Category</b> lists on the Amazon Web Services Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields don't necessarily match the service codes and categories returned by the <code>DescribeServices</code> operation. Always use the service codes and categories that the <code>DescribeServices</code> operation returns, so that you have the most recent set of service and category codes.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> </ul> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "services": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The code for an Amazon Web Services service returned by the <a>DescribeServices</a> response. The <code>name</code> element contains the corresponding friendly name."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "name": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The friendly name for an Amazon Web Services service. The <code>code</code> element contains the corresponding code."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "categories": {
                                "allOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "code": {
                                          "allOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "description": "The category code for the support case."
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        },
                                        "name": {
                                          "allOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "description": "The category name for the support case."
                                            }
                                          ],
                                          "_polymorphic_marker": {
                                            "allOf": true
                                          }
                                        }
                                      },
                                      "description": "A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each Amazon Web Services service."
                                    }
                                  },
                                  {
                                    "description": "A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to Amazon Web Services Support when you call <a>CreateCase</a>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "Information about an Amazon Web Services service returned by the <a>DescribeServices</a> operation."
                          }
                        },
                        {
                          "description": "A JSON-formatted list of Amazon Web Services services."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "The list of Amazon Web Services services returned by the <a>DescribeServices</a> operation."
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "DescribeServicesRequest",
                "properties": {
                  "serviceCodeList": {
                    "allOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "minItems": 0,
                        "maxItems": 100
                      },
                      {
                        "description": "A JSON-formatted list of service codes available for Amazon Web Services services."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "language": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
                        "description": "The language in which Amazon Web Services Support handles the case. Amazon Web Services Support currently supports Chinese (“zh”), English (\"en\"), Japanese (\"ja\") and Korean (“ko”). You must specify the ISO 639-1 code for the <code>language</code> parameter if you want support in that language."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSSupport_20130415.DescribeServices"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/transactions/{id}": {
      "post": {
        "operationId": "describetrustedadvisorchecks",
        "description": "<p>Returns information about all available Trusted Advisor checks, including the name, ID, category, description, and metadata. You must specify a language code.</p> <p>The response contains a <a>TrustedAdvisorCheckDescription</a> object for each check. You must set the Amazon Web Services Region to us-east-1.</p> <note> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan to use the Amazon Web Services Support API. </p> </li> <li> <p>If you call the Amazon Web Services Support API from an account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, the <code>SubscriptionRequiredException</code> error message appears. For information about changing your support plan, see <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a>.</p> </li> <li> <p>The names and descriptions for Trusted Advisor checks are subject to change. We recommend that you specify the check ID in your code to uniquely identify a check.</p> </li> </ul> </note> <p>To call the Trusted Advisor operations in the Amazon Web Services Support API, you must use the US East (N. Virginia) endpoint. Currently, the US West (Oregon) and Europe (Ireland) endpoints don't support the Trusted Advisor operations. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/about-support-api.html#endpoint\">About the Amazon Web Services Support API</a> in the <i>Amazon Web Services Support User Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "checks"
                  ],
                  "properties": {
                    "checks": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "id",
                              "name",
                              "description",
                              "category",
                              "metadata"
                            ],
                            "properties": {
                              "id": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The unique identifier for the Trusted Advisor check."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "name": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The display name for the Trusted Advisor check."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "description": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The description of the Trusted Advisor check, which includes the alert criteria and recommended operations (contains HTML markup)."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "category": {
                                "allOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "description": "The category of the Trusted Advisor check."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "metadata": {
                                "allOf": [
                                  {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  {
                                    "description": "The column headings for the data returned by the Trusted Advisor check. The order of the headings corresponds to the order of the data in the <b>Metadata</b> element of the <a>TrustedAdvisorResourceDetail</a> for the check. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. "
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "The description and metadata for a Trusted Advisor check."
                          }
                        },
                        {
                          "description": "Information about all available Trusted Advisor checks."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  },
                  "description": "Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation."
                }
              }
            }
          },
          "480": {
            "description": "InternalServerError",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "ThrottlingException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "language"
                ],
                "title": "DescribeTrustedAdvisorChecksRequest",
                "properties": {
                  "language": {
                    "allOf": [
                      {
                        "type": "string"
                      },
                      {
[...]
