{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://app.apacta.com/api/v1"
    }
  ],
  "info": {
    "description": "API for a tool to craftsmen used to register working hours, material usage and quality assurance.\n# Endpoint\nThe endpoint `https://app.apacta.com/api/v1` should be used to communicate with the API. API access is only allowed with SSL encrypted connection (https).\n# Authentication\nURL query authentication with an API key is used, so appending `?api_key={api_key}` to the URL where `{api_key}` is found within Apacta settings is used for authentication\n# Pagination\nIf the endpoint returns a `pagination` object it means the endpoint supports pagination - currently it's only possible to change pages with `?page={page_number}` but implementing custom page sizes are on the road map.\n\n\n# Search/filter\nIs experimental but implemented in some cases - see the individual endpoints' docs for further explanation.\n# Ordering\nIs currently experimental, but on some endpoints it's implemented on URL querys so eg. to order Invoices by `invoice_number` appending `?sort=Invoices.invoice_number&direction=desc` would sort the list descending by the value of `invoice_number`.\n# Associations\nIs currently implemented on an experimental basis where you can append eg. `?include=Contacts,Projects`  to the `/api/v1/invoices/` endpoint to embed `Contact` and `Project` objects directly.\n# Project Files\nCurrently project files can be retrieved from two endpoints. `/projects/{project_id}/files` handles files uploaded from wall posts or forms. `/projects/{project_id}/project_files` allows uploading and showing files, not belonging to specific form or wall post.\n# Errors/Exceptions\n## 422 (Validation)\nWrite something about how the `errors` object contains keys with the properties that failes validation like:\n```\n  {\n      \"success\": false,\n      \"data\": {\n          \"code\": 422,\n          \"url\": \"/api/v1/contacts?api_key=5523be3b-30ef-425d-8203-04df7caaa93a\",\n          \"message\": \"A validation error occurred\",\n          \"errorCount\": 1,\n          \"errors\": {\n              \"contact_types\": [ ## Property name that failed validation\n                  \"Contacts must have at least one contact type\" ## Message with further explanation\n              ]\n          }\n      }\n  }\n```\n## Code examples\nRunning examples of how to retrieve the 5 most recent forms registered and embed the details of the User that made the form, and eventual products contained in the form\n### Swift\n```\n```\n### Java\n#### OkHttp\n```\n  OkHttpClient client = new OkHttpClient();\n\n  Request request = new Request.Builder()\n    .url(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\")\n    .get()\n    .addHeader(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\")\n    .addHeader(\"accept\", \"application/json\")\n    .build();\n\n  Response response = client.newCall(request).execute();\n```\n#### Unirest\n```\n  HttpResponse<String> response = Unirest.get(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\")\n    .header(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\")\n    .header(\"accept\", \"application/json\")\n    .asString();\n```\n### Javascript\n#### Native\n```\n  var data = null;\n\n  var xhr = new XMLHttpRequest();\n\n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n\n  xhr.open(\"GET\", \"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\");\n  xhr.setRequestHeader(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\");\n  xhr.setRequestHeader(\"accept\", \"application/json\");\n\n  xhr.send(data);\n```\n#### jQuery\n```\n  var settings = {\n    \"async\": true,\n    \"crossDomain\": true,\n    \"url\": \"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\",\n    \"method\": \"GET\",\n    \"headers\": {\n      \"x-auth-token\": \"{INSERT_YOUR_TOKEN}\",\n      \"accept\": \"application/json\",\n    }\n  }\n\n  $.ajax(settings).done(function (response) {\n    console.log(response);\n  });\n```\n#### NodeJS (Request)\n```\n  var request = require(\"request\");\n\n  var options = { method: 'GET',\n    url: 'https://app.apacta.com/api/v1/forms',\n    qs:\n     { extended: 'true',\n       sort: 'Forms.created',\n       direction: 'DESC',\n       include: 'Products,CreatedBy',\n       limit: '5' },\n    headers:\n     { accept: 'application/json',\n       'x-auth-token': '{INSERT_YOUR_TOKEN}' } };\n\n  request(options, function (error, response, body) {\n    if (error) throw new Error(error);\n\n    console.log(body);\n  });\n\n```\n### Python 3\n```\n  import http.client\n\n  conn = http.client.HTTPSConnection(\"app.apacta.com\")\n\n  payload = \"\"\n\n  headers = {\n      'x-auth-token': \"{INSERT_YOUR_TOKEN}\",\n      'accept': \"application/json\",\n      }\n\n  conn.request(\"GET\", \"/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\", payload, headers)\n\n  res = conn.getresponse()\n  data = res.read()\n\n  print(data.decode(\"utf-8\"))\n```\n### C#\n#### RestSharp\n```\n  var client = new RestClient(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\");\n  var request = new RestRequest(Method.GET);\n  request.AddHeader(\"accept\", \"application/json\");\n  request.AddHeader(\"x-auth-token\", \"{INSERT_YOUR_TOKEN}\");\n  IRestResponse response = client.Execute(request);\n```\n### Ruby\n```\n  require 'uri'\n  require 'net/http'\n\n  url = URI(\"https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5\")\n\n  http = Net::HTTP.new(url.host, url.port)\n  http.use_ssl = true\n  http.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\n  request = Net::HTTP::Get.new(url)\n  request[\"x-auth-token\"] = '{INSERT_YOUR_TOKEN}'\n  request[\"accept\"] = 'application/json'\n\n  response = http.request(request)\n  puts response.read_body\n```\n### PHP (HttpRequest)\n```\n  <?php\n\n  $request = new HttpRequest();\n  $request->setUrl('https://app.apacta.com/api/v1/forms');\n  $request->setMethod(HTTP_METH_GET);\n\n  $request->setQueryData(array(\n    'extended' => 'true',\n    'sort' => 'Forms.created',\n    'direction' => 'DESC',\n    'include' => 'Products,CreatedBy',\n    'limit' => '5'\n  ));\n\n  $request->setHeaders(array(\n    'accept' => 'application/json',\n    'x-auth-token' => '{INSERT_YOUR_TOKEN}'\n  ));\n\n  try {\n    $response = $request->send();\n\n    echo $response->getBody();\n  } catch (HttpException $ex) {\n    echo $ex;\n  }\n```\n### Shell (cURL)\n```\n\n  $ curl --request GET --url 'https://app.apacta.com/api/v1/forms?extended=true&sort=Forms.created&direction=DESC&include=Products%2CCreatedBy&limit=5' --header 'accept: application/json' --header 'x-auth-token: {INSERT_YOUR_TOKEN}'\n\n```",
    "title": "Apacta",
    "version": "0.0.42",
    "x-apisguru-categories": [
      "time_management",
      "project_management"
    ],
    "x-logo": {
      "url": "https://twitter.com/apactadk/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "http://apidoc.apacta.com/swagger.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "apacta.com"
  },
  "tags": [
    {
      "name": "Activities"
    },
    {
      "description": "Experimental",
      "name": "TimeEntries"
    },
    {
      "description": "Experimental",
      "name": "TimeEntryIntervals"
    },
    {
      "description": "Experimental",
      "name": "TimeEntryTypes"
    },
    {
      "description": "Experimental",
      "name": "TimeEntryUnitTypes"
    },
    {
      "description": "Experimental",
      "name": "TimeEntryValueTypes"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "ContactPersons"
    },
    {
      "name": "Invoices"
    },
    {
      "name": "InvoiceEmails"
    },
    {
      "name": "InvoiceFiles"
    },
    {
      "name": "InvoiceLineTextTemplates"
    },
    {
      "name": "ProjectStatusTypes"
    }
  ],
  "paths": {
    "/profiles/{id}": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "company_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "created": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "created_by_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "deleted": {
                            "description": "Only present if it's a deleted object",
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "modified": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "modified_by_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "name": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "salary_period_days": {
                            "format": "float",
                            "type": "number"
                          },
                          "salary_period_from": {
                            "format": "dateTime",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "string"
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "has_prev_page": {
                          "type": "boolean"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "page_count": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "List time entry rule groups",
        "tags": [
          "TimeEntryRuleGroups"
        ],
        "operationId": "list-time-entry-rule-groups"
      }
    },
    "/activities/bulkdelete": {
      "delete": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "title": "BulkActionRequestBody",
                "type": "object"
              }
            }
          },
          "description": "Activities ids",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 400,
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "title": "BadRequestResponse",
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          }
        },
        "summary": "Bulk delete activities",
        "tags": [
          "Activities"
        ],
        "operationId": "bulk-delete-activities-v2"
      }
    },
    "/activities/userid": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "activity_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Record not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "errorCount": {
                          "description": "The amount of validation errors",
                          "type": "integer"
                        },
                        "errors": {
                          "description": "Object that contains details information about which properties failed validation and what rules they failed.",
                          "type": "object"
                        },
                        "message": {
                          "default": "A validation error occurred",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Validation error"
          }
        },
        "summary": "Delete an activity",
        "tags": [
          "Activities"
        ],
        "operationId": "delete-an-activity"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "activity_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "hex_code": {
                    "maxLength": 6,
                    "type": "string"
                  },
                  "name": {
                    "maxLength": 255,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Record not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "errorCount": {
                          "description": "The amount of validation errors",
                          "type": "integer"
                        },
                        "errors": {
                          "description": "Object that contains details information about which properties failed validation and what rules they failed.",
                          "type": "object"
                        },
                        "message": {
                          "default": "A validation error occurred",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Validation error"
          }
        },
        "summary": "Edit an activity",
        "tags": [
          "Activities"
        ],
        "operationId": "edit-an-activity-v2"
      }
    },
    "/billing/{id}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "access_type": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "company_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "created": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "created_by_id": {
                            "description": "Read-only",
                            "format": "uuid",
                            "type": "string"
                          },
                          "deleted": {
                            "description": "Only present if it's a deleted object",
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "is_active": {
                            "type": "boolean"
                          },
                          "modified": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "name": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "placement": {
                            "maxLength": 11,
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "string"
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "has_prev_page": {
                          "type": "boolean"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "page_count": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of user custom field attributes",
        "tags": [
          "UserCustomFieldAttributes"
        ],
        "operationId": "get-a-list-of-user-custom-field-attributes"
      }
    },
    "/cities/userid": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "city_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "created": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "deleted": {
                          "description": "Only present if it's a deleted object",
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "modified": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "name": {
                          "maxLength": 255,
                          "type": "string"
                        },
                        "zip_code": {
                          "maxLength": 11,
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Get details about one city",
        "tags": [
          "Cities"
        ],
        "operationId": "get-details-about-one-city"
      }
    },
    "/inventory/{id}": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "wall_post_id": {
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "wall_post_id",
                  "message"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "errorCount": {
                          "description": "The amount of validation errors",
                          "type": "integer"
                        },
                        "errors": {
                          "description": "Object that contains details information about which properties failed validation and what rules they failed.",
                          "type": "object"
                        },
                        "message": {
                          "default": "A validation error occurred",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Validation error"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Add wall comment",
        "tags": [
          "WallComments"
        ],
        "operationId": "add-wall-comment"
      }
    },
    "/clocking-records/checkout": {
      "post": {
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successfully checked out"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "errorCount": {
                          "description": "The amount of validation errors",
                          "type": "integer"
                        },
                        "errors": {
                          "description": "Object that contains details information about which properties failed validation and what rules they failed.",
                          "type": "object"
                        },
                        "message": {
                          "default": "A validation error occurred",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Validation error"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Checkout active clocking record for authenticated user",
        "tags": [
          "ClockingRecords"
        ],
        "operationId": "checkout-active-clocking-record-for-authenticated-user-v2"
      }
    },
    "/clocking-records/sku": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "clocking_record_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Delete a clocking record",
        "tags": [
          "ClockingRecords"
        ],
        "operationId": "delete-a-clocking-record-v2"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "clocking_record_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "checked_in": {
                          "format": "dateTime",
                          "type": "string"
                        },
                        "checked_out": {
                          "format": "dateTime",
                          "type": "string"
                        },
                        "checkin_latitude": {
                          "type": "string"
                        },
                        "checkin_longitude": {
                          "type": "string"
                        },
                        "checkout_latitude": {
                          "type": "string"
                        },
                        "checkout_longitude": {
                          "type": "string"
                        },
                        "created": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "created_by_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "deleted": {
                          "description": "Only present if it's a deleted object",
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "modified": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "modified_by_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "project_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "user_id": {
                          "format": "uuid",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Clocking record not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Details of 1 clocking_record",
        "tags": [
          "ClockingRecords"
        ],
        "operationId": "details-of-1-clocking-record-v2"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "clocking_record_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Edit a clocking record",
        "tags": [
          "ClockingRecords"
        ],
        "operationId": "edit-a-clocking-record-v2"
      }
    },
    "/companies/subscription-self-service": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "subscription_self_service_url": {
                          "type": "string"
                        }
                      },
                      "title": "SubscriptionSelfServiceRequestBody",
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Self service url"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Company not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "URL for subscription selfservice",
        "tags": [
          "Companies"
        ],
        "operationId": "url-for-subscription-selfservice-v2"
      }
    },
    "/companies/userid": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "city_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "contact_person_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "country_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "created": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "created_by_id": {
                          "description": "Read-only",
                          "format": "uuid",
                          "type": "string"
                        },
                        "cvr": {
                          "maxLength": 255,
                          "type": "string"
                        },
                        "deleted": {
                          "description": "Only present if it's a deleted object",
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "expired": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "file_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "invoice_email": {
                          "format": "email",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "language_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "modified": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "name": {
                          "maxLength": 255,
                          "type": "string"
                        },
                        "next_invoice_number": {
                          "format": "int32",
                          "maxLength": 8,
                          "type": "integer"
                        },
                        "next_offer_number": {
                          "format": "int32",
                          "maxLength": 8,
                          "type": "integer"
                        },
                        "next_project_number": {
                          "format": "int32",
                          "maxLength": 8,
                          "type": "integer"
                        },
                        "phone": {
                          "description": "Format like eg. `28680133` or `046158971404`",
                          "maxLength": 32,
                          "type": "string"
                        },
                        "phone_countrycode": {
                          "description": "Format like eg. `45` or `49`",
                          "maxLength": 3,
                          "type": "string"
                        },
                        "receive_form_mails": {
                          "format": "email",
                          "maxLength": 255,
                          "type": "string"
                        },
                        "street_name": {
                          "maxLength": 255,
                          "type": "string"
                        },
                        "vat_percent": {
                          "format": "int32",
                          "maxLength": 12,
                          "type": "integer"
                        },
                        "website": {
                          "maxLength": 255,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Company object"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Details of 1 company",
        "tags": [
          "Companies"
        ],
        "operationId": "details-of-1-company-v2"
      }
    },
    "/companies/paymentid/companies-integration-feature-settings": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "company_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "created": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "created_by_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "deleted": {
                          "description": "Only present if it's a deleted object",
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "integration_feature_setting_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "modified": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "title": "CompaniesIntegrationFeatureSetting",
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Company not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "List a company integration feature settings",
        "tags": [
          "Companies"
        ],
        "operationId": "list-a-company-integration-feature-settings-v2"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "integration_feature_setting_id": {
                    "format": "uuid",
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Company not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "errorCount": {
                          "description": "The amount of validation errors",
                          "type": "integer"
                        },
                        "errors": {
                          "description": "Object that contains details information about which properties failed validation and what rules they failed.",
                          "type": "object"
                        },
                        "message": {
                          "default": "A validation error occurred",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Validation error"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Add a company integration feature setting",
        "tags": [
          "Companies"
        ],
        "operationId": "add-a-company-integration-feature-setting-v2"
      }
    },
    "/companies/sku/companies-integration-feature-settings/paymentid": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "company_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "created": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "created_by_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "deleted": {
                          "description": "Only present if it's a deleted object",
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "integration_feature_setting_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "modified": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "title": "CompaniesIntegrationFeatureSetting",
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "IntegrationFeatureSetting not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "View a company integration feature setting",
        "tags": [
          "Companies"
        ],
        "operationId": "view-a-company-integration-feature-setting-v2"
      },
      "put": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "IntegrationFeatureSetting not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Edit a company integration feature setting",
        "tags": [
          "Companies"
        ],
        "operationId": "edit-a-company-integration-feature-setting"
      }
    },
    "/companies/sku/form-templates": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "form_template_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {},
                      "type": "array"
                    },
                    "pagination": {
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "string"
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "has_prev_page": {
                          "type": "boolean"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "page_count": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Company not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of company form templates",
        "tags": [
          "Companies"
        ],
        "operationId": "get-a-list-of-company-form-templates-v2"
      }
    },
    "/companies/paymentid/form-templates/sku": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Automatically added",
            "in": "path",
            "name": "form_template_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Companies form template not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Delete a form template company",
        "tags": [
          "Companies"
        ],
        "operationId": "delete-a-form-template-company"
      },
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "description": "Automatically added",
            "in": "path",
            "name": "form_template_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {},
                      "type": "array"
                    },
                    "pagination": {
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "string"
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "has_prev_page": {
                          "type": "boolean"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "page_count": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Form template company not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Get a company form template",
        "tags": [
          "Companies"
        ],
        "operationId": "get-a-company-form-template-v2"
      }
    },
    "/companies/id/integration-feature-settings": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "created": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "created_by_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "default_value": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "deleted": {
                            "description": "Only present if it's a deleted object",
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "description": {
                            "maxLength": 8192,
                            "type": "string"
                          },
                          "id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "identifier": {
                            "maxLength": 255,
                            "type": "string"
                          },
                          "integration_feature_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "is_custom_setting": {
                            "type": "boolean"
                          },
                          "modified": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "name": {
                            "maxLength": 255,
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "string"
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "has_prev_page": {
                          "type": "boolean"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "page_count": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of integration feature settings",
        "tags": [
          "Companies"
        ],
        "operationId": "get-a-list-of-integration-feature-settings"
      }
    },
    "/companies/paymentid/integration-feature-settings/id": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "in": "path",
            "name": "limit",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "created": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "created_by_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "default_value": {
                          "maxLength": 255,
                          "type": "string"
                        },
                        "deleted": {
                          "description": "Only present if it's a deleted object",
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "description": {
                          "maxLength": 8192,
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "identifier": {
                          "maxLength": 255,
                          "type": "string"
                        },
                        "integration_feature_id": {
                          "format": "uuid",
                          "type": "string"
                        },
                        "is_custom_setting": {
                          "type": "boolean"
                        },
                        "modified": {
                          "format": "dateTime",
                          "readOnly": true,
                          "type": "string"
                        },
                        "name": {
                          "maxLength": 255,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "IntegrationFeatureSetting not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Show details of 1 integration feature setting",
        "tags": [
          "Companies"
        ],
        "operationId": "show-details-of-1-integration-feature-setting-v2"
      }
    },
    "/companies/userid/integration-settings": {
      "get": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "description": "The identifier of an ERP integration",
            "in": "query",
            "name": "identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "properties": {
                          "company_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "created": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "created_by_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "deleted": {
                            "description": "Only present if it's a deleted object",
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "integration_setting_id": {
                            "format": "uuid",
                            "type": "string"
                          },
                          "modified": {
                            "format": "dateTime",
                            "readOnly": true,
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "title": "CompaniesIntegrationSetting",
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "pagination": {
                      "properties": {
                        "count": {
                          "type": "integer"
                        },
                        "current_page": {
                          "type": "string"
                        },
                        "has_next_page": {
                          "type": "boolean"
                        },
                        "has_prev_page": {
                          "type": "boolean"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "page_count": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": true,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 403,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Forbidden",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "code": {
                          "default": 404,
                          "description": "The HTTP status code",
                          "type": "integer"
                        },
                        "message": {
                          "default": "Record not found",
                          "description": "Error message",
                          "type": "string"
                        },
                        "url": {
                          "description": "The url from which this originated",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "default": false,
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Company not found"
          }
        },
        "security": [
          {
            "X-Auth-Token": []
          },
          {
            "api_key": []
          }
        ],
        "summary": "Get a list of company integration settings",
        "tags": [
          "Companies"
        ],
        "operationId": "get-a-list-of-company-integration-settings"
      },
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "company_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
[...]
