{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.aviationdata.systems",
  "info": {
    "contact": {
      "x-twitter": "aviationdataSYS"
    },
    "title": "AviationData.Systems Airports API V1",
    "version": "v1",
    "x-apisguru-categories": [
      "transport"
    ],
    "x-logo": {
      "url": "https://twitter.com/aviationdataSYS/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://api.aviationdata.systems//swagger/docs/v1",
        "version": "2.0"
      }
    ],
    "x-providerName": "aviationdata.systems"
  },
  "consumes": [],
  "produces": [
    "application/json",
    "text/json"
  ],
  "securityDefinitions": {
    "basic": {
      "description": "Basic HTTP Authentication",
      "type": "basic"
    }
  },
  "paths": {
    "/carts/{id}": {
      "get": {
        "description": "Required parameters: airport_name, airport_service_type. Optional parameter: country code (ISO 3166-1).",
        "operationId": "completeairportname-airportnamesearch-v2",
        "parameters": [
          {
            "description": "Required: The airports name",
            "in": "path",
            "name": "airport_name",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required: Needs to be: All, Scheduled or NonScheduled",
            "enum": [
              "All",
              "Scheduled",
              "NonScheduled"
            ],
            "in": "query",
            "name": "airport_service_type",
            "required": true,
            "type": "string"
          },
          {
            "description": "Optional: Country code (ISO 3166-1). This can be found via /countries",
            "in": "query",
            "name": "optional_country_code",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "airport_list": {
                  "items": {
                    "properties": {
                      "label": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "disclaimer": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Autocomplete airport names. Returns a maximum of 10 airport names.",
        "tags": [
          "AutoCompleteAirportName"
        ]
      }
    },
    "/v1/airport/iata/userid": {
      "get": {
        "description": "Required parameters: airport_iata",
        "operationId": "airportiata-airportiatasearch-v2",
        "parameters": [
          {
            "description": "Required: The airports IATA code",
            "in": "path",
            "name": "airport_iata",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "airport_list": {
                  "items": {
                    "properties": {
                      "Country": {
                        "properties": {
                          "country_code": {
                            "type": "string"
                          },
                          "flag_url": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "Frequency": {
                        "items": {
                          "properties": {
                            "desc": {
                              "type": "string"
                            },
                            "frequency_mhz": {
                              "type": "string"
                            },
                            "frequency_type": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Region": {
                        "properties": {
                          "local_code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "region_code": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "Runway": {
                        "items": {
                          "properties": {
                            "closed": {
                              "type": "boolean"
                            },
                            "hE_latitude": {
                              "type": "string"
                            },
                            "hE_longitude": {
                              "type": "string"
                            },
                            "he_displaced_threshold_ft": {
                              "type": "string"
                            },
                            "he_elevation_ft": {
                              "type": "string"
                            },
                            "he_heading_deg": {
                              "type": "string"
                            },
                            "le_displaced_threshold_ft": {
                              "type": "string"
                            },
                            "le_elevation_ft": {
                              "type": "string"
                            },
                            "le_heading_deg": {
                              "type": "string"
                            },
                            "le_latitude": {
                              "type": "string"
                            },
                            "le_longitude": {
                              "type": "string"
                            },
                            "length_ft": {
                              "type": "string"
                            },
                            "lighted": {
                              "type": "boolean"
                            },
                            "surface_type": {
                              "type": "string"
                            },
                            "width_ft": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "airport_name": {
                        "type": "string"
                      },
                      "airport_type": {
                        "type": "string"
                      },
                      "elevation_ft": {
                        "type": "string"
                      },
                      "gps_code": {
                        "type": "string"
                      },
                      "iata_code": {
                        "type": "string"
                      },
                      "latitude": {
                        "type": "string"
                      },
                      "local_code": {
                        "type": "string"
                      },
                      "location": {
                        "type": "string"
                      },
                      "logo_url": {
                        "type": "string"
                      },
                      "longitude": {
                        "type": "string"
                      },
                      "scheduled_service": {
                        "type": "boolean"
                      },
                      "website": {
                        "type": "string"
                      },
                      "wikipedia": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "disclaimer": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Search for airport by IATA code",
        "tags": [
          "AirportIATA"
        ]
      }
    },
    "/v1/airport/name/sku": {
      "get": {
        "description": "Required parameters: airport_name, api_mode",
        "operationId": "airportdetails-airportnamesearch",
        "parameters": [
          {
            "description": "Required: The airports name",
            "in": "path",
            "name": "airport_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "airport_list": {
                  "items": {
                    "properties": {
                      "Country": {
                        "properties": {
                          "country_code": {
                            "type": "string"
                          },
                          "flag_url": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "Frequency": {
                        "items": {
                          "properties": {
                            "desc": {
                              "type": "string"
                            },
                            "frequency_mhz": {
                              "type": "string"
                            },
                            "frequency_type": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Region": {
                        "properties": {
                          "local_code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "region_code": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "Runway": {
                        "items": {
                          "properties": {
                            "closed": {
                              "type": "boolean"
                            },
                            "hE_latitude": {
                              "type": "string"
                            },
                            "hE_longitude": {
                              "type": "string"
                            },
                            "he_displaced_threshold_ft": {
                              "type": "string"
                            },
                            "he_elevation_ft": {
                              "type": "string"
                            },
                            "he_heading_deg": {
                              "type": "string"
                            },
                            "le_displaced_threshold_ft": {
                              "type": "string"
                            },
                            "le_elevation_ft": {
                              "type": "string"
                            },
                            "le_heading_deg": {
                              "type": "string"
                            },
                            "le_latitude": {
                              "type": "string"
                            },
                            "le_longitude": {
                              "type": "string"
                            },
                            "length_ft": {
                              "type": "string"
                            },
                            "lighted": {
                              "type": "boolean"
                            },
                            "surface_type": {
                              "type": "string"
                            },
                            "width_ft": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "airport_name": {
                        "type": "string"
                      },
                      "airport_type": {
                        "type": "string"
                      },
                      "elevation_ft": {
                        "type": "string"
                      },
                      "gps_code": {
                        "type": "string"
                      },
                      "iata_code": {
                        "type": "string"
                      },
                      "latitude": {
                        "type": "string"
                      },
                      "local_code": {
                        "type": "string"
                      },
                      "location": {
                        "type": "string"
                      },
                      "logo_url": {
                        "type": "string"
                      },
                      "longitude": {
                        "type": "string"
                      },
                      "scheduled_service": {
                        "type": "boolean"
                      },
                      "website": {
                        "type": "string"
                      },
                      "wikipedia": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "disclaimer": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Search for airport by name",
        "tags": [
          "AirportDetails"
        ]
      }
    },
    "/v1/airport/nearest/sku/orderid/paymentid": {
      "get": {
        "description": "Required parameters: result_count, latitude, longitude, airport_service_type",
        "operationId": "nearestairports-nearestairportlist-v2",
        "parameters": [
          {
            "description": "Required: Number of airports to return. Min: 1 Max: 20",
            "format": "int32",
            "in": "path",
            "name": "result_count",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Required: Latitude",
            "format": "double",
            "in": "path",
            "name": "latitude",
            "required": true,
            "type": "number"
          },
          {
            "description": "Required: Longitude",
            "format": "double",
            "in": "path",
            "name": "longitude",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "airport_list": {
                  "items": {
                    "properties": {
                      "Country": {
                        "properties": {
                          "country_code": {
                            "type": "string"
                          },
                          "flag_url": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "Frequency": {
                        "items": {
                          "properties": {
                            "desc": {
                              "type": "string"
                            },
                            "frequency_mhz": {
                              "type": "string"
                            },
                            "frequency_type": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "Region": {
                        "properties": {
                          "local_code": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "region_code": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "Runway": {
                        "items": {
                          "properties": {
                            "closed": {
                              "type": "boolean"
                            },
                            "hE_latitude": {
                              "type": "string"
                            },
                            "hE_longitude": {
                              "type": "string"
                            },
                            "he_displaced_threshold_ft": {
                              "type": "string"
                            },
                            "he_elevation_ft": {
                              "type": "string"
                            },
                            "he_heading_deg": {
                              "type": "string"
                            },
                            "le_displaced_threshold_ft": {
                              "type": "string"
                            },
                            "le_elevation_ft": {
                              "type": "string"
                            },
                            "le_heading_deg": {
                              "type": "string"
                            },
                            "le_latitude": {
                              "type": "string"
                            },
                            "le_longitude": {
                              "type": "string"
                            },
                            "length_ft": {
                              "type": "string"
                            },
                            "lighted": {
                              "type": "boolean"
                            },
                            "surface_type": {
                              "type": "string"
                            },
                            "width_ft": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "airport_name": {
                        "type": "string"
                      },
                      "airport_type": {
                        "type": "string"
                      },
                      "elevation_ft": {
                        "type": "string"
                      },
                      "gps_code": {
                        "type": "string"
                      },
                      "iata_code": {
                        "type": "string"
                      },
                      "latitude": {
                        "type": "string"
                      },
                      "local_code": {
                        "type": "string"
                      },
                      "location": {
                        "type": "string"
                      },
                      "logo_url": {
                        "type": "string"
                      },
                      "longitude": {
                        "type": "string"
                      },
                      "scheduled_service": {
                        "type": "boolean"
                      },
                      "website": {
                        "type": "string"
                      },
                      "wikipedia": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "disclaimer": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Search for airports by location",
        "tags": [
          "NearestAirports"
        ]
      }
    },
    "/v1/country/code/sku": {
      "get": {
        "description": "Required parameters: country code (ISO 3166-1), airport_service_type.",
        "operationId": "countryairportlist-countryairportlist-v2",
        "parameters": [
          {
            "description": "Country code (ISO 3166-1). This can be found via /countries",
            "in": "path",
            "name": "country_code",
            "required": true,
            "type": "string"
          },
          {
            "description": "Required: Needs to be: All, Scheduled or NonScheduled",
            "enum": [
              "All",
              "Scheduled",
              "NonScheduled"
            ],
            "in": "query",
            "name": "airport_service_type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "airport_list": {
                  "items": {
                    "properties": {
                      "airport_name": {
                        "type": "string"
                      },
                      "airport_type": {
                        "type": "string"
                      },
                      "iata_code": {
                        "type": "string"
                      },
                      "latitude": {
                        "type": "string"
                      },
                      "location": {
                        "type": "string"
                      },
                      "longitude": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "country": {
                  "properties": {
                    "continent": {
                      "type": "string"
                    },
                    "country_code": {
                      "type": "string"
                    },
                    "flag_url": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "disclaimer": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Country airports. Returns a list of airports for a country code(ISO 3166-1 alpha-2 code)",
        "tags": [
          "CountryAirportList"
        ]
      }
    },
    "/v1/country-list": {
      "get": {
        "operationId": "countrylist-countryairportlist",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "country": {
                  "items": {
                    "properties": {
                      "continent": {
                        "type": "string"
                      },
                      "country_code": {
                        "type": "string"
                      },
                      "flag_url": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "disclaimer": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "status_code": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Country list. Returns a list of countries where airport data is available",
        "tags": [
          "CountryList"
        ]
      }
    }
  },
  "definitions": {
    "AirportsAPI.Controllers.AirportDetailsController.Response": {
      "properties": {
        "airport_list": {
          "items": {
            "properties": {
              "Country": {
                "properties": {
                  "country_code": {
                    "type": "string"
                  },
                  "flag_url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "Frequency": {
                "items": {
                  "properties": {
                    "desc": {
                      "type": "string"
                    },
                    "frequency_mhz": {
                      "type": "string"
                    },
                    "frequency_type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "Region": {
                "properties": {
                  "local_code": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "region_code": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "Runway": {
                "items": {
                  "properties": {
                    "closed": {
                      "type": "boolean"
                    },
                    "hE_latitude": {
                      "type": "string"
                    },
                    "hE_longitude": {
                      "type": "string"
                    },
                    "he_displaced_threshold_ft": {
                      "type": "string"
                    },
                    "he_elevation_ft": {
                      "type": "string"
                    },
                    "he_heading_deg": {
                      "type": "string"
                    },
                    "le_displaced_threshold_ft": {
                      "type": "string"
                    },
                    "le_elevation_ft": {
                      "type": "string"
                    },
                    "le_heading_deg": {
                      "type": "string"
                    },
                    "le_latitude": {
                      "type": "string"
                    },
                    "le_longitude": {
                      "type": "string"
                    },
                    "length_ft": {
                      "type": "string"
                    },
                    "lighted": {
                      "type": "boolean"
                    },
                    "surface_type": {
                      "type": "string"
                    },
                    "width_ft": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "airport_name": {
                "type": "string"
              },
              "airport_type": {
                "type": "string"
              },
              "elevation_ft": {
                "type": "string"
              },
              "gps_code": {
                "type": "string"
              },
              "iata_code": {
                "type": "string"
              },
              "latitude": {
                "type": "string"
              },
              "local_code": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "logo_url": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              },
              "scheduled_service": {
                "type": "boolean"
              },
              "website": {
                "type": "string"
              },
              "wikipedia": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "disclaimer": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status_code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Controllers.AirportIATAController.Response": {
      "properties": {
        "airport_list": {
          "items": {
            "properties": {
              "Country": {
                "properties": {
                  "country_code": {
                    "type": "string"
                  },
                  "flag_url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "Frequency": {
                "items": {
                  "properties": {
                    "desc": {
                      "type": "string"
                    },
                    "frequency_mhz": {
                      "type": "string"
                    },
                    "frequency_type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "Region": {
                "properties": {
                  "local_code": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "region_code": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "Runway": {
                "items": {
                  "properties": {
                    "closed": {
                      "type": "boolean"
                    },
                    "hE_latitude": {
                      "type": "string"
                    },
                    "hE_longitude": {
                      "type": "string"
                    },
                    "he_displaced_threshold_ft": {
                      "type": "string"
                    },
                    "he_elevation_ft": {
                      "type": "string"
                    },
                    "he_heading_deg": {
                      "type": "string"
                    },
                    "le_displaced_threshold_ft": {
                      "type": "string"
                    },
                    "le_elevation_ft": {
                      "type": "string"
                    },
                    "le_heading_deg": {
                      "type": "string"
                    },
                    "le_latitude": {
                      "type": "string"
                    },
                    "le_longitude": {
                      "type": "string"
                    },
                    "length_ft": {
                      "type": "string"
                    },
                    "lighted": {
                      "type": "boolean"
                    },
                    "surface_type": {
                      "type": "string"
                    },
                    "width_ft": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "airport_name": {
                "type": "string"
              },
              "airport_type": {
                "type": "string"
              },
              "elevation_ft": {
                "type": "string"
              },
              "gps_code": {
                "type": "string"
              },
              "iata_code": {
                "type": "string"
              },
              "latitude": {
                "type": "string"
              },
              "local_code": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "logo_url": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              },
              "scheduled_service": {
                "type": "boolean"
              },
              "website": {
                "type": "string"
              },
              "wikipedia": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "disclaimer": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status_code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Controllers.AutoCompleteAirportNameController.Response": {
      "properties": {
        "airport_list": {
          "items": {
            "properties": {
              "label": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "disclaimer": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status_code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Controllers.CountryAirportListController.AirportListResponse": {
      "properties": {
        "airport_list": {
          "items": {
            "properties": {
              "airport_name": {
                "type": "string"
              },
              "airport_type": {
                "type": "string"
              },
              "iata_code": {
                "type": "string"
              },
              "latitude": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "country": {
          "properties": {
            "continent": {
              "type": "string"
            },
            "country_code": {
              "type": "string"
            },
            "flag_url": {
              "type": "string"
            },
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "disclaimer": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status_code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Controllers.CountryListController.CountryListResponse": {
      "properties": {
        "country": {
          "items": {
            "properties": {
              "continent": {
                "type": "string"
              },
              "country_code": {
                "type": "string"
              },
              "flag_url": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "disclaimer": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status_code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Controllers.NearestAirportsController.Response": {
      "properties": {
        "airport_list": {
          "items": {
            "properties": {
              "Country": {
                "properties": {
                  "country_code": {
                    "type": "string"
                  },
                  "flag_url": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "Frequency": {
                "items": {
                  "properties": {
                    "desc": {
                      "type": "string"
                    },
                    "frequency_mhz": {
                      "type": "string"
                    },
                    "frequency_type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "Region": {
                "properties": {
                  "local_code": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "region_code": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "Runway": {
                "items": {
                  "properties": {
                    "closed": {
                      "type": "boolean"
                    },
                    "hE_latitude": {
                      "type": "string"
                    },
                    "hE_longitude": {
                      "type": "string"
                    },
                    "he_displaced_threshold_ft": {
                      "type": "string"
                    },
                    "he_elevation_ft": {
                      "type": "string"
                    },
                    "he_heading_deg": {
                      "type": "string"
                    },
                    "le_displaced_threshold_ft": {
                      "type": "string"
                    },
                    "le_elevation_ft": {
                      "type": "string"
                    },
                    "le_heading_deg": {
                      "type": "string"
                    },
                    "le_latitude": {
                      "type": "string"
                    },
                    "le_longitude": {
                      "type": "string"
                    },
                    "length_ft": {
                      "type": "string"
                    },
                    "lighted": {
                      "type": "boolean"
                    },
                    "surface_type": {
                      "type": "string"
                    },
                    "width_ft": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "airport_name": {
                "type": "string"
              },
              "airport_type": {
                "type": "string"
              },
              "elevation_ft": {
                "type": "string"
              },
              "gps_code": {
                "type": "string"
              },
              "iata_code": {
                "type": "string"
              },
              "latitude": {
                "type": "string"
              },
              "local_code": {
                "type": "string"
              },
              "location": {
                "type": "string"
              },
              "logo_url": {
                "type": "string"
              },
              "longitude": {
                "type": "string"
              },
              "scheduled_service": {
                "type": "boolean"
              },
              "website": {
                "type": "string"
              },
              "wikipedia": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "disclaimer": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "status_code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.Airport": {
      "properties": {
        "Country": {
          "properties": {
            "country_code": {
              "type": "string"
            },
            "flag_url": {
              "type": "string"
            },
            "name": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "Frequency": {
          "items": {
            "properties": {
              "desc": {
                "type": "string"
              },
              "frequency_mhz": {
                "type": "string"
              },
              "frequency_type": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "Region": {
          "properties": {
            "local_code": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "region_code": {
              "type": "string"
            }
          },
          "type": "object"
        },
        "Runway": {
          "items": {
            "properties": {
              "closed": {
                "type": "boolean"
              },
              "hE_latitude": {
                "type": "string"
              },
              "hE_longitude": {
                "type": "string"
              },
              "he_displaced_threshold_ft": {
                "type": "string"
              },
              "he_elevation_ft": {
                "type": "string"
              },
              "he_heading_deg": {
                "type": "string"
              },
              "le_displaced_threshold_ft": {
                "type": "string"
              },
              "le_elevation_ft": {
                "type": "string"
              },
              "le_heading_deg": {
                "type": "string"
              },
              "le_latitude": {
                "type": "string"
              },
              "le_longitude": {
                "type": "string"
              },
              "length_ft": {
                "type": "string"
              },
              "lighted": {
                "type": "boolean"
              },
              "surface_type": {
                "type": "string"
              },
              "width_ft": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "airport_name": {
          "type": "string"
        },
        "airport_type": {
          "type": "string"
        },
        "elevation_ft": {
          "type": "string"
        },
        "gps_code": {
          "type": "string"
        },
        "iata_code": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "local_code": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "logo_url": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "scheduled_service": {
          "type": "boolean"
        },
        "website": {
          "type": "string"
        },
        "wikipedia": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.AirportList": {
      "properties": {
        "airport_name": {
          "type": "string"
        },
        "airport_type": {
          "type": "string"
        },
        "iata_code": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.AirportListAutocomplete": {
      "properties": {
        "label": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.Country": {
      "properties": {
        "continent": {
          "type": "string"
        },
        "country_code": {
          "type": "string"
        },
        "flag_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.Frequency": {
      "properties": {
        "desc": {
          "type": "string"
        },
        "frequency_mhz": {
          "type": "string"
        },
        "frequency_type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.Location.Country": {
      "properties": {
        "country_code": {
          "type": "string"
        },
        "flag_url": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.Location.Region": {
      "properties": {
        "local_code": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "region_code": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "AirportsAPI.Models.Runway": {
      "properties": {
        "closed": {
          "type": "boolean"
        },
        "hE_latitude": {
          "type": "string"
        },
        "hE_longitude": {
          "type": "string"
        },
        "he_displaced_threshold_ft": {
          "type": "string"
        },
        "he_elevation_ft": {
          "type": "string"
        },
        "he_heading_deg": {
          "type": "string"
        },
        "le_displaced_threshold_ft": {
          "type": "string"
        },
        "le_elevation_ft": {
          "type": "string"
        },
        "le_heading_deg": {
          "type": "string"
        },
        "le_latitude": {
          "type": "string"
        },
        "le_longitude": {
          "type": "string"
        },
        "length_ft": {
          "type": "string"
        },
        "lighted": {
          "type": "boolean"
        },
        "surface_type": {
          "type": "string"
        },
        "width_ft": {
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}