{
  "openapi": "3.0.0",
  "info": {
    "version": "2010-06-01",
    "x-release": "v2",
    "title": "AWS Import/Export",
    "description": "<fullname>AWS Import/Export Service</fullname> AWS Import/Export accelerates transferring large amounts of data between the AWS cloud and portable storage devices that you mail to us. AWS Import/Export transfers data directly onto and off of your storage devices using Amazon's high-speed internal network and bypassing the Internet. For large data sets, AWS Import/Export is often faster than Internet transfer and more cost effective than upgrading your connectivity.",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "importexport",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/importexport-2010-06-01.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/importexport/"
  },
  "servers": [
    {
      "url": "http://importexport.amazonaws.com",
      "variables": {},
      "description": "The general AWS Import/Export multi-region endpoint"
    },
    {
      "url": "https://importexport.amazonaws.com",
      "variables": {},
      "description": "The general AWS Import/Export multi-region endpoint"
    },
    {
      "url": "http://importexport.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWS Import/Export endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://importexport.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWS Import/Export endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/users/{id}": {
      "get": {
        "x-aws-operation-name": "CancelJob",
        "operationId": "get-canceljob-v2",
        "description": "modified get /#Operation=CancelJob&Action=CancelJob",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Specifies whether (true) or not (false) AWS Import/Export updated your job."
                    }
                  },
                  "description": "Output structure for the CancelJob operation."
                }
              }
            }
          },
          "480": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "481": {
            "description": "ExpiredJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Indicates that the specified job has expired out of the system."
                }
              }
            }
          },
          "482": {
            "description": "CanceledJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified job ID has been canceled and is no longer valid."
                }
              }
            }
          },
          "483": {
            "description": "UnableToCancelJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "AWS Import/Export cannot cancel the job"
                }
              }
            }
          },
          "484": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "485": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "JobId",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "description": "A unique identifier which refers to a particular job."
            }
          },
          {
            "name": "APIVersion",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the version of the client tool."
            }
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CancelJob"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CancelJob"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "AWSAccessKeyId",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Action",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureMethod",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureVersion",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Timestamp",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Version",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Signature",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "x-aws-operation-name": "CancelJob",
        "operationId": "post-canceljob-v2",
        "description": "This operation cancels a specified job. Only the job owner can cancel it. The operation fails if the job has already started or is complete.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Success": {
                      "type": "boolean",
                      "description": "Specifies whether (true) or not (false) AWS Import/Export updated your job."
                    }
                  },
                  "description": "Output structure for the CancelJob operation."
                }
              }
            }
          },
          "480": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "481": {
            "description": "ExpiredJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Indicates that the specified job has expired out of the system."
                }
              }
            }
          },
          "482": {
            "description": "CanceledJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified job ID has been canceled and is no longer valid."
                }
              }
            }
          },
          "483": {
            "description": "UnableToCancelJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "AWS Import/Export cannot cancel the job"
                }
              }
            }
          },
          "484": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "485": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "JobId"
                ],
                "title": "CancelJobInput",
                "properties": {
                  "JobId": {
                    "type": "string",
                    "description": "A unique identifier which refers to a particular job."
                  },
                  "APIVersion": {
                    "type": "string",
                    "description": "Specifies the version of the client tool."
                  }
                },
                "description": "Input structure for the CancelJob operation."
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CancelJob"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CancelJob"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      }
    },
    "/reviews/{id}": {
      "get": {
        "x-aws-operation-name": "CreateJob",
        "operationId": "get-createjob",
        "description": "modified get /#Operation=CreateJob&Action=CreateJob",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "JobId": {
                      "type": "string",
                      "description": "A unique identifier which refers to a particular job."
                    },
                    "JobType": {
                      "type": "string",
                      "enum": [
                        "Import",
                        "Export"
                      ],
                      "description": "Specifies whether the job to initiate is an import or export job."
                    },
                    "Signature": {
                      "type": "string",
                      "description": "An encrypted code used to authenticate the request and response, for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is you want to create the signature file yourself. Generally you should use the SignatureFileContents value."
                    },
                    "SignatureFileContents": {
                      "type": "string",
                      "description": "The actual text of the SIGNATURE file to be written to disk."
                    },
                    "WarningMessage": {
                      "type": "string",
                      "description": "An optional message notifying you of non-fatal issues with the job, such as use of an incompatible Amazon S3 bucket name."
                    },
                    "ArtifactList": {
                      "type": "array",
                      "description": "A collection of artifacts.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Description": {
                            "type": "string",
                            "description": "The associated description for this object."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The URL for a given Artifact."
                          }
                        },
                        "description": "A discrete item that contains the description and URL of an artifact (such as a PDF)."
                      }
                    }
                  },
                  "description": "Output structure for the CreateJob operation."
                }
              }
            }
          },
          "480": {
            "description": "MissingParameterException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more required parameters was missing from the request."
                }
              }
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more parameters had an invalid value."
                }
              }
            }
          },
          "482": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "483": {
            "description": "InvalidAddressException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The address specified in the manifest is invalid."
                }
              }
            }
          },
          "484": {
            "description": "InvalidManifestFieldException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more manifest fields was invalid. Please correct and resubmit."
                }
              }
            }
          },
          "485": {
            "description": "MissingManifestFieldException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more required fields were missing from the manifest file. Please correct and resubmit."
                }
              }
            }
          },
          "486": {
            "description": "NoSuchBucketException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified bucket does not exist. Create the specified bucket or change the manifest's bucket, exportBucket, or logBucket field to a bucket that the account, as specified by the manifest's Access Key ID, has write permissions to."
                }
              }
            }
          },
          "487": {
            "description": "MissingCustomsException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more required customs parameters was missing from the manifest."
                }
              }
            }
          },
          "488": {
            "description": "InvalidCustomsException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more customs parameters was invalid. Please correct and resubmit."
                }
              }
            }
          },
          "489": {
            "description": "InvalidFileSystemException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "File system specified in export manifest is invalid."
                }
              }
            }
          },
          "490": {
            "description": "MultipleRegionsException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit."
                }
              }
            }
          },
          "491": {
            "description": "BucketPermissionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The account specified does not have the appropriate bucket permissions."
                }
              }
            }
          },
          "492": {
            "description": "MalformedManifestException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Your manifest is not well-formed."
                }
              }
            }
          },
          "493": {
            "description": "CreateJobQuotaExceededException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Each account can create only a certain number of jobs per day. If you need to create more than this, please contact awsimportexport@amazon.com to explain your particular use case."
                }
              }
            }
          },
          "494": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "495": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "JobType",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "enum": [
                "Import",
                "Export"
              ],
              "description": "Specifies whether the job to initiate is an import or export job."
            }
          },
          {
            "name": "Manifest",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "description": "The UTF-8 encoded text of the manifest file."
            }
          },
          {
            "name": "ManifestAddendum",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "For internal use only.",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "name": "ValidateOnly",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "boolean",
              "description": "Validate the manifest and parameter values in the request but do not actually create a job."
            }
          },
          {
            "name": "APIVersion",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the version of the client tool.",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                "CreateJob"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CreateJob"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "AWSAccessKeyId",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Action",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureMethod",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureVersion",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Timestamp",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Version",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Signature",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "x-aws-operation-name": "CreateJob",
        "operationId": "post-createjob",
        "description": "This operation initiates the process of scheduling an upload or download of your data. You include in the request a manifest that describes the data transfer specifics. The response to the request includes a job ID, which you can use in other operations, a signature that you use to identify your storage device, and the address where you should ship your storage device.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "JobId": {
                      "type": "string",
                      "description": "A unique identifier which refers to a particular job."
                    },
                    "JobType": {
                      "type": "string",
                      "enum": [
                        "Import",
                        "Export"
                      ],
                      "description": "Specifies whether the job to initiate is an import or export job."
                    },
                    "Signature": {
                      "type": "string",
                      "description": "An encrypted code used to authenticate the request and response, for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is you want to create the signature file yourself. Generally you should use the SignatureFileContents value."
                    },
                    "SignatureFileContents": {
                      "type": "string",
                      "description": "The actual text of the SIGNATURE file to be written to disk."
                    },
                    "WarningMessage": {
                      "type": "string",
                      "description": "An optional message notifying you of non-fatal issues with the job, such as use of an incompatible Amazon S3 bucket name."
                    },
                    "ArtifactList": {
                      "type": "array",
                      "description": "A collection of artifacts.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Description": {
                            "type": "string",
                            "description": "The associated description for this object."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The URL for a given Artifact."
                          }
                        },
                        "description": "A discrete item that contains the description and URL of an artifact (such as a PDF)."
                      }
                    }
                  },
                  "description": "Output structure for the CreateJob operation."
                }
              }
            }
          },
          "480": {
            "description": "MissingParameterException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more required parameters was missing from the request."
                }
              }
            }
          },
          "481": {
            "description": "InvalidParameterException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more parameters had an invalid value."
                }
              }
            }
          },
          "482": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "483": {
            "description": "InvalidAddressException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The address specified in the manifest is invalid."
                }
              }
            }
          },
          "484": {
            "description": "InvalidManifestFieldException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more manifest fields was invalid. Please correct and resubmit."
                }
              }
            }
          },
          "485": {
            "description": "MissingManifestFieldException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more required fields were missing from the manifest file. Please correct and resubmit."
                }
              }
            }
          },
          "486": {
            "description": "NoSuchBucketException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified bucket does not exist. Create the specified bucket or change the manifest's bucket, exportBucket, or logBucket field to a bucket that the account, as specified by the manifest's Access Key ID, has write permissions to."
                }
              }
            }
          },
          "487": {
            "description": "MissingCustomsException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more required customs parameters was missing from the manifest."
                }
              }
            }
          },
          "488": {
            "description": "InvalidCustomsException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more customs parameters was invalid. Please correct and resubmit."
                }
              }
            }
          },
          "489": {
            "description": "InvalidFileSystemException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "File system specified in export manifest is invalid."
                }
              }
            }
          },
          "490": {
            "description": "MultipleRegionsException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Your manifest file contained buckets from multiple regions. A job is restricted to buckets from one region. Please correct and resubmit."
                }
              }
            }
          },
          "491": {
            "description": "BucketPermissionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The account specified does not have the appropriate bucket permissions."
                }
              }
            }
          },
          "492": {
            "description": "MalformedManifestException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Your manifest is not well-formed."
                }
              }
            }
          },
          "493": {
            "description": "CreateJobQuotaExceededException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Each account can create only a certain number of jobs per day. If you need to create more than this, please contact awsimportexport@amazon.com to explain your particular use case."
                }
              }
            }
          },
          "494": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "495": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "JobType",
                  "Manifest",
                  "ValidateOnly"
                ],
                "title": "CreateJobInput",
                "properties": {
                  "JobType": {
                    "type": "string",
                    "enum": [
                      "Import",
                      "Export"
                    ],
                    "description": "Specifies whether the job to initiate is an import or export job."
                  },
                  "Manifest": {
                    "type": "string",
                    "description": "The UTF-8 encoded text of the manifest file."
                  },
                  "ManifestAddendum": {
                    "type": "string",
                    "description": "For internal use only."
                  },
                  "ValidateOnly": {
                    "type": "boolean",
                    "description": "Validate the manifest and parameter values in the request but do not actually create a job."
                  },
                  "APIVersion": {
                    "type": "string",
                    "description": "Specifies the version of the client tool."
                  }
                },
                "description": "Input structure for the CreateJob operation."
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CreateJob"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "CreateJob"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      }
    },
    "/profiles/{id}": {
      "get": {
        "x-aws-operation-name": "GetShippingLabel",
        "operationId": "get-getshippinglabel",
        "description": "This operation generates a pre-paid UPS shipping label that you will use to ship your device to AWS for processing.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ShippingLabelURL": {
                      "type": "string"
                    },
                    "Warning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "481": {
            "description": "ExpiredJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Indicates that the specified job has expired out of the system."
                }
              }
            }
          },
          "482": {
            "description": "CanceledJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified job ID has been canceled and is no longer valid."
                }
              }
            }
          },
          "483": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "484": {
            "description": "InvalidAddressException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The address specified in the manifest is invalid."
                }
              }
            }
          },
          "485": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          },
          "486": {
            "description": "InvalidParameterException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more parameters had an invalid value."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "jobIds",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the name of the person responsible for shipping this package."
            }
          },
          {
            "name": "company",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the name of the company that will ship this package."
            }
          },
          {
            "name": "phoneNumber",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "description": "Specifies the phone number of the person responsible for shipping this package."
            }
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the name of your country for the return address."
            }
          },
          {
            "name": "stateOrProvince",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the name of your state or your province for the return address."
            }
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the name of your city for the return address."
            }
          },
          {
            "name": "postalCode",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the postal code for the return address."
            }
          },
          {
            "name": "street1",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the first part of the street address for the return address, for example 1234 Main Street."
            }
          },
          {
            "name": "street2",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the optional second part of the street address for the return address, for example Suite 100."
            }
          },
          {
            "name": "street3",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the optional third part of the street address for the return address, for example c/o Jane Doe."
            }
          },
          {
            "name": "APIVersion",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the version of the client tool."
            }
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetShippingLabel"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetShippingLabel"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "AWSAccessKeyId",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Action",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureMethod",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureVersion",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Timestamp",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Version",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Signature",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "x-aws-operation-name": "GetShippingLabel",
        "operationId": "post-getshippinglabel-v2",
        "description": "This operation generates a pre-paid UPS shipping label that you will use to ship your device to AWS for processing.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ShippingLabelURL": {
                      "type": "string"
                    },
                    "Warning": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "481": {
            "description": "ExpiredJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Indicates that the specified job has expired out of the system."
                }
              }
            }
          },
          "482": {
            "description": "CanceledJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified job ID has been canceled and is no longer valid."
                }
              }
            }
          },
          "483": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "484": {
            "description": "InvalidAddressException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The address specified in the manifest is invalid."
                }
              }
            }
          },
          "485": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          },
          "486": {
            "description": "InvalidParameterException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more parameters had an invalid value."
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "jobIds"
                ],
                "title": "GetShippingLabelInput",
                "properties": {
                  "jobIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "Specifies the name of the person responsible for shipping this package."
                  },
                  "company": {
                    "type": "string",
                    "description": "Specifies the name of the company that will ship this package."
                  },
                  "phoneNumber": {
                    "type": "string",
                    "description": "Specifies the phone number of the person responsible for shipping this package."
                  },
                  "country": {
                    "type": "string",
                    "description": "Specifies the name of your country for the return address."
                  },
                  "stateOrProvince": {
                    "type": "string",
                    "description": "Specifies the name of your state or your province for the return address."
                  },
                  "city": {
                    "type": "string",
                    "description": "Specifies the name of your city for the return address."
                  },
                  "postalCode": {
                    "type": "string",
                    "description": "Specifies the postal code for the return address."
                  },
                  "street1": {
                    "type": "string",
                    "description": "Specifies the first part of the street address for the return address, for example 1234 Main Street."
                  },
                  "street2": {
                    "type": "string",
                    "description": "Specifies the optional second part of the street address for the return address, for example Suite 100."
                  },
                  "street3": {
                    "type": "string",
                    "description": "Specifies the optional third part of the street address for the return address, for example c/o Jane Doe."
                  },
                  "APIVersion": {
                    "type": "string",
                    "description": "Specifies the version of the client tool."
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetShippingLabel"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetShippingLabel"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "x-aws-operation-name": "GetStatus",
        "operationId": "get-getstatus-v2",
        "description": "modified get /#Operation=GetStatus&Action=GetStatus",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "JobId": {
                      "type": "string",
                      "description": "A unique identifier which refers to a particular job."
                    },
                    "JobType": {
                      "type": "string",
                      "enum": [
                        "Import",
                        "Export"
                      ],
                      "description": "Specifies whether the job to initiate is an import or export job."
                    },
                    "LocationCode": {
                      "type": "string",
                      "description": "A token representing the location of the storage device, such as \"AtAWS\"."
                    },
                    "LocationMessage": {
                      "type": "string",
                      "description": "A more human readable form of the physical location of the storage device."
                    },
                    "ProgressCode": {
                      "type": "string",
                      "description": "A token representing the state of the job, such as \"Started\"."
                    },
                    "ProgressMessage": {
                      "type": "string",
                      "description": "A more human readable form of the job status."
                    },
                    "Carrier": {
                      "type": "string",
                      "description": "Name of the shipping company. This value is included when the LocationCode is \"Returned\"."
                    },
                    "TrackingNumber": {
                      "type": "string",
                      "description": "The shipping tracking number assigned by AWS Import/Export to the storage device when it's returned to you. We return this value when the LocationCode is \"Returned\"."
                    },
                    "LogBucket": {
                      "type": "string",
                      "description": "Amazon S3 bucket for user logs."
                    },
                    "LogKey": {
                      "type": "string",
                      "description": "The key where the user logs were stored."
                    },
                    "ErrorCount": {
                      "type": "integer",
                      "description": "Number of errors. We return this value when the ProgressCode is Success or SuccessWithErrors."
                    },
                    "Signature": {
                      "type": "string",
                      "description": "An encrypted code used to authenticate the request and response, for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is you want to create the signature file yourself. Generally you should use the SignatureFileContents value."
                    },
                    "SignatureFileContents": {
                      "type": "string",
                      "description": "An encrypted code used to authenticate the request and response, for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is you want to create the signature file yourself. Generally you should use the SignatureFileContents value."
                    },
                    "CurrentManifest": {
                      "type": "string",
                      "description": "The last manifest submitted, which will be used to process the job."
                    },
                    "CreationDate": {
                      "type": "string",
                      "description": "Timestamp of the CreateJob request in ISO8601 date format. For example \"2010-03-28T20:27:35Z\".",
                      "format": "date-time"
                    },
                    "ArtifactList": {
                      "type": "array",
                      "description": "A collection of artifacts.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Description": {
                            "type": "string",
                            "description": "The associated description for this object."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The URL for a given Artifact."
                          }
                        },
                        "description": "A discrete item that contains the description and URL of an artifact (such as a PDF)."
                      }
                    }
                  },
                  "description": "Output structure for the GetStatus operation."
                }
              }
            }
          },
          "480": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "481": {
            "description": "ExpiredJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Indicates that the specified job has expired out of the system."
                }
              }
            }
          },
          "482": {
            "description": "CanceledJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified job ID has been canceled and is no longer valid."
                }
              }
            }
          },
          "483": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "484": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "JobId",
            "in": "query",
            "required": true,
            "description": "",
            "schema": {
              "type": "string",
              "description": "A unique identifier which refers to a particular job."
            }
          },
          {
            "name": "APIVersion",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the version of the client tool."
            }
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetStatus"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetStatus"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "AWSAccessKeyId",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Action",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureMethod",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureVersion",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Timestamp",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Version",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Signature",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "x-aws-operation-name": "GetStatus",
        "operationId": "post-getstatus-v2",
        "description": "This operation returns information about a job, including where the job is in the processing pipeline, the status of the results, and the signature value associated with the job. You can only return information about jobs you own.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "JobId": {
                      "type": "string",
                      "description": "A unique identifier which refers to a particular job."
                    },
                    "JobType": {
                      "type": "string",
                      "enum": [
                        "Import",
                        "Export"
                      ],
                      "description": "Specifies whether the job to initiate is an import or export job."
                    },
                    "LocationCode": {
                      "type": "string",
                      "description": "A token representing the location of the storage device, such as \"AtAWS\"."
                    },
                    "LocationMessage": {
                      "type": "string",
                      "description": "A more human readable form of the physical location of the storage device."
                    },
                    "ProgressCode": {
                      "type": "string",
                      "description": "A token representing the state of the job, such as \"Started\"."
                    },
                    "ProgressMessage": {
                      "type": "string",
                      "description": "A more human readable form of the job status."
                    },
                    "Carrier": {
                      "type": "string",
                      "description": "Name of the shipping company. This value is included when the LocationCode is \"Returned\"."
                    },
                    "TrackingNumber": {
                      "type": "string",
                      "description": "The shipping tracking number assigned by AWS Import/Export to the storage device when it's returned to you. We return this value when the LocationCode is \"Returned\"."
                    },
                    "LogBucket": {
                      "type": "string",
                      "description": "Amazon S3 bucket for user logs."
                    },
                    "LogKey": {
                      "type": "string",
                      "description": "The key where the user logs were stored."
                    },
                    "ErrorCount": {
                      "type": "integer",
                      "description": "Number of errors. We return this value when the ProgressCode is Success or SuccessWithErrors."
                    },
                    "Signature": {
                      "type": "string",
                      "description": "An encrypted code used to authenticate the request and response, for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is you want to create the signature file yourself. Generally you should use the SignatureFileContents value."
                    },
                    "SignatureFileContents": {
                      "type": "string",
                      "description": "An encrypted code used to authenticate the request and response, for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\". Only use this value is you want to create the signature file yourself. Generally you should use the SignatureFileContents value."
                    },
                    "CurrentManifest": {
                      "type": "string",
                      "description": "The last manifest submitted, which will be used to process the job."
                    },
                    "CreationDate": {
                      "type": "string",
                      "description": "Timestamp of the CreateJob request in ISO8601 date format. For example \"2010-03-28T20:27:35Z\".",
                      "format": "date-time"
                    },
                    "ArtifactList": {
                      "type": "array",
                      "description": "A collection of artifacts.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Description": {
                            "type": "string",
                            "description": "The associated description for this object."
                          },
                          "URL": {
                            "type": "string",
                            "description": "The URL for a given Artifact."
                          }
                        },
                        "description": "A discrete item that contains the description and URL of an artifact (such as a PDF)."
                      }
                    }
                  },
                  "description": "Output structure for the GetStatus operation."
                }
              }
            }
          },
          "480": {
            "description": "InvalidJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The JOBID was missing, not found, or not associated with the AWS account."
                }
              }
            }
          },
          "481": {
            "description": "ExpiredJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "Indicates that the specified job has expired out of the system."
                }
              }
            }
          },
          "482": {
            "description": "CanceledJobIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The specified job ID has been canceled and is no longer valid."
                }
              }
            }
          },
          "483": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "484": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/xml": {
              "schema": {
                "type": "object",
                "required": [
                  "JobId"
                ],
                "title": "GetStatusInput",
                "properties": {
                  "JobId": {
                    "type": "string",
                    "description": "A unique identifier which refers to a particular job."
                  },
                  "APIVersion": {
                    "type": "string",
                    "description": "Specifies the version of the client tool."
                  }
                },
                "description": "Input structure for the GetStatus operation."
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetStatus"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GetStatus"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      }
    },
    "/carts/{id}": {
      "get": {
        "x-aws-operation-name": "ListJobs",
        "operationId": "get-listjobs-v2",
        "description": "modified get /#Operation=ListJobs&Action=ListJobs",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Jobs": {
                      "type": "array",
                      "description": "A list container for Jobs returned by the ListJobs operation.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "JobId": {
                            "type": "string",
                            "description": "A unique identifier which refers to a particular job."
                          },
                          "CreationDate": {
                            "type": "string",
                            "description": "Timestamp of the CreateJob request in ISO8601 date format. For example \"2010-03-28T20:27:35Z\".",
                            "format": "date-time"
                          },
                          "IsCanceled": {
                            "type": "boolean",
                            "description": "Indicates whether the job was canceled."
                          },
                          "JobType": {
                            "type": "string",
                            "enum": [
                              "Import",
                              "Export"
                            ],
                            "description": "Specifies whether the job to initiate is an import or export job."
                          }
                        },
                        "description": "Representation of a job returned by the ListJobs operation."
                      }
                    },
                    "IsTruncated": {
                      "type": "boolean",
                      "description": "Indicates whether the list of jobs was truncated. If true, then call ListJobs again using the last JobId element as the marker."
                    }
                  },
                  "description": "Output structure for the ListJobs operation."
                }
              }
            }
          },
          "480": {
            "description": "InvalidParameterException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "One or more parameters had an invalid value."
                }
              }
            }
          },
          "481": {
            "description": "InvalidAccessKeyIdException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The AWS Access Key ID specified in the request did not match the manifest's accessKeyId value. The manifest and the request authentication must use the same AWS Access Key ID."
                }
              }
            }
          },
          "482": {
            "description": "InvalidVersionException",
            "x-aws-exception": true,
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "The human-readable description of a particular error."
                    }
                  },
                  "description": "The client tool version is invalid."
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "MaxJobs",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "integer",
              "description": "Sets the maximum number of jobs returned in the response. If there are additional jobs that were not returned because MaxJobs was exceeded, the response contains &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;. To return the additional jobs, see Marker."
            }
          },
          {
            "name": "Marker",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the JOBID to start after when listing the jobs created with your account. AWS Import/Export lists your jobs in reverse chronological order. See MaxJobs."
            }
          },
          {
            "name": "APIVersion",
            "in": "query",
            "required": false,
            "description": "",
            "schema": {
              "type": "string",
              "description": "Specifies the version of the client tool."
            }
          },
          {
            "name": "Operation",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ListJobs"
              ]
            }
          },
          {
            "name": "Action",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ListJobs"
              ]
            }
          },
          {
            "name": "Version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "2010-06-01"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "AWSAccessKeyId",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Action",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureMethod",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "SignatureVersion",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Timestamp",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Version",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        },
        {
          "name": "Signature",
          "in": "query",
          "schema": {
            "type": "string"
          },
          "required": true
        }
      ],
      "post": {
        "x-aws-operation-name": "ListJobs",
        "operationId": "post-listjobs",
        "description": "This operation returns the jobs associated with the requester. AWS Import/Export lists the jobs in reverse chronological order based on the date of creation. For example if Job Test1 was created 2009Dec30 and Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed by Test1.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Jobs": {
                      "type": "array",
                      "description": "A list container for Jobs returned by the ListJobs operation.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "JobId": {
                            "type": "string",
                            "description": "A unique identifier which refers to a particular job."
                          },
                          "CreationDate": {
                            "type": "string",
                            "description": "Timestamp of the CreateJob request in ISO8601 date format. For example \"2010-03-28T20:27:35Z\".",
[...]
