{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://unify.apideck.com"
    }
  ],
  "info": {
    "contact": {
      "email": "hello@apideck.com",
      "url": "https://developers.apideck.com"
    },
    "description": "Welcome to the File Storage API.\n\nYou can use this API to access all File Storage API endpoints.\n\n## Base URL\n\nThe base URL for all API requests is `https://unify.apideck.com`\n\n## Headers\n\nCustom headers that are expected as part of the request. Note that [RFC7230](https://tools.ietf.org/html/rfc7230) states header names are case insensitive.\n\n| Name                  | Type    | Required | Description                                                                                                                                                    |\n| --------------------- | ------- | -------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| x-apideck-consumer-id | String  | Yes      | The id of the customer stored inside Apideck Vault. This can be a user id, account id, device id or whatever entity that can have integration within your app. |\n| x-apideck-service-id  | String  | No       | Describe the service you want to call (e.g., pipedrive). Only needed when a customer has activated multiple integrations for the same Unified API.             |\n| x-apideck-raw         | Boolean | No       | Include raw response. Mostly used for debugging purposes.                                                                                                      |\n| x-apideck-app-id      | String  | Yes      | The application id of your Unify application. Available at https://app.apideck.com/unify/api-keys.                                                             |\n| Authorization         | String  | Yes      | Bearer API KEY                                                                                                                                                 |\n\n## Authorization\n\nYou can interact with the API through the authorization methods below.\n\n<!-- ReDoc-Inject: <security-definitions> -->\n\n## Pagination\n\nAll API resources have support for bulk retrieval via list APIs.  Apideck uses cursor-based pagination via the optional `cursor` and `limit` parameters.\n\nTo fetch the first page of results, call the list API without a `cursor` parameter. Afterwards you can fetch subsequent pages by providing a cursor parameter. You will find the next cursor in the response body in `meta.cursors.next`. If `meta.cursors.next` is `null` you're at the end of the list.\n\nIn the REST API you can also use the `links` from the response for added convenience. Simply call the URL in `links.next` to get the next page of results.\n\n### Query Parameters\n\n| Name   | Type   | Required | Description                                                                                                        |\n| ------ | ------ | -------- | ------------------------------------------------------------------------------------------------------------------ |\n| cursor | String | No       | Cursor to start from. You can find cursors for next & previous pages in the meta.cursors property of the response. |\n| limit  | Number | No       | Number of results to return. Minimum 1, Maximum 200, Default 20                                                    |\n\n### Response Body\n\n| Name                  | Type   | Description                                                        |\n| --------------------- | ------ | ------------------------------------------------------------------ |\n| meta.cursors.previous | String | Cursor to navigate to the previous page of results through the API |\n| meta.cursors.current  | String | Cursor to navigate to the current page of results through the API  |\n| meta.cursors.next     | String | Cursor to navigate to the next page of results through the API     |\n| meta.items_on_page    | Number | Number of items returned in the data property of the response      |\n| links.previous        | String | Link to navigate to the previous page of results through the API   |\n| links.current         | String | Link to navigate to the current page of results through the API    |\n| links.next            | String | Link to navigate to the next page of results through the API       |\n\n⚠️ `meta.cursors.previous`/`links.previous` is not available for all connectors.\n\n## SDKs and API Clients\n\nWe currently offer a [Node.js](https://developers.apideck.com/sdks/node), [PHP](https://developers.apideck.com/sdks/php) and [.NET](https://developers.apideck.com/sdks/dot-net) SDK.\nNeed another SDK? [Request the SDK of your choice](https://integrations.apideck.com/request).\n\n## Debugging\n\nBecause of the nature of the abstraction we do in Apideck Unify we still provide the option to the receive raw requests and responses being handled underlying. By including the raw flag `?raw=true` in your requests you can still receive the full request. Please note that this increases the response size and can introduce extra latency.\n\n## Errors\n\nThe API returns standard HTTP response codes to indicate success or failure of the API requests. For errors, we also return a customized error message inside the JSON response. You can see the returned HTTP status codes below.\n\n| Code | Title                | Description                                                                                                                                                                                              |\n| ---- | -------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |\n| 200  | OK                   | The request message has been successfully processed, and it has produced a response. The response message varies, depending on the request method and the requested data.                                |\n| 201  | Created              | The request has been fulfilled and has resulted in one or more new resources being created.                                                                                                              |\n| 204  | No Content           | The server has successfully fulfilled the request and that there is no additional content to send in the response payload body.                                                                          |\n| 400  | Bad Request          | The receiving server cannot understand the request because of malformed syntax. Do not repeat the request without first modifying it; check the request for errors, fix them and then retry the request. |\n| 401  | Unauthorized         | The request has not been applied because it lacks valid authentication credentials for the target resource.                                                                                              |\n| 402  | Payment Required     | Subscription data is incomplete or out of date. You'll need to provide payment details to continue.                                                                                                      |\n| 403  | Forbidden            | You do not have the appropriate user rights to access the request. Do not repeat the request.                                                                                                            |\n| 404  | Not Found            | The origin server did not find a current representation for the target resource or is not willing to disclose that one exists.                                                                           |\n| 409  | Conflict             | The request could not be completed due to a conflict with the current state of the target resource.                                                                                                      |\n| 422  | Unprocessable Entity | The server understands the content type of the request entity, and the syntax of the request entity is correct but was unable to process the contained instructions.                                     |\n| 429  | Too Many Requests    | You sent too many requests in a given amount of time (\"rate limit\"). Try again later                                                                                                                     |\n| 5xx  | Server Errors        | Something went wrong with the Unify API. These errors are logged on our side. You can contact our team to resolve the issue.                                                                             |\n\n### Handling errors\n\nThe Unify API and SDKs can produce errors for many reasons, such as a failed requests due to misconfigured integrations, invalid parameters, authentication errors, and network unavailability.\n\n### Error Types\n\n#### RequestValidationError\n\nRequest is not valid for the current endpoint. The response body will include details on the validation error. Check the spelling and types of your attributes, and ensure you are not passing data that is outside of the specification.\n\n#### UnsupportedFiltersError\n\nFilters in the request are valid, but not supported by the connector. Remove the unsupported filter(s) to get a successful response.\n\n#### UnsupportedSortFieldError\n\nSort field (`sort[by]`) in the request is valid, but not supported by the connector. Replace or remove the sort field to get a successful response.\n\n#### InvalidCursorError\n\nPagination cursor in the request is not valid for the current connector. Make sure to use a cursor returned from the API, for the same connector.\n\n#### ConnectorExecutionError\n\nA Unified API request made via one of our downstream connectors returned an unexpected error. The `status_code` returned is proxied through to error response along with their original response via the error detail.\n\n#### UnauthorizedError\n\nWe were unable to authorize the request as made. This can happen for a number of reasons, from missing header params to passing an incorrect authorization token. Verify your Api Key is being set correctly in the authorization header. ie: `Authorization: 'Bearer sk_live_***'`\n\n#### ConnectorCredentialsError\n\nA request using a given connector has not been authorized. Ensure the connector you are trying to use has been configured correctly and been authorized for use.\n\n#### ConnectorDisabledError\n\nA request has been made to a connector that has since been disabled. This may be temporary - You can contact our team to resolve the issue.\n\n#### ConnectorRateLimitError\n\nYou sent too many request to a connector. These rate limits vary from connector to connector. You will need to try again later.\n\n#### RequestLimitError\n\nYou have reached the number of requests included in your Free Tier Subscription. You will no be able to make further requests until this limit resets at the end of the month, or talk to us about upgrading your subscription to continue immediately.\n\n#### EntityNotFoundError\n\nYou've made a request for a resource or route that does not exist. Verify your path parameters or any identifiers used to fetch this resource.\n\n#### OAuthCredentialsNotFoundError\n\nWhen adding a connector integration that implements OAuth, both a `client_id` and `client_secret` must be provided before any authorizations can be performed. Verify the integration has been configured properly before continuing.\n\n#### IntegrationNotFoundError\n\nThe requested connector integration could not be found associated to your `application_id`. Verify your `application_id` is correct, and that this connector has been added and configured for your application.\n\n#### ConnectionNotFoundError\n\nA valid connection could not be found associated to your `application_id`. Something _may_ have interrupted the authorization flow. You may need to start the connector authorization process again.\n\n#### ConnectionSettingsError\n\nThe connector has required settings that were not supplied. Verify `connection.settings` contains all required settings for the connector to be callable.\n\n#### ConnectorNotFoundError\n\nA request was made for an unknown connector. Verify your `service_id` is spelled correctly, and that this connector is enabled for your provided `unified_api`.\n\n#### OAuthRedirectUriError\n\nA request was made either in a connector authorization flow, or attempting to revoke connector access without a valid `redirect_uri`. This is the url the user should be returned to on completion of process.\n\n#### OAuthInvalidStateError\n\nThe state param is required and is used to ensure the outgoing authorization state has not been altered before the user is redirected back. It also contains required params needed to identify the connector being used. If this has been altered, the authorization will not succeed.\n\n#### OAuthCodeExchangeError\n\nWhen attempting to exchange the authorization code for an `access_token` during an OAuth flow, an error occurred. This may be temporary. You can reattempt authorization or contact our team to resolve the issue.\n\n#### OAuthConnectorError\n\nIt seems something went wrong on the connector side. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.\n\n#### MappingError\n\nThere was an error attempting to retrieve the mapping for a given attribute. We've been notified and are working to fix this issue.\n\n#### ConnectorMappingNotFoundError\n\nIt seems the implementation for this connector is incomplete. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.\n\n#### ConnectorResponseMappingNotFoundError\n\nWe were unable to retrieve the response mapping for this connector. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.\n\n#### ConnectorOperationMappingNotFoundError\n\nConnector mapping has not been implemented for the requested operation. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.\n\n#### ConnectorWorkflowMappingError\n\nThe composite api calls required for this operation have not been mapped entirely. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.\n\n#### ConnectorOperationUnsupportedError\n\nYou're attempting a call that is not supported by the connector. It's likely this operation is supported by another connector, but we're unable to implement for this one.\n\n#### PaginationNotSupportedError\n\nPagination is not yet supported for this connector, try removing limit and/or cursor from the query. It's possible this connector is in `beta` or still under development. We've been notified and are working to fix this issue.\n\n## API Design\n\n### API Styles and data formats\n\n#### REST API\n\nThe API is organized around [REST](https://restfulapi.net/), providing simple and predictable URIs to access and modify objects. Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes. JSON is returned by all API responses, including errors. In all API requests, you must set the content-type HTTP header to application/json. All API requests must be made over HTTPS. Calls made over HTTP will fail.\n\n##### Available HTTP methods\n\nThe Apideck API uses HTTP verbs to understand if you want to read (GET), delete (DELETE) or create (POST) an object. When your web application cannot do a POST or DELETE, we provide the ability to set the method through the query parameter \\_method.\n\n```\nPOST /messages\nGET /messages\nGET /messages/{messageId}\nPATCH /messages/{messageId}\nDELETE /messages/{messageId}\n```\n\nResponse bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise. For some endpoints and use cases we divert from REST to provide a better developer experience.\n\n### Schema\n\nAll API requests and response bodies adhere to a common JSON format representing individual items, collections of items, links to related items and additional meta data.\n\n### Meta\n\nMeta data can be represented as a top level member named “meta”. Any information may be provided in the meta data. It’s most common use is to return the total number of records when requesting a collection of resources.\n\n### Idempotence (upcoming)\n\nTo prevent the creation of duplicate resources, every POST method (such as one that creates a consumer record) must specify a unique value for the X-Unique-Transaction-ID header name. Uniquely identifying each unique POST request ensures that the API processes a given request once and only once.\n\nUniquely identifying new resource-creation POSTs is especially important when the outcome of a response is ambiguous because of a transient service interruption, such as a server-side timeout or network disruption. If a service interruption occurs, then the client application can safely retry the uniquely identified request without creating duplicate operations. (API endpoints that guarantee that every uniquely identified request is processed only once no matter how many times that uniquely identifiable request is made are described as idempotent.)\n\n### Request IDs\n\nEach API request has an associated request identifier. You can find this value in the response headers, under Request-Id. You can also find request identifiers in the URLs of individual request logs in your Dashboard. If you need to contact us about a specific request, providing the request identifier will ensure the fastest possible resolution.\n\n### Fixed field types\n\n#### Dates\n\nThe dates returned by the API are all represented in UTC (ISO8601 format).\n\nThis example `2019-11-14T00:55:31.820Z` is defined by the ISO 8601 standard. The T in the middle separates the year-month-day portion from the hour-minute-second portion. The Z on the end means UTC, that is, an offset-from-UTC of zero hours-minutes-seconds. The Z is pronounced \"Zulu\" per military/aviation tradition.\n\nThe ISO 8601 standard is more modern. The formats are wisely designed to be easy to parse by machine as well as easy to read by humans across cultures.\n\n#### Prices and Currencies\n\nAll prices returned by the API are represented as integer amounts in a currency’s smallest unit. For example, $5 USD would be returned as 500 (i.e, 500 cents).\n\nFor zero-decimal currencies, amounts will still be provided as an integer but without the need to divide by 100. For example, an amount of ¥5 (JPY) would be returned as 5.\n\nAll currency codes conform to [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217).\n\n## Support\n\nIf you have problems or need help with your case, you can always reach out to our Support.\n\n",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "File storage API",
    "version": "10.0.0",
    "x-apideck-api": "file-storage",
    "x-apideck-sdk-support": true,
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://developers.apideck.com/icon.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/apideck-libraries/openapi-specs/master/file-storage.yml",
        "version": "3.0"
      }
    ],
    "x-providerName": "apideck.com",
    "x-serviceName": "file-storage",
    "x-tags": [
      "partner"
    ]
  },
  "externalDocs": {
    "description": "Apideck Developer Docs",
    "url": "https://developers.apideck.com"
  },
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "description": "Files resource represents files stored in the cloud storage services. It provides methods for managing and accessing the files, such as uploading, downloading, and deleting files. For more information on uploads, refer to the [file upload guide](/guides/file-upload).",
      "name": "Files",
      "x-apideck-model": {
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "description": "The date and time when the object was created.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Created at (timestamp)",
            "type": "string"
          },
          "created_by": {
            "description": "The user who created the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Created by",
            "type": "string"
          },
          "custom_mappings": {
            "description": "When custom mappings are configured on the resource, the result is included here.",
            "nullable": true,
            "type": "object",
            "x-apideck-schema-id": "CustomMappings"
          },
          "description": {
            "description": "Optional description of the file",
            "example": "A sample image",
            "nullable": true,
            "type": "string"
          },
          "downloadable": {
            "description": "Whether the current user can download this file",
            "type": "boolean"
          },
          "downstream_id": {
            "description": "The third-party API ID of original entity",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "export_formats": {
            "description": "The available file formats when exporting this file.",
            "example": [
              "application/pdf",
              "application/vnd.oasis.opendocument.presentation",
              "text/plain"
            ],
            "items": {
              "description": "An available file format (typically MIME type) to export this file.",
              "example": "application/pdf",
              "type": "string"
            },
            "nullable": true,
            "type": "array"
          },
          "exportable": {
            "description": "Whether the current file is exportable to other file formats. This property is relevant for proprietary file formats such as Google Docs or Dropbox Paper.",
            "type": "boolean"
          },
          "id": {
            "description": "A unique identifier for an object.",
            "example": "12345",
            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "mime_type": {
            "description": "The MIME type of the file.",
            "example": "image/jpeg",
            "nullable": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the file",
            "example": "sample.jpg",
            "nullable": true,
            "type": "string"
          },
          "owner": {
            "properties": {
              "email": {
                "description": "Email of the owner",
                "example": "hello@apideck.com",
                "nullable": true,
                "readOnly": true,
                "type": "string"
              },
              "id": {
                "description": "ID of the owner",
                "example": "12345",
                "readOnly": true,
                "type": "string"
              },
              "name": {
                "description": "Name of the owner",
                "example": "Elon Musk",
                "nullable": true,
                "readOnly": true,
                "type": "string"
              }
            },
            "readOnly": true,
            "type": "object",
            "x-apideck-schema-id": "Owner",
            "x-apideck-weights": {
              "id": "critical"
            }
          },
          "parent_folders": {
            "description": "The parent folders of the file, starting from the root",
            "items": {
              "properties": {
                "id": {
                  "description": "A unique identifier for an object.",
                  "example": "12345",
                  "readOnly": true,
                  "title": "ID",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the folder",
                  "example": "Personal",
                  "nullable": true,
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "type": "object",
              "x-apideck-schema-id": "LinkedFolder",
              "x-apideck-weights": {
                "id": "critical"
              }
            },
            "type": "array"
          },
          "parent_folders_complete": {
            "description": "Whether the list of parent folders is complete. Some connectors only return the direct parent of a file",
            "type": "boolean"
          },
          "path": {
            "description": "The full path of the file or folder (includes the file name)",
            "example": "/Documents/sample.jpg",
            "nullable": true,
            "type": "string"
          },
          "permissions": {
            "description": "Permissions the current user has on this file.",
            "properties": {
              "download": {
                "description": "Whether the current user can download this file.",
                "type": "boolean"
              }
            },
            "type": "object"
          },
          "size": {
            "description": "The size of the file in bytes",
            "example": 1810673,
            "nullable": true,
            "type": "integer",
            "x-apideck-schema-id": "FileSize"
          },
          "type": {
            "description": "The type of resource. Could be file, folder or url",
            "enum": [
              "file",
              "folder",
              "url"
            ],
            "example": "file",
            "nullable": true,
            "readOnly": true,
            "type": "string",
            "x-apideck-enum-id": "files.type",
            "x-apideck-schema-id": "FileType"
          },
          "updated_at": {
            "description": "The date and time when the object was last updated.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Updated at (timestamp)",
            "type": "string"
          },
          "updated_by": {
            "description": "The user who last updated the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Updated by",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "type"
        ],
        "type": "object",
        "x-apideck-schema-id": "UnifiedFile",
        "x-apideck-weights": {
          "created_at": "high",
          "downloadable": "high",
          "downstream_id": "edge-case",
          "id": "critical",
          "mime_type": "high",
          "name": "critical",
          "parent_folders": "high",
          "parent_folders_complete": "critical",
          "size": "high",
          "type": "critical",
          "updated_at": "critical"
        }
      },
      "x-apideck-resource-id": "files"
    },
    {
      "description": "Folders resource represents the folders within a drive in the cloud storage service. It provides methods for managing and accessing the folders, such as creating, deleting, and listing files & folders in a given folder.",
      "name": "Folders",
      "x-apideck-model": {
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "description": "The date and time when the object was created.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Created at (timestamp)",
            "type": "string"
          },
          "created_by": {
            "description": "The user who created the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Created by",
            "type": "string"
          },
          "custom_mappings": {
            "description": "When custom mappings are configured on the resource, the result is included here.",
            "nullable": true,
            "type": "object",
            "x-apideck-schema-id": "CustomMappings"
          },
          "description": {
            "description": "Optional description of the folder",
            "example": "My Personal Documents",
            "nullable": true,
            "type": "string"
          },
          "id": {
            "description": "A unique identifier for an object.",
            "example": "12345",
            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "name": {
            "description": "The name of the folder",
            "example": "Documents",
            "type": "string"
          },
          "owner": {
            "properties": {
              "email": {
                "description": "Email of the owner",
                "example": "hello@apideck.com",
                "nullable": true,
                "readOnly": true,
                "type": "string"
              },
              "id": {
                "description": "ID of the owner",
                "example": "12345",
                "readOnly": true,
                "type": "string"
              },
              "name": {
                "description": "Name of the owner",
                "example": "Elon Musk",
                "nullable": true,
                "readOnly": true,
                "type": "string"
              }
            },
            "readOnly": true,
            "type": "object",
            "x-apideck-schema-id": "Owner",
            "x-apideck-weights": {
              "id": "critical"
            }
          },
          "parent_folders": {
            "description": "The parent folders of the file, starting from the root",
            "items": {
              "properties": {
                "id": {
                  "description": "A unique identifier for an object.",
                  "example": "12345",
                  "readOnly": true,
                  "title": "ID",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the folder",
                  "example": "Personal",
                  "nullable": true,
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "type": "object",
              "x-apideck-schema-id": "LinkedFolder",
              "x-apideck-weights": {
                "id": "critical"
              }
            },
            "type": "array"
          },
          "parent_folders_complete": {
            "description": "Whether the list of parent folder is complete. Some connectors only return the direct parent of a folder",
            "readOnly": true,
            "type": "boolean"
          },
          "path": {
            "description": "The full path of the folder (includes the folder name)",
            "example": "/Personal/Documents",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "size": {
            "description": "The size of the folder in bytes",
            "example": 1810673,
            "nullable": true,
            "readOnly": true,
            "type": "integer"
          },
          "updated_at": {
            "description": "The date and time when the object was last updated.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Updated at (timestamp)",
            "type": "string"
          },
          "updated_by": {
            "description": "The user who last updated the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Updated by",
            "type": "string"
          }
        },
        "required": [
          "name",
          "parent_folders"
        ],
        "type": "object",
        "x-apideck-schema-id": "Folder",
        "x-apideck-weights": {
          "created_at": "high",
          "id": "critical",
          "name": "critical",
          "parent_folders": "high",
          "parent_folders_complete": "critical",
          "size": "low",
          "updated_at": "critical"
        }
      },
      "x-apideck-resource-id": "folders"
    },
    {
      "description": "Shared links resource represents the links to files and folders in the cloud storage service that have been shared with other users. It provides methods for managing and accessing the shared links, such as creating, deleting, and listing shared links. A shared link allows other users to access the file or folder that it points to, either by viewing it online or by downloading it.",
      "name": "Shared Links",
      "x-apideck-model": {
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "description": "The date and time when the object was created.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Created at (timestamp)",
            "type": "string"
          },
          "download_url": {
            "description": "The URL that can be used to download the file.",
            "example": "https://www.box.com/shared/static/rh935iit6ewrmw0unyul.jpeg",
            "nullable": true,
            "type": "string"
          },
          "expires_at": {
            "example": "2022-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "password": {
            "description": "Optional password for the shared link.",
            "nullable": true,
            "type": "string",
            "writeOnly": true
          },
          "password_protected": {
            "description": "Indicated if the shared link is password protected.",
            "nullable": true,
            "readOnly": true,
            "type": "boolean"
          },
          "scope": {
            "description": "The scope of the shared link.",
            "enum": [
              "public",
              "company"
            ],
            "example": "company",
            "nullable": true,
            "type": "string",
            "x-apideck-enum-id": "files.scope"
          },
          "target": {
            "additionalProperties": false,
            "properties": {
              "id": {
                "description": "A unique identifier for an object.",
                "example": "12345",
                "readOnly": true,
                "title": "ID",
                "type": "string"
              },
              "name": {
                "description": "The name of the file",
                "example": "sample.jpg",
                "nullable": true,
                "type": "string"
              },
              "type": {
                "description": "The type of resource. Could be file, folder or url",
                "enum": [
                  "file",
                  "folder",
                  "url"
                ],
                "example": "file",
                "nullable": true,
                "readOnly": true,
                "type": "string",
                "x-apideck-enum-id": "files.type",
                "x-apideck-schema-id": "FileType"
              }
            },
            "readOnly": true,
            "required": [
              "id"
            ],
            "type": "object",
            "x-apideck-schema-id": "SharedLinkTarget",
            "x-apideck-weights": {
              "id": "critical"
            }
          },
          "target_id": {
            "description": "The ID of the file or folder to link.",
            "nullable": true,
            "type": "string",
            "writeOnly": true
          },
          "updated_at": {
            "description": "The date and time when the object was last updated.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Updated at (timestamp)",
            "type": "string"
          },
          "url": {
            "description": "The URL that can be used to view the file.",
            "example": "https://www.box.com/s/vspke7y05sb214wjokpk",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "target_id"
        ],
        "type": "object",
        "x-apideck-schema-id": "SharedLink",
        "x-apideck-weights": {
          "created_at": "medium",
          "download_url": "high",
          "expires_at": "high",
          "password": "low",
          "password_protected": "low",
          "scope": "high",
          "target": "critical",
          "target_id": "critical",
          "updated_at": "medium",
          "url": "critical"
        }
      },
      "x-apideck-resource-id": "shared-links"
    },
    {
      "description": "Upload sessions resource represents the sessions used for uploading files to the cloud storage service. It provides methods for managing and accessing the upload sessions, such as creating and resuming upload sessions. An upload session allows for efficient uploading of large files by breaking them into smaller chunks and uploading each chunk individually.",
      "name": "Upload Sessions",
      "x-apideck-model": {
        "additionalProperties": false,
        "properties": {
          "expires_at": {
            "example": "2022-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "A unique identifier for an object.",
            "example": "12345",
            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "parallel_upload_supported": {
            "description": "Indicates if parts of the file can uploaded in parallel.",
            "example": true,
            "readOnly": true,
            "type": "boolean"
          },
          "part_size": {
            "description": "Size in bytes of each part of the file that you will upload. Uploaded parts need to be this size for the upload to be successful.",
            "example": 1000000,
            "readOnly": true,
            "type": "number"
          },
          "success": {
            "description": "Indicates if the upload session was completed successfully.",
            "example": true,
            "readOnly": true,
            "type": "boolean"
          },
          "uploaded_byte_range": {
            "description": "The range of bytes that was successfully uploaded.",
            "example": "0-42",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object",
        "x-apideck-schema-id": "UploadSession",
        "x-apideck-weights": {
          "expires_at": "medium",
          "id": "critical",
          "parallel_upload_supported": "critical",
          "part_size": "critical",
          "success": "critical",
          "uploaded_byte_range": "low"
        }
      },
      "x-apideck-resource-id": "upload-sessions"
    },
    {
      "description": "Drives resource represents logical containers for storing folders and files in the cloud storage service. It provides methods for managing and accessing the drives, such as creating, deleting, and listing drives.",
      "name": "Drives",
      "x-apideck-model": {
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "description": "The date and time when the object was created.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Created at (timestamp)",
            "type": "string"
          },
          "created_by": {
            "description": "The user who created the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Created by",
            "type": "string"
          },
          "custom_mappings": {
            "description": "When custom mappings are configured on the resource, the result is included here.",
            "nullable": true,
            "type": "object",
            "x-apideck-schema-id": "CustomMappings"
          },
          "description": {
            "description": "A description of the object.",
            "example": "A description",
            "nullable": true,
            "title": "Description",
            "type": "string"
          },
          "id": {
            "description": "A unique identifier for an object.",
            "example": "12345",
            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "name": {
            "description": "The name of the drive",
            "example": "Project Resources",
            "type": "string"
          },
          "updated_at": {
            "description": "The date and time when the object was last updated.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Updated at (timestamp)",
            "type": "string"
          },
          "updated_by": {
            "description": "The user who last updated the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Updated by",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "x-apideck-schema-id": "Drive",
        "x-apideck-weights": {
          "created_at": "critical",
          "created_by": "edge-case",
          "id": "critical",
          "name": "critical",
          "updated_at": "critical",
          "updated_by": "edge-case"
        }
      },
      "x-apideck-resource-id": "drives"
    },
    {
      "description": "Drive Groups resource represents the groups of drives in the cloud storage service. It provides methods for managing and accessing the drive groups, such as creating, deleting, and listing drive groups. A drive group is a logical grouping of drives, which can be used to manage the drives in the cloud storage service.",
      "name": "Drive Groups",
      "x-apideck-model": {
        "additionalProperties": false,
        "properties": {
          "created_at": {
            "description": "The date and time when the object was created.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Created at (timestamp)",
            "type": "string"
          },
          "created_by": {
            "description": "The user who created the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Created by",
            "type": "string"
          },
          "custom_mappings": {
            "description": "When custom mappings are configured on the resource, the result is included here.",
            "nullable": true,
            "type": "object",
            "x-apideck-schema-id": "CustomMappings"
          },
          "description": {
            "description": "A description of the object.",
            "example": "A description",
            "nullable": true,
            "title": "Description",
            "type": "string"
          },
          "display_name": {
            "description": "The display name of the drive group",
            "example": "accounting",
            "nullable": true,
            "type": "string"
          },
          "id": {
            "description": "A unique identifier for an object.",
            "example": "12345",
            "readOnly": true,
            "title": "ID",
            "type": "string"
          },
          "name": {
            "description": "The name of the drive group",
            "example": "accounting",
            "type": "string"
          },
          "updated_at": {
            "description": "The date and time when the object was last updated.",
            "example": "2020-09-30T07:43:32+00:00",
            "format": "date-time",
            "nullable": true,
            "readOnly": true,
            "title": "Updated at (timestamp)",
            "type": "string"
          },
          "updated_by": {
            "description": "The user who last updated the object.",
            "example": "12345",
            "nullable": true,
            "readOnly": true,
            "title": "Updated by",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "x-apideck-schema-id": "DriveGroup",
        "x-apideck-weights": {
          "created_at": "critical",
          "created_by": "edge-case",
          "id": "critical",
          "name": "critical",
          "updated_at": "critical",
          "updated_by": "edge-case"
        }
      },
      "x-apideck-resource-id": "drive-groups"
    }
  ],
  "paths": {
    "/file-storage/drive-groups": {
      "get": {
        "description": "List DriveGroups",
        "operationId": "drivegroupsall",
        "parameters": [
          {
            "description": "Include raw response. Mostly used for debugging purposes",
            "in": "query",
            "name": "raw",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "ID of the consumer which you want to get or push data from",
            "in": "header",
            "name": "x-apideck-consumer-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of your Unify application",
            "example": "dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX",
            "in": "header",
            "name": "x-apideck-app-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.",
            "in": "header",
            "name": "x-apideck-service-id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.",
            "in": "query",
            "name": "cursor",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "description": "Number of results to return. Minimum 1, Maximum 200, Default 20",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 20,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Apply filters",
            "explode": true,
            "in": "query",
            "name": "filter",
            "schema": {
              "additionalProperties": false,
              "properties": {
                "parent_group_id": {
                  "description": "ID of the drive group to filter on",
                  "example": "1234",
                  "type": "string"
                }
              },
              "type": "object",
              "x-apideck-schema-id": "DriveGroupsFilter"
            },
            "style": "deepObject"
          },
          {
            "description": "Optional unmapped key/values that will be passed through to downstream as query parameters. Ie: ?pass_through[search]=leads becomes ?search=leads",
            "explode": true,
            "in": "query",
            "name": "pass_through",
            "schema": {
              "additionalProperties": true,
              "example": {
                "search": "San Francisco"
              },
              "properties": {
                "example_downstream_property": {
                  "description": "All passthrough query parameters are passed along to the connector as is (?pass_through[search]=leads becomes ?search=leads)",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "style": "deepObject"
          },
          {
            "description": "The 'fields' parameter allows API users to specify the fields they want to include in the API response. If this parameter is not present, the API will return all available fields. If this parameter is present, only the fields specified in the comma-separated string will be included in the response. Nested properties can also be requested by using a dot notation. <br /><br />Example: `fields=name,email,addresses.city`<br /><br />In the example above, the response will only include the fields \"name\", \"email\" and \"addresses.city\". If any other fields are available, they will be excluded.",
            "example": "id,updated_at",
            "in": "query",
            "name": "fields",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "items": {
                        "additionalProperties": false,
                        "properties": {
                          "created_at": {
                            "description": "The date and time when the object was created.",
                            "example": "2020-09-30T07:43:32+00:00",
                            "format": "date-time",
                            "nullable": true,
                            "readOnly": true,
                            "title": "Created at (timestamp)",
                            "type": "string"
                          },
                          "created_by": {
                            "description": "The user who created the object.",
                            "example": "12345",
                            "nullable": true,
                            "readOnly": true,
                            "title": "Created by",
                            "type": "string"
                          },
                          "custom_mappings": {
                            "description": "When custom mappings are configured on the resource, the result is included here.",
                            "nullable": true,
                            "type": "object",
                            "x-apideck-schema-id": "CustomMappings"
                          },
                          "description": {
                            "description": "A description of the object.",
                            "example": "A description",
                            "nullable": true,
                            "title": "Description",
                            "type": "string"
                          },
                          "display_name": {
                            "description": "The display name of the drive group",
                            "example": "accounting",
                            "nullable": true,
                            "type": "string"
                          },
                          "id": {
                            "description": "A unique identifier for an object.",
                            "example": "12345",
                            "readOnly": true,
                            "title": "ID",
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the drive group",
                            "example": "accounting",
                            "type": "string"
                          },
                          "updated_at": {
                            "description": "The date and time when the object was last updated.",
                            "example": "2020-09-30T07:43:32+00:00",
                            "format": "date-time",
                            "nullable": true,
                            "readOnly": true,
                            "title": "Updated at (timestamp)",
                            "type": "string"
                          },
                          "updated_by": {
                            "description": "The user who last updated the object.",
                            "example": "12345",
                            "nullable": true,
                            "readOnly": true,
                            "title": "Updated by",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name"
                        ],
                        "type": "object",
                        "x-apideck-schema-id": "DriveGroup",
                        "x-apideck-weights": {
                          "created_at": "critical",
                          "created_by": "edge-case",
                          "id": "critical",
                          "name": "critical",
                          "updated_at": "critical",
                          "updated_by": "edge-case"
                        }
                      },
                      "type": "array"
                    },
                    "links": {
                      "description": "Links to navigate to previous or next pages through the API",
                      "properties": {
                        "current": {
                          "description": "Link to navigate to the current page through the API",
                          "example": "https://unify.apideck.com/crm/companies",
                          "type": "string"
                        },
                        "next": {
                          "description": "Link to navigate to the previous page through the API",
                          "example": "https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjM",
                          "nullable": true,
                          "type": "string"
                        },
                        "previous": {
                          "description": "Link to navigate to the previous page through the API",
                          "example": "https://unify.apideck.com/crm/companies?cursor=em9oby1jcm06OnBhZ2U6OjE%3D",
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object",
                      "x-apideck-schema-id": "Links"
                    },
                    "meta": {
                      "description": "Response metadata",
                      "properties": {
                        "cursors": {
                          "description": "Cursors to navigate to previous or next pages through the API",
                          "properties": {
                            "current": {
                              "description": "Cursor to navigate to the current page of results through the API",
                              "example": "em9oby1jcm06OnBhZ2U6OjI=",
                              "nullable": true,
                              "type": "string"
                            },
                            "next": {
                              "description": "Cursor to navigate to the next page of results through the API",
                              "example": "em9oby1jcm06OnBhZ2U6OjM=",
                              "nullable": true,
                              "type": "string"
                            },
                            "previous": {
                              "description": "Cursor to navigate to the previous page of results through the API",
                              "example": "em9oby1jcm06OnBhZ2U6OjE=",
                              "nullable": true,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "items_on_page": {
                          "description": "Number of items returned in the data property of the response",
                          "example": 50,
                          "type": "integer"
                        }
                      },
                      "type": "object",
                      "x-apideck-schema-id": "Meta"
                    },
                    "operation": {
                      "description": "Operation performed",
                      "example": "all",
                      "type": "string"
                    },
                    "resource": {
                      "description": "Unified API resource name",
                      "example": "DriveGroups",
                      "type": "string"
                    },
                    "service": {
                      "description": "Apideck ID of service provider",
                      "example": "google-drive",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP Response Status",
                      "example": "OK",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP Response Status Code",
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "required": [
                    "status_code",
                    "status",
                    "service",
                    "resource",
                    "operation",
                    "data"
                  ],
                  "type": "object",
                  "x-apideck-schema-id": "GetDriveGroupsResponse"
                }
              }
            },
            "description": "DriveGroups"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "anyOf": [
                        {
                          "example": "Missing property foobar",
                          "type": "string"
                        },
                        {
                          "example": {
                            "missing": [
                              {
                                "foobar": "required"
                              }
                            ]
                          },
                          "type": "object"
                        }
                      ],
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "_polymorphic_marker": {
                        "anyOf": true
                      }
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Bad Request",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Invalid Params",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#requestvalidationerror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 400,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "RequestValidationError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "example": "Failed to generate valid JWT Session. Verify applicationId is correct",
                      "type": "string"
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Unauthorized",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Unauthorized Request",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#unauthorizederror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 401,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "UnauthorizedError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "example": "You have reached your limit of 2000",
                      "type": "string"
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Payment Required",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Request Limit Reached",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#requestlimiterror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 402,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "RequestLimitError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "PaymentRequired"
                }
              }
            },
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "anyOf": [
                        {
                          "example": "Could not find widget with id: '123'",
                          "type": "string"
                        },
                        {
                          "example": {
                            "not_found": {
                              "entity": "widget",
                              "id": "123"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "_polymorphic_marker": {
                        "anyOf": true
                      }
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Unknown Widget",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#entitynotfounderror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 404,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "EntityNotFoundError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "NotFound"
                }
              }
            },
            "description": "The specified resource was not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "example": "Unprocessable request, please verify your request headers and body.",
                      "type": "string"
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Unprocessable Entity",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Invalid State",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#invalidstateerror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 422,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "InvalidStateError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "Unprocessable"
                }
              }
            },
            "description": "Unprocessable"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "anyOf": [
                        {
                          "example": "Missing Header: x-apideck-consumer-id",
                          "type": "string"
                        },
                        {
                          "example": {
                            "missing": [
                              {
                                "x-apideck-consumer-id": "required"
                              }
                            ]
                          },
                          "type": "object"
                        }
                      ],
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "_polymorphic_marker": {
                        "anyOf": true
                      }
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Bad Request",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Invalid Params",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#unauthorizederror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 400,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "RequestHeadersValidationError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "List DriveGroups",
        "tags": [
          "Drive Groups"
        ],
        "x-apideck-api": "fileStorage",
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\ntry {\n  const { data } = await apideck.fileStorage.driveGroupsAll({})\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ]
      },
      "post": {
        "description": "Create DriveGroup",
        "operationId": "drivegroupsadd",
        "parameters": [
          {
            "description": "Include raw response. Mostly used for debugging purposes",
            "in": "query",
            "name": "raw",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "ID of the consumer which you want to get or push data from",
            "in": "header",
            "name": "x-apideck-consumer-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of your Unify application",
            "example": "dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX",
            "in": "header",
            "name": "x-apideck-app-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.",
            "in": "header",
            "name": "x-apideck-service-id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "created_at": {
                    "description": "The date and time when the object was created.",
                    "example": "2020-09-30T07:43:32+00:00",
                    "format": "date-time",
                    "nullable": true,
                    "readOnly": true,
                    "title": "Created at (timestamp)",
                    "type": "string"
                  },
                  "created_by": {
                    "description": "The user who created the object.",
                    "example": "12345",
                    "nullable": true,
                    "readOnly": true,
                    "title": "Created by",
                    "type": "string"
                  },
                  "custom_mappings": {
                    "description": "When custom mappings are configured on the resource, the result is included here.",
                    "nullable": true,
                    "type": "object",
                    "x-apideck-schema-id": "CustomMappings"
                  },
                  "description": {
                    "description": "A description of the object.",
                    "example": "A description",
                    "nullable": true,
                    "title": "Description",
                    "type": "string"
                  },
                  "display_name": {
                    "description": "The display name of the drive group",
                    "example": "accounting",
                    "nullable": true,
                    "type": "string"
                  },
                  "id": {
                    "description": "A unique identifier for an object.",
                    "example": "12345",
                    "readOnly": true,
                    "title": "ID",
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the drive group",
                    "example": "accounting",
                    "type": "string"
                  },
                  "updated_at": {
                    "description": "The date and time when the object was last updated.",
                    "example": "2020-09-30T07:43:32+00:00",
                    "format": "date-time",
                    "nullable": true,
                    "readOnly": true,
                    "title": "Updated at (timestamp)",
                    "type": "string"
                  },
                  "updated_by": {
                    "description": "The user who last updated the object.",
                    "example": "12345",
                    "nullable": true,
                    "readOnly": true,
                    "title": "Updated by",
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "type": "object",
                "x-apideck-schema-id": "DriveGroup",
                "x-apideck-weights": {
                  "created_at": "critical",
                  "created_by": "edge-case",
                  "id": "critical",
                  "name": "critical",
                  "updated_at": "critical",
                  "updated_by": "edge-case"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "description": "The unique identifier of the resource",
                          "example": "12345",
                          "readOnly": true,
                          "title": "Id",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "title": "UnifiedId",
                      "type": "object",
                      "x-apideck-schema-id": "Id"
                    },
                    "operation": {
                      "description": "Operation performed",
                      "example": "add",
                      "type": "string"
                    },
                    "resource": {
                      "description": "Unified API resource name",
                      "example": "DriveGroups",
                      "type": "string"
                    },
                    "service": {
                      "description": "Apideck ID of service provider",
                      "example": "google-drive",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP Response Status",
                      "example": "OK",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP Response Status Code",
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "required": [
                    "status_code",
                    "status",
                    "service",
                    "resource",
                    "operation",
                    "data"
                  ],
                  "type": "object",
                  "x-apideck-schema-id": "CreateDriveGroupResponse"
                }
              }
            },
            "description": "DriveGroups"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "anyOf": [
                        {
                          "example": "Missing property foobar",
                          "type": "string"
                        },
                        {
                          "example": {
                            "missing": [
                              {
                                "foobar": "required"
                              }
                            ]
                          },
                          "type": "object"
                        }
                      ],
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "_polymorphic_marker": {
                        "anyOf": true
                      }
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Bad Request",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Invalid Params",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#requestvalidationerror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 400,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "RequestValidationError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "BadRequest"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "example": "Failed to generate valid JWT Session. Verify applicationId is correct",
                      "type": "string"
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Unauthorized",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Unauthorized Request",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#unauthorizederror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 401,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "UnauthorizedError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "Unauthorized"
                }
              }
            },
            "description": "Unauthorized"
          },
          "402": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "example": "You have reached your limit of 2000",
                      "type": "string"
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Payment Required",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Request Limit Reached",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#requestlimiterror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 402,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "RequestLimitError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "PaymentRequired"
                }
              }
            },
            "description": "Payment Required"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "anyOf": [
                        {
                          "example": "Could not find widget with id: '123'",
                          "type": "string"
                        },
                        {
                          "example": {
                            "not_found": {
                              "entity": "widget",
                              "id": "123"
                            }
                          },
                          "type": "object"
                        }
                      ],
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "_polymorphic_marker": {
                        "anyOf": true
                      }
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Not Found",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Unknown Widget",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#entitynotfounderror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 404,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "EntityNotFoundError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "NotFound"
                }
              }
            },
            "description": "The specified resource was not found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "example": "Unprocessable request, please verify your request headers and body.",
                      "type": "string"
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Unprocessable Entity",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Invalid State",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#invalidstateerror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 422,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "InvalidStateError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "Unprocessable"
                }
              }
            },
            "description": "Unprocessable"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "anyOf": [
                        {
                          "example": "Missing Header: x-apideck-consumer-id",
                          "type": "string"
                        },
                        {
                          "example": {
                            "missing": [
                              {
                                "x-apideck-consumer-id": "required"
                              }
                            ]
                          },
                          "type": "object"
                        }
                      ],
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "_polymorphic_marker": {
                        "anyOf": true
                      }
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Bad Request",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Invalid Params",
                      "type": "string"
                    },
                    "ref": {
                      "description": "Link to documentation of error type",
                      "example": "https://developers.apideck.com/errors#unauthorizederror",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP status code",
                      "example": 400,
                      "type": "number"
                    },
                    "type_name": {
                      "description": "The type of error returned",
                      "example": "RequestHeadersValidationError",
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-apideck-schema-id": "Error"
                }
              }
            },
            "description": "Unexpected error"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ],
        "summary": "Create DriveGroup",
        "tags": [
          "Drive Groups"
        ],
        "x-apideck-api": "fileStorage",
        "x-codeSamples": [
          {
            "label": "Node",
            "lang": "TypeScript",
            "source": "import { Apideck } from '@apideck/node'\n\nconst apideck = new Apideck({\n  apiKey: 'REPLACE_WITH_API_KEY',\n  appId: 'REPLACE_WITH_APP_ID',\n  consumerId: 'REPLACE_WITH_CONSUMER_ID'\n})\n\nconst params = {\n  driveGroup: {\n    name: 'accounting',\n    display_name: 'accounting',\n    description: 'A description',\n    custom_mappings: {}\n  }\n}\n\ntry {\n  const { data } = await apideck.fileStorage.driveGroupsAdd(params)\n  console.log('API called successfully', data)\n} catch (error) {\n  console.error(error)\n}\n"
          }
        ]
      }
    },
    "/file-storage/drive-groups/id": {
      "delete": {
        "description": "Delete DriveGroup",
        "operationId": "drivegroupsdelete-v2",
        "parameters": [
          {
            "description": "ID of the record you are acting upon.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the consumer which you want to get or push data from",
            "in": "header",
            "name": "x-apideck-consumer-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The ID of your Unify application",
            "example": "dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX",
            "in": "header",
            "name": "x-apideck-app-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.",
            "in": "header",
            "name": "x-apideck-service-id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include raw response. Mostly used for debugging purposes",
            "in": "query",
            "name": "raw",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "properties": {
                        "id": {
                          "description": "The unique identifier of the resource",
                          "example": "12345",
                          "readOnly": true,
                          "title": "Id",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "title": "UnifiedId",
                      "type": "object",
                      "x-apideck-schema-id": "Id"
                    },
                    "operation": {
                      "description": "Operation performed",
                      "example": "delete",
                      "type": "string"
                    },
                    "resource": {
                      "description": "Unified API resource name",
                      "example": "DriveGroups",
                      "type": "string"
                    },
                    "service": {
                      "description": "Apideck ID of service provider",
                      "example": "google-drive",
                      "type": "string"
                    },
                    "status": {
                      "description": "HTTP Response Status",
                      "example": "OK",
                      "type": "string"
                    },
                    "status_code": {
                      "description": "HTTP Response Status Code",
                      "example": 200,
                      "type": "integer"
                    }
                  },
                  "required": [
                    "status_code",
                    "status",
                    "service",
                    "resource",
                    "operation",
                    "data"
                  ],
                  "type": "object",
                  "x-apideck-schema-id": "DeleteDriveGroupResponse"
                }
              }
            },
            "description": "DriveGroups"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "detail": {
                      "anyOf": [
                        {
                          "example": "Missing property foobar",
                          "type": "string"
                        },
                        {
                          "example": {
                            "missing": [
                              {
                                "foobar": "required"
                              }
                            ]
                          },
                          "type": "object"
                        }
                      ],
                      "description": "Contains parameter or domain specific information related to the error and why it occurred.",
                      "_polymorphic_marker": {
                        "anyOf": true
                      }
                    },
                    "error": {
                      "description": "Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)",
                      "example": "Bad Request",
                      "type": "string"
                    },
                    "message": {
                      "description": "A human-readable message providing more details about the error.",
                      "example": "Invalid Params",
                      "type": "string"
                    },
                    "ref": {
[...]
