{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.api2cart.com/v1.1"
    }
  ],
  "info": {
    "contact": {
      "email": "contact@api2cart.com",
      "x-twitter": "API2Cart"
    },
    "description": "API2Cart",
    "termsOfService": "https://api2cart.com/terms-service",
    "title": "Swagger API2Cart",
    "version": "1.1",
    "x-apisguru-categories": [
      "ecommerce"
    ],
    "x-logo": {
      "url": "https://twitter.com/API2Cart/profile_image?size=original"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://app.api2cart.com/default/index/swagger-json",
        "version": "3.0"
      }
    ],
    "x-providerName": "api2cart.com"
  },
  "externalDocs": {
    "description": "Find out more about API2Cart",
    "url": "http://docs.api2cart.com"
  },
  "tags": [
    {
      "name": "account"
    },
    {
      "name": "cart"
    },
    {
      "name": "product"
    },
    {
      "name": "category"
    },
    {
      "name": "order"
    },
    {
      "name": "customer"
    },
    {
      "name": "attribute"
    },
    {
      "name": "tax"
    },
    {
      "name": "webhook"
    }
  ],
  "paths": {
    "/profiles/{id}": {
      "put": {
        "description": "Update Webhooks parameters.",
        "operationId": "webhookupdate",
        "parameters": [
          {
            "description": "Webhook id",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Callback url that returns shipping rates. It should be able to accept POST requests with json data.",
            "in": "query",
            "name": "callback",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name you give to the webhook",
            "in": "query",
            "name": "label",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fields the webhook should send",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Webhook status",
            "in": "query",
            "name": "active",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "updated": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "webhook"
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Get info about tax",
        "operationId": "taxclassinfo-v2",
        "parameters": [
          {
            "description": "Retrieves taxes specified by class id",
            "in": "query",
            "name": "tax_class_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Store Id",
            "in": "query",
            "name": "store_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Language id",
            "in": "query",
            "name": "lang_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set this parameter in order to choose which entity fields you want to retrieve",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "default": "tax_class_id,name,avail",
              "type": "string"
            }
          },
          {
            "description": "Set this parameter in order to choose which entity fields you want to retrieve",
            "in": "query",
            "name": "response_fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
            "in": "query",
            "name": "exclude",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "additional_fields": {
                          "type": "object"
                        },
                        "avail": {
                          "type": "boolean"
                        },
                        "custom_fields": {
                          "type": "object"
                        },
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "tax": {
                          "type": "number"
                        },
                        "tax_rates": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "address": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "cities": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "countries": {
                                "items": {
                                  "properties": {
                                    "additional_fields": {
                                      "type": "object"
                                    },
                                    "code": {
                                      "type": "string"
                                    },
                                    "custom_fields": {
                                      "type": "object"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "states": {
                                      "items": {
                                        "properties": {
                                          "additional_fields": {
                                            "type": "object"
                                          },
                                          "code": {
                                            "type": "string"
                                          },
                                          "custom_fields": {
                                            "type": "object"
                                          },
                                          "id": {
                                            "type": "string"
                                          },
                                          "name": {
                                            "type": "string"
                                          },
                                          "tax": {
                                            "type": "number"
                                          },
                                          "tax_type": {
                                            "type": "integer"
                                          },
                                          "zip_codes": {
                                            "items": {
                                              "properties": {
                                                "additional_fields": {
                                                  "type": "object"
                                                },
                                                "custom_fields": {
                                                  "type": "object"
                                                },
                                                "fields": {
                                                  "items": {
                                                    "properties": {
                                                      "additional_fields": {
                                                        "type": "object"
                                                      },
                                                      "custom_fields": {
                                                        "type": "object"
                                                      },
                                                      "from": {
                                                        "type": "string"
                                                      },
                                                      "to": {
                                                        "type": "string"
                                                      }
                                                    },
                                                    "type": "object"
                                                  },
                                                  "type": "array"
                                                },
                                                "is_range": {
                                                  "type": "boolean"
                                                },
                                                "range": {
                                                  "items": {
                                                    "type": "string"
                                                  },
                                                  "type": "array"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "type": "array"
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "type": "array"
                                    },
                                    "tax": {
                                      "type": "number"
                                    },
                                    "tax_type": {
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "tax": {
                                "type": "number"
                              },
                              "tax_based_on": {
                                "type": "string"
                              },
                              "tax_type": {
                                "type": "integer"
                              },
                              "zip_codes": {
                                "items": {
                                  "properties": {
                                    "additional_fields": {
                                      "type": "object"
                                    },
                                    "custom_fields": {
                                      "type": "object"
                                    },
                                    "fields": {
                                      "items": {
                                        "properties": {
                                          "additional_fields": {
                                            "type": "object"
                                          },
                                          "custom_fields": {
                                            "type": "object"
                                          },
                                          "from": {
                                            "type": "string"
                                          },
                                          "to": {
                                            "type": "string"
                                          }
                                        },
                                        "type": "object"
                                      },
                                      "type": "array"
                                    },
                                    "is_range": {
                                      "type": "boolean"
                                    },
                                    "range": {
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "tax_type": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "tax"
        ]
      }
    },
    "/inventory/{id}": {
      "post": {
        "description": "Create webhook on the store and subscribe to it.",
        "operationId": "webhookcreate",
        "parameters": [
          {
            "description": "Specify the entity that you want to enable webhooks for (e.g product, order, customer, category)",
            "in": "query",
            "name": "entity",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Specify what action (event) will trigger the webhook (e.g add, delete, or update)",
            "in": "query",
            "name": "action",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Callback url that returns shipping rates. It should be able to accept POST requests with json data.",
            "in": "query",
            "name": "callback",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The name you give to the webhook",
            "in": "query",
            "name": "label",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Fields the webhook should send",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "default": "force_all",
              "type": "string"
            }
          },
          {
            "description": "Webhook status",
            "in": "query",
            "name": "active",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          },
          {
            "description": "Defines store id where the webhook should be assigned",
            "in": "query",
            "name": "store_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "webhook"
        ]
      }
    },
    "/payments/{id}": {
      "get": {
        "description": "List registered webhook on the store.",
        "operationId": "webhooklist",
        "parameters": [
          {
            "description": "Set this parameter in order to choose which entity fields you want to retrieve",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "default": "id,entity,action,callback",
              "type": "string"
            }
          },
          {
            "description": "This parameter sets the number from which you want to get entities",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "This parameter sets the entity amount that has to be retrieved. Max allowed count=250",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "default": 10,
              "type": "integer"
            }
          },
          {
            "description": "The entity you want to filter webhooks by (e.g. order or product)",
            "in": "query",
            "name": "entity",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The action you want to filter webhooks by (e.g. add, update, or delete)",
            "in": "query",
            "name": "action",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The webhook status you want to filter webhooks by",
            "in": "query",
            "name": "active",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "List of сomma-separated webhook ids",
            "in": "query",
            "name": "ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "webhook": {
                          "items": {
                            "properties": {
                              "action": {
                                "type": "string"
                              },
                              "active": {
                                "type": "boolean"
                              },
                              "additional_fields": {
                                "type": "object"
                              },
                              "callback": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "entity": {
                                "type": "string"
                              },
                              "fields": {
                                "type": "string"
                              },
                              "id": {
                                "type": "integer"
                              },
                              "label": {
                                "type": "string"
                              },
                              "store_id": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "webhook"
        ]
      }
    },
    "/transactions/{id}": {
      "delete": {
        "description": "Delete registered webhook on the store.",
        "operationId": "webhookdelete",
        "parameters": [
          {
            "description": "Webhook id",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "deleted": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "webhook"
        ]
      }
    },
    "/shipments/{id}": {
      "delete": {
        "description": "Delete some prices of the product variant.",
        "operationId": "productvariantpricedelete-v2",
        "parameters": [
          {
            "description": "Defines the variant where the price has to be deleted",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Product id",
            "in": "query",
            "name": "product_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Defines variants's group prices",
            "in": "query",
            "name": "group_prices",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "deleted": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "product"
        ]
      }
    },
    "/reviews/{id}": {
      "post": {
        "description": "Add product option item from option.",
        "operationId": "productoptionvalueadd",
        "parameters": [
          {
            "description": "Defines product id where the option value should be added",
            "in": "query",
            "name": "product_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Defines option id where the value has to be added",
            "in": "query",
            "name": "option_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Defines option value that has to be added",
            "in": "query",
            "name": "option_value",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort number in the list",
            "in": "query",
            "name": "sort_order",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "Is cache clear required",
            "in": "query",
            "name": "clear_cache",
            "required": false,
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "option_value_id": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "product"
        ]
      }
    },
    "/orders/{id}": {
      "get": {
        "description": "Get reviews of a specific product.",
        "operationId": "productreviewlist",
        "parameters": [
          {
            "description": "This parameter sets the number from which you want to get entities",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "Used to retrieve entities via cursor-based pagination (it can't be used with any other filtering parameter)",
            "in": "query",
            "name": "page_cursor",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "This parameter sets the entity amount that has to be retrieved. Max allowed count=250",
            "in": "query",
            "name": "count",
            "required": false,
            "schema": {
              "default": 10,
              "type": "integer"
            }
          },
          {
            "description": "Product id",
            "in": "query",
            "name": "product_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieves reviews specified by ids",
            "in": "query",
            "name": "ids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Store Id",
            "in": "query",
            "name": "store_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Defines status",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set this parameter in order to choose which entity fields you want to retrieve",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "default": "id,customer_id,email,message,status,product_id,nick_name,summary,rating,ratings,status,created_time",
              "type": "string"
            }
          },
          {
            "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
            "in": "query",
            "name": "exclude",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Set this parameter in order to choose which entity fields you want to retrieve",
            "in": "query",
            "name": "response_fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "reviews": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "created_time": {
                                "properties": {
                                  "additional_fields": {
                                    "type": "object"
                                  },
                                  "custom_fields": {
                                    "type": "object"
                                  },
                                  "format": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "customer_id": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "message": {
                                "type": "string"
                              },
                              "nick_name": {
                                "type": "string"
                              },
                              "product_id": {
                                "type": "string"
                              },
                              "rating": {
                                "type": "number"
                              },
                              "ratings": {
                                "items": {
                                  "properties": {
                                    "additional_fields": {
                                      "type": "object"
                                    },
                                    "custom_fields": {
                                      "type": "object"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "status": {
                                "type": "string"
                              },
                              "summary": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "total_count": {
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "product"
        ]
      }
    },
    "/products/{id}": {
      "get": {
        "deprecated": true,
        "description": "Get variant info. This method is deprecated, and its development is stopped. Please use \"product.child_item.info\" instead.",
        "operationId": "productvariantinfo-v2",
        "parameters": [
          {
            "description": "Set this parameter in order to choose which entity fields you want to retrieve",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "default": "id,name,description,price",
              "type": "string"
            }
          },
          {
            "description": "Set this parameter in order to choose which entity fields you want to ignore. Works only if parameter `params` equal force_all",
            "in": "query",
            "name": "exclude",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieves variant's info specified by variant id",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Retrieves variant info specified by store id",
            "in": "query",
            "name": "store_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "additional_fields": {
                          "type": "object"
                        },
                        "advanced_price": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "avail": {
                                "type": "boolean"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "expire_time": {
                                "properties": {
                                  "additional_fields": {
                                    "type": "object"
                                  },
                                  "custom_fields": {
                                    "type": "object"
                                  },
                                  "format": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "group_id": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "quantity_from": {
                                "type": "number"
                              },
                              "start_time": {
                                "properties": {
                                  "additional_fields": {
                                    "type": "object"
                                  },
                                  "custom_fields": {
                                    "type": "object"
                                  },
                                  "format": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "avail_sale": {
                          "type": "boolean"
                        },
                        "avail_view": {
                          "type": "boolean"
                        },
                        "backorders": {
                          "type": "string"
                        },
                        "categories_ids": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "cost_price": {
                          "type": "number"
                        },
                        "create_at": {
                          "properties": {
                            "additional_fields": {
                              "type": "object"
                            },
                            "custom_fields": {
                              "type": "object"
                            },
                            "format": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "custom_fields": {
                          "type": "object"
                        },
                        "description": {
                          "type": "string"
                        },
                        "dimensions_unit": {
                          "type": "string"
                        },
                        "discounts": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "customer_group_ids": {
                                "type": "string"
                              },
                              "from_time": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "modifier_type": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "sort_order": {
                                "type": "integer"
                              },
                              "to_time": {
                                "type": "string"
                              },
                              "value": {
                                "type": "number"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "group_items": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "child_item_id": {
                                "type": "string"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "default_qty_in_pack": {
                                "type": "string"
                              },
                              "is_qty_in_pack_fixed": {
                                "type": "boolean"
                              },
                              "product_id": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "group_price": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "expire_time": {
                                "type": "string"
                              },
                              "group_id": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "price": {
                                "type": "number"
                              },
                              "quantity": {
                                "type": "number"
                              },
                              "start_time": {
                                "type": "string"
                              },
                              "store_id": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "height": {
                          "type": "number"
                        },
                        "id": {
                          "type": "string"
                        },
                        "images": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "alt": {
                                "type": "string"
                              },
                              "avail": {
                                "type": "boolean"
                              },
                              "create_at": {
                                "properties": {
                                  "additional_fields": {
                                    "type": "object"
                                  },
                                  "custom_fields": {
                                    "type": "object"
                                  },
                                  "format": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "file_name": {
                                "type": "string"
                              },
                              "http_path": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "mime-type": {
                                "type": "string"
                              },
                              "modified_at": {
                                "properties": {
                                  "additional_fields": {
                                    "type": "object"
                                  },
                                  "custom_fields": {
                                    "type": "object"
                                  },
                                  "format": {
                                    "type": "string"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "size": {
                                "type": "integer"
                              },
                              "sort_order": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "in_stock": {
                          "type": "boolean"
                        },
                        "inventory": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "in_stock": {
                                "type": "boolean"
                              },
                              "priority": {
                                "type": "integer"
                              },
                              "quantity": {
                                "type": "number"
                              },
                              "warehouse_id": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "is_downloadable": {
                          "type": "boolean"
                        },
                        "is_stock_managed": {
                          "type": "boolean"
                        },
                        "is_virtual": {
                          "type": "boolean"
                        },
                        "length": {
                          "type": "number"
                        },
                        "manage_stock": {
                          "type": "string"
                        },
                        "meta_description": {
                          "type": "string"
                        },
                        "meta_keywords": {
                          "type": "string"
                        },
                        "meta_title": {
                          "type": "string"
                        },
                        "modified_at": {
                          "properties": {
                            "additional_fields": {
                              "type": "object"
                            },
                            "custom_fields": {
                              "type": "object"
                            },
                            "format": {
                              "type": "string"
                            },
                            "value": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "name": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "product_options": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "available": {
                                "type": "boolean"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "description": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "option_items": {
                                "items": {
                                  "properties": {
                                    "additional_fields": {
                                      "type": "object"
                                    },
                                    "custom_fields": {
                                      "type": "object"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "price": {
                                      "type": "string"
                                    },
                                    "product_option_item_id": {
                                      "type": "string"
                                    },
                                    "quantity": {
                                      "type": "integer"
                                    },
                                    "sku": {
                                      "type": "string"
                                    },
                                    "sort_order": {
                                      "type": "integer"
                                    },
                                    "type_price": {
                                      "type": "string"
                                    },
                                    "weight": {
                                      "type": "string"
                                    }
                                  },
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "product_option_id": {
                                "type": "string"
                              },
                              "required": {
                                "type": "boolean"
                              },
                              "sort_order": {
                                "type": "integer"
                              },
                              "type": {
                                "type": "string"
                              },
                              "used_in_combination": {
                                "type": "boolean"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "quantity": {
                          "type": "number"
                        },
                        "related_products_ids": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "seo_url": {
                          "type": "string"
                        },
                        "short_description": {
                          "type": "string"
                        },
                        "sort_order": {
                          "type": "integer"
                        },
                        "special_price": {
                          "properties": {
                            "additional_fields": {
                              "type": "object"
                            },
                            "avail": {
                              "type": "boolean"
                            },
                            "created_at": {
                              "properties": {
                                "additional_fields": {
                                  "type": "object"
                                },
                                "custom_fields": {
                                  "type": "object"
                                },
                                "format": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "custom_fields": {
                              "type": "object"
                            },
                            "expired_at": {
                              "properties": {
                                "additional_fields": {
                                  "type": "object"
                                },
                                "custom_fields": {
                                  "type": "object"
                                },
                                "format": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "modified_at": {
                              "properties": {
                                "additional_fields": {
                                  "type": "object"
                                },
                                "custom_fields": {
                                  "type": "object"
                                },
                                "format": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "value": {
                              "type": "number"
                            }
                          },
                          "type": "object"
                        },
                        "stores_ids": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "tax_class_id": {
                          "type": "string"
                        },
                        "tier_price": {
                          "items": {
                            "properties": {
                              "additional_fields": {
                                "type": "object"
                              },
                              "custom_fields": {
                                "type": "object"
                              },
                              "price": {
                                "type": "number"
                              },
                              "qty": {
                                "type": "number"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "type": {
                          "type": "string"
                        },
                        "u_brand": {
                          "type": "string"
                        },
                        "u_brand_id": {
                          "type": "string"
                        },
                        "u_model": {
                          "type": "string"
                        },
                        "u_mpn": {
                          "type": "string"
                        },
                        "u_sku": {
                          "type": "string"
                        },
                        "u_upc": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "weight": {
                          "type": "number"
                        },
                        "weight_unit": {
                          "type": "string"
                        },
                        "width": {
                          "type": "number"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "product"
        ]
      }
    },
    "/carts/{id}": {
      "get": {
        "description": "List all Webhooks that are available on this store.",
        "operationId": "webhookevents",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "events": {
                          "items": {
                            "properties": {
                              "action": {
                                "type": "string"
                              },
                              "entity": {
                                "type": "string"
                              },
                              "webhook_name": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "webhook"
        ]
      }
    },
    "/billing/{id}": {
      "delete": {
        "description": "Delete  image to product",
        "operationId": "productvariantimagedelete-v2",
        "parameters": [
          {
            "description": "Defines product id where the variant image should be deleted",
            "in": "query",
            "name": "product_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Defines product's variants specified by variant id",
            "in": "query",
            "name": "product_variant_id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Entity id",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Store Id",
            "in": "query",
            "name": "store_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "deleted": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "return_code": {
                      "type": "integer"
                    },
                    "return_message": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          }
        },
        "security": [
          {
            "api_key": [],
            "store_key": []
          }
        ],
        "tags": [
          "product"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "A2CDateTime": {
        "properties": {
          "additional_fields": {
            "type": "object"
          },
          "custom_fields": {
            "type": "object"
          },
          "format": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "AccountCartAdd": {
        "properties": {
          "3dcart_access_token": {
            "description": "3DCart Token",
            "type": "string"
          },
          "3dcart_private_key": {
            "description": "3DCart Private Key",
            "type": "string"
          },
          "3dcartapi_api_key": {
            "description": "3DCart API Key",
            "type": "string"
          },
          "amazon_access_key_id": {
            "description": "Amazon Secret Key Id",
            "type": "string"
          },
          "amazon_access_token": {
            "description": "MWS Auth Token. Access token authorizing the app to access resources on behalf of a user",
            "type": "string"
          },
          "amazon_marketplaces_ids": {
            "description": "Amazon Marketplace IDs comma separated string",
            "type": "string"
          },
          "amazon_secret_key": {
            "description": "Amazon Secret Key",
            "type": "string"
          },
          "amazon_seller_id": {
            "description": "Amazon Seller ID (Merchant token)",
            "type": "string"
          },
          "amazon_sp_api_environment": {
            "default": "production",
            "description": "Amazon SP API environment",
            "type": "string"
          },
          "amazon_sp_aws_region": {
            "description": "Amazon AWS Region",
            "enum": [
              "eu-west-1",
              "us-east-1",
              "us-west-2"
            ],
            "type": "string"
          },
          "amazon_sp_aws_role_arn": {
            "description": "Amazon AWS Role ARN",
            "type": "string"
          },
          "amazon_sp_aws_user_key_id": {
            "description": "Amazon AWS user access key ID",
            "type": "string"
          },
          "amazon_sp_aws_user_secret": {
            "description": "Amazon AWS user secret access key",
            "type": "string"
          },
          "amazon_sp_client_id": {
            "description": "Amazon SP API app client id",
            "type": "string"
          },
          "amazon_sp_client_secret": {
            "description": "Amazon SP API app client secret",
            "type": "string"
          },
          "amazon_sp_refresh_token": {
            "description": "Amazon SP API OAuth refresh token",
            "type": "string"
          },
          "aspdotnetstorefront_api_pass": {
            "description": "AspDotNetStorefront API Password",
            "type": "string"
          },
          "aspdotnetstorefront_api_user": {
            "description": "It's a AspDotNetStorefront account for which API is available",
            "type": "string"
          },
          "bigcommerceapi_access_token": {
            "description": "Access token authorizing the app to access resources on behalf of a user",
            "type": "string"
          },
          "bigcommerceapi_admin_account": {
            "description": "It's a BigCommerce account for which API is enabled",
            "type": "string"
          },
          "bigcommerceapi_api_key": {
            "description": "Bigcommerce API Key",
            "type": "string"
          },
          "bigcommerceapi_api_path": {
            "description": "BigCommerce API URL",
            "type": "string"
          },
          "bigcommerceapi_client_id": {
            "description": "Client ID of the requesting app",
            "type": "string"
          },
          "bigcommerceapi_context": {
            "description": "API Path section unique to the store",
            "type": "string"
          },
          "bridge_url": {
            "description": "This parameter allows to set up store with custom bridge url (also you must use store_root parameter if a bridge folder is not in the root folder of the store)",
            "type": "string"
          },
          "cart_id": {
            "description": "Store’s identifier which you can get from cart_list method",
            "enum": [
              "3DCart",
              "3DCartApi",
              "AceShop",
              "AmazonSP",
              "Amazon",
              "AspDotNetStorefront",
              "BigcommerceApi",
              "Creloaded",
              "CommerceHQ",
              "Cscart",
              "Cubecart",
              "Demandware",
              "EBay",
              "Ecwid",
              "Etsy",
              "EtsyAPIv3",
              "Gambio",
              "JooCart",
              "Magento1212",
              "Magento2Api",
              "MijoShop",
              "Neto",
              "Opencart14",
              "LightSpeed",
              "Oscmax2",
              "Oscommerce22ms2",
              "Oxid",
              "Pinnacle",
              "Prestashop",
              "PrestashopApi",
              "SSPremium",
              "Shopify",
              "Squarespace",
              "Shopware",
              "ShopwareApi",
              "Tomatocart",
              "Ubercart",
              "Virtuemart",
              "Volusion",
              "WPecommerce",
              "Walmart",
              "WebAsyst",
              "Woocommerce",
              "WoocommerceApi",
              "Wix",
              "Xcart",
              "Xtcommerce",
              "XtcommerceVeyton",
              "Zencart137",
              "Hybris",
              "MercadoLibre",
              "Zid",
              "Zoey"
            ],
            "type": "string"
          },
          "commercehq_api_key": {
            "description": "CommerceHQ api key",
            "type": "string"
          },
          "commercehq_api_password": {
            "description": "CommerceHQ api password",
            "type": "string"
          },
          "db_tables_prefix": {
            "description": "DB tables prefix",
            "type": "string"
          },
          "demandware_api_password": {
            "description": "Demandware api password",
            "type": "string"
          },
          "demandware_client_id": {
            "description": "Demandware client id",
            "type": "string"
          },
          "demandware_user_name": {
            "description": "Demandware user name",
            "type": "string"
          },
          "demandware_user_password": {
            "description": "Demandware user password",
            "type": "string"
          },
          "ebay_access_token": {
            "description": "Used to authenticate API requests.",
            "type": "string"
          },
          "ebay_client_id": {
            "description": "Application ID (AppID).",
            "type": "string"
          },
          "ebay_client_secret": {
            "description": "Shared Secret from eBay application",
            "type": "string"
          },
          "ebay_environment": {
            "default": "production",
            "description": "eBay environment",
            "type": "string"
          },
          "ebay_refresh_token": {
            "description": "Used to renew the access token.",
            "type": "string"
          },
          "ebay_runame": {
            "description": "The RuName value that eBay assigns to your application.",
            "type": "string"
          },
          "ebay_site_id": {
            "default": 0,
            "description": "eBay global ID",
            "type": "integer"
          },
          "ecwid_acess_token": {
            "description": "Access token authorizing the app to access resources on behalf of a user",
            "type": "string"
          },
          "ecwid_store_id": {
            "description": "Store Id",
            "type": "string"
          },
          "etsy_access_token": {
            "description": "Access token authorizing the app to access resources on behalf of a user",
            "type": "string"
          },
          "etsy_client_id": {
            "description": "Etsy Client Id",
            "type": "string"
          },
          "etsy_keystring": {
            "description": "Etsy keystring",
            "type": "string"
          },
          "etsy_refresh_token": {
            "description": "Etsy Refresh token",
            "type": "string"
          },
          "etsy_shared_secret": {
            "description": "Etsy shared secret",
            "type": "string"
          },
          "etsy_token_secret": {
            "description": "Secret token authorizing the app to access resources on behalf of a user",
            "type": "string"
          },
          "ftp_host": {
            "description": "FTP connection host",
            "type": "string"
          },
          "ftp_password": {
            "description": "FTP Password",
            "type": "string"
          },
          "ftp_port": {
            "description": "FTP Port",
            "type": "integer"
          },
          "ftp_store_dir": {
            "description": "FTP Store dir",
            "type": "string"
          },
          "ftp_user": {
            "description": "FTP User",
            "type": "string"
          },
          "hybris_client_id": {
            "description": "Omni Commerce Connector Client ID",
            "type": "string"
          },
          "hybris_client_secret": {
            "description": "Omni Commerce Connector Client Secret",
            "type": "string"
          },
          "hybris_password": {
            "description": "User password",
            "type": "string"
          },
          "hybris_username": {
            "description": "User Name",
            "type": "string"
          },
          "hybris_websites": {
            "description": "Websites to stores mapping data",
            "items": {
              "properties": {
                "storeIds": {
                  "items": {
                    "type": "string"
                  },
                  "minItems": 1,
                  "type": "array"
                },
                "uid": {
                  "type": "string"
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "uid",
                "url",
                "storeIds"
              ],
              "type": "object"
            },
            "minItems": 1,
            "type": "array"
          },
          "lightspeed_api_key": {
            "description": "LightSpeed api key",
            "type": "string"
          },
          "lightspeed_api_secret": {
            "description": "LightSpeed api secret",
            "type": "string"
          },
          "magento_access_token": {
            "description": "Magento Access Token",
            "type": "string"
          },
          "magento_consumer_key": {
            "description": "Magento Consumer Key",
            "type": "string"
          },
          "magento_consumer_secret": {
            "description": "Magento Consumer Secret",
            "type": "string"
          },
          "magento_token_secret": {
            "description": "Magento Token Secret",
            "type": "string"
          },
          "mercado_libre_app_id": {
            "description": "Mercado Libre App ID",
            "type": "string"
          },
          "mercado_libre_app_secret_key": {
            "description": "Mercado Libre App Secret Key",
            "type": "string"
          },
          "mercado_libre_refresh_token": {
            "description": "Mercado Libre Refresh Token",
            "type": "string"
          },
          "neto_api_key": {
            "description": "Neto API Key",
            "type": "string"
          },
          "neto_api_username": {
            "description": "Neto User Name",
            "type": "string"
          },
          "prestashop_webservice_key": {
            "description": "Prestashop webservice key",
            "type": "string"
          },
          "shopify_access_token": {
            "description": "Access token authorizing the app to access resources on behalf of a user",
            "type": "string"
          },
          "shopify_api_key": {
            "description": "Shopify API Key",
            "type": "string"
          },
          "shopify_api_password": {
            "description": "Shopify API Password",
            "type": "string"
          },
          "shopify_shared_secret": {
            "description": "Shared secret",
            "type": "string"
          },
          "shopware_access_key": {
            "description": "Shopware access key",
            "type": "string"
          },
          "shopware_api_key": {
            "description": "Shopware api key",
            "type": "string"
          },
          "shopware_api_secret": {
            "description": "Shopware client secret access key",
            "type": "string"
          },
          "squarespace_api_key": {
            "description": "Squarespace API Key",
            "type": "string"
          },
          "store_key": {
            "description": "Set this parameter if bridge is already uploaded to store",
            "type": "string"
          },
          "store_root": {
            "description": "Absolute path to the store root directory (used with \"bridge_url\" parameter)",
            "type": "string"
          },
          "store_url": {
            "description": "A web address of a store that you would like to connect to API2Cart",
            "type": "string"
          },
          "validate_version": {
            "default": false,
            "description": "Specify if api2cart should validate cart version",
            "type": "boolean"
          },
          "verify": {
            "default": true,
            "description": "Enables or disables cart's verification",
            "type": "boolean"
          },
          "volusion_login": {
            "description": "It's a Volusion account for which API is enabled",
            "type": "string"
          },
          "volusion_password": {
            "description": "Volusion API Password",
            "type": "string"
          },
          "walmart_channel_type": {
            "description": "Walmart WM_CONSUMER.CHANNEL.TYPE header",
            "type": "string"
          },
          "walmart_client_id": {
            "description": "Walmart client ID",
            "type": "string"
          },
          "walmart_client_secret": {
            "description": "Walmart client secret",
            "type": "string"
          },
          "walmart_environment": {
            "default": "production",
            "description": "Walmart environment",
            "type": "string"
          },
          "wc_consumer_key": {
            "description": "Woocommerce consumer key",
            "type": "string"
          },
          "wc_consumer_secret": {
            "description": "Woocommerce consumer secret",
            "type": "string"
          },
          "wix_app_id": {
            "description": "Wix App ID",
            "type": "string"
          },
          "wix_app_secret_key": {
            "description": "Wix App Secret Key",
            "type": "string"
          },
          "wix_refresh_token": {
            "description": "Wix refresh token",
            "type": "string"
          },
          "zid_access_token": {
            "description": "Zid Access Token",
            "type": "string"
          },
          "zid_authorization": {
            "description": "Zid Authorization",
            "type": "string"
          },
          "zid_client_id": {
            "description": "Zid Client ID",
            "type": "integer"
          },
          "zid_client_secret": {
            "description": "Zid Client Secret",
            "type": "string"
          },
          "zid_refresh_token": {
            "description": "Zid refresh token",
            "type": "string"
          }
        },
        "required": [
          "cart_id",
          "store_url",
          "amazon_sp_client_id",
          "amazon_sp_client_secret",
          "amazon_sp_aws_user_key_id",
          "amazon_sp_aws_user_secret",
          "amazon_sp_aws_region",
          "amazon_sp_aws_role_arn",
          "amazon_sp_refresh_token",
          "etsy_client_id",
          "etsy_refresh_token"
        ],
        "type": "object"
      },
      "BaseCustomer": {
        "properties": {
          "additional_fields": {
            "type": "object"
          },
          "custom_fields": {
            "type": "object"
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Basket": {
        "properties": {
          "additional_fields": {
            "type": "object"
          },
          "basket_products": {
            "items": {
              "properties": {
                "additional_fields": {
                  "type": "object"
                },
                "custom_fields": {
                  "type": "object"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "options": {
                  "items": {
                    "properties": {
                      "additional_fields": {
                        "type": "object"
                      },
                      "custom_fields": {
                        "type": "object"
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "used_in_combination": {
                        "type": "boolean"
                      },
                      "value": {
                        "type": "string"
                      },
                      "value_id": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "parent_id": {
                  "type": "string"
                },
                "price": {
                  "type": "number"
                },
                "product_id": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                },
                "sku": {
                  "type": "string"
                },
                "tax": {
                  "type": "number"
                },
                "variant_id": {
                  "type": "string"
                },
                "weight": {
                  "type": "number"
                },
                "weight_unit": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "basket_url": {
            "type": "string"
          },
          "created_at": {
            "properties": {
              "additional_fields": {
                "type": "object"
              },
              "custom_fields": {
                "type": "object"
              },
              "format": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "currency": {
            "properties": {
              "additional_fields": {
                "type": "object"
              },
              "avail": {
                "type": "boolean"
              },
              "custom_fields": {
                "type": "object"
              },
              "default": {
                "type": "boolean"
              },
              "id": {
                "type": "string"
              },
              "iso3": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "rate": {
                "type": "number"
              },
              "symbol_left": {
                "type": "string"
              },
              "symbol_right": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "custom_fields": {
            "type": "object"
          },
          "customer": {
            "properties": {
              "additional_fields": {
                "type": "object"
              },
              "custom_fields": {
                "type": "object"
              },
              "email": {
                "type": "string"
              },
              "first_name": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "last_name": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              }
            },
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "modified_at": {
            "properties": {
              "additional_fields": {
                "type": "object"
              },
              "custom_fields": {
                "type": "object"
              },
              "format": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "Basket_Item": {
        "properties": {
          "additional_fields": {
            "type": "object"
          },
          "custom_fields": {
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "options": {
            "items": {
              "properties": {
                "additional_fields": {
                  "type": "object"
                },
                "custom_fields": {
                  "type": "object"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "used_in_combination": {
                  "type": "boolean"
                },
                "value": {
                  "type": "string"
                },
                "value_id": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "parent_id": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "product_id": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "sku": {
            "type": "string"
          },
          "tax": {
            "type": "number"
          },
          "variant_id": {
            "type": "string"
          },
          "weight": {
            "type": "number"
          },
          "weight_unit": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Basket_Item_Option": {
        "properties": {
          "additional_fields": {
            "type": "object"
          },
          "custom_fields": {
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "used_in_combination": {
            "type": "boolean"
          },
          "value": {
            "type": "string"
          },
          "value_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Basket_LiveShippingService": {
        "properties": {
          "additional_fields": {
            "type": "object"
          },
          "callback": {
            "type": "string"
          },
          "callback_err_cnt": {
            "type": "integer"
          },
          "custom_fields": {
            "type": "object"
          },
          "enabled_on_store": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Brand": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "additional_fields": {
            "type": "object"
          },
          "created_time": {
            "type": "string"
          },
          "custom_fields": {
            "type": "object"
          },
          "full_description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "images": {
            "items": {
              "properties": {
                "additional_fields": {
                  "type": "object"
                },
                "alt": {
                  "type": "string"
                },
                "avail": {
                  "type": "boolean"
                },
                "create_at": {
                  "properties": {
                    "additional_fields": {
                      "type": "object"
                    },
                    "custom_fields": {
                      "type": "object"
                    },
                    "format": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "custom_fields": {
                  "type": "object"
                },
                "file_name": {
                  "type": "string"
                },
                "http_path": {
                  "type": "string"
                },
                "id": {
                  "type": "string"
                },
                "mime-type": {
                  "type": "string"
                },
                "modified_at": {
                  "properties": {
                    "additional_fields": {
                      "type": "object"
                    },
                    "custom_fields": {
                      "type": "object"
                    },
                    "format": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "size": {
                  "type": "integer"
                },
                "sort_order": {
                  "type": "integer"
                },
                "type": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "meta_description": {
            "type": "string"
          },
          "meta_keywords": {
            "type": "string"
          },
          "meta_title": {
            "type": "string"
          },
          "modified_time": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "short_description": {
            "type": "string"
          },
          "stores_ids": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "url": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "Carrier": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "additional_fields": {
            "type": "object"
          },
          "custom_fields": {
            "type": "object"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shipping_methods": {
            "items": {
              "properties": {
                "additional_fields": {
                  "type": "object"
                },
                "custom_fields": {
                  "type": "object"
                },
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Cart": {
        "properties": {
          "additional_fields": {
            "type": "object"
          },
          "custom_fields": {
            "type": "object"
          },
          "db_prefix": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "shipping_zones": {
            "items": {
              "properties": {
                "additional_fields": {
                  "type": "object"
                },
                "code": {
                  "type": "string"
                },
                "country": {
                  "type": "string"
                },
                "country_iso2_codes": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "custom_fields": {
                  "type": "object"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "stores_info": {
            "items": {
              "properties": {
                "active": {
                  "type": "boolean"
                },
                "additional_fields": {
                  "type": "object"
                },
                "carrier_info": {
                  "items": {
                    "properties": {
                      "active": {
                        "type": "boolean"
                      },
                      "additional_fields": {
                        "type": "object"
                      },
                      "custom_fields": {
                        "type": "object"
                      },
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
[...]
