{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "Use these REST APIs for performing operations on entities like API, Product, and Subscription associated with your Azure API Management deployment.",
    "title": "ApiManagementClient",
    "version": "2016-10-10",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimanagement.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "apimanagement",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiVersionParameter": {
      "description": "Version of the API to be used with the client request.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "description": "The name of the resource group.",
      "in": "path",
      "name": "resourceGroupName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServiceNameParameter": {
      "description": "The name of the API Management service.",
      "in": "path",
      "maxLength": 50,
      "minLength": 1,
      "name": "serviceName",
      "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SkipQueryParameter": {
      "description": "Number of records to skip.",
      "format": "int32",
      "in": "query",
      "minimum": 0,
      "name": "$skip",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    },
    "TopQueryParameter": {
      "description": "Number of records to return.",
      "format": "int32",
      "in": "query",
      "minimum": 1,
      "name": "$top",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/inventory/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff-v2"
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff-v2"
      }
    },
    "/billing/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/subscriptions/userid/resourcegroups/id/providers/microsoft-apimanagement/service/id/regions": {
      "get": {
        "description": "modified get /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions",
        "operationId": "regions-listbyservice",
        "parameters": [
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "schema": {}
          },
          {
            "description": "The name of the API Management service.",
            "in": "path",
            "maxLength": 50,
            "minLength": 1,
            "name": "serviceName",
            "pattern": "^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists of Regions in which the service is deployed.",
            "schema": {
              "description": "Lists Regions operation response details.",
              "properties": {
                "value": {
                  "description": "Lists of Regions.",
                  "items": {
                    "description": "Region profile.",
                    "properties": {
                      "isMasterRegion": {
                        "description": "whether Region is the master region.",
                        "type": "boolean"
                      },
                      "name": {
                        "description": "Region name.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "name",
                      "isMasterRegion"
                    ]
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "tags": [
          "Regions"
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "ErrorBodyContract": {
      "description": "Error Body contract.",
      "properties": {
        "code": {
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.",
          "type": "string"
        },
        "details": {
          "description": "The list of invalid fields send in request, in case of validation error.",
          "items": {
            "description": "Error Field contract.",
            "properties": {
              "code": {
                "description": "Property level error code.",
                "type": "string"
              },
              "message": {
                "description": "Human-readable representation of property-level error.",
                "type": "string"
              },
              "target": {
                "description": "Property name.",
                "type": "string"
              }
            }
          },
          "type": "array"
        },
        "message": {
          "description": "Human-readable representation of the error.",
          "type": "string"
        }
      }
    },
    "ErrorFieldContract": {
      "description": "Error Field contract.",
      "properties": {
        "code": {
          "description": "Property level error code.",
          "type": "string"
        },
        "message": {
          "description": "Human-readable representation of property-level error.",
          "type": "string"
        },
        "target": {
          "description": "Property name.",
          "type": "string"
        }
      }
    },
    "PolicySnippetContract": {
      "description": "Policy snippet.",
      "properties": {
        "content": {
          "description": "Snippet content.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Snippet name.",
          "readOnly": true,
          "type": "string"
        },
        "scope": {
          "description": "Snippet scope.",
          "enum": [
            "Tenant",
            "Product",
            "Api",
            "Operation",
            "All"
          ],
          "readOnly": true,
          "type": "string",
          "x-ms-enum": {
            "modelAsString": false,
            "name": "PolicyScopeContract"
          }
        },
        "toolTip": {
          "description": "Snippet toolTip.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PolicySnippetsCollection": {
      "description": "The response of the list policy snippets operation.",
      "properties": {
        "value": {
          "description": "Policy snippet value.",
          "items": {
            "description": "Policy snippet.",
            "properties": {
              "content": {
                "description": "Snippet content.",
                "readOnly": true,
                "type": "string"
              },
              "name": {
                "description": "Snippet name.",
                "readOnly": true,
                "type": "string"
              },
              "scope": {
                "description": "Snippet scope.",
                "enum": [
                  "Tenant",
                  "Product",
                  "Api",
                  "Operation",
                  "All"
                ],
                "readOnly": true,
                "type": "string",
                "x-ms-enum": {
                  "modelAsString": false,
                  "name": "PolicyScopeContract"
                }
              },
              "toolTip": {
                "description": "Snippet toolTip.",
                "readOnly": true,
                "type": "string"
              }
            }
          },
          "type": "array"
        }
      }
    },
    "RegionContract": {
      "description": "Region profile.",
      "properties": {
        "isMasterRegion": {
          "description": "whether Region is the master region.",
          "type": "boolean"
        },
        "name": {
          "description": "Region name.",
          "type": "string"
        }
      },
      "required": [
        "name",
        "isMasterRegion"
      ]
    },
    "RegionListResult": {
      "description": "Lists Regions operation response details.",
      "properties": {
        "value": {
          "description": "Lists of Regions.",
          "items": {
            "description": "Region profile.",
            "properties": {
              "isMasterRegion": {
                "description": "whether Region is the master region.",
                "type": "boolean"
              },
              "name": {
                "description": "Region name.",
                "type": "string"
              }
            },
            "required": [
              "name",
              "isMasterRegion"
            ]
          },
          "type": "array"
        }
      }
    }
  }
}