{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "REST APIs for Azure Alerts Management Service.",
    "title": "Azure Alerts Management Service Resource Provider",
    "version": "2018-11-02-privatepreview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2018-11-02-privatepreview/AlertsManagement.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "alertsmanagement-AlertsManagement",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "parameters": {
    "alertId": {
      "description": "Unique ID of an alert object.",
      "in": "path",
      "name": "alertId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "alertState": {
      "description": "filter by state",
      "enum": [
        "New",
        "Acknowledged",
        "Closed"
      ],
      "in": "query",
      "name": "alertState",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertState"
      },
      "x-ms-parameter-location": "method"
    },
    "alertsSortBy": {
      "description": "sort the query results by input field, default value is 'lastModifiedDateTime'.",
      "enum": [
        "name",
        "severity",
        "alertState",
        "monitorCondition",
        "targetResource",
        "targetResourceName",
        "targetResourceGroup",
        "targetResourceType",
        "startDateTime",
        "lastModifiedDateTime"
      ],
      "in": "query",
      "name": "sortBy",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertsSortByFields"
      },
      "x-ms-parameter-location": "method"
    },
    "api-version": {
      "description": "client API version",
      "enum": [
        "2018-11-02-privatepreview",
        "2018-05-05"
      ],
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "api-version"
      }
    },
    "includePayload": {
      "description": "include payload field content, default value is 'false'.",
      "in": "query",
      "name": "includePayload",
      "required": false,
      "type": "boolean",
      "x-ms-parameter-location": "method"
    },
    "monitorCondition": {
      "description": "filter by monitor condition which is the state of the alert at monitor service",
      "enum": [
        "Fired",
        "Resolved"
      ],
      "in": "query",
      "name": "monitorCondition",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MonitorCondition"
      },
      "x-ms-parameter-location": "method"
    },
    "monitorService": {
      "description": "filter by monitor service which is the source of the alert object.",
      "enum": [
        "Platform",
        "Application Insights",
        "Log Analytics",
        "Zabbix",
        "SCOM",
        "Nagios",
        "Infrastructure Insights",
        "ActivityLog Administrative",
        "ActivityLog Security",
        "ActivityLog Recommendation",
        "ActivityLog Policy",
        "ActivityLog Autoscale",
        "ServiceHealth",
        "SmartDetector"
      ],
      "in": "query",
      "name": "monitorService",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "MonitorService"
      }
    },
    "newState": {
      "description": "filter by state",
      "enum": [
        "New",
        "Acknowledged",
        "Closed"
      ],
      "in": "query",
      "name": "newState",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertState"
      },
      "x-ms-parameter-location": "method"
    },
    "pageCount": {
      "description": "number of items per page, default value is '25'.",
      "in": "query",
      "name": "pageCount",
      "required": false,
      "type": "integer",
      "x-ms-parameter-location": "method"
    },
    "resourceGroup": {
      "description": "Resource group name where the resource is created.",
      "in": "path",
      "name": "resourceGroup",
      "required": true,
      "type": "string"
    },
    "severity": {
      "description": "filter by severity",
      "enum": [
        "Sev0",
        "Sev1",
        "Sev2",
        "Sev3",
        "Sev4"
      ],
      "in": "query",
      "name": "severity",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "Severity"
      },
      "x-ms-parameter-location": "method"
    },
    "smartGroupId": {
      "description": "Smart Group Id",
      "in": "path",
      "name": "smartGroupId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "smartGroupIdFilter": {
      "description": "filter by smart Group Id",
      "in": "query",
      "name": "smartGroupId",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "smartGroupState": {
      "description": "filter by state",
      "enum": [
        "New",
        "Acknowledged",
        "Closed"
      ],
      "in": "query",
      "name": "smartGroupState",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "AlertState"
      },
      "x-ms-parameter-location": "method"
    },
    "smartGroupsSortBy": {
      "description": "sort the query results by input field, default value is 'lastModifiedDateTime'.",
      "enum": [
        "alertsCount",
        "state",
        "severity",
        "startDateTime",
        "lastModifiedDateTime"
      ],
      "in": "query",
      "name": "sortBy",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "SmartGroupsSortByFields"
      },
      "x-ms-parameter-location": "method"
    },
    "sortOrder": {
      "description": "sort the query results order in either ascending or descending, default value is 'desc' for time fields and 'asc' for others.",
      "enum": [
        "asc",
        "desc"
      ],
      "in": "query",
      "name": "sortOrder",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "subscriptionId": {
      "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    },
    "targetResource": {
      "description": "filter by target resource",
      "in": "query",
      "name": "targetResource",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "targetResourceGroup": {
      "description": "filter by target resource group name",
      "in": "query",
      "name": "targetResourceGroup",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "targetResourceType": {
      "description": "filter by target resource type",
      "in": "query",
      "name": "targetResourceType",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "timeRange": {
      "description": "filter by time range, default value is 1 day",
      "enum": [
        "1h",
        "1d",
        "7d",
        "30d"
      ],
      "in": "query",
      "name": "timeRange",
      "required": false,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "TimeRange"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/providers/microsoft-alertsmanagement/operations": {
      "get": {
        "description": "List all operations available through Azure Alerts Management Resource Provider.",
        "operationId": "operations-list-v2",
        "parameters": [
          {
            "description": "client API version",
            "enum": [
              "2018-11-02-privatepreview",
              "2018-05-05"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "api-version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully retrieved operations list.",
            "schema": {
              "description": "Lists the operations available in the AlertsManagement RP.",
              "properties": {
                "nextLink": {
                  "description": "URL to fetch the next set of alerts.",
                  "type": "string"
                },
                "value": {
                  "description": "Array of operations",
                  "items": {
                    "description": "Operation provided by provider",
                    "properties": {
                      "display": {
                        "description": "Properties of the operation",
                        "properties": {
                          "description": {
                            "description": "Description of the operation",
                            "type": "string"
                          },
                          "operation": {
                            "description": "Operation name",
                            "type": "string"
                          },
                          "provider": {
                            "description": "Provider name",
                            "type": "string"
                          },
                          "resource": {
                            "description": "Resource name",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "name": {
                        "description": "Name of the operation",
                        "type": "string"
                      }
                    }
                  },
                  "type": "array"
                }
              },
              "required": [
                "value"
              ]
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/sku/providers/microsoft-alertsmanagement/actionrules": {
      "get": {
        "description": "List all action rules of the subscription and given input filters",
        "operationId": "actionrules-getall-subscription",
        "parameters": [
          {
            "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "filter by target resource group name",
            "in": "query",
            "name": "targetResourceGroup",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by target resource type",
            "in": "query",
            "name": "targetResourceType",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by target resource",
            "in": "query",
            "name": "targetResource",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by severity",
            "enum": [
              "Sev0",
              "Sev1",
              "Sev2",
              "Sev3",
              "Sev4"
            ],
            "in": "query",
            "name": "severity",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Severity"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by monitor service which is the source of the alert object.",
            "enum": [
              "Platform",
              "Application Insights",
              "Log Analytics",
              "Zabbix",
              "SCOM",
              "Nagios",
              "Infrastructure Insights",
              "ActivityLog Administrative",
              "ActivityLog Security",
              "ActivityLog Recommendation",
              "ActivityLog Policy",
              "ActivityLog Autoscale",
              "ServiceHealth",
              "SmartDetector"
            ],
            "in": "query",
            "name": "monitorService",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "MonitorService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of action rules",
            "headers": {
              "x-ms-request-id": {
                "description": "Service generated Request ID.",
                "type": "string"
              }
            },
            "schema": {
              "description": "List of action rules",
              "properties": {
                "nextLink": {
                  "description": "URL to fetch the next set of action rules",
                  "type": "string"
                },
                "value": {
                  "description": "List of action rules",
                  "items": {
                    "allOf": [
                      {
                        "allOf": [
                          {
                            "description": "An azure resource object",
                            "properties": {
                              "id": {
                                "description": "Azure resource Id",
                                "readOnly": true,
                                "type": "string"
                              },
                              "name": {
                                "description": "Azure resource name",
                                "readOnly": true,
                                "type": "string"
                              },
                              "type": {
                                "description": "Azure resource type",
                                "readOnly": true,
                                "type": "string"
                              }
                            },
                            "x-ms-azure-resource": true
                          }
                        ],
                        "description": "An azure managed resource object",
                        "properties": {
                          "location": {
                            "description": "Resource location",
                            "type": "string",
                            "x-ms-mutability": [
                              "create",
                              "read"
                            ]
                          },
                          "tags": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Resource tags"
                          }
                        },
                        "required": [
                          "location"
                        ],
                        "x-ms-azure-resource": true,
                        "_polymorphic_marker": {
                          "allOf": true
                        }
                      }
                    ],
                    "description": "Action rule object containing target scope, conditions and suppression logic",
                    "properties": {
                      "properties": {
                        "description": "Action rule properties defining scope, conditions, suppression logic for action rule",
                        "properties": {
                          "conditions": {
                            "description": "Conditions in alert instance to be matched for a given action rule. Default value is all. Multiple values could be provided with comma separation.",
                            "properties": {
                              "alertRuleId": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "applicationInsightsSearchResults": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "description": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "logAnalyticsSearchResults": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "monitorCondition": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "monitorService": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "severity": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "signalType": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "targetResource": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "targetResourceGroup": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "targetResourceType": {
                                "description": "condition to trigger an action rule",
                                "properties": {
                                  "operator": {
                                    "description": "operator for a given condition",
                                    "enum": [
                                      "Equals",
                                      "NotEquals",
                                      "Contains",
                                      "DoesNotContain"
                                    ],
                                    "type": "string",
                                    "x-ms-enum": {
                                      "modelAsString": true,
                                      "name": "ScopeType"
                                    }
                                  },
                                  "values": {
                                    "description": "list of values to match for a given condition.",
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "type": "object"
                          },
                          "createdAt": {
                            "description": "Creation time of action rule. Date-Time in ISO-8601 format.",
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "createdBy": {
                            "description": "Created by user name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "description": {
                            "description": "Description of action rule",
                            "type": "string"
                          },
                          "lastModifiedAt": {
                            "description": "Last updated time of action rule. Date-Time in ISO-8601 format.",
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "lastModifiedBy": {
                            "description": "Last modified by user name.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "resourceGroup": {
                            "description": "Resource group where action rule is stored",
                            "readOnly": true,
                            "type": "string"
                          },
                          "scope": {
                            "description": "Target scope for a given action rule. By default scope will be the subscription. User can also provide list of resource groups or list of resources from the scope subscription as well.",
                            "properties": {
                              "type": {
                                "description": "type of target scope",
                                "enum": [
                                  "ResourceGroup",
                                  "Resource"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "ScopeType"
                                }
                              },
                              "values": {
                                "description": "list of ARM IDs of the given scope type which will be the target of the given action rule.",
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              }
                            },
                            "type": "object"
                          },
                          "status": {
                            "description": "Indicates if the given action rule is enabled or disabled",
                            "enum": [
                              "enabled",
                              "disabled"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "ActionRuleStatus"
                            }
                          },
                          "suppressionConfig": {
                            "description": "Suppression logic for a given action rule",
                            "discriminator": "recurrenceType",
                            "properties": {
                              "recurrenceType": {
                                "description": "Specifies when the suppression should be applied",
                                "enum": [
                                  "Always",
                                  "Once",
                                  "Daily",
                                  "Weekly",
                                  "Monthly"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "SuppressionType"
                                }
                              },
                              "schedule": {
                                "description": "Schedule for a given suppression configuration.",
                                "properties": {
                                  "endDate": {
                                    "description": "End date for suppression",
                                    "type": "string"
                                  },
                                  "endTime": {
                                    "description": "End date for suppression",
                                    "type": "string"
                                  },
                                  "recurrenceValues": {
                                    "description": "Specifies the values for recurrence pattern",
                                    "items": {
                                      "type": "integer"
                                    },
                                    "type": "array"
                                  },
                                  "startDate": {
                                    "description": "Start date for suppression",
                                    "type": "string"
                                  },
                                  "startTime": {
                                    "description": "Start time for suppression",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            },
                            "required": [
                              "recurrenceType"
                            ],
                            "type": "object"
                          }
                        }
                      }
                    },
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "An error response from the service.",
              "properties": {
                "error": {
                  "description": "Details of error response.",
                  "properties": {
                    "code": {
                      "description": "Error code, intended to be consumed programmatically.",
                      "type": "string"
                    },
                    "details": {
                      "description": "A list of additional details about the error.",
                      "items": {
                        "__ref_cycle__": "#/definitions/errorResponseBody"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Description of the error, intended for display in user interface.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Target of the particular error, for example name of the property.",
                      "type": "string"
                    }
                  },
                  "x-ms-external": true
                }
              },
              "x-ms-external": true
            }
          }
        },
        "summary": "Get all action rule in a given subscription"
      }
    },
    "/subscriptions/paymentid/providers/microsoft-alertsmanagement/alerts": {
      "get": {
        "description": "List all the existing alerts, where the results can be selective by passing multiple filter parameters including time range and sorted on specific fields. ",
        "operationId": "alerts-getall",
        "parameters": [
          {
            "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "filter by target resource",
            "in": "query",
            "name": "targetResource",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by target resource group name",
            "in": "query",
            "name": "targetResourceGroup",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by target resource type",
            "in": "query",
            "name": "targetResourceType",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by monitor service which is the source of the alert object.",
            "enum": [
              "Platform",
              "Application Insights",
              "Log Analytics",
              "Zabbix",
              "SCOM",
              "Nagios",
              "Infrastructure Insights",
              "ActivityLog Administrative",
              "ActivityLog Security",
              "ActivityLog Recommendation",
              "ActivityLog Policy",
              "ActivityLog Autoscale",
              "ServiceHealth",
              "SmartDetector"
            ],
            "in": "query",
            "name": "monitorService",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "MonitorService"
            }
          },
          {
            "description": "filter by monitor condition which is the state of the alert at monitor service",
            "enum": [
              "Fired",
              "Resolved"
            ],
            "in": "query",
            "name": "monitorCondition",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "MonitorCondition"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by severity",
            "enum": [
              "Sev0",
              "Sev1",
              "Sev2",
              "Sev3",
              "Sev4"
            ],
            "in": "query",
            "name": "severity",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "Severity"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by state",
            "enum": [
              "New",
              "Acknowledged",
              "Closed"
            ],
            "in": "query",
            "name": "alertState",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AlertState"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by smart Group Id",
            "in": "query",
            "name": "smartGroupId",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "include payload field content, default value is 'false'.",
            "in": "query",
            "name": "includePayload",
            "required": false,
            "type": "boolean",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "number of items per page, default value is '25'.",
            "in": "query",
            "name": "pageCount",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "sort the query results by input field, default value is 'lastModifiedDateTime'.",
            "enum": [
              "name",
              "severity",
              "alertState",
              "monitorCondition",
              "targetResource",
              "targetResourceName",
              "targetResourceGroup",
              "targetResourceType",
              "startDateTime",
              "lastModifiedDateTime"
            ],
            "in": "query",
            "name": "sortBy",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AlertsSortByFields"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "sort the query results order in either ascending or descending, default value is 'desc' for time fields and 'asc' for others.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sortOrder",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by time range, default value is 1 day",
            "enum": [
              "1h",
              "1d",
              "7d",
              "30d"
            ],
            "in": "query",
            "name": "timeRange",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "TimeRange"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "client API version",
            "enum": [
              "2018-11-02-privatepreview",
              "2018-05-05"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "api-version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Successfully listed alert objects.",
            "schema": {
              "description": "List the alerts.",
              "properties": {
                "nextLink": {
                  "description": "URL to fetch the next set of alerts.",
                  "type": "string"
                },
                "value": {
                  "description": "List of alerts",
                  "items": {
                    "allOf": [
                      {
                        "description": "An azure resource object",
                        "properties": {
                          "id": {
                            "description": "Azure resource Id",
                            "readOnly": true,
                            "type": "string"
                          },
                          "name": {
                            "description": "Azure resource name",
                            "readOnly": true,
                            "type": "string"
                          },
                          "type": {
                            "description": "Azure resource type",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "An alert created in alert management service.",
                    "properties": {
                      "properties": {
                        "description": "An alert created in alert management service.",
                        "properties": {
                          "alertState": {
                            "description": "Alert object state",
                            "enum": [
                              "New",
                              "Acknowledged",
                              "Closed"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "AlertState"
                            }
                          },
                          "lastModifiedDateTime": {
                            "description": "Last modification time(ISO-8601 format).",
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "lastModifiedUserName": {
                            "description": "User who last modified the alert.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "monitorCondition": {
                            "description": "Condition of the rule at the monitor service",
                            "enum": [
                              "Fired",
                              "Resolved"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "MonitorCondition"
                            }
                          },
                          "monitorService": {
                            "description": "Monitor service which is the source of the alert object.",
                            "enum": [
                              "Platform",
                              "Application Insights",
                              "Log Analytics",
                              "Infrastructure Insights",
                              "ActivityLog Administrative",
                              "ActivityLog Security",
                              "ActivityLog Recommendation",
                              "ActivityLog Policy",
                              "ActivityLog Autoscale",
                              "ServiceHealth",
                              "SmartDetector",
                              "Zabbix",
                              "SCOM",
                              "Nagios"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "MonitorService"
                            }
                          },
                          "payload": {
                            "description": "More details which are contextual to the monitor service.",
                            "readOnly": true,
                            "type": "object"
                          },
                          "severity": {
                            "description": "Severity of alert Sev1 being highest and Sev3 being lowest.",
                            "enum": [
                              "Sev0",
                              "Sev1",
                              "Sev2",
                              "Sev3",
                              "Sev4"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "Severity"
                            }
                          },
                          "signalType": {
                            "description": "Log based alert or metric based alert",
                            "enum": [
                              "Metric",
                              "Log",
                              "Unknown"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "SignalType"
                            }
                          },
                          "smartGroupId": {
                            "description": "Unique Id of the smart group",
                            "readOnly": true,
                            "type": "string"
                          },
                          "smartGroupingReason": {
                            "description": "Reason for addition to a smart group",
                            "readOnly": true,
                            "type": "string"
                          },
                          "sourceCreatedId": {
                            "description": "Unique Id created by monitor service",
                            "readOnly": true,
                            "type": "string"
                          },
                          "startDateTime": {
                            "description": "Creation time(ISO-8601 format).",
                            "format": "date-time",
                            "readOnly": true,
                            "type": "string"
                          },
                          "targetResource": {
                            "description": "Target ARM resource, on which alert got created.",
                            "type": "string"
                          },
                          "targetResourceGroup": {
                            "description": "Resource group of target ARM resource.",
                            "type": "string"
                          },
                          "targetResourceName": {
                            "description": "Target ARM resource name, on which alert got created.",
                            "type": "string"
                          },
                          "targetResourceType": {
                            "description": "Resource type of target ARM resource",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "type": "array"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "An error response from the service.",
              "properties": {
                "error": {
                  "description": "Details of error response.",
                  "properties": {
                    "code": {
                      "description": "Error code, intended to be consumed programmatically.",
                      "type": "string"
                    },
                    "details": {
                      "description": "A list of additional details about the error.",
                      "items": {
                        "__ref_cycle__": "#/definitions/errorResponseBody"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Description of the error, intended for display in user interface.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Target of the particular error, for example name of the property.",
                      "type": "string"
                    }
                  },
                  "x-ms-external": true
                }
              },
              "x-ms-external": true
            }
          }
        },
        "x-ms-examples": {
          "ListAlerts": {
            "parameters": {
              "api-version": "2018-05-05-preview",
              "subscriptionId": "1e3ff1c0-771a-4119-a03b-be82a51e232d"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": "https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts?api-version=2018-05-05-preview&timeRange=1d&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1",
                  "value": [
                    {
                      "id": "/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100",
                      "name": "cpu alert",
                      "properties": {
                        "alertState": "New",
                        "lastModifiedDateTime": "2018-06-12T22:05:09Z",
                        "lastModifiedUserName": "System",
                        "monitorCondition": "Fired",
                        "monitorService": "Application Insights",
                        "payload": {},
                        "severity": "Sev3",
                        "signalType": "Log",
                        "smartGroupId": "a808445e-bb38-4751-85c2-1b109ccc1059",
                        "smartGroupingReason": "Alerts that frequently occur together have been grouped.",
                        "sourceCreatedId": "57c049b5-9654-4bb4-a443-3bac3f725d34",
                        "startDateTime": "2018-06-12T22:05:09Z",
                        "targetResource": "/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int",
                        "targetResourceGroup": "alertscorrelationrg",
                        "targetResourceName": "alertscorrelationworkerrole_int",
                        "targetResourceType": "components"
                      },
                      "type": "Microsoft.AlertsManagement/alerts"
                    },
                    {
                      "id": "/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts/239f0e9f-9871-4c8b-a6a2-b893853d1066",
                      "name": "cpu alert",
                      "properties": {
                        "alertState": "New",
                        "lastModifiedDateTime": "2018-06-12T21:40:09Z",
                        "lastModifiedUserName": "System",
                        "monitorCondition": "Fired",
                        "monitorService": "Application Insights",
                        "payload": {},
                        "severity": "Sev3",
                        "signalType": "Log",
                        "smartGroupId": "a808445e-bb38-4751-85c2-1b109ccc1059",
                        "smartGroupingReason": "Alerts that frequently occur together have been grouped.",
                        "sourceCreatedId": "e1c5c974-b796-46a1-bb59-740eeca48c15",
                        "startDateTime": "2018-06-12T21:40:09Z",
                        "targetResource": "/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int",
                        "targetResourceGroup": "alertscorrelationrg",
                        "targetResourceName": "alertscorrelationworkerrole_int",
                        "targetResourceType": "components"
                      },
                      "type": "Microsoft.AlertsManagement/alerts"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/id/providers/microsoft-alertsmanagement/alerts/id": {
      "get": {
        "description": "Get information related to a specific alert",
        "operationId": "alerts-getbyid",
        "parameters": [
          {
            "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique ID of an alert object.",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "client API version",
            "enum": [
              "2018-11-02-privatepreview",
              "2018-05-05"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "api-version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the alert with the specified ID.",
            "schema": {
              "allOf": [
                {
                  "description": "An azure resource object",
                  "properties": {
                    "id": {
                      "description": "Azure resource Id",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Azure resource name",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Azure resource type",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "An alert created in alert management service.",
              "properties": {
                "properties": {
                  "description": "An alert created in alert management service.",
                  "properties": {
                    "alertState": {
                      "description": "Alert object state",
                      "enum": [
                        "New",
                        "Acknowledged",
                        "Closed"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "AlertState"
                      }
                    },
                    "lastModifiedDateTime": {
                      "description": "Last modification time(ISO-8601 format).",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "lastModifiedUserName": {
                      "description": "User who last modified the alert.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "monitorCondition": {
                      "description": "Condition of the rule at the monitor service",
                      "enum": [
                        "Fired",
                        "Resolved"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "MonitorCondition"
                      }
                    },
                    "monitorService": {
                      "description": "Monitor service which is the source of the alert object.",
                      "enum": [
                        "Platform",
                        "Application Insights",
                        "Log Analytics",
                        "Infrastructure Insights",
                        "ActivityLog Administrative",
                        "ActivityLog Security",
                        "ActivityLog Recommendation",
                        "ActivityLog Policy",
                        "ActivityLog Autoscale",
                        "ServiceHealth",
                        "SmartDetector",
                        "Zabbix",
                        "SCOM",
                        "Nagios"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "MonitorService"
                      }
                    },
                    "payload": {
                      "description": "More details which are contextual to the monitor service.",
                      "readOnly": true,
                      "type": "object"
                    },
                    "severity": {
                      "description": "Severity of alert Sev1 being highest and Sev3 being lowest.",
                      "enum": [
                        "Sev0",
                        "Sev1",
                        "Sev2",
                        "Sev3",
                        "Sev4"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "Severity"
                      }
                    },
                    "signalType": {
                      "description": "Log based alert or metric based alert",
                      "enum": [
                        "Metric",
                        "Log",
                        "Unknown"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "SignalType"
                      }
                    },
                    "smartGroupId": {
                      "description": "Unique Id of the smart group",
                      "readOnly": true,
                      "type": "string"
                    },
                    "smartGroupingReason": {
                      "description": "Reason for addition to a smart group",
                      "readOnly": true,
                      "type": "string"
                    },
                    "sourceCreatedId": {
                      "description": "Unique Id created by monitor service",
                      "readOnly": true,
                      "type": "string"
                    },
                    "startDateTime": {
                      "description": "Creation time(ISO-8601 format).",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "targetResource": {
                      "description": "Target ARM resource, on which alert got created.",
                      "type": "string"
                    },
                    "targetResourceGroup": {
                      "description": "Resource group of target ARM resource.",
                      "type": "string"
                    },
                    "targetResourceName": {
                      "description": "Target ARM resource name, on which alert got created.",
                      "type": "string"
                    },
                    "targetResourceType": {
                      "description": "Resource type of target ARM resource",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "An error response from the service.",
              "properties": {
                "error": {
                  "description": "Details of error response.",
                  "properties": {
                    "code": {
                      "description": "Error code, intended to be consumed programmatically.",
                      "type": "string"
                    },
                    "details": {
                      "description": "A list of additional details about the error.",
                      "items": {
                        "__ref_cycle__": "#/definitions/errorResponseBody"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Description of the error, intended for display in user interface.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Target of the particular error, for example name of the property.",
                      "type": "string"
                    }
                  },
                  "x-ms-external": true
                }
              },
              "x-ms-external": true
            }
          }
        },
        "summary": "Get a specific alert.",
        "x-ms-examples": {
          "GetById": {
            "parameters": {
              "alertId": "66114d64-d9d9-478b-95c9-b789d6502100",
              "api-version": "2018-05-05-preview",
              "subscriptionId": "9e261de7-c804-4b9d-9ebf-6f50fe350a9a"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100",
                  "name": "cpu alert",
                  "properties": {
                    "alertState": "New",
                    "lastModifiedDateTime": "2018-06-12T22:05:09Z",
                    "lastModifiedUserName": "System",
                    "monitorCondition": "Fired",
                    "monitorService": "Application Insights",
                    "payload": {},
                    "severity": "Sev3",
                    "signalType": "Log",
                    "smartGroupId": "a808445e-bb38-4751-85c2-1b109ccc1059",
                    "smartGroupingReason": "Alerts that frequently occur together have been grouped.",
                    "sourceCreatedId": "57c049b5-9654-4bb4-a443-3bac3f725d34",
                    "startDateTime": "2018-06-12T22:05:09Z",
                    "targetResource": "/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int",
                    "targetResourceGroup": "alertscorrelationrg",
                    "targetResourceName": "alertscorrelationworkerrole_int",
                    "targetResourceType": "components"
                  },
                  "type": "Microsoft.AlertsManagement/alerts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/userid/providers/microsoft-alertsmanagement/alerts/id/changestate": {
      "post": {
        "description": "Change the state of the alert.",
        "operationId": "alerts-changestate",
        "parameters": [
          {
            "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique ID of an alert object.",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "client API version",
            "enum": [
              "2018-11-02-privatepreview",
              "2018-05-05"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "api-version"
            }
          },
          {
            "description": "filter by state",
            "enum": [
              "New",
              "Acknowledged",
              "Closed"
            ],
            "in": "query",
            "name": "newState",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "AlertState"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Alert state updated.",
            "schema": {
              "allOf": [
                {
                  "description": "An azure resource object",
                  "properties": {
                    "id": {
                      "description": "Azure resource Id",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Azure resource name",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Azure resource type",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "An alert created in alert management service.",
              "properties": {
                "properties": {
                  "description": "An alert created in alert management service.",
                  "properties": {
                    "alertState": {
                      "description": "Alert object state",
                      "enum": [
                        "New",
                        "Acknowledged",
                        "Closed"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "AlertState"
                      }
                    },
                    "lastModifiedDateTime": {
                      "description": "Last modification time(ISO-8601 format).",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "lastModifiedUserName": {
                      "description": "User who last modified the alert.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "monitorCondition": {
                      "description": "Condition of the rule at the monitor service",
                      "enum": [
                        "Fired",
                        "Resolved"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "MonitorCondition"
                      }
                    },
                    "monitorService": {
                      "description": "Monitor service which is the source of the alert object.",
                      "enum": [
                        "Platform",
                        "Application Insights",
                        "Log Analytics",
                        "Infrastructure Insights",
                        "ActivityLog Administrative",
                        "ActivityLog Security",
                        "ActivityLog Recommendation",
                        "ActivityLog Policy",
                        "ActivityLog Autoscale",
                        "ServiceHealth",
                        "SmartDetector",
                        "Zabbix",
                        "SCOM",
                        "Nagios"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "MonitorService"
                      }
                    },
                    "payload": {
                      "description": "More details which are contextual to the monitor service.",
                      "readOnly": true,
                      "type": "object"
                    },
                    "severity": {
                      "description": "Severity of alert Sev1 being highest and Sev3 being lowest.",
                      "enum": [
                        "Sev0",
                        "Sev1",
                        "Sev2",
                        "Sev3",
                        "Sev4"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "Severity"
                      }
                    },
                    "signalType": {
                      "description": "Log based alert or metric based alert",
                      "enum": [
                        "Metric",
                        "Log",
                        "Unknown"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "SignalType"
                      }
                    },
                    "smartGroupId": {
                      "description": "Unique Id of the smart group",
                      "readOnly": true,
                      "type": "string"
                    },
                    "smartGroupingReason": {
                      "description": "Reason for addition to a smart group",
                      "readOnly": true,
                      "type": "string"
                    },
                    "sourceCreatedId": {
                      "description": "Unique Id created by monitor service",
                      "readOnly": true,
                      "type": "string"
                    },
                    "startDateTime": {
                      "description": "Creation time(ISO-8601 format).",
                      "format": "date-time",
                      "readOnly": true,
                      "type": "string"
                    },
                    "targetResource": {
                      "description": "Target ARM resource, on which alert got created.",
                      "type": "string"
                    },
                    "targetResourceGroup": {
                      "description": "Resource group of target ARM resource.",
                      "type": "string"
                    },
                    "targetResourceName": {
                      "description": "Target ARM resource name, on which alert got created.",
                      "type": "string"
                    },
                    "targetResourceType": {
                      "description": "Resource type of target ARM resource",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "An error response from the service.",
              "properties": {
                "error": {
                  "description": "Details of error response.",
                  "properties": {
                    "code": {
                      "description": "Error code, intended to be consumed programmatically.",
                      "type": "string"
                    },
                    "details": {
                      "description": "A list of additional details about the error.",
                      "items": {
                        "__ref_cycle__": "#/definitions/errorResponseBody"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Description of the error, intended for display in user interface.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Target of the particular error, for example name of the property.",
                      "type": "string"
                    }
                  },
                  "x-ms-external": true
                }
              },
              "x-ms-external": true
            }
          }
        },
        "x-ms-examples": {
          "Resolve": {
            "parameters": {
              "alertId": "66114d64-d9d9-478b-95c9-b789d6502100",
              "api-version": "2018-05-05-preview",
              "body": {
                "comments": "Acknowledging alert"
              },
              "newState": "Acknowledged",
              "subscriptionId": "9e261de7-c804-4b9d-9ebf-6f50fe350a9a"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100",
                  "name": "cpu alert",
                  "properties": {
                    "alertState": "New",
                    "lastModifiedDateTime": "2018-06-12T22:05:09Z",
                    "lastModifiedUserName": "vikramm@microsoft.com",
                    "monitorCondition": "Fired",
                    "monitorService": "Application Insights",
                    "payload": {},
                    "severity": "Sev3",
                    "signalType": "Log",
                    "smartGroupId": "a808445e-bb38-4751-85c2-1b109ccc1059",
                    "smartGroupingReason": "Alerts that frequently occur together have been grouped.",
                    "sourceCreatedId": "57c049b5-9654-4bb4-a443-3bac3f725d34",
                    "startDateTime": "2018-06-12T22:05:09Z",
                    "targetResource": "/subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int",
                    "targetResourceGroup": "alertscorrelationrg",
                    "targetResourceName": "alertscorrelationworkerrole_int",
                    "targetResourceType": "components"
                  },
                  "type": "Microsoft.AlertsManagement/alerts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/paymentid/providers/microsoft-alertsmanagement/alerts/orderid/history": {
      "get": {
        "description": "Get the history of the changes of an alert.",
        "operationId": "alerts-gethistory-v2",
        "parameters": [
          {
            "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Unique ID of an alert object.",
            "in": "path",
            "name": "alertId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "client API version",
            "enum": [
              "2018-11-02-privatepreview",
              "2018-05-05"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "api-version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the list of changes of alert.",
            "schema": {
              "allOf": [
                {
                  "description": "An azure resource object",
                  "properties": {
                    "id": {
                      "description": "Azure resource Id",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Azure resource name",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Azure resource type",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Alert Modification details",
              "properties": {
                "properties": {
                  "description": "Properties of the alert modification item.",
                  "properties": {
                    "alertId": {
                      "description": "Unique Id of the alert for which the history is being retrieved",
                      "readOnly": true,
                      "type": "string"
                    },
                    "modifications": {
                      "description": "Modification details",
                      "items": {
                        "description": "Alert modification item.",
                        "properties": {
                          "comments": {
                            "description": "Modification comments",
                            "type": "string"
                          },
                          "description": {
                            "description": "Description of the modification",
                            "type": "string"
                          },
                          "modificationEvent": {
                            "description": "Reason for the modification",
                            "enum": [
                              "AlertCreated",
                              "StateChange",
                              "MonitorConditionChange"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                              "name": "AlertModificationEvent"
                            }
                          },
                          "modifiedAt": {
                            "description": "Modified date and time",
                            "type": "string"
                          },
                          "modifiedBy": {
                            "description": "Modified user details (Principal client name)",
                            "type": "string"
                          },
                          "newValue": {
                            "description": "New value",
                            "type": "string"
                          },
                          "oldValue": {
                            "description": "Old value",
                            "type": "string"
                          }
                        }
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              },
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "An error response from the service.",
              "properties": {
                "error": {
                  "description": "Details of error response.",
                  "properties": {
                    "code": {
                      "description": "Error code, intended to be consumed programmatically.",
                      "type": "string"
                    },
                    "details": {
                      "description": "A list of additional details about the error.",
                      "items": {
                        "__ref_cycle__": "#/definitions/errorResponseBody"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Description of the error, intended for display in user interface.",
                      "type": "string"
                    },
                    "target": {
                      "description": "Target of the particular error, for example name of the property.",
                      "type": "string"
                    }
                  },
                  "x-ms-external": true
                }
              },
              "x-ms-external": true
            }
          }
        },
        "x-ms-examples": {
          "Resolve": {
            "parameters": {
              "alertId": "66114d64-d9d9-478b-95c9-b789d6502100",
              "api-version": "2018-05-05-preview",
              "subscriptionId": "9e261de7-c804-4b9d-9ebf-6f50fe350a9a"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100/history/default",
                  "name": "CPU Alert",
                  "properties": {
                    "alertId": "66114d64-d9d9-478b-95c9-b789d6502100",
                    "modifications": [
                      {
                        "comments": "Acknowledging alert",
                        "description": "State changed from 'New' to 'Acknowledged'",
                        "modificationEvent": "StateChange",
                        "modifiedAt": "2018-06-13T06:14:15.7378737Z",
                        "modifiedBy": "vikramm@microsoft.com",
                        "newValue": "Acknowledged",
                        "oldValue": "New"
                      },
                      {
                        "comments": "",
                        "description": "New Alert Object is created",
                        "modificationEvent": "AlertCreated",
                        "modifiedAt": "2018-06-13T06:09:01Z",
                        "modifiedBy": "System",
                        "newValue": "",
                        "oldValue": ""
                      }
                    ]
                  },
                  "type": "Microsoft.AlertsManagement/alerts"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/sku/providers/microsoft-alertsmanagement/alertssummary": {
      "get": {
        "description": "Summary of alerts with the count each severity.",
        "operationId": "alerts-getsummary-v2",
        "parameters": [
          {
            "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "filter by target resource group name",
            "in": "query",
            "name": "targetResourceGroup",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "filter by time range, default value is 1 day",
            "enum": [
              "1h",
              "1d",
              "7d",
              "30d"
            ],
            "in": "query",
            "name": "timeRange",
            "required": false,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "TimeRange"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "description": "client API version",
            "enum": [
              "2018-11-02-privatepreview",
              "2018-05-05"
            ],
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "api-version"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Alert state updated.",
            "schema": {
              "allOf": [
                {
                  "description": "An azure resource object",
                  "properties": {
                    "id": {
                      "description": "Azure resource Id",
                      "readOnly": true,
                      "type": "string"
                    },
                    "name": {
                      "description": "Azure resource name",
                      "readOnly": true,
                      "type": "string"
                    },
                    "type": {
                      "description": "Azure resource type",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Summary of the alerts.",
              "properties": {
                "properties": {
                  "description": "Summary of the alerts",
                  "properties": {
                    "nextLink": {
                      "description": "URL to fetch the next set of results.",
                      "type": "string"
                    },
                    "smartGroupsCount": {
                      "description": "Total number of smart groups.",
                      "type": "integer"
                    },
                    "summaryByMonitorService": {
                      "allOf": [
                        {
                          "description": "Summary of the alerts by monitor service",
                          "properties": {
                            "activityLog Administrative": {
                              "description": "Count of alerts of \"ActivityLog Administrative\"",
                              "type": "integer"
                            },
                            "activityLog Autoscale": {
                              "description": "Count of alerts of \"ActivityLog Autoscale\"",
                              "type": "integer"
                            },
                            "activityLog Policy": {
                              "description": "Count of alerts of \"ActivityLog Policy\"",
                              "type": "integer"
                            },
                            "activityLog Recommendation": {
                              "description": "Count of alerts of \"ActivityLog Recommendation\"",
                              "type": "integer"
                            },
                            "activityLog Security": {
                              "description": "Count of alerts of \"ActivityLog Security\"",
                              "type": "integer"
                            },
                            "application Insights": {
                              "description": "Count of alerts of \"Application Insights\"",
                              "type": "integer"
                            },
                            "infrastructure Insights": {
                              "description": "Count of alerts of \"Infrastructure Insights\"",
                              "type": "integer"
                            },
                            "log Analytics": {
                              "description": "Count of alerts of \"Log Analytics\"",
                              "type": "integer"
                            },
                            "nagios": {
                              "description": "Count of alerts of \"Nagios\"",
                              "type": "integer"
                            },
                            "platform": {
                              "description": "Count of alerts of \"Platform\"",
                              "type": "integer"
                            },
                            "scom": {
                              "description": "Count of alerts of \"SCOM\"",
                              "type": "integer"
                            },
                            "serviceHealth": {
                              "description": "Count of alerts of \"ServiceHealth\"",
                              "type": "integer"
                            },
                            "smartDetector": {
                              "description": "Count of alerts of \"Smart Detector\"",
                              "type": "integer"
                            },
                            "zabbix": {
[...]
