{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "The Azure Analysis Services Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Analysis Services servers",
    "title": "AzureAnalysisServices",
    "version": "2017-08-01-beta",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"
    },
    "x-ms-code-generation-settings": {
      "name": "AnalysisServicesManagementClient"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/analysisservices/resource-manager/Microsoft.AnalysisServices/preview/2017-08-01-beta/analysisservices.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "analysisservices",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiVersionParameter": {
      "description": "The client API version.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90.",
      "in": "path",
      "maxLength": 90,
      "minLength": 1,
      "name": "resourceGroupName",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/transactions/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/payments/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/providers/microsoft-analysisservices/operations": {
      "get": {
        "description": "modified get /providers/Microsoft.AnalysisServices/operations",
        "operationId": "operations-list",
        "parameters": [
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "description": "Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.",
              "properties": {
                "nextLink": {
                  "description": "URL to get the next set of operation list results if there are any.",
                  "readOnly": true,
                  "type": "string"
                },
                "value": {
                  "description": "List of analysis services operations supported by the Microsoft.AnalysisServices resource provider.",
                  "items": {
                    "description": "A Consumption REST API operation.",
                    "properties": {
                      "display": {
                        "description": "The object that represents the operation.",
                        "properties": {
                          "operation": {
                            "description": "Operation type: Read, write, delete, etc.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "provider": {
                            "description": "Service provider: Microsoft.Consumption.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "resource": {
                            "description": "Resource on which the operation is performed: UsageDetail, etc.",
                            "readOnly": true,
                            "type": "string"
                          }
                        }
                      },
                      "name": {
                        "description": "Operation name: {provider}/{resource}/{operation}.",
                        "readOnly": true,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "readOnly": true,
                  "type": "array"
                }
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Describes the format of Error response.",
              "properties": {
                "code": {
                  "description": "Error code",
                  "type": "string"
                },
                "message": {
                  "description": "Error message indicating why the operation failed.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/id/providers/microsoft-analysisservices/locations/id/checknameavailability": {
      "post": {
        "description": "Check the name availability in the target location.",
        "operationId": "servers-checknameavailability-v2",
        "parameters": [
          {
            "description": "The region name which the operation will lookup into.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string"
          },
          {
            "description": "Contains the information used to provision the Analysis Services server.",
            "in": "body",
            "name": "serverParameters",
            "required": true,
            "schema": {
              "description": "Details of server name request body.",
              "properties": {
                "name": {
                  "description": "Name for checking availability.",
                  "maxLength": 63,
                  "minLength": 3,
                  "pattern": "^[a-z][a-z0-9]*$",
                  "type": "string"
                },
                "type": {
                  "default": "Microsoft.AnalysisServices/servers",
                  "description": "The resource type of azure analysis services.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "schema": {}
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "description": "The checking result of server name availability.",
              "properties": {
                "message": {
                  "description": "The detailed message of the request unavailability.",
                  "type": "string"
                },
                "nameAvailable": {
                  "description": "Indicator of available of the server name.",
                  "type": "boolean"
                },
                "reason": {
                  "description": "The reason of unavailability.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Servers"
        ],
        "x-ms-examples": {
          "Get details of a server": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "location": "West US",
              "serverParameters": {
                "name": "azsdktest",
                "type": "Microsoft.AnalysisServices/servers"
              },
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "body": {
                  "nameAvailable": true
                },
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/subscriptions/orderid/providers/microsoft-analysisservices/locations/orderid/operationresults/paymentid": {
      "get": {
        "description": "List the result of the specified operation.",
        "operationId": "servers-listoperationresults",
        "parameters": [
          {
            "description": "The region name which the operation will lookup into.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string"
          },
          {
            "description": "The target operation Id.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "schema": {}
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed."
          },
          "202": {
            "description": "Accepted. The operation is ongoing."
          }
        },
        "tags": [
          "Servers"
        ],
        "x-ms-examples": {
          "Get details of a server": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "location": "West US",
              "operationId": "00000000000000000000000000000000",
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "headers": {}
              },
              "202": {
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/subscriptions/userid/providers/microsoft-analysisservices/locations/paymentid/operationstatuses/sku": {
      "get": {
        "description": "List the status of operation.",
        "operationId": "servers-listoperationstatuses",
        "parameters": [
          {
            "description": "The region name which the operation will lookup into.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string"
          },
          {
            "description": "The target operation Id.",
            "in": "path",
            "name": "operationId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed.",
            "schema": {
              "description": "The status of operation.",
              "properties": {
                "endTime": {
                  "description": "The end time of the operation.",
                  "type": "string"
                },
                "error": {
                  "description": "Describes the format of Error response.",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "id": {
                  "description": "The operation Id.",
                  "type": "string"
                },
                "name": {
                  "description": "The operation name.",
                  "type": "string"
                },
                "startTime": {
                  "description": "The start time of the operation.",
                  "type": "string"
                },
                "status": {
                  "description": "The status of the operation.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "202": {
            "description": "Accepted. The operation is ongoing.",
            "schema": {
              "description": "The status of operation.",
              "properties": {
                "endTime": {
                  "description": "The end time of the operation.",
                  "type": "string"
                },
                "error": {
                  "description": "Describes the format of Error response.",
                  "properties": {
                    "code": {
                      "description": "Error code",
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "id": {
                  "description": "The operation Id.",
                  "type": "string"
                },
                "name": {
                  "description": "The operation name.",
                  "type": "string"
                },
                "startTime": {
                  "description": "The start time of the operation.",
                  "type": "string"
                },
                "status": {
                  "description": "The status of the operation.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Servers"
        ],
        "x-ms-examples": {
          "Get details of a server": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "location": "West US",
              "operationId": "testoperationid",
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "body": {
                  "endTime": "2017-01-01T16:13:13.933Z",
                  "id": "/subscriptions/id/locations/westus/operationstatuses/testoperationid",
                  "name": "testoperationid",
                  "startTime": "2017-01-01T13:13:13.933Z",
                  "status": "Succeeded"
                },
                "headers": {}
              },
              "202": {
                "body": {
                  "id": "/subscriptions/id/locations/westus/operationstatuses/testoperationid",
                  "name": "testoperationid",
                  "startTime": "2017-01-01T13:13:13.933Z",
                  "status": "Running"
                },
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/subscriptions/id/providers/microsoft-analysisservices/servers": {
      "get": {
        "description": "modified get /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers",
        "operationId": "servers-list",
        "parameters": [
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "An array of Analysis Services resources.",
              "properties": {
                "value": {
                  "description": "An array of Analysis Services resources.",
                  "items": {
                    "allOf": [
                      {
                        "description": "Represents an instance of an Analysis Services resource.",
                        "properties": {
                          "id": {
                            "description": "An identifier that represents the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "location": {
                            "description": "Location of the Analysis Services resource.",
                            "type": "string",
                            "x-ms-mutability": [
                              "create",
                              "read"
                            ]
                          },
                          "name": {
                            "description": "The name of the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "sku": {
                            "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
                            "properties": {
                              "capacity": {
                                "default": 1,
                                "description": "The number of instances in the read only query pool.",
                                "maximum": 8,
                                "minimum": 1,
                                "type": "integer"
                              },
                              "name": {
                                "description": "Name of the SKU level.",
                                "type": "string"
                              },
                              "tier": {
                                "description": "The name of the Azure pricing tier to which the SKU applies.",
                                "enum": [
                                  "Development",
                                  "Basic",
                                  "Standard"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "SkuTier"
                                }
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "type": "object"
                          },
                          "tags": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Key-value pairs of additional resource provisioning properties.",
                            "type": "object"
                          },
                          "type": {
                            "description": "The type of the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "location",
                          "sku"
                        ],
                        "type": "object",
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "Represents an instance of an Analysis Services resource.",
                    "properties": {
                      "properties": {
                        "allOf": [
                          {
                            "description": "An object that represents a set of mutable Analysis Services resource properties.",
                            "properties": {
                              "asAdministrators": {
                                "description": "An array of administrator user identities.",
                                "properties": {
                                  "members": {
                                    "description": "An array of administrator user identities.",
                                    "items": {
                                      "description": "The UPN of the user. For example: johnsmith@contoso.com.",
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "backupBlobContainerUri": {
                                "description": "The SAS container URI to the backup container.",
                                "type": "string"
                              },
                              "gatewayDetails": {
                                "description": "The gateway details.",
                                "properties": {
                                  "dmtsClusterUri": {
                                    "description": "Uri of the DMTS cluster.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "gatewayObjectId": {
                                    "description": "Gateway object id from in the DMTS cluster for the gateway resource.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "gatewayResourceId": {
                                    "description": "Gateway resource to be associated with the server.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "ipV4FirewallSettings": {
                                "description": "An array of firewall rules.",
                                "properties": {
                                  "enablePowerBIService": {
                                    "description": "The indicator of enabling PBI service.",
                                    "type": "boolean"
                                  },
                                  "firewallRules": {
                                    "description": "An array of firewall rules.",
                                    "items": {
                                      "description": "The detail of firewall rule.",
                                      "properties": {
                                        "firewallRuleName": {
                                          "description": "The rule name.",
                                          "type": "string"
                                        },
                                        "rangeEnd": {
                                          "description": "The end range of IPv4.",
                                          "type": "string"
                                        },
                                        "rangeStart": {
                                          "description": "The start range of IPv4.",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "querypoolConnectionMode": {
                                "default": "All",
                                "description": "How the read-write server's participation in the query pool is controlled.<br/>It can have the following values: <ul><li>readOnly - indicates that the read-write server is intended not to participate in query operations</li><li>all - indicates that the read-write server can participate in query operations</li></ul>Specifying readOnly when capacity is 1 results in error.",
                                "enum": [
                                  "All",
                                  "ReadOnly"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": false,
                                  "name": "ConnectionMode"
                                }
                              }
                            },
                            "type": "object"
                          }
                        ],
                        "description": "Properties of Analysis Services resource.",
                        "properties": {
                          "provisioningState": {
                            "description": "The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning.",
                            "enum": [
                              "Deleting",
                              "Succeeded",
                              "Failed",
                              "Paused",
                              "Suspended",
                              "Provisioning",
                              "Updating",
                              "Suspending",
                              "Pausing",
                              "Resuming",
                              "Preparing",
                              "Scaling"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "ProvisioningState"
                            }
                          },
                          "serverFullName": {
                            "description": "The full name of the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "state": {
                            "description": "The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning.",
                            "enum": [
                              "Deleting",
                              "Succeeded",
                              "Failed",
                              "Paused",
                              "Suspended",
                              "Provisioning",
                              "Updating",
                              "Suspending",
                              "Pausing",
                              "Resuming",
                              "Preparing",
                              "Scaling"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "State"
                            }
                          }
                        },
                        "type": "object",
                        "_polymorphic_marker": {
                          "allOf": true
                        }
                      }
                    },
                    "type": "object",
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "type": "array"
                }
              },
              "required": [
                "value"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "Servers"
        ],
        "x-ms-examples": {
          "List existing servers under the subscription.": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.AnalysisServices/servers/azsdktest",
                      "location": "West US",
                      "name": "azsdktest",
                      "properties": {
                        "asAdministrators": {
                          "members": [
                            "azsdktest@microsoft.com"
                          ]
                        },
                        "provisioningState": "Provisioning",
                        "serverFullName": "asazure://nightly1.asazure-int.windows.net/azsdktest",
                        "state": "Provisioning"
                      },
                      "sku": {
                        "capacity": 1,
                        "name": "S1",
                        "tier": "Standard"
                      },
                      "tags": {
                        "testKey": "testValue"
                      }
                    },
                    {
                      "id": "/subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG2/providers/Microsoft.AnalysisServices/servers/azsdktest",
                      "location": "West US",
                      "name": "azsdktest2",
                      "properties": {
                        "asAdministrators": {
                          "members": [
                            "azsdktest@microsoft.com"
                          ]
                        },
                        "provisioningState": "Provisioning",
                        "serverFullName": "asazure://nightly1.asazure-int.windows.net/azsdktest",
                        "state": "Provisioning"
                      },
                      "sku": {
                        "capacity": 1,
                        "name": "S0",
                        "tier": "Standard"
                      },
                      "tags": {
                        "testKey": "testValue"
                      }
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/id/providers/microsoft-analysisservices/skus": {
      "get": {
        "description": "modified get /subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/skus",
        "operationId": "servers-listskusfornew",
        "parameters": [
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "An object that represents enumerating SKUs for new resources.",
              "properties": {
                "value": {
                  "description": "The collection of available SKUs for new resources.",
                  "items": {
                    "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
                    "properties": {
                      "capacity": {
                        "default": 1,
                        "description": "The number of instances in the read only query pool.",
                        "maximum": 8,
                        "minimum": 1,
                        "type": "integer"
                      },
                      "name": {
                        "description": "Name of the SKU level.",
                        "type": "string"
                      },
                      "tier": {
                        "description": "The name of the Azure pricing tier to which the SKU applies.",
                        "enum": [
                          "Development",
                          "Basic",
                          "Standard"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                          "modelAsString": true,
                          "name": "SkuTier"
                        }
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "x-ms-examples": {
          "List eligible SKUs for a new server": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "B1"
                    },
                    {
                      "name": "B2"
                    },
                    {
                      "name": "D1"
                    },
                    {
                      "name": "S0"
                    },
                    {
                      "name": "S1"
                    },
                    {
                      "name": "S2"
                    },
                    {
                      "name": "S3"
                    },
                    {
                      "name": "S4"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/subscriptions/id/resourcegroups/sku/providers/microsoft-analysisservices/servers": {
      "get": {
        "description": "Gets all the Analysis Services servers for the given resource group.",
        "operationId": "servers-listbyresourcegroup",
        "parameters": [
          {
            "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "resourceGroupName",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "schema": {}
          },
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "schema": {
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "An array of Analysis Services resources.",
              "properties": {
                "value": {
                  "description": "An array of Analysis Services resources.",
                  "items": {
                    "allOf": [
                      {
                        "description": "Represents an instance of an Analysis Services resource.",
                        "properties": {
                          "id": {
                            "description": "An identifier that represents the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "location": {
                            "description": "Location of the Analysis Services resource.",
                            "type": "string",
                            "x-ms-mutability": [
                              "create",
                              "read"
                            ]
                          },
                          "name": {
                            "description": "The name of the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "sku": {
                            "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
                            "properties": {
                              "capacity": {
                                "default": 1,
                                "description": "The number of instances in the read only query pool.",
                                "maximum": 8,
                                "minimum": 1,
                                "type": "integer"
                              },
                              "name": {
                                "description": "Name of the SKU level.",
                                "type": "string"
                              },
                              "tier": {
                                "description": "The name of the Azure pricing tier to which the SKU applies.",
                                "enum": [
                                  "Development",
                                  "Basic",
                                  "Standard"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": true,
                                  "name": "SkuTier"
                                }
                              }
                            },
                            "required": [
                              "name"
                            ],
                            "type": "object"
                          },
                          "tags": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "description": "Key-value pairs of additional resource provisioning properties.",
                            "type": "object"
                          },
                          "type": {
                            "description": "The type of the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          }
                        },
                        "required": [
                          "location",
                          "sku"
                        ],
                        "type": "object",
                        "x-ms-azure-resource": true
                      }
                    ],
                    "description": "Represents an instance of an Analysis Services resource.",
                    "properties": {
                      "properties": {
                        "allOf": [
                          {
                            "description": "An object that represents a set of mutable Analysis Services resource properties.",
                            "properties": {
                              "asAdministrators": {
                                "description": "An array of administrator user identities.",
                                "properties": {
                                  "members": {
                                    "description": "An array of administrator user identities.",
                                    "items": {
                                      "description": "The UPN of the user. For example: johnsmith@contoso.com.",
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "backupBlobContainerUri": {
                                "description": "The SAS container URI to the backup container.",
                                "type": "string"
                              },
                              "gatewayDetails": {
                                "description": "The gateway details.",
                                "properties": {
                                  "dmtsClusterUri": {
                                    "description": "Uri of the DMTS cluster.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "gatewayObjectId": {
                                    "description": "Gateway object id from in the DMTS cluster for the gateway resource.",
                                    "readOnly": true,
                                    "type": "string"
                                  },
                                  "gatewayResourceId": {
                                    "description": "Gateway resource to be associated with the server.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "ipV4FirewallSettings": {
                                "description": "An array of firewall rules.",
                                "properties": {
                                  "enablePowerBIService": {
                                    "description": "The indicator of enabling PBI service.",
                                    "type": "boolean"
                                  },
                                  "firewallRules": {
                                    "description": "An array of firewall rules.",
                                    "items": {
                                      "description": "The detail of firewall rule.",
                                      "properties": {
                                        "firewallRuleName": {
                                          "description": "The rule name.",
                                          "type": "string"
                                        },
                                        "rangeEnd": {
                                          "description": "The end range of IPv4.",
                                          "type": "string"
                                        },
                                        "rangeStart": {
                                          "description": "The start range of IPv4.",
                                          "type": "string"
                                        }
                                      },
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "type": "object"
                              },
                              "querypoolConnectionMode": {
                                "default": "All",
                                "description": "How the read-write server's participation in the query pool is controlled.<br/>It can have the following values: <ul><li>readOnly - indicates that the read-write server is intended not to participate in query operations</li><li>all - indicates that the read-write server can participate in query operations</li></ul>Specifying readOnly when capacity is 1 results in error.",
                                "enum": [
                                  "All",
                                  "ReadOnly"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                  "modelAsString": false,
                                  "name": "ConnectionMode"
                                }
                              }
                            },
                            "type": "object"
                          }
                        ],
                        "description": "Properties of Analysis Services resource.",
                        "properties": {
                          "provisioningState": {
                            "description": "The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning.",
                            "enum": [
                              "Deleting",
                              "Succeeded",
                              "Failed",
                              "Paused",
                              "Suspended",
                              "Provisioning",
                              "Updating",
                              "Suspending",
                              "Pausing",
                              "Resuming",
                              "Preparing",
                              "Scaling"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "ProvisioningState"
                            }
                          },
                          "serverFullName": {
                            "description": "The full name of the Analysis Services resource.",
                            "readOnly": true,
                            "type": "string"
                          },
                          "state": {
                            "description": "The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning.",
                            "enum": [
                              "Deleting",
                              "Succeeded",
                              "Failed",
                              "Paused",
                              "Suspended",
                              "Provisioning",
                              "Updating",
                              "Suspending",
                              "Pausing",
                              "Resuming",
                              "Preparing",
                              "Scaling"
                            ],
                            "readOnly": true,
                            "type": "string",
                            "x-ms-enum": {
                              "modelAsString": true,
                              "name": "State"
                            }
                          }
                        },
                        "type": "object",
                        "_polymorphic_marker": {
                          "allOf": true
                        }
                      }
                    },
                    "type": "object",
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "type": "array"
                }
              },
              "required": [
                "value"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "Servers"
        ],
        "x-ms-examples": {
          "List existing servers in the resource group.": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "resourceGroupName": "TestRG",
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.AnalysisServices/servers/azsdktest",
                      "location": "West US",
                      "name": "azsdktest",
                      "properties": {
                        "asAdministrators": {
                          "members": [
                            "azsdktest@microsoft.com"
                          ]
                        },
                        "provisioningState": "Provisioning",
                        "serverFullName": "asazure://nightly1.asazure-int.windows.net/azsdktest",
                        "state": "Provisioning"
                      },
                      "sku": {
                        "capacity": 1,
                        "name": "S1",
                        "tier": "Standard"
                      },
                      "tags": {
                        "testKey": "testValue"
                      }
                    },
                    {
                      "id": "/subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.AnalysisServices/servers/azsdktest",
                      "location": "West US",
                      "name": "azsdktest2",
                      "properties": {
                        "asAdministrators": {
                          "members": [
                            "azsdktest@microsoft.com"
                          ]
                        },
                        "provisioningState": "Provisioning",
                        "serverFullName": "asazure://nightly1.asazure-int.windows.net/azsdktest",
                        "state": "Provisioning"
                      },
                      "sku": {
                        "capacity": 1,
                        "name": "S0",
                        "tier": "Standard"
                      },
                      "tags": {
                        "testKey": "testValue"
                      }
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/orderid/resourcegroups/paymentid/providers/microsoft-analysisservices/servers/paymentid": {
      "delete": {
        "description": "modified delete /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{serverName}",
        "operationId": "servers-delete",
        "parameters": [
          {
            "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "resourceGroupName",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "maxLength": 63,
            "minLength": 3,
            "name": "serverName",
            "pattern": "^[a-z][a-z0-9]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "No Content."
          }
        },
        "tags": [
          "Servers"
        ],
        "x-ms-examples": {
          "Delete a server.": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "resourceGroupName": "TestRG",
              "serverName": "azsdktest",
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "description": "OK.",
                "headers": {}
              },
              "202": {
                "description": "Accepted.",
                "headers": {}
              },
              "204": {
                "headers": {}
              }
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "description": "Gets details about the specified Analysis Services server.",
        "operationId": "servers-getdetails-v2",
        "parameters": [
          {
            "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "resourceGroupName",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the Analysis Services server. It must be a minimum of 3 characters, and a maximum of 63.",
            "in": "path",
            "maxLength": 63,
            "minLength": 3,
            "name": "serverName",
            "pattern": "^[a-z][a-z0-9]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "allOf": [
                {
                  "description": "Represents an instance of an Analysis Services resource.",
                  "properties": {
                    "id": {
                      "description": "An identifier that represents the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "Location of the Analysis Services resource.",
                      "type": "string",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "name": {
                      "description": "The name of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "sku": {
                      "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
                      "properties": {
                        "capacity": {
                          "default": 1,
                          "description": "The number of instances in the read only query pool.",
                          "maximum": 8,
                          "minimum": 1,
                          "type": "integer"
                        },
                        "name": {
                          "description": "Name of the SKU level.",
                          "type": "string"
                        },
                        "tier": {
                          "description": "The name of the Azure pricing tier to which the SKU applies.",
                          "enum": [
                            "Development",
                            "Basic",
                            "Standard"
                          ],
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "SkuTier"
                          }
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "type": "object"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Key-value pairs of additional resource provisioning properties.",
                      "type": "object"
                    },
                    "type": {
                      "description": "The type of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location",
                    "sku"
                  ],
                  "type": "object",
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Represents an instance of an Analysis Services resource.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "description": "An object that represents a set of mutable Analysis Services resource properties.",
                      "properties": {
                        "asAdministrators": {
                          "description": "An array of administrator user identities.",
                          "properties": {
                            "members": {
                              "description": "An array of administrator user identities.",
                              "items": {
                                "description": "The UPN of the user. For example: johnsmith@contoso.com.",
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "backupBlobContainerUri": {
                          "description": "The SAS container URI to the backup container.",
                          "type": "string"
                        },
                        "gatewayDetails": {
                          "description": "The gateway details.",
                          "properties": {
                            "dmtsClusterUri": {
                              "description": "Uri of the DMTS cluster.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "gatewayObjectId": {
                              "description": "Gateway object id from in the DMTS cluster for the gateway resource.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "gatewayResourceId": {
                              "description": "Gateway resource to be associated with the server.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "ipV4FirewallSettings": {
                          "description": "An array of firewall rules.",
                          "properties": {
                            "enablePowerBIService": {
                              "description": "The indicator of enabling PBI service.",
                              "type": "boolean"
                            },
                            "firewallRules": {
                              "description": "An array of firewall rules.",
                              "items": {
                                "description": "The detail of firewall rule.",
                                "properties": {
                                  "firewallRuleName": {
                                    "description": "The rule name.",
                                    "type": "string"
                                  },
                                  "rangeEnd": {
                                    "description": "The end range of IPv4.",
                                    "type": "string"
                                  },
                                  "rangeStart": {
                                    "description": "The start range of IPv4.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "querypoolConnectionMode": {
                          "default": "All",
                          "description": "How the read-write server's participation in the query pool is controlled.<br/>It can have the following values: <ul><li>readOnly - indicates that the read-write server is intended not to participate in query operations</li><li>all - indicates that the read-write server can participate in query operations</li></ul>Specifying readOnly when capacity is 1 results in error.",
                          "enum": [
                            "All",
                            "ReadOnly"
                          ],
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": false,
                            "name": "ConnectionMode"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "description": "Properties of Analysis Services resource.",
                  "properties": {
                    "provisioningState": {
                      "description": "The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning.",
                      "enum": [
                        "Deleting",
                        "Succeeded",
                        "Failed",
                        "Paused",
                        "Suspended",
                        "Provisioning",
                        "Updating",
                        "Suspending",
                        "Pausing",
                        "Resuming",
                        "Preparing",
                        "Scaling"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningState"
                      }
                    },
                    "serverFullName": {
                      "description": "The full name of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "state": {
                      "description": "The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning.",
                      "enum": [
                        "Deleting",
                        "Succeeded",
                        "Failed",
                        "Paused",
                        "Suspended",
                        "Provisioning",
                        "Updating",
                        "Suspending",
                        "Pausing",
                        "Resuming",
                        "Preparing",
                        "Scaling"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "State"
                      }
                    }
                  },
                  "type": "object",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              },
              "type": "object",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          }
        },
        "tags": [
          "Servers"
        ],
        "x-ms-examples": {
          "Get details of a server": {
            "parameters": {
              "api-version": "2017-08-01-beta",
              "resourceGroupName": "TestRG",
              "serverName": "azsdktest",
              "subscriptionId": "613192d7-503f-477a-9cfe-4efc3ee2bd60"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.AnalysisServices/servers/azsdktest",
                  "location": "West US",
                  "name": "azsdktest",
                  "properties": {
                    "asAdministrators": {
                      "members": [
                        "azsdktest@microsoft.com"
                      ]
                    },
                    "provisioningState": "Provisioning",
                    "serverFullName": "asazure://nightly1.asazure-int.windows.net/azsdktest",
                    "state": "Provisioning"
                  },
                  "sku": {
                    "capacity": 1,
                    "name": "S1",
                    "tier": "Standard"
                  },
                  "tags": {
                    "testKey": "testValue"
                  }
                },
                "headers": {}
              }
            }
          }
        }
      },
      "patch": {
        "description": "Updates the current state of the specified Analysis Services server.",
        "operationId": "servers-update",
        "parameters": [
          {
            "description": "The name of the Azure Resource group of which a given Analysis Services server is part. This name must be at least 1 character in length, and no more than 90.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "resourceGroupName",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The name of the Analysis Services server. It must be at least 3 characters in length, and no more than 63.",
            "in": "path",
            "maxLength": 63,
            "minLength": 3,
            "name": "serverName",
            "pattern": "^[a-z][a-z0-9]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Request object that contains the updated information for the server.",
            "in": "body",
            "name": "serverUpdateParameters",
            "required": true,
            "schema": {
              "description": "Provision request specification",
              "properties": {
                "properties": {
                  "description": "An object that represents a set of mutable Analysis Services resource properties.",
                  "properties": {
                    "asAdministrators": {
                      "description": "An array of administrator user identities.",
                      "properties": {
                        "members": {
                          "description": "An array of administrator user identities.",
                          "items": {
                            "description": "The UPN of the user. For example: johnsmith@contoso.com.",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "backupBlobContainerUri": {
                      "description": "The SAS container URI to the backup container.",
                      "type": "string"
                    },
                    "gatewayDetails": {
                      "description": "The gateway details.",
                      "properties": {
                        "dmtsClusterUri": {
                          "description": "Uri of the DMTS cluster.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "gatewayObjectId": {
                          "description": "Gateway object id from in the DMTS cluster for the gateway resource.",
                          "readOnly": true,
                          "type": "string"
                        },
                        "gatewayResourceId": {
                          "description": "Gateway resource to be associated with the server.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "ipV4FirewallSettings": {
                      "description": "An array of firewall rules.",
                      "properties": {
                        "enablePowerBIService": {
                          "description": "The indicator of enabling PBI service.",
                          "type": "boolean"
                        },
                        "firewallRules": {
                          "description": "An array of firewall rules.",
                          "items": {
                            "description": "The detail of firewall rule.",
                            "properties": {
                              "firewallRuleName": {
                                "description": "The rule name.",
                                "type": "string"
                              },
                              "rangeEnd": {
                                "description": "The end range of IPv4.",
                                "type": "string"
                              },
                              "rangeStart": {
                                "description": "The start range of IPv4.",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "querypoolConnectionMode": {
                      "default": "All",
                      "description": "How the read-write server's participation in the query pool is controlled.<br/>It can have the following values: <ul><li>readOnly - indicates that the read-write server is intended not to participate in query operations</li><li>all - indicates that the read-write server can participate in query operations</li></ul>Specifying readOnly when capacity is 1 results in error.",
                      "enum": [
                        "All",
                        "ReadOnly"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": false,
                        "name": "ConnectionMode"
                      }
                    }
                  },
                  "type": "object"
                },
                "sku": {
                  "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
                  "properties": {
                    "capacity": {
                      "default": 1,
                      "description": "The number of instances in the read only query pool.",
                      "maximum": 8,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "name": {
                      "description": "Name of the SKU level.",
                      "type": "string"
                    },
                    "tier": {
                      "description": "The name of the Azure pricing tier to which the SKU applies.",
                      "enum": [
                        "Development",
                        "Basic",
                        "Standard"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "SkuTier"
                      }
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "type": "object"
                },
                "tags": {
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Key-value pairs of additional provisioning properties.",
                  "type": "object"
                }
              },
              "type": "object"
            }
          },
          {
            "description": "The client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "schema": {}
          },
          {
            "description": "A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "description": "Represents an instance of an Analysis Services resource.",
                  "properties": {
                    "id": {
                      "description": "An identifier that represents the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "Location of the Analysis Services resource.",
                      "type": "string",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "name": {
                      "description": "The name of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "sku": {
                      "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
                      "properties": {
                        "capacity": {
                          "default": 1,
                          "description": "The number of instances in the read only query pool.",
                          "maximum": 8,
                          "minimum": 1,
                          "type": "integer"
                        },
                        "name": {
                          "description": "Name of the SKU level.",
                          "type": "string"
                        },
                        "tier": {
                          "description": "The name of the Azure pricing tier to which the SKU applies.",
                          "enum": [
                            "Development",
                            "Basic",
                            "Standard"
                          ],
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "SkuTier"
                          }
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "type": "object"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Key-value pairs of additional resource provisioning properties.",
                      "type": "object"
                    },
                    "type": {
                      "description": "The type of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location",
                    "sku"
                  ],
                  "type": "object",
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Represents an instance of an Analysis Services resource.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "description": "An object that represents a set of mutable Analysis Services resource properties.",
                      "properties": {
                        "asAdministrators": {
                          "description": "An array of administrator user identities.",
                          "properties": {
                            "members": {
                              "description": "An array of administrator user identities.",
                              "items": {
                                "description": "The UPN of the user. For example: johnsmith@contoso.com.",
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "backupBlobContainerUri": {
                          "description": "The SAS container URI to the backup container.",
                          "type": "string"
                        },
                        "gatewayDetails": {
                          "description": "The gateway details.",
                          "properties": {
                            "dmtsClusterUri": {
                              "description": "Uri of the DMTS cluster.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "gatewayObjectId": {
                              "description": "Gateway object id from in the DMTS cluster for the gateway resource.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "gatewayResourceId": {
                              "description": "Gateway resource to be associated with the server.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "ipV4FirewallSettings": {
                          "description": "An array of firewall rules.",
                          "properties": {
                            "enablePowerBIService": {
                              "description": "The indicator of enabling PBI service.",
                              "type": "boolean"
                            },
                            "firewallRules": {
                              "description": "An array of firewall rules.",
                              "items": {
                                "description": "The detail of firewall rule.",
                                "properties": {
                                  "firewallRuleName": {
                                    "description": "The rule name.",
                                    "type": "string"
                                  },
                                  "rangeEnd": {
                                    "description": "The end range of IPv4.",
                                    "type": "string"
                                  },
                                  "rangeStart": {
                                    "description": "The start range of IPv4.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "querypoolConnectionMode": {
                          "default": "All",
                          "description": "How the read-write server's participation in the query pool is controlled.<br/>It can have the following values: <ul><li>readOnly - indicates that the read-write server is intended not to participate in query operations</li><li>all - indicates that the read-write server can participate in query operations</li></ul>Specifying readOnly when capacity is 1 results in error.",
                          "enum": [
                            "All",
                            "ReadOnly"
                          ],
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": false,
                            "name": "ConnectionMode"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "description": "Properties of Analysis Services resource.",
                  "properties": {
                    "provisioningState": {
                      "description": "The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning.",
                      "enum": [
                        "Deleting",
                        "Succeeded",
                        "Failed",
                        "Paused",
                        "Suspended",
                        "Provisioning",
                        "Updating",
                        "Suspending",
                        "Pausing",
                        "Resuming",
                        "Preparing",
                        "Scaling"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningState"
                      }
                    },
                    "serverFullName": {
                      "description": "The full name of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "state": {
                      "description": "The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning.",
                      "enum": [
                        "Deleting",
                        "Succeeded",
                        "Failed",
                        "Paused",
                        "Suspended",
                        "Provisioning",
                        "Updating",
                        "Suspending",
                        "Pausing",
                        "Resuming",
                        "Preparing",
                        "Scaling"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "State"
                      }
                    }
                  },
                  "type": "object",
                  "_polymorphic_marker": {
                    "allOf": true
                  }
                }
              },
              "type": "object",
              "_polymorphic_marker": {
                "allOf": true
              }
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "allOf": [
                {
                  "description": "Represents an instance of an Analysis Services resource.",
                  "properties": {
                    "id": {
                      "description": "An identifier that represents the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "location": {
                      "description": "Location of the Analysis Services resource.",
                      "type": "string",
                      "x-ms-mutability": [
                        "create",
                        "read"
                      ]
                    },
                    "name": {
                      "description": "The name of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "sku": {
                      "description": "Represents the SKU name and Azure pricing tier for Analysis Services resource.",
                      "properties": {
                        "capacity": {
                          "default": 1,
                          "description": "The number of instances in the read only query pool.",
                          "maximum": 8,
                          "minimum": 1,
                          "type": "integer"
                        },
                        "name": {
                          "description": "Name of the SKU level.",
                          "type": "string"
                        },
                        "tier": {
                          "description": "The name of the Azure pricing tier to which the SKU applies.",
                          "enum": [
                            "Development",
                            "Basic",
                            "Standard"
                          ],
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": true,
                            "name": "SkuTier"
                          }
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "type": "object"
                    },
                    "tags": {
                      "additionalProperties": {
                        "type": "string"
                      },
                      "description": "Key-value pairs of additional resource provisioning properties.",
                      "type": "object"
                    },
                    "type": {
                      "description": "The type of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "required": [
                    "location",
                    "sku"
                  ],
                  "type": "object",
                  "x-ms-azure-resource": true
                }
              ],
              "description": "Represents an instance of an Analysis Services resource.",
              "properties": {
                "properties": {
                  "allOf": [
                    {
                      "description": "An object that represents a set of mutable Analysis Services resource properties.",
                      "properties": {
                        "asAdministrators": {
                          "description": "An array of administrator user identities.",
                          "properties": {
                            "members": {
                              "description": "An array of administrator user identities.",
                              "items": {
                                "description": "The UPN of the user. For example: johnsmith@contoso.com.",
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "backupBlobContainerUri": {
                          "description": "The SAS container URI to the backup container.",
                          "type": "string"
                        },
                        "gatewayDetails": {
                          "description": "The gateway details.",
                          "properties": {
                            "dmtsClusterUri": {
                              "description": "Uri of the DMTS cluster.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "gatewayObjectId": {
                              "description": "Gateway object id from in the DMTS cluster for the gateway resource.",
                              "readOnly": true,
                              "type": "string"
                            },
                            "gatewayResourceId": {
                              "description": "Gateway resource to be associated with the server.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "ipV4FirewallSettings": {
                          "description": "An array of firewall rules.",
                          "properties": {
                            "enablePowerBIService": {
                              "description": "The indicator of enabling PBI service.",
                              "type": "boolean"
                            },
                            "firewallRules": {
                              "description": "An array of firewall rules.",
                              "items": {
                                "description": "The detail of firewall rule.",
                                "properties": {
                                  "firewallRuleName": {
                                    "description": "The rule name.",
                                    "type": "string"
                                  },
                                  "rangeEnd": {
                                    "description": "The end range of IPv4.",
                                    "type": "string"
                                  },
                                  "rangeStart": {
                                    "description": "The start range of IPv4.",
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "querypoolConnectionMode": {
                          "default": "All",
                          "description": "How the read-write server's participation in the query pool is controlled.<br/>It can have the following values: <ul><li>readOnly - indicates that the read-write server is intended not to participate in query operations</li><li>all - indicates that the read-write server can participate in query operations</li></ul>Specifying readOnly when capacity is 1 results in error.",
                          "enum": [
                            "All",
                            "ReadOnly"
                          ],
                          "type": "string",
                          "x-ms-enum": {
                            "modelAsString": false,
                            "name": "ConnectionMode"
                          }
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "description": "Properties of Analysis Services resource.",
                  "properties": {
                    "provisioningState": {
                      "description": "The current deployment state of Analysis Services resource. The provisioningState is to indicate states for resource provisioning.",
                      "enum": [
                        "Deleting",
                        "Succeeded",
                        "Failed",
                        "Paused",
                        "Suspended",
                        "Provisioning",
                        "Updating",
                        "Suspending",
                        "Pausing",
                        "Resuming",
                        "Preparing",
                        "Scaling"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningState"
                      }
                    },
                    "serverFullName": {
                      "description": "The full name of the Analysis Services resource.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "state": {
                      "description": "The current state of Analysis Services resource. The state is to indicate more states outside of resource provisioning.",
                      "enum": [
                        "Deleting",
                        "Succeeded",
                        "Failed",
                        "Paused",
                        "Suspended",
                        "Provisioning",
                        "Updating",
                        "Suspending",
                        "Pausing",
                        "Resuming",
                        "Preparing",
                        "Scaling"
                      ],
                      "readOnly": true,
                      "type": "string",
                      "x-ms-enum": {
[...]
