{
  "openapi": "3.0.0",
  "info": {
    "version": "2016-08-04",
    "x-release": "v4",
    "title": "AWS Health APIs and Notifications",
    "description": "<fullname>Health</fullname> <p>The Health API provides access to the Health information that appears in the <a href=\"https://health.aws.amazon.com/health/home\">Health Dashboard</a>. You can use the API operations to get information about events that might affect your Amazon Web Services and resources.</p> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a> to use the Health API. If you call the Health API from an Amazon Web Services account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a <code>SubscriptionRequiredException</code> error.</p> <p>For API access, you need an access key ID and a secret access key. Use temporary credentials instead of long-term access keys when possible. Temporary credentials include an access key ID, a secret access key, and a security token that indicates when the credentials expire. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-access-keys-best-practices.html\">Best practices for managing Amazon Web Services access keys</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>You can use the Health endpoint health.us-east-1.amazonaws.com (HTTPS) to call the Health API operations. Health supports a multi-Region application architecture and has two regional endpoints in an active-passive configuration. You can use the high availability endpoint example to determine which Amazon Web Services Region is active, so that you can get the latest information from the API. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/health-api.html\">Accessing the Health API</a> in the <i>Health User Guide</i>.</p> <p>For authentication of requests, Health uses the <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>If your Amazon Web Services account is part of Organizations, you can use the Health organizational view feature. This feature provides a centralized view of Health events across all accounts in your organization. You can aggregate Health events in real time to identify accounts in your organization that are affected by an operational event or get notified of security vulnerabilities. Use the organizational view API operations to enable this feature and return event information. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <note> <p>When you use the Health API operations to return Health events, see the following recommendations:</p> <ul> <li> <p>Use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode\">eventScopeCode</a> parameter to specify whether to return Health events that are public or account-specific.</p> </li> <li> <p>Use pagination to view all events from the response. For example, if you call the <code>DescribeEventsForOrganization</code> operation to get all events in your organization, you might receive several page results. Specify the <code>nextToken</code> in the next request to return more results.</p> </li> </ul> </note>",
    "x-logo": {
      "url": "https://twitter.com/awscloud/profile_image?size=original",
      "backgroundColor": "#FFFFFF"
    },
    "termsOfService": "https://aws.amazon.com/service-terms/",
    "contact": {
      "name": "Mike Ralphson",
      "email": "mike.ralphson@gmail.com",
      "url": "https://github.com/mermade/aws2openapi",
      "x-twitter": "PermittedSoc"
    },
    "license": {
      "name": "Apache 2.0 License",
      "url": "http://www.apache.org/licenses/"
    },
    "x-providerName": "amazonaws.com",
    "x-serviceName": "health",
    "x-origin": [
      {
        "contentType": "application/json",
        "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json",
        "converter": {
          "url": "https://github.com/mermade/aws2openapi",
          "version": "1.0.0"
        },
        "x-apisguru-driver": "external"
      }
    ],
    "x-apiClientRegistration": {
      "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
    },
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-preferred": true
  },
  "externalDocs": {
    "description": "Amazon Web Services documentation",
    "url": "https://docs.aws.amazon.com/health/"
  },
  "servers": [
    {
      "url": "https://health.us-east-1.amazonaws.com",
      "variables": {},
      "description": "The general AWSHealth multi-region endpoint"
    },
    {
      "url": "http://health.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWSHealth endpoint for China (Beijing) and China (Ningxia)"
    },
    {
      "url": "https://health.{region}.amazonaws.com.cn",
      "variables": {
        "region": {
          "description": "The AWS region",
          "enum": [
            "cn-north-1",
            "cn-northwest-1"
          ],
          "default": "cn-north-1"
        }
      },
      "description": "The AWSHealth endpoint for China (Beijing) and China (Ningxia)"
    }
  ],
  "x-hasEquivalentPaths": true,
  "paths": {
    "/products/{id}": {
      "post": {
        "operationId": "describeaffectedaccountsfororganization",
        "description": "modified post /#X-Amz-Target=AWSHealth_20160804.DescribeAffectedAccountsForOrganization",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "affectedAccounts": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "pattern": "^\\S+$",
                            "maxLength": 12
                          }
                        },
                        {
                          "description": "A JSON set of elements of the affected accounts."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "eventScopeCode": {
                      "allOf": [
                        {
                          "type": "string",
                          "enum": [
                            "PUBLIC",
                            "ACCOUNT_SPECIFIC",
                            "NONE"
                          ]
                        },
                        {
                          "description": "<p>This parameter specifies if the Health event is a public Amazon Web Service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
                          "minLength": 4,
                          "maxLength": 10000
                        },
                        {
                          "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InvalidPaginationToken",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "eventArn"
                ],
                "title": "DescribeAffectedAccountsForOrganizationRequest",
                "properties": {
                  "eventArn": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                        "maxLength": 1600
                      },
                      {
                        "description": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "nextToken": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
                        "minLength": 4,
                        "maxLength": 10000
                      },
                      {
                        "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "maxResults": {
                    "allOf": [
                      {
                        "type": "integer",
                        "minimum": 10,
                        "maximum": 100
                      },
                      {
                        "description": "The maximum number of items to return in one batch, between 10 and 100, inclusive."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          },
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSHealth_20160804.DescribeAffectedAccountsForOrganization"
              ]
            }
          },
          {
            "name": "added_6",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/users/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/shipments/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/billing/{id}": {
      "post": {
        "operationId": "enablehealthserviceaccessfororganization-v2",
        "description": "<p>Enables Health to work with Organizations. You can use the organizational view feature to aggregate events from all Amazon Web Services accounts in your organization in a centralized location. </p> <p>This operation also creates a service-linked role for the management account in the organization. </p> <note> <p>To call this operation, you must meet the following requirements:</p> <ul> <li> <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a> to use the Health API. If you call the Health API from an Amazon Web Services account that doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a <code>SubscriptionRequiredException</code> error.</p> </li> <li> <p>You must have permission to call this operation from the organization's management account. For example IAM policies, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html\">Health identity-based policy examples</a>.</p> </li> </ul> </note> <p>If you don't have the required support plan, you can instead use the Health console to enable the organizational view feature. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating Health events</a> in the <i>Health User Guide</i>.</p>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ConcurrentModificationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSHealth_20160804.EnableHealthServiceAccessForOrganization"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/carts/{id}": {
      "post": {
        "operationId": "describehealthservicestatusfororganization-v2",
        "description": "This operation provides status information on enabling or disabling Health to work with your organization. To call this operation, you must use the organization's management account.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "healthServiceAccessStatusForOrganization": {
                      "allOf": [
                        {
                          "type": "string"
                        },
                        {
                          "description": "<p>Information about the status of enabling or disabling the Health organizational view feature in your organization.</p> <p>Valid values are <code>ENABLED | DISABLED | PENDING</code>. </p>"
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSHealth_20160804.DescribeHealthServiceStatusForOrganization"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/inventory/{id}": {
      "post": {
        "operationId": "disablehealthserviceaccessfororganization-v2",
        "description": "<p>Disables Health from working with Organizations. To call this operation, you must sign in to the organization's management account. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating Health events</a> in the <i>Health User Guide</i>.</p> <p>This operation doesn't remove the service-linked role from the management account in your organization. You must use the IAM console, API, or Command Line Interface (CLI) to remove the service-linked role. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html#delete-service-linked-role\">Deleting a Service-Linked Role</a> in the <i>IAM User Guide</i>.</p> <note> <p>You can also disable the organizational feature by using the Organizations <a href=\"https://docs.aws.amazon.com/organizations/latest/APIReference/API_DisableAWSServiceAccess.html\">DisableAWSServiceAccess</a> API operation. After you call this operation, Health stops aggregating events for all other Amazon Web Services accounts in your organization. If you call the Health API operations for organizational view, Health returns an error. Health continues to aggregate health events for your Amazon Web Services account.</p> </note>",
        "responses": {
          "200": {
            "description": "Success"
          },
          "480": {
            "description": "ConcurrentModificationException",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSHealth_20160804.DisableHealthServiceAccessForOrganization"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/reviews/{id}": {
      "post": {
        "operationId": "describeeventtypes-v2",
        "description": "<p>Returns the event types that meet the specified filter criteria. You can use this API operation to find information about the Health event, such as the category, Amazon Web Service, and event code. The metadata for each event appears in the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventType.html\">EventType</a> object. </p> <p>If you don't specify a filter criteria, the API operation returns all event types, in no particular order. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "eventTypes": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "service": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[^:/]{2,30}",
                                    "minLength": 2,
                                    "maxLength": 30
                                  },
                                  {
                                    "description": "The Amazon Web Service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "code": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[a-zA-Z0-9\\_\\-]{3,100}",
                                    "minLength": 3,
                                    "maxLength": 100
                                  },
                                  {
                                    "description": "The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "category": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "issue",
                                      "accountNotification",
                                      "scheduledChange",
                                      "investigation"
                                    ],
                                    "minLength": 3,
                                    "maxLength": 255
                                  },
                                  {
                                    "description": "A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "<p>Contains the metadata about a type of event that is reported by Health. The <code>EventType</code> shows the category, service, and the event type code of the event. For example, an <code>issue</code> might be the category, <code>EC2</code> the service, and <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code> the event type code.</p> <p>You can use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventTypes.html\">DescribeEventTypes</a> API operation to return this information about an event.</p> <p>You can also use the Amazon CloudWatch Events console to create a rule so that you can get notified or take action when Health delivers a specific event to your Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/cloudwatch-events-health.html\">Monitor for Health events with Amazon CloudWatch Events</a> in the <i>Health User Guide</i>.</p>"
                          }
                        },
                        {
                          "description": "A list of event types that match the filter criteria. Event types have a category (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>), a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>, <code>BILLING</code>), and a code (in the format <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>)."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
                          "minLength": 4,
                          "maxLength": 10000
                        },
                        {
                          "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InvalidPaginationToken",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "UnsupportedLocale",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "DescribeEventTypesRequest",
                "properties": {
                  "filter": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "eventTypeCodes": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[a-zA-Z0-9\\_\\-]{3,100}",
                                  "minLength": 3,
                                  "maxLength": 100
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of event type codes."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "services": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[^:/]{2,30}",
                                  "minLength": 2,
                                  "maxLength": 30
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "The Amazon Web Services associated with the event. For example, <code>EC2</code>, <code>RDS</code>."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "eventTypeCategories": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "issue",
                                    "accountNotification",
                                    "scheduledChange",
                                    "investigation"
                                  ],
                                  "minLength": 3,
                                  "maxLength": 255
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        "description": "The values to use to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventTypes.html\">DescribeEventTypes</a> operation."
                      },
                      {
                        "description": "Values to narrow the results returned."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "locale": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": ".{2,256}",
                        "minLength": 2,
                        "maxLength": 256
                      },
                      {
                        "description": "The locale (language) to return information in. English (en) is the default and the only supported value at this time."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "nextToken": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
                        "minLength": 4,
                        "maxLength": 10000
                      },
                      {
                        "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "maxResults": {
                    "allOf": [
                      {
                        "type": "integer",
                        "minimum": 10,
                        "maximum": 100
                      },
                      {
                        "description": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p> <note> <p>If you don't specify the <code>maxResults</code> parameter, this operation returns a maximum of 30 items by default.</p> </note>"
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          },
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSHealth_20160804.DescribeEventTypes"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/profiles/{id}": {
      "post": {
        "operationId": "describeevents",
        "description": "<p> Returns information about events that meet the specified filter criteria. Events are returned in a summary form and do not include the detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\">DescribeEventDetails</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\">DescribeAffectedEntities</a> operations.</p> <p>If no filter criteria are specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent event.</p> <note> <ul> <li> <p>When you call the <code>DescribeEvents</code> operation and specify an entity for the <code>entityValues</code> parameter, Health might return public events that aren't specific to that resource. For example, if you call <code>DescribeEvents</code> and specify an ID for an Amazon Elastic Compute Cloud (Amazon EC2) instance, Health might return events that aren't specific to that resource or service. To get events that are specific to a service, use the <code>services</code> parameter in the <code>filter</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p> </li> <li> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </li> </ul> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "arn": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                    "maxLength": 1600
                                  },
                                  {
                                    "description": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "service": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[^:/]{2,30}",
                                    "minLength": 2,
                                    "maxLength": 30
                                  },
                                  {
                                    "description": "The Amazon Web Service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventTypeCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[a-zA-Z0-9\\_\\-]{3,100}",
                                    "minLength": 3,
                                    "maxLength": 100
                                  },
                                  {
                                    "description": "The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventTypeCategory": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "issue",
                                      "accountNotification",
                                      "scheduledChange",
                                      "investigation"
                                    ],
                                    "minLength": 3,
                                    "maxLength": 255
                                  },
                                  {
                                    "description": "A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "region": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[^:/]{2,25}",
                                    "minLength": 2,
                                    "maxLength": 25
                                  },
                                  {
                                    "description": "The Amazon Web Services Region name of the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "availabilityZone": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}",
                                    "minLength": 6,
                                    "maxLength": 18
                                  },
                                  {
                                    "description": "The Amazon Web Services Availability Zone of the event. For example, us-east-1a."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "startTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The date and time that the event began."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "endTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The date and time that the event ended."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "lastUpdatedTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The most recent date and time that the event was updated."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "statusCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "open",
                                      "closed",
                                      "upcoming"
                                    ]
                                  },
                                  {
                                    "description": "The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventScopeCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "PUBLIC",
                                      "ACCOUNT_SPECIFIC",
                                      "NONE"
                                    ]
                                  },
                                  {
                                    "description": "<p>This parameter specifies if the Health event is a public Amazon Web Service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "<p>Summary information about an Health event.</p> <p>Health events can be public or account-specific:</p> <ul> <li> <p> <i>Public events</i> might be service events that are not specific to an Amazon Web Services account. For example, if there is an issue with an Amazon Web Services Region, Health provides information about the event, even if you don't use services or resources in that Region.</p> </li> <li> <p> <i>Account-specific</i> events are specific to either your Amazon Web Services account or an account in your organization. For example, if there's an issue with Amazon Elastic Compute Cloud in a Region that you use, Health provides information about the event and the affected resources in the account.</p> </li> </ul> <p>You can determine if an event is public or account-specific by using the <code>eventScopeCode</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode\">eventScopeCode</a>.</p>"
                          }
                        },
                        {
                          "description": "The events that match the specified filter criteria."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
                          "minLength": 4,
                          "maxLength": 10000
                        },
                        {
                          "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InvalidPaginationToken",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "UnsupportedLocale",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "DescribeEventsRequest",
                "properties": {
                  "filter": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "eventArns": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                  "maxLength": 1600
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> "
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "eventTypeCodes": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[^:/]{3,100}",
                                  "minLength": 3,
                                  "maxLength": 100
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\".</code> "
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "services": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[^:/]{2,30}",
                                  "minLength": 2,
                                  "maxLength": 30
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "The Amazon Web Services associated with the event. For example, <code>EC2</code>, <code>RDS</code>."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "regions": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[^:/]{2,25}",
                                  "minLength": 2,
                                  "maxLength": 25
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of Amazon Web Services Regions."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "availabilityZones": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}",
                                  "minLength": 6,
                                  "maxLength": 18
                                }
                              },
                              {
                                "description": "A list of Amazon Web Services Availability Zones."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "startTimes": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "The starting date and time of a time range."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "to": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "The ending date and time of a time range."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "A range of dates and times that is used by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html\">EventFilter</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html\">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>."
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of dates and times that the event began."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "endTimes": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "The starting date and time of a time range."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "to": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "The ending date and time of a time range."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "A range of dates and times that is used by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html\">EventFilter</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html\">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>."
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of dates and times that the event ended."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "lastUpdatedTimes": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "The starting date and time of a time range."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    },
                                    "to": {
                                      "allOf": [
                                        {
                                          "type": "string",
                                          "format": "date-time"
                                        },
                                        {
                                          "description": "The ending date and time of a time range."
                                        }
                                      ],
                                      "_polymorphic_marker": {
                                        "allOf": true
                                      }
                                    }
                                  },
                                  "description": "A range of dates and times that is used by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html\">EventFilter</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html\">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>."
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of dates and times that the event was last updated."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "entityArns": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": ".{0,1600}",
                                  "maxLength": 1600
                                },
                                "minItems": 1,
                                "maxItems": 99
                              },
                              {
                                "description": "A list of entity ARNs (unique identifiers)."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "entityValues": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": ".{0,1224}",
                                  "maxLength": 1224
                                },
                                "minItems": 1,
                                "maxItems": 99
                              },
                              {
                                "description": "A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or EBS volumes (<code>vol-426ab23e</code>)."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "eventTypeCategories": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "issue",
                                    "accountNotification",
                                    "scheduledChange",
                                    "investigation"
                                  ],
                                  "minLength": 3,
                                  "maxLength": 255
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "tags": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "maxProperties": 50,
                                  "additionalProperties": {
                                    "type": "string",
                                    "pattern": ".{0,255}",
                                    "maxLength": 255
                                  }
                                },
                                "maxItems": 50
                              },
                              {
                                "description": "<p>A map of entity tags attached to the affected entity.</p> <note> <p>Currently, the <code>tags</code> property isn't supported.</p> </note>"
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "eventStatusCodes": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "enum": [
                                    "open",
                                    "closed",
                                    "upcoming"
                                  ]
                                },
                                "minItems": 1,
                                "maxItems": 6
                              },
                              {
                                "description": "A list of event status codes."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          }
                        },
                        "description": "The values to use to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html\">DescribeEvents</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventAggregates.html\">DescribeEventAggregates</a> operations."
                      },
                      {
                        "description": "Values to narrow the results returned."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "nextToken": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
                        "minLength": 4,
                        "maxLength": 10000
                      },
                      {
                        "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "maxResults": {
                    "allOf": [
                      {
                        "type": "integer",
                        "minimum": 10,
                        "maximum": 100
                      },
                      {
                        "description": "The maximum number of items to return in one batch, between 10 and 100, inclusive."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  },
                  "locale": {
                    "allOf": [
                      {
                        "type": "string",
                        "pattern": ".{2,256}",
                        "minLength": 2,
                        "maxLength": 256
                      },
                      {
                        "description": "The locale (language) to return information in. English (en) is the default and the only supported value at this time."
                      }
                    ],
                    "_polymorphic_marker": {
                      "allOf": true
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "maxResults",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination limit",
            "required": false
          },
          {
            "name": "nextToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination token",
            "required": false
          },
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "AWSHealth_20160804.DescribeEvents"
              ]
            }
          }
        ]
      },
      "parameters": [
        {
          "name": "X-Amz-Content-Sha256",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Date",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Algorithm",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Credential",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Security-Token",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-Signature",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        },
        {
          "name": "X-Amz-SignedHeaders",
          "in": "header",
          "schema": {
            "type": "string"
          },
          "required": false
        }
      ]
    },
    "/payments/{id}": {
      "post": {
        "operationId": "describeeventsfororganization",
        "description": "<p>Returns information about events across your organization in Organizations. You can use the<code>filters</code> parameter to specify the events that you want to return. Events are returned in a summary form and don't include the affected accounts, detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the following operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedAccountsForOrganization.html\">DescribeAffectedAccountsForOrganization</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\">DescribeEventDetailsForOrganization</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\">DescribeAffectedEntitiesForOrganization</a> </p> </li> </ul> <p>If you don't specify a <code>filter</code>, the <code>DescribeEventsForOrganizations</code> returns all events across your organization. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent event. </p> <p>For more information about the different types of Health events, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p> <p>Before you can call this operation, you must first enable Health to work with Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's management account.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p> </note>",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "allOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "arn": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                    "maxLength": 1600
                                  },
                                  {
                                    "description": "<p>The unique identifier for the event. The event ARN has the <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code> format.</p> <p>For example, an event ARN might look like the following:</p> <p> <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> </p>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "service": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[^:/]{2,30}",
                                    "minLength": 2,
                                    "maxLength": 30
                                  },
                                  {
                                    "description": "The Amazon Web Service that is affected by the event, such as EC2 and RDS."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventTypeCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[a-zA-Z0-9\\_\\-]{3,100}",
                                    "minLength": 3,
                                    "maxLength": 100
                                  },
                                  {
                                    "description": "The unique identifier for the event type. The format is <code>AWS_SERVICE_DESCRIPTION</code>. For example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventTypeCategory": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "issue",
                                      "accountNotification",
                                      "scheduledChange",
                                      "investigation"
                                    ],
                                    "minLength": 3,
                                    "maxLength": 255
                                  },
                                  {
                                    "description": "A list of event type category codes. Possible values are <code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>. Currently, the <code>investigation</code> value isn't supported at this time."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "eventScopeCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "PUBLIC",
                                      "ACCOUNT_SPECIFIC",
                                      "NONE"
                                    ]
                                  },
                                  {
                                    "description": "<p>This parameter specifies if the Health event is a public Amazon Web Service event or an account-specific event.</p> <ul> <li> <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the <code>affectedAccounts</code> value is always empty.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you have Amazon Web Services accounts that use that service, those account IDs appear in the response.</p> </li> <li> <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the <code>eventArn</code> that you specified in the request is invalid or doesn't exist.</p> </li> </ul>"
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "region": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "pattern": "[^:/]{2,25}",
                                    "minLength": 2,
                                    "maxLength": 25
                                  },
                                  {
                                    "description": "The Amazon Web Services Region name of the event."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "startTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The date and time that the event began."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "endTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The date and time that the event ended."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "lastUpdatedTime": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The most recent date and time that the event was updated."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "statusCode": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "enum": [
                                      "open",
                                      "closed",
                                      "upcoming"
                                    ]
                                  },
                                  {
                                    "description": "The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              }
                            },
                            "description": "Summary information about an event, returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventsForOrganization.html\">DescribeEventsForOrganization</a> operation."
                          }
                        },
                        {
                          "description": "The events that match the specified filter criteria."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    },
                    "nextToken": {
                      "allOf": [
                        {
                          "type": "string",
                          "pattern": "[a-zA-Z0-9=/+_.-]{4,10000}",
                          "minLength": 4,
                          "maxLength": 10000
                        },
                        {
                          "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value."
                        }
                      ],
                      "_polymorphic_marker": {
                        "allOf": true
                      }
                    }
                  }
                }
              }
            }
          },
          "480": {
            "description": "InvalidPaginationToken",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "481": {
            "description": "UnsupportedLocale",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "DescribeEventsForOrganizationRequest",
                "properties": {
                  "filter": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "eventTypeCodes": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[^:/]{3,100}",
                                  "minLength": 3,
                                  "maxLength": 100
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\".</code> "
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "awsAccountIds": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "^\\S+$",
                                  "maxLength": 12
                                },
                                "minItems": 1,
                                "maxItems": 50
                              },
                              {
                                "description": "A list of 12-digit Amazon Web Services account numbers that contains the affected entities."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "services": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[^:/]{2,30}",
                                  "minLength": 2,
                                  "maxLength": 30
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "The Amazon Web Services associated with the event. For example, <code>EC2</code>, <code>RDS</code>."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "regions": {
                            "allOf": [
                              {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "pattern": "[^:/]{2,25}",
                                  "minLength": 2,
                                  "maxLength": 25
                                },
                                "minItems": 1,
                                "maxItems": 10
                              },
                              {
                                "description": "A list of Amazon Web Services Regions."
                              }
                            ],
                            "_polymorphic_marker": {
                              "allOf": true
                            }
                          },
                          "startTime": {
                            "type": "object",
                            "properties": {
                              "from": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The starting date and time of a time range."
                                  }
                                ],
                                "_polymorphic_marker": {
                                  "allOf": true
                                }
                              },
                              "to": {
                                "allOf": [
                                  {
                                    "type": "string",
                                    "format": "date-time"
                                  },
                                  {
                                    "description": "The ending date and time of a time range."
                                  }
                                ],
                                "_polymorphic_marker": {
[...]
