{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://ethereum.apidapp.com/1"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "api_dapp"
    },
    "title": "ApiDapp",
    "version": "2019-02-14T16:47:01+00:00",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://i2.wp.com/apidapp.com/wp-content/uploads/2019/03/cropped-ApiDappIcon.png?fit=180%2C180&ssl=1"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://apidapp.s3.amazonaws.com/ApiDapp-Start-swagger-7/ApiDapp-Start-swagger+(7).json",
        "version": "3.0"
      }
    ],
    "x-providerName": "apidapp.com"
  },
  "paths": {
    "/": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-v2"
      },
      "x-amazon-apigateway-any-method": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "x-amazon-apigateway-any-method-v2"
      }
    },
    "/billing/{id}": {
      "get": {
        "description": "Access detailed block information",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-billing-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-billing-id-v2"
      }
    },
    "/account/paymentid": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-account-paymentid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-account-paymentid"
      }
    },
    "/block/id": {
      "get": {
        "description": "Get information about particular block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-id"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-id"
      }
    },
    "/block/paymentid/transaction": {
      "get": {
        "description": "Get transaction count within block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-paymentid-transaction"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-paymentid-transaction"
      }
    },
    "/block/id/transaction/orderid": {
      "get": {
        "description": "Get information about particular transaction within block",
        "parameters": [
          {
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-id-transaction-orderid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Automatically added",
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-id-transaction-orderid-v2"
      }
    },
    "/carts/{id}": {
      "get": {
        "description": "Get a list of supported blockchains",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-carts-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-carts-id-v2"
      }
    },
    "/blockchain/orderid": {
      "get": {
        "description": "Get information about blockchain woth given id",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-blockchain-orderid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-blockchain-orderid"
      }
    },
    "/orders/{id}": {
      "get": {
        "description": "Get API version info",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "get-orders-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-orders-id"
      }
    },
    "/contract/orderid": {
      "get": {
        "description": "Get contract balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-contract-orderid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-contract-orderid-v2"
      },
      "post": {
        "description": "Call the contract",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "post-contract-orderid-v2"
      }
    },
    "/products/{id}": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-products-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-products-id"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-products-id-v2"
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Get token information such as name, total amount in circulation, etc",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-users-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-users-id"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-users-id"
      }
    },
    "/{id}/paymentid": {
      "get": {
        "description": "Get information amout token balance in the account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-id-paymentid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-id-paymentid-v2"
      },
      "post": {
        "description": "Transfer tokens to another account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-id-paymentid-v2"
      }
    },
    "/key/sku": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "delete-key-sku"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-key-sku-v2"
      }
    },
    "/transaction/orderid": {
      "get": {
        "description": "Get information about transaction by the transaction hash value",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-orderid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-orderid-v2"
      }
    },
    "/transaction/orderid/receipt": {
      "get": {
        "description": "Get receipt detail information",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-orderid-receipt"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-orderid-receipt-v2"
      }
    },
    "/profiles/{id}": {
      "get": {
        "description": "Get current account balance",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-profiles-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-profiles-id"
      },
      "post": {
        "description": "Create personal wallet",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-profiles-id"
      }
    },
    "/wallet/account": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account"
      }
    },
    "/wallet/account/id": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account-id"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-id"
      }
    },
    "/wallet/account/id/contract": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-id-contract-v2"
      }
    },
    "/wallet/account/userid/{id}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-userid-id-v2"
      }
    },
    "/wallet/account/userid/pay": {
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-userid-pay-v2"
      },
      "post": {
        "description": "Send payment from the account held within the wallet",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-userid-pay"
      }
    }
  },
  "components": {
    "schemas": {
      "Empty": {
        "title": "Empty Schema",
        "type": "object"
      }
    },
    "securitySchemes": {
      "Key2": {
        "in": "header",
        "name": "X-Api-Key",
        "type": "apiKey",
        "x-amazon-apigateway-authtype": "custom"
      }
    }
  }
}