{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://connect.authentiq.io"
    }
  ],
  "info": {
    "contact": {
      "email": "hello@authentiq.com",
      "name": "Team Authentiq",
      "url": "https://www.authentiq.com/"
    },
    "description": "Authentiq Connect OAuth 2.0 and OpenID Connect API reference.\nLearn about [Authentiq ID](https://www.authentiq.com/) or check out the [Authentiq Connect](https://developers.authentiq.com) developer documentation.\n",
    "termsOfService": "https://www.authentiq.com/terms",
    "title": "Authentiq Connect API",
    "version": "1.0",
    "x-apisguru-categories": [
      "security"
    ],
    "x-logo": {
      "backgroundColor": "#F26641",
      "url": "https://www.authentiq.com/theme/images/authentiq-logo-a-inverse.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://raw.githubusercontent.com/AuthentiqID/authentiq-docs/master/docs/swagger/provider.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "authentiq.io"
  },
  "externalDocs": {
    "description": "Authentiq Developer Docs",
    "url": "https://developers.authentiq.com/"
  },
  "paths": {
    "/carts/{id}": {
      "get": {
        "description": "Use this endpoint to retrieve a user's profile in case you are unable to parse an ID Token or you've not already obtained enough details from the ID Token via the Token Endpoint.\n",
        "externalDocs": {
          "description": "OIDC UserInfo Endpoint",
          "url": "http://openid.net/specs/openid-connect-core-1_0.html#UserInfo"
        },
        "operationId": "userinfo-v2",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "OIDC UserInfo structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "aq:location": {
                      "description": "Geolocation structure",
                      "properties": {
                        "address": {
                          "description": "OIDC Address structure",
                          "properties": {
                            "country": {
                              "type": "string"
                            },
                            "locality": {
                              "type": "string"
                            },
                            "postal_code": {
                              "type": "string"
                            },
                            "region": {
                              "type": "string"
                            },
                            "street_address": {
                              "type": "string"
                            }
                          }
                        },
                        "latitude": {
                          "format": "float",
                          "type": "number"
                        },
                        "longitude": {
                          "format": "float",
                          "type": "number"
                        }
                      }
                    },
                    "email": {
                      "type": "string"
                    },
                    "email_verified": {
                      "type": "boolean"
                    },
                    "family_name": {
                      "type": "string"
                    },
                    "given_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "phone_number": {
                      "type": "string"
                    },
                    "phone_number_verified": {
                      "type": "boolean"
                    },
                    "sub": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              }
            },
            "description": "UserInfo response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          }
        },
        "security": [
          {
            "oauth_code": [
              "oidc",
              "email",
              "phone",
              "address",
              "aq:location",
              "aq:name",
              "aq:push"
            ]
          },
          {
            "oauth_implicit": [
              "oidc",
              "email",
              "phone",
              "address",
              "aq:location",
              "aq:name",
              "aq:push"
            ]
          }
        ],
        "summary": "Retrieve a user profile",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/products/{id}": {
      "get": {
        "description": "Retrieve a list of clients.\n",
        "operationId": "client",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "description": "Client object",
                    "properties": {
                      "application_type": {
                        "type": "string"
                      },
                      "client_id": {
                        "type": "string"
                      },
                      "client_name": {
                        "type": "string"
                      },
                      "client_uri": {
                        "type": "string"
                      },
                      "contacts": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "default_max_age": {
                        "format": "int64",
                        "type": "integer"
                      },
                      "default_scopes": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "grant_types": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "logo_uri": {
                        "type": "string"
                      },
                      "policy_uri": {
                        "type": "string"
                      },
                      "redirect_uris": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "response_types": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "tos_uri": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "client_name",
                      "client_uri"
                    ]
                  },
                  "type": "array"
                }
              }
            },
            "description": "A list of Client Objects."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "List clients",
        "tags": [
          "Client Management"
        ]
      },
      "post": {
        "description": "Register a new client with this Authentiq Connect provider.\n\nThis endpoint is compatible with [OIDC's Client Registration](http://openid.net/specs/openid-connect-registration-1_0.html) extension.\n",
        "externalDocs": {
          "description": "OIDC Client Registration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientRegistration"
        },
        "operationId": "createclient-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            }
          },
          "description": "Client Object",
          "required": true
        },
        "responses": {
          "201": {
            "description": "Client created",
            "headers": {
              "Location": {
                "description": "URL of new client resource",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              }
            },
            "description": "Problem Detail error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "Register a client",
        "tags": [
          "Client Management"
        ]
      }
    },
    "/client/id": {
      "delete": {
        "description": "Delete a previously registered client.\n",
        "externalDocs": {
          "description": "OIDC Client Configuration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
        },
        "operationId": "clientclient-id",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Client deleted"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              }
            },
            "description": "Problem Detail error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "Delete a client",
        "tags": [
          "Client Management"
        ]
      },
      "get": {
        "description": "Retrieve the configuration of a previously registered client.\n",
        "externalDocs": {
          "description": "OIDC Client Configuration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
        },
        "operationId": "getclient-v2",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Client object",
                  "properties": {
                    "application_type": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "client_name": {
                      "type": "string"
                    },
                    "client_uri": {
                      "type": "string"
                    },
                    "contacts": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "default_max_age": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "default_scopes": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "grant_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "logo_uri": {
                      "type": "string"
                    },
                    "policy_uri": {
                      "type": "string"
                    },
                    "redirect_uris": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "response_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "tos_uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "client_name",
                    "client_uri"
                  ]
                }
              }
            },
            "description": "Client found"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "View a client",
        "tags": [
          "Client Management"
        ]
      },
      "put": {
        "description": "Update the configuration of a previously registered client.\n",
        "externalDocs": {
          "description": "OIDC Client Configuration Endpoint",
          "url": "http://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint"
        },
        "operationId": "updateclient",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "description": "Client object",
                "properties": {
                  "application_type": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_name": {
                    "type": "string"
                  },
                  "client_uri": {
                    "type": "string"
                  },
                  "contacts": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "default_max_age": {
                    "format": "int64",
                    "type": "integer"
                  },
                  "default_scopes": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "grant_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "logo_uri": {
                    "type": "string"
                  },
                  "policy_uri": {
                    "type": "string"
                  },
                  "redirect_uris": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "response_types": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "tos_uri": {
                    "type": "string"
                  }
                },
                "required": [
                  "client_name",
                  "client_uri"
                ]
              }
            }
          },
          "description": "Client Object",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Client object",
                  "properties": {
                    "application_type": {
                      "type": "string"
                    },
                    "client_id": {
                      "type": "string"
                    },
                    "client_name": {
                      "type": "string"
                    },
                    "client_uri": {
                      "type": "string"
                    },
                    "contacts": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "default_max_age": {
                      "format": "int64",
                      "type": "integer"
                    },
                    "default_scopes": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "grant_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "logo_uri": {
                      "type": "string"
                    },
                    "policy_uri": {
                      "type": "string"
                    },
                    "redirect_uris": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "response_types": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "tos_uri": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "client_name",
                    "client_uri"
                  ]
                }
              }
            },
            "description": "Client updated"
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "HTTP Problem Detail\n",
                  "properties": {
                    "detail": {
                      "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                      "type": "string"
                    },
                    "status": {
                      "description": "The HTTP status code for this occurrence of the problem.\n",
                      "type": "integer"
                    },
                    "title": {
                      "description": "Human-readable summary of the problem type.\n",
                      "type": "string"
                    },
                    "type": {
                      "default": "about:blank",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "status"
                  ]
                }
              }
            },
            "description": "Problem Detail error response"
          }
        },
        "security": [
          {
            "client_registration_token": []
          },
          {
            "oauth_code": []
          },
          {
            "oauth_implicit": []
          }
        ],
        "summary": "Update a client",
        "tags": [
          "Client Management"
        ]
      }
    },
    "/orders/{id}": {
      "post": {
        "description": "Exchange en authorization code for an ID Token or Access Token.\n\nThis endpoint supports both `client_secret_basic` (default) and `client_secret_basic` authentication methods, as specified by the client's `token_endpoint_auth_method`.\n",
        "externalDocs": {
          "description": "OIDC Token Endpoint",
          "url": "http://openid.net/specs/openid-connect-core-1_0.html#TokenEndpoint"
        },
        "operationId": "token-v2",
        "parameters": [
          {
            "description": "HTTP Basic authorization header.\n",
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "properties": {
                  "client_id": {
                    "description": "The registered client ID.\n",
                    "type": "string"
                  },
                  "client_secret": {
                    "description": "The registered client ID secret.\n",
                    "format": "password",
                    "type": "string"
                  },
                  "code": {
                    "description": "The authorization code previously obtained from the Authentication endpoint.\n",
                    "type": "string"
                  },
                  "grant_type": {
                    "description": "The authorization grant type, must be `authorization_code`.\n",
                    "type": "string"
                  },
                  "redirect_uri": {
                    "description": "The redirect URL that was used previously with the Authentication endpoint.\n",
                    "type": "string"
                  }
                },
                "required": [
                  "client_id",
                  "client_secret",
                  "grant_type",
                  "code",
                  "redirect_uri"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Successful token response\n",
                  "properties": {
                    "access_token": {
                      "description": "The access token issued by the authorization server.",
                      "type": "string"
                    },
                    "expires_at": {
                      "description": "The time the access token will expire in seconds since epoch.",
                      "format": "int64",
                      "type": "integer"
                    },
                    "expires_in": {
                      "description": "The lifetime in seconds of the access token.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "id_token": {
                      "description": "ID Token value associated with the authenticated session.",
                      "type": "string"
                    },
                    "refresh_token": {
                      "description": "The refresh token issued to the client, if any.",
                      "type": "string"
                    },
                    "scope": {
                      "description": "The scope of the granted tokens.",
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token_type"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Successful token response\n",
                  "properties": {
                    "access_token": {
                      "description": "The access token issued by the authorization server.",
                      "type": "string"
                    },
                    "expires_at": {
                      "description": "The time the access token will expire in seconds since epoch.",
                      "format": "int64",
                      "type": "integer"
                    },
                    "expires_in": {
                      "description": "The lifetime in seconds of the access token.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "id_token": {
                      "description": "ID Token value associated with the authenticated session.",
                      "type": "string"
                    },
                    "refresh_token": {
                      "description": "The refresh token issued to the client, if any.",
                      "type": "string"
                    },
                    "scope": {
                      "description": "The scope of the granted tokens.",
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token_type"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Successful token response\n",
                  "properties": {
                    "access_token": {
                      "description": "The access token issued by the authorization server.",
                      "type": "string"
                    },
                    "expires_at": {
                      "description": "The time the access token will expire in seconds since epoch.",
                      "format": "int64",
                      "type": "integer"
                    },
                    "expires_in": {
                      "description": "The lifetime in seconds of the access token.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "id_token": {
                      "description": "ID Token value associated with the authenticated session.",
                      "type": "string"
                    },
                    "refresh_token": {
                      "description": "The refresh token issued to the client, if any.",
                      "type": "string"
                    },
                    "scope": {
                      "description": "The scope of the granted tokens.",
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token_type"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Successful token response\n",
                  "properties": {
                    "access_token": {
                      "description": "The access token issued by the authorization server.",
                      "type": "string"
                    },
                    "expires_at": {
                      "description": "The time the access token will expire in seconds since epoch.",
                      "format": "int64",
                      "type": "integer"
                    },
                    "expires_in": {
                      "description": "The lifetime in seconds of the access token.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "id_token": {
                      "description": "ID Token value associated with the authenticated session.",
                      "type": "string"
                    },
                    "refresh_token": {
                      "description": "The refresh token issued to the client, if any.",
                      "type": "string"
                    },
                    "scope": {
                      "description": "The scope of the granted tokens.",
                      "type": "string"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "token_type"
                  ]
                }
              }
            },
            "description": "Token response"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/problem+json": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              },
              "text/html": {
                "schema": {
                  "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            },
            "description": "OAuth 2.0 error response"
          }
        },
        "summary": "Obtain an ID Token",
        "tags": [
          "Authentication"
        ]
      }
    },
    "/paymentid/iframe": {
      "get": {
        "description": "An OpenID Connect Session Management iframe to facilitate e.g. single sign-on or remote logouts.\n\nThe iframe implements the OIDC postMessage-based [change notification protocol](http://openid.net/specs/openid-connect-session-1_0.html#ChangeNotification) via which a client can receive notifications about session state changes.\n",
        "externalDocs": {
          "description": "OIDC OP Session Management Iframe",
          "url": "http://openid.net/specs/openid-connect-session-1_0.html#OPiframe"
        },
        "operationId": "authorizeiframe",
        "parameters": [
          {
            "description": "Client identifier",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "description": "public, max-age=7200",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "summary": "Include a session iframe",
        "tags": [
          "Session Management"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "client_id": {
        "description": "Client identifier",
        "in": "path",
        "name": "client_id",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Client": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Client object",
              "properties": {
                "application_type": {
                  "type": "string"
                },
                "client_id": {
                  "type": "string"
                },
                "client_name": {
                  "type": "string"
                },
                "client_uri": {
                  "type": "string"
                },
                "contacts": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "default_max_age": {
                  "format": "int64",
                  "type": "integer"
                },
                "default_scopes": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "grant_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "logo_uri": {
                  "type": "string"
                },
                "policy_uri": {
                  "type": "string"
                },
                "redirect_uris": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "response_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "tos_uri": {
                  "type": "string"
                }
              },
              "required": [
                "client_name",
                "client_uri"
              ]
            }
          },
          "multipart/form-data": {
            "schema": {
              "description": "Client object",
              "properties": {
                "application_type": {
                  "type": "string"
                },
                "client_id": {
                  "type": "string"
                },
                "client_name": {
                  "type": "string"
                },
                "client_uri": {
                  "type": "string"
                },
                "contacts": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "default_max_age": {
                  "format": "int64",
                  "type": "integer"
                },
                "default_scopes": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "grant_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "logo_uri": {
                  "type": "string"
                },
                "policy_uri": {
                  "type": "string"
                },
                "redirect_uris": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "response_types": {
                  "items": {
                    "type": "string"
                  },
                  "type": "array"
                },
                "tos_uri": {
                  "type": "string"
                }
              },
              "required": [
                "client_name",
                "client_uri"
              ]
            }
          }
        },
        "description": "Client Object",
        "required": true
      }
    },
    "responses": {
      "OAuth2Error": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "Error Response defined as in Section 5.2 of OAuth 2.0 [RFC6749].\n",
              "properties": {
                "error": {
                  "type": "string"
                },
                "error_description": {
                  "type": "string"
                }
              },
              "required": [
                "error"
              ]
            }
          }
        },
        "description": "OAuth 2.0 error response"
      },
      "ProblemDetail": {
        "content": {
          "application/json": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "HTTP Problem Detail\n",
              "properties": {
                "detail": {
                  "description": "Human-readable explanation specific to this occurrence of the problem.\n",
                  "type": "string"
                },
                "status": {
                  "description": "The HTTP status code for this occurrence of the problem.\n",
                  "type": "integer"
                },
                "title": {
                  "description": "Human-readable summary of the problem type.\n",
                  "type": "string"
                },
                "type": {
                  "default": "about:blank",
                  "type": "string"
                }
              },
              "required": [
                "type",
                "status"
              ]
            }
          }
        },
        "description": "Problem Detail error response"
      },
      "Token": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "Successful token response\n",
              "properties": {
                "access_token": {
                  "description": "The access token issued by the authorization server.",
                  "type": "string"
                },
                "expires_at": {
                  "description": "The time the access token will expire in seconds since epoch.",
                  "format": "int64",
                  "type": "integer"
                },
                "expires_in": {
                  "description": "The lifetime in seconds of the access token.",
                  "format": "int32",
                  "type": "integer"
                },
                "id_token": {
                  "description": "ID Token value associated with the authenticated session.",
                  "type": "string"
                },
                "refresh_token": {
                  "description": "The refresh token issued to the client, if any.",
                  "type": "string"
                },
                "scope": {
                  "description": "The scope of the granted tokens.",
                  "type": "string"
                },
                "token_type": {
                  "type": "string"
                }
              },
              "required": [
                "token_type"
              ]
            }
          }
        },
        "description": "Token response"
      },
      "UserInfo": {
        "content": {
          "application/json": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          },
          "application/problem+json": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          },
          "application/x-www-form-urlencoded": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          },
          "text/html": {
            "schema": {
              "description": "OIDC UserInfo structure",
              "properties": {
                "address": {
                  "description": "OIDC Address structure",
                  "properties": {
                    "country": {
                      "type": "string"
                    },
                    "locality": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "region": {
                      "type": "string"
                    },
                    "street_address": {
                      "type": "string"
                    }
                  }
                },
                "aq:location": {
                  "description": "Geolocation structure",
                  "properties": {
                    "address": {
                      "description": "OIDC Address structure",
                      "properties": {
                        "country": {
                          "type": "string"
                        },
                        "locality": {
                          "type": "string"
                        },
                        "postal_code": {
                          "type": "string"
                        },
                        "region": {
                          "type": "string"
                        },
                        "street_address": {
                          "type": "string"
                        }
                      }
                    },
                    "latitude": {
                      "format": "float",
                      "type": "number"
                    },
                    "longitude": {
                      "format": "float",
                      "type": "number"
                    }
                  }
                },
                "email": {
                  "type": "string"
                },
                "email_verified": {
                  "type": "boolean"
                },
                "family_name": {
                  "type": "string"
                },
                "given_name": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone_number": {
                  "type": "string"
                },
                "phone_number_verified": {
                  "type": "boolean"
                },
                "sub": {
                  "type": "string"
                }
              },
              "required": [
                "sub"
              ]
            }
          }
        },
        "description": "UserInfo response"
      }
    },
    "schemas": {
      "Address": {
        "description": "OIDC Address structure",
        "properties": {
          "country": {
            "type": "string"
          },
          "locality": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "street_address": {
            "type": "string"
          }
        }
      },
      "Client": {
        "description": "Client object",
        "properties": {
          "application_type": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "client_name": {
            "type": "string"
          },
          "client_uri": {
            "type": "string"
          },
          "contacts": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "default_max_age": {
            "format": "int64",
            "type": "integer"
          },
          "default_scopes": {
            "items": {
              "type": "string"
            },
[...]
