{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://ethereum.apidapp.com/1"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "api_dapp"
    },
    "title": "ApiDapp",
    "version": "2019-02-14T16:47:01+00:00",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "url": "https://i2.wp.com/apidapp.com/wp-content/uploads/2019/03/cropped-ApiDappIcon.png?fit=180%2C180&ssl=1"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://apidapp.s3.amazonaws.com/ApiDapp-Start-swagger-7/ApiDapp-Start-swagger+(7).json",
        "version": "3.0"
      }
    ],
    "x-providerName": "apidapp.com"
  },
  "paths": {
    "/": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-v2"
      },
      "x-amazon-apigateway-any-method": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "x-amazon-apigateway-any-method"
      }
    },
    "/users/{id}": {
      "get": {
        "description": "Get current account balance",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-users-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-users-id-v2"
      },
      "post": {
        "description": "Create personal wallet",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-users-id"
      }
    },
    "/account/paymentid": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-account-paymentid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-account-paymentid-v2"
      }
    },
    "/profiles/{id}": {
      "get": {
        "summary": "synthetic diff",
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "operationId": "etic-diff"
      }
    },
    "/billing/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/carts/{id}": {
      "get": {
        "description": "modified get /blockchain",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-carts-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-carts-id"
      }
    },
    "/block/paymentid": {
      "get": {
        "description": "Get information about particular block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-paymentid"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-paymentid-v2"
      }
    },
    "/block/userid/transaction": {
      "get": {
        "description": "Get transaction count within block",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-userid-transaction"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-userid-transaction"
      }
    },
    "/block/sku/transaction/orderid": {
      "get": {
        "description": "modified get /block/{id}/transaction/{index}",
        "parameters": [
          {
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-block-sku-transaction-orderid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Automatically added",
            "in": "path",
            "name": "index",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-block-sku-transaction-orderid"
      }
    },
    "/blockchain/orderid": {
      "get": {
        "description": "modified get /blockchain/{id}",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-blockchain-orderid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-blockchain-orderid"
      }
    },
    "/payments/{id}": {
      "get": {
        "parameters": [
          {
            "in": "query",
            "name": "token",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-payments-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-payments-id"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-payments-id"
      }
    },
    "/contract/paymentid": {
      "get": {
        "description": "Get contract balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-contract-paymentid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-contract-paymentid-v2"
      },
      "post": {
        "description": "Call the contract",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "post-contract-paymentid-v2"
      }
    },
    "/transactions/{id}": {
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transactions-id-v2"
      },
      "x-amazon-apigateway-any-method": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "x-amazon-apigateway-any-method-transactions-id-v2"
      }
    },
    "/orders/{id}": {
      "get": {
        "description": "Get token information such as name, total amount in circulation, etc",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-orders-id"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [],
        "operationId": "options-orders-id"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "parameters": [],
        "operationId": "post-orders-id-v2"
      }
    },
    "/{id}/userid": {
      "get": {
        "description": "Get information amout token balance in the account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-id-userid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-id-userid"
      },
      "post": {
        "description": "Transfer tokens to another account",
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-id-userid"
      }
    },
    "/key/paymentid": {
      "delete": {
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "delete-key-paymentid-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-key-paymentid"
      }
    },
    "/transaction/sku": {
      "get": {
        "description": "Get information about transaction by the transaction hash value",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-sku-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-sku-v2"
      }
    },
    "/transaction/orderid/receipt": {
      "get": {
        "description": "Get receipt detail information",
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Key2": []
          }
        ],
        "operationId": "get-transaction-orderid-receipt"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-transaction-orderid-receipt-v2"
      }
    },
    "/inventory/{id}": {
      "get": {
        "description": "modified get /version",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "parameters": [],
        "operationId": "get-inventory-id-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-inventory-id-v2"
      }
    },
    "/wallet/account": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account-v2"
      },
      "options": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-v2"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-v2"
      }
    },
    "/wallet/account/sku": {
      "get": {
        "description": "Get account balance",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "get-wallet-account-sku-v2"
      },
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-sku-v2"
      }
    },
    "/wallet/account/id/contract": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-id-contract-v2"
      }
    },
    "/wallet/account/userid/{id}": {
      "post": {
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-userid-id-v2"
      }
    },
    "/wallet/account/orderid/pay": {
      "options": {
        "parameters": [
          {
            "description": "Automatically added",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Headers": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Methods": {
                "schema": {
                  "type": "string"
                }
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "operationId": "options-wallet-account-orderid-pay-v2"
      },
      "post": {
        "description": "Send payment from the account held within the wallet",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "title": "Empty Schema",
                  "type": "object"
                }
              }
            },
            "description": "200 response"
          }
        },
        "operationId": "post-wallet-account-orderid-pay"
      }
    }
  },
  "components": {
    "schemas": {
      "Empty": {
        "title": "Empty Schema",
        "type": "object"
      }
    },
    "securitySchemes": {
      "Key2": {
        "in": "header",
        "name": "X-Api-Key",
        "type": "apiKey",
        "x-amazon-apigateway-authtype": "custom"
      }
    }
  }
}