{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://connect.apptigent.com/api/utilities"
    }
  ],
  "info": {
    "contact": {
      "email": "support@apptigent.com",
      "name": "Customer Support",
      "url": "https://www.apptigent.com/help/"
    },
    "description": "Apptigent PowerTools Developer Edition is a powerful suite of API endpoints for custom applications running on any stack. Manipulate text, modify collections, format dates and times, convert currency, perform advanced mathematical calculations, shorten URL's, encode strings, convert text to speech, translate content into multiple languages, process images, and more. PowerTools is the ultimate developer toolkit.",
    "title": "PowerTools Developer",
    "version": "2021.1.01",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-ibm-name": "powertools-developer",
    "x-logo": {
      "url": "https://portal.apptigent.com/sites/portal.apptigent.com/files/api/powertools-developer.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://portal.apptigent.com/sites/portal.apptigent.com/files/v3-powertools-developer-2021-1-01.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "apptigent.com"
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "tags": [
    {
      "description": "Arrays of base values (strings and numbers).",
      "name": "Collections"
    },
    {
      "description": "Data conversion operations.",
      "name": "Data"
    },
    {
      "description": "Date and time operations.",
      "name": "DateTime"
    },
    {
      "description": "Financial calculations and conversions.",
      "name": "Finance"
    },
    {
      "description": "Mathematical calculations and conversions.",
      "name": "Math"
    },
    {
      "description": "String manipulation, parsing, conversion and related operations.",
      "name": "Text"
    },
    {
      "description": "File operations.",
      "name": "Files"
    }
  ],
  "paths": {
    "/products/{id}": {
      "post": {
        "description": "Translate a string into a different language",
        "operationId": "translatestring-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "input": "The brown cow",
                  "language": "German"
                },
                "properties": {
                  "input": {
                    "description": "String containing the text to be translated",
                    "type": "string",
                    "x-ms-summary": "Value"
                  },
                  "language": {
                    "description": "Translation language",
                    "enum": [
                      "Arabic",
                      "Chinese (Simplified)",
                      "Czech",
                      "Danish",
                      "Dutch",
                      "English",
                      "Finnish",
                      "French",
                      "German",
                      "Greek",
                      "Hindi",
                      "Hungarian",
                      "Italian",
                      "Japanese",
                      "Klingon",
                      "Korean",
                      "Norweigan",
                      "Polish",
                      "Portuguese",
                      "Russian",
                      "Spanish",
                      "Swedish",
                      "Turkish",
                      "Vietnamese",
                      "Welsh"
                    ],
                    "type": "string",
                    "x-ms-summary": "Language"
                  }
                },
                "required": [
                  "input",
                  "language"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Translate string",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "translateString"
      }
    },
    "/billing/{id}": {
      "post": {
        "description": "Generate a random number within a specified range",
        "operationId": "randomnumber-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "end": 1000000,
                  "start": 1
                },
                "properties": {
                  "end": {
                    "description": "End of range",
                    "minimum": 0,
                    "type": "number",
                    "x-ms-summary": "End"
                  },
                  "start": {
                    "description": "Start of range",
                    "minimum": 0,
                    "type": "number",
                    "x-ms-summary": "Start"
                  }
                },
                "required": [
                  "end",
                  "start"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": 1
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "number",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Math - Random number",
        "tags": [
          "Math"
        ],
        "x-codegen-request-body-name": "numberRange"
      }
    },
    "/transactions/{id}": {
      "post": {
        "description": "Convert an XML string to a JSON object",
        "operationId": "xmltojson",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "input": "<properties><property1>value</property1></properties>"
                },
                "properties": {
                  "input": {
                    "description": "XML string",
                    "type": "string",
                    "x-ms-summary": "Value"
                  }
                },
                "required": [
                  "input"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Data - XML to JSON",
        "tags": [
          "Data"
        ],
        "x-codegen-request-body-name": "xmlConversionJSON"
      }
    },
    "/profiles/{id}": {
      "post": {
        "description": "Convert date and time from one time zone to another",
        "operationId": "worldtime",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "format": "yyyy-MM-dd HH:mm:ss",
                  "input": "03/10/2010 09:00:00",
                  "source": "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
                  "target": "Central Standard Time - (GMT-06:00) Central Time (US & Canada)"
                },
                "properties": {
                  "format": {
                    "description": "Display format (defaults to 'yyyy-MM-dd HH:mm:ss')",
                    "type": "string",
                    "x-ms-summary": "Format"
                  },
                  "input": {
                    "description": "Source date and time",
                    "type": "string",
                    "x-ms-summary": "Value"
                  },
                  "source": {
                    "default": "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
                    "enum": [
                      "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
                      "Greenwich Standard Time - (GMT) Monrovia, Reykjavik",
                      "W. Europe Standard Time - (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna",
                      "Central Europe Standard Time - (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague",
                      "Central European Standard Time - (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb",
                      "W. Central Africa Standard Time - (GMT+01:00) West Central Africa",
                      "GTB Standard Time - (GMT+02:00) Athens, Bucharest, Istanbul",
                      "Middle East Standard Time - (GMT+02:00) Beirut",
                      "Egypt Standard Time - (GMT+02:00) Cairo",
                      "South Africa Standard Time - (GMT+02:00) Harare, Pretoria",
                      "FLE Standard Time - (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius",
                      "Israel Standard Time - (GMT+02:00) Jerusalem",
                      "E. Europe Standard Time - (GMT+02:00) Minsk",
                      "Namibia Standard Time - (GMT+02:00) Windhoek",
                      "Arabic Standard Time - (GMT+03:00) Baghdad",
                      "Arab Standard Time - (GMT+03:00) Kuwait, Riyadh",
                      "Russian Standard Time - (GMT+03:00) Moscow, St. Petersburg, Volgograd",
                      "E. Africa Standard Time - (GMT+03:00) Nairobi",
                      "Georgian Standard Time - (GMT+03:00) Tbilisi",
                      "Iran Standard Time - (GMT+03:30) Tehran",
                      "Arabian Standard Time - (GMT+04:00) Abu Dhabi, Muscat",
                      "Azerbaijan Standard Time - (GMT+04:00) Baku",
                      "Mauritius Standard Time - (GMT+04:00) Port Louis",
                      "Caucasus Standard Time - (GMT+04:00) Yerevan",
                      "Afghanistan Standard Time - (GMT+04:30) Kabul",
                      "Ekaterinburg Standard Time - (GMT+05:00) Ekaterinburg",
                      "Pakistan Standard Time - (GMT+05:00) Islamabad, Karachi",
                      "West Asia Standard Time - (GMT+05:00) Tashkent",
                      "India Standard Time - (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi",
                      "Sri Lanka Standard Time - (GMT+05:30) Sri Jayawardenepura",
                      "Nepal Standard Time - (GMT+05:45) Kathmandu",
                      "N. Central Asia Standard Time - (GMT+06:00) Almaty, Novosibirsk",
                      "Central Asia Standard Time - (GMT+06:00) Astana, Dhaka",
                      "Myanmar Standard Time - (GMT+06:30) Yangon (Rangoon)",
                      "SE Asia Standard Time - (GMT+07:00) Bangkok, Hanoi, Jakarta",
                      "North Asia Standard Time - (GMT+07:00) Krasnoyarsk",
                      "China Standard Time - (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi",
                      "North Asia East Standard Time - (GMT+08:00) Irkutsk, Ulaan Bataar",
                      "Singapore Standard Time - (GMT+08:00) Kuala Lumpur, Singapore",
                      "W. Australia Standard Time - (GMT+08:00) Perth",
                      "Taipei Standard Time - (GMT+08:00) Taipei",
                      "Tokyo Standard Time - (GMT+09:00) Osaka, Sapporo, Tokyo",
                      "Korea Standard Time - (GMT+09:00) Seoul",
                      "Yakutsk Standard Time - (GMT+09:00) Yakutsk",
                      "Cen. Australia Standard Time - (GMT+09:30) Adelaide",
                      "AUS Central Standard Time - (GMT+09:30) Darwin",
                      "E. Australia Standard Time - (GMT+10:00) Brisbane",
                      "AUS Eastern Standard Time - (GMT+10:00) Canberra, Melbourne, Sydney",
                      "West Pacific Standard Time - (GMT+10:00) Guam, Port Moresby",
                      "Tasmania Standard Time - (GMT+10:00) Hobart",
                      "Vladivostok Standard Time - (GMT+10:00) Vladivostok",
                      "Central Pacific Standard Time - (GMT+11:00) Magadan, Solomon Is., New Caledonia",
                      "New Zealand Standard Time - (GMT+12:00) Auckland, Wellington",
                      "Fiji Standard Time - (GMT+12:00) Fiji, Kamchatka, Marshall Is.",
                      "Tonga Standard Time - (GMT+13:00) Nuku'alofa",
                      "Azores Standard Time - (GMT-01:00) Azores",
                      "Cape Verde Standard Time - (GMT-01:00) Cape Verde Is.",
                      "Mid-Atlantic Standard Time - (GMT-02:00) Mid-Atlantic",
                      "E. South America Standard Time - (GMT-03:00) Brasilia",
                      "Argentina Standard Time - (GMT-03:00) Buenos Aires",
                      "SA Eastern Standard Time - (GMT-03:00) Georgetown",
                      "Greenland Standard Time - (GMT-03:00) Greenland",
                      "Montevideo Standard Time - (GMT-03:00) Montevideo",
                      "Newfoundland Standard Time - (GMT-03:30) Newfoundland",
                      "Atlantic Standard Time - (GMT-04:00) Atlantic Time (Canada)",
                      "SA Western Standard Time - (GMT-04:00) La Paz",
                      "Central Brazilian Standard Time - (GMT-04:00) Manaus",
                      "Pacific SA Standard Time - (GMT-04:00) Santiago",
                      "Venezuela Standard Time - (GMT-04:30) Caracas",
                      "SA Pacific Standard Time - (GMT-05:00) Bogota, Lima, Quito, Rio Branco",
                      "Eastern Standard Time - (GMT-05:00) Eastern Time (US & Canada)",
                      "US Eastern Standard Time - (GMT-05:00) Indiana (East)",
                      "Central America Standard Time - (GMT-06:00) Central America",
                      "Central Standard Time - (GMT-06:00) Central Time (US & Canada)",
                      "Central Standard Time (Mexico) - (GMT-06:00) Guadalajara, Mexico City, Monterrey",
                      "Canada Central Standard Time - (GMT-06:00) Saskatchewan",
                      "US Mountain Standard Time - (GMT-07:00) Arizona",
                      "Mountain Standard Time (Mexico) - (GMT-07:00) Chihuahua, La Paz, Mazatlan",
                      "Mountain Standard Time - (GMT-07:00) Mountain Time (US & Canada)",
                      "Pacific Standard Time - (GMT-08:00) Pacific Time (US & Canada)",
                      "Pacific Standard Time (Mexico) - (GMT-08:00) Tijuana, Baja California",
                      "Alaskan Standard Time - (GMT-09:00) Alaska",
                      "Hawaiian Standard Time - (GMT-10:00) Hawaii",
                      "Samoa Standard Time - (GMT-11:00) Midway Island, Samoa",
                      "Dateline Standard Time - (GMT-12:00) International Date Line West"
                    ],
                    "type": "string",
                    "x-ms-summary": "Source Time Zone"
                  },
                  "target": {
                    "default": "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
                    "enum": [
                      "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
                      "Greenwich Standard Time - (GMT) Monrovia, Reykjavik",
                      "W. Europe Standard Time - (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna",
                      "Central Europe Standard Time - (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague",
                      "Central European Standard Time - (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb",
                      "W. Central Africa Standard Time - (GMT+01:00) West Central Africa",
                      "GTB Standard Time - (GMT+02:00) Athens, Bucharest, Istanbul",
                      "Middle East Standard Time - (GMT+02:00) Beirut",
                      "Egypt Standard Time - (GMT+02:00) Cairo",
                      "South Africa Standard Time - (GMT+02:00) Harare, Pretoria",
                      "FLE Standard Time - (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius",
                      "Israel Standard Time - (GMT+02:00) Jerusalem",
                      "E. Europe Standard Time - (GMT+02:00) Minsk",
                      "Namibia Standard Time - (GMT+02:00) Windhoek",
                      "Arabic Standard Time - (GMT+03:00) Baghdad",
                      "Arab Standard Time - (GMT+03:00) Kuwait, Riyadh",
                      "Russian Standard Time - (GMT+03:00) Moscow, St. Petersburg, Volgograd",
                      "E. Africa Standard Time - (GMT+03:00) Nairobi",
                      "Georgian Standard Time - (GMT+03:00) Tbilisi",
                      "Iran Standard Time - (GMT+03:30) Tehran",
                      "Arabian Standard Time - (GMT+04:00) Abu Dhabi, Muscat",
                      "Azerbaijan Standard Time - (GMT+04:00) Baku",
                      "Mauritius Standard Time - (GMT+04:00) Port Louis",
                      "Caucasus Standard Time - (GMT+04:00) Yerevan",
                      "Afghanistan Standard Time - (GMT+04:30) Kabul",
                      "Ekaterinburg Standard Time - (GMT+05:00) Ekaterinburg",
                      "Pakistan Standard Time - (GMT+05:00) Islamabad, Karachi",
                      "West Asia Standard Time - (GMT+05:00) Tashkent",
                      "India Standard Time - (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi",
                      "Sri Lanka Standard Time - (GMT+05:30) Sri Jayawardenepura",
                      "Nepal Standard Time - (GMT+05:45) Kathmandu",
                      "N. Central Asia Standard Time - (GMT+06:00) Almaty, Novosibirsk",
                      "Central Asia Standard Time - (GMT+06:00) Astana, Dhaka",
                      "Myanmar Standard Time - (GMT+06:30) Yangon (Rangoon)",
                      "SE Asia Standard Time - (GMT+07:00) Bangkok, Hanoi, Jakarta",
                      "North Asia Standard Time - (GMT+07:00) Krasnoyarsk",
                      "China Standard Time - (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi",
                      "North Asia East Standard Time - (GMT+08:00) Irkutsk, Ulaan Bataar",
                      "Singapore Standard Time - (GMT+08:00) Kuala Lumpur, Singapore",
                      "W. Australia Standard Time - (GMT+08:00) Perth",
                      "Taipei Standard Time - (GMT+08:00) Taipei",
                      "Tokyo Standard Time - (GMT+09:00) Osaka, Sapporo, Tokyo",
                      "Korea Standard Time - (GMT+09:00) Seoul",
                      "Yakutsk Standard Time - (GMT+09:00) Yakutsk",
                      "Cen. Australia Standard Time - (GMT+09:30) Adelaide",
                      "AUS Central Standard Time - (GMT+09:30) Darwin",
                      "E. Australia Standard Time - (GMT+10:00) Brisbane",
                      "AUS Eastern Standard Time - (GMT+10:00) Canberra, Melbourne, Sydney",
                      "West Pacific Standard Time - (GMT+10:00) Guam, Port Moresby",
                      "Tasmania Standard Time - (GMT+10:00) Hobart",
                      "Vladivostok Standard Time - (GMT+10:00) Vladivostok",
                      "Central Pacific Standard Time - (GMT+11:00) Magadan, Solomon Is., New Caledonia",
                      "New Zealand Standard Time - (GMT+12:00) Auckland, Wellington",
                      "Fiji Standard Time - (GMT+12:00) Fiji, Kamchatka, Marshall Is.",
                      "Tonga Standard Time - (GMT+13:00) Nuku'alofa",
                      "Azores Standard Time - (GMT-01:00) Azores",
                      "Cape Verde Standard Time - (GMT-01:00) Cape Verde Is.",
                      "Mid-Atlantic Standard Time - (GMT-02:00) Mid-Atlantic",
                      "E. South America Standard Time - (GMT-03:00) Brasilia",
                      "Argentina Standard Time - (GMT-03:00) Buenos Aires",
                      "SA Eastern Standard Time - (GMT-03:00) Georgetown",
                      "Greenland Standard Time - (GMT-03:00) Greenland",
                      "Montevideo Standard Time - (GMT-03:00) Montevideo",
                      "Newfoundland Standard Time - (GMT-03:30) Newfoundland",
                      "Atlantic Standard Time - (GMT-04:00) Atlantic Time (Canada)",
                      "SA Western Standard Time - (GMT-04:00) La Paz",
                      "Central Brazilian Standard Time - (GMT-04:00) Manaus",
                      "Pacific SA Standard Time - (GMT-04:00) Santiago",
                      "Venezuela Standard Time - (GMT-04:30) Caracas",
                      "SA Pacific Standard Time - (GMT-05:00) Bogota, Lima, Quito, Rio Branco",
                      "Eastern Standard Time - (GMT-05:00) Eastern Time (US & Canada)",
                      "US Eastern Standard Time - (GMT-05:00) Indiana (East)",
                      "Central America Standard Time - (GMT-06:00) Central America",
                      "Central Standard Time - (GMT-06:00) Central Time (US & Canada)",
                      "Central Standard Time (Mexico) - (GMT-06:00) Guadalajara, Mexico City, Monterrey",
                      "Canada Central Standard Time - (GMT-06:00) Saskatchewan",
                      "US Mountain Standard Time - (GMT-07:00) Arizona",
                      "Mountain Standard Time (Mexico) - (GMT-07:00) Chihuahua, La Paz, Mazatlan",
                      "Mountain Standard Time - (GMT-07:00) Mountain Time (US & Canada)",
                      "Pacific Standard Time - (GMT-08:00) Pacific Time (US & Canada)",
                      "Pacific Standard Time (Mexico) - (GMT-08:00) Tijuana, Baja California",
                      "Alaskan Standard Time - (GMT-09:00) Alaska",
                      "Hawaiian Standard Time - (GMT-10:00) Hawaii",
                      "Samoa Standard Time - (GMT-11:00) Midway Island, Samoa",
                      "Dateline Standard Time - (GMT-12:00) International Date Line West"
                    ],
                    "type": "string",
                    "x-ms-summary": "Target Time Zone"
                  }
                },
                "required": [
                  "input",
                  "source",
                  "target"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "DateTime - Get world time",
        "tags": [
          "DateTime"
        ],
        "x-codegen-request-body-name": "dateTimeConversion"
      }
    },
    "/shipments/{id}": {
      "post": {
        "description": "Determine if an email address is valid",
        "operationId": "validateemail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "source": "some user @ bademail-com"
                },
                "properties": {
                  "source": {
                    "description": "String variable or text value",
                    "type": "string",
                    "x-ms-summary": "Source"
                  }
                },
                "required": [
                  "source"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Validate email",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "stringInput"
      }
    },
    "/users/{id}": {
      "post": {
        "description": "Convert text to an audio file using AI-driven speech synthesis.",
        "operationId": "texttospeech",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "text": "This is sample text.",
                  "type": "PlainText",
                  "voice": "en-US, Aria (Female)"
                },
                "properties": {
                  "text": {
                    "description": "Text to convert (10,000 characters max)",
                    "type": "string",
                    "x-ms-summary": "Text"
                  },
                  "type": {
                    "default": "PlainText",
                    "description": "Text or file type",
                    "enum": [
                      "PlainText",
                      "SSML"
                    ],
                    "type": "string",
                    "x-ms-summary": "Text or file type"
                  },
                  "voice": {
                    "default": "en-US, Aria (Female)",
                    "description": "Voice locale (must match language of input text)",
                    "enum": [
                      "ar-EG, Hoda (Female)",
                      "ar-SA, Naayf (Male)",
                      "bg-BG, Ivan (Male)",
                      "ca-ES, Herena (Female)",
                      "cs-CZ, Jakub (Male)",
                      "da-DK, Helle (Female)",
                      "de-AT, Michael (Male)",
                      "de-CH, Karsten (Male)",
                      "de-DE, Hedda (Female)",
                      "de-DE, Stefan (Male)",
                      "el-GR, Stefanos (Male)",
                      "en-AU, Catherine (Female)",
                      "en-AU, Hayley (Female)",
                      "en-CA, Heather (Female)",
                      "en-CA, Linda (Female)",
                      "en-GB, George (Male)",
                      "en-GB, Hazel (Female)",
                      "en-GB, Susan (Female)",
                      "en-IE, Sean (Male)",
                      "en-IN, Heera (Female)",
                      "en-IN, Priya (Female)",
                      "en-IN, Ravi (Male)",
                      "en-US, Aria (Female)",
                      "en-US, Benjamin (Male)",
                      "en-US, Guy (Male)",
                      "en-US, Zira (Female)",
                      "es-ES, Helena (Female)",
                      "es-ES, Laura (Female)",
                      "es-ES, Pablo (Male)",
                      "es-MX, Hilda (Female)",
                      "es-MX, Raul (Male)",
                      "fi-FI, Heidi (Female)",
                      "fr-CA, Caroline (Female)",
                      "fr-CA, Harmonie (Female)",
                      "fr-CH, Guillaume (Male)",
                      "fr-FR, Hortense (Female)",
                      "fr-FR, Julie (Female)",
                      "fr-FR, Paul (Male)",
                      "he-IL, Asaf (Male)",
                      "hi-IN, Hemant (Male)",
                      "hi-IN, Kalpana (Female)",
                      "hr-HR, Matej (Male)",
                      "hu-HU, Szabolcs (Male)",
                      "id-ID, Andika (Male)",
                      "it-IT, Cosimo (Male)",
                      "it-IT, Lucia (Female)",
                      "ja-JP, Ayumi (Female)",
                      "ja-JP, Haruka (Female)",
                      "ja-JP, Ichiro (Male)",
                      "ko-KR, Heami (Female)",
                      "ms-MY, Rizwan (Male)",
                      "nb-NO, Hulda (Female)",
                      "nl-NL, Hanna (Female)",
                      "pl-PL, Paulina (Female)",
                      "pt-BR, Daniel (Male)",
                      "pt-BR, Heloisa (Female)",
                      "pt-PT, Helia (Female)",
                      "ro-RO, Andrei (Male)",
                      "ru-RU, Ekaterina (Female)",
                      "ru-RU, Irina (Female)",
                      "ru-RU, Pavel (Male)",
                      "sk-SK, Filip (Male)",
                      "sl-SI, Lado (Male)",
                      "sv-SE, Hedvig (Female)",
                      "ta-IN, Valluvar (Male)",
                      "te-IN, Chitra (Female)",
                      "th-TH, Pattara (Male)",
                      "tr-TR, Seda (Female)",
                      "vi-VN, An (Male)",
                      "zh-CN, Huihui (Female)",
                      "zh-CN, Kangkang (Male)",
                      "zh-CN, Yaoyao (Female)",
                      "zh-HK, Danny (Male)",
                      "zh-HK, Tracy (Female)",
                      "zh-TW, HanHan (Female)",
                      "zh-TW, Yating (Female)",
                      "zh-TW, Zhiwei (Male)"
                    ],
                    "type": "string",
                    "x-ms-summary": "Voice"
                  }
                },
                "required": [
                  "text",
                  "type",
                  "voice"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "audio/mp3": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "audio/mp3": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Text to Speech",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "textToSpeech"
      }
    },
    "/inventory/{id}": {
      "post": {
        "description": "Get current and historical stock price information",
        "operationId": "stockprices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "date": "2020-10-07T00:00:00+00:00",
                  "exchange": "XNYS (New York Stock Exchange)",
                  "symbols": "MMM,CVX"
                },
                "properties": {
                  "date": {
                    "description": "Date (yyyy-MM-dd, leave empty for latest)",
                    "type": "string",
                    "x-ms-summary": "Date"
                  },
                  "exchange": {
                    "description": "Stock exchange",
                    "enum": [
                      "XNYS (New York Stock Exchange)",
                      "XNAS (NASDAQ Stock Exchange)",
                      "XBRU (Euronext Brussels)",
                      "XTSE (Toronto Stock Exchange)",
                      "XCNQ (Candadian Securities Exchange)",
                      "XSHG (Shanghai Stock Exchange)",
                      "XCSE (Copenhagen Stock Exchange)",
                      "XPAR (Euronext Paris)",
                      "XFRA (Deutsche Borse)",
                      "XHKG (Hong Kong Stock Exchange)",
                      "XNSE (National Stock Exchange India)",
                      "XTAE (Tel Aviv Stock Exchange)",
                      "XNGO (Nagoya Stock Exchange)",
                      "XFKA (Fukuoka Stock Exchange)",
                      "XSAP (Sapporo Stock Exchange)",
                      "XMEX (Mexican Stock Exchange)",
                      "XNZE (New Zealand Stock Exchange)",
                      "XLIS (Euronext Lisbon)",
                      "MISX (Moscow Stock Exchange)",
                      "XSES (Singapore Stock Exchange)",
                      "XLON (London Stock Exchange)",
                      "XASE (American Stock Exchange)",
                      "XASX (Australia Stock Exchange)",
                      "XDFM (Dubai Financial Market)",
                      "XBKK (Stock Exchange of Thailand)",
                      "XSWX (SIX Swiss Exchange)",
                      "XSTO (Stockholm Stock Exchange)",
                      "BMEX (Bolsas y Mercados Españoles)",
                      "XJSE (Johannesburg Stock Exchange)"
                    ],
                    "type": "string",
                    "x-ms-summary": "Exchange"
                  },
                  "symbols": {
                    "description": "Stock ticker symbols (comma-separated, max 20)",
                    "type": "string",
                    "x-ms-summary": "Symbols"
                  }
                },
                "required": [
                  "symbols"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": [
                      {
                        "close": 72.7,
                        "date": "2020-10-07T00:00:00+0000",
                        "exchange": "XNYS",
                        "high": 74.32,
                        "last": 72.3,
                        "low": 72.245,
                        "open": 73.84,
                        "symbol": "CVX",
                        "volume": 15151304
                      }
                    ]
                  },
                  "properties": {
                    "result": {
                      "description": "Stock price information",
                      "items": {
                        "properties": {
                          "close": {
                            "description": "Close",
                            "type": "number",
                            "x-ms-summary": "Close"
                          },
                          "date": {
                            "description": "Date",
                            "type": "string",
                            "x-ms-summary": "Date"
                          },
                          "exchange": {
                            "description": "Stock exchange",
                            "type": "string",
                            "x-ms-summary": "Exchange"
                          },
                          "high": {
                            "description": "High",
                            "type": "number",
                            "x-ms-summary": "High"
                          },
                          "low": {
                            "description": "Low",
                            "type": "number",
                            "x-ms-summary": "Low"
                          },
                          "open": {
                            "description": "Open",
                            "type": "number",
                            "x-ms-summary": "Open"
                          },
                          "symbol": {
                            "description": "Ticker symbol",
                            "type": "string",
                            "x-ms-summary": "Symbol"
                          },
                          "volume": {
                            "description": "Volume",
                            "type": "number",
                            "x-ms-summary": "Volume"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array",
                      "x-ms-summary": "Stock price information"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Finance - Stock prices",
        "tags": [
          "Finance"
        ],
        "x-codegen-request-body-name": "stockPrices"
      }
    },
    "/reviews/{id}": {
      "post": {
        "description": "Generate an encoded string from a complex hyperlink",
        "operationId": "urlencode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "source": "The brown cow"
                },
                "properties": {
                  "source": {
                    "description": "String variable or text value",
                    "type": "string",
                    "x-ms-summary": "Source"
                  }
                },
                "required": [
                  "source"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Encode URL",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "stringInput"
      }
    },
    "/carts/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write-v2"
      }
    },
    "/orders/{id}": {
      "post": {
        "description": "Split a string based upon one or more characters",
        "operationId": "splitstring-v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "characters": ",",
                  "input": "The,brown,cow"
                },
                "properties": {
                  "characters": {
                    "description": "One or more characters that will be used to split the text",
                    "type": "string",
                    "x-ms-summary": "Character(s)"
                  },
                  "input": {
                    "description": "Text to split",
                    "type": "string",
                    "x-ms-summary": "Value"
                  }
                },
                "required": [
                  "characters",
                  "input"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      "string"
                    ]
                  },
                  "properties": {
                    "data": {
                      "description": "data",
                      "items": {
                        "type": "string"
                      },
                      "type": "array",
                      "x-ms-summary": "data"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Split string",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "splitString"
      }
    },
    "/payments/{id}": {
      "post": {
        "description": "Verify a hashed value against the original source string",
        "operationId": "verifyhash",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "algorithm": "SHA256",
                  "hash": "a52b8248f023cebd33aeeddda695f60d2561c0c9",
                  "source": "this is a really good test"
                },
                "properties": {
                  "algorithm": {
                    "description": "Hash algorithm",
                    "enum": [
                      "MD5",
                      "SHA1",
                      "SHA256",
                      "SHA384",
                      "SHA512"
                    ],
                    "type": "string",
                    "x-ms-summary": "Algorithm"
                  },
                  "hash": {
                    "description": "Hashed result",
                    "type": "string",
                    "x-ms-summary": "Hash"
                  },
                  "input": {
                    "description": "Original source string",
                    "type": "string",
                    "x-ms-summary": "Input"
                  }
                },
                "required": [
                  "algorithm",
                  "hash",
                  "input"
                ],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": true
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "boolean",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "result": "string"
                  },
                  "properties": {
                    "result": {
                      "description": "Result",
                      "type": "string",
                      "x-ms-summary": "Result"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "ERROR"
          }
        },
        "summary": "Text - Verify hash",
        "tags": [
          "Text"
        ],
        "x-codegen-request-body-name": "verifyHash"
      }
    }
  },
  "components": {
    "schemas": {
      "inputCalculateMinMax": {
        "example": {
          "input": [
            1,
            2,
            3,
            4,
            5
          ],
          "type": "Minimum"
        },
        "properties": {
          "input": {
            "description": "Colllection of values to calculate",
            "items": {
              "type": "number"
            },
            "type": "array",
            "x-ms-summary": "Values"
          },
          "type": {
            "default": "Minimum",
            "description": "Minimum or Maximum",
            "enum": [
              "Minimum",
              "Maximum"
            ],
            "type": "string",
            "x-ms-summary": "Min or Max"
          }
        },
        "required": [
          "input",
          "type"
        ],
        "type": "object"
      },
      "inputCalculateNumber": {
        "example": {
          "decimals": 2,
          "input": 0.195928
        },
        "properties": {
          "decimals": {
            "description": "Round to number of decimal places",
            "minimum": 0,
            "type": "number",
            "x-ms-summary": "Decimal Places"
          },
          "input": {
            "description": "Numeric value to calculate",
            "type": "number",
            "x-ms-summary": "Value"
          }
        },
        "required": [
          "decimals",
          "input"
        ],
        "type": "object"
      },
      "inputCalculateNumbers": {
        "example": {
          "decimals": 2,
          "input": 4,
          "value": 2
        },
        "properties": {
          "decimals": {
            "description": "Round to number of decimal places",
            "minimum": 0,
            "type": "number",
            "x-ms-summary": "Decimal Places"
          },
          "input": {
            "description": "Numeric value",
            "type": "number",
            "x-ms-summary": "Primary Value"
          },
          "value": {
            "description": "Addend, subtrahend, factor, divisor or radicand",
            "type": "number",
            "x-ms-summary": "Secondary Value"
          }
        },
        "required": [
          "decimals",
          "input",
          "value"
        ],
        "type": "object"
      },
      "inputCalculatePower": {
        "example": {
          "decimals": 2,
          "input": 5.53,
          "power": 4
        },
        "properties": {
          "decimals": {
            "description": "Round to number of decimal places",
            "minimum": 0,
            "type": "number",
            "x-ms-summary": "Decimal Places"
          },
          "input": {
            "description": "Number to raise",
            "type": "number",
            "x-ms-summary": "Number"
          },
          "power": {
            "description": "Power",
            "type": "number",
            "x-ms-summary": "Power"
          }
        },
        "required": [
          "decimals",
          "input",
          "power"
        ],
        "type": "object"
      },
      "inputCalculateSeries": {
        "example": {
          "decimals": 2,
          "input": [
            1,
            2,
            3,
            4,
            5
          ]
        },
        "properties": {
          "decimals": {
            "description": "Round to number of decimal places",
            "minimum": 0,
            "type": "number",
            "x-ms-summary": "Decimal Places"
          },
          "input": {
            "description": "Colllection of values to calculate",
            "items": {
              "type": "number"
            },
            "type": "array",
            "x-ms-summary": "Values"
          }
        },
        "required": [
          "decimals",
          "input"
        ],
        "type": "object"
      },
      "inputCaseConversion": {
        "example": {
          "alphacase": "Upper",
          "input": "the brown cow"
        },
        "properties": {
          "alphacase": {
            "description": "Case of conversion result",
            "enum": [
              "Upper",
              "Lower",
              "Title"
            ],
            "type": "string",
            "x-ms-summary": "Case"
          },
          "input": {
            "description": "String containing the text to convert",
            "type": "string",
            "x-ms-summary": "Value"
          }
        },
        "required": [
          "alphacase",
          "input"
        ],
        "type": "object"
      },
      "inputCollectionConversion": {
        "example": {
          "input": [
            "a",
            "b",
            "c",
            "d",
            "e"
          ],
          "name": "Items"
        },
        "properties": {
          "input": {
            "description": "Collection containing strings to convert",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Values"
          },
          "name": {
            "description": "Collection name",
            "type": "string",
            "x-ms-summary": "Name"
          }
        },
        "required": [
          "input",
          "name"
        ],
        "type": "object"
      },
      "inputCollectionConversionXML": {
        "example": {
          "child": "Item",
          "input": [
            "a",
            "b",
            "c",
            "d",
            "e"
          ],
          "root": "Items"
        },
        "properties": {
          "child": {
            "description": "Name of child XML node(s)",
            "type": "string",
            "x-ms-summary": "Child Node Name"
          },
          "input": {
            "description": "Collection containing strings to convert",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Values"
          },
          "root": {
            "description": "Name of root XML node",
            "type": "string",
            "x-ms-summary": "Root Node Name"
          }
        },
        "required": [
          "child",
          "input",
          "root"
        ],
        "type": "object"
      },
      "inputCollectionCount": {
        "example": {
          "input": [
            "a",
            "d",
            "c",
            "b",
            "e"
          ]
        },
        "properties": {
          "input": {
            "description": "Collection of items to count",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Collection"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      },
      "inputCollectionFilter": {
        "example": {
          "input": [
            "the cow",
            "jumped over",
            "the moon"
          ],
          "keywords": "cow,moon",
          "match": "Any"
        },
        "properties": {
          "input": {
            "description": "Collection of strings to filter",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Collection"
          },
          "keywords": {
            "description": "Keywords (separate multiple values with commas)",
            "type": "string",
            "x-ms-summary": "Keywords"
          },
          "match": {
            "default": "Any",
            "description": "Match type",
            "enum": [
              "Any",
              "All",
              "None"
            ],
            "type": "string",
            "x-ms-summary": "Match"
          }
        },
        "required": [
          "input",
          "keywords",
          "match"
        ],
        "type": "object"
      },
      "inputCollectionModify": {
        "example": {
          "index": "0",
          "input": [
            "a",
            "b",
            "c"
          ],
          "item": "d",
          "items": ""
        },
        "properties": {
          "index": {
            "description": "Index position for operation (leave blank to specify end of collection)",
            "type": "string",
            "x-ms-summary": "Index"
          },
          "input": {
            "description": "Collection of values or objects to modify",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Collection"
          },
          "item": {
            "description": "Item (for multiple items, leave blank and use Items)",
            "type": "string",
            "x-ms-summary": "Item"
          },
          "items": {
            "description": "Items (Collection, for a single item leave blank and use Item)",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Items"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      },
      "inputCollectionReplace": {
        "example": {
          "ignoreCase": true,
          "input": [
            "the brown cow",
            "jumped over",
            "the brown dog"
          ],
          "match": "Brown",
          "replacement": "spotted"
        },
        "properties": {
          "ignoreCase": {
            "default": true,
            "description": "Ignore case",
            "enum": [
              true,
              false
            ],
            "type": "string",
            "x-ms-summary": "Ignore case"
          },
          "input": {
            "description": "Collection of strings",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Collection"
          },
          "match": {
            "description": "Match value",
            "type": "string",
            "x-ms-summary": "Match value"
          },
          "replacement": {
            "description": "Replacement value",
            "type": "string",
            "x-ms-summary": "Replacement value"
          }
        },
        "required": [
          "ignoreCase",
          "input",
          "match",
          "replacement"
        ],
        "type": "object"
      },
      "inputCollectionSearch": {
        "example": {
          "ignorecase": true,
          "input": [
            "the",
            "brown",
            "cow "
          ],
          "match": "cow",
          "trim": true
        },
        "properties": {
          "ignorecase": {
            "description": "Ignore case when performing comparison",
            "enum": [
              true,
              false
            ],
            "type": "string",
            "x-ms-summary": "Ignore Case"
          },
          "input": {
            "description": "Collection of strings to search",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Values"
          },
          "match": {
            "description": "Text to match",
            "type": "string",
            "x-ms-summary": "Text"
          },
          "trim": {
            "description": "Trim white space from comparison string",
            "enum": [
              true,
              false
            ],
            "type": "string",
            "x-ms-summary": "Trim"
          }
        },
        "required": [
          "input",
          "match"
        ],
        "type": "object"
      },
      "inputCollectionSearchNumeric": {
        "example": {
          "input": [
            1.25,
            10.5,
            20.75,
            51.25,
            119.6,
            301.25
          ],
          "match": "1.25,",
          "type": "Decimal"
        },
        "properties": {
          "input": {
            "description": "Collection of strings to search",
            "items": {
              "type": "number"
            },
            "type": "array",
            "x-ms-summary": "Values"
          },
          "match": {
            "description": "Number to match",
            "type": "number",
            "x-ms-summary": "Number"
          },
          "type": {
            "default": "Integer",
            "description": "Type of number - integer or decimal",
            "enum": [
              "Integer",
              "Decimal"
            ],
            "type": "string",
            "x-ms-summary": "Number Type"
          }
        },
        "required": [
          "input",
          "match"
        ],
        "type": "object"
      },
      "inputCollectionSort": {
        "example": {
          "input": [
            "a",
            "d",
            "c",
            "b",
            "e"
          ],
          "order": "Ascending"
        },
        "properties": {
          "input": {
            "description": "Collection of strings to sort",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Collection"
          },
          "order": {
            "default": "Ascending",
            "description": "Sort order",
            "enum": [
              "Ascending",
              "Descending"
            ],
            "type": "string",
            "x-ms-summary": "Order"
          }
        },
        "required": [
          "input",
          "order"
        ],
        "type": "object"
      },
      "inputCollectionSplit": {
        "example": {
          "index": "",
          "input": [
            "the cow",
            "jumped over",
            "the moon"
          ],
          "match": "jumped over"
        },
        "properties": {
          "index": {
            "description": "Index location to split (leave empty to use Match value)",
            "type": "string",
            "x-ms-summary": "Index"
          },
          "input": {
            "description": "Collection of items to split",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Collection"
          },
          "match": {
            "description": "String to match (explicit, case-insensitive, leave empty to use Index)",
            "type": "string",
            "x-ms-summary": "Match Value"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      },
      "inputConvertAngle": {
        "example": {
          "input": 16.036844,
          "source": "Arcminute",
          "target": "Arcsecond"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "Arcminute",
              "Arcsecond",
              "Centiradian",
              "Deciradian",
              "Degree",
              "Gradian",
              "Microdegree",
              "Microradian",
              "Millidegree",
              "Milliradian",
              "Nanodegree",
              "Nanoradian",
              "Radian",
              "Revolution"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "Arcminute",
              "Arcsecond",
              "Centiradian",
              "Deciradian",
              "Degree",
              "Gradian",
              "Microdegree",
              "Microradian",
              "Millidegree",
              "Milliradian",
              "Nanodegree",
              "Nanoradian",
              "Radian",
              "Revolution"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertArea": {
        "example": {
          "input": 0.416714,
          "source": "Acre",
          "target": "SquareFoot"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "Acre",
              "Hectare",
              "SquareCentimeter",
              "SquareDecimeter",
              "SquareFoot",
              "SquareInch",
              "SquareKilometer",
              "SquareMeter",
              "SquareMicrometer",
              "SquareMile",
              "SquareMillimeter",
              "SquareYard"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "Acre",
              "Hectare",
              "SquareCentimeter",
              "SquareDecimeter",
              "SquareFoot",
              "SquareInch",
              "SquareKilometer",
              "SquareMeter",
              "SquareMicrometer",
              "SquareMile",
              "SquareMillimeter",
              "SquareYard"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertDistance": {
        "example": {
          "input": 0.525505,
          "source": "Meter",
          "target": "Foot"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "Centimeter",
              "Decimeter",
              "Fathom",
              "Foot",
              "Hectometer",
              "Inch",
              "Kilometer",
              "LightYear",
              "Meter",
              "Micrometer",
              "Mile",
              "Millimeter",
              "Nanometer",
              "NauticalMile",
              "Yard"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "Centimeter",
              "Decimeter",
              "Fathom",
              "Foot",
              "Hectometer",
              "Inch",
              "Kilometer",
              "LightYear",
              "Meter",
              "Micrometer",
              "Mile",
              "Millimeter",
              "Nanometer",
              "NauticalMile",
              "Yard"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertDuration": {
        "example": {
          "input": 0.66375,
          "source": "Day",
          "target": "Hour"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "Day",
              "Hour",
              "Microsecond",
              "Millisecond",
              "Minute",
              "Month",
              "Nanosecond",
              "Second",
              "Week",
              "Year"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "Day",
              "Hour",
              "Microsecond",
              "Millisecond",
              "Minute",
              "Month",
              "Nanosecond",
              "Second",
              "Week",
              "Year"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertEnergy": {
        "example": {
          "input": 0.397155,
          "source": "Calorie",
          "target": "Joule"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "BritishThermalUnit",
              "Calorie",
              "ElectronVolt",
              "FootPound",
              "GigawattHour",
              "Joule",
              "Kilocalorie",
              "Kilojoule",
              "KilowattHour",
              "Megajoule",
              "MegawattHour",
              "TerawattHour",
              "Therm (EU)",
              "Therm (UK)",
              "Therm (US)",
              "WattHour"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "BritishThermalUnit",
              "Calorie",
              "ElectronVolt",
              "FootPound",
              "GigawattHour",
              "Joule",
              "Kilocalorie",
              "Kilojoule",
              "KilowattHour",
              "Megajoule",
              "MegawattHour",
              "TerawattHour",
              "Therm (EU)",
              "Therm (UK)",
              "Therm (US)",
              "WattHour"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertPower": {
        "example": {
          "input": 0.866107,
          "source": "Gigawatt",
          "target": "Kilowatt"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "BritishThermalUnitPerHour",
              "Decawatt",
              "Deciwatt",
              "ElectricalHorsepower",
              "Femtowatt",
              "Gigawatt",
              "HydraulicHorsepower",
              "Kilowatt",
              "MechanicalHorsepower",
              "Megawatt",
              "Microwatt",
              "Milliwatt",
              "Nanowatt",
              "Petawatt",
              "Picowatt",
              "Terawatt",
              "Watt"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "BritishThermalUnitPerHour",
              "Decawatt",
              "Deciwatt",
              "ElectricalHorsepower",
              "Femtowatt",
              "Gigawatt",
              "HydraulicHorsepower",
              "Kilowatt",
              "MechanicalHorsepower",
              "Megawatt",
              "Microwatt",
              "Milliwatt",
              "Nanowatt",
              "Petawatt",
              "Picowatt",
              "Terawatt",
              "Watt"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertSpeed": {
        "example": {
          "input": 0.278054,
          "source": "Knot",
          "target": "MilePerHour"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "CentimeterPerHour",
              "CentimeterPerMinute",
              "CentimeterPerSecond",
              "DecimeterPerMinute",
              "DecimeterPerSecond",
              "FootPerHour",
              "FootPerMinute",
              "FootPerSecond",
              "InchPerHour",
              "InchPerMinute",
              "InchPerSecond",
              "KilometerPerHour",
              "KilometerPerMinute",
              "KilometerPerSecond",
              "Knot",
              "MeterPerHour",
              "MeterPerMinute",
              "MeterPerSecond",
              "MicrometerPerMinute",
              "MicrometerPerSecond",
              "MilePerHour",
              "MillimeterPerHour",
              "MillimeterPerMinute",
              "MillimeterPerSecond",
              "NanometerPerMinute",
              "NanometerPerSecond",
              "YardPerHour",
              "YardPerMinute",
              "YardPerSecond"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "CentimeterPerHour",
              "CentimeterPerMinute",
              "CentimeterPerSecond",
              "DecimeterPerMinute",
              "DecimeterPerSecond",
              "FootPerHour",
              "FootPerMinute",
              "FootPerSecond",
              "InchPerHour",
              "InchPerMinute",
              "InchPerSecond",
              "KilometerPerHour",
              "KilometerPerMinute",
              "KilometerPerSecond",
              "Knot",
              "MeterPerHour",
              "MeterPerMinute",
              "MeterPerSecond",
              "MicrometerPerMinute",
              "MicrometerPerSecond",
              "MilePerHour",
              "MillimeterPerHour",
              "MillimeterPerMinute",
              "MillimeterPerSecond",
              "NanometerPerMinute",
              "NanometerPerSecond",
              "YardPerHour",
              "YardPerMinute",
              "YardPerSecond"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertTemperature": {
        "example": {
          "input": 10,
          "source": "Celsius",
          "target": "Fahrenheit"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "Celsius",
              "Fahrenheit",
              "Newton",
              "Kelvin"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "Celsius",
              "Fahrenheit",
              "Newton",
              "Kelvin"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertVolume": {
        "example": {
          "input": 1.5,
          "source": "CubicFoot",
          "target": "CubicMeter"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "Centiliter",
              "CubicCentimeter",
              "CubicDecimeter",
              "CubicFoot",
              "CubicHectometer",
              "CubicInch",
              "CubicKilometer",
              "CubicMeter",
              "CubicMillimeter",
              "CubicYard",
              "Deciliter",
              "ImperialBeerBarrel",
              "ImperialGallon",
              "ImperialOunce",
              "ImperialPint",
              "Kiloliter",
              "Liter",
              "Microliter",
              "Milliliter",
              "Gallon",
              "Cup",
              "Ounce",
              "Pint",
              "Quart",
              "Tablespoon",
              "Teaspoon"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "Centiliter",
              "CubicCentimeter",
              "CubicDecimeter",
              "CubicFoot",
              "CubicHectometer",
              "CubicInch",
              "CubicKilometer",
              "CubicMeter",
              "CubicMillimeter",
              "CubicYard",
              "Deciliter",
              "ImperialBeerBarrel",
              "ImperialGallon",
              "ImperialOunce",
              "ImperialPint",
              "Kiloliter",
              "Liter",
              "Microliter",
              "Milliliter",
              "Gallon",
              "Cup",
              "Ounce",
              "Pint",
              "Quart",
              "Tablespoon",
              "Teaspoon"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputConvertWeight": {
        "example": {
          "input": 5.7,
          "source": "Gram",
          "target": "Ounce"
        },
        "properties": {
          "input": {
            "type": "number",
            "x-ms-summary": "Measurement value"
          },
          "source": {
            "enum": [
              "Centigram",
              "Decagram",
              "Decigram",
              "Grain",
              "Gram",
              "Hectogram",
              "Kilogram",
              "Microgram",
              "Milligram",
              "Nanogram",
              "Ounce",
              "Pound",
              "Stone",
              "Solar Mass",
              "Earth Mass",
              "Slug",
              "Short Ton",
              "Long Ton",
              "Ton",
              "Megaton",
              "Short Hundredweight",
              "Long Hundredweight"
            ],
            "type": "string",
            "x-ms-summary": "Source measurement"
          },
          "target": {
            "enum": [
              "Centigram",
              "Decagram",
              "Decigram",
              "Grain",
              "Gram",
              "Hectogram",
              "Kilogram",
              "Microgram",
              "Milligram",
              "Nanogram",
              "Ounce",
              "Pound",
              "Stone",
              "Ton"
            ],
            "type": "string",
            "x-ms-summary": "Target measurement"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputCsvConversionJSON": {
        "example": {
          "header": true,
          "input": "Property1,Property2,Property3\r\nvalue,value,value\r\nvalue,value,value"
        },
        "properties": {
          "header": {
            "default": true,
            "description": "Include header row",
            "type": "boolean",
            "x-ms-summary": "Header"
          },
          "input": {
            "description": "CSV string",
            "type": "string",
            "x-ms-summary": "Value"
          }
        },
        "required": [
          "header",
          "input"
        ],
        "type": "object"
      },
      "inputCurrencyConversion": {
        "example": {
          "input": 100.25,
          "source": "USD",
          "target": "CAD"
        },
        "properties": {
          "input": {
            "description": "Amount to convert",
            "type": "number",
            "x-ms-summary": "Value"
          },
          "source": {
            "default": "USD",
            "enum": [
              "USD",
              "AUD",
              "BGN",
              "BRL",
              "CAD",
              "CHF",
              "CNY",
              "CZK",
              "DKK",
              "EUR",
              "GBP",
              "HKD",
              "HRK",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "ISK",
              "JPY",
              "KRW",
              "MXN",
              "MYR",
              "NOK",
              "NZD",
              "PHP",
              "PLN",
              "RON",
              "RUB",
              "SGD",
              "SEK",
              "THB",
              "TRY",
              "ZAR"
            ],
            "type": "string",
            "x-ms-summary": "Source currency"
          },
          "target": {
            "enum": [
              "USD",
              "AUD",
              "BGN",
              "BRL",
              "CAD",
              "CHF",
              "CNY",
              "CZK",
              "DKK",
              "EUR",
              "GBP",
              "HKD",
              "HRK",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "ISK",
              "JPY",
              "KRW",
              "MXN",
              "MYR",
              "NOK",
              "NZD",
              "PHP",
              "PLN",
              "RON",
              "RUB",
              "SGD",
              "SEK",
              "THB",
              "TRY",
              "ZAR"
            ],
            "type": "string",
            "x-ms-summary": "Target currency"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputCurrencyFormat": {
        "example": {
          "input": 10980.79,
          "target": "GBP"
        },
        "properties": {
          "input": {
            "description": "Amount to format",
            "type": "number",
            "x-ms-summary": "Value"
          },
          "target": {
            "enum": [
              "USD",
              "AUD",
              "BGN",
              "BRL",
              "CAD",
              "CHF",
              "CNY",
              "CZK",
              "DKK",
              "EUR",
              "GBP",
              "HKD",
              "HRK",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "ISK",
              "JPY",
              "KRW",
              "MXN",
              "MYR",
              "NOK",
              "NZD",
              "PHP",
              "PLN",
              "RON",
              "RUB",
              "SGD",
              "SEK",
              "THB",
              "TRY",
              "ZAR"
            ],
            "type": "string",
            "x-ms-summary": "Target currency"
          }
        },
        "required": [
          "input",
          "target"
        ],
        "type": "object"
      },
      "inputDataQuery": {
        "example": {
          "input": "{\"properties\": [{\"name\":\"ID\",\"value\":\"1234\"},{\"name\":\"Title\",\"value\":\"Some Title\"}]}",
          "query": "$.properties[?(@.name == \"ID\")].value"
        },
        "properties": {
          "input": {
            "description": "XML or JSON string",
            "type": "string",
            "x-ms-summary": "Value"
          },
          "query": {
            "description": "XPath or JSONPath query",
            "type": "string",
            "x-ms-summary": "Query"
          }
        },
        "required": [
          "input",
          "query"
        ],
        "type": "object"
      },
      "inputDateTimeConversion": {
        "example": {
          "format": "yyyy-MM-dd HH:mm:ss",
          "input": "03/10/2010 09:00:00",
          "source": "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
          "target": "Central Standard Time - (GMT-06:00) Central Time (US & Canada)"
        },
        "properties": {
          "format": {
            "description": "Display format (defaults to 'yyyy-MM-dd HH:mm:ss')",
            "type": "string",
            "x-ms-summary": "Format"
          },
          "input": {
            "description": "Source date and time",
            "type": "string",
            "x-ms-summary": "Value"
          },
          "source": {
            "default": "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
            "enum": [
              "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
              "Greenwich Standard Time - (GMT) Monrovia, Reykjavik",
              "W. Europe Standard Time - (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna",
              "Central Europe Standard Time - (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague",
              "Central European Standard Time - (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb",
              "W. Central Africa Standard Time - (GMT+01:00) West Central Africa",
              "GTB Standard Time - (GMT+02:00) Athens, Bucharest, Istanbul",
              "Middle East Standard Time - (GMT+02:00) Beirut",
              "Egypt Standard Time - (GMT+02:00) Cairo",
              "South Africa Standard Time - (GMT+02:00) Harare, Pretoria",
              "FLE Standard Time - (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius",
              "Israel Standard Time - (GMT+02:00) Jerusalem",
              "E. Europe Standard Time - (GMT+02:00) Minsk",
              "Namibia Standard Time - (GMT+02:00) Windhoek",
              "Arabic Standard Time - (GMT+03:00) Baghdad",
              "Arab Standard Time - (GMT+03:00) Kuwait, Riyadh",
              "Russian Standard Time - (GMT+03:00) Moscow, St. Petersburg, Volgograd",
              "E. Africa Standard Time - (GMT+03:00) Nairobi",
              "Georgian Standard Time - (GMT+03:00) Tbilisi",
              "Iran Standard Time - (GMT+03:30) Tehran",
              "Arabian Standard Time - (GMT+04:00) Abu Dhabi, Muscat",
              "Azerbaijan Standard Time - (GMT+04:00) Baku",
              "Mauritius Standard Time - (GMT+04:00) Port Louis",
              "Caucasus Standard Time - (GMT+04:00) Yerevan",
              "Afghanistan Standard Time - (GMT+04:30) Kabul",
              "Ekaterinburg Standard Time - (GMT+05:00) Ekaterinburg",
              "Pakistan Standard Time - (GMT+05:00) Islamabad, Karachi",
              "West Asia Standard Time - (GMT+05:00) Tashkent",
              "India Standard Time - (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi",
              "Sri Lanka Standard Time - (GMT+05:30) Sri Jayawardenepura",
              "Nepal Standard Time - (GMT+05:45) Kathmandu",
              "N. Central Asia Standard Time - (GMT+06:00) Almaty, Novosibirsk",
              "Central Asia Standard Time - (GMT+06:00) Astana, Dhaka",
              "Myanmar Standard Time - (GMT+06:30) Yangon (Rangoon)",
              "SE Asia Standard Time - (GMT+07:00) Bangkok, Hanoi, Jakarta",
              "North Asia Standard Time - (GMT+07:00) Krasnoyarsk",
              "China Standard Time - (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi",
              "North Asia East Standard Time - (GMT+08:00) Irkutsk, Ulaan Bataar",
              "Singapore Standard Time - (GMT+08:00) Kuala Lumpur, Singapore",
              "W. Australia Standard Time - (GMT+08:00) Perth",
              "Taipei Standard Time - (GMT+08:00) Taipei",
              "Tokyo Standard Time - (GMT+09:00) Osaka, Sapporo, Tokyo",
              "Korea Standard Time - (GMT+09:00) Seoul",
              "Yakutsk Standard Time - (GMT+09:00) Yakutsk",
              "Cen. Australia Standard Time - (GMT+09:30) Adelaide",
              "AUS Central Standard Time - (GMT+09:30) Darwin",
              "E. Australia Standard Time - (GMT+10:00) Brisbane",
              "AUS Eastern Standard Time - (GMT+10:00) Canberra, Melbourne, Sydney",
              "West Pacific Standard Time - (GMT+10:00) Guam, Port Moresby",
              "Tasmania Standard Time - (GMT+10:00) Hobart",
              "Vladivostok Standard Time - (GMT+10:00) Vladivostok",
              "Central Pacific Standard Time - (GMT+11:00) Magadan, Solomon Is., New Caledonia",
              "New Zealand Standard Time - (GMT+12:00) Auckland, Wellington",
              "Fiji Standard Time - (GMT+12:00) Fiji, Kamchatka, Marshall Is.",
              "Tonga Standard Time - (GMT+13:00) Nuku'alofa",
              "Azores Standard Time - (GMT-01:00) Azores",
              "Cape Verde Standard Time - (GMT-01:00) Cape Verde Is.",
              "Mid-Atlantic Standard Time - (GMT-02:00) Mid-Atlantic",
              "E. South America Standard Time - (GMT-03:00) Brasilia",
              "Argentina Standard Time - (GMT-03:00) Buenos Aires",
              "SA Eastern Standard Time - (GMT-03:00) Georgetown",
              "Greenland Standard Time - (GMT-03:00) Greenland",
              "Montevideo Standard Time - (GMT-03:00) Montevideo",
              "Newfoundland Standard Time - (GMT-03:30) Newfoundland",
              "Atlantic Standard Time - (GMT-04:00) Atlantic Time (Canada)",
              "SA Western Standard Time - (GMT-04:00) La Paz",
              "Central Brazilian Standard Time - (GMT-04:00) Manaus",
              "Pacific SA Standard Time - (GMT-04:00) Santiago",
              "Venezuela Standard Time - (GMT-04:30) Caracas",
              "SA Pacific Standard Time - (GMT-05:00) Bogota, Lima, Quito, Rio Branco",
              "Eastern Standard Time - (GMT-05:00) Eastern Time (US & Canada)",
              "US Eastern Standard Time - (GMT-05:00) Indiana (East)",
              "Central America Standard Time - (GMT-06:00) Central America",
              "Central Standard Time - (GMT-06:00) Central Time (US & Canada)",
              "Central Standard Time (Mexico) - (GMT-06:00) Guadalajara, Mexico City, Monterrey",
              "Canada Central Standard Time - (GMT-06:00) Saskatchewan",
              "US Mountain Standard Time - (GMT-07:00) Arizona",
              "Mountain Standard Time (Mexico) - (GMT-07:00) Chihuahua, La Paz, Mazatlan",
              "Mountain Standard Time - (GMT-07:00) Mountain Time (US & Canada)",
              "Pacific Standard Time - (GMT-08:00) Pacific Time (US & Canada)",
              "Pacific Standard Time (Mexico) - (GMT-08:00) Tijuana, Baja California",
              "Alaskan Standard Time - (GMT-09:00) Alaska",
              "Hawaiian Standard Time - (GMT-10:00) Hawaii",
              "Samoa Standard Time - (GMT-11:00) Midway Island, Samoa",
              "Dateline Standard Time - (GMT-12:00) International Date Line West"
            ],
            "type": "string",
            "x-ms-summary": "Source Time Zone"
          },
          "target": {
            "default": "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
            "enum": [
              "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
              "Greenwich Standard Time - (GMT) Monrovia, Reykjavik",
              "W. Europe Standard Time - (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna",
              "Central Europe Standard Time - (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague",
              "Central European Standard Time - (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb",
              "W. Central Africa Standard Time - (GMT+01:00) West Central Africa",
              "GTB Standard Time - (GMT+02:00) Athens, Bucharest, Istanbul",
              "Middle East Standard Time - (GMT+02:00) Beirut",
              "Egypt Standard Time - (GMT+02:00) Cairo",
              "South Africa Standard Time - (GMT+02:00) Harare, Pretoria",
              "FLE Standard Time - (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius",
              "Israel Standard Time - (GMT+02:00) Jerusalem",
              "E. Europe Standard Time - (GMT+02:00) Minsk",
              "Namibia Standard Time - (GMT+02:00) Windhoek",
              "Arabic Standard Time - (GMT+03:00) Baghdad",
              "Arab Standard Time - (GMT+03:00) Kuwait, Riyadh",
              "Russian Standard Time - (GMT+03:00) Moscow, St. Petersburg, Volgograd",
              "E. Africa Standard Time - (GMT+03:00) Nairobi",
              "Georgian Standard Time - (GMT+03:00) Tbilisi",
              "Iran Standard Time - (GMT+03:30) Tehran",
              "Arabian Standard Time - (GMT+04:00) Abu Dhabi, Muscat",
              "Azerbaijan Standard Time - (GMT+04:00) Baku",
              "Mauritius Standard Time - (GMT+04:00) Port Louis",
              "Caucasus Standard Time - (GMT+04:00) Yerevan",
              "Afghanistan Standard Time - (GMT+04:30) Kabul",
              "Ekaterinburg Standard Time - (GMT+05:00) Ekaterinburg",
              "Pakistan Standard Time - (GMT+05:00) Islamabad, Karachi",
              "West Asia Standard Time - (GMT+05:00) Tashkent",
              "India Standard Time - (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi",
              "Sri Lanka Standard Time - (GMT+05:30) Sri Jayawardenepura",
              "Nepal Standard Time - (GMT+05:45) Kathmandu",
              "N. Central Asia Standard Time - (GMT+06:00) Almaty, Novosibirsk",
              "Central Asia Standard Time - (GMT+06:00) Astana, Dhaka",
              "Myanmar Standard Time - (GMT+06:30) Yangon (Rangoon)",
              "SE Asia Standard Time - (GMT+07:00) Bangkok, Hanoi, Jakarta",
              "North Asia Standard Time - (GMT+07:00) Krasnoyarsk",
              "China Standard Time - (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi",
              "North Asia East Standard Time - (GMT+08:00) Irkutsk, Ulaan Bataar",
              "Singapore Standard Time - (GMT+08:00) Kuala Lumpur, Singapore",
              "W. Australia Standard Time - (GMT+08:00) Perth",
              "Taipei Standard Time - (GMT+08:00) Taipei",
              "Tokyo Standard Time - (GMT+09:00) Osaka, Sapporo, Tokyo",
              "Korea Standard Time - (GMT+09:00) Seoul",
              "Yakutsk Standard Time - (GMT+09:00) Yakutsk",
              "Cen. Australia Standard Time - (GMT+09:30) Adelaide",
              "AUS Central Standard Time - (GMT+09:30) Darwin",
              "E. Australia Standard Time - (GMT+10:00) Brisbane",
              "AUS Eastern Standard Time - (GMT+10:00) Canberra, Melbourne, Sydney",
              "West Pacific Standard Time - (GMT+10:00) Guam, Port Moresby",
              "Tasmania Standard Time - (GMT+10:00) Hobart",
              "Vladivostok Standard Time - (GMT+10:00) Vladivostok",
              "Central Pacific Standard Time - (GMT+11:00) Magadan, Solomon Is., New Caledonia",
              "New Zealand Standard Time - (GMT+12:00) Auckland, Wellington",
              "Fiji Standard Time - (GMT+12:00) Fiji, Kamchatka, Marshall Is.",
              "Tonga Standard Time - (GMT+13:00) Nuku'alofa",
              "Azores Standard Time - (GMT-01:00) Azores",
              "Cape Verde Standard Time - (GMT-01:00) Cape Verde Is.",
              "Mid-Atlantic Standard Time - (GMT-02:00) Mid-Atlantic",
              "E. South America Standard Time - (GMT-03:00) Brasilia",
              "Argentina Standard Time - (GMT-03:00) Buenos Aires",
              "SA Eastern Standard Time - (GMT-03:00) Georgetown",
              "Greenland Standard Time - (GMT-03:00) Greenland",
              "Montevideo Standard Time - (GMT-03:00) Montevideo",
              "Newfoundland Standard Time - (GMT-03:30) Newfoundland",
              "Atlantic Standard Time - (GMT-04:00) Atlantic Time (Canada)",
              "SA Western Standard Time - (GMT-04:00) La Paz",
              "Central Brazilian Standard Time - (GMT-04:00) Manaus",
              "Pacific SA Standard Time - (GMT-04:00) Santiago",
              "Venezuela Standard Time - (GMT-04:30) Caracas",
              "SA Pacific Standard Time - (GMT-05:00) Bogota, Lima, Quito, Rio Branco",
              "Eastern Standard Time - (GMT-05:00) Eastern Time (US & Canada)",
              "US Eastern Standard Time - (GMT-05:00) Indiana (East)",
              "Central America Standard Time - (GMT-06:00) Central America",
              "Central Standard Time - (GMT-06:00) Central Time (US & Canada)",
              "Central Standard Time (Mexico) - (GMT-06:00) Guadalajara, Mexico City, Monterrey",
              "Canada Central Standard Time - (GMT-06:00) Saskatchewan",
              "US Mountain Standard Time - (GMT-07:00) Arizona",
              "Mountain Standard Time (Mexico) - (GMT-07:00) Chihuahua, La Paz, Mazatlan",
              "Mountain Standard Time - (GMT-07:00) Mountain Time (US & Canada)",
              "Pacific Standard Time - (GMT-08:00) Pacific Time (US & Canada)",
              "Pacific Standard Time (Mexico) - (GMT-08:00) Tijuana, Baja California",
              "Alaskan Standard Time - (GMT-09:00) Alaska",
              "Hawaiian Standard Time - (GMT-10:00) Hawaii",
              "Samoa Standard Time - (GMT-11:00) Midway Island, Samoa",
              "Dateline Standard Time - (GMT-12:00) International Date Line West"
            ],
            "type": "string",
            "x-ms-summary": "Target Time Zone"
          }
        },
        "required": [
          "input",
          "source",
          "target"
        ],
        "type": "object"
      },
      "inputDateTimeDifference": {
        "example": {
          "dateTime1": "1/1/2010 12:37:19",
          "dateTime2": "3/15/2011 14:27:49"
        },
        "properties": {
          "dateTime1": {
[...]
