{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "The service for managing third party addons.",
    "title": "Azure Addons Resource Provider",
    "version": "2017-05-15",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/addons/resource-manager/Microsoft.Addons/preview/2017-05-15/Addons.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "addons-Addons",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "description": "Client API version.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "CanonicalSupportPlanType": {
      "description": "The Canonical support plan type.",
      "enum": [
        "Essential",
        "Standard",
        "Advanced"
      ],
      "in": "path",
      "name": "planTypeName",
      "required": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "PlanTypeName"
      },
      "x-ms-parameter-location": "method"
    },
    "OperationResultsIdParameter": {
      "description": "The id representing an async operation.",
      "in": "path",
      "name": "operationResultsId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    },
    "SupportProviderName": {
      "description": "The support plan type. For now the only valid type is \"canonical\".",
      "in": "path",
      "name": "providerName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/transactions/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write"
      }
    },
    "/billing/{id}": {
      "post": {
        "summary": "synthetic write",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "on",
                      "off",
                      "maybe"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created"
          },
          "400": {
            "description": "bad"
          }
        },
        "operationId": "etic-write"
      }
    },
    "/subscriptions/userid/providers/microsoft-addons/supportproviders/id/supportplantypes": {
      "get": {
        "description": "modified get /subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/{providerName}/supportPlanTypes",
        "operationId": "canonicalsupportplantypes-get-v2",
        "parameters": [
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The support plan type. For now the only valid type is \"canonical\".",
            "in": "path",
            "name": "providerName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "schema": {}
          },
          {
            "name": "added_69",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "Contains Canonical support plan status information.",
              "items": {
                "properties": {
                  "enabled": {
                    "description": "Whether the support plan is enabled for this subscription.",
                    "type": "boolean"
                  },
                  "supportPlanType": {
                    "description": "Support plan type.",
                    "enum": [
                      "essential",
                      "standard",
                      "advanced"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                      "modelAsString": true,
                      "name": "SupportPlanType"
                    }
                  },
                  "willEmitOneTimeChargeIfReEnabled": {
                    "description": "This indicates that when this support plan is cancelled and then enabled that AddonsRP will emit a one-time charge.",
                    "type": "boolean"
                  },
                  "willEmitOneTimeChargeWhenEnabled": {
                    "description": "This indicates that when this support plan is enabled if AddonsRP will emit a one-time charge.",
                    "type": "boolean"
                  }
                }
              },
              "title": "Canonical Support Plan Status",
              "type": "array"
            }
          },
          "default": {
            "description": "'404' - 'Not Found'.\n'400' - 'Bad Request'",
            "schema": {
              "description": "Error description and code explaining why an operation failed.",
              "properties": {
                "code": {
                  "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                  "maximum": 600,
                  "minimum": 100,
                  "type": "integer"
                },
                "message": {
                  "description": "Description of the error.",
                  "type": "string"
                }
              },
              "required": [
                "message",
                "code"
              ],
              "title": "Error",
              "type": "object"
            }
          }
        },
        "summary": "Returns the Canonical Support Plans.",
        "tags": [
          "CanonicalSupportPlanStatus"
        ],
        "x-ms-examples": {
          "CanonicalSupportPlanTypes_Get": {
            "parameters": {
              "api-version": "2017-05-15",
              "providerName": "Canonical",
              "subscriptionId": "d18d258f-bdba-4de1-8b51-e79d6c181d5e"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "enabled": true,
                    "supportPlanType": "standard",
                    "willEmitOneTimeChargeIfReEnabled": true,
                    "willEmitOneTimeChargeWhenEnabled": false
                  },
                  {
                    "enabled": false,
                    "supportPlanType": "advanced",
                    "willEmitOneTimeChargeIfReEnabled": false,
                    "willEmitOneTimeChargeWhenEnabled": true
                  },
                  {
                    "enabled": false,
                    "supportPlanType": "essential",
                    "willEmitOneTimeChargeIfReEnabled": false,
                    "willEmitOneTimeChargeWhenEnabled": false
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/subscriptions/id/providers/microsoft-addons/supportproviders/sku/supportplantypes/userid": {
      "delete": {
        "description": "modified delete /subscriptions/{subscriptionId}/providers/Microsoft.Addons/supportProviders/{providerName}/supportPlanTypes/{planTypeName}",
        "operationId": "supportplantypes-delete",
        "parameters": [
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string",
            "schema": {}
          },
          {
            "description": "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string",
            "schema": {}
          },
          {
            "description": "The support plan type. For now the only valid type is \"canonical\".",
            "in": "path",
            "name": "providerName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "schema": {
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "description": "The Canonical support plan type.",
            "enum": [
              "Essential",
              "Standard",
              "Advanced"
            ],
            "in": "path",
            "name": "planTypeName",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PlanTypeName"
            },
            "x-ms-parameter-location": "method",
            "schema": {}
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {},
            "schema": {
              "description": "The status of the Canonical support plan.",
              "properties": {
                "id": {
                  "description": "The id of the ARM resource, e.g. \"/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}\".",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the Canonical support plan, i.e. \"essential\", \"standard\" or \"advanced\".",
                  "readOnly": true,
                  "type": "string"
                },
                "properties": {
                  "description": "The properties of the Canonical support plan.",
                  "properties": {
                    "provisioningState": {
                      "description": "The provisioning state of the resource.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Cancelled",
                        "Purchasing",
                        "Downgrading",
                        "Cancelling",
                        "Upgrading"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningState"
                      }
                    }
                  },
                  "type": "object"
                },
                "type": {
                  "description": "Microsoft.Addons/supportProvider",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "required": [
                "properties"
              ],
              "type": "object",
              "x-ms-azure-resource": true
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "description": "Error description and code explaining why an operation failed.",
              "properties": {
                "code": {
                  "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                  "maximum": 600,
                  "minimum": 100,
                  "type": "integer"
                },
                "message": {
                  "description": "Description of the error.",
                  "type": "string"
                }
              },
              "required": [
                "message",
                "code"
              ],
              "title": "Error",
              "type": "object"
            }
          }
        },
        "x-ms-examples": {
          "SupportPlanTypes_Delete": {
            "parameters": {
              "api-version": "2017-05-15",
              "planTypeName": "Standard",
              "providerName": "Canonical",
              "subscriptionId": "d18d258f-bdba-4de1-8b51-e79d6c181d5e"
            },
            "responses": {
              "202": {
                "body": {
                  "id": "subscriptions/d18d258f-bdba-4de1-8b51-e79d6c181d5e/providers/Microsoft.Addons/supportProviders/canonical/supportPlanTypes/Standard",
                  "name": "Standard",
                  "properties": {
                    "provisioningState": "Cancelling"
                  },
                  "type": "Microsoft.Addons/supportProvider"
                }
              },
              "204": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "description": "Returns whether or not the canonical support plan of type {type} is enabled for the subscription.",
        "operationId": "supportplantypes-get",
        "parameters": [
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The support plan type. For now the only valid type is \"canonical\".",
            "in": "path",
            "name": "providerName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The Canonical support plan type.",
            "enum": [
              "Essential",
              "Standard",
              "Advanced"
            ],
            "in": "path",
            "name": "planTypeName",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PlanTypeName"
            },
            "x-ms-parameter-location": "method",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "The status of the Canonical support plan.",
              "properties": {
                "id": {
                  "description": "The id of the ARM resource, e.g. \"/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}\".",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the Canonical support plan, i.e. \"essential\", \"standard\" or \"advanced\".",
                  "readOnly": true,
                  "type": "string"
                },
                "properties": {
                  "description": "The properties of the Canonical support plan.",
                  "properties": {
                    "provisioningState": {
                      "description": "The provisioning state of the resource.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Cancelled",
                        "Purchasing",
                        "Downgrading",
                        "Cancelling",
                        "Upgrading"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningState"
                      }
                    }
                  },
                  "type": "object"
                },
                "type": {
                  "description": "Microsoft.Addons/supportProvider",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "required": [
                "properties"
              ],
              "type": "object",
              "x-ms-azure-resource": true
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "'404' - 'Not Found'.\n'400' - 'Bad Request'",
            "schema": {
              "description": "Error description and code explaining why an operation failed.",
              "properties": {
                "code": {
                  "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                  "maximum": 600,
                  "minimum": 100,
                  "type": "integer"
                },
                "message": {
                  "description": "Description of the error.",
                  "type": "string"
                }
              },
              "required": [
                "message",
                "code"
              ],
              "title": "Error",
              "type": "object"
            }
          }
        },
        "tags": [
          "AddonDetails"
        ],
        "x-ms-examples": {
          "SupportPlanTypes_Get": {
            "parameters": {
              "api-version": "2017-05-15",
              "planTypeName": "Standard",
              "providerName": "Canonical",
              "subscriptionId": "d18d258f-bdba-4de1-8b51-e79d6c181d5e"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "subscriptions/d18d258f-bdba-4de1-8b51-e79d6c181d5e/providers/Microsoft.Addons/supportProviders/canonical/supportPlanTypes/Standard",
                  "name": "Standard",
                  "properties": {
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.Addons/supportProvider"
                }
              },
              "404": {}
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates the Canonical support plan of type {type} for the subscription.",
        "operationId": "supportplantypes-createorupdate",
        "parameters": [
          {
            "description": "Client API version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "Subscription credentials that uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The support plan type. For now the only valid type is \"canonical\".",
            "in": "path",
            "name": "providerName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "The Canonical support plan type.",
            "enum": [
              "Essential",
              "Standard",
              "Advanced"
            ],
            "in": "path",
            "name": "planTypeName",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "PlanTypeName"
            },
            "x-ms-parameter-location": "method",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "The status of the Canonical support plan.",
              "properties": {
                "id": {
                  "description": "The id of the ARM resource, e.g. \"/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}\".",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the Canonical support plan, i.e. \"essential\", \"standard\" or \"advanced\".",
                  "readOnly": true,
                  "type": "string"
                },
                "properties": {
                  "description": "The properties of the Canonical support plan.",
                  "properties": {
                    "provisioningState": {
                      "description": "The provisioning state of the resource.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Cancelled",
                        "Purchasing",
                        "Downgrading",
                        "Cancelling",
                        "Upgrading"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningState"
                      }
                    }
                  },
                  "type": "object"
                },
                "type": {
                  "description": "Microsoft.Addons/supportProvider",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "required": [
                "properties"
              ],
              "type": "object",
              "x-ms-azure-resource": true
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "description": "The status of the Canonical support plan.",
              "properties": {
                "id": {
                  "description": "The id of the ARM resource, e.g. \"/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}\".",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the Canonical support plan, i.e. \"essential\", \"standard\" or \"advanced\".",
                  "readOnly": true,
                  "type": "string"
                },
                "properties": {
                  "description": "The properties of the Canonical support plan.",
                  "properties": {
                    "provisioningState": {
                      "description": "The provisioning state of the resource.",
                      "enum": [
                        "Succeeded",
                        "Failed",
                        "Cancelled",
                        "Purchasing",
                        "Downgrading",
                        "Cancelling",
                        "Upgrading"
                      ],
                      "type": "string",
                      "x-ms-enum": {
                        "modelAsString": true,
                        "name": "ProvisioningState"
                      }
                    }
                  },
                  "type": "object"
                },
                "type": {
                  "description": "Microsoft.Addons/supportProvider",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "required": [
                "properties"
              ],
              "type": "object",
              "x-ms-azure-resource": true
            }
          },
          "404": {
            "description": "Not Found"
          },
          "default": {
            "description": "'404' - 'Not Found'.\n'400' - 'Bad Request'",
            "schema": {
              "description": "Error description and code explaining why an operation failed.",
              "properties": {
                "code": {
                  "description": "Service specific error code which serves as the substatus for the HTTP error code.",
                  "maximum": 600,
                  "minimum": 100,
                  "type": "integer"
                },
                "message": {
                  "description": "Description of the error.",
                  "type": "string"
                }
              },
              "required": [
                "message",
                "code"
              ],
              "title": "Error",
              "type": "object"
            }
          }
        },
        "tags": [
          "AddonDetails"
        ],
        "x-ms-examples": {
          "SupportPlanTypes_CreateOrUpdate": {
            "parameters": {
              "api-version": "2017-05-15",
              "planTypeName": "Standard",
              "providerName": "Canonical",
              "subscriptionId": "d18d258f-bdba-4de1-8b51-e79d6c181d5e"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "subscriptions/d18d258f-bdba-4de1-8b51-e79d6c181d5e/providers/Microsoft.Addons/supportProviders/canonical/supportPlanTypes/Standard",
                  "name": "Standard",
                  "properties": {
                    "provisioningState": "Succeeded"
                  },
                  "type": "Microsoft.Addons/supportProvider"
                }
              },
              "201": {
                "body": {
                  "id": "subscriptions/d18d258f-bdba-4de1-8b51-e79d6c181d5e/providers/Microsoft.Addons/supportProviders/canonical/supportPlanTypes/Standard",
                  "name": "Standard",
                  "properties": {
                    "provisioningState": "Purchasing"
                  },
                  "type": "Microsoft.Addons/supportProvider"
                }
              },
              "404": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "CanonicalSupportPlanProperties": {
      "description": "The properties of the Canonical support plan.",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "enum": [
            "Succeeded",
            "Failed",
            "Cancelled",
            "Purchasing",
            "Downgrading",
            "Cancelling",
            "Upgrading"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ProvisioningState"
          }
        }
      },
      "type": "object"
    },
    "CanonicalSupportPlanResponseEnvelope": {
      "description": "The status of the Canonical support plan.",
      "properties": {
        "id": {
          "description": "The id of the ARM resource, e.g. \"/subscriptions/{id}/providers/Microsoft.Addons/supportProvider/{supportProviderName}/supportPlanTypes/{planTypeName}\".",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "The name of the Canonical support plan, i.e. \"essential\", \"standard\" or \"advanced\".",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "description": "The properties of the Canonical support plan.",
          "properties": {
            "provisioningState": {
              "description": "The provisioning state of the resource.",
              "enum": [
                "Succeeded",
                "Failed",
                "Cancelled",
                "Purchasing",
                "Downgrading",
                "Cancelling",
                "Upgrading"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "ProvisioningState"
              }
            }
          },
          "type": "object"
        },
        "type": {
          "description": "Microsoft.Addons/supportProvider",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "properties"
      ],
      "type": "object",
      "x-ms-azure-resource": true
    },
    "CanonicalSupportPlanStatus": {
      "description": "Contains Canonical support plan status information.",
      "items": {
        "properties": {
          "enabled": {
            "description": "Whether the support plan is enabled for this subscription.",
            "type": "boolean"
          },
          "supportPlanType": {
            "description": "Support plan type.",
            "enum": [
              "essential",
              "standard",
              "advanced"
            ],
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SupportPlanType"
            }
          },
          "willEmitOneTimeChargeIfReEnabled": {
            "description": "This indicates that when this support plan is cancelled and then enabled that AddonsRP will emit a one-time charge.",
            "type": "boolean"
          },
          "willEmitOneTimeChargeWhenEnabled": {
            "description": "This indicates that when this support plan is enabled if AddonsRP will emit a one-time charge.",
            "type": "boolean"
          }
        }
      },
      "title": "Canonical Support Plan Status",
      "type": "array"
    },
    "ErrorDefinition": {
      "description": "Error description and code explaining why an operation failed.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "maximum": 600,
          "minimum": 100,
          "type": "integer"
        },
        "message": {
          "description": "Description of the error.",
          "type": "string"
        }
      },
      "required": [
        "message",
        "code"
      ],
      "title": "Error",
      "type": "object"
    },
    "OperationList": {
      "description": "List of supported operations.",
      "items": {
        "description": "Definition object with the name and properties of an operation.",
        "properties": {
          "display": {
            "description": "Display object with properties of the operation.",
            "properties": {
              "description": {
                "description": "Description of the operation.",
                "type": "string"
              },
              "operation": {
                "description": "Short description of the operation.",
                "type": "string"
              },
              "provider": {
                "description": "Resource provider of the operation.",
                "type": "string"
              },
              "resource": {
                "description": "Resource for the operation.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "name": {
            "description": "Name of the operation.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "type": "array"
    },
    "OperationsDefinition": {
      "description": "Definition object with the name and properties of an operation.",
      "properties": {
        "display": {
          "description": "Display object with properties of the operation.",
          "properties": {
            "description": {
              "description": "Description of the operation.",
              "type": "string"
            },
            "operation": {
              "description": "Short description of the operation.",
              "type": "string"
            },
            "provider": {
              "description": "Resource provider of the operation.",
              "type": "string"
            },
            "resource": {
              "description": "Resource for the operation.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "name": {
          "description": "Name of the operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationsDisplayDefinition": {
      "description": "Display object with properties of the operation.",
      "properties": {
        "description": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "operation": {
          "description": "Short description of the operation.",
          "type": "string"
        },
        "provider": {
          "description": "Resource provider of the operation.",
          "type": "string"
        },
        "resource": {
          "description": "Resource for the operation.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}